# ──────────────────────────────────────────────────────────────────
# AUTOGENERATED — do not edit by hand.
#
# Source of truth: AIsa-team/docs (openapi/*.json).
# Producer:        scripts/consolidate_openapi.py
# Sync workflow:   .github/workflows/sync-openapi.yml
#
# To change this file, edit the per-API spec under
#   https://github.com/AIsa-team/docs/tree/main/openapi
# and merge to main. The sync workflow regenerates and pushes
# the consolidated spec to the website repo on every push.
#
# Direct edits here will be overwritten on the next sync.
# ──────────────────────────────────────────────────────────────────
openapi: 3.1.0
info:
  title: AIsa API
  description: Capability layer for the agentic economy. Models, skills, payments, and deployment — everything AI agents need
    to reason, act, and transact. This spec consolidates all AIsa API endpoints into a single reference.
  version: 1.0.0
  contact:
    name: AIsa
    url: https://aisa.one
    email: developer@aisa.one
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://aisa.one/tos
servers:
- url: https://api.aisa.one/apis/v1
  description: AIsa Data APIs (Bearer auth — register at https://aisa.one)
- url: https://api.aisa.one/apis/v2
  description: 'AIsa Data APIs (x402 pay-per-call) — same surface as /apis/v1, mirrored. No registration; receive HTTP 402
    challenge, settle with stablecoin micropayment. Spec: https://www.x402.org. Open-source gateway implementation: https://github.com/AIsa-team/aisa-proxy'
  x-implementation: https://github.com/AIsa-team/aisa-proxy
- url: https://api.aisa.one/v1
  description: AIsa LLM Inference (OpenAI-compatible, Bearer auth)
security:
- BearerAuth: []
tags:
- name: AI Models
  description: Access 50+ LLMs via OpenAI-compatible, Anthropic, and Google Gemini interfaces
- name: Crypto Data
  description: Cryptocurrency prices, markets, and exchange data via CoinGecko
- name: Financial Data
  description: Stock prices, financials, analyst estimates, SEC filings, and macro data
- name: Image Generation
  description: Generate and edit images using AI models
- name: Prediction Markets
  description: Query prediction markets — Polymarket, Kalshi, and matching markets
- name: Sales Intelligence
  description: B2B contact and company enrichment, search, and outreach via Apollo.io
- name: Scholar Search
  description: Search academic papers and research
- name: Twitter / X
  description: Read, search, and interact with Twitter/X — profiles, tweets, communities, trends, and engagement
- name: Video Generation
  description: Generate videos using AI models (Wan family)
- name: Web & News Search
  description: Search the web and news via Tavily
- name: YouTube Search
  description: Search YouTube videos
paths:
  /services/aigc/video-generation/video-synthesis:
    post:
      summary: Create a video generation task
      description: |-
        Submit an asynchronous video generation task. Returns a `task_id` you then poll via `GET /apis/v1/services/aigc/tasks/{task_id}`.

        **Models.** Four Wan variants are accepted on this single endpoint:

        | Model | Kind | Image input field |
        | --- | --- | --- |
        | `wan2.6-t2v` | text-to-video | _n/a_ |
        | `wan2.6-i2v` | image-to-video | `input.img_url` |
        | `wan2.7-t2v` | text-to-video | _n/a_ |
        | `wan2.7-i2v` | image-to-video | `input.media` ⚠️ *not* `input.img_url` |

        **Header.** `X-DashScope-Async: enable` is required.

        **Body.** `model` and `input.prompt` are always required. For i2v, provide a reference image using the field indicated in the table above — `wan2.6-i2v` uses `input.img_url` (string URL), while `wan2.7-i2v` uses `input.media` (array of URLs).

        Failed tasks (e.g., invalid prompt, missing required field) are **not billed** — the task-status response returns `task_status: "FAILED"` with a `code` and `message`.
      operationId: createVideoSynthesisTask
      tags:
      - Video Generation
      parameters:
      - name: X-DashScope-Async
        in: header
        required: true
        schema:
          type: string
          enum:
          - enable
        description: Must be `enable` to run asynchronously (the only mode currently supported).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - input
              properties:
                model:
                  type: string
                  enum:
                  - wan2.6-t2v
                  - wan2.6-i2v
                  - wan2.7-t2v
                  - wan2.7-i2v
                  description: Video generation model. Use `-t2v` suffix for text-to-video, `-i2v` for image-to-video. **Note
                    the i2v schema difference:** `wan2.6-i2v` takes a reference image via `input.img_url` (string), while
                    `wan2.7-i2v` takes it via `input.media` (array).
                  example: wan2.6-t2v
                input:
                  type: object
                  required:
                  - prompt
                  description: Required body container. `prompt` is always required; image inputs depend on the model (see
                    field descriptions).
                  properties:
                    prompt:
                      type: string
                      description: Text prompt describing the video. Must contain words — empty or whitespace-only prompts
                        fail upstream with `prompt must contain words`.
                    negative_prompt:
                      type: string
                      description: Optional negative prompt.
                    img_url:
                      type: string
                      format: uri
                      description: Reference image URL. **Required** for `wan2.6-i2v`. Ignored by t2v models. **Do NOT use
                        for `wan2.7-i2v`** — that model uses `media` instead.
                    media:
                      type: array
                      items:
                        type: string
                        format: uri
                      description: Reference image URLs as an array. **Required** for `wan2.7-i2v`. Do NOT use `img_url` with
                        `wan2.7-i2v` — the upstream validator rejects submissions without `input.media`.
                    audio_url:
                      type: string
                      format: uri
                      description: Optional reference audio URL.
                parameters:
                  type: object
                  properties:
                    resolution:
                      type: string
                      enum:
                      - 720P
                      - 1080P
                      default: 720P
                    duration:
                      type: integer
                      enum:
                      - 5
                      - 10
                      default: 5
                      description: Video length in seconds.
                    shot_type:
                      type: string
                      enum:
                      - single
                      - multi
                      default: single
                    watermark:
                      type: boolean
                      default: false
                    seed:
                      type: integer
                      minimum: 0
                      maximum: 2147483647
            examples:
              wan26_t2v:
                summary: wan2.6-t2v — text-to-video, 5 s, 720P
                value:
                  model: wan2.6-t2v
                  input:
                    prompt: cinematic close-up, slow push-in, shallow depth of field
                  parameters:
                    resolution: 720P
                    duration: 5
              wan26_i2v:
                summary: wan2.6-i2v — image-to-video (uses img_url)
                value:
                  model: wan2.6-i2v
                  input:
                    prompt: gentle camera orbit, golden hour lighting
                    img_url: https://example.com/reference.jpg
                  parameters:
                    resolution: 1080P
                    duration: 10
              wan27_t2v:
                summary: wan2.7-t2v — text-to-video, newer model
                value:
                  model: wan2.7-t2v
                  input:
                    prompt: wide sweeping shot of a neon cyberpunk skyline at dusk
                  parameters:
                    resolution: 720P
                    duration: 5
              wan27_i2v:
                summary: wan2.7-i2v — image-to-video (uses media ARRAY, not img_url)
                value:
                  model: wan2.7-i2v
                  input:
                    prompt: gentle zoom with parallax, cinematic color grading
                    media:
                    - https://example.com/reference.jpg
                  parameters:
                    resolution: 720P
                    duration: 5
      responses:
        '200':
          description: Task created — poll `/services/aigc/tasks/{task_id}` for progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: Pass this to `GET /services/aigc/tasks/{task_id}`.
                      task_status:
                        type: string
                        enum:
                        - PENDING
                  request_id:
                    type: string
              example:
                output:
                  task_id: b3be072e-cc82-4033-8fb7-0b089846544f
                  task_status: PENDING
                request_id: 8a931b13-c44f-9230-a76b-83487d840060
        '400':
          description: Invalid request body.
        '401':
          description: Missing or invalid AIsa API key.
        '429':
          description: Rate limit hit.
        '500':
          description: |-
            `model not supported` (the model isn't routed through this endpoint) or `input param is required` (body missing `input`).

            Note: for `wan2.7-i2v`, submission **succeeds with HTTP 200** even without the image input — the task later lands in `FAILED` status with `code: "InvalidParameter"` and `message: "Field required: input.media"`.
  /services/aigc/tasks/{task_id}:
    get:
      summary: Get video generation task result
      description: |-
        Poll the status and result of a task created by `POST /apis/v1/services/aigc/video-generation/video-synthesis`. The `task_id` is a **path parameter**, not a query string.

        Suggested polling: every 3–5 seconds, with a hard timeout around 5 minutes.
      operationId: getVideoSynthesisTask
      tags:
      - Video Generation
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 'Task ID returned by the video-synthesis create call. Unknown IDs return `task_status: "UNKNOWN"` (HTTP
          200).'
      responses:
        '200':
          description: Task status response. Always HTTP 200 — inspect `output.task_status` to tell lifecycle states apart.
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: object
                    properties:
                      task_id:
                        type: string
                      task_status:
                        type: string
                        enum:
                        - PENDING
                        - RUNNING
                        - SUCCEEDED
                        - FAILED
                        - CANCELED
                        - UNKNOWN
                      video_url:
                        type: string
                        format: uri
                        description: Present on `SUCCEEDED`. Short-lived URL — download and persist the video before it expires.
                      orig_prompt:
                        type: string
                        description: The original prompt as stored by the upstream provider.
                      submit_time:
                        type: string
                        description: When the task was accepted.
                      scheduled_time:
                        type: string
                        description: When the task was scheduled for execution.
                      end_time:
                        type: string
                        description: When the task reached a terminal state.
                      code:
                        type: string
                        description: 'Present on `FAILED`. Example: `InvalidParameter`.'
                      message:
                        type: string
                        description: Present on `FAILED`. Human-readable failure reason.
                  usage:
                    type: object
                    description: Present on `SUCCEEDED`.
                    properties:
                      input_video_duration:
                        type: integer
                        description: Duration of any input video reference (0 when none).
                      output_video_duration:
                        type: integer
                        description: Duration of the generated video in seconds.
                      duration:
                        type: number
                        description: Total duration used for billing.
                      video_count:
                        type: integer
                        description: Number of videos produced (always 1 today).
                      size:
                        type: string
                        description: Actual dimensions of the generated video, formatted as `WIDTH*HEIGHT` (e.g., `1920*1080`).
                          Note the `*` separator. Present on `wan2.6-*` outputs.
                        example: 1920*1080
                      ratio:
                        type: string
                        description: Aspect ratio of the output (e.g., `16:9`). Present on `wan2.7-t2v` outputs.
                        example: '16:9'
                      SR:
                        type: integer
                        description: Super-resolution output height. `wan2.6-t2v` upscales 720P input to 1080. `wan2.6-i2v`,
                          `wan2.7-t2v`, `wan2.7-i2v` return 720.
                        example: 1080
                  request_id:
                    type: string
              examples:
                succeeded:
                  summary: SUCCEEDED — video_url is populated
                  value:
                    output:
                      task_id: b3be072e-cc82-4033-8fb7-0b089846544f
                      task_status: SUCCEEDED
                      video_url: https://cdn.aisa.one/videos/wan2.6/20260418-abc.mp4
                      orig_prompt: cinematic close-up, slow push-in, shallow depth of field
                      submit_time: '2026-04-18 15:16:01.841'
                      scheduled_time: '2026-04-18 15:16:01.867'
                      end_time: '2026-04-18 15:16:42.512'
                    usage:
                      output_video_duration: 5
                      video_count: 1
                      SR: 720
                    request_id: 8a931b13-c44f-9230-a76b-83487d840060
                failed:
                  summary: FAILED (invalid prompt — not billed)
                  value:
                    output:
                      task_id: b3be072e-cc82-4033-8fb7-0b089846544f
                      task_status: FAILED
                      code: InvalidParameter
                      message: prompt must contain words
                      submit_time: '2026-04-18 15:16:01.841'
                      scheduled_time: '2026-04-18 15:16:01.867'
                      end_time: '2026-04-18 15:16:01.941'
                    request_id: 8a931b13-c44f-9230-a76b-83487d840060
                running:
                  summary: RUNNING (still processing)
                  value:
                    output:
                      task_id: b3be072e-cc82-4033-8fb7-0b089846544f
                      task_status: RUNNING
                    request_id: 8a931b13-c44f-9230-a76b-83487d840060
                unknown:
                  summary: UNKNOWN task_id (still returns HTTP 200)
                  value:
                    output:
                      task_id: bogus-task-id
                      task_status: UNKNOWN
                    request_id: 71b2b0ad-cb6f-9de4-a8bc-a88e4fb72f0e
        '401':
          description: Missing or invalid AIsa API key.
        '500':
          description: '`unsupported uri` — check the path. The correct pattern is `/services/aigc/tasks/{task_id}`, not `/services/aigc/tasks?task_id=`.'
  /financial/analyst-estimates:
    get:
      summary: Analyst Estimates
      description: ''
      operationId: getAnalystEstimates
      parameters:
      - name: ticker
        in: query
        description: The ticker to get analyst estimates for.
        required: true
        schema:
          type: string
      - name: period
        in: query
        description: The period to get analyst estimates for. Use the /analyst-estimates/periods endpoint to get a list of
          available periods. Defaults to 'annual'.
        required: false
        schema:
          type: string
          enum:
          - annual
          - quarterly
      - name: limit
        in: query
        description: The maximum number of estimates to return (max 3 for annual, 12 for quarterly).
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Analyst estimates response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalystEstimatesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/PaymentRequiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      tags:
      - Financial Data
      x-x402:
        path: /apis/v2/financial/analyst-estimates
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/financial/analyst-estimates:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1financial~1analyst-estimates/get'
  /apollo/people/match:
    post:
      summary: People Enrichment
      description: 'Use the People Enrichment endpoint to enrich data for 1 person. To enrich data for up to 10 people with
        a single API call, use the Bulk People Enrichment endpoint instead. Apollo relies on the information you pass via
        the endpoint''s parameters to identify the correct person to enrich. If you provide more information about a person,
        Apollo is more likely to find a match within its database. If you only provide general information, such as a name
        without a domain or email address, you might receive a 200 response, but the response will indicate that no records
        have been enriched. By default, this endpoint does not return personal emails or phone numbers. Use the reveal_personal_emails
        and reveal_phone_number parameters to retrieve emails and phone numbers. You can also use the run_waterfall_email
        and run_waterfall_phone parameters to run waterfall enrichment via this endpoint. gives you broader data coverage
        by checking connected third-party data sources for contact emails and phone numbers. When you call this endpoint and
        include at least one waterfall parameter, Apollo returns an immediate synchronous response with demographic and firmographic
        data, along with a waterfall enrichment request status. Apollo delivers enriched emails and/or phone numbers asynchronously
        to a configured webhook. **Webhook Response Details:** - When using native enrichment for phone number enrichment,
        the webhook response follows: - When passing Waterfall flags, the webhook response follows: **Webhook Requirements:**
        - **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS. - **Rate Limiting:** Ensure your webhook
        endpoint can handle the volume of webhook traffic sent by Apollo. - **Idempotency:** Apollo may retry webhook calls;
        your endpoint should be idempotent to handle duplicate payloads safely. Using this endpoint will consume credits based
        on your account''s pricing plan. If you run waterfall enrichment parameters, your depends on the type of data you
        request (emails and/or phone numbers) and which data source returns enriched data. To view a summary of Apollo''s
        pricing, visit the public pricing page ↗ For detailed information regarding API credit usage, see the API enrichment
        ↗ section on the *About Credits* page (login required).'
      operationId: post_apollo_people_match
      parameters:
      - name: first_name
        in: query
        required: false
        schema:
          type: string
        description: 'The first name of the person. This is typically used in combination with the last_name parameter. Example:
          tim'
      - name: last_name
        in: query
        required: false
        schema:
          type: string
        description: 'The last name of the person. This is typically used in combination with the first_name parameter. Example:
          zheng'
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: 'The full name of the person. This will typically be a first name and last name separated by a space.
          If you use this parameter, you do not need to use the first_name and last_name parameters. Example: tim zheng'
      - name: email
        in: query
        required: false
        schema:
          type: string
        description: 'The email address of the person. Example: example@email.com'
      - name: hashed_email
        in: query
        required: false
        schema:
          type: string
        description: 'The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. Example:
          8d935115b9ff4489f2d1f9249503cadf (MD5) or 97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152 (SHA-256)'
      - name: organization_name
        in: query
        required: false
        schema:
          type: string
        description: 'The name of the person''s employer. This can be the current employer or a previous employer. Example:
          apollo'
      - name: domain
        in: query
        required: false
        schema:
          type: string
        description: 'The domain name for the person''s employer. This can be the current employer or a previous employer.
          Do not include www., the @ symbol, or similar. Example: apollo.io or microsoft.com'
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: 'The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs,
          call the People API Search endpoint and identify the values for person_id. Example: 587cf802f65125cad923a266'
      - name: linkedin_url
        in: query
        required: false
        schema:
          type: string
        description: 'The URL for the person''s LinkedIn profile. Example: http://www.linkedin.com/in/tim-zheng-677ba010'
      - name: run_waterfall_email
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true to enable email waterfall enrichment
      - name: run_waterfall_phone
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true to enable phone waterfall enrichment
      - name: reveal_personal_emails
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true if you want to enrich the person's data with personal emails. This potentially consumes credits
          as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant region,
          Apollo will not reveal their personal email.
      - name: reveal_phone_number
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true if you want to enrich the person's data with all available phone numbers, including mobile
          phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is false.
          If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will asynchronously
          verify phone numbers for you, then send a JSON response that includes only details about the person's phone numbers
          to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.
      - name: webhook_url
        in: query
        required: false
        schema:
          type: string
        description: 'If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do
          not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes
          the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with
          the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to
          the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    type: object
                    description: Response object
                  waterfall:
                    type: object
                    description: Response object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/people/match
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/people/match:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1people~1match/post'
  /apollo/people/bulk_match:
    post:
      summary: Bulk People Enrichment
      description: 'Use the Bulk People Enrichment endpoint to enrich data for up to 10 people with a single API call. To
        enrich data for only 1 person, use the People Enrichment endpoint instead. Apollo relies on the information you pass
        via the endpoint''s parameters to identify the correct people to enrich. When you provide more information, Apollo
        is more likely to find matches within its database. If you only provide general information, such as a name without
        a domain or email address, you might receive a 200 response, but the response will indicate that no records have been
        enriched. The details for each person should be passed as an object with the details[] array. By default, this endpoint
        does not return personal emails or phone numbers. Use the reveal_personal_emails and reveal_phone_number parameters
        to retrieve emails and phone numbers. If you set either of these parameters to true, Apollo will attempt to provide
        emails or phone numbers for all matches. You can use also use the run_waterfall_email and run_waterfall_phone parameters
        to run waterfall enrichment via this endpoint. gives you broader data coverage by checking connected third-party data
        sources for contact emails and phone numbers. When you call this endpoint and include at least one waterfall parameter,
        Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment
        request status. Apollo delivers enriched emails and/or phone numbers asynchronously to a configured webhook. **Webhook
        Response Details:** - When using native enrichment for phone number enrichment, the webhook response follows: - When
        passing Waterfall flags, the webhook response follows: **Webhook Requirements:** - **HTTPS Required:** Your endpoint
        must be publicly accessible over HTTPS. - **Rate Limiting:** Ensure your webhook endpoint can handle the volume of
        webhook traffic sent by Apollo. - **Idempotency:** Apollo may retry webhook calls. Your endpoint should be idempotent
        to handle duplicate payloads safely. Using this endpoint will consume credits based on your account''s pricing plan.
        If you run waterfall enrichment parameters, your depends on the type of data you request (emails and/or phone numbers)
        and which data source returns enriched data. To view a summary of Apollo''s pricing, visit the public pricing page
        ↗ For detailed information regarding API credit usage, see the API enrichment ↗ section on the *About Credits* page
        (login required). This endpoint''s rate limit is throttled to 50% of the People Enrichment endpoint''s per-minute
        rate limit, and is 100% of the hourly and daily rate limits for the same individual endpoint.'
      operationId: post_apollo_people_bulk_match
      parameters:
      - name: run_waterfall_email
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true to enable email waterfall enrichment
      - name: run_waterfall_phone
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true to enable phone waterfall enrichment
      - name: reveal_personal_emails
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true if you want to enrich all matched people with personal emails. This potentially consumes
          credits as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant
          region, Apollo will not reveal their personal email.
      - name: reveal_phone_number
        in: query
        required: false
        schema:
          type: boolean
        description: Set to true if you want to enrich the data of all matched people with all available phone numbers, including
          mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value
          is false. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will
          asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone
          numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.
      - name: webhook_url
        in: query
        required: false
        schema:
          type: string
        description: 'If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do
          not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes
          the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with
          the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to
          the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Response field
                  error_code:
                    type: string
                    description: Response field
                  error_message:
                    type: string
                    description: Response field
                  total_requested_enrichments:
                    type: integer
                    description: Response field
                  unique_enriched_records:
                    type: integer
                    description: Response field
                  missing_records:
                    type: integer
                    description: Response field
                  credits_consumed:
                    type: integer
                    description: Response field
                  matches:
                    type: array
                    items:
                      type: string
                    description: Response array
                  waterfall:
                    type: object
                    description: Response object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                details:
                  type: array
                  items:
                    type: string
                  description: Provide info for each person you want to enrich as an object within this array. Add up to 10
                    people.
              required:
              - details
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/people/bulk_match
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/people/bulk_match:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1people~1bulk_match/post'
  /apollo/organizations/enrich:
    get:
      summary: Organization Enrichment
      description: Use the Oganization Enrichment endpoint to enrich data for 1 company. To enrich data for up to 10 companies
        with a single API call, use the Bulk Organization Enrichment endpoint instead. Calling this endpoint does consume
        credits as part of your Apollo pricing plan . Enriched data potentially includes industry information, revenue, employee
        counts, funding round details, and corporate phone numbers and locations. Calling this endpoint does consume credits
        as part of your Apollo pricing plan .
      operationId: get_apollo_organizations_enrich
      parameters:
      - name: domain
        in: query
        required: true
        schema:
          type: string
        description: 'The domain of the company that you want to enrich. Do not include www., the @ symbol, or similar. Example:
          apollo.io or microsoft.com'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    description: Response object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/organizations/enrich
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/organizations/enrich:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1apollo~1organizations~1enrich/get'
  /apollo/organizations/bulk_enrich:
    post:
      summary: Bulk Organization Enrichment
      description: Use the Bulk Organization Enrichment endpoint to enrich data for up to 10 companies with a single API call.
        To enrich data for only 1 company, use the Organization Enrichment endpoint instead. Enriched data potentially includes
        industry information, revenue, employee counts, funding round details, and corporate phone numbers and locations.
        Calling this endpoint does consume credits as part of your Apollo pricing plan . This endpoint's rate limit is throttled
        to 50% of the Organization Enrichment endpoint's per-minute rate limit, and is 100% of the hourly and daily rate limits
        for the same individual endpoint.
      operationId: post_apollo_organizations_bulk_enrich
      parameters:
      - name: domains[]
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 'The domain of each company that you want to enrich. Do not include www., the @ symbol, or similar. Example:
          apollo.io and microsoft.com'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Response field
                  error_code:
                    type: string
                    description: Response field
                  error_message:
                    type: string
                    description: Response field
                  total_requested_domains:
                    type: integer
                    description: Response field
                  unique_domains:
                    type: integer
                    description: Response field
                  unique_enriched_records:
                    type: integer
                    description: Response field
                  missing_records:
                    type: integer
                    description: Response field
                  organizations:
                    type: array
                    items:
                      type: string
                    description: Response array
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/organizations/bulk_enrich
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/organizations/bulk_enrich:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1organizations~1bulk_enrich/post'
  /apollo/mixed_people/api_search:
    post:
      summary: People API Search
      description: Use the People API Search endpoint to find net new people in the Apollo database. Several filters are available
        to help narrow your search. This endpoint is optimized for API usage and does not consume credits. This endpoint is
        primarily designed for prospecting net new people. This endpoint does not return email addresses or phone numbers.
        Use the People Enrichment or Bulk People Enrichment endpoints to enrich data. This endpoint requires a master API
        key. Refer to Create API Keys to learn how to create a master API key. To protect Apollo's performance for all users,
        this endpoint has a display limit of 50,000 records (100 records per page, up to 500 pages). Add more filters to narrow
        your search results as much as possible. This limitation does not restrict your access to Apollo's database; you just
        need to access the data in batches.
      operationId: post_apollo_mixed_people_api_search
      parameters:
      - name: person_titles[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Job titles held by the people you want to find. For a person to be included in search results, they
          only need to match 1 of the job titles you add. Adding more job titles expands your search results. Results also
          include job titles with the same terms, even if they are not exact matches. For example, searching for marketing
          manager might return people with the job title content marketing manager. Use this parameter in combination with
          the person_seniorities[] parameter to find people based on specific job functions and seniority levels. Examples:
          sales development representative; marketing manager; research analyst'
      - name: include_similar_titles
        in: query
        required: false
        schema:
          type: boolean
        description: This parameter determines whether people with job titles similar to the titles you define in the person_titles[]
          parameter are returned in the response. Set this parameter to false when using person_titles[] to return only strict
          matches for job titles.
      - name: q_keywords
        in: query
        required: false
        schema:
          type: string
        description: A string of words over which we want to filter the results.
      - name: person_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The location where people live. You can search across cities, US states, and countries. To find people
          based on the headquarters locations of their current employer, use the organization_locations parameter. Examples:
          california; ireland; chicago'
      - name: person_seniorities[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The job seniority that people hold within their current employer. This enables you to find people that
          currently hold positions at certain reporting levels, such as Director level or senior IC level. For a person to
          be included in search results, they only need to match 1 of the seniorities you add. Adding more seniorities expands
          your search results. Searches only return results based on their current job title, so searching for Director-level
          employees only returns people that currently hold a Director-level title. If someone was previously a Director,
          but is currently a VP, they would not be included in your search results. Use this parameter in combination with
          the person_titles[] parameter to find people based on specific job functions and seniority levels. The following
          options can be used for this parameter: owner founder c_suite partner vp head director manager senior entry intern'
      - name: organization_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The location of the company headquarters for a person''s current employer. You can search across cities,
          US states, and countries. If a company has several office locations, results are still based on the headquarters
          location. For example, if you search chicago but a company''s HQ location is in boston, people that work for the
          Boston-based company will not appear in your results, even if they match other parameters. To find people based
          on their personal location, use the person_locations parameter. Examples: texas; tokyo; spain'
      - name: q_organization_domains_list[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The domain name for the person''s employer. This can be the current employer or a previous employer.
          Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples:
          apollo.io; microsoft.com'
      - name: contact_email_status[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The email statuses for the people you want to find. You can add multiple statuses to expand your search.
          The statuses you can search include: verified unverified likely to engage unavailable'
      - name: organization_ids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The Apollo IDs for the companies (employers) you want to include in your search results. Each company
          in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify
          the values for organization_id. Example: 5e66b6381e05b4008c8331b8'
      - name: organization_num_employees_ranges[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The number range of employees working for the person''s current company. This enables you to find people
          based on the headcount of their employer. You can add multiple ranges to expand your search results. Each range
          you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples:
          1,10; 250,500; 10000,20000'
      - name: revenue_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'The minimum revenue the person''s current employer generates. Use this parameter in combination with
          revenue_range[max] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure.
          Examples: 500000; 1500000'
      - name: revenue_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum revenue the person''s current employer generates. Use this parameter in combination with
          revenue_range[min] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure.
          Examples: 500000; 1500000'
      - name: currently_using_all_of_technology_uids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Find people based on all of the technologies their current employer uses. Apollo supports filtering
          by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly.
          Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace
          spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org'
      - name: currently_using_any_of_technology_uids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Find people based on any of the technologies their current employer uses. Apollo supports filtering
          by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly.
          Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace
          spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org'
      - name: currently_not_using_any_of_technology_uids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Exclude people from your search based on any of the technologies their current employer uses. Apollo
          supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data
          is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores
          (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics;
          wordpress_org'
      - name: q_organization_job_titles[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The job titles that are listed in active job postings at the person''s current employer. Examples: sales
          manager; research analyst'
      - name: organization_job_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The locations of the jobs being actively recruited by the person''s employer. Examples: atlanta; japan'
      - name: organization_num_jobs_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'The minimum number of job postings active at the person''s current employer. Use this parameter in combination
          with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500'
      - name: organization_num_jobs_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum number of job postings active at the person''s current employer. Use this parameter in combination
          with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500'
      - name: organization_job_posted_at_range[min]
        in: query
        required: false
        schema:
          type: string
        description: 'The earliest date when jobs were posted by the person''s current employer. Use this parameter in combination
          with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25'
      - name: organization_job_posted_at_range[max]
        in: query
        required: false
        schema:
          type: string
        description: 'The latest date when jobs were posted by the person''s current employer. Use this parameter in combination
          with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'The page number of the Apollo data that you want to retrieve. Use this parameter in combination with
          the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example:
          4'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'The number of search results that should be returned for each page. Limiting the number of results per
          page improves the endpoint''s performance. Use the page parameter to search the different pages of data. Example:
          10'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_entries:
                    type: integer
                    description: Response field
                  people:
                    type: array
                    items:
                      type: string
                    description: Response array
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/mixed_people/api_search
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/mixed_people/api_search:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1mixed_people~1api_search/post'
  /apollo/mixed_companies/search:
    post:
      summary: Organization Search
      description: Use the Organization Search endpoint to find companies in the Apollo database. Several filters are available
        to help narrow your search. Calling this endpoint does consume credits as part of your Apollo pricing plan . To protect
        Apollo's performance for all users, this endpoint has a display limit of 50,000 records (100 records per page, up
        to 500 pages). Add more filters to narrow your search results as much as possible. This limitation does not restrict
        your access to Apollo's database; you just need to access the data in batches.
      operationId: post_apollo_mixed_companies_search
      parameters:
      - name: q_organization_domains_list[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The domain name for the person''s employer. This can be the current employer or a previous employer.
          Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples:
          apollo.io; microsoft.com'
      - name: organization_num_employees_ranges[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The number range of employees working for the company. This enables you to find companies based on headcount.
          You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper
          and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000'
      - name: organization_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The location of the company headquarters. You can search across cities, US states, and countries. If
          a company has several office locations, results are still based on the headquarters location. For example, if you
          search chicago but a company''s HQ location is in boston, any Boston-based companies will not appearch in your search
          results, even if they match other parameters.. To exclude companies based on location, use the organization_not_locations
          parameter. Examples: texas; tokyo; spain'
      - name: organization_not_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Exclude companies from search results based on the location of the company headquarters. You can use
          cities, US states, and countries as locations to exclude. This parameter is useful for ensuring you do not prospect
          in an undesirable territory. For example, if you use ireland as a value, no Ireland-based companies will appear
          in your search results. Examples: minnesota; ireland; seoul'
      - name: revenue_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'Search for organizations based on their revenue. Use this parameter to set the lower range of organization
          revenue. Use the revenue_range[max] parameter to set the upper range of revenue. Do not enter currency symbols,
          commas, or decimal points in the figure. Example: 300000'
      - name: revenue_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'Search for organizations based on their revenue. Use this parameter to set the upper range of organization
          revenue. Use the revenue_range[min] parameter to set the lower range of revenue. Do not enter currency symbols,
          commas, or decimal points in the figure. Example: 50000000'
      - name: currently_using_any_of_technology_uids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Find organizations based on the technologies they currently use. Apollo supports filtering by 1,500+
          technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out
          the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and
          periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org'
      - name: q_organization_keyword_tags[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Filter search results based on keywords associated with companies. For example, you can enter mining
          as a value to return only companies that have an association with the mining industry. Examples: mining; sales strategy;
          consulting'
      - name: q_organization_name
        in: query
        required: false
        schema:
          type: string
        description: 'Filter search results to include a specific company name. If the value you enter for this parameter
          does not match with a company''s name, the company will not appear in search results, even if it matches other parameters.
          Partial matches are accepted. For example, if you filter by the value marketing, a company called NY Marketing Unlimited
          would still be eligible as a search result, but NY Market Analysis would not be eligible. Example: apollo or mining'
      - name: organization_ids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo
          database is assigned a unique ID. To find IDs, identify the values for organization_id when you call this endpoint.
          Example: 5e66b6381e05b4008c8331b8'
      - name: latest_funding_amount_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'The minimum amount the company received with its most recent funding round. Use this parameter in combination
          with latest_funding_amount_range[max] to set a monetary range for the company''s most recent funding round. Do not
          enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000'
      - name: latest_funding_amount_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximium amount the company received with its most recent funding round. Use this parameter in combination
          with latest_funding_amount_range[min] to set a monetary range for the company''s most recent funding round. Do not
          enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000'
      - name: total_funding_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'The minimum amount the company received during all of its funding rounds combined. Use this parameter
          in combination with total_funding_range[max] to set a monetary range for all of the company''s funding rounds. Do
          not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000'
      - name: total_funding_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum amount the company received during all of its funding rounds combined. Use this parameter
          in combination with total_funding_range[min] to set a monetary range for all of the company''s funding rounds. Do
          not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000'
      - name: latest_funding_date_range[min]
        in: query
        required: false
        schema:
          type: string
        description: 'The earliest date when the company received its most recent funding round. Use this parameter in combination
          with latest_funding_date_range[max] to set a date range for when the company received its most recent funding round.
          Example: 2025-07-25'
      - name: latest_funding_date_range[max]
        in: query
        required: false
        schema:
          type: string
        description: 'The latest date when the company received its most recent funding round. Use this parameter in combination
          with latest_funding_date_range[min] to set a date range for when the company received its most recent funding round.
          Example: 2025-09-25'
      - name: q_organization_job_titles[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The job titles that are listed in active job postings at the company. Examples: sales manager; research
          analyst'
      - name: organization_job_locations[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'The locations of the jobs being actively recruited by the company. Examples: atlanta; japan'
      - name: organization_num_jobs_range[min]
        in: query
        required: false
        schema:
          type: integer
        description: 'The minimum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[max]
          to set a job postings range. Examples: 50; 500'
      - name: organization_num_jobs_range[max]
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[min]
          to set a job postings range. Examples: 50; 500'
      - name: organization_job_posted_at_range[min]
        in: query
        required: false
        schema:
          type: string
        description: 'The earliest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[max]
          to set a date range for when jobs posted. Example: 2025-07-25'
      - name: organization_job_posted_at_range[max]
        in: query
        required: false
        schema:
          type: string
        description: 'The latest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[min]
          to set a date range for when jobs posted. Example: 2025-09-25'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'The page number of the Apollo data that you want to retrieve. Use this parameter in combination with
          the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example:
          4'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'The number of search results that should be returned for each page. Limiting the number of results per
          page improves the endpoint''s performance. Use the page parameter to search the different pages of data. Example:
          10'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  breadcrumbs:
                    type: array
                    items:
                      type: string
                    description: Response array
                  partial_results_only:
                    type: boolean
                    description: Response field
                  has_join:
                    type: boolean
                    description: Response field
                  disable_eu_prospecting:
                    type: boolean
                    description: Response field
                  partial_results_limit:
                    type: integer
                    description: Response field
                  pagination:
                    type: object
                    description: Response object
                  accounts:
                    type: array
                    items:
                      type: string
                    description: Response array
                  organizations:
                    type: array
                    items:
                      type: string
                    description: Response array
                  model_ids:
                    type: array
                    items:
                      type: string
                    description: Response array
                  num_fetch_result:
                    type: string
                    description: Response field
                  derived_params:
                    type: string
                    description: Response field
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/mixed_companies/search
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/mixed_companies/search:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1mixed_companies~1search/post'
  /apollo/organizations/{organization_id}/job_postings:
    get:
      summary: Organization Job Postings
      description: Use the Organization Job Postings endpoint to retrieve the current job postings for companies. This can
        help you identify companies that are growing headcount in areas that are strategically important for you. Calling
        this endpoint does consume credits as part of your Apollo pricing plan . To protect Apollo's performance for all users,
        this endpoint has a display limit of 10,000 records. This limitation does not restrict your access to Apollo's database;
        you just need to access the data in batches.
      operationId: get_apollo_organizations_organization_id_job_postings
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: 'The organization ID of the company for which you want to find job postings. Each company in the Apollo
          database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for
          organization_id. Example: 5e66b6381e05b4008c8331b8'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'The page number of the Apollo data that you want to retrieve. Use this parameter in combination with
          the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example:
          4'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'The number of search results that should be returned for each page. Limiting the number of results per
          page improves the endpoint''s performance. Use the page parameter to search the different pages of data. Example:
          10'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization_job_postings:
                    type: array
                    items:
                      type: string
                    description: Response array
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/organizations/{organization_id}/job_postings
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/organizations/{organization_id}/job_postings:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1apollo~1organizations~1{organization_id}~1job_postings/get'
  /apollo/organizations/{id}:
    get:
      summary: Get Complete Organization Info
      description: Use the Get Complete Organization Info endpoint to retrieve complete details about an organization in the
        Apollo database. This endpoint requires a master API key. If you attempt to call the endpoint without a master key,
        you will receive a 403 response. Refer to Create API Keys to learn how to create a master API key. u003e ? Credits
        u003e u003e Using this endpoint potentially consumes your account’s credits. Refer to Apollo’s for more details.
      operationId: get_apollo_organizations_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 'The Apollo ID for the organization that you want to research. To find organization IDs, call the Organization
          Search endpoint and identify the organizaton_id value for the organization. Example: 5e66b6381e05b4008c8331b8'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    description: Response object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/organizations/{id}
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/organizations/{id}:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1apollo~1organizations~1{id}/get'
  /apollo/news_articles/search:
    post:
      summary: News Articles Search
      description: Use the News Articles Search endpoint to find news articles related to companies in the Apollo database.
        Several filters are available to help narrow your search. Calling this endpoint does consume credits as part of your
        Apollo pricing plan .
      operationId: post_apollo_news_articles_search
      parameters:
      - name: organization_ids[]
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 'The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo
          database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for
          organization_id. Example: 5e66b6381e05b4008c8331b8'
      - name: categories[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Filter your search to include only certain categories or sub-categories of news. Use the News search
          filter for companies within Apollo to uncover all possible categories and sub-categories. Examples: hires; investment;
          contract'
      - name: published_at[min]
        in: query
        required: false
        schema:
          type: string
        description: 'Set the lower bound of the date range you want to search. Use this parameter in combination with the
          published_at[max] parameter. This date should fall before the published_at[max] date. The date should be formatted
          as YYYY-MM-DD. Example: 2025-02-15'
      - name: published_at[max]
        in: query
        required: false
        schema:
          type: string
        description: 'Set the upper bound of the date range you want to search. Use this parameter in combination with the
          published_at[min] parameter. This date should fall after the published_at[min] date. The date should be formatted
          as YYYY-MM-DD. Example: 2025-05-15'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'The page number of the Apollo data that you want to retrieve. Use this parameter in combination with
          the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example:
          4'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'The number of search results that should be returned for each page. Limiting the number of results per
          page improves the endpoint''s performance. Use the page parameter to search the different pages of data. Example:
          10'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    description: Response object
                  news_articles:
                    type: array
                    items:
                      type: string
                    description: Response array
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/news_articles/search
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/news_articles/search:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1news_articles~1search/post'
  /apollo/accounts:
    post:
      summary: Create an Account
      description: Create a new account. Duplicate domains are not allowed. Requires a master API key.
      operationId: post_apollo_accounts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Account name
                domain:
                  type: string
                  description: Account domain
                owner_id:
                  type: string
                  description: Owner ID
                account_stage_id:
                  type: string
                  description: Account stage ID
              required:
              - name
              - domain
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1accounts/post'
  /apollo/accounts/{account_id}:
    patch:
      summary: Update an Account
      description: Update fields on an existing account. Requires a master API key.
      operationId: patch_apollo_accounts_account_id
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Account name
                domain:
                  type: string
                  description: Account domain
                owner_id:
                  type: string
                  description: Owner ID
                account_stage_id:
                  type: string
                  description: Account stage ID
                raw_address:
                  type: string
                  description: Raw address
                phone:
                  type: string
                  description: Phone number
                typed_custom_fields:
                  type: object
                  description: Typed custom fields object
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/{account_id}
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/{account_id}:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    patch:
      $ref: '#/paths/~1apollo~1accounts~1{account_id}/patch'
  /apollo/accounts/bulk_create:
    post:
      summary: Bulk Create Accounts
      description: Bulk create accounts. Requires a master API key.
      operationId: post_apollo_accounts_bulk_create
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_accounts:
                    type: string
                    description: Accounts created in this request
                  created_accounts[].id:
                    type: string
                    description: Account ID
                  created_accounts[].name:
                    type: string
                    description: Account name
                  created_accounts[].domain:
                    type: string
                    description: Account domain
                  created_accounts[].team_id:
                    type: string
                    description: Team ID
                  created_accounts[].owner_id:
                    type: string
                    description: Owner ID
                  created_accounts[].account_stage_id:
                    type: string
                    description: Account stage ID
                  created_accounts[].phone:
                    type: string
                    description: Phone number
                  created_accounts[].created_at:
                    type: string
                    description: Created timestamp
                  created_accounts[].updated_at:
                    type: string
                    description: Updated timestamp
                  existing_accounts:
                    type: string
                    description: Accounts that already existed (dedupe matches)
                  existing_accounts[].id:
                    type: string
                    description: Account ID
                  existing_accounts[].name:
                    type: string
                    description: Account name
                  existing_accounts[].domain:
                    type: string
                    description: Account domain
                  existing_accounts[].team_id:
                    type: string
                    description: Team ID
                  existing_accounts[].owner_id:
                    type: string
                    description: Owner ID
                  existing_accounts[].account_stage_id:
                    type: string
                    description: Account stage ID
                  existing_accounts[].phone:
                    type: string
                    description: Phone number
                  existing_accounts[].created_at:
                    type: string
                    description: Created timestamp
                  existing_accounts[].updated_at:
                    type: string
                    description: Updated timestamp
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accounts:
                  type: string
                  description: Array of accounts to create
                append_label_names:
                  type: string
                  description: Label names to append to each created account
                run_dedupe:
                  type: boolean
                  description: Enable deduplication. Default false.
              required:
              - accounts
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/bulk_create
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/bulk_create:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1accounts~1bulk_create/post'
  /apollo/accounts/bulk_update:
    post:
      summary: Bulk Update Accounts
      description: Bulk update accounts. Requires a master API key.
      operationId: post_apollo_accounts_bulk_update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: string
                    description: Updated accounts
                  accounts[].id:
                    type: string
                    description: Account ID
                  accounts[].account_stage_id:
                    type: string
                    description: Account stage ID
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: string
                  description: IDs of accounts to update
                account_attributes:
                  type: string
                  description: List of account attribute update objects
                account_attributes[].name:
                  type: string
                  description: Account name
                account_attributes[].owner_id:
                  type: string
                  description: Owner ID
                account_attributes[].account_stage_id:
                  type: string
                  description: Account stage ID
                async:
                  type: boolean
                  description: Run asynchronously. Default false.
              required:
              - account_ids
              - account_attributes
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/bulk_update
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/bulk_update:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1accounts~1bulk_update/post'
  /apollo/accounts/search:
    post:
      summary: Search for Accounts
      description: Search for accounts. Requires a master API key.
      operationId: post_apollo_accounts_search
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q_organization_name:
                  type: string
                  description: Organization name query
                account_stage_ids:
                  type: string
                  description: Filter by account stage IDs
                account_label_ids:
                  type: string
                  description: Filter by account label IDs
                sort_by_field:
                  type: string
                  description: Sort field (e.g. account_last_activity_date, account_created_at, account_updated_at)
                sort_ascending:
                  type: boolean
                  description: Sort ascending
                page:
                  type: integer
                  description: Page number
                per_page:
                  type: integer
                  description: Items per page
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/search
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/search:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1accounts~1search/post'
  /apollo/accounts/{id}:
    get:
      summary: View an Account
      description: View an account by ID. Requires a master API key.
      operationId: get_apollo_accounts_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Account ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/{id}
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/{id}:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1apollo~1accounts~1{id}/get'
  /apollo/accounts/update_owners:
    post:
      summary: Update Account Owner for Multiple Accounts
      description: Update account owner for multiple accounts. Requires a master API key.
      operationId: post_apollo_accounts_update_owners
      parameters:
      - name: account_ids[]
        in: query
        required: true
        schema:
          type: string
        description: Account IDs
      - name: owner_id
        in: query
        required: true
        schema:
          type: string
        description: New owner ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: string
                    description: Updated accounts
                  accounts[].id:
                    type: string
                    description: Account ID
                  accounts[].owner_id:
                    type: string
                    description: Owner ID
                  accounts[].crm_owner_id:
                    type: string
                    description: CRM owner ID
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/accounts/update_owners
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/accounts/update_owners:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1accounts~1update_owners/post'
  /apollo/account_stages:
    get:
      summary: List Account Stages
      description: List account stages. Requires a master API key.
      operationId: get_apollo_account_stages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_stages:
                    type: string
                    description: Account stages list
                  account_stages[].id:
                    type: string
                    description: Stage ID
                  account_stages[].team_id:
                    type: string
                    description: Team ID
                  account_stages[].display_name:
                    type: string
                    description: Display name
                  account_stages[].name:
                    type: string
                    description: Name
                  account_stages[].display_order:
                    type: integer
                    description: Display order
                  account_stages[].default_exclude_for_leadgen:
                    type: boolean
                    description: Default exclude for leadgen
                  account_stages[].category:
                    type: string
                    description: Category
                  account_stages[].is_meeting_set:
                    type: boolean
                    description: Is meeting set
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/account_stages
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/account_stages:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    get:
      $ref: '#/paths/~1apollo~1account_stages/get'
  /apollo/contacts:
    post:
      summary: Create a Contact
      description: Create a new contact. Requires a master API key.
      operationId: post_apollo_contacts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name
                last_name:
                  type: string
                  description: Last name
                organization_name:
                  type: string
                  description: Organization name
                title:
                  type: string
                  description: Title
                account_id:
                  type: string
                  description: Account ID
                email:
                  type: string
                  description: Email
                website_url:
                  type: string
                  description: Website URL
                label_names:
                  type: string
                  description: Labels to set on the contact
                contact_stage_id:
                  type: string
                  description: Contact stage ID
                present_raw_address:
                  type: string
                  description: Raw address
                direct_phone:
                  type: string
                  description: Direct phone
                corporate_phone:
                  type: string
                  description: Corporate phone
                mobile_phone:
                  type: string
                  description: Mobile phone
                home_phone:
                  type: string
                  description: Home phone
                other_phone:
                  type: string
                  description: Other phone
                typed_custom_fields:
                  type: object
                  description: Typed custom fields object
                run_dedupe:
                  type: boolean
                  description: Enable deduplication. Default false.
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/contacts
        source: https://github.com/AIsa-team/aisa-proxy
  /apis/v2/apollo/contacts:
    servers:
    - url: https://api.aisa.one
      description: AIsa root host (path key carries the /apis/v2 prefix)
    post:
      $ref: '#/paths/~1apollo~1contacts/post'
  /apollo/contacts/{contact_id}:
    get:
      summary: Update or View Contact
      description: View a contact by ID. Requires a master API key.
      operationId: get_apollo_contacts_contact_id
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    description: Contact object
                  contact.id:
                    type: string
                    description: Contact ID
                  contact.first_name:
                    type: string
                    description: First name
                  contact.last_name:
                    type: string
                    description: Last name
                  contact.organization_name:
                    type: string
                    description: Organization name
                  contact.title:
                    type: string
                    description: Title
                  contact.email:
                    type: string
                    description: Email
                  contact.phone_numbers:
                    type: string
                    description: Phone numbers
                  contact.phone_numbers[].raw_number:
                    type: string
                    description: Raw number
                  contact.phone_numbers[].sanitized_number:
                    type: string
                    description: Sanitized number
                  contact.owner_id:
                    type: string
                    description: Owner ID
                  contact.account_id:
                    type: string
                    description: Account ID
                  contact.present_raw_address:
                    type: string
                    description: Raw address
                  contact.linkedin_url:
                    type: string
                    description: LinkedIn URL
                  contact.updated_at:
                    type: string
                    description: Updated timestamp
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
      tags:
      - Sales Intelligence
      x-x402:
        path: /apis/v2/apollo/contacts/{contact_id}
        source: https://github.com/AIsa-team/aisa-proxy
    patch:
      summary: Update or View Contact
      description: Update fields on an existing contact. Requires a master API key.
      operationId: patch_apollo_contacts_contact_id
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
        description: Contact ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    description: Updated contact
                  contact.id:
                    type: string
                    description: Contact ID
                  contact.first_name:
                    type: string
                    description: First name
                  contact.last_name:
                    type: string
                    description: Last name
[...]
