{
  "openapi": "3.1.0",
  "info": {
    "title": "Brave Search API official reference",
    "version": "1",
    "x-aisa-source": {
      "kind": "provider_openapi",
      "url": "https://api-dashboard.search.brave.com/llms.txt",
      "fetched_at": "2026-09-29T18:35:25.018226+00:00",
      "content_hash": "sha256:2783e7beff4b638324dad207e9ca7972218f29f069aefb60116c3790967b2134",
      "converter": "scripts/import_brave_reference.py@1",
      "source_pages": [
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/answers/__data.json",
          "content_hash": "sha256:52c109c10f836716e93dda8933134f98f045caf8c78e8cf0ce63a1fc0b754c4f"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/llm_context/get/__data.json",
          "content_hash": "sha256:7dd6f31f8212a19051ab81886fe3ba93d94b04c68df1d7d53996ed8419adec13"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/llm_context/post/__data.json",
          "content_hash": "sha256:61ccc56cefc75f1489a762a37a7d5bc4cbd04d2e20d0bc240006405c779c5610"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/images/image_search/__data.json",
          "content_hash": "sha256:ab4bc9c2042bb31c13bdc06d423c909ccde12916069f6ef1b069228f01db2a8d"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/news/news_search/get/__data.json",
          "content_hash": "sha256:3b1afa4e3f81f264d3f245b77ea5273d9a213d2b3de4b4d7dedc01894b37fc64"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/news/news_search/post/__data.json",
          "content_hash": "sha256:54e73cc6097e7df880dc42143933d9bc07f919e07b116625408bb032ef7d4cc5"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/other/spell_check/__data.json",
          "content_hash": "sha256:85cd7a6d3f01850436d332cfc44a726210657f139c0cc80a47a9c74470766a9c"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/other/suggestions/__data.json",
          "content_hash": "sha256:5c4dbb20ea770ef2c97ba1c6c3775716bcd7d74d4d9bd87bd91e78116e6c769e"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/videos/video_search/get/__data.json",
          "content_hash": "sha256:ff221fa765497085ae7a4ce9752831b80c69af59990847057784ba50a68e405a"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/videos/video_search/post/__data.json",
          "content_hash": "sha256:f5b0f5a02fcdc52cff7f1618beebced3e0341afbf4b31a2ae18b92f61d51ecec"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/local_pois/__data.json",
          "content_hash": "sha256:1a3811afefd39e19506a0a24e3b463307f219cc7c08db9348cab8807a70909fe"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/place_search/__data.json",
          "content_hash": "sha256:389dee2acae3b6fb0fb516e7c7ec271a354fb511a616f68522d593c73109a87e"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/poi_descriptions/__data.json",
          "content_hash": "sha256:36d19685c3e9eb3a56b87f269648129524fb6f629418ea799889a142af516f47"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/rich_search/__data.json",
          "content_hash": "sha256:dd2d3f02606cdf073906b9a6d5c5bfcce1fb568092c56fa56742b378a55657e5"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/search/get/__data.json",
          "content_hash": "sha256:a001dfd07208f89cfcc9a34d90e4593cedc341320c669b270612086245561264"
        },
        {
          "url": "https://api-dashboard.search.brave.com/api-reference/web/search/post/__data.json",
          "content_hash": "sha256:7c3c02d2a0a8cdc07d8ac787f96bcf949c684129c461f73a87374054794ab1f9"
        }
      ],
      "source_index_hash": "sha256:a20e4ae4f5d2708c01bec9e1571920595430e1eb8c92d52b191a87946f93ca32",
      "structured_source_hash": "sha256:cc9006d9232c1ff687d97be195aecf2459a0f000c97200ff8275c5e4760b1e3d"
    }
  },
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "openai_chat_completion_v1_chat_completions_post",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "Answers",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/answers"
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIChatRequest"
              }
            }
          }
        }
      }
    },
    "/v1/llm/context": {
      "get": {
        "operationId": "llm_context_v1_llm_context_get",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "LLM Context — Web search API for AI agents",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/llm_context/get"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The user’s search query term. Query can not be empty. Maximum of 600 characters and 75 words in the query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 600,
              "description": "The user’s search query term. Query can not be empty. Maximum of 600 characters and 75 words in the query.",
              "title": "Q"
            },
            "deprecated": false
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries.",
            "schema": {
              "$ref": "#/components/schemas/SearchCountry",
              "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries.",
              "default": "US"
            },
            "deprecated": false
          },
          {
            "name": "search_lang",
            "in": "query",
            "required": false,
            "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
            "schema": {
              "$ref": "#/components/schemas/Language-Input",
              "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
              "default": "en"
            },
            "deprecated": false
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "The maximum number of search results considered to select the LLM context data. The default is 20 and the maximum is 50.",
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "The maximum number of search results considered to select the LLM context data. The default is 20 and the maximum is 50.",
              "default": 20,
              "title": "Count"
            },
            "deprecated": false
          },
          {
            "name": "safesearch",
            "in": "query",
            "required": false,
            "description": "<p>Filters results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No filtering is done.</li>\n<li><strong>moderate</strong> - Drops adult content from the results used for context.</li>\n<li><strong>strict</strong> - Drops all adult content from the results used for context.</li>\n</ul>\n<p>When not set, no filtering is applied — except for local recall, which stays <code>strict</code>.</p>",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/app__models__general__SafeSearch"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Safe search",
              "description": "<p>Filters results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No filtering is done.</li>\n<li><strong>moderate</strong> - Drops adult content from the results used for context.</li>\n<li><strong>strict</strong> - Drops all adult content from the results used for context.</li>\n</ul>\n<p>When not set, no filtering is applied — except for local recall, which stays <code>strict</code>.</p>"
            },
            "deprecated": false
          },
          {
            "name": "spellcheck",
            "in": "query",
            "required": false,
            "description": "Whether to enable spellcheck on the query.",
            "schema": {
              "type": "boolean",
              "description": "Whether to enable spellcheck on the query.",
              "default": true,
              "title": "Spellcheck"
            },
            "deprecated": false
          },
          {
            "name": "maximum_number_of_urls",
            "in": "query",
            "required": false,
            "description": "Maximum number of different URLs to include in LLM context.",
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum number of different URLs to include in LLM context.",
              "default": 20,
              "title": "Maximum Number Of Urls"
            },
            "deprecated": false
          },
          {
            "name": "maximum_number_of_tokens",
            "in": "query",
            "required": false,
            "description": "Approximate maximum number of tokens to include in context. The default is <code>8192</code> and maximum is <code>32768</code>.",
            "schema": {
              "type": "integer",
              "maximum": 32768,
              "minimum": 1024,
              "description": "Approximate maximum number of tokens to include in context. The default is <code>8192</code> and maximum is <code>32768</code>.",
              "default": 8192,
              "title": "Maximum Number Of Tokens"
            },
            "deprecated": false
          },
          {
            "name": "maximum_number_of_snippets",
            "in": "query",
            "required": false,
            "description": "Maximum number of different snippets (or chunks of text) to include in LLM context. The default is <code>50</code> and maximum is <code>256</code>.",
            "schema": {
              "type": "integer",
              "maximum": 256,
              "minimum": 1,
              "description": "Maximum number of different snippets (or chunks of text) to include in LLM context. The default is <code>50</code> and maximum is <code>256</code>.",
              "default": 50,
              "title": "Maximum Number Of Snippets"
            },
            "deprecated": false
          },
          {
            "name": "context_threshold_mode",
            "in": "query",
            "required": false,
            "description": "The mode to use to determine the threshold for including content in context.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SummarizerContextThresholdMode"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The mode to use to determine the threshold for including content in context.",
              "title": "Context Threshold Mode"
            },
            "deprecated": false
          },
          {
            "name": "maximum_number_of_tokens_per_url",
            "in": "query",
            "required": false,
            "description": "Maximum number of tokens to include per URL. The default is <code>4096</code> and maximum is <code>8192</code>.",
            "schema": {
              "type": "integer",
              "maximum": 8192,
              "minimum": 512,
              "description": "Maximum number of tokens to include per URL. The default is <code>4096</code> and maximum is <code>8192</code>.",
              "default": 4096,
              "title": "Maximum Number Of Tokens Per Url"
            },
            "deprecated": false
          },
          {
            "name": "maximum_number_of_snippets_per_url",
            "in": "query",
            "required": false,
            "description": "Maximum number of snippets to include per URL. The default is <code>50</code> and maximum is <code>100</code>.",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of snippets to include per URL. The default is <code>50</code> and maximum is <code>100</code>.",
              "default": 50,
              "title": "Maximum Number Of Snippets Per Url"
            },
            "deprecated": false
          },
          {
            "name": "goggles",
            "in": "query",
            "required": false,
            "description": "Goggles act as a custom re-ranking on top of Brave’s search index. The parameter supports both a url where the Goggle is hosted or the definition of the Goggle. For more details, see the <a href=\"/documentation/resources/goggles\">Goggles documentation</a>. The parameter can be a single Goggle or a list of up to 3 Goggles.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Goggles act as a custom re-ranking on top of Brave’s search index. The parameter supports both a url where the Goggle is hosted or the definition of the Goggle. For more details, see the <a href=\"/documentation/resources/goggles\">Goggles documentation</a>. The parameter can be a single Goggle or a list of up to 3 Goggles.",
              "title": "Goggles"
            },
            "deprecated": false,
            "examples": {
              "Prioritizes domains popular with the Hacker News": {
                "value": "https://raw.githubusercontent.com/brave/goggles-quickstart/main/goggles/hacker_news.goggle"
              },
              "Social media blocker": {
                "value": "! name: Social Networks\n! description: Removes social networks\n! public: true\n! author: Average Joe\n! avatar: #de0320\n$discard,site=facebook.com\n$discard,site=x.com\n$discard,site=instagram.com"
              }
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "<p>Filters search results by page age. The age of a page is determined by the most relevant date reported by the content, such as its published or last modified date. The following values are supported:</p>\n<ul>\n<li><strong>pd</strong> - Pages aged 24 hours or less.</li>\n<li><strong>pw</strong> - Pages aged 7 days or less.</li>\n<li><strong>pm</strong> - Pages aged 31 days or less.</li>\n<li><strong>py</strong> - Pages aged 365 days or less.</li>\n<li><strong>YYYY-MM-DDtoYYYY-MM-DD</strong> - A custom date range is also supported by specifying start and end dates e.g. <code>2022-04-01to2022-07-30</code>.</li>\n</ul>",
            "schema": {
              "type": "string",
              "title": "Freshness",
              "description": "<p>Filters search results by page age. The age of a page is determined by the most relevant date reported by the content, such as its published or last modified date. The following values are supported:</p>\n<ul>\n<li><strong>pd</strong> - Pages aged 24 hours or less.</li>\n<li><strong>pw</strong> - Pages aged 7 days or less.</li>\n<li><strong>pm</strong> - Pages aged 31 days or less.</li>\n<li><strong>py</strong> - Pages aged 365 days or less.</li>\n<li><strong>YYYY-MM-DDtoYYYY-MM-DD</strong> - A custom date range is also supported by specifying start and end dates e.g. <code>2022-04-01to2022-07-30</code>.</li>\n</ul>",
              "examples": [
                "",
                "pm",
                "2022-04-01to2022-07-30"
              ],
              "default": ""
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": "pm"
              },
              "2": {
                "value": "2022-04-01to2022-07-30"
              }
            }
          },
          {
            "name": "enable_local",
            "in": "query",
            "required": false,
            "description": "Whether to enable local recall. Not setting this value means auto-detect and uses local recall if any of the localization headers are provided.",
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Whether to enable local recall. Not setting this value means auto-detect and uses local recall if any of the localization headers are provided.",
              "title": "Enable Local"
            },
            "deprecated": false
          },
          {
            "name": "enable_source_metadata",
            "in": "query",
            "required": false,
            "description": "Enable source metadata enrichment (site_name, favicon, thumbnail, description, fetched_content_timestamp) in the sources attribute of the response.",
            "schema": {
              "type": "boolean",
              "description": "Enable source metadata enrichment (site_name, favicon, thumbnail, description, fetched_content_timestamp) in the sources attribute of the response.",
              "default": false,
              "title": "Enable Source Metadata"
            },
            "deprecated": false
          },
          {
            "name": "x-loc-lat",
            "in": "header",
            "required": false,
            "description": "The latitude of the client’s geographical location in degrees,                 to provide relevant local results. The latitude must be greater                 than or equal to -90.0 degrees and less than or equal to +90.0 degrees.",
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 90,
                  "minimum": -90
                },
                {
                  "type": "null"
                }
              ],
              "description": "The latitude of the client’s geographical location in degrees,                 to provide relevant local results. The latitude must be greater                 than or equal to -90.0 degrees and less than or equal to +90.0 degrees.",
              "title": "X-Loc-Lat"
            },
            "deprecated": false,
            "examples": {
              "None": {}
            }
          },
          {
            "name": "x-loc-long",
            "in": "header",
            "required": false,
            "description": "The longitude of the client’s geographical location in degrees,                 to provide relevant local results. The longitude must be greater                 than or equal to -180.0 and less than or equal to +180.0 degrees.",
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 180,
                  "minimum": -180
                },
                {
                  "type": "null"
                }
              ],
              "description": "The longitude of the client’s geographical location in degrees,                 to provide relevant local results. The longitude must be greater                 than or equal to -180.0 and less than or equal to +180.0 degrees.",
              "title": "X-Loc-Long"
            },
            "deprecated": false,
            "examples": {
              "None": {}
            }
          },
          {
            "name": "x-loc-city",
            "in": "header",
            "required": false,
            "description": "The generic name of the client city",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The generic name of the client city",
              "title": "X-Loc-City"
            },
            "deprecated": false,
            "examples": {
              "City in USA": {
                "value": "Ann Arbor"
              }
            }
          },
          {
            "name": "x-loc-state",
            "in": "header",
            "required": false,
            "description": "A code which could be up to three characters, that represent the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A code which could be up to three characters, that represent the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
              "title": "X-Loc-State"
            },
            "deprecated": false,
            "examples": {
              "Michigan State/Region code in USA": {
                "value": "MI"
              }
            }
          },
          {
            "name": "x-loc-state-name",
            "in": "header",
            "required": false,
            "description": "The name of the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The name of the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
              "title": "X-Loc-State-Name"
            },
            "deprecated": false,
            "examples": {
              "Michigan generic state name in USA": {
                "value": "Michigan"
              }
            }
          },
          {
            "name": "x-loc-country",
            "in": "header",
            "required": false,
            "description": "The two letter country code for the client’s country.                 For a list of country codes,                 see <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Country"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The two letter country code for the client’s country.                 For a list of country codes,                 see <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>",
              "title": "X-Loc-Country"
            },
            "deprecated": false,
            "examples": {
              "Country alpha-2 code": {
                "value": "US"
              }
            }
          },
          {
            "name": "x-loc-postal-code",
            "in": "header",
            "required": false,
            "description": "The client’s postal code",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client’s postal code",
              "title": "X-Loc-Postal-Code"
            },
            "deprecated": false,
            "examples": {
              "Postal code in Ann Harbor, Michigan, US": {
                "value": "48105"
              }
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LLMContextAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ]
      },
      "post": {
        "operationId": "llm_context_post_v1_llm_context_post",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "LLM Context — Web search API for AI agents",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/ai/llm_context/post"
        },
        "parameters": [
          {
            "name": "x-loc-lat",
            "in": "header",
            "required": false,
            "description": "The latitude of the client’s geographical location in degrees,                 to provide relevant local results. The latitude must be greater                 than or equal to -90.0 degrees and less than or equal to +90.0 degrees.",
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 90,
                  "minimum": -90
                },
                {
                  "type": "null"
                }
              ],
              "description": "The latitude of the client’s geographical location in degrees,                 to provide relevant local results. The latitude must be greater                 than or equal to -90.0 degrees and less than or equal to +90.0 degrees.",
              "title": "X-Loc-Lat"
            },
            "deprecated": false,
            "examples": {
              "None": {}
            }
          },
          {
            "name": "x-loc-long",
            "in": "header",
            "required": false,
            "description": "The longitude of the client’s geographical location in degrees,                 to provide relevant local results. The longitude must be greater                 than or equal to -180.0 and less than or equal to +180.0 degrees.",
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 180,
                  "minimum": -180
                },
                {
                  "type": "null"
                }
              ],
              "description": "The longitude of the client’s geographical location in degrees,                 to provide relevant local results. The longitude must be greater                 than or equal to -180.0 and less than or equal to +180.0 degrees.",
              "title": "X-Loc-Long"
            },
            "deprecated": false,
            "examples": {
              "None": {}
            }
          },
          {
            "name": "x-loc-city",
            "in": "header",
            "required": false,
            "description": "The generic name of the client city",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The generic name of the client city",
              "title": "X-Loc-City"
            },
            "deprecated": false,
            "examples": {
              "City in USA": {
                "value": "Ann Arbor"
              }
            }
          },
          {
            "name": "x-loc-state",
            "in": "header",
            "required": false,
            "description": "A code which could be up to three characters, that represent the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A code which could be up to three characters, that represent the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
              "title": "X-Loc-State"
            },
            "deprecated": false,
            "examples": {
              "Michigan State/Region code in USA": {
                "value": "MI"
              }
            }
          },
          {
            "name": "x-loc-state-name",
            "in": "header",
            "required": false,
            "description": "The name of the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The name of the client’s state/region.                 The region is the first-level subdivision (the broadest or least specific) of the                 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2\">ISO 3166-2</a> code.",
              "title": "X-Loc-State-Name"
            },
            "deprecated": false,
            "examples": {
              "Michigan generic state name in USA": {
                "value": "Michigan"
              }
            }
          },
          {
            "name": "x-loc-country",
            "in": "header",
            "required": false,
            "description": "The two letter country code for the client’s country.                 For a list of country codes,                 see <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Country"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The two letter country code for the client’s country.                 For a list of country codes,                 see <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>",
              "title": "X-Loc-Country"
            },
            "deprecated": false,
            "examples": {
              "Country alpha-2 code": {
                "value": "US"
              }
            }
          },
          {
            "name": "x-loc-postal-code",
            "in": "header",
            "required": false,
            "description": "The client’s postal code",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client’s postal code",
              "title": "X-Loc-Postal-Code"
            },
            "deprecated": false,
            "examples": {
              "Postal code in Ann Harbor, Michigan, US": {
                "value": "48105"
              }
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LLMContextAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LLMContextParameters"
              }
            }
          }
        }
      }
    },
    "/v1/images/search": {
      "get": {
        "operationId": "search_images_v1_images_search_get",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "Image search",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/images/image_search"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The user’s search query term. Query can not be empty. Maximum of 400 characters and 50 words in the query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 400,
              "description": "The user’s search query term. Query can not be empty. Maximum of 400 characters and 50 words in the query.",
              "title": "Q"
            },
            "deprecated": false
          },
          {
            "name": "search_lang",
            "in": "query",
            "required": false,
            "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
            "schema": {
              "$ref": "#/components/schemas/Language-Input",
              "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
              "default": "en"
            },
            "deprecated": false
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries and <code>ALL</code> for worldwide.",
            "schema": {
              "$ref": "#/components/schemas/SearchCountry",
              "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries and <code>ALL</code> for worldwide.",
              "default": "US"
            },
            "deprecated": false
          },
          {
            "name": "safesearch",
            "in": "query",
            "required": false,
            "description": "<p>Filters search results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No content filtering (except for illegal content).</li>\n<li><strong>strict</strong> - Drops all adult content from search results.</li>\n</ul>",
            "schema": {
              "$ref": "#/components/schemas/app__models__products__search__v1__images__SafeSearch",
              "title": "Safe search",
              "description": "<p>Filters search results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No content filtering (except for illegal content).</li>\n<li><strong>strict</strong> - Drops all adult content from search results.</li>\n</ul>",
              "examples": [
                "",
                "off",
                "strict"
              ],
              "default": "strict"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": "off"
              },
              "2": {
                "value": "strict"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "<p>The number of search results returned in response. The maximum is 200. The actual number delivered may be less than requested.</p>\n<p><strong>NOTE:</strong> Image search is not paginated and has no <code>offset</code> parameter. Raise <code>count</code> to get more results.</p>",
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "<p>The number of search results returned in response. The maximum is 200. The actual number delivered may be less than requested.</p>\n<p><strong>NOTE:</strong> Image search is not paginated and has no <code>offset</code> parameter. Raise <code>count</code> to get more results.</p>",
              "default": 50,
              "title": "Count"
            },
            "deprecated": false
          },
          {
            "name": "spellcheck",
            "in": "query",
            "required": false,
            "description": "Whether to spell check provided query. If the spell checker is enabled, the modified query is always used for search. The modified query can be found in altered key from the query response model.",
            "schema": {
              "type": "boolean",
              "description": "Whether to spell check provided query. If the spell checker is enabled, the modified query is always used for search. The modified query can be found in altered key from the query response model.",
              "examples": [
                "",
                true,
                false
              ],
              "default": true,
              "title": "Spellcheck"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": true
              },
              "2": {
                "value": false
              }
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ]
      }
    },
    "/v1/news/search": {
      "get": {
        "operationId": "search_news_v1_news_search_get",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "News search",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/news/news_search/get"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The user’s search query term. Query can not be empty. Maximum of 400 characters and 50 words in the query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 400,
              "title": "The user's search query term.",
              "description": "The user’s search query term. Query can not be empty. Maximum of 400 characters and 50 words in the query."
            },
            "deprecated": false
          },
          {
            "name": "search_lang",
            "in": "query",
            "required": false,
            "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
            "schema": {
              "$ref": "#/components/schemas/Language-Input",
              "description": "The search language preference. The 2 or more character language code for which the search results are provided.",
              "default": "en"
            },
            "deprecated": false
          },
          {
            "name": "ui_lang",
            "in": "query",
            "required": false,
            "description": "User interface language preferred in response. Usually of the format <code>&lt;language_code&gt;-&lt;country_code&gt;</code>. For more, see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-accept-language\">RFC 9110</a>.",
            "schema": {
              "$ref": "#/components/schemas/MarketCodes",
              "description": "User interface language preferred in response. Usually of the format <code>&lt;language_code&gt;-&lt;country_code&gt;</code>. For more, see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-accept-language\">RFC 9110</a>.",
              "default": "en-US"
            },
            "deprecated": false
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries or <code>ALL</code> for worldwide.",
            "schema": {
              "$ref": "#/components/schemas/SearchCountry",
              "description": "The search query country, where the results come from. The country string is limited to 2 character country codes of supported countries or <code>ALL</code> for worldwide.",
              "default": "US"
            },
            "deprecated": false
          },
          {
            "name": "safesearch",
            "in": "query",
            "required": false,
            "description": "<p>Filters search results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No filtering is done.</li>\n<li><strong>moderate</strong> - Filter out explicit content.</li>\n<li><strong>strict</strong> - Filter out explicit and suggestive content.</li>\n</ul>",
            "schema": {
              "$ref": "#/components/schemas/app__models__general__SafeSearch",
              "title": "Safe search",
              "description": "<p>Filters search results for adult content. The following values are supported:</p>\n<ul>\n<li><strong>off</strong> - No filtering is done.</li>\n<li><strong>moderate</strong> - Filter out explicit content.</li>\n<li><strong>strict</strong> - Filter out explicit and suggestive content.</li>\n</ul>",
              "examples": [
                "",
                "off",
                "moderate",
                "strict"
              ],
              "default": "strict"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": "off"
              },
              "2": {
                "value": "moderate"
              },
              "3": {
                "value": "strict"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "The number of search results returned in response. The maximum is 50. The actual number delivered may be less than requested. Combine this parameter with offset to paginate search results.",
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "The number of search results returned in response. The maximum is 50. The actual number delivered may be less than requested. Combine this parameter with offset to paginate search results.",
              "default": 20,
              "title": "Count"
            },
            "deprecated": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The zero based offset that indicates number of search results per page (count) to skip before returning the result. The maximum is 9. The actual number delivered may be less than requested based on the query. In order to paginate results use this parameter together with count. For example, if your user interface displays 20 search results per page, set count to 20 and offset to 0 to show the first page of results. To get subsequent pages, increment offset by 1 (e.g. 0, 1, 2). The results may overlap across multiple pages.",
            "schema": {
              "type": "integer",
              "maximum": 9,
              "minimum": 0,
              "description": "The zero based offset that indicates number of search results per page (count) to skip before returning the result. The maximum is 9. The actual number delivered may be less than requested based on the query. In order to paginate results use this parameter together with count. For example, if your user interface displays 20 search results per page, set count to 20 and offset to 0 to show the first page of results. To get subsequent pages, increment offset by 1 (e.g. 0, 1, 2). The results may overlap across multiple pages.",
              "default": 0,
              "title": "Offset"
            },
            "deprecated": false
          },
          {
            "name": "spellcheck",
            "in": "query",
            "required": false,
            "description": "Whether to spell check the provided query. If the spellchecker is enabled, the modified query is always used for search. The modified query can be found in altered key from the query response model.",
            "schema": {
              "type": "boolean",
              "description": "Whether to spell check the provided query. If the spellchecker is enabled, the modified query is always used for search. The modified query can be found in altered key from the query response model.",
              "examples": [
                "",
                true,
                false
              ],
              "default": true,
              "title": "Spellcheck"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": true
              },
              "2": {
                "value": false
              }
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "<p>Filters search results by page age. The age of a page is determined by the most relevant date reported by the content, such as its published or last modified date. The following values are supported:</p>\n<ul>\n<li><strong>pd</strong> - Pages aged 24 hours or less.</li>\n<li><strong>pw</strong> - Pages aged 7 days or less.</li>\n<li><strong>pm</strong> - Pages aged 31 days or less.</li>\n<li><strong>py</strong> - Pages aged 365 days or less.</li>\n<li><strong>YYYY-MM-DDtoYYYY-MM-DD</strong> - A custom date range is also supported by specifying start and end dates e.g. <code>2022-04-01to2022-07-30</code>.</li>\n</ul>",
            "schema": {
              "type": "string",
              "description": "<p>Filters search results by page age. The age of a page is determined by the most relevant date reported by the content, such as its published or last modified date. The following values are supported:</p>\n<ul>\n<li><strong>pd</strong> - Pages aged 24 hours or less.</li>\n<li><strong>pw</strong> - Pages aged 7 days or less.</li>\n<li><strong>pm</strong> - Pages aged 31 days or less.</li>\n<li><strong>py</strong> - Pages aged 365 days or less.</li>\n<li><strong>YYYY-MM-DDtoYYYY-MM-DD</strong> - A custom date range is also supported by specifying start and end dates e.g. <code>2022-04-01to2022-07-30</code>.</li>\n</ul>",
              "examples": [
                "",
                "pm",
                "2022-04-01to2022-07-30"
              ],
              "default": "",
              "title": "Freshness"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": "pm"
              },
              "2": {
                "value": "2022-04-01to2022-07-30"
              }
            }
          },
          {
            "name": "extra_snippets",
            "in": "query",
            "required": false,
            "description": "A snippet is an excerpt from a page you get as a result of the query, and extra_snippets allow you to get up to 5 additional, alternative excerpts.",
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A snippet is an excerpt from a page you get as a result of the query, and extra_snippets allow you to get up to 5 additional, alternative excerpts.",
              "title": "Extra Snippets"
            },
            "deprecated": false,
            "examples": {
              "": {
                "value": ""
              },
              "Include extra snippets": {
                "value": true
              },
              "Exclude extra snippets": {
                "value": false
              }
            }
          },
          {
            "name": "goggles",
            "in": "query",
            "required": false,
            "description": "Goggles act as a custom re-ranking on top of Brave’s search index. The parameter supports both a url where the Goggle is hosted or the definition of the Goggle. For more details, see the <a href=\"/documentation/resources/goggles\">Goggles documentation</a>. The parameter can be a single Goggle or a list of up to 3 Goggles.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Goggles act as a custom re-ranking on top of Brave’s search index. The parameter supports both a url where the Goggle is hosted or the definition of the Goggle. For more details, see the <a href=\"/documentation/resources/goggles\">Goggles documentation</a>. The parameter can be a single Goggle or a list of up to 3 Goggles.",
              "title": "Goggles"
            },
            "deprecated": false,
            "examples": {
              "": {
                "value": ""
              },
              "Prioritizes domains popular with the Hacker News": {
                "value": "https://raw.githubusercontent.com/brave/goggles-quickstart/main/goggles/hacker_news.goggle"
              },
              "Social media blocker": {
                "value": "! name: Social Networks\n! description: Removes social networks\n! public: true\n! author: Average Joe\n! avatar: #de0320\n$discard,site=facebook.com\n$discard,site=x.com\n$discard,site=instagram.com"
              }
            }
          },
          {
            "name": "include_fetch_metadata",
            "in": "query",
            "required": false,
            "description": "Include fetch metadata.",
            "schema": {
              "type": "boolean",
              "description": "Include fetch metadata.",
              "examples": [
                "",
                true,
                false
              ],
              "default": false,
              "title": "Include Fetch Metadata"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": true
              },
              "2": {
                "value": false
              }
            }
          },
          {
            "name": "operators",
            "in": "query",
            "required": false,
            "description": "Whether to apply search operators.",
            "schema": {
              "type": "boolean",
              "description": "Whether to apply search operators.",
              "examples": [
                "",
                true,
                false
              ],
              "default": true,
              "title": "Operators"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": ""
              },
              "1": {
                "value": true
              },
              "2": {
                "value": false
              }
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ]
      },
      "post": {
        "operationId": "search_news_post_v1_news_search_post",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "News search",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/news/news_search/post"
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsSearchParameters"
              }
            }
          }
        }
      }
    },
    "/v1/spellcheck/search": {
      "get": {
        "operationId": "search_spellcheck_v1_spellcheck_search_get",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "Spell check",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/other/spell_check"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The phrase to be spell checked. Query can not be empty. Maximum of 400 characters and 50 words in the query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 400,
              "description": "The phrase to be spell checked. Query can not be empty. Maximum of 400 characters and 50 words in the query.",
              "title": "Q"
            },
            "deprecated": false
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The spell check language preference, where potentially the results could come from. The 2 or more character language code for which the spell check search results are provided. This is a just a hint for calculating spell check responses.",
            "schema": {
              "$ref": "#/components/schemas/Language-Input",
              "description": "The spell check language preference, where potentially the results could come from. The 2 or more character language code for which the spell check search results are provided. This is a just a hint for calculating spell check responses.",
              "default": "en"
            },
            "deprecated": false
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The spell check country, where potentially the results could come from. The country string is limited to 2 character country codes of supported countries. This is a just a hint for calculating spellcheck responses.",
            "schema": {
              "$ref": "#/components/schemas/SearchCountry",
              "description": "The spell check country, where potentially the results could come from. The country string is limited to 2 character country codes of supported countries. This is a just a hint for calculating spellcheck responses.",
              "default": "US"
            },
            "deprecated": false
          },
          {
            "name": "api-version",
            "in": "header",
            "required": false,
            "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "API version",
              "description": "The API version to use.                 This is denoted by the format <code>YYYY-MM-DD</code>.                 Default is the latest that is available. Read                 more about <a href=\"/documentation/guides/versioning\">API versioning</a>."
            },
            "deprecated": false
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "description": "The default supported media type is application/json.",
            "schema": {
              "$ref": "#/components/schemas/Accept",
              "title": "Media type",
              "description": "The default supported media type is application/json.",
              "examples": [
                "application/json"
              ],
              "default": "application/json"
            },
            "deprecated": false,
            "examples": {
              "0": {
                "value": "application/json"
              }
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "required": false,
            "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CacheControl"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cache control",
              "description": "Brave Search will return cached content by default.                 To prevent caching set the Cache-Control header to <code>no-cache</code>.                 This is currently done as best effort."
            },
            "deprecated": false
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User agent",
              "description": "The user agent originating the request.                 Brave search can utilize the user agent to provide a different                 experience depending on the device as described by the string.                 The user agent should follow the commonly used browser agent                 strings on each platform. For more information on curating user agents,                 see <a href=\"https://www.rfc-editor.org/rfc/rfc9110.html#name-user-agent\">RFC 9110</a>."
            },
            "deprecated": false,
            "examples": {
              "Android": {
                "value": "Mozilla/5.0 (Linux; Android 12) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.71 Mobile Safari/537.36",
                "description": "Android"
              },
              "iOS": {
                "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/103.0.5060.63 Mobile/15E148 Safari/604.1",
                "description": "iOS"
              },
              "macOS": {
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "macOS"
              },
              "Windows": {
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
                "description": "Windows"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpellCheckSearchApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-subscription-token": []
          }
        ]
      }
    },
    "/v1/suggest/search": {
      "get": {
        "operationId": "search_suggest_v1_suggest_search_get",
        "servers": [
          {
            "url": "https://api.search.brave.com/res"
          }
        ],
        "summary": "Suggestions",
        "description": "",
        "deprecated": false,
        "externalDocs": {
          "url": "https://api-dashboard.search.brave.com/api-reference/other/suggestions"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The user’s suggest search query term. Query can not be empty. The max query length is 400 characters, and the word limit is 50 words.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 400,
              "title": "The user's suggest search query term.",
              "description": "The user’s suggest search query term. Query can not be empty. The max query length is 400 characters, and the word limit is 50 words."
            },
            "deprecated": false
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The suggest search language preference, where potentially the results could come from. The 2 or more character language code for which the suggest search results are provided. This is a just a hint for calculating suggest responses.",
            "schema": {
              "$ref": "#/components/schemas/Language-Input",
              "description": "The suggest search language preference, where potentially the results could come from. The 2 or more character language code for which the suggest search results are provided. This is a just a hint for calculating suggest responses.",
              "default": "en"
            },
            "deprecated": false
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The suggest search query country, where potentially the results could come from. The country string is limited to 2 character country codes of supported countries. This is a just a hint for calculating suggest responses.",
            "schema": {
              "$ref": "#/components/schemas/SearchCountry",
              "description": "The suggest search query country, where potentially the results could come from. The country string is limited to 2 character country codes of supported countries. This is a just a hint for calculating suggest responses.",
              "default": "US"
            },
            "deprecated": false
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "The number of suggestion search results returned in response. The actual number of results delivered may be less than requested. Minimum is 1, maximum is 20. The default is 5.",
[...]
