{
  "openapi": "3.1.0",
  "info": {
    "title": "Querit official Search API reference",
    "version": "1",
    "x-aisa-source": {
      "kind": "provider_openapi",
      "url": "https://www.querit.ai/en/docs/reference/post-for-coding-agents",
      "fetched_at": "2026-09-29T18:43:51.598497+00:00",
      "content_hash": "sha256:3d18fbcbb4ef3392188adec7956c2dbf97a243322207ce144e12d7e474826a69",
      "converter": "scripts/import_querit_reference.py@1",
      "source_pages": [
        {
          "url": "https://www.querit.ai/en/docs/reference/post-for-coding-agents",
          "raw_content_hash": "sha256:1b4ab0ba47b795308777f621cfab0e106cc388999960b027b1b9130148f17054"
        }
      ],
      "structured_source_hash": "sha256:f5b0e12d1716319c55d73e0daff9c5b009a8cf2230b6c07ba0a144664a79062b",
      "conversion_notes": "Types, explicit required/default values and nested fields come from official tables. Conditional plan limits and time syntax remain in source descriptions; unspecified defaults and response-field types are not inferred."
    }
  },
  "servers": [
    {
      "url": "https://api.querit.ai"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/v1/search": {
      "post": {
        "operationId": "post_v1_search",
        "summary": "Search",
        "externalDocs": {
          "url": "https://www.querit.ai/en/docs/reference/post-for-coding-agents"
        },
        "requestBody": {
          "required": true,
          "description": "Top-level parameters:\nhighlights object form:\nfilters sub-object:\ntimeRange.date syntax:\nd[n] / w[n] / m[n] / y[n]: last n days / weeks / months / years, e.g. d7, m3\nYYYY-MM-DDtoYYYY-MM-DD: a range, e.g. 2022-04-01to2022-07-30; a single day uses the same to form\ngeo.countries.include allowed values: argentina, australia, brazil, canada, colombia, france, germany, india, indonesia, japan, mexico, nigeria, philippines, south korea, spain, united kingdom, united states.\nlanguages.include allowed values: english, japanese, korean, german, french, spanish, portuguese.\nvertical allowed values: code, finance. Lowercase and strictly enumerated; omit the field for universal search.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search term. Supports long natural-language descriptions"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Maximum number of results returned. Default: server default (value unspecified)."
                  },
                  "chunksPerDoc": {
                    "type": "integer",
                    "description": "Summary chunks per document. Free / PAYG support up to 1; Enterprise up to 3. Deprecated — still available, but migrate to highlights",
                    "default": 1
                  },
                  "highlights": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "query": {
                            "type": "string",
                            "description": "Keyword that guides the extraction; falls back to the top-level query when omitted"
                          },
                          "maxCharacters": {
                            "type": "integer",
                            "description": "Length of each extracted fragment, in characters, between 100 and 8000; the model picks the most suitable length when omitted",
                            "minimum": 100,
                            "maximum": 8000
                          }
                        }
                      }
                    ],
                    "description": "Request relevant fragments from the body text. true extracts against the original query at the length the model judges best; the object form takes query and maxCharacters, see below"
                  },
                  "needContent": {
                    "type": "boolean",
                    "description": "Whether to return body text. When true, body text lands in each result's sentence field (sentence array)",
                    "default": false
                  },
                  "filters": {
                    "type": "object",
                    "description": "Filter conditions, see below",
                    "properties": {
                      "sites": {
                        "type": "object",
                        "properties": {
                          "include": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Only pull results from these sites; an empty array means no restriction"
                          },
                          "exclude": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Exclude these sites"
                          }
                        }
                      },
                      "timeRange": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Time range, syntax below"
                          }
                        }
                      },
                      "geo": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "object",
                            "properties": {
                              "include": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "argentina",
                                    "australia",
                                    "brazil",
                                    "canada",
                                    "colombia",
                                    "france",
                                    "germany",
                                    "india",
                                    "indonesia",
                                    "japan",
                                    "mexico",
                                    "nigeria",
                                    "philippines",
                                    "south korea",
                                    "spain",
                                    "united kingdom",
                                    "united states"
                                  ]
                                },
                                "description": "Only return results from these countries"
                              }
                            }
                          }
                        }
                      },
                      "languages": {
                        "type": "object",
                        "properties": {
                          "include": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "english",
                                "japanese",
                                "korean",
                                "german",
                                "french",
                                "spanish",
                                "portuguese"
                              ]
                            },
                            "description": "Only return results in these languages"
                          }
                        }
                      },
                      "vertical": {
                        "type": "string",
                        "description": "Vertical search. Supported values: \"code\", \"finance\"; omit for universal search",
                        "enum": [
                          "code",
                          "finance"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Official response table. Fields on each results.result[] item: url, title, snippet, page_age (plaintext UTC+0 time), site_name, site_icon, sentence (string[], present only when needContent: true and body text is available), highlights (string[], present only when highlights is set on the request and body text is available). Every result field is optional. Some results in the same response may have no sentence or highlights. Treat a missing field as \"body text unavailable,\" not as an error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "took": {
                      "type": "string",
                      "description": "Server-side processing time"
                    },
                    "error_code": {
                      "type": "integer",
                      "description": "Error code, consistent with the HTTP status code; 200 on success"
                    },
                    "error_msg": {
                      "type": "string",
                      "description": "Error detail"
                    },
                    "search_id": {
                      "type": "integer",
                      "description": "Unique request identifier; give it to support when reporting an issue"
                    },
                    "query_context": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "description": "The query that was actually executed"
                        }
                      }
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Result array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
