{
  "openapi": "3.0.3",
  "info": {
    "title": "Reviewed public response get_similarweb_serp_players_aggregated",
    "version": "3a00a91fb8db83d033b3008209c0d598d3866c54",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://github.com/AIsa-team/docs/blob/3a00a91fb8db83d033b3008209c0d598d3866c54/openapi/similarweb.json",
      "source_revision": "3a00a91fb8db83d033b3008209c0d598d3866c54",
      "converter": "scripts/prepare_response_source_migration.py@1",
      "refresh_policy": "pinned",
      "refresh_reason": "Public response migration requires per-route binding and semantic review.",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "60aedbb659fb3099a1726dd0749185e0e8bbe5ce64c627d792404a4c107363b5",
      "upstream_origin_sha256": "cd135ed3a725635bb3fd7296ead8914b1b89e97866e3cf06b574394d37ea40f0",
      "content_hash": "sha256:2922e56bab3c2db61dff68474a8735bbe5d1bf5c5ee5f5f1257d3ceb14cf54c4",
      "source_document_sha256": "3ddebac85fe9511f569ef7c9dbf46219d24a229199dabcf08df77aa495a7e3fb",
      "review_evidence": "Retain the exact existing typed public response from pinned AIsa Docs 3a00a91fb8db83d033b3008209c0d598d3866c54; operation ID and public route match. The current SELECT-only metadata proves the same Profile reference as frozen W0, verified target ownership, no query/encoding/managed transform, and the expected official provider origin. No response fields, requiredness, examples, or status were inferred or widened. Actual complete current Runtime projection and release approval remain required.",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:4f150b4d6bb7f0bf0c3cce58f9f98405661af0e4374e92d52f9ab77403aa4e97"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/similarweb/search/serp-players-aggregated": {
      "get": {
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "format": "json",
                      "keyword": "nike",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "traffic_source": "all",
                      "web_source": "total",
                      "metrics": [
                        "clicks",
                        "traffic_share",
                        "serp_features",
                        "top_url",
                        "top_url_position"
                      ],
                      "is_keyword_group": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "site": "nike.com",
                      "domain": "nike.com",
                      "clicks": 995980.9211660791,
                      "traffic_share": 0.9220950172205099,
                      "serp_features": [
                        "pla",
                        "paid",
                        "paid_sitelinks",
                        "organic_expanded_sitelinks",
                        "organic_sitelinks",
                        "organic"
                      ],
                      "top_url_position": 1,
                      "top_url": "nike.com"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "site": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "clicks": {
                            "type": "number"
                          },
                          "traffic_share": {
                            "type": "number"
                          },
                          "serp_features": {
                            "type": "string"
                          },
                          "top_url_position": {
                            "type": "integer"
                          },
                          "top_url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimilarWebMeta": {
        "type": "object",
        "description": "SimilarWeb v5 response envelope metadata.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Upstream status; 'success' on a successful call.",
            "example": "success"
          },
          "last_updated": {
            "type": "string",
            "description": "Date of the most recent data point available upstream (YYYY-MM-DD).",
            "example": "2026-06-30"
          },
          "request": {
            "type": "object",
            "description": "Full echo of the normalized upstream request (parameters as received)."
          },
          "query": {
            "type": "object",
            "description": "Pagination/sort echo when applicable (limit, offset, asc, sort)."
          }
        },
        "required": [
          "status"
        ]
      }
    }
  }
}
