{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Duffel response for get_duffel_stays_apis_v1_duffel_stays_loyalty_pro_d3855f",
    "version": "v2",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://duffel.com/docs/api/v2/search",
      "converter": "scripts/import_duffel_reference.py@1+explicit-response-binding@1",
      "fetched_at": "2026-10-09T03:47:35.116943+00:00",
      "content_hash": "sha256:1e10d91df3be928d740dea121e6d26591964dd92ed0d5277e88107b0364140a5",
      "references": [
        {
          "file": "src__types__ClientType.ts",
          "sha256": "3aa0ea34054d294f71deaad9005eba83e841cfb70588ca47b6ba55a9f59161b5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/types/ClientType.ts"
        },
        {
          "file": "src__Client.ts",
          "sha256": "0de07d39cc8dd3faae13561cd2e291e7bcaaf58761433bd35db4d929bc8d6b7b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Client.ts"
        },
        {
          "file": "src__Stays__SearchResults__SearchResults.ts",
          "sha256": "3e7bba8537165c3f4ce5335917e83e5033e32ae15be19df138db60a17c48e47b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/SearchResults/SearchResults.ts"
        },
        {
          "file": "src__Stays__Quotes__Quotes.ts",
          "sha256": "3e23e6b8d5c914fd9bb23360241878a85921734bf21d761207862d8664fca299",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Quotes/Quotes.ts"
        },
        {
          "file": "src__Stays__Bookings__Bookings.ts",
          "sha256": "b903a3227b7a364545853c082db3d2ebb50e46cd9b4cfb1c06f50fe696865c9a",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Bookings/Bookings.ts"
        },
        {
          "file": "src__Stays__LoyaltyProgrammes__LoyaltyProgrammes.ts",
          "sha256": "6fec6a4a64ad279177af097a476d13afce6a2b291ced73d0d32f81f9c4c3ede0",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/LoyaltyProgrammes/LoyaltyProgrammes.ts"
        },
        {
          "file": "src__Stays__Stays.ts",
          "sha256": "807594b33c581196b12a237bd19186ae1ca77d5f79a31dd8860a709c5e64f4c3",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Stays.ts"
        },
        {
          "url": "https://duffel.com/docs/api/v2/search",
          "sha256": "b60ba21b75715101b0e4fe09f935741eaa2179e54d5b39c4e4fac993d9662d28"
        },
        {
          "url": "https://duffel.com/docs/api/v2/search-result",
          "sha256": "352bb961eb981d52de48dff9e144211a93129eb097f1f4c371c8d381221c1927"
        },
        {
          "url": "https://duffel.com/docs/api/v2/quotes",
          "sha256": "93e71bbd10d8b238bd4e5566ffe7ccfbb8e1dba3483884900805b03d129da297"
        },
        {
          "url": "https://duffel.com/docs/api/v2/bookings",
          "sha256": "e0f12dfaf26c6b19bebaedf9cf951154ade0a560ba56cbdaa1696bb0dd47b28a"
        },
        {
          "url": "https://duffel.com/docs/api/v2/accommodation-loyalty-programmes",
          "sha256": "24e436c8136cb52391512ee66315096b733e2f01496b4aa284369c71da27fe00"
        }
      ],
      "sdk_revision": "ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16",
      "skipped_operations": [
        {
          "resource": "bookings",
          "operation": "update-booking",
          "reason": "no reviewed SDK envelope binding"
        }
      ],
      "authority": "official HTML structured schemas plus pinned provider SDK; converted, not downloaded OpenAPI",
      "response_status_basis": "Client.request accepts response.ok; no exact success status is inferred",
      "request_body_required_basis": "Stays.search(params), Quotes.create(rateId) and Bookings.create(payload) have required SDK arguments; Client.request wraps them in data",
      "limitations": [
        "No examples infer types, required fields, response codes or extra fields.",
        "SDK-added status and headers are not wire response fields.",
        "Conditional rules expressed in descriptions remain prose.",
        "Source acquisition and metadata matches do not prove current wire behavior."
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:450c5bf6afa65cf73964b9e5948bc50e54d0b4829b67d2e4a5c249b382161035",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "2d933627c781fb86e8493f15875f3f1938067ca8a041844daf626a4495c988d6",
      "upstream_origin_sha256": "e90e5f2b42f9d68931f2f9a9cbbdac739de18e6033ddaf5cd3a7972494a0c8c9",
      "parent_source_hash": "sha256:1f3e068658e1ec5e11b0f742aa8e46f13e95b8da46e8fbf510e0fb4fc6b823c4"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/duffel/stays/loyalty-programmes/list": {
      "get": {
        "responses": {
          "2XX": {
            "description": "Successful JSON response; SDK accepts the successful HTTP range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "additionalProperties": false,
                        "description": "Details of a loyalty programme which Duffel Stays supports.\nThe reference field can be used to match this loyalty programme to the `supported_loyalty_programme` field on an [Accommodation](/docs/api/v2/accommodation/schema#accommodation-schema-supported-loyalty-programme) or [Rate](/docs/api/v2/search-result/schema#search-result-schema-accommodation-accommodation-rooms-accommodation-rooms-rates-accommodation-rooms-rates-supported-loyalty-programme). \nYou can then utilise the name and logo_url fields to display the loyalty programme to your users for that Accommodation or Rate.\nThe `duffel_hotel_group_rewards` value is an example programme for testing and integration purposes, and will only appear on Duffel Hotel Group test hotels and rates.\"\n",
                        "properties": {
                          "logo_url_png_small": {
                            "description": "The URL of the loyalty programme's logo.",
                            "example": "https://assets.duffel.com/img/stays/loyalty-programmes/transparent-logo/duffel_hotel_group_rewards.png",
                            "format": "url",
                            "nullable": false,
                            "type": "string"
                          },
                          "logo_url_svg": {
                            "description": "The URL of the loyalty programme's logo.",
                            "example": "https://assets.duffel.com/img/stays/loyalty-programmes/full-color-logo/duffel_hotel_group_rewards-square.svg",
                            "format": "url",
                            "nullable": false,
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the loyalty programme.",
                            "example": "Duffel Hotel Group Rewards",
                            "type": "string"
                          },
                          "reference": {
                            "description": "The reference of this loyalty programme. This can be used to identify supported \nloyalty programmes on an [Accommodation](/docs/api/v2/accommodation/schema#accommodation-schema-supported-loyalty-programme) or [Rate](/docs/api/v2/search-result/schema#search-result-schema-accommodation-accommodation-rooms-accommodation-rooms-rates-accommodation-rooms-rates-supported-loyalty-programme).\n",
                            "enum": [
                              "wyndham_rewards",
                              "choice_privileges",
                              "marriott_bonvoy",
                              "best_western_rewards",
                              "world_of_hyatt",
                              "hilton_honors",
                              "ihg_one_rewards",
                              "leaders_club",
                              "stash_rewards",
                              "omni_select_guest",
                              "i_prefer",
                              "accor_live_limitless",
                              "my_6",
                              "jumeirah_one",
                              "global_hotel_alliance_discovery",
                              "duffel_hotel_group_rewards"
                            ],
                            "example": "duffel_hotel_group_rewards",
                            "title": "Loyalty Programme Reference",
                            "type": "string"
                          }
                        },
                        "title": "Accommodation Loyalty Programme",
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "before": {
                          "type": "string"
                        },
                        "after": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
