{
  "openapi": "3.1.0",
  "info": {
    "title": "Similarweb explicit response declaration",
    "version": "1",
    "x-aisa-source": {
      "kind": "manual",
      "converter": "scripts/import_similarweb_response_reference.py@2",
      "refresh_policy": "manual",
      "source_pages": [
        {
          "url": "https://docs.similarweb.com/api-v5/similarweb-api/website-analysis-api/website-segments/segments",
          "raw_content_hash": "sha256:635ba8e2eff2da968f990c56ac6a0ac49f0a2030ab47f1f6540df51703b53722"
        }
      ],
      "limits": [
        "UI value fields are example values, not defaults. Named array children and differing prototypes fail closed."
      ],
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "05b7216bd5a7807ba07be0367959de70792e108b6c285064a3877c63c6a3136f",
      "upstream_origin_sha256": "cd135ed3a725635bb3fd7296ead8914b1b89e97866e3cf06b574394d37ea40f0",
      "url": "https://docs.similarweb.com/api-v5/similarweb-api/website-analysis-api/website-segments/segments",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "content_hash": "sha256:3e6530c8ac49584e4a722c0a6eed6508eecd748e841953f052377982ed9482da",
      "refresh_reason": "Official typed response snapshot and deployment transport binding require explicit manual review.",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:15149a3f9ba4c99eb226f1cd30d98679b3c2ba2f3434d960445e910bc081d297"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/similarweb/segment-analysis/segments/traffic-and-engagement": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "object",
                          "properties": {
                            "format": {
                              "type": "string",
                              "description": "Format in which the reply should be returned",
                              "enum": [
                                "json",
                                "xml"
                              ]
                            },
                            "segment": {
                              "type": "string",
                              "example": "a4a9eadc-09ff-4f0b-beb2-40f7c5d07599",
                              "minLength": 1,
                              "description": "Segment ID to analyze"
                            },
                            "granularity": {
                              "type": "string",
                              "example": "monthly",
                              "description": "Time granularity for the returned values",
                              "enum": [
                                "daily",
                                "weekly",
                                "monthly"
                              ]
                            },
                            "country": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "us",
                              "description": "Two-letter country code (e.g., 'us', 'gb', 'ww')"
                            },
                            "start_date": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "2025-10-01",
                              "format": "date-time",
                              "description": "Start date in 'YYYY-MM' or 'YYYY-MM-DD' format or relative keywords: latest, X_months_ago, X_days_ago"
                            },
                            "end_date": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "2025-10-30",
                              "format": "date-time",
                              "description": "End date in 'YYYY-MM' or 'YYYY-MM-DD' format or relative keywords: latest, X_months_ago, X_days_ago"
                            },
                            "web_source": {
                              "type": "string",
                              "description": "The device/platform the traffic is coming from",
                              "enum": [
                                "desktop",
                                "mobile_web",
                                "total"
                              ]
                            },
                            "metrics": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "description": "Comma-separated list of metrics: visits, bounce_rate, page_views, average_visit_duration, pages_per_visit, share, unique_visitors",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "visits",
                                  "bounce_rate",
                                  "page_views",
                                  "average_visit_duration",
                                  "pages_per_visit",
                                  "share",
                                  "unique_visitors"
                                ]
                              }
                            },
                            "mtd": {
                              "type": "boolean",
                              "description": "When 'true', end_date is set to the latest available days' data (month-to-date). To use, set granularity to 'daily'"
                            }
                          },
                          "required": [
                            "segment"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "error_code": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "example": "200",
                          "format": "int32"
                        },
                        "error_message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last_updated": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "2025-10-30",
                          "format": "date-time"
                        },
                        "data_type": {
                          "type": "string",
                          "enum": [
                            "not_applicable",
                            "estimated",
                            "verified"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2025-10-01",
                            "format": "date-time",
                            "description": "Date of the requested data in 'YYYY-MM' or 'YYYY-MM-DD' format"
                          },
                          "visits": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "2655.3025",
                            "format": "double",
                            "description": "Estimated number of visits to the website"
                          },
                          "bounce_rate": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "0.15913776",
                            "format": "double",
                            "description": "Percentage of visits that view only one page on the website"
                          },
                          "pages_per_visit": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "0.9947667",
                            "format": "double",
                            "description": "Average number of pages viewed per visit"
                          },
                          "average_visit_duration": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "description": "Average time on website (in seconds)"
                          },
                          "page_views": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "2641.4065",
                            "format": "double",
                            "description": "Estimated number of pages viewed on the website"
                          },
                          "share": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "0.014075259",
                            "format": "double",
                            "description": "Percentage of total site traffic that comes from this segment"
                          },
                          "unique_visitors": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": "1834.0046",
                            "format": "double",
                            "description": "Estimated number of unique visitors (not deduplicated across devices) to the website"
                          },
                          "confidence": {
                            "type": "string",
                            "enum": [
                              "high",
                              "low",
                              "very_low"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
