{
  "openapi": "3.0.3",
  "info": {
    "title": "Reviewed public response get_twitter_user_batch_info_by_ids",
    "version": "3a00a91fb8db83d033b3008209c0d598d3866c54",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://github.com/AIsa-team/docs/blob/3a00a91fb8db83d033b3008209c0d598d3866c54/openapi/twitter-user-batch_01.json",
      "source_revision": "3a00a91fb8db83d033b3008209c0d598d3866c54",
      "converter": "scripts/prepare_response_source_migration.py@1",
      "refresh_policy": "pinned",
      "refresh_reason": "Public response migration requires per-route binding and semantic review.",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "058e3d0459f7ef77df1a843b4aaf97269c29121af5cc47722c3b6eb7befe78e5",
      "upstream_origin_sha256": "62aca355a6b8b8f0e3fd2ceef18388716be2efc9a6a354ce13b30562f3c30e58",
      "content_hash": "sha256:acf8acceee6a383eea2ef3be4bc51547beb1ee44a6bbf5271fb46504e66e6660",
      "source_document_sha256": "f04b3793855c293d76cc695b73eaf3ee4f35e1160125bb6bdbddfd7a1687d106",
      "review_evidence": "Retain the exact existing typed public response from pinned AIsa Docs 3a00a91fb8db83d033b3008209c0d598d3866c54; operation ID and public route match. The current SELECT-only metadata proves the same Profile reference as frozen W0, verified target ownership, no query/encoding/managed transform, and the expected official provider origin. No response fields, requiredness, examples, or status were inferred or widened. Actual complete current Runtime projection and release approval remain required.",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:4f3ecb91677e9e0abc6ea6edabc8b39a8a388fb264880820acab8a3e2b6804d6"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/twitter/user/batch_info_by_ids": {
      "get": {
        "responses": {
          "200": {
            "description": "Batch user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchUserInfoResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "isBlueVerified": {
                  "type": "boolean"
                },
                "verifiedType": {
                  "type": "string"
                },
                "profilePicture": {
                  "type": "string"
                },
                "coverPicture": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "followers": {
                  "type": "integer"
                },
                "following": {
                  "type": "integer"
                },
                "canDm": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string"
                },
                "favouritesCount": {
                  "type": "integer"
                },
                "hasCustomTimelines": {
                  "type": "boolean"
                },
                "isTranslator": {
                  "type": "boolean"
                },
                "mediaCount": {
                  "type": "integer"
                },
                "statusesCount": {
                  "type": "integer"
                },
                "withheldInCountries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "possiblySensitive": {
                  "type": "boolean"
                },
                "pinnedTweetIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isAutomated": {
                  "type": "boolean"
                },
                "automatedBy": {
                  "type": "string"
                },
                "unavailable": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "unavailableReason": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      }
    }
  }
}
