{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Duffel response for get_duffel_offer_requests_list",
    "version": "v2",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://duffel.com/docs/api/v2/offer-requests",
      "converter": "scripts/import_duffel_flights_reference.py@1+explicit-response-binding@1",
      "fetched_at": "2026-10-09T03:52:59.395307+00:00",
      "content_hash": "sha256:5bb1ade8a35019289faeb18f10f2545b4c088655153685e42a1549f7e6f5a166",
      "references": [
        {
          "file": "src__types__ClientType.ts",
          "sha256": "3aa0ea34054d294f71deaad9005eba83e841cfb70588ca47b6ba55a9f59161b5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/types/ClientType.ts"
        },
        {
          "file": "src__Client.ts",
          "sha256": "0de07d39cc8dd3faae13561cd2e291e7bcaaf58761433bd35db4d929bc8d6b7b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Client.ts"
        },
        {
          "file": "src__booking__OfferRequests__OfferRequests.ts",
          "sha256": "0ba7f0987376f743b3e7ff96170826ee5a644b904818e703ccb3f5b0e8ee22c4",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OfferRequests/OfferRequests.ts"
        },
        {
          "file": "src__booking__Offers__Offers.ts",
          "sha256": "022d6b38a8f299dadb29f37e6c23c44b23df9842b335ba0fab5c7ed1efef29c5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Offers/Offers.ts"
        },
        {
          "file": "src__booking__Orders__Orders.ts",
          "sha256": "91f5748faac0619fbccb0955156a944507211cfea14df01e323e553138e23a64",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Orders/Orders.ts"
        },
        {
          "file": "src__booking__OrderChangeRequests__OrderChangeRequests.ts",
          "sha256": "cf299f61571df50113312835148d507b47ec68033e230876be054d93431e0dfe",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChangeRequests/OrderChangeRequests.ts"
        },
        {
          "file": "src__booking__OrderChanges__OrderChanges.ts",
          "sha256": "ba165641b85317525fd8d9f2db61b5fb9072b40177558f26f291797d6adfeb6c",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChanges/OrderChanges.ts"
        },
        {
          "file": "src__booking__OrderCancellations__OrderCancellations.ts",
          "sha256": "f93f93edb989e4c8162ace0cc40a01f6b77d29fd671db65dfef59354863d5716",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderCancellations/OrderCancellations.ts"
        },
        {
          "file": "src__booking__SeatMaps__SeatMaps.ts",
          "sha256": "07eca0f70081f97688e707bdd7084f8495fb2d3a64bde3d0bc0388bf0ea51b47",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/SeatMaps/SeatMaps.ts"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offer-requests",
          "sha256": "925ddea94ffeccd6d6411a593bec37e76916e5f26d5cb58b9023bc3aea2d534c"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offers",
          "sha256": "5804d1ddaaed52d9ee74c95cd89a402fd4326dfde402c305b6796c95eb2c4d0f"
        },
        {
          "url": "https://duffel.com/docs/api/v2/orders",
          "sha256": "cb3190f72e56f3442e7fb856b49099ba847051a835a4fbbcf9109c39e3cd2b7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-change-requests",
          "sha256": "6a5623159b6508cbc6b748d0303df43243e4940fa0934028233aadd3dba654b0"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-changes",
          "sha256": "77ac67f9b74b019703de54f6597b0529955bbb1aa13c35c6759ec23a025f0b29"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-cancellations",
          "sha256": "0b1f73a9f8becf1665a1e591fce9001bd4c6c11c891c7b39b90e01dcc6f46d7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/seat-maps",
          "sha256": "1124c3c358e1cb250c56097e44c3b8e6c1c75dea847557761c0062dd960ff606"
        }
      ],
      "sdk_revision": "ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16",
      "skipped_operations": [
        {
          "resource": "offers",
          "operation": "update-offer-passenger-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "price-offer",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "get-upsell-offers",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "update-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-orders",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "create-order-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "price-order",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-available-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "get-order-change-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "confirm-order-change",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-cancellations",
          "operation": "get-order-cancellations",
          "reason": "outside reviewed operation bindings"
        }
      ],
      "authority": "Official HTML structured schemas plus pinned SDK wire envelopes; converted, not downloaded OpenAPI",
      "request_body_required_basis": "All selected create methods have required SDK payload arguments; Client.request wraps payload in data.",
      "response_status_basis": "Client.request accepts response.ok; no exact success status inferred.",
      "limitations": [
        "No schema types or required fields inferred from examples.",
        "Offer-request create/get alternate view responses remain untyped.",
        "Source declarations do not prove current execution compatibility."
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:0659576c6ab1b42473fff235fd4b24a92c4202bcdee0c0a818db2c4ff6672c8f",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "8b85d71d354d63e8ddb1bcce8087799cbd1a79d9dd7dc3ec8b638d13f0290852",
      "upstream_origin_sha256": "e90e5f2b42f9d68931f2f9a9cbbdac739de18e6033ddaf5cd3a7972494a0c8c9",
      "parent_source_hash": "sha256:d875b5ad32404f5d316f916cceb24fb5d3eddfed2ef4dcb1eca324850b752fbf"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/duffel/flights/offer-requests/list": {
      "get": {
        "responses": {
          "2XX": {
            "description": "Successful HTTP response; fixed SDK accepts response.ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "airline_credit_ids": {
                            "description": "The IDs of airline credits to be used when searching for offers. These credits will be evaluated for applicability to the returned offers and included in the `available_airline_credits` field of compatible offers.",
                            "example": [
                              "acd_00009htYpSCXrwaB9DnUm1",
                              "acd_00009htYpSCXrwaB9DnUm2"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "cabin_class": {
                            "description": "The cabin that the passengers want to travel in",
                            "enum": [
                              "first",
                              "business",
                              "premium_economy",
                              "economy"
                            ],
                            "example": "economy",
                            "nullable": true,
                            "type": "string"
                          },
                          "client_key": {
                            "description": "A client key to allow the Duffel Ancillaries component to talk to the Duffel API to retrieve information about an offer and its ancillaries. Learn more about how to use this on https://duffel.com/docs/guides/ancillaries-component.",
                            "example": "SFMyNTY.g2gDdAAAAANkAAlsaXZlX21vZGVkAAVmYWxzZWQAD29yZ2FuaXNhdGlvbl9pZG0AAAAab3JnXzAwMDA5VWhGY29ERGk5TTFTRjhiS2FkAAtyZXNvdXJjZV9pZG0AAAAab3JxXzAwMDBBVkZWZnFJUXFBWXpYeVRRVlVuBgDpOCvdhwFiAAFRgA.df1RmLeBFUR7r1WFHHiEksilfSZNLhmPX0nj5VOKWJ4",
                            "type": "string"
                          },
                          "created_at": {
                            "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the offer request was created",
                            "example": "2020-02-12T15:21:01.927Z",
                            "format": "date-time",
                            "type": "string"
                          },
                          "id": {
                            "description": "Duffel's unique identifier for the resource",
                            "example": "orq_00009hjdomFOCJyxHG7k7k",
                            "type": "string"
                          },
                          "live_mode": {
                            "description": "Whether the offer request was created in live mode. This field will be set to `true` if the offer request was created in live mode, or `false` if it was created in test mode.",
                            "example": false,
                            "type": "boolean"
                          },
                          "offers": {
                            "description": "The offers returned by the airlines",
                            "items": {
                              "properties": {
                                "base_amount": {
                                  "description": "The base price of the offer for all passengers, excluding taxes. It does not include the base amount of any service(s) that might be booked with the offer.",
                                  "example": "30.20",
                                  "type": "string"
                                },
                                "base_currency": {
                                  "description": "The currency of the `base_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nIt will match your organisation's billing currency unless you’re using Duffel as an accredited IATA agent, in which case it will be in the currency provided by the airline (which will usually be based on the country where your IATA agency is registered).\n",
                                  "example": "GBP",
                                  "format": "ISO 4217",
                                  "type": "string"
                                },
                                "conditions": {
                                  "description": "The conditions associated with this offer, describing the kinds of modifications you can make post-booking and any penalties that will apply to those modifications.\nThis information assumes the condition is applied to all of the slices and passengers associated with this offer - for information at the slice level (e.g. \"what happens if I just want to change the first slice?\") refer to the `slices`.\nIf a particular kind of modification is allowed, you may not always be able to take action through the Duffel API. In some cases, you may need to contact the Duffel support team or the airline directly.\n",
                                  "properties": {
                                    "change_before_departure": {
                                      "description": "Whether the whole offer can be changed before the departure of the first slice.\nIf all of the slices on the offer can be changed then the `allowed` property will be `true`. Refer to the `slices` for information about change penalties.\nIf any of the slices on the offer can't be changed then the `allowed` property will be `false`. In this case you should refer to the `slices` conditions to determine if any part of the offer is changeable.\nIf the airline hasn't provided any information about whether this offer can be changed then this property will be `null`.\n",
                                      "nullable": true,
                                      "properties": {
                                        "allowed": {
                                          "description": "Whether this kind of modification is allowed post-booking",
                                          "example": true,
                                          "nullable": false,
                                          "type": "boolean"
                                        },
                                        "penalty_amount": {
                                          "description": "If the modification is `allowed` then this is the amount payable to apply the modification to all passengers. If there is no penalty, the value will be zero.\nIf the modification isn't `allowed` or the penalty is not known then this field will be `null`.\nIf this is `null` then the `penalty_currency` will also be `null`.\n",
                                          "example": "100.00",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "penalty_currency": {
                                          "description": "The currency of the `penalty_amount` as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis will be in a currency determined by the airline, which is not necessarily the same as the currency of the offer or order.\nIf this is `null` then `penalty_amount` will also be `null`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "nullable": true,
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "refund_before_departure": {
                                      "description": "Whether the whole offer can be refunded before the departure of the first slice.\nIf all of the slices on the offer can be refunded then the `allowed` property will be `true` and information will be provided about any penalties.\nIf any of the slices on the offer can't be refunded then the `allowed` property will be `false`.\nIf the airline hasn't provided any information about whether this offer can be refunded then this property will be `null`.\n",
                                      "nullable": true,
                                      "properties": {
                                        "allowed": {
                                          "description": "Whether this kind of modification is allowed post-booking",
                                          "example": true,
                                          "nullable": false,
                                          "type": "boolean"
                                        },
                                        "penalty_amount": {
                                          "description": "If the modification is `allowed` then this is the amount payable to apply the modification to all passengers. If there is no penalty, the value will be zero.\nIf the modification isn't `allowed` or the penalty is not known then this field will be `null`.\nIf this is `null` then the `penalty_currency` will also be `null`.\n",
                                          "example": "100.00",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "penalty_currency": {
                                          "description": "The currency of the `penalty_amount` as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis will be in a currency determined by the airline, which is not necessarily the same as the currency of the offer or order.\nIf this is `null` then `penalty_amount` will also be `null`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "nullable": true,
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "title": "OfferConditions",
                                  "type": "object"
                                },
                                "created_at": {
                                  "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the offer was created",
                                  "example": "2020-01-17T10:12:14.545Z",
                                  "format": "date-time",
                                  "type": "string"
                                },
                                "expires_at": {
                                  "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime expiry of the offer before which the traveller should use this offer to create an order. After this time the offer can no longer be used to create an order.",
                                  "example": "2020-01-17T10:42:14.545Z",
                                  "format": "date-time",
                                  "type": "string"
                                },
                                "id": {
                                  "description": "Duffel's unique identifier for the resource",
                                  "example": "xxx_00009hthhsUZ8W4LxQgkjo",
                                  "type": "string"
                                },
                                "live_mode": {
                                  "description": "Whether the offer request was created in live mode. This field will be set to `true` if the offer request was created in live mode, or `false` if it was created in test mode.",
                                  "example": true,
                                  "type": "boolean"
                                },
                                "owner": {
                                  "allOf": [
                                    {
                                      "additionalProperties": false,
                                      "properties": {
                                        "conditions_of_carriage_url": {
                                          "description": "URL to the airline's conditions of carriage.",
                                          "example": "https://www.britishairways.com/en-gb/information/legal/british-airways/general-conditions-of-carriage",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "iata_code": {
                                          "description": "The two-character IATA code for the airline. This may be `null` for non-IATA carriers.",
                                          "example": "BA",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "id": {
                                          "description": "Duffel's unique identifier for the airline",
                                          "example": "arl_00001876aqC8c5umZmrRds",
                                          "nullable": false,
                                          "type": "string"
                                        },
                                        "logo_lockup_url": {
                                          "description": "Path to a svg of the airline lockup logo.\nA lockup logo is also called a combination logo, in which it combines the logotype and logomark.\nThis may be `null` if no logo is available.",
                                          "example": "https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/BA.svg",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "logo_symbol_url": {
                                          "description": "Path to a svg of the airline logo.\nThis may be `null` if no logo is available.",
                                          "example": "https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/BA.svg",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "name": {
                                          "description": "The name of the airline",
                                          "example": "British Airways",
                                          "nullable": false,
                                          "type": "string"
                                        }
                                      },
                                      "title": "Airline",
                                      "type": "object"
                                    },
                                    {
                                      "description": "The airline which provided the offer"
                                    }
                                  ]
                                },
                                "partial": {
                                  "description": "Partial offers are a new concept we're introducing as a part of a new multi-step search flow that we're currently experimenting with.\nA partial offer can't be booked directly, but it can be combined with other partial offers to form a full offer.\nPartial offers are only ever returned through the multi-step search flow. So there's no need to add any handling to deal with partial offers if you're using the traditional `OfferRequest` search flow to create offers.\n",
                                  "example": true,
                                  "type": "boolean"
                                },
                                "passenger_identity_documents_required": {
                                  "description": "Whether identity documents must be provided for each of the passengers when creating an order based on this offer. If this is `true`, you must provide a passport document for every passenger.",
                                  "example": false,
                                  "type": "boolean"
                                },
                                "passengers": {
                                  "description": "The passengers included in the offer",
                                  "items": {
                                    "properties": {
                                      "age": {
                                        "description": "The age of the passenger on the `departure_date` of the final slice",
                                        "example": 14,
                                        "maximum": 130,
                                        "minimum": 0,
                                        "nullable": true,
                                        "type": "integer"
                                      },
                                      "family_name": {
                                        "description": "The passenger's family name",
                                        "example": "Earhart",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "fare_type": {
                                        "description": "The fare type of the passenger",
                                        "example": "contract_bulk",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "given_name": {
                                        "description": "The passenger's given name",
                                        "example": "Amelia",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "id": {
                                        "description": "The identifier for the passenger. This ID will be generated by Duffel",
                                        "example": "pas_00009hj8USM7Ncg31cBCL",
                                        "type": "string"
                                      },
                                      "loyalty_programme_accounts": {
                                        "description": "The loyalty programme accounts for this passenger",
                                        "items": {
                                          "properties": {
                                            "account_number": {
                                              "description": "The passenger's account number for this loyalty programme account",
                                              "example": "12901014",
                                              "type": "string"
                                            },
                                            "airline_iata_code": {
                                              "description": "The IATA code for the airline that this loyalty programme account belongs to",
                                              "example": "BA",
                                              "type": "string"
                                            }
                                          },
                                          "title": "Loyalty Programme Account",
                                          "type": "object"
                                        },
                                        "type": "array"
                                      },
                                      "type": {
                                        "description": "The type of the passenger",
                                        "enum": [
                                          "adult",
                                          "child",
                                          "infant_without_seat"
                                        ],
                                        "example": "adult",
                                        "nullable": true,
                                        "type": "string"
                                      }
                                    },
                                    "title": "Offer Passenger",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "payment_requirements": {
                                  "allOf": [
                                    {
                                      "properties": {
                                        "payment_required_by": {
                                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime by which you must pay for this offer. At this time, if still unpaid, the reserved space on the flight(s) will be released and you will have to create a new order.\nThis will be `null` when the offer requires immediate payment - that is, when `requires_instant_payment` is `true`.\n",
                                          "example": "2020-01-17T10:42:14Z",
                                          "format": "date-time",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "price_guarantee_expires_at": {
                                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the price associated with the order will no longer be guaranteed by the airline and may change before payment.\nThis will be `null` when `requires_instant_payment` is `true`.\n",
                                          "example": "2020-01-17T10:42:14Z",
                                          "format": "date-time",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "requires_instant_payment": {
                                          "description": "When payment is required at the time of booking this will be `true` and `payment_required_by` and `price_guarantee_expires_at` will be `null`. When payment can be made at a time after booking, this will be `false` and the time limits on the payment will be provided in `payment_required_by` and `price_guarantee_expires_at`.\n",
                                          "example": false,
                                          "type": "boolean"
                                        }
                                      },
                                      "title": "OfferPaymentRequirements",
                                      "type": "object"
                                    },
                                    {
                                      "description": "The payment requirements for this offer"
                                    }
                                  ]
                                },
                                "private_fares": {
                                  "description": "The private fares applied on this offer.",
                                  "items": {
                                    "properties": {
                                      "corporate_code": {
                                        "description": "The corporate code that was applied, if any",
                                        "example": "FLX53",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "tour_code": {
                                        "description": "The tour code that was applied, if any",
                                        "example": "578DFL",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "tracking_reference": {
                                        "description": "The tracking reference that was applied, if any",
                                        "example": "ABN:2345678",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of private fare applied",
                                        "enum": [
                                          "corporate",
                                          "leisure",
                                          "negotiated"
                                        ],
                                        "example": "corporate",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "corporate_code",
                                      "tracking_reference",
                                      "tour_code"
                                    ],
                                    "title": "Offer Private Fares",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "slices": {
                                  "description": "The [slices](/docs/api/overview/key-concepts) that make up this offer. Each slice will include one or more [segments](/docs/api/overview/key-concepts), the specific flights that the airline is offering to take the passengers from the slice's `origin` to its `destination`.\n[Partial](#offers-schema-partial) offers contain a single slice as each partial offer is for a particular slice of the journey.\n",
                                  "items": {
                                    "properties": {
                                      "comparison_key": {
                                        "description": "A hash uniquely identifying this slice. This value could be use to group together identical slices from different offers.",
                                        "example": "BmlZDw==",
                                        "type": "string"
                                      },
                                      "conditions": {
                                        "description": "The conditions associated with this slice, describing the kinds of\nmodifications you can make post-booking and any penalties that\nwill apply to those modifications and also what perks will\nbe available to passengers when travelling.\n\nThis condition is applied only to this slice and to all the passengers\nassociated with this offer - for information at the offer level\n(e.g. \"what happens if I want to change all the slices?\") refer to the\n`conditions` at the top level.\n\nIf a particular kind of modification is allowed, you may not always be able to take action through\nthe Duffel API. In some cases, you may need to contact the Duffel support team or\nthe airline directly.\n\nNote that the perks associated with the slice are aggregated across passengers\nand segments and are intended to provide a brief summary of the passenger experience, however\nthe experience may not be consistent across all segments. As an example, priority boarding may\nbe flagged as available on the slice but not available on all segments on the slice.\n\n**Note**: `advance_seat_selection`, `priority_boarding` and `priority_check_in` are under restricted `NGS` feature.\nIf you need access, get in touch with the Duffel support team.\n",
                                        "properties": {
                                          "advance_seat_selection": {
                                            "description": "Whether passengers are able to select a seat prior to check in.",
                                            "example": "true",
                                            "nullable": true,
                                            "type": "boolean"
                                          },
                                          "change_before_departure": {
                                            "description": "Whether this slice can be changed before the departure.\nIf the slice can be changed for all of the passengers then the `allowed` property will be `true` and information will be provided about any penalties.\nIf none of the passengers on the slice can be changed then the `allowed` property will be `false`.\nIn all other cases this property will be `null` indicating we can't provide the information for this slice.\nThe `penalty_amount` is specific to changing this slice and may not be the penalty that is applied if the entire offer is changed.\n",
                                            "nullable": true,
                                            "properties": {
                                              "allowed": {
                                                "description": "Whether this kind of modification is allowed post-booking",
                                                "example": true,
                                                "nullable": false,
                                                "type": "boolean"
                                              },
                                              "penalty_amount": {
                                                "description": "If the modification is `allowed` then this is the amount payable to apply the modification to all passengers. If there is no penalty, the value will be zero.\nIf the modification isn't `allowed` or the penalty is not known then this field will be `null`.\nIf this is `null` then the `penalty_currency` will also be `null`.\n",
                                                "example": "100.00",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "penalty_currency": {
                                                "description": "The currency of the `penalty_amount` as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis will be in a currency determined by the airline, which is not necessarily the same as the currency of the offer or order.\nIf this is `null` then `penalty_amount` will also be `null`.\n",
                                                "example": "GBP",
                                                "format": "ISO 4217",
                                                "nullable": true,
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "priority_boarding": {
                                            "description": "Whether passengers are given preferential boarding over other passengers in their cabin.",
                                            "example": "true",
                                            "nullable": true,
                                            "type": "boolean"
                                          },
                                          "priority_check_in": {
                                            "description": "Whether passengers are given access to a fast track lane during check in.",
                                            "example": "true",
                                            "nullable": true,
                                            "type": "boolean"
                                          }
                                        },
                                        "title": "OfferSliceConditions",
                                        "type": "object"
                                      },
                                      "destination": {
                                        "allOf": [
                                          {
                                            "additionalProperties": false,
                                            "properties": {
                                              "airports": {
                                                "description": "The airports associated to a city. This will only be provided where the `type` is `city`.",
                                                "items": {
                                                  "properties": {
                                                    "city": {
                                                      "description": "The metropolitan area where the airport is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                      "nullable": true,
                                                      "properties": {
                                                        "airports": {
                                                          "description": "List of airports associated with the city",
                                                          "items": {
                                                            "properties": {
                                                              "iata_code": {
                                                                "description": "The three-character IATA code for the airport",
                                                                "example": "LHR",
                                                                "type": "string"
                                                              },
                                                              "iata_country_code": {
                                                                "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                                "example": "GB",
                                                                "format": "ISO 3166-1 alpha-2",
                                                                "type": "string"
                                                              },
                                                              "icao_code": {
                                                                "description": "The four-character ICAO code for the airport",
                                                                "example": "EGLL",
                                                                "nullable": true,
                                                                "type": "string"
                                                              },
                                                              "id": {
                                                                "description": "Duffel's unique identifier for the resource",
                                                                "example": "arp_lhr_gb",
                                                                "type": "string"
                                                              },
                                                              "latitude": {
                                                                "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                                "example": 64.068865,
                                                                "format": "float",
                                                                "type": "number"
                                                              },
                                                              "longitude": {
                                                                "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                                "example": -141.951519,
                                                                "format": "float",
                                                                "type": "number"
                                                              },
                                                              "name": {
                                                                "description": "The name of the airport",
                                                                "example": "Heathrow",
                                                                "type": "string"
                                                              },
                                                              "time_zone": {
                                                                "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                                "example": "Europe/London",
                                                                "type": "string"
                                                              }
                                                            },
                                                            "type": "object"
                                                          },
                                                          "type": "array"
                                                        },
                                                        "iata_code": {
                                                          "description": "The three-character IATA code for the city",
                                                          "example": "LON",
                                                          "type": "string"
                                                        },
                                                        "iata_country_code": {
                                                          "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                          "example": "GB",
                                                          "format": "ISO 3166-1 alpha-2",
                                                          "type": "string"
                                                        },
                                                        "id": {
                                                          "description": "Duffel's unique identifier for the resource",
                                                          "example": "cit_lon_gb",
                                                          "type": "string"
                                                        },
                                                        "name": {
                                                          "description": "The name of the city",
                                                          "example": "London",
                                                          "type": "string"
                                                        }
                                                      },
                                                      "title": "City",
                                                      "type": "object"
                                                    },
                                                    "city_name": {
                                                      "description": "The name of the city (or cities separated by a `/`) where the airport is located",
                                                      "example": "London",
                                                      "type": "string"
                                                    },
                                                    "iata_city_code": {
                                                      "description": "The three-character IATA code for the city where the airport is located",
                                                      "example": "LON",
                                                      "type": "string"
                                                    },
                                                    "iata_code": {
                                                      "description": "The three-character IATA code for the airport",
                                                      "example": "LHR",
                                                      "type": "string"
                                                    },
                                                    "iata_country_code": {
                                                      "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                      "example": "GB",
                                                      "format": "ISO 3166-1 alpha-2",
                                                      "type": "string"
                                                    },
                                                    "icao_code": {
                                                      "description": "The four-character ICAO code for the airport",
                                                      "example": "EGLL",
                                                      "nullable": true,
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "description": "Duffel's unique identifier for the resource",
                                                      "example": "arp_lhr_gb",
                                                      "type": "string"
                                                    },
                                                    "latitude": {
                                                      "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                      "example": 64.068865,
                                                      "format": "float",
                                                      "type": "number"
                                                    },
                                                    "longitude": {
                                                      "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                      "example": -141.951519,
                                                      "format": "float",
                                                      "type": "number"
                                                    },
                                                    "name": {
                                                      "description": "The name of the airport",
                                                      "example": "Heathrow",
                                                      "type": "string"
                                                    },
                                                    "time_zone": {
                                                      "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                      "example": "Europe/London",
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "iata_code",
                                                    "id",
                                                    "name",
                                                    "iata_country_code",
                                                    "latitude",
                                                    "longitude",
                                                    "icao_code",
                                                    "time_zone",
                                                    "city_name",
                                                    "iata_city_code"
                                                  ],
                                                  "title": "Airport",
                                                  "type": "object"
                                                },
                                                "nullable": true,
                                                "type": "array"
                                              },
                                              "city": {
                                                "description": "The metropolitan area where the airport is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                "nullable": true,
                                                "properties": {
                                                  "airports": {
                                                    "description": "List of airports associated with the city",
                                                    "items": {
                                                      "properties": {
                                                        "iata_code": {
                                                          "description": "The three-character IATA code for the airport",
                                                          "example": "LHR",
                                                          "type": "string"
                                                        },
                                                        "iata_country_code": {
                                                          "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                          "example": "GB",
                                                          "format": "ISO 3166-1 alpha-2",
                                                          "type": "string"
                                                        },
                                                        "icao_code": {
                                                          "description": "The four-character ICAO code for the airport",
                                                          "example": "EGLL",
                                                          "nullable": true,
                                                          "type": "string"
                                                        },
                                                        "id": {
                                                          "description": "Duffel's unique identifier for the resource",
                                                          "example": "arp_lhr_gb",
                                                          "type": "string"
                                                        },
                                                        "latitude": {
                                                          "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                          "example": 64.068865,
                                                          "format": "float",
                                                          "type": "number"
                                                        },
                                                        "longitude": {
                                                          "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                          "example": -141.951519,
                                                          "format": "float",
                                                          "type": "number"
                                                        },
                                                        "name": {
                                                          "description": "The name of the airport",
                                                          "example": "Heathrow",
                                                          "type": "string"
                                                        },
                                                        "time_zone": {
                                                          "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                          "example": "Europe/London",
                                                          "type": "string"
                                                        }
                                                      },
                                                      "type": "object"
                                                    },
                                                    "type": "array"
                                                  },
                                                  "iata_code": {
                                                    "description": "The three-character IATA code for the city",
                                                    "example": "LON",
                                                    "type": "string"
                                                  },
                                                  "iata_country_code": {
                                                    "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                    "example": "GB",
                                                    "format": "ISO 3166-1 alpha-2",
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "description": "Duffel's unique identifier for the resource",
                                                    "example": "cit_lon_gb",
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "description": "The name of the city",
                                                    "example": "London",
                                                    "type": "string"
                                                  }
                                                },
                                                "title": "City",
                                                "type": "object"
                                              },
                                              "city_name": {
                                                "description": "The name of the city (or cities separated by a `/`) where the airport is located",
                                                "example": "London",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "iata_city_code": {
                                                "description": "The 3-letter IATA code for the city where the place is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                "example": "LON",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "iata_code": {
                                                "description": "The 3-letter IATA code for the place",
                                                "example": "LHR",
                                                "type": "string"
                                              },
                                              "iata_country_code": {
                                                "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                "example": "GB",
                                                "format": "ISO 3166-1 alpha-2",
                                                "type": "string"
                                              },
                                              "icao_code": {
                                                "description": "The four-character ICAO code for the airport",
                                                "example": "EGLL",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "id": {
                                                "description": "Duffel's unique identifier for the resource",
                                                "example": "arp_lhr_gb",
                                                "type": "string"
                                              },
                                              "latitude": {
                                                "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                "example": 64.068865,
                                                "format": "float",
                                                "nullable": true,
                                                "type": "number"
                                              },
                                              "longitude": {
                                                "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                "example": -141.951519,
                                                "format": "float",
                                                "nullable": true,
                                                "type": "number"
                                              },
                                              "name": {
                                                "description": "The name of the place",
                                                "example": "Heathrow",
                                                "type": "string"
                                              },
                                              "time_zone": {
                                                "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                "example": "Europe/London",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "type": {
                                                "description": "The type of the place",
                                                "enum": [
                                                  "airport",
                                                  "city"
                                                ],
                                                "example": "airport",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "iata_city_code",
                                              "iata_code",
                                              "id",
                                              "name",
                                              "type",
                                              "iata_country_code",
                                              "latitude",
                                              "longitude",
                                              "icao_code",
                                              "time_zone",
                                              "city_name"
                                            ],
                                            "title": "Place",
                                            "type": "object"
                                          },
                                          {
                                            "description": "The city or airport where this slice ends"
                                          }
                                        ]
                                      },
                                      "destination_type": {
                                        "description": "The type of the destination",
                                        "enum": [
                                          "airport",
                                          "city"
                                        ],
                                        "example": "airport",
                                        "type": "string"
                                      },
                                      "duration": {
                                        "description": "The duration of the slice, represented as a [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) duration",
                                        "example": "PT02H26M",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "fare_brand_name": {
                                        "description": "The name of the fare brand associated with this slice.\nA fare brand specifies the travel conditions you get on your slice made available by the airline.\ne.g. a British Airways Economy Basic fare will only include a hand baggage allowance.\nIt is worth noting that the fare brand names are defined by the airlines themselves and\ntherefore they are subject to change without any prior notice.\nWe’re in the process of adding support for `fare_brand_name` across all our airlines,\nso for now, this field may be `null` in some offers.\nThis will become a non-nullable attribute in the near future.\n",
                                        "example": "Basic",
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "id": {
                                        "description": "Duffel's unique identifier for the resource",
                                        "example": "sli_00009htYpSCXrwaB9Dn123",
                                        "type": "string"
                                      },
                                      "ngs_shelf": {
                                        "description": "A summary of the seat characteristics and extras available to passengers on the given slice.\n\nThe shelf is calculated by Duffel and may be used to group similar slices across offers when building a shopping display.\n\nNote this value does not take into account any services that may be purchased in addition to the offer and should not be directly used\nin any offer ranking systems.\n\nIncludes the following:\n\n  - `1`: standard seating with limited extras.\n  - `2`: standard seating with extras, i.e. carry-on baggage, advanced seat selection,  priority boarding etc.\n  - `3`: preferred seating, such as additional legroom, seat width or middle seat free\n  - `4`: premium seating, additional legroom and recline. Situated in business class or higher.\n  - `5`: deluxe seating, additional legroom and reclines to lie flat position. Situated in business class or higher.\n\n**Note**: this field is under restricted `NGS` feature. If you need access, get in touch with the Duffel support team.\n",
                                        "enum": [
                                          1,
                                          2,
                                          3,
                                          4,
                                          5
                                        ],
                                        "example": 1,
                                        "nullable": true,
                                        "type": "integer"
                                      },
                                      "origin": {
                                        "allOf": [
                                          {
                                            "additionalProperties": false,
                                            "properties": {
                                              "airports": {
                                                "description": "The airports associated to a city. This will only be provided where the `type` is `city`.",
                                                "items": {
                                                  "properties": {
                                                    "city": {
                                                      "description": "The metropolitan area where the airport is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                      "nullable": true,
                                                      "properties": {
                                                        "airports": {
                                                          "description": "List of airports associated with the city",
                                                          "items": {
                                                            "properties": {
                                                              "iata_code": {
                                                                "description": "The three-character IATA code for the airport",
                                                                "example": "LHR",
                                                                "type": "string"
                                                              },
                                                              "iata_country_code": {
                                                                "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                                "example": "GB",
                                                                "format": "ISO 3166-1 alpha-2",
                                                                "type": "string"
                                                              },
                                                              "icao_code": {
                                                                "description": "The four-character ICAO code for the airport",
                                                                "example": "EGLL",
                                                                "nullable": true,
                                                                "type": "string"
                                                              },
                                                              "id": {
                                                                "description": "Duffel's unique identifier for the resource",
                                                                "example": "arp_lhr_gb",
                                                                "type": "string"
                                                              },
                                                              "latitude": {
                                                                "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                                "example": 64.068865,
                                                                "format": "float",
                                                                "type": "number"
                                                              },
                                                              "longitude": {
                                                                "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                                "example": -141.951519,
                                                                "format": "float",
                                                                "type": "number"
                                                              },
                                                              "name": {
                                                                "description": "The name of the airport",
                                                                "example": "Heathrow",
                                                                "type": "string"
                                                              },
                                                              "time_zone": {
                                                                "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                                "example": "Europe/London",
                                                                "type": "string"
                                                              }
                                                            },
                                                            "type": "object"
                                                          },
                                                          "type": "array"
                                                        },
                                                        "iata_code": {
                                                          "description": "The three-character IATA code for the city",
                                                          "example": "LON",
                                                          "type": "string"
                                                        },
                                                        "iata_country_code": {
                                                          "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                          "example": "GB",
                                                          "format": "ISO 3166-1 alpha-2",
                                                          "type": "string"
                                                        },
                                                        "id": {
                                                          "description": "Duffel's unique identifier for the resource",
                                                          "example": "cit_lon_gb",
                                                          "type": "string"
                                                        },
                                                        "name": {
                                                          "description": "The name of the city",
                                                          "example": "London",
                                                          "type": "string"
                                                        }
                                                      },
                                                      "title": "City",
                                                      "type": "object"
                                                    },
                                                    "city_name": {
                                                      "description": "The name of the city (or cities separated by a `/`) where the airport is located",
                                                      "example": "London",
                                                      "type": "string"
                                                    },
                                                    "iata_city_code": {
                                                      "description": "The three-character IATA code for the city where the airport is located",
                                                      "example": "LON",
                                                      "type": "string"
                                                    },
                                                    "iata_code": {
                                                      "description": "The three-character IATA code for the airport",
                                                      "example": "LHR",
                                                      "type": "string"
                                                    },
                                                    "iata_country_code": {
                                                      "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                      "example": "GB",
                                                      "format": "ISO 3166-1 alpha-2",
                                                      "type": "string"
                                                    },
                                                    "icao_code": {
                                                      "description": "The four-character ICAO code for the airport",
                                                      "example": "EGLL",
                                                      "nullable": true,
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "description": "Duffel's unique identifier for the resource",
                                                      "example": "arp_lhr_gb",
                                                      "type": "string"
                                                    },
                                                    "latitude": {
                                                      "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                      "example": 64.068865,
                                                      "format": "float",
                                                      "type": "number"
                                                    },
                                                    "longitude": {
                                                      "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                      "example": -141.951519,
                                                      "format": "float",
                                                      "type": "number"
                                                    },
                                                    "name": {
                                                      "description": "The name of the airport",
                                                      "example": "Heathrow",
                                                      "type": "string"
                                                    },
                                                    "time_zone": {
                                                      "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                      "example": "Europe/London",
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "iata_code",
                                                    "id",
                                                    "name",
                                                    "iata_country_code",
                                                    "latitude",
                                                    "longitude",
                                                    "icao_code",
                                                    "time_zone",
                                                    "city_name",
                                                    "iata_city_code"
                                                  ],
                                                  "title": "Airport",
                                                  "type": "object"
                                                },
                                                "nullable": true,
                                                "type": "array"
                                              },
                                              "city": {
                                                "description": "The metropolitan area where the airport is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                "nullable": true,
                                                "properties": {
                                                  "airports": {
                                                    "description": "List of airports associated with the city",
                                                    "items": {
                                                      "properties": {
                                                        "iata_code": {
                                                          "description": "The three-character IATA code for the airport",
                                                          "example": "LHR",
                                                          "type": "string"
                                                        },
                                                        "iata_country_code": {
                                                          "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the airport is located",
                                                          "example": "GB",
                                                          "format": "ISO 3166-1 alpha-2",
                                                          "type": "string"
                                                        },
                                                        "icao_code": {
                                                          "description": "The four-character ICAO code for the airport",
                                                          "example": "EGLL",
                                                          "nullable": true,
                                                          "type": "string"
                                                        },
                                                        "id": {
                                                          "description": "Duffel's unique identifier for the resource",
                                                          "example": "arp_lhr_gb",
                                                          "type": "string"
                                                        },
                                                        "latitude": {
                                                          "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                          "example": 64.068865,
                                                          "format": "float",
                                                          "type": "number"
                                                        },
                                                        "longitude": {
                                                          "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                          "example": -141.951519,
                                                          "format": "float",
                                                          "type": "number"
                                                        },
                                                        "name": {
                                                          "description": "The name of the airport",
                                                          "example": "Heathrow",
                                                          "type": "string"
                                                        },
                                                        "time_zone": {
                                                          "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                          "example": "Europe/London",
                                                          "type": "string"
                                                        }
                                                      },
                                                      "type": "object"
                                                    },
                                                    "type": "array"
                                                  },
                                                  "iata_code": {
                                                    "description": "The three-character IATA code for the city",
                                                    "example": "LON",
                                                    "type": "string"
                                                  },
                                                  "iata_country_code": {
                                                    "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                    "example": "GB",
                                                    "format": "ISO 3166-1 alpha-2",
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "description": "Duffel's unique identifier for the resource",
                                                    "example": "cit_lon_gb",
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "description": "The name of the city",
                                                    "example": "London",
                                                    "type": "string"
                                                  }
                                                },
                                                "title": "City",
                                                "type": "object"
                                              },
                                              "city_name": {
                                                "description": "The name of the city (or cities separated by a `/`) where the airport is located",
                                                "example": "London",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "iata_city_code": {
                                                "description": "The 3-letter IATA code for the city where the place is located. Only present for airports which are registered with IATA as belonging to a [metropolitan area](https://portal.iata.org/faq/articles/en_US/FAQ/How-do-I-create-a-new-Metropolitan-Area).",
                                                "example": "LON",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "iata_code": {
                                                "description": "The 3-letter IATA code for the place",
                                                "example": "LHR",
                                                "type": "string"
                                              },
                                              "iata_country_code": {
                                                "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the city is located",
                                                "example": "GB",
                                                "format": "ISO 3166-1 alpha-2",
                                                "type": "string"
                                              },
                                              "icao_code": {
                                                "description": "The four-character ICAO code for the airport",
                                                "example": "EGLL",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "id": {
                                                "description": "Duffel's unique identifier for the resource",
                                                "example": "arp_lhr_gb",
                                                "type": "string"
                                              },
                                              "latitude": {
                                                "description": "The latitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -90° and 90°",
                                                "example": 64.068865,
                                                "format": "float",
                                                "nullable": true,
                                                "type": "number"
                                              },
                                              "longitude": {
                                                "description": "The longitude position of the airport represented in [Decimal degrees](https://en.wikipedia.org/wiki/Decimal_degrees) with 6 decimal points with a range between -180° and 180°",
                                                "example": -141.951519,
                                                "format": "float",
                                                "nullable": true,
                                                "type": "number"
                                              },
                                              "name": {
                                                "description": "The name of the place",
                                                "example": "Heathrow",
                                                "type": "string"
                                              },
                                              "time_zone": {
                                                "description": "The time zone of the airport, specified by name from the [tz database](https://en.wikipedia.org/wiki/Tz_database)",
                                                "example": "Europe/London",
                                                "nullable": true,
                                                "type": "string"
                                              },
                                              "type": {
                                                "description": "The type of the place",
                                                "enum": [
                                                  "airport",
                                                  "city"
                                                ],
                                                "example": "airport",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "iata_city_code",
                                              "iata_code",
                                              "id",
                                              "name",
                                              "type",
                                              "iata_country_code",
                                              "latitude",
                                              "longitude",
                                              "icao_code",
                                              "time_zone",
                                              "city_name"
                                            ],
                                            "title": "Place",
                                            "type": "object"
                                          },
                                          {
[...]
