{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Akta response for industry/search",
    "version": "1.0.0",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://docs.akta.pro/openapi.json",
      "converter": "scripts/prepare_akta_response_bindings.py@1",
      "fetched_at": "2026-10-09T03:44:47.193846+00:00",
      "path_space": "public",
      "response_only": true,
      "upstream_path_sha256": "e10543ad26995faa0468b04b8c44debbe0257831239f93aa047959d015ae22af",
      "upstream_origin_sha256": "17b0c5c0d1df9d155c5ed4a4e0d358edc538efed1ea7d592e5b7122d42656f14",
      "source_revision": "f81b180650fdc2a877e1feb5327e94da4324b4ec",
      "source_file": "openapi/upstream/akta-official.json",
      "source_document_sha256": "e8a0061971891051743a08793392e559128cb545c92ae9ad8ad0d88625831612",
      "source_content_hash": "sha256:6a6263e89f7f0986a86bfab186ccaf353529ec29ab505d3ae7d1fe5af062fe12",
      "refresh_policy": "manual",
      "refresh_reason": "Review the official response declarations and the explicit public route/origin/path binding together; never infer a trailing-slash alias.",
      "content_hash": "sha256:d5d0602c380495f518be875efc065e39bc6627a9cd2d2eff034a5e863f44a695",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:41564634c215ddbc6e62d70ff99b83f4e0e59f1121f5928b04a57be00f108f54"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/akta/industry/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Industry search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IndustrySearchResult"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of industry objects returned in the data array."
                    },
                    "credits_consumed": {
                      "type": "number",
                      "format": "float",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content \u2014 no industries matched the query."
          },
          "400": {
            "description": "Bad request \u2014 missing or malformed query parameter."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IndustrySearchResult": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique industry code."
          },
          "industry_name": {
            "type": "string",
            "description": "Full name of the industry."
          },
          "similarity": {
            "type": "number",
            "format": "float",
            "description": "Similarity score between the query and the matched industry, ranging from 0 to 1. Higher values indicate a closer match."
          }
        }
      }
    }
  }
}
