{
  "openapi": "3.1.0",
  "info": {
    "title": "Twitter post response declaration",
    "version": "9481772229feb96eed7fef509234d089cd0d7ec3",
    "x-aisa-source": {
      "kind": "manual",
      "converter": "scripts/wrapper_twitter_reference.py@3",
      "response_only": true,
      "path_space": "public",
      "source_revision": "9481772229feb96eed7fef509234d089cd0d7ec3",
      "refresh_policy": "pinned",
      "upstream_path_sha256": "bfb692587d52d1f9bf6d3379dbcc82aafae5f9d2c39266cbfa7d814fa8e30c90",
      "upstream_origin_sha256": "9d9240cbf45cc93e0d4b2d4a26da1392b72dbdfc5efcb4d76b35d79ce0842742",
      "source_pages": [
        {
          "url": "https://raw.githubusercontent.com/AIsa-team/AisaTwitterAuthService/9481772229feb96eed7fef509234d089cd0d7ec3/app/api/routes/twitter.py",
          "raw_content_hash": "sha256:96c8d64c69f46aa82764b646496b66a64faebbb39eceadd6473ce4a540416617"
        },
        {
          "url": "https://raw.githubusercontent.com/AIsa-team/AisaTwitterAuthService/9481772229feb96eed7fef509234d089cd0d7ec3/app/schemas/twitter.py",
          "raw_content_hash": "sha256:eabe5a7587890c1754ea0175a97fe88a91afe1e98a80c1c22bbee58926a4c3f4"
        }
      ],
      "url": "https://raw.githubusercontent.com/AIsa-team/AisaTwitterAuthService/9481772229feb96eed7fef509234d089cd0d7ec3/app/api/routes/twitter.py",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "content_hash": "sha256:ab3316d00bd90861769d31494a881ce551c45ad5c8c7253a578ddad3cc57a7e6",
      "refresh_reason": "Owning Twitter response types and POST route are pinned; changing declaration or deployment binding requires independent review.",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:d8744e265897ce476987f321936b253cbc3750202da919be3b5479973f2bfa9d"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/twitter/post_twitter": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful ApiResponse serialized by the owning service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": null,
                      "description": "The owning service explicitly declares an optional dictionary of arbitrary values; nested Twitter result fields are opaque."
                    }
                  },
                  "required": [
                    "code",
                    "msg"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
