{
  "openapi": "3.0.3",
  "info": {
    "title": "Reviewed public response get_similarweb_deduplicated_audience",
    "version": "3a00a91fb8db83d033b3008209c0d598d3866c54",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://github.com/AIsa-team/docs/blob/3a00a91fb8db83d033b3008209c0d598d3866c54/openapi/similarweb.json",
      "source_revision": "3a00a91fb8db83d033b3008209c0d598d3866c54",
      "converter": "scripts/prepare_response_source_migration.py@1",
      "refresh_policy": "pinned",
      "refresh_reason": "Public response migration requires per-route binding and semantic review.",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "4642c81eb5c77a7031f1813dafbdafa62dd1dce53ae3abd795b8a9c6401f7148",
      "upstream_origin_sha256": "cd135ed3a725635bb3fd7296ead8914b1b89e97866e3cf06b574394d37ea40f0",
      "content_hash": "sha256:45af9725297ea1de65e315fff9e9aafc1716df6ea03d7fb66ade9ccb1314ccf4",
      "source_document_sha256": "3ddebac85fe9511f569ef7c9dbf46219d24a229199dabcf08df77aa495a7e3fb",
      "review_evidence": "Retain the exact existing typed public response from pinned AIsa Docs 3a00a91fb8db83d033b3008209c0d598d3866c54; operation ID and public route match. The current SELECT-only metadata proves the same Profile reference as frozen W0, verified target ownership, no query/encoding/managed transform, and the expected official provider origin. No response fields, requiredness, examples, or status were inferred or widened. Actual complete current Runtime projection and release approval remain required.",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:4f150b4d6bb7f0bf0c3cce58f9f98405661af0e4374e92d52f9ab77403aa4e97"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/similarweb/website/deduplicated-audience": {
      "get": {
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "metrics": [
                        "total_deduplicated_audience",
                        "desktop_only_audience_share",
                        "desktop_only_audience_visitors",
                        "mobile_web_only_audience_share",
                        "mobile_web_only_audience_visitors",
                        "desktop_and_mobile_web_audience_share",
                        "desktop_and_mobile_web_audience_visitors"
                      ],
                      "main_domain_only": true
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "total_deduplicated_audience": 23727616.32935698,
                      "desktop_only_audience_share": 0.12370405221553608,
                      "desktop_only_audience_visitors": 2935202.2893569823,
                      "mobile_web_only_audience_share": 0.4979319281532382,
                      "mobile_web_only_audience_visitors": 11814737.749356981,
                      "desktop_and_mobile_web_audience_share": 0.3783640196312258,
                      "desktop_and_mobile_web_audience_visitors": 8977676.290643018
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "total_deduplicated_audience": {
                            "type": "number"
                          },
                          "desktop_only_audience_share": {
                            "type": "number"
                          },
                          "desktop_only_audience_visitors": {
                            "type": "number"
                          },
                          "mobile_web_only_audience_share": {
                            "type": "number"
                          },
                          "mobile_web_only_audience_visitors": {
                            "type": "number"
                          },
                          "desktop_and_mobile_web_audience_share": {
                            "type": "number"
                          },
                          "desktop_and_mobile_web_audience_visitors": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimilarWebMeta": {
        "type": "object",
        "description": "SimilarWeb v5 response envelope metadata.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Upstream status; 'success' on a successful call.",
            "example": "success"
          },
          "last_updated": {
            "type": "string",
            "description": "Date of the most recent data point available upstream (YYYY-MM-DD).",
            "example": "2026-06-30"
          },
          "request": {
            "type": "object",
            "description": "Full echo of the normalized upstream request (parameters as received)."
          },
          "query": {
            "type": "object",
            "description": "Pagination/sort echo when applicable (limit, offset, asc, sort)."
          }
        },
        "required": [
          "status"
        ]
      }
    }
  }
}
