{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Duffel response for get_duffel_seat_maps",
    "version": "v2",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://duffel.com/docs/api/v2/offer-requests",
      "converter": "scripts/import_duffel_flights_reference.py@1+explicit-response-binding@1",
      "fetched_at": "2026-10-09T03:52:59.395307+00:00",
      "content_hash": "sha256:40f25643c1c02f9d7ab633800da6018b52ec911228b327a566c02237b8557971",
      "references": [
        {
          "file": "src__types__ClientType.ts",
          "sha256": "3aa0ea34054d294f71deaad9005eba83e841cfb70588ca47b6ba55a9f59161b5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/types/ClientType.ts"
        },
        {
          "file": "src__Client.ts",
          "sha256": "0de07d39cc8dd3faae13561cd2e291e7bcaaf58761433bd35db4d929bc8d6b7b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Client.ts"
        },
        {
          "file": "src__booking__OfferRequests__OfferRequests.ts",
          "sha256": "0ba7f0987376f743b3e7ff96170826ee5a644b904818e703ccb3f5b0e8ee22c4",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OfferRequests/OfferRequests.ts"
        },
        {
          "file": "src__booking__Offers__Offers.ts",
          "sha256": "022d6b38a8f299dadb29f37e6c23c44b23df9842b335ba0fab5c7ed1efef29c5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Offers/Offers.ts"
        },
        {
          "file": "src__booking__Orders__Orders.ts",
          "sha256": "91f5748faac0619fbccb0955156a944507211cfea14df01e323e553138e23a64",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Orders/Orders.ts"
        },
        {
          "file": "src__booking__OrderChangeRequests__OrderChangeRequests.ts",
          "sha256": "cf299f61571df50113312835148d507b47ec68033e230876be054d93431e0dfe",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChangeRequests/OrderChangeRequests.ts"
        },
        {
          "file": "src__booking__OrderChanges__OrderChanges.ts",
          "sha256": "ba165641b85317525fd8d9f2db61b5fb9072b40177558f26f291797d6adfeb6c",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChanges/OrderChanges.ts"
        },
        {
          "file": "src__booking__OrderCancellations__OrderCancellations.ts",
          "sha256": "f93f93edb989e4c8162ace0cc40a01f6b77d29fd671db65dfef59354863d5716",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderCancellations/OrderCancellations.ts"
        },
        {
          "file": "src__booking__SeatMaps__SeatMaps.ts",
          "sha256": "07eca0f70081f97688e707bdd7084f8495fb2d3a64bde3d0bc0388bf0ea51b47",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/SeatMaps/SeatMaps.ts"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offer-requests",
          "sha256": "925ddea94ffeccd6d6411a593bec37e76916e5f26d5cb58b9023bc3aea2d534c"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offers",
          "sha256": "5804d1ddaaed52d9ee74c95cd89a402fd4326dfde402c305b6796c95eb2c4d0f"
        },
        {
          "url": "https://duffel.com/docs/api/v2/orders",
          "sha256": "cb3190f72e56f3442e7fb856b49099ba847051a835a4fbbcf9109c39e3cd2b7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-change-requests",
          "sha256": "6a5623159b6508cbc6b748d0303df43243e4940fa0934028233aadd3dba654b0"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-changes",
          "sha256": "77ac67f9b74b019703de54f6597b0529955bbb1aa13c35c6759ec23a025f0b29"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-cancellations",
          "sha256": "0b1f73a9f8becf1665a1e591fce9001bd4c6c11c891c7b39b90e01dcc6f46d7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/seat-maps",
          "sha256": "1124c3c358e1cb250c56097e44c3b8e6c1c75dea847557761c0062dd960ff606"
        }
      ],
      "sdk_revision": "ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16",
      "skipped_operations": [
        {
          "resource": "offers",
          "operation": "update-offer-passenger-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "price-offer",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "get-upsell-offers",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "update-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-orders",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "create-order-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "price-order",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-available-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "get-order-change-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "confirm-order-change",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-cancellations",
          "operation": "get-order-cancellations",
          "reason": "outside reviewed operation bindings"
        }
      ],
      "authority": "Official HTML structured schemas plus pinned SDK wire envelopes; converted, not downloaded OpenAPI",
      "request_body_required_basis": "All selected create methods have required SDK payload arguments; Client.request wraps payload in data.",
      "response_status_basis": "Client.request accepts response.ok; no exact success status inferred.",
      "limitations": [
        "No schema types or required fields inferred from examples.",
        "Offer-request create/get alternate view responses remain untyped.",
        "Source declarations do not prove current execution compatibility."
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:0659576c6ab1b42473fff235fd4b24a92c4202bcdee0c0a818db2c4ff6672c8f",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "fcb50a49f281572f693bb2b81c5ecb5a16d46951b9f29eb8c1c2413ee4c8d269",
      "upstream_origin_sha256": "e90e5f2b42f9d68931f2f9a9cbbdac739de18e6033ddaf5cd3a7972494a0c8c9",
      "parent_source_hash": "sha256:d875b5ad32404f5d316f916cceb24fb5d3eddfed2ef4dcb1eca324850b752fbf"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/duffel/flights/seat-maps": {
      "get": {
        "responses": {
          "2XX": {
            "description": "Successful HTTP response; fixed SDK accepts response.ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Each seat map is for a specific segment",
                        "example": {
                          "cabins": [
                            {
                              "aisles": 2,
                              "deck": 0,
                              "rows": [
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1A",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1A",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1B",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1B",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1C",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1C",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1D",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1D",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1E",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1E",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "1F",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "1G",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1J",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1H",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1K",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1J",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA1K",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "30.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "1K",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "type": "exit_row"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": []
                                    },
                                    {
                                      "elements": [
                                        {
                                          "type": "exit_row"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2A",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2A",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2B",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2B",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2C",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2C",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [],
                                          "designator": "2D",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "2E",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2F",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2F",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2G",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2G",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [],
                                          "designator": "2H",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2J",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2J",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA2K",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "20.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "2K",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3A",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3A",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "3B",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3C",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3C",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3D",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3D",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3E",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3E",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3F",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3F",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "3G",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3H",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3H",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3J",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3J",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA3K",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "3K",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4A",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4A",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4B",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4B",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4C",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4C",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4D",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4D",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4E",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4E",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4F",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4F",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4G",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4G",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "available_services": [],
                                          "designator": "4H",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [],
                                          "designator": "4J",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        },
                                        {
                                          "available_services": [
                                            {
                                              "id": "ase_00009UhD4ongolulWAAA4K",
                                              "passenger_id": "pas_00009hj8USM7Ncg31cAAA",
                                              "total_amount": "10.00",
                                              "total_currency": "GBP"
                                            }
                                          ],
                                          "designator": "4K",
                                          "disclosures": [],
                                          "name": "",
                                          "type": "seat"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "type": "lavatory"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": []
                                    },
                                    {
                                      "elements": [
                                        {
                                          "type": "lavatory"
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "sections": [
                                    {
                                      "elements": [
                                        {
                                          "type": "galley"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "type": "galley"
                                        }
                                      ]
                                    },
                                    {
                                      "elements": [
                                        {
                                          "type": "galley"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "wings": {
                                "first_row_index": 1,
                                "last_row_index": 2
                              }
                            }
                          ],
                          "id": "sea_00003hthlsHZ8W4LxXjkzo",
                          "segment_id": "seg_00009htYpSCXrwaB9Dn456",
                          "slice_id": "sli_00009htYpSCXrwaB9Dn123"
                        },
                        "properties": {
                          "cabins": {
                            "description": "The list of cabins in this seat map.\n\nCabins are ordered by deck from lowest to highest, and then within \neach deck from the front to back of the aircraft.\n",
                            "items": {
                              "description": "A cabin is a physical section of an aircraft that passengers travel \nin. The cabin that a passenger travels in will depend on the fare \nthey paid (for example an economy cabin versus a business class cabin).\n",
                              "properties": {
                                "aisles": {
                                  "description": "The number of aisles in this cabin. \n\nIf this is set to `1`, each row of the cabin is split into two sections.\nIf this is set to `2`, each row of the cabin is split into three sections.\n",
                                  "example": 1,
                                  "maximum": 2,
                                  "minimum": 1,
                                  "type": "integer"
                                },
                                "cabin_class": {
                                  "description": "The cabin class that the passenger will travel in on this segment",
                                  "enum": [
                                    "first",
                                    "business",
                                    "premium_economy",
                                    "economy"
                                  ],
                                  "example": "economy",
                                  "nullable": true,
                                  "type": "string"
                                },
                                "deck": {
                                  "description": "Level 0 is the main deck and level 1 is the upper deck above that, \nwhich is found on some large aircraft.\n",
                                  "example": 0,
                                  "maximum": 1,
                                  "minimum": 0,
                                  "type": "integer"
                                },
                                "rows": {
                                  "description": "A list of rows in this cabin. \n\nRow sections are broken up by aisles. Rows are ordered from front to \nback of the aircraft.\n",
                                  "items": {
                                    "description": "A cabin row has one or more sections, each made up of\nelements.\n\nAn element is something that takes up physical space such as a\nseat or an empty area.\n",
                                    "properties": {
                                      "sections": {
                                        "description": "A list of sections.\n\nEach row is divided into sections by one or more aisles.\n",
                                        "items": {
                                          "description": "A section within a row that contains a list of row\nelements. This corresponds to a left, middle, or right\nlengthwise section of the aircraft.\n",
                                          "properties": {
                                            "elements": {
                                              "description": "The elements that make up this section",
                                              "items": {
                                                "oneOf": [
                                                  {
                                                    "description": "A seat for a passenger. If the `available_services` list is\nempty (which will be represented as an empty list : `[]`),\nthe seat is unavailable.\n\nFor display, all seats should be displayed with the same static width.\n",
                                                    "properties": {
                                                      "available_services": {
                                                        "description": "Seats are considered a special kind of service. There\nwill be at most one service per seat per passenger. A\nseat can only be booked for one passenger. If a seat has\nno available services (which will be represented as an\nempty list : `[]`) then it's unavailable.\n",
                                                        "items": {
                                                          "description": "A bookable seat is a special kind of service. Only one seat can be booked per\npassenger, per segment\n",
                                                          "example": [
                                                            {
                                                              "id": "ase_00009UhD4ongolulWd9123",
                                                              "passenger_id": "pas_00009hj8USM7Ncg31cBCL",
                                                              "total_amount": "40.00",
                                                              "total_currency": "GBP"
                                                            }
                                                          ],
                                                          "properties": {
                                                            "id": {
                                                              "description": "Duffel's unique identifier for the resource",
                                                              "example": "ase_00009UhD4ongolulWd9123",
                                                              "type": "string"
                                                            },
                                                            "passenger_id": {
                                                              "description": "The passenger that this seat is for",
                                                              "example": "pas_00009hj8USM7Ncg31cBCLL",
                                                              "type": "string"
                                                            },
                                                            "total_amount": {
                                                              "description": "The total price of the seat, including taxes",
                                                              "example": "15.00",
                                                              "type": "string"
                                                            },
                                                            "total_currency": {
                                                              "description": "The currency of the `total_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nIf an offer or order is priced with balance, it matches your organisation's billing currency. If it is priced with card or airline credit, it is returned in the currency the airline charges in. If it is priced without payment methods and not using Duffel Content, it is returned in the agency point of sale currency.\n",
                                                              "example": "GBP",
                                                              "format": "ISO 4217",
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "passenger_id",
                                                            "total_amount",
                                                            "total_currency"
                                                          ],
                                                          "title": "Seat Service",
                                                          "type": "object"
                                                        },
                                                        "type": "array"
                                                      },
                                                      "designator": {
                                                        "description": "The designator used to uniquely identify the seat, usually made up of a \nrow number and a column letter\n",
                                                        "example": "14B",
                                                        "type": "string"
                                                      },
                                                      "disclosures": {
                                                        "description": "Each disclosure is text, in English, provided by the airline that \ndescribes the terms and conditions of this seat. We recommend showing \nthis in your user interface to make sure that customers understand any \nrestrictions and limitations.\n",
                                                        "example": [
                                                          "Do not seat children in exit row seats",
                                                          "Do not seat passengers with special needs in exit row seats"
                                                        ],
                                                        "items": {
                                                          "description": "An individual term, condition or restriction for this seat\n",
                                                          "type": "string"
                                                        },
                                                        "type": "array"
                                                      },
                                                      "name": {
                                                        "description": "A name which describes the type of seat, which you can display in your \nuser interface to help customers to understand its features\n",
                                                        "example": "Exit row seat",
                                                        "nullable": true,
                                                        "type": "string"
                                                      },
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "seat"
                                                        ],
                                                        "example": "seat",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "designator",
                                                      "disclosures",
                                                      "available_services"
                                                    ],
                                                    "title": "Cabin Row Section Seat Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A bassinet is a child's cradle. This element\nwill be aligned with the corresponding seat in\nthe following row.\n\nFor display, this element should have the same width as a\nseat for proper alignment.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "bassinet"
                                                        ],
                                                        "example": "bassinet",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Bassinet Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "An empty space used for padding in some non-standard\nseat arrangements.\n\nFor display, this element should have the same dimensions\nas a seat for proper alignment.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "empty"
                                                        ],
                                                        "example": "empty",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Empty Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "An exit row represents the extra wide space used to reach\naircraft exits, and indicates the existence of an exit\ndoor.\n\nFor display, this element should ideally fill or shrink to\navailable space in a row section. Displaying it with the same\nwidth as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "exit_row"
                                                        ],
                                                        "example": "exit_row",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Exit Row Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A lavatory for use by passengers.\n\nFor display, this element should ideally fill or shrink to\navailable space in a row section. Displaying it with the same\nwidth as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "lavatory"
                                                        ],
                                                        "example": "lavatory",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Lavatory Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A galley is the compartment where food is cooked\nor prepared. These are conventionally marked\nwith a teacup symbol.\n\nFor display, this element should ideally fill or shrink to\navailable space in a row section. Displaying it with the\nsame width as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "galley"
                                                        ],
                                                        "example": "galley",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Galley Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A closet used for storage. These are\nconventionally marked with a clothes hanger\nsymbol.\n\nFor display, this element should ideally fill or shrink to\navailable space in a row section. Displaying it with the\nsame width as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "closet"
                                                        ],
                                                        "example": "closet",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Closet Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A set of stairs to another deck.\n\nFor display, this element should ideally fill or shrink\nto available space in a row section. Displaying it with\nthe same width as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "stairs"
                                                        ],
                                                        "example": "stairs",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Stairs Element",
                                                    "type": "object"
                                                  },
                                                  {
                                                    "description": "A seat with restrictions on who can book it.\n\nFor display, this element should ideally fill or shrink\nto available space in a row section. Displaying it with\nthe same width as seat is also reasonable.\n",
                                                    "properties": {
                                                      "type": {
                                                        "description": "The type of this element",
                                                        "enum": [
                                                          "restricted_seat_general"
                                                        ],
                                                        "example": "restricted_seat_general",
                                                        "type": "string"
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "title": "Cabin Row Section Restricted Seat Element",
                                                    "type": "object"
                                                  }
                                                ]
                                              },
                                              "type": "array"
                                            }
                                          },
                                          "required": [
                                            "elements"
                                          ],
                                          "title": "Cabin Row Section",
                                          "type": "object"
                                        },
                                        "type": "array"
                                      }
                                    },
                                    "required": [
                                      "sections"
                                    ],
                                    "title": "Seat Map Cabin Row",
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "wings": {
                                  "description": "Where the wings of the aircraft are in relation to rows in the cabin.\n\nThe numbers correspond to the indices of the first and the last \nrow which are overwing. You can use this to draw a visual \nrepresentation of the wings to help users get a better idea of \nwhat they will see outside their window.\n\nThe indices are 0th-based and are for all rows, not just those that have\nseats.\n\nThis is `null` when no rows of the cabin are overwing.\n",
                                  "example": {
                                    "first_row_index": 8,
                                    "last_row_index": 12
                                  },
                                  "nullable": true,
                                  "properties": {
                                    "first_row_index": {
                                      "description": "The index of the first row which is overwing, starting from \nthe front of the aircraft.\n",
                                      "example": 8,
                                      "minimum": 0,
                                      "type": "integer"
                                    },
                                    "last_row_index": {
                                      "description": "The index of the last row which is overwing, starting from \nthe front of the aircraft.\n",
                                      "example": 12,
                                      "minimum": 0,
                                      "type": "integer"
                                    }
                                  },
                                  "required": [
                                    "first_row_index",
                                    "last_row_index"
                                  ],
                                  "title": "Wing Position",
                                  "type": "object"
                                }
                              },
                              "required": [
                                "deck",
                                "cabin_class",
                                "aisles",
                                "rows"
                              ],
                              "title": "Seat Map Cabin",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "id": {
                            "description": "Duffel's unique identifier for the resource",
                            "example": "sea_00003hthlsHZ8W4LxXjkzo",
                            "type": "string"
                          },
                          "segment_id": {
                            "description": "Duffel's unique identifier for the resource",
                            "example": "xxx_00009hthhsUZ8W4LxQgkjo",
                            "type": "string"
                          },
                          "slice_id": {
                            "description": "Duffel's unique identifier for the resource",
                            "example": "xxx_00009hthhsUZ8W4LxQgkjo",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "slice_id",
                          "segment_id",
                          "cabins"
                        ],
                        "title": "Seat map",
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "before": {
                          "type": "string"
                        },
                        "after": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
