{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Duffel response for get_duffel_order_cancellation",
    "version": "v2",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://duffel.com/docs/api/v2/offer-requests",
      "converter": "scripts/import_duffel_flights_reference.py@1+explicit-response-binding@1",
      "fetched_at": "2026-10-09T03:52:59.395307+00:00",
      "content_hash": "sha256:c2db6cbfb3e2fdec86cbd6bbe20ad4eebdd936c2d7f4f398a14281a20e5426e2",
      "references": [
        {
          "file": "src__types__ClientType.ts",
          "sha256": "3aa0ea34054d294f71deaad9005eba83e841cfb70588ca47b6ba55a9f59161b5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/types/ClientType.ts"
        },
        {
          "file": "src__Client.ts",
          "sha256": "0de07d39cc8dd3faae13561cd2e291e7bcaaf58761433bd35db4d929bc8d6b7b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Client.ts"
        },
        {
          "file": "src__booking__OfferRequests__OfferRequests.ts",
          "sha256": "0ba7f0987376f743b3e7ff96170826ee5a644b904818e703ccb3f5b0e8ee22c4",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OfferRequests/OfferRequests.ts"
        },
        {
          "file": "src__booking__Offers__Offers.ts",
          "sha256": "022d6b38a8f299dadb29f37e6c23c44b23df9842b335ba0fab5c7ed1efef29c5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Offers/Offers.ts"
        },
        {
          "file": "src__booking__Orders__Orders.ts",
          "sha256": "91f5748faac0619fbccb0955156a944507211cfea14df01e323e553138e23a64",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/Orders/Orders.ts"
        },
        {
          "file": "src__booking__OrderChangeRequests__OrderChangeRequests.ts",
          "sha256": "cf299f61571df50113312835148d507b47ec68033e230876be054d93431e0dfe",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChangeRequests/OrderChangeRequests.ts"
        },
        {
          "file": "src__booking__OrderChanges__OrderChanges.ts",
          "sha256": "ba165641b85317525fd8d9f2db61b5fb9072b40177558f26f291797d6adfeb6c",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderChanges/OrderChanges.ts"
        },
        {
          "file": "src__booking__OrderCancellations__OrderCancellations.ts",
          "sha256": "f93f93edb989e4c8162ace0cc40a01f6b77d29fd671db65dfef59354863d5716",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/OrderCancellations/OrderCancellations.ts"
        },
        {
          "file": "src__booking__SeatMaps__SeatMaps.ts",
          "sha256": "07eca0f70081f97688e707bdd7084f8495fb2d3a64bde3d0bc0388bf0ea51b47",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/booking/SeatMaps/SeatMaps.ts"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offer-requests",
          "sha256": "925ddea94ffeccd6d6411a593bec37e76916e5f26d5cb58b9023bc3aea2d534c"
        },
        {
          "url": "https://duffel.com/docs/api/v2/offers",
          "sha256": "5804d1ddaaed52d9ee74c95cd89a402fd4326dfde402c305b6796c95eb2c4d0f"
        },
        {
          "url": "https://duffel.com/docs/api/v2/orders",
          "sha256": "cb3190f72e56f3442e7fb856b49099ba847051a835a4fbbcf9109c39e3cd2b7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-change-requests",
          "sha256": "6a5623159b6508cbc6b748d0303df43243e4940fa0934028233aadd3dba654b0"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-changes",
          "sha256": "77ac67f9b74b019703de54f6597b0529955bbb1aa13c35c6759ec23a025f0b29"
        },
        {
          "url": "https://duffel.com/docs/api/v2/order-cancellations",
          "sha256": "0b1f73a9f8becf1665a1e591fce9001bd4c6c11c891c7b39b90e01dcc6f46d7e"
        },
        {
          "url": "https://duffel.com/docs/api/v2/seat-maps",
          "sha256": "1124c3c358e1cb250c56097e44c3b8e6c1c75dea847557761c0062dd960ff606"
        }
      ],
      "sdk_revision": "ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16",
      "skipped_operations": [
        {
          "resource": "offers",
          "operation": "update-offer-passenger-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "price-offer",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "offers",
          "operation": "get-upsell-offers",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "update-order-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-orders",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "create-order-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "price-order",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "orders",
          "operation": "get-order-available-services",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "get-order-change-by-id",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-changes",
          "operation": "confirm-order-change",
          "reason": "outside reviewed operation bindings"
        },
        {
          "resource": "order-cancellations",
          "operation": "get-order-cancellations",
          "reason": "outside reviewed operation bindings"
        }
      ],
      "authority": "Official HTML structured schemas plus pinned SDK wire envelopes; converted, not downloaded OpenAPI",
      "request_body_required_basis": "All selected create methods have required SDK payload arguments; Client.request wraps payload in data.",
      "response_status_basis": "Client.request accepts response.ok; no exact success status inferred.",
      "limitations": [
        "No schema types or required fields inferred from examples.",
        "Offer-request create/get alternate view responses remain untyped.",
        "Source declarations do not prove current execution compatibility."
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:0659576c6ab1b42473fff235fd4b24a92c4202bcdee0c0a818db2c4ff6672c8f",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "2d06d0e3d4d4d2cdc2370d1e476ecef66c05371bf59a1ca9def18f826b81a57c",
      "upstream_origin_sha256": "e90e5f2b42f9d68931f2f9a9cbbdac739de18e6033ddaf5cd3a7972494a0c8c9",
      "parent_source_hash": "sha256:d875b5ad32404f5d316f916cceb24fb5d3eddfed2ef4dcb1eca324850b752fbf"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/duffel/flights/order-cancellations/{id}": {
      "get": {
        "responses": {
          "2XX": {
            "description": "Successful HTTP response; fixed SDK accepts response.ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "additionalProperties": false,
                      "description": "An order cancellation is used to cancel an order with an airline",
                      "properties": {
                        "airline_credits": {
                          "description": "For unconfirmed cancellations, it lists airilne credits that would be generated if the cancellation is confirmed.\nFor confirmed cancellations, it lists airline credits that were generated when this cancellation was confirmed.\n",
                          "items": {
                            "oneOf": [
                              {
                                "additionalProperties": false,
                                "description": "An airline credit quote represents the airline credit that would be issued by the airline if the order is cancelled.",
                                "properties": {
                                  "amount": {
                                    "description": "The monetary value associated with this airline credit\n",
                                    "example": "90.80",
                                    "type": "string"
                                  },
                                  "amount_currency": {
                                    "description": "The currency in which this airline credit is issued, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code\n",
                                    "example": "GBP",
                                    "type": "string"
                                  },
                                  "code": {
                                    "description": "The code which identifies the airline credit to the airline and will be used to redeem the airline credit\n",
                                    "example": "1234567890123",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "credit_amount": {
                                    "deprecated": true,
                                    "description": "The monetary value associated with this airline credit\n",
                                    "example": "90.80",
                                    "type": "string"
                                  },
                                  "credit_code": {
                                    "deprecated": true,
                                    "description": "The code which identifies the airline credit to the airline and will be used to redeem the airline credit\n",
                                    "example": "1234567890123",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "credit_currency": {
                                    "deprecated": true,
                                    "description": "The currency in which this airline credit is issued, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code\n",
                                    "example": "GBP",
                                    "type": "string"
                                  },
                                  "credit_name": {
                                    "deprecated": true,
                                    "description": "The human-readable name used by the airline to categorize the type of credit being offered. This name should help when trying to understand the airline's conditions of use which apply to this credit.\n",
                                    "example": "Duffel Travel Credit",
                                    "type": "string"
                                  },
                                  "id": {
                                    "description": "Duffel's unique identifier for the airline credit quote\n",
                                    "example": "act_00009qzZWzjDipIkqpaUAj",
                                    "type": "string"
                                  },
                                  "issued_on": {
                                    "description": "The date the credit was issued.\nIt is important to note that this date might not be the same as the date of cancellation. Often airlines associate credits with tickets, in which case the date of issue is considered to be the date the ticket was originally issued.\nAirline credits may have expiration dates which are based on the date of issue. Airlines don't always reliably disclose the expiration date in their APIs at the time of cancellation, so we are unable to return this information on airline credits. To get the latest info on expiration dates for airline credits we recommend checking directly with the airlines to determine the specific conditions of use for the credit.\n",
                                    "example": "2023-02-24",
                                    "format": "date",
                                    "type": "string"
                                  },
                                  "passenger_id": {
                                    "description": "Duffel's unique identifier for the passenger on the order that the credit is associated with\n",
                                    "example": "pas_00009hj8USM7Ncg31cBCLL",
                                    "type": "string"
                                  },
                                  "type": {
                                    "description": "The type of airline credit that would be issued if the cancellation is confirmed. Use this to distinguish between credits that the airline will issue against the original e-ticket (`eticket`) and credits issued as a separate MCO/EMD document (`mco`, `emd`).\n",
                                    "enum": [
                                      "eticket",
                                      "mco",
                                      "emd"
                                    ],
                                    "example": "eticket",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "amount",
                                  "code",
                                  "amount_currency",
                                  "issued_on",
                                  "passenger_id",
                                  "type"
                                ],
                                "title": "Airline Credit Quote",
                                "type": "object"
                              },
                              {
                                "additionalProperties": false,
                                "description": "An airline credit represents credit issued by an airline for a canceled or disrupted flight.",
                                "properties": {
                                  "airline_iata_code": {
                                    "description": "The two-character IATA code for the airline that issued this credit",
                                    "example": "AA",
                                    "type": "string"
                                  },
                                  "amount": {
                                    "description": "Value of this airline credit",
                                    "example": "30.20",
                                    "nullable": false,
                                    "type": "string"
                                  },
                                  "amount_currency": {
                                    "description": "The currency of the `amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\n",
                                    "example": "GBP",
                                    "format": "ISO 4217",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "code": {
                                    "description": "Credit identifier provided by the airline",
                                    "example": "12345678",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the airline credit was created.",
                                    "example": "2020-04-11T15:48:11.642Z",
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "credit_amount": {
                                    "deprecated": true,
                                    "description": "The monetary value associated with this airline credit\n",
                                    "example": "90.80",
                                    "type": "string"
                                  },
                                  "credit_code": {
                                    "deprecated": true,
                                    "description": "The code which identifies the airline credit to the airline and will be used to redeem the airline credit\n",
                                    "example": "1234567890123",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "credit_currency": {
                                    "deprecated": true,
                                    "description": "The currency in which this airline credit is issued, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code\n",
                                    "example": "GBP",
                                    "type": "string"
                                  },
                                  "credit_name": {
                                    "deprecated": true,
                                    "description": "The common name given to this airline credit.\n",
                                    "example": "Future Flight Credit",
                                    "type": "string"
                                  },
                                  "expires_at": {
                                    "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the airline credit expires and will no longer be eligible for payment.",
                                    "example": "2020-04-11T15:48:11.642Z",
                                    "format": "date-time",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "family_name": {
                                    "description": "The family name of the passenger associated with this airline credit.\n",
                                    "example": "Doe",
                                    "type": "string"
                                  },
                                  "given_name": {
                                    "description": "The given name of the passenger associated with this airline credit.\n",
                                    "example": "John",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "id": {
                                    "description": "Duffel's unique identifier for the resource",
                                    "example": "acd_00009UhD4ongolulWd91Ky",
                                    "type": "string"
                                  },
                                  "invalidated_at": {
                                    "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the airline credit was invalidated. Invalidated credits are not eligible for payment.",
                                    "example": "2020-04-11T15:48:11.642Z",
                                    "format": "date-time",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "issued_on": {
                                    "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the airline credit was issued by the airline.",
                                    "example": "2020-04-11",
                                    "format": "date",
                                    "type": "string"
                                  },
                                  "live_mode": {
                                    "description": "Whether the payment was created in live mode. This field will be set to `true` if the payment was created in live mode, or `false` if it was created in test mode.",
                                    "example": false,
                                    "type": "boolean"
                                  },
                                  "order_id": {
                                    "description": "Duffel's unique identifier for the order that the credit is associated with\n",
                                    "example": "ord_00009hj8USM7Ncg31cBCLL",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "passenger_id": {
                                    "description": "Duffel's unique identifier for the passenger on the order that the credit is associated with\n",
                                    "example": "pas_00009hj8USM7Ncg31cBCLL",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "penalty_amount": {
                                    "description": "The penalty that will be incurred when paying with this airline credit",
                                    "example": "10.20",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "penalty_currency": {
                                    "description": "The currency of the penalty amount, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\n",
                                    "example": "GBP",
                                    "format": "ISO 4217",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "spent_at": {
                                    "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the airline credit was spent. Spent credits are not eligible for payment.",
                                    "example": "2020-04-11T15:48:11.642Z",
                                    "format": "date-time",
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "type": {
                                    "description": "Type of the airline credit",
                                    "enum": [
                                      "eticket",
                                      "mco",
                                      "emd"
                                    ],
                                    "example": "eticket",
                                    "type": "string"
                                  },
                                  "user_id": {
                                    "description": "Duffel's unique identifier for the customer user that the credit is associated with\n",
                                    "example": "icu_00009hj8USM7Ncg31cBCLL",
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "amount",
                                  "amount_currency",
                                  "created_at",
                                  "issued_on",
                                  "live_mode",
                                  "given_name",
                                  "family_name",
                                  "type",
                                  "airline_iata_code",
                                  "expires_at"
                                ],
                                "title": "Airline Credit",
                                "type": "object"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "confirmed_at": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime that indicates when the order cancellation was confirmed",
                          "example": "2020-01-17T11:51:43.114803Z",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "created_at": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the order cancellation was created",
                          "example": "2020-04-11T15:48:11.642Z",
                          "format": "date-time",
                          "type": "string"
                        },
                        "expires_at": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime by which this cancellation must be confirmed",
                          "example": "2020-01-17T10:42:14Z",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "id": {
                          "description": "Duffel's unique identifier for the resource",
                          "example": "ore_00009qzZWzjDipIkqpaUAj",
                          "type": "string"
                        },
                        "live_mode": {
                          "description": "Whether the order cancellation was created in live mode. This field will be set to `true` if the order cancellation was created in live mode, or `false` if it was created in test mode.",
                          "example": false,
                          "type": "boolean"
                        },
                        "order_id": {
                          "description": "Duffel's unique identifier for the resource",
                          "example": "xxx_00009hthhsUZ8W4LxQgkjo",
                          "type": "string"
                        },
                        "refund_amount": {
                          "description": "The total value that will be returned to the customer if the order is cancelled, determined according to the fare conditions. When the original order was paid with a mix of cash and airline credit and the cancellation is a void, this is the grand total across both the cash refunded to the original payment method and any re-issued [`airline_credits`](#tag/Order-Cancellations). This may be `0.00` if the fare is non-refundable. It will include the refund amount of the flights and the services booked. This may be null in cases where the refund amount is unknown. This only applies in cases where we are unable to get a refund quote from the carrier.\n",
                          "example": "90.80",
                          "nullable": true,
                          "type": "string"
                        },
                        "refund_currency": {
                          "description": "The currency of the `refund_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nIt will match your organisation's billing currency unless you’re using Duffel as an accredited IATA agent, in which case it will be in the currency provided by the airline (which will usually be based on the country where your IATA agency is registered).\nFor `hold` orders that are awaiting payment, the refund amount will always be 0.00.\n",
                          "example": "GBP",
                          "format": "ISO 4217",
                          "nullable": true,
                          "type": "string"
                        },
                        "refund_to": {
                          "description": "Where the refund, once confirmed, will be sent.\n`awaiting_payment` is for pay later orders where no payment has been made yet.\n",
                          "enum": [
                            "arc_bsp_cash",
                            "balance",
                            "card",
                            "voucher",
                            "awaiting_payment",
                            "airline_credits",
                            "original_form_of_payment"
                          ],
                          "example": "arc_bsp_cash",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "order_id",
                        "live_mode",
                        "expires_at",
                        "refund_amount",
                        "refund_currency",
                        "refund_to",
                        "confirmed_at",
                        "created_at",
                        "airline_credits"
                      ],
                      "title": "Order Cancellation",
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "before": {
                          "type": "string"
                        },
                        "after": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "Duffel's unique identifier for the order cancellation",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Duffel's unique identifier for the resource",
              "example": "xxx_00009hthhsUZ8W4LxQgkjo",
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
