{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Duffel response for get_duffel_stays_apis_v1_duffel_stays_bookings_id",
    "version": "v2",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://duffel.com/docs/api/v2/search",
      "converter": "scripts/import_duffel_reference.py@1+explicit-response-binding@1",
      "fetched_at": "2026-10-09T03:47:35.116943+00:00",
      "content_hash": "sha256:554436d7155480b0b97548cad2d3323d0f40b834b2fab1be57d62b1766a0118a",
      "references": [
        {
          "file": "src__types__ClientType.ts",
          "sha256": "3aa0ea34054d294f71deaad9005eba83e841cfb70588ca47b6ba55a9f59161b5",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/types/ClientType.ts"
        },
        {
          "file": "src__Client.ts",
          "sha256": "0de07d39cc8dd3faae13561cd2e291e7bcaaf58761433bd35db4d929bc8d6b7b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Client.ts"
        },
        {
          "file": "src__Stays__SearchResults__SearchResults.ts",
          "sha256": "3e7bba8537165c3f4ce5335917e83e5033e32ae15be19df138db60a17c48e47b",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/SearchResults/SearchResults.ts"
        },
        {
          "file": "src__Stays__Quotes__Quotes.ts",
          "sha256": "3e23e6b8d5c914fd9bb23360241878a85921734bf21d761207862d8664fca299",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Quotes/Quotes.ts"
        },
        {
          "file": "src__Stays__Bookings__Bookings.ts",
          "sha256": "b903a3227b7a364545853c082db3d2ebb50e46cd9b4cfb1c06f50fe696865c9a",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Bookings/Bookings.ts"
        },
        {
          "file": "src__Stays__LoyaltyProgrammes__LoyaltyProgrammes.ts",
          "sha256": "6fec6a4a64ad279177af097a476d13afce6a2b291ced73d0d32f81f9c4c3ede0",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/LoyaltyProgrammes/LoyaltyProgrammes.ts"
        },
        {
          "file": "src__Stays__Stays.ts",
          "sha256": "807594b33c581196b12a237bd19186ae1ca77d5f79a31dd8860a709c5e64f4c3",
          "url": "https://raw.githubusercontent.com/duffelhq/duffel-api-javascript/ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16/src/Stays/Stays.ts"
        },
        {
          "url": "https://duffel.com/docs/api/v2/search",
          "sha256": "b60ba21b75715101b0e4fe09f935741eaa2179e54d5b39c4e4fac993d9662d28"
        },
        {
          "url": "https://duffel.com/docs/api/v2/search-result",
          "sha256": "352bb961eb981d52de48dff9e144211a93129eb097f1f4c371c8d381221c1927"
        },
        {
          "url": "https://duffel.com/docs/api/v2/quotes",
          "sha256": "93e71bbd10d8b238bd4e5566ffe7ccfbb8e1dba3483884900805b03d129da297"
        },
        {
          "url": "https://duffel.com/docs/api/v2/bookings",
          "sha256": "e0f12dfaf26c6b19bebaedf9cf951154ade0a560ba56cbdaa1696bb0dd47b28a"
        },
        {
          "url": "https://duffel.com/docs/api/v2/accommodation-loyalty-programmes",
          "sha256": "24e436c8136cb52391512ee66315096b733e2f01496b4aa284369c71da27fe00"
        }
      ],
      "sdk_revision": "ebcf6c483b0ec7d0290e9e020e261cf5d15b7d16",
      "skipped_operations": [
        {
          "resource": "bookings",
          "operation": "update-booking",
          "reason": "no reviewed SDK envelope binding"
        }
      ],
      "authority": "official HTML structured schemas plus pinned provider SDK; converted, not downloaded OpenAPI",
      "response_status_basis": "Client.request accepts response.ok; no exact success status is inferred",
      "request_body_required_basis": "Stays.search(params), Quotes.create(rateId) and Bookings.create(payload) have required SDK arguments; Client.request wraps them in data",
      "limitations": [
        "No examples infer types, required fields, response codes or extra fields.",
        "SDK-added status and headers are not wire response fields.",
        "Conditional rules expressed in descriptions remain prose.",
        "Source acquisition and metadata matches do not prove current wire behavior."
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:450c5bf6afa65cf73964b9e5948bc50e54d0b4829b67d2e4a5c249b382161035",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "8b325cf24ba535e7146a9805d08151a23c47106b63bf2a6472d4a414f6c7c339",
      "upstream_origin_sha256": "e90e5f2b42f9d68931f2f9a9cbbdac739de18e6033ddaf5cd3a7972494a0c8c9",
      "parent_source_hash": "sha256:1f3e068658e1ec5e11b0f742aa8e46f13e95b8da46e8fbf510e0fb4fc6b823c4"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/duffel/stays/bookings/{id}": {
      "get": {
        "responses": {
          "2XX": {
            "description": "Successful JSON response; SDK accepts the successful HTTP range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "additionalProperties": false,
                      "properties": {
                        "accommodation": {
                          "additionalProperties": false,
                          "description": "Details of the accommodation reserved for this booking",
                          "properties": {
                            "amenities": {
                              "description": "The amenities for this accommodation. This can be null when we are unable to retrieve amenity data.\nAccommodation amenities aid guests in identifying the accommodation that suits their needs. These are intended for programmatic use to support filtering or promoting specific accommodation attributes.\n",
                              "items": {
                                "properties": {
                                  "description": {
                                    "description": "Label-friendly description of the amenity type",
                                    "example": "Parking",
                                    "type": "string"
                                  },
                                  "type": {
                                    "description": "The amenity type.",
                                    "enum": [
                                      "parking",
                                      "gym",
                                      "wifi",
                                      "24_hour_front_desk",
                                      "accessibility_hearing",
                                      "accessibility_mobility",
                                      "adult_only",
                                      "business_centre",
                                      "cash_machine",
                                      "childcare_service",
                                      "concierge",
                                      "laundry",
                                      "lounge",
                                      "pets_allowed",
                                      "pool",
                                      "restaurant",
                                      "room_service",
                                      "spa"
                                    ],
                                    "example": "parking",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "nullable": true,
                              "type": "array"
                            },
                            "brand": {
                              "additionalProperties": false,
                              "description": "The brand associated with the accommodation.",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "description": "The unique ID for this hotel brand.",
                                  "example": "bra_0000Alr8BYNsbmDMThHSbI",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the hotel brand.",
                                  "example": "Duffel Test",
                                  "type": "string"
                                }
                              },
                              "title": "Brands",
                              "type": "object"
                            },
                            "chain": {
                              "additionalProperties": false,
                              "description": "The chain or group brand the accommodation is a member of",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "description": "The unique ID for this hotel chain.",
                                  "example": "chn_0000Alr8BYNsbmDMThHSbI",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the hotel chain.",
                                  "example": "Accor Hotels",
                                  "type": "string"
                                }
                              },
                              "title": "Chains",
                              "type": "object"
                            },
                            "check_in_information": {
                              "description": "Check in and check out related information",
                              "nullable": true,
                              "properties": {
                                "check_in_after_time": {
                                  "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format for the earliest time a guest can check in to their room.",
                                  "example": "14:30",
                                  "format": "time",
                                  "nullable": true,
                                  "type": "string"
                                },
                                "check_in_before_time": {
                                  "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format for the latest time a guest can check in to their room.\nCustomers who require a late check-in time should request this using the [`accommodation_special_requests`](https://duffel.com/docs/api/v2/bookings/create-booking#bookings-creating-a-booking-body-parameters-accommodation-special-requests) when creating the booking to avoid issues checking in, such as being considered a 'no-show' and the room being offered to someone else.\n",
                                  "example": "00:00",
                                  "format": "time",
                                  "nullable": true,
                                  "type": "string"
                                },
                                "check_out_before_time": {
                                  "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format for the latest time a guest can check out of their room.",
                                  "example": "11:30",
                                  "format": "time",
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "description": {
                              "description": "Description of the accommodation.",
                              "example": "Ornate quarters, some with grand pianos, in a luxurious hotel offering acclaimed dining & a spa.",
                              "nullable": true,
                              "type": "string"
                            },
                            "email": {
                              "description": "The accommodation email address. This field can only be populated on the accommodation for a completed booking. Note that this data may differ from the accommodation records if it was updated directly by the accommodation after the booking was created.\n",
                              "example": "reservations@duffel-hotel-group.com",
                              "format": "email",
                              "nullable": true,
                              "type": "string"
                            },
                            "id": {
                              "description": "The unique ID for this accommodation. This ID stays consistent between searches — the same accommodation will always have the same ID.",
                              "example": "acc_0000AWr2VsUNIF1Vl91xg0",
                              "type": "string"
                            },
                            "key_collection": {
                              "additionalProperties": false,
                              "description": "The key collection details for the accommodation.",
                              "nullable": true,
                              "properties": {
                                "instructions": {
                                  "description": "The key collection instructions for the accommodation.",
                                  "example": "Please collect the keys from accommodation's reception.",
                                  "nullable": false,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "location": {
                              "additionalProperties": false,
                              "description": "Information on the accommodation's location",
                              "properties": {
                                "address": {
                                  "additionalProperties": false,
                                  "description": "The accommodation's address",
                                  "properties": {
                                    "city_name": {
                                      "description": "The name of the city or metropolitan area where the address is located.",
                                      "example": "London",
                                      "type": "string"
                                    },
                                    "country_code": {
                                      "description": "The [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code for the country where the address is located.",
                                      "example": "GB",
                                      "type": "string"
                                    },
                                    "line_one": {
                                      "description": "First line of the address",
                                      "example": "100 Clifton Street",
                                      "type": "string"
                                    },
                                    "postal_code": {
                                      "description": "Postal (or zip code) of the address",
                                      "example": "EC2A 4TP",
                                      "type": "string"
                                    },
                                    "region": {
                                      "description": "Region or state of the address",
                                      "example": "England",
                                      "nullable": true,
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "geographic_coordinates": {
                                  "description": "The exact latitude-longitude position of the accommodation. Useful for map views.",
                                  "properties": {
                                    "latitude": {
                                      "description": "The latitude position of the accommodation represented in Decimal degrees with 6 decimal points with a range between -90° and 90°\n",
                                      "example": 51.5071,
                                      "format": "float",
                                      "type": "number"
                                    },
                                    "longitude": {
                                      "description": "The longitude position of the accommodation represented in Decimal degrees with 6 decimal points with a range between -180° and 180°",
                                      "example": -0.1416,
                                      "format": "float",
                                      "type": "number"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "name": {
                              "description": "The accommodation's name",
                              "example": "Duffel Test Hotel",
                              "type": "string"
                            },
                            "payment_instruction_supported": {
                              "description": "Indicates whether the accommodation may hold rates that support [supplying payment instructions](/docs/api/v2/booking-payment-instructions/create-booking-payment-instruction)",
                              "example": false,
                              "type": "boolean"
                            },
                            "phone_number": {
                              "description": "The accommodation phone number. This field can only be populated on the accommodation for a completed booking. This is provided directly by the accommodation and the format is not guaranteed. Note that this data may differ from the accommodation records if it was updated directly by the accommodation after the booking was created.\"\n",
                              "example": "+442074938181",
                              "nullable": true,
                              "type": "string"
                            },
                            "photos": {
                              "description": "Photos of the accommodation",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "description": "The URL to the photo. Supplied photos of the stay. These may consist of photos of the property, rooms, room amenities and local attractions.\n",
                                    "example": "https://assets.duffel.com/img/stays/image.jpg",
                                    "format": "url",
                                    "type": "string"
                                  }
                                },
                                "title": "Photo",
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "rating": {
                              "description": "A \"star rating\" of this accommodation. If available, this is an integer from 1 to 5 \"stars\".\nThis value is consolidated by Duffel based on data provided by our sources and accommodation providers.\nFor more detailed rating information, see `ratings`.\n",
                              "example": 3,
                              "format": "integer",
                              "nullable": true,
                              "type": "number"
                            },
                            "ratings": {
                              "description": "Ratings given to an accommodation by a rating source.\n\nThis can be empty if the accommodation does not have any ratings. This can also be null if we are unable to retrieve ratings.\n\nThese are commonly represented as \"stars\". In Duffel Stays, they have a 1-5 scale.\n\nThey can come from multiple sources. Currently available rating sources are:\n\n- `\"priceline\"`: [Priceline.com star rating](https://pricelinepartnernetwork.com/developers/guides/id/hotel-content#star-rating).\n\nThese should be displayed as \"stars\". While Priceline.com can add half a star to a rating, these ratings are rounded down to the nearest full star in Duffel Stays.\n\n- `\"bookingcom\"`: [Booking.com star rating](https://www.booking.com/content/how_we_work.en-gb.html).\n\nThese should be displayed as \"stars\". While Booking.com can add half a star to a rating, these ratings are rounded down to the nearest full star in Duffel Stays.\n\n- `\"expedia\"`: [Expedia star rating](https://developers.expediagroup.com/docs/products/rapid/resources/reference/star-ratings#using-star-ratings).\n\nThese should be displayed as \"stars\". While Expedia can add half a star to a rating, these ratings are rounded down to the nearest full star in Duffel Stays.\n\n- `\"aaa\"`: [American Automobile Association Diamonds](https://www.aaa.com/diamonds/).\n\nThese should be displayed as \"diamonds\".\n\n- `\"northstar\"`: [Northstar Travel Media Hotel Crown Rating](http://www.hospitalityeducators.com/articles/20110215_4#.ZDPo2C8w1f0).\n\nThese should be displayed as \"crowns\".\n",
                              "items": {
                                "properties": {
                                  "source": {
                                    "description": "The source of this rating.",
                                    "enum": [
                                      "priceline",
                                      "aaa",
                                      "northstar",
                                      "bookingcom",
                                      "expedia"
                                    ],
                                    "type": "string"
                                  },
                                  "value": {
                                    "description": "The value of this rating.",
                                    "enum": [
                                      1,
                                      2,
                                      3,
                                      4,
                                      5
                                    ],
                                    "type": "integer"
                                  }
                                },
                                "title": "Rating",
                                "type": "object"
                              },
                              "nullable": true,
                              "type": "array"
                            },
                            "review_count": {
                              "description": "The number of reviews that contributed to the aggregated review score\n",
                              "example": 336,
                              "format": "integer",
                              "nullable": true,
                              "type": "number"
                            },
                            "review_score": {
                              "description": "A review score of this accommodation, aggregated from guest reviews. If available, the value is a score from the 1.0-10.0 range.\nThis value is consolidated by Duffel based on user review data from multiple sources.\n",
                              "example": 8.8,
                              "format": "float",
                              "nullable": true,
                              "type": "number"
                            },
                            "rooms": {
                              "description": "Bookable rooms for this accommodation. A room is a single accommodation unit. It might contain multiple beds.",
                              "items": {
                                "additionalProperties": false,
                                "description": "A type of room at an accommodation, containing its characteristics and a range of bookable rates.\nTo learn more about accommodation, rooms and rates and presenting them to customers, check out [Stays Key Concepts](https://duffel.com/docs/api/overview/stays-key-concepts).\n",
                                "properties": {
                                  "beds": {
                                    "description": "Available beds in the room. Bed availability is relayed from the supplier at a best-effort basis, and may not be honoured at the hotel if actual availability does not permit.",
                                    "items": {
                                      "additionalProperties": false,
                                      "properties": {
                                        "count": {
                                          "description": "The number of beds of this type in the room.",
                                          "example": 2,
                                          "type": "integer"
                                        },
                                        "type": {
                                          "description": "The type of beds available in the room\nAvailable types: \"single\", \"double\", \"queen\", \"king\", \"sofabed\", \"bunk\"\n",
                                          "enum": [
                                            "single",
                                            "double",
                                            "queen",
                                            "king",
                                            "sofabed",
                                            "bunk"
                                          ],
                                          "example": "king",
                                          "type": "string"
                                        }
                                      },
                                      "title": "Bed",
                                      "type": "object"
                                    },
                                    "nullable": true,
                                    "type": "array"
                                  },
                                  "name": {
                                    "description": "The room name.",
                                    "example": "Double Suite",
                                    "type": "string"
                                  },
                                  "photos": {
                                    "description": "Supplied photos for the room.",
                                    "items": {
                                      "additionalProperties": false,
                                      "properties": {
                                        "url": {
                                          "description": "The URL to the photo. Supplied photos of the stay. These may consist of photos of the property, rooms, room amenities and local attractions.\n",
                                          "example": "https://assets.duffel.com/img/stays/image.jpg",
                                          "format": "url",
                                          "type": "string"
                                        }
                                      },
                                      "title": "Photo",
                                      "type": "object"
                                    },
                                    "nullable": true,
                                    "type": "array"
                                  },
                                  "rates": {
                                    "description": "The available rates for a specific room, including commission, distribution, payment and included services information.",
                                    "items": {
                                      "additionalProperties": false,
                                      "description": "A bookable rate for a stay.\nTo learn more about accommodation, rooms and rates and presenting them to customers, check out [Stays Key Concepts](https://duffel.com/docs/api/overview/stays-key-concepts).\n",
                                      "properties": {
                                        "available_payment_methods": {
                                          "description": "Available payment methods are the forms of payment supported for this rate.\n\nA rate with `balance` as an available payment method can be paid for using your Duffel Balance.\n\nA rate with `card` as an available payment method can be paid for with card details provided at time of booking.\n",
                                          "items": {
                                            "description": "NOTE: Please refer to [available_payment_methods](/docs/api/v2/search-result/schema#search-result-schema-accommodation-accommodation-rooms-accommodation-rooms-rates-accommodation-rooms-rates-available-payment-methods) instead.\n\nThe payment method is the form of payment supported for this rate.\n\nA rate with the `balance` payment method will be paid for using your Duffel Balance.\n\nA rate with the `card` payment method will be paid for with card details provided at time of booking.\n",
                                            "enum": [
                                              "balance",
                                              "card"
                                            ],
                                            "example": [
                                              "balance"
                                            ],
                                            "nullable": false,
                                            "title": "Payment Method",
                                            "type": "string"
                                          },
                                          "nullable": false,
                                          "type": "array"
                                        },
                                        "base_amount": {
                                          "description": "The base amount for this rate, excluding taxes and fees. Will be `null` if the base amount is unknown.\nThis is included in the `total_amount`.\n",
                                          "example": "665.83",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "base_currency": {
                                          "description": "The currency of the `base_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis is always the same as `total_currency`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        },
                                        "benefits": {
                                          "description": "The inclusions provided as part of this rate. Only populated on rates that carry benefits and where Duffel is the source.\n",
                                          "items": {
                                            "additionalProperties": false,
                                            "properties": {
                                              "description": {
                                                "description": "The full description of the benefit, including restrictions and any availability conditions. Suitable for display in a tooltip or expanded detail view.",
                                                "example": "Daily full breakfast for up to two guests, served in the restaurant.",
                                                "type": "string"
                                              },
                                              "title": {
                                                "description": "The name of the benefit as it should appear to the traveller.",
                                                "example": "Daily breakfast",
                                                "type": "string"
                                              },
                                              "type": {
                                                "description": "The type of benefit included with the rate.",
                                                "enum": [
                                                  "breakfast_included",
                                                  "property_credit",
                                                  "room_upgrade",
                                                  "early_check_in",
                                                  "late_check_out"
                                                ],
                                                "example": "breakfast_included",
                                                "type": "string"
                                              }
                                            },
                                            "title": "Benefit",
                                            "type": "object",
                                            "x-preview": true
                                          },
                                          "nullable": true,
                                          "type": "array",
                                          "x-preview": true
                                        },
                                        "board_type": {
                                          "description": "Board type is a standard way for the hospitality industry to describe the meals and drinks that are included in the rate.\nThe possible board types are: - `'all_inclusive'` - All meals (breakfast, lunch, dinner and snacks) are included, as well as all drinks (soft drinks, tea, coffee, and in some cases, alcoholic beverages). - `'full_board'` - All meals (breakfast, lunch, dinner) are included, but excludes snacks and drinks. - `'half_board'` - Two meals a day are included in the price of the rate. Usually breakfast and dinner, but depending on the hotel, breakfast and lunch may be possible instead. - `'breakfast'` - Only breakfast is included in the price of the rate. - `'room_only'` - No food or drinks are included in the price of the rate.\n",
                                          "enum": [
                                            "room_only",
                                            "breakfast",
                                            "half_board",
                                            "full_board",
                                            "all_inclusive"
                                          ],
                                          "example": "room_only",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "cancellation_timeline": {
                                          "description": "A timeline that contains policies, such as possible refunds, once this rate has been booked. This is sorted in ascending chronological order.\n\nIn the event we get no cancellation information for a rate, we return these as non-refundable - the most conservative cancellation scenario. In reality, there may sometimes be some refund due.\n\nThe cancellation timeline may differ across different steps of the booking process as we get more precise cancellation information. Complete cancellation timeline is only guaranteed to be available at the quote step.\n",
                                          "items": {
                                            "additionalProperties": false,
                                            "properties": {
                                              "before": {
                                                "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime for the deadline of a refund. It can either be in UTC, or have an offset.",
                                                "example": "2023-05-23T13:00:00Z",
                                                "format": "date-time",
                                                "type": "string"
                                              },
                                              "currency": {
                                                "description": "The currency of the `amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.",
                                                "example": "GBP",
                                                "format": "ISO 4217",
                                                "type": "string"
                                              },
                                              "refund_amount": {
                                                "description": "The amount refundable up until the specified `before` date",
                                                "example": "799.00",
                                                "type": "string"
                                              }
                                            },
                                            "title": "Cancellation timeline",
                                            "type": "object"
                                          },
                                          "type": "array"
                                        },
                                        "code": {
                                          "description": "A rate code is an alphanumeric identifier of specific negotiated pricing and booking conditions. Rate codes are only returned when special contracted rates are available through the hotel provider, distinguishing them from standard public rates.",
                                          "example": "ABC",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "conditions": {
                                          "description": "The conditions or policies that apply to the rate. The information provided should be treated as mandatory and displayed to the guest during and after the booking process.\n",
                                          "items": {
                                            "additionalProperties": false,
                                            "properties": {
                                              "description": {
                                                "description": "One or more paragraphs that outline policy, amenity or refundability conditions for the rate. Take note that this may contain links expressed as HTML tags.",
                                                "example": "Public parking is available nearby for £15 per day",
                                                "type": "string"
                                              },
                                              "title": {
                                                "description": "The condition title",
                                                "example": "Parking",
                                                "type": "string"
                                              }
                                            },
                                            "title": "Condition",
                                            "type": "object"
                                          },
                                          "type": "array"
                                        },
                                        "deal_types": {
                                          "description": "The deal type that applied to the rate. Deals may include benefits beyond a suppliers public rate, such as discounted price or different conditions.\nThis will be an empty list if no deals apply, and null if there are no known deals.\n",
                                          "example": [
                                            "closed_user_group",
                                            "corporate",
                                            "mobile"
                                          ],
                                          "items": {
                                            "enum": [
                                              "closed_user_group",
                                              "mobile",
                                              "seasonal",
                                              "promotion",
                                              "corporate"
                                            ],
                                            "type": "string"
                                          },
                                          "nullable": true,
                                          "type": "array"
                                        },
                                        "description": {
                                          "description": "The rate description provided by the rate supplier. This typically includes important information about what's included in the rate, such as meal plans, amenities, credits, upgrades, or special benefits. This field is returned exactly as provided by the supplier and is not normalised or standardised across sources. It's intended for internal use or agent review rather than direct display to the guest, as formatting and content quality may vary significantly between suppliers.\n",
                                          "example": "Complimentary Breakfast 2Ppl, 100Usd Htl Crdt Person Stay Or Lcl Curr Equiv Or 100 Fb Crdt, Nxt Cat Upgrd Subj To Available.",
                                          "nullable": true,
                                          "type": "string",
                                          "x-preview": true
                                        },
                                        "due_at_accommodation_amount": {
                                          "description": "Mandatory fees or taxes that are due by the guest at the accommodation. Depending on the accommodation these may be payable on check in or check out. These fees are not collected during the booking process. Will be `null` if the amount due at accommodation is unknown.\nThis is not included in the `total_amount`.\n",
                                          "example": "39.95",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "due_at_accommodation_currency": {
                                          "description": "The currency of the `due_at_accommodation_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis can be different from `total_currency`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        },
                                        "estimated_commission_amount": {
                                          "description": "This is the gross commission amount for this rate, before profit share being applied as per your order form. The estimate is supplied on a best-effort basis, and the accuracy depends on the rate supplier. Will be `null` if the estimated commission amount is unknown.",
                                          "example": "100.00",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "estimated_commission_currency": {
                                          "description": "The currency of the [estimated_commission_amount](/docs/api/v2/accommodation/schema#accommodation-schema-rooms-rooms-rates-rooms-rates-estimated-commission-amount), as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "expires_at": {
                                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time at which the rate will expire",
                                          "example": "2023-05-28T12:00:00Z",
                                          "format": "date-time",
                                          "type": "string"
                                        },
                                        "fee_amount": {
                                          "description": "The fee amount for this rate.\nThis is included in the `total_amount`.\n",
                                          "example": "50.94",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "fee_currency": {
                                          "description": "The currency of the `fee_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis is always the same as `total_currency`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        },
                                        "id": {
                                          "description": "The `id` of a given rate",
                                          "example": "rat_0000BTVRuKZTavzrZDJ4cb",
                                          "type": "string"
                                        },
                                        "loyalty_programme_required": {
                                          "description": "Whether this rate requires you to be a member of the supported loyalty programme. If true, you must supply a [loyalty_programme_account_number](/docs/api/v2/bookings/create-booking#bookings-creating-a-booking-body-parameters-loyalty-programme-account-number) when creating a booking for this rate.",
                                          "example": false,
                                          "type": "boolean"
                                        },
                                        "name": {
                                          "description": "The rate name provided by the rate supplier. This is suitable for display in a rate card or search result. May be null if the hotel or supplier does not return a rate name.\n",
                                          "example": "Best Available Rate",
                                          "nullable": true,
                                          "type": "string",
                                          "x-preview": true
                                        },
                                        "negotiated_rate_id": {
                                          "description": "The `id` of the negotiated rate used to obtain this rate",
                                          "example": "nre_0000ATOwpuYnZohiSmlmyz",
                                          "nullable": true,
                                          "type": "string",
                                          "x-preview": true
                                        },
                                        "payment_instruction_allowed": {
                                          "description": "Whether it will be possible to submit a [payment instruction](/docs/api/v2/booking-payment-instructions) for a booking created from this rate.",
                                          "type": "boolean",
                                          "x-preview": true
                                        },
                                        "payment_type": {
                                          "description": "The payment type for this rate. It describes how and when the payment_method will be charged.\n\n`pay_now` rates require full prepayment at the time of creating a booking or before check-in.\n\n`deposit` rates require a prepayment which will be taken at the time of booking or before check-in. The customer is required to pay for the remainder at the accommodation. The refundability of the deposit depends on the accommodation's cancellation conditions.\n\n`guarantee` rates are only supported for card as the payment method. The card may be charged by the accommodation, i.e. in the event of a no-show. Another form of payment may be requested by the accommodation for payment at check-in or check-out.\n",
                                          "enum": [
                                            "pay_now",
                                            "guarantee",
                                            "deposit"
                                          ],
                                          "example": "pay_now",
                                          "type": "string"
                                        },
                                        "public_amount": {
                                          "description": "The public price for the same rate if purchased via the hotel website, or the Online Travel Agency website.\nIf public_amount matches the [total_amount](/docs/api/v2/accommodation/schema#accommodation-schema-rooms-rooms-rates-rooms-rates-total-amount) for the rate, then the rate you have is a public rate.\nIf public_amount is greater than the [total_amount](/docs/api/v2/accommodation/schema#accommodation-schema-rooms-rooms-rates-rooms-rates-total-amount), then you have a discounted rate.\npublic_amount will be null if no information is available.\n",
                                          "example": "699.99",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "public_currency": {
                                          "description": "The currency of the [public_amount](/docs/api/v2/accommodation/schema#accommodation-schema-rooms-rooms-rates-rooms-rates-public-amount), as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis is always the same as `total_currency`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        },
                                        "quantity_available": {
                                          "description": "The quantity of rooms available to be booked at this rate. This number is not guaranteed to be accurate. Will be `null` if this information is unknown.",
                                          "example": 12,
                                          "nullable": true,
                                          "type": "integer"
                                        },
                                        "source": {
                                          "description": "The source provider of this rate",
                                          "enum": [
                                            "sabre",
                                            "expedia",
                                            "bookingcom",
                                            "travelport",
                                            "priceline",
                                            "duffel_hotel_group",
                                            "duffel"
                                          ],
                                          "type": "string"
                                        },
                                        "supported_loyalty_programme": {
                                          "description": "The loyalty programme that this rate supports.\nWhile the accommodation the rate comes from might support a loyalty programme in general (shown in its `supported_loyalty_programme` property), not all rates will. The rate's `supported_loyalty_programme` allows you to check loyalty programme support on a per-rate basis.\nNote that different rates from an accommodation won't have different supported loyalty programmes — it will always be the same one as the accommodation's. If the accommodation does not support a loyalty programme, this will always be `null`.\n",
                                          "enum": [
                                            "wyndham_rewards",
                                            "choice_privileges",
                                            "marriott_bonvoy",
                                            "best_western_rewards",
                                            "world_of_hyatt",
                                            "hilton_honors",
                                            "ihg_one_rewards",
                                            "leaders_club",
                                            "stash_rewards",
                                            "omni_select_guest",
                                            "i_prefer",
                                            "accor_live_limitless",
                                            "my_6",
                                            "jumeirah_one",
                                            "global_hotel_alliance_discovery",
                                            "duffel_hotel_group_rewards"
                                          ],
                                          "example": "duffel_hotel_group_rewards",
                                          "nullable": true,
                                          "title": "Loyalty Programme Reference",
                                          "type": "string"
                                        },
                                        "tax_amount": {
                                          "description": "The tax amount for this rate. Will be `null` if the tax amount is unknown.\nThis is included in the `total_amount`.\n",
                                          "example": "82.23",
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "tax_currency": {
                                          "description": "The currency of the `tax_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\nThis is always the same as `total_currency`.\n",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        },
                                        "total_amount": {
                                          "description": "The total price for the room for all nights and for all guests.\nThis always equals `base_amount` + `tax_amount` + `fee_amount`.\nPlease note, the guest may be required to pay mandatory fees and taxes at the accommodation. These are not included in the `total_amount`, and are included in `due_at_accommodation_amount`.\n",
                                          "example": "799.00",
                                          "type": "string"
                                        },
                                        "total_currency": {
                                          "description": "The currency of the `total_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.",
                                          "example": "GBP",
                                          "format": "ISO 4217",
                                          "type": "string"
                                        }
                                      },
                                      "title": "Rate",
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "title": "Room",
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "supported_loyalty_programme": {
                              "description": "The loyalty programme that is supported by the accommodation.\nNote that while the accommodation might support a loyalty programme in general, not all rates will. See the rate's `supported_loyalty_programme` property to check this on a per-rate basis.\n",
                              "enum": [
                                "wyndham_rewards",
                                "choice_privileges",
                                "marriott_bonvoy",
                                "best_western_rewards",
                                "world_of_hyatt",
                                "hilton_honors",
                                "ihg_one_rewards",
                                "leaders_club",
                                "stash_rewards",
                                "omni_select_guest",
                                "i_prefer",
                                "accor_live_limitless",
                                "my_6",
                                "jumeirah_one",
                                "global_hotel_alliance_discovery",
                                "duffel_hotel_group_rewards"
                              ],
                              "example": "duffel_hotel_group_rewards",
                              "nullable": true,
                              "title": "Loyalty Programme Reference",
                              "type": "string"
                            }
                          },
                          "title": "Accommodation",
                          "type": "object"
                        },
                        "cancelled_at": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime of the cancellation of this booking. This is `null` if the booking is not yet cancelled.",
                          "example": null,
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "check_in_date": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date on which the guest can check in",
                          "example": "2023-05-24",
                          "format": "date",
                          "type": "string"
                        },
                        "check_out_date": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date on which the guest needs to check out",
                          "example": "2023-05-28",
                          "format": "date",
                          "type": "string"
                        },
                        "confirmed_at": {
                          "description": "The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) datetime at which the booking was made.",
                          "example": "2023-04-13T15:48:11.642Z",
                          "format": "date-time",
                          "nullable": true,
                          "type": "string"
                        },
                        "deposit_amount": {
                          "description": "The portion of `total_amount` that is payable before check in as deposit for the stay.\n",
                          "example": "109.99",
                          "nullable": false,
                          "type": "string"
                        },
                        "deposit_currency": {
                          "description": "The currency of the `deposit_amount`, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.\n",
                          "example": "GBP",
                          "format": "ISO 4217",
                          "type": "string"
                        },
                        "email": {
                          "description": "Lead guest's email address",
                          "example": "amelia.earheart@duffel.com",
                          "format": "email",
                          "type": "string"
                        },
                        "estimated_commission_amount": {
                          "description": "The estimated commission amount for this booking. Will be `null` if the estimated commission amount is unknown. This may vary from the [rate's estimated_commission_amount](/docs/api/v2/accommodation/schema#accommodation-schema-rooms-rooms-rates-rooms-rates-estimated-commission-amount).\n",
                          "example": "100.00",
                          "nullable": true,
                          "type": "string"
                        },
                        "estimated_commission_currency": {
                          "description": "The currency of the [estimated_commission_amount](/docs/api/v2/accommodation/schema#accommodation-schema-bookings-bookings-estimated-commission-amount), as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.",
                          "example": "GBP",
                          "format": "ISO 4217",
                          "nullable": true,
                          "type": "string"
                        },
                        "guest_types": {
                          "description": "The list of guests provided at the time of search",
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "age": {
                                "description": "The age provided at the time of search",
                                "example": 7,
                                "format": "integer",
                                "nullable": true,
                                "type": "number"
                              },
                              "type": {
                                "description": "The type of guest provided at the time of search",
                                "enum": [
                                  "child",
                                  "adult"
                                ],
                                "example": "adult",
                                "type": "string"
                              }
                            },
                            "title": "Guest",
                            "type": "object"
                          },
                          "nullable": true,
                          "type": "array"
                        },
                        "guests": {
                          "description": "List of guests that will stay on this booking. A minimum of one guest must be provided.\nFor bookings of more than one room, the reservation will be made under the name of the first guest provided. We recommend (though optional) that you pass an additional guest name per additional room.\n",
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "family_name": {
                                "description": "The family name of the guest",
                                "example": "Earhart",
                                "type": "string"
                              },
                              "given_name": {
                                "description": "The given name of the guest",
                                "example": "Amelia",
                                "type": "string"
                              },
                              "user_id": {
                                "description": "An association between the guest and a previously created user.\n\nThis is intended to allow guests the ability to manage their own bookings.\n",
                                "example": "icu_00009htyDGjIfajdNBZRlw",
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "title": "Guest",
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "id": {
                          "description": "The `id` of the booking",
                          "example": "bok_0000BTVRuKZTavzrZDJ4cb",
                          "type": "string"
                        },
                        "loyalty_programme_account_number": {
                          "description": "The loyalty programme account number [provided for the Booking](/docs/api/v2/bookings/create-booking#bookings-creating-a-booking-body-parameters-loyalty-programme-account-number) when the [create Booking endpoint](/docs/api/v2/bookings/create-booking#) was called.\n\nAccount number is relayed to the hotel on a best-effort basis, it is at the hotel's discretion to honour the loyalty programme.\n",
                          "example": "201154908",
                          "nullable": true,
                          "type": "string"
                        },
                        "metadata": {
                          "description": "Metadata contains a set of key-value pairs that you can attach to an object. It can be useful for storing additional information about the object, in a structured format. Duffel does not use this information. You should not store sensitive information in this field.\n",
                          "example": {
                            "checkout_reference": "usr_0000AePJGl5G9ZYfmNllrs"
                          },
                          "nullable": true,
                          "type": "object"
                        },
                        "phone_number": {
                          "description": "Lead guest's phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) (international) format.",
                          "example": "+442080160509",
                          "type": "string"
                        },
                        "reference": {
                          "description": "A booking reference for the guest's reservation at the accommodation. This is the reference you should use when contacting the accommodation.",
                          "example": "AFE33SE2",
                          "nullable": true,
                          "type": "string"
                        },
                        "rooms": {
                          "description": "The number of rooms in the booking.",
                          "example": 1,
                          "type": "number"
                        },
                        "status": {
                          "description": "The status of the booking.",
                          "enum": [
                            "confirmed",
                            "cancelled"
                          ],
                          "example": "confirmed",
                          "type": "string"
                        },
                        "supported_loyalty_programme": {
                          "description": "The loyalty programme that this booking supports.",
                          "enum": [
                            "wyndham_rewards",
                            "choice_privileges",
                            "marriott_bonvoy",
                            "best_western_rewards",
                            "world_of_hyatt",
                            "hilton_honors",
                            "ihg_one_rewards",
                            "leaders_club",
                            "stash_rewards",
                            "omni_select_guest",
                            "i_prefer",
                            "accor_live_limitless",
                            "my_6",
                            "jumeirah_one",
                            "global_hotel_alliance_discovery",
                            "duffel_hotel_group_rewards"
                          ],
                          "example": "duffel_hotel_group_rewards",
                          "nullable": true,
                          "title": "Loyalty Programme Reference",
                          "type": "string"
                        },
                        "users": {
                          "description": "The `id`s of customer users that are allowed to manage the booking.\n",
                          "items": {
                            "example": "icu_00009htyDGjIfajdNBZRlw",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "title": "Booking",
                      "type": "object"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "before": {
                          "type": "string"
                        },
                        "after": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "Duffel's unique identifier for the booking",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "The `id` of the booking",
              "example": "bok_0000BTVRuKZTavzrZDJ4cb",
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
