{
  "openapi": "3.0.0",
  "info": {
    "title": "Reviewed public response post_firecrawl_map",
    "version": "3a00a91fb8db83d033b3008209c0d598d3866c54",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://github.com/AIsa-team/docs/blob/3a00a91fb8db83d033b3008209c0d598d3866c54/openapi/firecrawl.json",
      "source_revision": "3a00a91fb8db83d033b3008209c0d598d3866c54",
      "converter": "scripts/prepare_response_source_migration.py@1",
      "refresh_policy": "pinned",
      "refresh_reason": "Public response migration requires per-route binding and semantic review.",
      "response_only": true,
      "path_space": "public",
      "upstream_path_sha256": "2f5dd4a81235c60425e866ee9f422b7fef02a5394037bd573d2ad5812f9c1ef6",
      "upstream_origin_sha256": "501ba605eb40ddea56b66725ba29303a39abf4bc5da716121834ea138b558314",
      "content_hash": "sha256:84d19152ea50a835f85c707843789ad8827c2ba620da86c4e6825eb92fad81f2",
      "source_document_sha256": "7c2fe218576e96d9be5d49f29603b770417622c524f759ea5617c827e197af59",
      "review_evidence": "Retain the exact existing typed public response from pinned AIsa Docs 3a00a91fb8db83d033b3008209c0d598d3866c54; operation ID and public route match. The current SELECT-only metadata proves the same Profile reference as frozen W0, verified target ownership, no query/encoding/managed transform, and the expected official provider origin. No response fields, requiredness, examples, or status were inferred or widened. Actual complete current Runtime projection and release approval remain required.",
      "fetched_at": "2026-10-08T16:19:47.155165+00:00",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:4ebe61b15b6f069166c1e92ba1829f7ba4a9e5bd8d87f5fa7a700190a44e45a5"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/firecrawl/map": {
      "post": {
        "responses": {
          "200": {
            "description": "Map completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True when the map succeeded."
                    },
                    "links": {
                      "type": "array",
                      "description": "Discovered links.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A discovered URL."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the discovered page, when available."
                          }
                        }
                      }
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "Firecrawl credits consumed (1 per discovered link)."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {}
}
