{
  "openapi": "3.0.3",
  "info": {
    "title": "Official Akta response for status/{request_id}",
    "version": "1.0.0",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://docs.akta.pro/openapi.json",
      "converter": "scripts/prepare_akta_response_bindings.py@1",
      "fetched_at": "2026-10-09T03:44:47.193846+00:00",
      "path_space": "public",
      "response_only": true,
      "upstream_path_sha256": "806682d39f5c60f0effc69251d9fc5a772833dc41bed52e443c6a12cb83a3e8d",
      "upstream_origin_sha256": "17b0c5c0d1df9d155c5ed4a4e0d358edc538efed1ea7d592e5b7122d42656f14",
      "source_revision": "f81b180650fdc2a877e1feb5327e94da4324b4ec",
      "source_file": "openapi/upstream/akta-official.json",
      "source_document_sha256": "e8a0061971891051743a08793392e559128cb545c92ae9ad8ad0d88625831612",
      "source_content_hash": "sha256:6a6263e89f7f0986a86bfab186ccaf353529ec29ab505d3ae7d1fe5af062fe12",
      "refresh_policy": "manual",
      "refresh_reason": "Review the official response declarations and the explicit public route/origin/path binding together; never infer a trailing-slash alias.",
      "content_hash": "sha256:bac0bcbc3ecd36d6ed7bb5f85cc2d5cb78211dad0d80d8768b41e3e434e50d90",
      "owner": "AIsa-team/docs",
      "review_period_days": 30,
      "policy_revision": "sha256:41564634c215ddbc6e62d70ff99b83f4e0e59f1121f5928b04a57be00f108f54"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "paths": {
    "/apis/v1/akta/status/{request_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Status response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StatusResponse"
                    },
                    "credits_consumed": {
                      "type": "number",
                      "format": "float",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request \u2014 invalid request ID."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key."
          }
        },
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the request to check, returned when the original request was submitted. Example: 2db01b38-5c81-4b3f-b76d-8b36aeed603b"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "description": "Unique identifier of the request being tracked.",
            "type": "string"
          },
          "request_type": {
            "description": "The type of request. Example: company_addition",
            "type": "string"
          },
          "status": {
            "description": "Current status of the request. Possible values: pending, in_progress, completed, failed.",
            "type": "string"
          },
          "created_at": {
            "description": "Timestamp when the request was created, in ISO 8601 format.",
            "type": "string"
          },
          "updated_at": {
            "description": "Timestamp when the request was last updated, in ISO 8601 format.",
            "type": "string"
          },
          "detail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        }
      },
      "StatusDetail": {
        "description": "Request-type-specific details for company_addition request.",
        "type": "object",
        "properties": {
          "company_addition_request_id": {
            "description": "Identifier of the underlying request record.",
            "type": "string"
          },
          "company_name": {
            "description": "Name of the company submitted for addition.",
            "type": "string"
          },
          "domain": {
            "description": "Resolved domain of the submitted company.",
            "type": "string"
          },
          "status": {
            "description": "Status of the underlying request. Possible values: pending, in_progress, completed, failed.",
            "type": "string"
          },
          "reason": {
            "description": "Explanation when the request did not succeed. null unless the request has failed.",
            "type": "string",
            "nullable": true
          },
          "company_uuid": {
            "description": "Akta UUID of the company once it has been added. null until the request is completed.",
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "description": "Timestamp when the underlying request was created, in ISO 8601 format.",
            "type": "string"
          },
          "updated_at": {
            "description": "Timestamp when the underlying request was last updated, in ISO 8601 format.",
            "type": "string"
          }
        }
      }
    }
  }
}
