{
  "openapi": "3.0.0",
  "info": {
    "title": "TikHub API",
    "description": "Multi-platform social media data — Douyin, TikTok, Bilibili, Kuaishou, Weibo, Xiaohongshu, Zhihu, and commercial (Xingtu/Huahuo/Billboard) endpoints.",
    "version": "1.0.0",
    "x-aisa-source": {
      "kind": "manual",
      "url": "https://github.com/AIsa-team/docs/blob/7783840e4710bb00886143feab84606f8aaea67c/openapi/tikhub.json",
      "fetched_at": "2026-09-29T21:25:55+08:00",
      "content_hash": "sha256:36a70c51e725ac32adf881f4e0c7535b59adbebd2baf0f46ff8835c455e74c77",
      "converter": "scripts/import_existing_contracts.py@1",
      "path_space": "public"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "VideoRankingRequest": {
        "properties": {
          "time_range": {
            "title": "Time Range",
            "description": "Time range: 1 / 2 / 3",
            "default": 2,
            "example": 2,
            "nullable": true,
            "type": "integer"
          },
          "tag_id": {
            "title": "Tag Id",
            "description": "Category id. 601 Drama, 602 Celebrity, 606 Music, 607 Anime, 608 Gaming, 609 Current Affairs, 612 Dance, 614 Agriculture, 615 Technology, 616 Finance, 617 Parenting, 619 Lifestyle, 621 Health, 623 Emotions, 624 Culture, 625 Workplace, 626 Education, 627 Photography, 628 Food, 629 Travel, 631 Fashion, 633 Sports, 634 Entertainment, 635 Automotive",
            "default": 634,
            "example": 634,
            "nullable": true,
            "type": "integer"
          },
          "dim_type": {
            "title": "Dim Type",
            "description": "Ranking dimension: 1=Low-follower Viral, 2=High Completion Rate, 3=High Like Rate, 4=High Follower Growth Rate, 5=Popularity Index",
            "default": 5,
            "example": 5,
            "nullable": true,
            "type": "integer"
          },
          "adv_id": {
            "title": "Adv Id",
            "description": "Advertiser id (optional)",
            "default": "",
            "example": "",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "title": "VideoRankingRequest",
        "description": "DOU+ Video Ranking Request Model"
      },
      "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post"
      },
      "XMssdkInfoModel": {
        "properties": {
          "user_agent": {
            "title": "User Agent",
            "description": "Optional User-Agent string, currently not supported for customization, defaults to a fixed value",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "title": "XMssdkInfoModel"
      },
      "NotesRateReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "example": "5c668b3e0000000012021605"
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=organic (default), 1=sponsored",
            "default": 0,
            "example": 0
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "Note type: 3=image and video notes (default), 1=image notes, 2=video notes. The upstream V1 get_blogger_notes endpoint uses different values: 4=all, 3=sponsored. That endpoint is not exposed in this specification.",
            "default": 3,
            "example": 3
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "Date range: 1=last 30 days (default), 2=last 90 days",
            "default": 1,
            "example": 1
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "Traffic type: 1=All (including sponsored), 0=Organic only\n\nUsage: 1=all traffic (default), 0=organic only",
            "default": 1,
            "example": 1
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesRateReq"
      },
      "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post": {
        "properties": {
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number, default is 10, it is recommended to keep it unchanged.",
            "default": 10
          },
          "refresh_index": {
            "type": "integer",
            "title": "Refresh Index",
            "description": "Refresh-paging index: 0=refresh (first page / pull-down), >0=load-more (scroll down), increment by 1 for next page\n\nUsage: Refresh/paging index, start at 0 and +1 per page.\n    - refresh_index=0: refresh (first entry / pull-to-refresh)\n    - refresh_index>0: load-more (scroll down)",
            "default": 0
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Optional: Your web Douyin login Cookie for a personalized feed; uses the default Cookie if omitted",
            "default": ""
          }
        },
        "type": "object",
        "title": "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post"
      },
      "SearchSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "The keyword to be suggested",
            "default": "人工智能"
          }
        },
        "type": "object",
        "title": "SearchSuggestRequest"
      },
      "LiveRoomHistoryListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date in YYYY-MM-DD format (required, e.g., \"2025-09-11\")",
            "example": "2025-09-11"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date in YYYY-MM-DD format (required, e.g., \"2025-10-11\")",
            "example": "2025-10-11"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Limit per page, default 400, max 400",
            "default": 400,
            "example": 400,
            "maximum": 400
          },
          "need_living": {
            "type": "integer",
            "title": "Need Living",
            "description": "Include live rooms currently streaming: 0=exclude, 1=include",
            "default": 1,
            "example": 1
          },
          "download": {
            "type": "integer",
            "title": "Download",
            "description": "Download: 0=no download, 1=download\n\nUsage: Download flag (0=No download, 1=Download, default 0)",
            "default": 0,
            "example": 0
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "LiveRoomHistoryListRequest",
        "description": "Live Room History List Request Model"
      },
      "GetProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not used\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date, e.g. '2025-04-01'",
            "default": "2025-04-01"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End Date, e.g. '2025-05-01'",
            "default": "2025-05-01"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default is the first page `0`",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetProductListRequest"
      },
      "XingtuCreatorPriceType": {
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "title": "XingtuCreatorPriceType"
      },
      "VideoSearchRequest": {
        "properties": {
          "cookie": {
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "nullable": true,
            "type": "string"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Video title or keyword",
            "example": "major"
          },
          "cursor": {
            "title": "Cursor",
            "description": "Pagination cursor, 0 for first page, then pass the cursor from the previous response",
            "default": 0,
            "example": 0,
            "nullable": true,
            "type": "integer"
          },
          "count": {
            "title": "Count",
            "description": "Page size, default 12",
            "default": 12,
            "example": 12,
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "VideoSearchRequest",
        "description": "Video Search Request Model (by title/keyword)"
      },
      "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post": {
        "properties": {
          "query_start_time": {
            "type": "string",
            "title": "Query Start Time",
            "description": "Query start timestamp, e.g. `1767196800`"
          },
          "query_end_time": {
            "type": "string",
            "title": "Query End Time",
            "description": "Query end timestamp, e.g. `1774972799`"
          },
          "industry_id_list": {
            "title": "Industry Id List",
            "description": "Industry ID list",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "category_list": {
            "title": "Category List",
            "description": "IP category list",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "status_list": {
            "title": "Status List",
            "description": "IP status list",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": [
          "query_start_time",
          "query_end_time"
        ],
        "title": "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post"
      },
      "ItemAnalysisOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "Genres list: 1=video under 1 min, 2=1-3 min video, 3=3-5 min video, 4=video over 5 min, 5=image+text, 8=long-form article\n\nUsage: Genre type list (optional, defaults to all genres)\n  - 1: Videos under 1 minute\n  - 2: 1-3 minute videos\n  - 3: 3-5 minute videos\n  - 4: Videos over 5 minutes\n  - 5: Photo posts\n  - 8: Long photo posts",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              1,
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "Primary verticals list (obtained from the involved_vertical endpoint)\n\nUsage: Vertical tag list (required, obtained from fetch_item_analysis_involved_vertical)\n\nAPI references: `fetch_item_analysis_involved_vertical` = `POST /tikhub/douyin/creator_v2/fetch_item_analysis_involved_vertical` (operationId: `post_tikhub_douyin_creator_v2_fetch_item_analysis_involved_vertical`).",
            "example": [
              "动物"
            ]
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisOverviewRequest",
        "description": "Item Analysis Overview Request Model"
      },
      "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post": {
        "properties": {
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "Industry ID, optional, returns cross-industry list if omitted, e.g., Education: 25000000000"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default 1",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page, default 20",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "title": "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post"
      },
      "PromotedAccountsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "limit": {
            "title": "Limit",
            "description": "Number of accounts per page, default 20",
            "default": 20,
            "example": 20,
            "nullable": true,
            "type": "integer"
          },
          "cursor": {
            "title": "Cursor",
            "description": "Pagination cursor, empty for first page, then pass the `sortID` value from the previous response",
            "default": "",
            "example": "",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "PromotedAccountsRequest",
        "description": "Promoted Accounts Request Model"
      },
      "SimilarReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Target blogger user ID",
            "example": "5c668b3e0000000012021605"
          },
          "page_num": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Page Num",
            "description": "Page",
            "default": 1,
            "example": 1
          },
          "page_size": {
            "type": "integer",
            "maximum": 4.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "Page size, 1-4 (web fixed at 4)\n\nUsage: **1-4** (fixed at 4 on the PGY web page)",
            "default": 4,
            "example": 4
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "SimilarReq"
      },
      "GetCreatorAccountInfoRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not used\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "title": "GetCreatorAccountInfoRequest"
      },
      "GetViolationRecordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not needed\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Integer, page number (default is `1`)",
            "default": 1
          }
        },
        "type": "object",
        "title": "GetViolationRecordRequest"
      },
      "NotesV2Req": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "example": "5c668b3e0000000012021605"
          },
          "page_number": {
            "type": "integer",
            "maximum": 1000.0,
            "minimum": 1.0,
            "title": "Page Number",
            "description": "Page number, from 1",
            "default": 1,
            "example": 1
          },
          "page_size": {
            "type": "integer",
            "maximum": 8.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "Page size, 1-8 (fixed at 8 on PGY web)",
            "default": 8,
            "example": 8
          },
          "note_type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "title": "Note Type",
            "description": "Note type: 0=All types (default), 1=Image & text, 2=Video\n\nUsage: 0=all (default), 1=image-text, 2=video",
            "default": 0,
            "example": 0
          },
          "order_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Order Type",
            "description": "Sort: 1=Latest (default), 2=Most read, 3=Most engaged\n\nUsage: 1=newest (default), 2=most read, 3=most engaged",
            "default": 1,
            "example": 1
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesV2Req"
      },
      "FetchMultiVideoHighQualityPlayUrlRequest": {
        "properties": {
          "aweme_ids": {
            "type": "string",
            "title": "Aweme Ids",
            "description": "Video id list, separated by commas, for example: \"123,456,789\", up to 50.",
            "default": "7512756548356492544,7448118827402972455,7126745726494821640",
            "pattern": "^[^,]*(?:,[^,]*){0,49}$"
          },
          "region": {
            "title": "Region",
            "description": "Optional, ISO country code (e.g. CN). Pass 'CN' for users in mainland China to get China-region CDN URLs for faster download.",
            "example": "CN",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "title": "FetchMultiVideoHighQualityPlayUrlRequest"
      },
      "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post": {
        "properties": {
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "Time range in days, one of 7 / 30 / 90, default 7",
            "default": 7
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code\n\nUsage: Country code, default US (see /tikhub/tiktok/ads/get_location_list for options)\n\nAPI references: `get_location_list` = `POST /tikhub/tiktok/ads/get_location_list` (operationId: `post_tikhub_tiktok_ads_get_location_list`).",
            "default": "US"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default 1",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page, default 20",
            "default": 20
          },
          "industry_id": {
            "type": "integer",
            "title": "Industry Id",
            "description": "First-level industry ID (optional), e.g. 10000000000=Education\n\nUsage: First-level industry ID (optional), filters hashtags by industry; omit for all industries. Options:\n  - 10000000000: Education\n  - 11000000000: Vehicle & Transportation\n  - 12000000000: Baby, Kids & Maternity\n  - 13000000000: Financial Services\n  - 14000000000: Beauty & Personal Care\n  - 15000000000: Tech & Electronics\n  - 16000000000: Appliances\n  - 17000000000: Travel\n  - 18000000000: Household Products\n  - 19000000000: Pets\n  - 20000000000: Apps\n  - 21000000000: Home Improvement\n  - 22000000000: Apparel & Accessories\n  - 23000000000: News & Entertainment\n  - 24000000000: Business Services\n  - 25000000000: Games\n  - 26000000000: Life Services\n  - 27000000000: Food & Beverage\n  - 28000000000: Sports & Outdoor\n  - 29000000000: Health"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, you can use your own Cookie to get more data"
          }
        },
        "type": "object",
        "title": "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post"
      },
      "UserSearchV2Request": {
        "properties": {
          "cookie": {
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "nullable": true,
            "type": "string"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "example": "Bo"
          },
          "cursor": {
            "title": "Cursor",
            "description": "Pagination cursor, 0 for first page, then pass the cursor from the previous response",
            "default": 0,
            "example": 0,
            "nullable": true,
            "type": "integer"
          },
          "count": {
            "title": "Count",
            "description": "Page size, default 10",
            "default": 10,
            "example": 10,
            "nullable": true,
            "type": "integer"
          },
          "scope": {
            "title": "Scope",
            "description": "Search scope, default 1",
            "default": 1,
            "example": 1,
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "UserSearchV2Request",
        "description": "DOU+ User Search V2 Request Model"
      },
      "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post": {
        "properties": {
          "author_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Author Ids",
            "description": "Creator ID list, up to 50 per call",
            "maxItems": 50
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "Platform source, default 1",
            "default": 1
          },
          "platform_channel": {
            "type": "integer",
            "title": "Platform Channel",
            "description": "Platform channel, default 1",
            "default": 1
          }
        },
        "type": "object",
        "required": [
          "author_ids"
        ],
        "title": "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post"
      },
      "GetVideoToProductStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not used\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video ID, for example \"7496499484705246507\"."
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "Product ID, for example \"1731050202505515549\"."
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetVideoToProductStatsRequest"
      },
      "UserSearchRequestV2": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response",
            "default": 0
          }
        },
        "type": "object",
        "title": "UserSearchRequestV2"
      },
      "LiveSearchBody": {
        "properties": {
          "nickname_or_mids": {
            "title": "Nickname Or Mids",
            "description": "Search by creator nickname or UID",
            "nullable": true,
            "type": "string"
          },
          "mids": {
            "title": "Mids",
            "description": "Batch exact match by UID",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "is_brand_live": {
            "title": "Is Brand Live",
            "description": "Live stream type: 1=Content live stream, 0=Commerce live stream. Available filters differ between the two types.",
            "nullable": true,
            "type": "integer"
          },
          "gender": {
            "title": "Gender",
            "description": "Anchor gender",
            "nullable": true,
            "type": "string"
          },
          "region_id": {
            "title": "Region Id",
            "description": "Anchor primary residence region (level 1)",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "second_region_id": {
            "title": "Second Region Id",
            "description": "Anchor primary residence region (level 2)",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "min_fans_num": {
            "title": "Min Fans Num",
            "description": "Minimum follower count",
            "nullable": true,
            "type": "integer"
          },
          "max_fans_num": {
            "title": "Max Fans Num",
            "description": "Maximum follower count",
            "nullable": true,
            "type": "integer"
          },
          "fans_gender_tag": {
            "title": "Fans Gender Tag",
            "description": "Audience gender tag",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "fans_age_tag": {
            "title": "Fans Age Tag",
            "description": "Audience age tag",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "fans_region_tag": {
            "title": "Fans Region Tag",
            "description": "Audience region tag",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "live_subarea_id": {
            "title": "Live Subarea Id",
            "description": "Live area (second-level); see live_area_list for values\n\nAPI references: `live_area_list` = `GET /tikhub/bilibili/huahuo/live_area_list` (operationId: `get_tikhub_bilibili_huahuo_live_area_list`).",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "partition_id": {
            "title": "Partition Id",
            "description": "Submission category (level 1)",
            "nullable": true,
            "type": "integer"
          },
          "second_partition_id": {
            "title": "Second Partition Id",
            "description": "Submission category (level 2)",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "min_popularity": {
            "title": "Min Popularity",
            "description": "Minimum average peak popularity per session in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "max_popularity": {
            "title": "Max Popularity",
            "description": "Maximum average peak popularity per session in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "live_audience_h_avg_30d_min": {
            "title": "Live Audience H Avg 30D Min",
            "description": "Minimum average hourly viewer count in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "live_audience_h_avg_30d_max": {
            "title": "Live Audience H Avg 30D Max",
            "description": "Maximum average hourly viewer count in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "live_danmu_h_avg_30d_min": {
            "title": "Live Danmu H Avg 30D Min",
            "description": "Minimum average hourly danmaku count in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "live_danmu_h_avg_30d_max": {
            "title": "Live Danmu H Avg 30D Max",
            "description": "Maximum average hourly danmaku count in the last 30 days",
            "nullable": true,
            "type": "integer"
          },
          "live_guild_id": {
            "title": "Live Guild Id",
            "description": "Live streaming guild; see live_guild_drop for values\n\nAPI references: `live_guild_drop` = `GET /tikhub/bilibili/huahuo/live_guild_drop` (operationId: `get_tikhub_bilibili_huahuo_live_guild_drop`).",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "high_potential_type": {
            "title": "High Potential Type",
            "description": "Registration status",
            "nullable": true,
            "type": "integer"
          },
          "live_good_category": {
            "title": "Live Good Category",
            "description": "Primary commerce category; 0=all; valid values from live_good_category\n\nAPI references: `live_good_category` = `GET /tikhub/bilibili/huahuo/live_good_category` (operationId: `get_tikhub_bilibili_huahuo_live_good_category`).",
            "nullable": true,
            "type": "integer"
          },
          "live_good_gmv": {
            "title": "Live Good Gmv",
            "description": "90-day GMV tier, 0=all",
            "nullable": true,
            "type": "integer"
          },
          "order_by": {
            "title": "Order By",
            "description": "Sort field",
            "nullable": true,
            "type": "string"
          },
          "sort": {
            "title": "Sort",
            "description": "Sort direction: desc or asc",
            "nullable": true,
            "type": "string"
          },
          "page": {
            "title": "Page",
            "description": "Page number starting from 1; 20 items per page\n\nUsage: One-based page number. Each page contains 20 records.",
            "nullable": true,
            "type": "integer",
            "minimum": 1.0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "LiveSearchBody",
        "description": "Live collaboration marketplace filters. Supports creator attributes,\naudience demographics, live categories, content-live performance,\ncommerce categories, and GMV filters. Every field is optional, and\nadditional filter fields may be supplied."
      },
      "VIPVideoModel": {
        "properties": {
          "bv_id": {
            "type": "string",
            "title": "Bv Id",
            "description": "Video id",
            "example": "BV1y7411Q7Eq"
          },
          "cid": {
            "type": "string",
            "title": "Cid",
            "description": "Video cid",
            "example": "171776208"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "VIP User Cookie",
            "example": "your_vip_bilibili_cookie"
          }
        },
        "type": "object",
        "required": [
          "bv_id",
          "cid",
          "cookie"
        ],
        "title": "VIPVideoModel"
      },
      "ChallengeSearchV2Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response\n\nUsage: Pagination cursor (0 for first page, use the last response cursor for subsequent pages)",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest\n\nUsage: Sorting method\n    - `0`: Comprehensive\n    - `1`: Most likes\n    - `2`: Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article\n\nUsage: Content type filter\n    - `0`: Unlimited\n    - `1`: Video\n    - `2`: Image\n    - `3`: Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengeSearchV2Request"
      },
      "DataSummaryReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "example": "5c668b3e0000000012021605"
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=Organic notes (default), 1=Sponsored notes",
            "default": 0,
            "example": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "DataSummaryReq"
      },
      "ItemAnalysisInvolvedVerticalRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "ItemAnalysisInvolvedVerticalRequest",
        "description": "Item Analysis Involved Vertical Request Model"
      },
      "ItemSearchKeywordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemSearchKeywordRequest",
        "description": "Item Search Keywords Request Model"
      },
      "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric_type": {
            "type": "string",
            "title": "Metric Type",
            "description": "Analysis type\n    - ctr: Click-through rate analysis\n    - cvr: Conversion rate analysis\n    - clicks: Click count analysis\n    - conversion: Conversion count analysis\n    - remain: Retention rate analysis (default)",
            "default": "remain"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "Period type (days)\n\nUsage: Time range, default 180 days",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post"
      },
      "CoreDataReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "example": "5c668b3e0000000012021605"
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=Organic notes (default), 1=Sponsored notes",
            "default": 0,
            "example": 0
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "Note type: 3=Image & text + Video (default), 1=Image & text, 2=Video\n\nUsage: 3=image-text+video (default), 1=image-text, 2=video\n  **Warning**: differs from the upstream V1 note-list endpoint (not exposed in this specification), where 4=all and 3=sponsored",
            "default": 3,
            "example": 3
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "Date range: 1=last 30 days (default), 2=last 90 days",
            "default": 1,
            "example": 1
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "Traffic type: 1=All (including sponsored), 0=Organic only\n\nUsage: 1=all traffic (default), 0=organic only",
            "default": 1,
            "example": 1
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "CoreDataReq"
      },
      "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post": {
        "properties": {
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result\n\nUsage: Period end timestamp in seconds, required\n    - Generate this value from the target ranking date; it is not returned by another endpoint\n    - Example: `1785024000`; do not pass `0`, which returns an empty result\n    - For period_dimension 1, pass a Sunday 00:00 UTC timestamp; other dates return no data\n    - For period_dimension 3 or 5, any past date works",
            "example": 1785024000
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "Period dimension: 1/3/5\n\nUsage: Period, default 3\n    - `1`: Weekly ranking\n    - `3`: Daily ranking\n    - `5`: Long-period ranking (covers videos over a longer time span)",
            "default": 3,
            "example": 1
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code\n\nUsage: Country code, default US, see /tikhub/tiktok/ads/get_location_list for options\n\nAPI references: `get_location_list` = `POST /tikhub/tiktok/ads/get_location_list` (operationId: `post_tikhub_tiktok_ads_get_location_list`).",
            "default": "US"
          },
          "content_label_ids": {
            "type": "string",
            "title": "Content Label Ids",
            "description": "Content label IDs, comma separated (e.g. `11002,11015`), empty for all. Options:\n    - `11001`: Nature & Animals\n    - `11002`: Beauty & Care\n    - `11003`: Fashion\n    - `11004`: Music & Entertainment\n    - `11005`: Games\n    - `11006`: Education & Work\n    - `11007`: Sports & Outdoor\n    - `11008`: Creativity & Talent\n    - `11009`: Family & Relationship\n    - `11010`: Food & Beverage\n    - `11011`: Vlog & Selfie\n    - `11012`: Society\n    - `11013`: Lifestyle & Leisure\n    - `11014`: Vehicles & Transportation\n    - `11015`: Technology & Finance",
            "default": ""
          },
          "order_by_metric": {
            "type": "integer",
            "title": "Order By Metric",
            "description": "Order by metric: 1=Views, 2=Engagement rate, 3=6-second completion rate\n\nUsage: Sorting metric, default 1\n    - `1`: By video views\n    - `2`: By engagement rate\n    - `3`: By 6-second view-through rate",
            "default": 1,
            "example": 1
          },
          "organic_only": {
            "type": "boolean",
            "title": "Organic Only",
            "description": "Organic content only",
            "default": false
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default 1",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page, default 20, max 100",
            "default": 20,
            "maximum": 100
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, you can use your own Cookie to get more data"
          }
        },
        "type": "object",
        "required": [
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post"
      },
      "XingtuContentSearchTimeRange": {
        "type": "integer",
        "enum": [
          30,
          90,
          180
        ],
        "title": "XingtuContentSearchTimeRange"
      },
      "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post"
      },
      "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post": {
        "properties": {
          "tt_uids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tt Uids",
            "description": "Creator ID list, obtained from `itemInfo.creatorID` of /tikhub/tiktok/ads/get_top_contents_list, multiple IDs allowed\n\nAPI references: `get_top_contents_list` = `POST /tikhub/tiktok/ads/get_top_contents_list` (operationId: `post_tikhub_tiktok_ads_get_top_contents_list`).",
            "default": [
              "103641138313531392"
            ]
          },
          "need_loader_list": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Need Loader List",
            "description": "Data module IDs, empty for all\n\nUsage: Data module IDs to return, omit for all. Options:\n    - `101`: Creator basic info\n    - `102`: Quote and price index\n    - `103`: Creator basic info\n    - `104`: Statistics (audience profile / follower trend / overall performance / video performance)\n    - `105`: Recent posts\n    - `106`: Creator marketplace status\n    - `107`: Content labels\n    - `125`: Creator type and display info",
            "example": [
              101,
              102,
              103,
              104,
              105,
              106,
              107,
              125
            ]
          },
          "creator_type": {
            "type": "integer",
            "title": "Creator Type",
            "description": "Creator type, default 2",
            "default": 2
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, you can use your own Cookie to get more data"
          }
        },
        "type": "object",
        "title": "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post"
      },
      "GiftQuery": {
        "properties": {
          "gift_id": {
            "type": "string",
            "title": "Gift Id",
            "description": "Gift ID",
            "example": "10001"
          }
        },
        "type": "object",
        "required": [
          "gift_id"
        ],
        "title": "GiftQuery",
        "description": "Single Gift ID query model\n\nArgs:\n    gift_id (str): Gift ID, e.g. \"10001\""
      },
      "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24\n\nUsage: Time window in hours, one of 1/24/72/168 (last 1 hour / 1 day / 3 days / 7 days), default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all\n\nUsage: Search keyword to filter the billboard, empty for all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.\n\nUsage: Vertical category tag filter, empty for all, tag ids come from the fetch_content_tag endpoint\n\nAPI references: `fetch_content_tag` = `GET /tikhub/douyin/billboard/fetch_content_tag` (operationId: `get_tikhub_douyin_billboard_fetch_content_tag`).",
            "example": [
              {
                "children": [
                  {
                    "value": 62808
                  },
                  {
                    "value": 62804
                  }
                ],
                "value": 628
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post"
      },
      "AnalyseStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "query": {
            "additionalProperties": true,
            "type": "object",
            "title": "Query",
            "description": "Analysis query object. Key fields: startTime, endTime (second timestamp string); analysisType (1=account, 2=video, 3=live); authorSecIdList (account sec_uid list); statusList (delivery status filter); metrics (metric list, e.g. stat_cost, total_play, total_like, dy_comment, dy_share, dy_follow); SecondaryTargetIds; CollectWayIds. graph extra: dimension; detail extra: page, limit, orderByMetric, orderByType; video/live extra: liveRoomIdList",
            "example": {
              "CollectWayIds": [],
              "SecondaryTargetIds": [],
              "analysisType": 1,
              "authorSecIdList": [],
              "endTime": "1781625599",
              "metrics": [
                "stat_cost",
                "total_play",
                "play_duration_5s_rate",
                "total_like",
                "dy_comment",
                "dy_share",
                "dy_home_visited",
                "dy_follow"
              ],
              "startTime": "1780934400",
              "statusList": []
            }
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "query"
        ],
        "title": "AnalyseStatsRequest",
        "description": "Delivery Analysis Request Model (overview / graph / detail, query passthrough)"
      },
      "GetProductRelatedVideosRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not used\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Current video ID, for example \"7496499484705246507\"."
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "Product ID, for example \"1731050202505515549\"."
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetProductRelatedVideosRequest"
      },
      "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "Analysis metric, options:\n  - retain_ctr: Retention CTR (default)\n  - retain_cvr: Retention CVR\n  - click_cnt: Click count\n  - convert_cnt: Conversion count\n  - play_retain_cnt: Play retention count",
            "default": "retain_ctr"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post"
      },
      "TikTok_APP_V3_Home_Feed": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's own cookie, optional parameter, used for personalized recommendations of interface return data.",
            "default": ""
          }
        },
        "type": "object",
        "title": "TikTok_APP_V3_Home_Feed"
      },
      "GetLiveOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not used\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query start date in the format `MM-DD-YYYY`, e.g., `04-01-2025`",
            "default": "04-01-2025"
          }
        },
        "type": "object",
        "title": "GetLiveOverviewRequest"
      },
      "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Leave empty for scenario 1 (popular suggestions); input a keyword for scenario 2\n\nUsage: Leave empty for popular suggestions in scenario 1; provide a keyword for related suggestions in scenario 2"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Suggestion count\n\nUsage: Number of suggestions to return, default 50",
            "default": 50
          },
          "scenario": {
            "type": "integer",
            "title": "Scenario",
            "description": "Scene type: 1=Popular suggestions, 2=Related keyword suggestions",
            "default": 1
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Optional country/region code"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "title": "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post"
      },
      "XingtuCreatorSearchType": {
        "type": "integer",
        "enum": [
          2,
          3
        ],
        "title": "XingtuCreatorSearchType"
      },
      "SecTokenRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "SecTokenRequest",
        "description": "Sec Token Request Model (cookie only)"
      },
      "NoteDetailReq": {
        "properties": {
          "note_id": {
            "type": "string",
            "title": "Note Id",
            "description": "Note ID",
            "example": "6a20edfa0000000021020951"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "note_id"
        ],
        "title": "NoteDetailReq"
      },
      "ItemListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Count per page (max 100)\n\nUsage: Number of items per page, default 10, max 100 (optional)",
            "default": 10,
            "example": 10,
            "maximum": 100
          },
          "order_by": {
            "type": "integer",
            "title": "Order By",
            "description": "Order by (1-26): 1=Publish time (newest first), 2=Publish time (oldest first), 3=Views (desc), 4=Views (asc), 5=Likes (desc), 6=Likes (asc), 7=Comments (desc), 8=Comments (asc), 9=Shares (desc), 10=Shares (asc), 11=Favorites (desc), 12=Favorites (asc), 13=2s bounce rate (desc), 14=2s bounce rate (asc), 15=5s completion rate (desc), 16=5s completion rate (asc), 17=Completion rate (desc), 18=Completion rate (asc), 19=Cover CTR (desc), 20=Cover CTR (asc), 21=Avg watch duration (desc), 22=Avg watch duration (asc), 23=Profile visits (desc), 24=Profile visits (asc), 25=Follower growth (desc), 26=Follower growth (asc)",
            "default": 1,
            "example": 1
          },
          "fields": {
            "type": "string",
            "title": "Fields",
            "description": "Fields to return, default \"metrics,review,visibility\" (optional)\n  - metrics: Traffic metrics (views, likes, comments, shares, favorites, etc.)\n  - review: Review status\n  - visibility: Visibility status",
            "default": "metrics,review,visibility",
            "example": "metrics,review,visibility"
          },
          "need_cooperation": {
            "type": "boolean",
            "title": "Need Cooperation",
            "description": "Need cooperation info",
            "default": true,
            "example": true
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "Start timestamp (milliseconds)",
            "example": 1758988800000
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "End time timestamp (milliseconds)",
            "example": 1760198399000
          },
          "need_long_article": {
            "type": "boolean",
            "title": "Need Long Article",
            "description": "Include long articles",
            "default": true,
            "example": true
          },
          "cursor": {
            "title": "Cursor",
            "description": "Pagination cursor, don't pass for first request, use returned cursor for pagination (optional)",
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_time",
          "end_time"
        ],
        "title": "ItemListRequest",
        "description": "Item List Request Model"
      },
      "UserPostsRequest": {
        "properties": {
          "cookie": {
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "nullable": true,
            "type": "string"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "User sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "cursor": {
            "title": "Cursor",
            "description": "Pagination cursor (string), \"0\" for first page, then pass the cursor from the previous response",
            "default": "0",
            "example": "0",
            "nullable": true,
            "type": "string"
          },
          "count": {
            "title": "Count",
            "description": "Page size, default 10",
            "default": 10,
            "example": 10,
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "sec_uid"
        ],
        "title": "UserPostsRequest",
        "description": "User Homepage Posts Request Model"
      },
      "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "Analysis metric, options:\n  - ctr_percentile: CTR percentile (default)\n  - time_attr_conversion_rate_percentile: Time-attributed conversion rate percentile\n  - click_cnt_percentile: Click count percentile\n  - time_attr_convert_cnt_percentile: Time-attributed conversion count percentile\n  - show_cnt_percentile: Impression count percentile",
            "default": "ctr_percentile"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "Time period in days, default 180",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post"
      },
      "GetAccountHealthRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address, can be omitted if not needed\n    - Example format: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "title": "GetAccountHealthRequest"
      },
      "GeneralSearchV3Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "default": "猫咪"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Offset cursor for pagination, obtained from data.pagination.offset of the last response, 0 for the first request",
            "default": 0
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, 1-200, start with 1 and increment by 1 each time",
            "default": 1
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID, obtained from data.pagination.search_id of the last response, empty for the first request",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace, obtained from data.pagination.backtrace of the last response, empty for the first request",
            "default": ""
          }
        },
        "type": "object",
        "title": "GeneralSearchV3Request"
      },
      "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post": {
        "properties": {
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24\n\nUsage: Time window in hours, one of 24/72/168 (last 1 day / 3 days / 7 days), default 24",
            "default": 24
          },
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "Page number, default 1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Number of items per page, default 10",
            "default": 10
          },
          "query_tag": {
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.\n\nUsage: Vertical category tag filter, empty for all, tag ids come from the fetch_content_tag endpoint\n\nAPI references: `fetch_content_tag` = `GET /tikhub/douyin/billboard/fetch_content_tag` (operationId: `get_tikhub_douyin_billboard_fetch_content_tag`).",
            "example": {
              "children": [
                {
                  "value": 62808
                },
                {
                  "value": 62804
                }
              ],
              "value": 628
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/BillboardTag"
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post"
      },
      "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Reference ad material ID, required parameter"
          },
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "Industry ID, e.g., Games: 25308000000",
            "default": "25308000000"
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, can be used to fetch more data"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post"
      },
      "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24\n\nUsage: Time window in hours, one of 1/24/72/168 (last 1 hour / 1 day / 3 days / 7 days), default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all\n\nUsage: Search keyword to filter the billboard, empty for all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.\n\nUsage: Vertical category tag filter, empty for all, tag ids come from the fetch_content_tag endpoint\n\nAPI references: `fetch_content_tag` = `GET /tikhub/douyin/billboard/fetch_content_tag` (operationId: `get_tikhub_douyin_billboard_fetch_content_tag`).",
            "example": [
              {
                "children": [
                  {
                    "value": 62808
                  },
                  {
                    "value": 62804
                  }
                ],
                "value": 628
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post"
      },
      "ChallengeSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword, e.g., 'game'",
            "default": "游戏"
          }
        },
        "type": "object",
        "title": "ChallengeSuggestRequest"
      },
      "GetShowcaseProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "title": "Proxy",
            "description": "Optional HTTP proxy address\n    - Example: `http://username:password@host:port`",
            "default": "",
            "nullable": true,
            "type": "string"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Page Size\n\nUsage: Number of products per page (default 20)",
            "default": 20
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Pagination offset (default 0)",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetShowcaseProductListRequest"
      },
      "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default 1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page, default 10",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24\n\nUsage: Time window in hours, one of 1/24/72/168 (last 1 hour / 1 day / 3 days / 7 days), default 24",
            "default": 24
          },
          "sub_type": {
            "type": "integer",
            "title": "Sub Type",
            "description": "Ranking category: 1001 Overall Video, 1002 Low-follower Viral, 1003 High Completion Rate, 1004 High Follower Growth Rate, 1005 High Like Rate",
            "default": 1001
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all\n\nUsage: Search keyword to filter the billboard, empty for all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.\n\nUsage: Vertical category tag filter, empty for all, tag ids come from the fetch_content_tag endpoint\n\nAPI references: `fetch_content_tag` = `GET /tikhub/douyin/billboard/fetch_content_tag` (operationId: `get_tikhub_douyin_billboard_fetch_content_tag`).",
            "example": [
              {
                "children": [
                  {
                    "value": 62808
                  },
                  {
                    "value": 62804
                  }
                ],
                "value": 628
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post"
      },
      "ExperienceSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response\n\nUsage: Pagination cursor (0 for first page)",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest\n\nUsage: Sorting method\n  - `0`: Comprehensive\n  - `1`: Most likes\n  - `2`: Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ExperienceSearchRequest"
      },
      "BatchGiftQuery": {
        "properties": {
          "gift_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 1,
            "title": "Gift Ids",
            "description": "Gift ID list, recommend 50/call for best value ($0.025), auto-process first 50 if more than 50",
            "example": [
              "10001",
              "10002",
              "10003"
            ]
          }
        },
        "type": "object",
        "required": [
          "gift_ids"
        ],
        "title": "BatchGiftQuery",
        "description": "Batch Gift ID query model\nBilling: $0.025 per call; recommended 50 IDs per request for best value\n\nArgs:\n    gift_ids (list[str]): List of gift IDs, recommended 50 per request, e.g. [\"10001\", \"10002\", \"10003\"]"
      },
      "CostEstimateRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "Delivery account sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "item_ids": {
            "type": "string",
            "title": "Item Ids",
            "description": "Item ID(s), comma separated",
            "example": "7651166972160446949"
          },
          "target_id": {
            "title": "Target Id",
            "description": "Promotion target ID. 31=Likes & Comments, 32=Followers, 33=Profile visits, 37=Video views, 45=Comment link clicks, 78=High-quality engagement",
            "default": 31,
            "example": 31,
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "sec_uid",
          "item_ids"
        ],
        "title": "CostEstimateRequest",
        "description": "DOU+ Cost Estimation Request Model"
      },
      "XingtuToutiaoPriceType": {
        "type": "integer",
        "enum": [
          11
        ],
        "title": "XingtuToutiaoPriceType"
      },
      "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post": {
        "properties": {
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24\n\nUsage: Time window in hours, one of 1/24/72/168 (last 1 hour / 1 day / 3 days / 7 days), default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "default": "抖音"
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post"
      },
      "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post": {
        "properties": {
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "Number per page",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Your web version of Douyin Cookie\n\nUsage: User's web version of Douyin Cookie (This interface requires users to provide their own Cookie)"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post"
      },
      "TalentByCategoryRequest": {
        "properties": {
          "cookie": {
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "nullable": true,
            "type": "string"
          },
          "name": {
            "title": "Name",
            "description": "Category name or keyword (from the talent category endpoint); empty for all",
            "default": "",
            "example": "音乐",
            "nullable": true,
            "type": "string"
          },
          "page": {
            "title": "Page",
            "description": "Page index from 0",
            "default": 0,
            "example": 0,
            "nullable": true,
            "type": "integer"
          },
          "limit": {
            "title": "Limit",
            "description": "Page size, default 20",
            "default": 20,
            "example": 20,
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object",
        "title": "TalentByCategoryRequest",
        "description": "Search Talents By Category Request Model"
      },
      "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post": {
        "properties": {
          "city_code": {
            "type": "string",
            "title": "City Code",
            "description": "City code from city list; leave empty for all\n\nUsage: City code, get from city list, empty for all",
            "default": ""
          },
          "category_code": {
            "type": "string",
            "title": "Category Code",
            "description": "Hot-spot ranking category code; obtained from the hot-spot ranking categories; leave empty for all\n\nUsage: Hot list category code, get from hot list category, empty for all",
            "default": ""
          },
          "end_date": {
            "type": "integer",
            "title": "End Date",
            "description": "Snapshot end time, 10-digit Unix timestamp format\n\nUsage: Snapshot end time format 10 digit timestamp",
            "default": 1735488000
          },
          "start_date": {
            "type": "integer",
            "title": "Start Date",
            "description": "Snapshot start time format 10 digit timestamp",
            "default": 1734902400
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post"
      },
      "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post": {
        "properties": {
          "hashtag_id": {
            "type": "string",
            "title": "Hashtag Id",
            "description": "Hashtag ID, obtained from /tikhub/tiktok/ads/get_trends_hashtag_list\n\nAPI references: `get_trends_hashtag_list` = `POST /tikhub/tiktok/ads/get_trends_hashtag_list` (operationId: `post_tikhub_tiktok_ads_get_trends_hashtag_list`)."
          },
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "Time range in days, one of 7 / 30 / 90, default 90 (must match the hashtag's ranking range or data will be empty)",
            "default": 90
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, you can use your own Cookie to get more data"
          }
        },
        "type": "object",
        "required": [
          "hashtag_id"
        ],
        "title": "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post"
      },
      "ItemWatchTrendRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          },
          "analysis_type": {
            "type": "integer",
            "title": "Analysis Type",
            "description": "Analysis type: 1=Retention, 2=Like, 7=Bounce\n\nUsage: Analysis type (optional, default is 1)\n  - **1**: Retention Analysis - Shows user retention at each time point\n  - **2**: Like Analysis - Shows user like behavior at each time point\n  - **7**: Bounce Analysis - Shows user bounce rate at each time point",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemWatchTrendRequest",
        "description": "Item Watch Trend Analysis Request Model"
      },
      "ItemPlaySourceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemPlaySourceRequest",
        "description": "Item Play Source Statistics Request Model"
      },
      "ItemAnalysisItemPerformanceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's Douyin Creator Platform Cookie (required, transmitted in request body)",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "Genres list: 1=video under 1 min, 2=1-3 min video, 3=3-5 min video, 4=video over 5 min, 5=image+text, 8=long-form article\n\nUsage: Genre type list (optional, defaults to all genres)\n  - 1: Videos under 1 minute\n  - 2: 1-3 minute videos\n  - 3: 3-5 minute videos\n  - 4: Videos over 5 minutes\n  - 5: Photo posts\n  - 8: Long photo posts",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "Primary verticals list (obtained from the involved_vertical endpoint)\n\nUsage: Vertical tag list (required, obtained from fetch_item_analysis_involved_vertical)\n\nAPI references: `fetch_item_analysis_involved_vertical` = `POST /tikhub/douyin/creator_v2/fetch_item_analysis_involved_vertical` (operationId: `post_tikhub_douyin_creator_v2_fetch_item_analysis_involved_vertical`).",
            "example": [
              "动物"
            ]
          },
          "metric_type": {
            "type": "integer",
            "title": "Metric Type",
            "description": "Metric type: 1=Views, 2=Likes, 3=Comments, 4=Shares",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisItemPerformanceRequest",
        "description": "Item Analysis Item Performance Request Model"
      },
      "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Your web version of Douyin Cookie\n\nUsage: User's web version of Douyin Cookie (This interface requires users to provide their own Cookie)"
          },
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "Number per page",
            "default": 20
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post"
      },
      "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video item ID\n\nUsage: Video ID, obtained from `itemInfo.itemID` of /tikhub/tiktok/ads/get_top_contents_list\n\nAPI references: `get_top_contents_list` = `POST /tikhub/tiktok/ads/get_top_contents_list` (operationId: `post_tikhub_tiktok_ads_get_top_contents_list`)."
          },
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result\n\nUsage: Period end timestamp in seconds, required\n    - Generate this value from the target ranking date; it is not returned by another endpoint\n    - Example: `1785024000`; do not pass `0`, which returns an empty result\n    - For period_dimension 1, pass a Sunday 00:00 UTC timestamp; other dates return no data\n    - For period_dimension 3 or 5, any past date works\n    - If item_id comes from /tikhub/tiktok/ads/get_top_contents_list, reuse that ranking query's timestamp\n\nAPI references: `get_top_contents_list` = `POST /tikhub/tiktok/ads/get_top_contents_list` (operationId: `post_tikhub_tiktok_ads_get_top_contents_list`).",
            "example": 1785024000
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "Period dimension: 1/3/5\n\nUsage: Period, one of 1 / 3 / 5, default 3, recommended to match the ranking query",
            "default": 3,
            "example": 1
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country code of the ranking the video belongs to, default US",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string, optional parameter, you can use your own Cookie to get more data"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post"
      },
      "MultiSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response\n\nUsage: Pagination cursor (0 for first page, use the last response cursor for subsequent pages)",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest\n\nUsage: Sorting method\n    - `0`: Comprehensive\n    - `1`: Most likes\n    - `2`: Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article\n\nUsage: Content type filter\n    - `0`: Unlimited\n    - `1`: Video\n    - `2`: Image\n    - `3`: Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "MultiSearchRequest"
      },
      "ChallengePostRequest": {
        "properties": {
          "challenge_id": {
            "type": "string",
            "title": "Challenge Id",
            "description": "Challenge ID",
            "default": "1608846127610893"
          },
          "sort_type": {
            "type": "integer",
            "title": "Sort Type",
            "description": "Sort type\n    - 0: Comprehensive sorting 1: Hottest sorting 2: Latest sorting",
            "default": 0
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Cursor",
            "default": 0
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Count",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User provided Cookie",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengePostRequest"
      },
      "Body_multi_get_item_stats_api_v1_douyin_xingtu_v2_multi_get_item_stats_post": {
        "properties": {
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "Video (item) ID list, up to 20 per call (exceeding returns an error); auto de-dup",
            "maxItems": 20
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "Platform source, default 1",
            "default": 1
          },
          "need_cover_url": {
            "type": "boolean",
            "title": "Need Cover Url",
            "description": "Whether to return cover URL",
[...]
