{
  "openapi": "3.0.0",
  "info": {
    "title": "Full Text SearchAPI",
    "version": "1.0.0",
    "description": "API for fulltext search with complete web page content retrieval and advanced filteringcapabilities",
    "x-aisa-source": {
      "url": "https://aws.amazon.com/cn/blogs/china/building-enterprise-level-with-bedrock-agentcore-and-strands/",
      "fetched_at": "2026-09-30T03:45:48.045521+00:00",
      "content_hash": "sha256:73552a9e098b19658650f036a22e0217e85bf818da5c5ec47695ee2d07204bbf",
      "kind": "manual",
      "converter": "scripts/wrapper_cloudsway_full_reference.py@1",
      "path_space": "public",
      "lifecycle": "historical",
      "article_date": "2025-11-20",
      "embedded_openapi_sha256": "sha256:bec33e8ee815b00bcceacf9e4ad6246d7785d22223b3d403a1696fb44e620581",
      "upstream_path_sha256": "eb38730f21101320f1e6bb71a906895508cfecb1101ded67d70b1a15639e387b",
      "original_upstream_path_template": "/search/{Endpoint}/full",
      "upstream_operation_id": "fullTextSearch",
      "public_path_mapping": "Reviewed AIsa Cloudsway routing exposes this account-specific Full Search path as /apis/v1/search/full.",
      "note": "Supplier-coauthored historical contract. No current authenticated availability was verified. The CLI separately records historical HTML 404 failures.",
      "source_pages": [
        {
          "url": "https://aws.amazon.com/cn/blogs/china/building-enterprise-level-with-bedrock-agentcore-and-strands/",
          "raw_content_hash": "sha256:60300815891526f4fa9008f076e6002c4b9d9401c906192717735a6298265dfc"
        }
      ],
      "owner": "AIsa-team/docs",
      "refresh_policy": "manual",
      "review_period_days": 30,
      "policy_revision": "sha256:a78f3f681552e8e061c37d2bba9ee317a83b6b6a81440b8c24a5090d15f3f715"
    }
  },
  "servers": [
    {
      "url": "https://searchapi.cloudsway.net",
      "description": "Full TextSearch API Server"
    }
  ],
  "paths": {
    "/apis/v1/search/full": {
      "get": {
        "summary": "Perform fulltext search",
        "description": "Searchfor web content and retrieve full text content with advanced filtering optionsincluding freshness, market, and safety filters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Theuser's search query. This string cannot be empty. The query can containadvanced operators.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of search results included in the return results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "description": "Filter search results by time values: Day, Week, Month. To get articleswithin a specific time range, specify a date range in the formatYYYY-MM-DD..YYYY-MM-DD. For example, 2019-02-01..2019-05-30.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Theoffset from zero, indicating the number of search results to skip beforereturning results. The default value is 0. Use this parameter with the countparameter to paginate the results.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int16",
              "default": 0
            }
          },
          {
            "name": "mkt",
            "in": "query",
            "description": "Themarket from which the results come. Usually, mkt is the country where the usermade the request. The market must be in the language-country format. Forexample, en-US. The string is case-insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "description": "Atwo-character country code indicating the country from which the resultoriginated.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "description": "Usedto filter adult content in web pages, images, and videos.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "description": "Thelanguage for User Interface strings. You can use a 2-letter or 4-letter code tospecify the language. A 4-letter code is recommended in the form language-country,where language is an ISO 639-1 language code and country is an ISO 3166country/region code. For example, use en-US for US English.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textDecorations",
            "in": "query",
            "description": "Aboolean value that determines whether the display string in the result shouldcontain decoration markers (such as hit highlighting characters). If true, thestring may contain markers. The default value is false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Enumeration value that affects the format of the full text contentreturned",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "HTML",
                "MARKDOWN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful full text search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queryContext": {
                      "type": "object",
                      "properties": {
                        "originalQuery": {
                          "type": "string",
                          "description": "The query string specified in therequest"
                        }
                      }
                    },
                    "webPages": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the web page. Use this nameand the URL to create a hyperlink that users can click to go to the webpage."
                              },
                              "snippet": {
                                "type": "string",
                                "description": "A text snippet that describes the contentof a web page."
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL of the web page. Use this URL andname to create a hyperlink that the user can click to go to the web page."
                              },
                              "content": {
                                "type": "string",
                                "description": "Full text content of the web page."
                              },
                              "displayUrl": {
                                "type": "string",
                                "description": "The display URL of the web page."
                              },
                              "datePublished": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time when the web page waspublished."
                              },
                              "siteName": {
                                "type": "string",
                                "description": "Thesource of the web page"
                              },
                              "logo": {
                                "type": "string",
                                "description": "The URL of the site's logo orfavicon."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Badrequest - Invalid parameters or missing required query parameter"
          },
          "401": {
            "description": "Unauthorized- Invalid or missing access key"
          },
          "404": {
            "description": "Notfound - Invalid endpoint path"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
