{
  "openapi": "3.0.3",
  "info": {
    "title": "Apollo API",
    "version": "1.0.0",
    "description": "Apollo API endpoints exposed through the AIsa unified gateway."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/apollo/people/match": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.01975,
            "max": 0.17775
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "People Enrichment",
        "description": "Enrich one person: give whatever identifiers you have and get back Apollo's full record for them. Accepts `email`, `first_name` plus `last_name`, `name`, `domain`, `organization_name`, `linkedin_url` or `hashed_email` — the more you supply, the likelier the match. Returns a `person` object with `id`, `name`, `title`, `headline`, `linkedin_url`, `twitter_url`, `github_url`, `photo_url`, `organization_id` and an `employment_history` array, plus a `request_id`. Personal emails and phone numbers are withheld unless `reveal_personal_emails` or `reveal_phone_number` is set, and those cost extra credits. A 200 does not guarantee a match — check whether `person` actually came back. Use `post_apollo_people_bulk_match` for up to 10 people in one call; use `post_apollo_mixed_people_api_search` when you do not have an identifier and need to find candidates first.",
        "operationId": "post_apollo_people_match",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The first name of the person. This is typically used in combination with the last_name parameter. Example: tim"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The last name of the person. This is typically used in combination with the first_name parameter. Example: zheng"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the first_name and last_name parameters. Example: tim zheng"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The email address of the person. Example: example@email.com"
          },
          {
            "name": "hashed_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. Example: 8d935115b9ff4489f2d1f9249503cadf (MD5) or 97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152 (SHA-256)"
          },
          {
            "name": "organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The name of the person's employer. This can be the current employer or a previous employer. Example: apollo"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. Example: apollo.io or microsoft.com"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People API Search endpoint and identify the values for person_id. Example: 587cf802f65125cad923a266"
          },
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The URL for the person's LinkedIn profile. Example: http://www.linkedin.com/in/tim-zheng-677ba010"
          },
          {
            "name": "run_waterfall_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable email waterfall enrichment"
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable phone waterfall enrichment"
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the person's data with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the person's data with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the person's phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "person": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "waterfall": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/people/bulk_match": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.1975
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Bulk People Enrichment",
        "description": "Enrich up to 10 people in one call. Body takes `details`, an array of the same identifier objects `post_apollo_people_match` accepts. Returns `matches` alongside `status`, `total_requested_enrichments`, `unique_enriched_records`, `missing_records` and `credits_consumed` — read `missing_records` rather than assuming every input matched. Costs one credit per record enriched, not per call. Use this over a loop of single calls: same credits, one round trip. For a single person `post_apollo_people_match` is simpler.",
        "operationId": "post_apollo_people_bulk_match",
        "parameters": [
          {
            "name": "run_waterfall_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable email waterfall enrichment"
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable phone waterfall enrichment"
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is false. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If you set the reveal_phone_number parameter to true, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40; https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "total_requested_enrichments": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "missing_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "waterfall": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "details": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "One person to enrich. Give whatever identifiers you have — the more, the likelier the match.",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "First name, used with last_name. Example: tim"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Last name, used with first_name. Example: zheng"
                        },
                        "name": {
                          "type": "string",
                          "description": "Full name, e.g. \"tim zheng\"; replaces first_name + last_name."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email address of the person."
                        },
                        "hashed_email": {
                          "type": "string",
                          "description": "MD5 or SHA-256 hash of the email address."
                        },
                        "organization_name": {
                          "type": "string",
                          "description": "Name of the person's employer. Example: apollo"
                        },
                        "domain": {
                          "type": "string",
                          "description": "Domain of the person's employer, without www. Example: apollo.io"
                        },
                        "id": {
                          "type": "string",
                          "description": "Apollo person id, e.g. from a people search."
                        },
                        "linkedin_url": {
                          "type": "string",
                          "description": "LinkedIn profile URL of the person."
                        }
                      }
                    },
                    "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people."
                  }
                },
                "required": [
                  "details"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/organizations/enrich": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.0395
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Organization Enrichment",
        "description": "Enrich one company by domain. `domain` is the only parameter and it must be the bare domain (apple.com), not a full URL. Returns an `organization` object with `id`, `name`, `website_url`, `linkedin_url`, `twitter_url`, `facebook_url`, `angellist_url`, `phone`, `founded_year`, `alexa_ranking`, `publicly_traded_symbol`, `publicly_traded_exchange` and `languages`. Use it as the entry point when all you have is a domain. For several domains at once use `post_apollo_organizations_bulk_enrich`; for the full record including funding and technology detail use `get_apollo_organizations_id`, which needs the Apollo organization id this call returns.",
        "operationId": "get_apollo_organizations_enrich",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain of the company that you want to enrich. Do not include www., the @ symbol, or similar. Example: apollo.io or microsoft.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/bulk_enrich": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.0395
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Bulk Organization Enrichment",
        "description": "Enrich up to 10 companies in one call. Body takes `domains`, an array of bare domains. Returns the enriched organizations alongside `status`, `total_requested_domains`, `unique_domains`, `unique_records` and `unique_enriched_records` — compare the requested and enriched counts rather than assuming every domain resolved. For one domain `get_apollo_organizations_enrich` is a plain GET.",
        "operationId": "post_apollo_organizations_bulk_enrich",
        "parameters": [
          {
            "name": "domains[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain of each company that you want to enrich. Do not include www., the @ symbol, or similar. Example: apollo.io and microsoft.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "total_requested_domains": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_domains": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "missing_records": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/mixed_people/api_search": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "People API Search",
        "description": "Find people matching criteria rather than enriching someone you already identified. Filter by job title, seniority, location, company domain, headcount and industry, and page with `page` and `per_page`. Returns `total_entries` and a `people` array. Note what search deliberately withholds: entries carry `last_name_obfuscated` and boolean flags — `has_email`, `has_direct_phone`, `has_city`, `has_state`, `has_country` — instead of the values themselves. Search tells you a match exists; enrichment reveals the contact details. Feed the ids into `post_apollo_people_match` or `post_apollo_people_bulk_match` to get emails and phone numbers, which is also where the credits are spent.",
        "operationId": "post_apollo_mixed_people_api_search",
        "parameters": [
          {
            "name": "person_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Job titles held by the people you want to find. For a person to be included in search results, they only need to match 1 of the job titles you add. Adding more job titles expands your search results. Results also include job titles with the same terms, even if they are not exact matches. For example, searching for marketing manager might return people with the job title content marketing manager. Use this parameter in combination with the person_seniorities[] parameter to find people based on specific job functions and seniority levels. Examples: sales development representative; marketing manager; research analyst"
          },
          {
            "name": "include_similar_titles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "This parameter determines whether people with job titles similar to the titles you define in the person_titles[] parameter are returned in the response. Set this parameter to false when using person_titles[] to return only strict matches for job titles."
          },
          {
            "name": "q_keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A string of words over which we want to filter the results."
          },
          {
            "name": "person_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location where people live. You can search across cities, US states, and countries. To find people based on the headquarters locations of their current employer, use the organization_locations parameter. Examples: california; ireland; chicago"
          },
          {
            "name": "person_seniorities[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job seniority that people hold within their current employer. This enables you to find people that currently hold positions at certain reporting levels, such as Director level or senior IC level. For a person to be included in search results, they only need to match 1 of the seniorities you add. Adding more seniorities expands your search results. Searches only return results based on their current job title, so searching for Director-level employees only returns people that currently hold a Director-level title. If someone was previously a Director, but is currently a VP, they would not be included in your search results. Use this parameter in combination with the person_titles[] parameter to find people based on specific job functions and seniority levels. The following options can be used for this parameter: owner founder c_suite partner vp head director manager senior entry intern"
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location of the company headquarters for a person's current employer. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. For example, if you search chicago but a company's HQ location is in boston, people that work for the Boston-based company will not appear in your results, even if they match other parameters. To find people based on their personal location, use the person_locations parameter. Examples: texas; tokyo; spain"
          },
          {
            "name": "q_organization_domains_list[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples: apollo.io; microsoft.com"
          },
          {
            "name": "contact_email_status[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The email statuses for the people you want to find. You can add multiple statuses to expand your search. The statuses you can search include: verified unverified likely to engage unavailable"
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies (employers) you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The number range of employees working for the person's current company. This enables you to find people based on the headcount of their employer. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000"
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum revenue the person's current employer generates. Use this parameter in combination with revenue_range[max] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 500000; 1500000"
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum revenue the person's current employer generates. Use this parameter in combination with revenue_range[min] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 500000; 1500000"
          },
          {
            "name": "currently_using_all_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find people based on all of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find people based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "currently_not_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude people from your search based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job titles that are listed in active job postings at the person's current employer. Examples: sales manager; research analyst"
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The locations of the jobs being actively recruited by the person's employer. Examples: atlanta; japan"
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_entries": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/mixed_companies/search": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.0395,
            "max": 0.0395
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Organization Search",
        "description": "Find companies matching criteria: name, domain, headcount, industry, location, funding stage and technologies in use. Returns `organizations` and `accounts` side by side — organizations are Apollo's global database, accounts are records that already exist in this Apollo workspace — plus `pagination` and `breadcrumbs` echoing the filters that were applied. Use it to build a target list. When you already know the domain, `get_apollo_organizations_enrich` answers directly and costs less.",
        "operationId": "post_apollo_mixed_companies_search",
        "parameters": [
          {
            "name": "q_organization_domains_list[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request. Examples: apollo.io; microsoft.com"
          },
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The number range of employees working for the company. This enables you to find companies based on headcount. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000"
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location of the company headquarters. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. For example, if you search chicago but a company's HQ location is in boston, any Boston-based companies will not appearch in your search results, even if they match other parameters.. To exclude companies based on location, use the organization_not_locations parameter. Examples: texas; tokyo; spain"
          },
          {
            "name": "organization_not_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude companies from search results based on the location of the company headquarters. You can use cities, US states, and countries as locations to exclude. This parameter is useful for ensuring you do not prospect in an undesirable territory. For example, if you use ireland as a value, no Ireland-based companies will appear in your search results. Examples: minnesota; ireland; seoul"
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the lower range of organization revenue. Use the revenue_range[max] parameter to set the upper range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 300000"
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the upper range of organization revenue. Use the revenue_range[min] parameter to set the lower range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 50000000"
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find organizations based on the technologies they currently use. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file . Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "q_organization_keyword_tags[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter search results based on keywords associated with companies. For example, you can enter mining as a value to return only companies that have an association with the mining industry. Examples: mining; sales strategy; consulting"
          },
          {
            "name": "q_organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter search results to include a specific company name. If the value you enter for this parameter does not match with a company's name, the company will not appear in search results, even if it matches other parameters. Partial matches are accepted. For example, if you filter by the value marketing, a company called NY Marketing Unlimited would still be eligible as a search result, but NY Market Analysis would not be eligible. Example: apollo or mining"
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, identify the values for organization_id when you call this endpoint. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "latest_funding_amount_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[max] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "latest_funding_amount_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximium amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[min] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "total_funding_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[max] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "total_funding_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[min] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "latest_funding_date_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[max] to set a date range for when the company received its most recent funding round. Example: 2025-07-25"
          },
          {
            "name": "latest_funding_date_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[min] to set a date range for when the company received its most recent funding round. Example: 2025-09-25"
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job titles that are listed in active job postings at the company. Examples: sales manager; research analyst"
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The locations of the jobs being actively recruited by the company. Examples: atlanta; japan"
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The earliest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The latest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "breadcrumbs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "partial_results_only": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "has_join": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "disable_eu_prospecting": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "partial_results_limit": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "model_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    },
                    "num_fetch_result": {
                      "type": "string",
                      "description": "Response field"
                    },
                    "derived_params": {
                      "type": "string",
                      "description": "Response field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/{organization_id}/job_postings": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.01975,
          "observed_usd": {
            "min": 0.012,
            "max": 0.01975
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Organization Job Postings",
        "description": "Live job postings for one company, by Apollo organization id. Each posting carries its title, location, posted date and source URL. Useful as a hiring signal — which functions a company is expanding, and where. Get the organization id from `get_apollo_organizations_enrich` first. This reads Apollo's job board data, not the company's own careers page, so absence of postings is not proof a company is not hiring.",
        "operationId": "get_apollo_organizations_organization_id_job_postings",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization ID of the company for which you want to find job postings. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization_job_postings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/organizations/{id}": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Get Complete Organization Info",
        "description": "The complete Apollo record for one company, by Apollo organization id (not by domain). Returns an `organization` object carrying everything enrichment returns plus the deeper fields: funding history, technology stack, department headcounts and related organizations. Get the id from `get_apollo_organizations_enrich` or `post_apollo_mixed_companies_search` first — this endpoint cannot take a domain.",
        "operationId": "get_apollo_organizations_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the organization that you want to research. To find organization IDs, call the Organization Search endpoint and identify the organizaton_id value for the organization. Example: 5e66b6381e05b4008c8331b8"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "description": "Response object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/news_articles/search": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.01975,
          "observed_usd": {
            "min": 0.012,
            "max": 0.01975
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records enriched/returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "News Articles Search",
        "description": "News coverage for specific companies. `organization_ids[]` is required — omitting it returns HTTP 422 with \"organization_ids is required\", so resolve the companies first with `get_apollo_organizations_enrich` or `post_apollo_mixed_companies_search`. Narrow further with `categories[]` (funding, hires, launches and similar), `published_at[min]`, `published_at[max]`, and page with `page` and `per_page`. Returns `news_articles` and `pagination`. Use it to catch a trigger event before reaching out.",
        "operationId": "post_apollo_news_articles_search",
        "parameters": [
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "categories[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter your search to include only certain categories or sub-categories of news. Use the News search filter for companies within Apollo to uncover all possible categories and sub-categories. Examples: hires; investment; contract"
          },
          {
            "name": "published_at[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the lower bound of the date range you want to search. Use this parameter in combination with the published_at[max] parameter. This date should fall before the published_at[max] date. The date should be formatted as YYYY-MM-DD. Example: 2025-02-15"
          },
          {
            "name": "published_at[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the upper bound of the date range you want to search. Use this parameter in combination with the published_at[min] parameter. This date should fall after the published_at[min] date. The date should be formatted as YYYY-MM-DD. Example: 2025-05-15"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "description": "Response object"
                    },
                    "news_articles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Response array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/accounts": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Create an Account",
        "description": "Create an account — a company saved into this workspace. Duplicate domains are rejected, so search with `post_apollo_accounts_search` before creating. Requires a master API key. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation. To enrich a company without saving it, use `get_apollo_organizations_enrich`.",
        "operationId": "post_apollo_accounts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "description": "Created account",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Account domain"
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  }
                },
                "required": [
                  "name",
                  "domain"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/{account_id}": {
      "patch": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Update an Account",
        "description": "Update one account by its Apollo id. Send only the fields you intend to change; anything you omit keeps its current value. Stage fields expect an id from `get_apollo_account_stages`. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation.",
        "operationId": "patch_apollo_accounts_account_id",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "description": "Updated account",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Account domain"
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  },
                  "raw_address": {
                    "type": "string",
                    "description": "Raw address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "typed_custom_fields": {
                    "type": "object",
                    "description": "Typed custom fields object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/bulk_create": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Bulk Create Accounts",
        "description": "Create several accounts in one call. Same duplicate-domain rule as `post_apollo_accounts`, applied per record, so a partial success is normal — read the response rather than assuming every row was created. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation.",
        "operationId": "post_apollo_accounts_bulk_create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_accounts": {
                      "type": "string",
                      "description": "Accounts created in this request"
                    },
                    "created_accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "created_accounts[].name": {
                      "type": "string",
                      "description": "Account name"
                    },
                    "created_accounts[].domain": {
                      "type": "string",
                      "description": "Account domain"
                    },
                    "created_accounts[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "created_accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "created_accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    },
                    "created_accounts[].phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "created_accounts[].created_at": {
                      "type": "string",
                      "description": "Created timestamp"
                    },
                    "created_accounts[].updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    },
                    "existing_accounts": {
                      "type": "string",
                      "description": "Accounts that already existed (dedupe matches)"
                    },
                    "existing_accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "existing_accounts[].name": {
                      "type": "string",
                      "description": "Account name"
                    },
                    "existing_accounts[].domain": {
                      "type": "string",
                      "description": "Account domain"
                    },
                    "existing_accounts[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "existing_accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "existing_accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    },
                    "existing_accounts[].phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "existing_accounts[].created_at": {
                      "type": "string",
                      "description": "Created timestamp"
                    },
                    "existing_accounts[].updated_at": {
                      "type": "string",
                      "description": "Updated timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "string",
                    "description": "Array of accounts to create"
                  },
                  "append_label_names": {
                    "type": "string",
                    "description": "Label names to append to each created account"
                  },
                  "run_dedupe": {
                    "type": "boolean",
                    "description": "Enable deduplication. Default false."
                  }
                },
                "required": [
                  "accounts"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/bulk_update": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Bulk Update Accounts",
        "description": "Update several accounts in one call, each identified by its Apollo id. Partial success is normal; check the response per record. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation.",
        "operationId": "post_apollo_accounts_bulk_update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "string",
                      "description": "Updated accounts"
                    },
                    "accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "accounts[].account_stage_id": {
                      "type": "string",
                      "description": "Account stage ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_ids": {
                    "type": "string",
                    "description": "IDs of accounts to update"
                  },
                  "account_attributes": {
                    "type": "string",
                    "description": "List of account attribute update objects"
                  },
                  "account_attributes[].name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "account_attributes[].owner_id": {
                    "type": "string",
                    "description": "Owner ID"
                  },
                  "account_attributes[].account_stage_id": {
                    "type": "string",
                    "description": "Account stage ID"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Run asynchronously. Default false."
                  }
                },
                "required": [
                  "account_ids",
                  "account_attributes"
                ]
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/search": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Search for Accounts",
        "description": "Search accounts — the companies saved in this Apollo workspace, as opposed to Apollo's global database. Filter by name, owner, stage and custom fields; page with `page` and `per_page`. Returns `accounts` and `pagination`, plus `breadcrumbs` echoing the filters applied. ⚠️ This workspace is shared by every AIsa caller, so results include records other callers created. To search Apollo's global company database instead, use `post_apollo_mixed_companies_search`.",
        "operationId": "post_apollo_accounts_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "breadcrumbs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Breadcrumb",
                        "additionalProperties": true
                      },
                      "description": "Response array"
                    },
                    "partial_results_only": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "has_join": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "disable_eu_prospecting": {
                      "type": "boolean",
                      "description": "Response field"
                    },
                    "partial_results_limit": {
                      "type": "integer",
                      "description": "Response field"
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination metadata",
                      "additionalProperties": true
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Account",
                        "additionalProperties": true
                      },
                      "description": "Response array"
                    },
                    "num_fetch_result": {
                      "type": "object",
                      "nullable": true,
                      "description": "Fetch-result metadata",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q_organization_name": {
                    "type": "string",
                    "description": "Organization name query"
                  },
                  "account_stage_ids": {
                    "type": "string",
                    "description": "Filter by account stage IDs"
                  },
                  "account_label_ids": {
                    "type": "string",
                    "description": "Filter by account label IDs"
                  },
                  "sort_by_field": {
                    "type": "string",
                    "description": "Sort field (e.g. account_last_activity_date, account_created_at, account_updated_at)"
                  },
                  "sort_ascending": {
                    "type": "boolean",
                    "description": "Sort ascending"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number"
                  },
                  "per_page": {
                    "type": "integer",
                    "description": "Items per page"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/accounts/{id}": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "View an Account",
        "description": "One saved account by its Apollo id, with its full field set including custom fields and owner. Find the id with `post_apollo_accounts_search`. This reads the shared AIsa workspace, not Apollo's global database — for a company you have not saved, use `get_apollo_organizations_enrich`.",
        "operationId": "get_apollo_accounts_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "description": "Account",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/accounts/update_owners": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Update Account Owner for Multiple Accounts",
        "description": "Reassign the owner of several accounts at once. Owner ids come from `get_apollo_users_search`. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation. Reassignment is visible to whoever owned them before.",
        "operationId": "post_apollo_accounts_update_owners",
        "parameters": [
          {
            "name": "account_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account IDs"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "New owner ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "string",
                      "description": "Updated accounts"
                    },
                    "accounts[].id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "accounts[].owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "accounts[].crm_owner_id": {
                      "type": "string",
                      "description": "CRM owner ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/account_stages": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "List Account Stages",
        "description": "The account stages configured in this workspace, as an `account_stages` array of `id`, `name`, `display_name`, `display_order`, `category` and `is_meeting_set`. Takes no parameters. Call it before creating or updating accounts: stage fields expect a stage id, and the set is workspace-specific rather than a fixed enum.",
        "operationId": "get_apollo_account_stages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_stages": {
                      "type": "string",
                      "description": "Account stages list"
                    },
                    "account_stages[].id": {
                      "type": "string",
                      "description": "Stage ID"
                    },
                    "account_stages[].team_id": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "account_stages[].display_name": {
                      "type": "string",
                      "description": "Display name"
                    },
                    "account_stages[].name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "account_stages[].display_order": {
                      "type": "integer",
                      "description": "Display order"
                    },
                    "account_stages[].default_exclude_for_leadgen": {
                      "type": "boolean",
                      "description": "Default exclude for leadgen"
                    },
                    "account_stages[].category": {
                      "type": "string",
                      "description": "Category"
                    },
                    "account_stages[].is_meeting_set": {
                      "type": "boolean",
                      "description": "Is meeting set"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/apollo/contacts": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "Create a Contact",
        "description": "Create a contact — a person saved into this workspace. Search with `post_apollo_contacts_search` first to avoid duplicates, which Apollo does not reject here the way it rejects duplicate account domains. Writes land in the AIsa workspace, which every caller shares: the record becomes visible and editable by others, and there is no per-caller isolation. To look someone up without saving them, use `post_apollo_people_match`.",
        "operationId": "post_apollo_contacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "description": "Created contact",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Account ID"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "website_url": {
                    "type": "string",
                    "description": "Website URL"
                  },
                  "label_names": {
                    "type": "string",
                    "description": "Labels to set on the contact"
                  },
                  "contact_stage_id": {
                    "type": "string",
                    "description": "Contact stage ID"
                  },
                  "present_raw_address": {
                    "type": "string",
                    "description": "Raw address"
                  },
                  "direct_phone": {
                    "type": "string",
                    "description": "Direct phone"
                  },
                  "corporate_phone": {
                    "type": "string",
                    "description": "Corporate phone"
                  },
                  "mobile_phone": {
                    "type": "string",
                    "description": "Mobile phone"
                  },
                  "home_phone": {
                    "type": "string",
                    "description": "Home phone"
                  },
                  "other_phone": {
                    "type": "string",
                    "description": "Other phone"
                  },
                  "typed_custom_fields": {
                    "type": "object",
                    "description": "Typed custom fields object"
                  },
                  "run_dedupe": {
                    "type": "boolean",
                    "description": "Enable deduplication. Default false."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apollo/contacts/{contact_id}": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.012,
          "cost_tier": "med"
        },
        "summary": "View a Contact",
        "description": "One saved contact by its Apollo id, with the full field set including custom fields, owner and stage. Find the id with `post_apollo_contacts_search`. Reads the shared workspace, not Apollo's global database.",
        "operationId": "get_apollo_contacts_contact_id",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "description": "Contact object"
[...]
