{
  "openapi": "3.0.0",
  "info": {
    "title": "BytePlus SearchInfinity API",
    "version": "1.0.0",
    "description": "BytePlus SearchInfinity (by ByteDance's BytePlus) exposed through the AIsa gateway. Two synchronous endpoints for AI/agent workflows: a real-time web search that returns titled results with links and snippets, and a fetch endpoint that returns clean, structured content for a single URL. Pair them for RAG retrieval augmentation, competitive/PR monitoring, fact-checking, and targeted content collection.\n\nWeb Search is billed at a flat $0.00528 per successful call and Fetch at a flat $0.00088 per successful call. Only successful requests are billed; failures are not charged. Authenticate with your AIsa API key as a Bearer token."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/byteplus/web-search": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.00528,
          "cost_tier": "low"
        },
        "tags": [
          "https://www.byteplus.com"
        ],
        "summary": "AI-oriented real-time web search.",
        "description": "Run a real-time web search built for AI agents and return a ranked list of titled results with links and snippets. `Query` is required; narrow the result set with `Count` (≤ 20), `Filter` (restrict to `Sites` or exclude `BlockHosts`), `Language`, and `TimeRange`. The response wraps `ResponseMetadata.RequestId` and a `Result` list of web results. Use it for RAG retrieval augmentation, competitive/PR monitoring, fact-checking, and content sourcing; pair each result URL with `post_byteplus_fetch` to pull full page content. Billed at a flat $0.00528 per successful call; failed requests are not charged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Query": {
                    "type": "string",
                    "description": "The search query. Required.",
                    "example": "OpenAI news"
                  },
                  "Count": {
                    "type": "integer",
                    "description": "Number of results to return. Optional; maximum 20.",
                    "maximum": 20,
                    "example": 10
                  },
                  "Filter": {
                    "type": "object",
                    "description": "Optional result filter.",
                    "properties": {
                      "Sites": {
                        "type": "array",
                        "description": "Restrict results to these sites/hosts.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "openai.com"
                        ]
                      },
                      "BlockHosts": {
                        "type": "array",
                        "description": "Exclude results from these hosts.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "example.com"
                        ]
                      }
                    }
                  },
                  "Language": {
                    "type": "string",
                    "description": "Optional language hint for results, e.g. \"en\".",
                    "example": "en"
                  },
                  "TimeRange": {
                    "type": "string",
                    "description": "Optional recency window for results, e.g. \"week\" or \"month\".",
                    "example": "week"
                  }
                },
                "required": [
                  "Query"
                ]
              },
              "examples": {
                "basic": {
                  "summary": "Minimal query",
                  "value": {
                    "Query": "OpenAI news"
                  }
                },
                "filtered": {
                  "summary": "Query with count and filter",
                  "value": {
                    "Query": "OpenAI news",
                    "Count": 10,
                    "Filter": {
                      "Sites": [
                        "openai.com"
                      ]
                    },
                    "Language": "en",
                    "TimeRange": "week"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully. `Result` holds the ranked web results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseMetadata": {
                      "type": "object",
                      "description": "Upstream request metadata.",
                      "properties": {
                        "RequestId": {
                          "type": "string",
                          "description": "Unique identifier for this request."
                        }
                      }
                    },
                    "Result": {
                      "type": "array",
                      "description": "Ranked list of web results.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Result title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Result URL."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Short text snippet from the page."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_byteplus_web_search"
      }
    },
    "/byteplus/fetch": {
      "post": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.00088,
          "cost_tier": "low"
        },
        "tags": [
          "https://www.byteplus.com"
        ],
        "summary": "Fetch clean, structured content for a URL.",
        "description": "Fetch a single URL and return clean, structured page content — title, body text, and publish time. `Url` is required. The response wraps `ResponseMetadata.RequestId` and a `Result` object with the parsed content. Use it to extract full page content for URLs you already have, typically pairing it with `post_byteplus_web_search` results. Billed at a flat $0.00088 per successful call; failed requests are not charged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Url": {
                    "type": "string",
                    "description": "The URL to fetch. Required.",
                    "example": "https://example.com"
                  }
                },
                "required": [
                  "Url"
                ]
              },
              "examples": {
                "basic": {
                  "summary": "Fetch a page",
                  "value": {
                    "Url": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch completed successfully. `Result` holds the structured page content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseMetadata": {
                      "type": "object",
                      "description": "Upstream request metadata.",
                      "properties": {
                        "RequestId": {
                          "type": "string",
                          "description": "Unique identifier for this request."
                        }
                      }
                    },
                    "Result": {
                      "type": "object",
                      "description": "Structured page content.",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Page title."
                        },
                        "body": {
                          "type": "string",
                          "description": "Clean body text of the page."
                        },
                        "publish_time": {
                          "type": "string",
                          "description": "Detected publish time of the page, when available."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_byteplus_fetch"
      }
    }
  }
}
