{
  "openapi": "3.0.3",
  "info": {
    "title": "CoinGecko API",
    "version": "1.0.0",
    "description": "CoinGecko crypto market data routed through the AIsa gateway. Covers coin metadata, live and historical prices, OHLC, exchanges, tickers, categories, and trending search. Proxies the public CoinGecko v3 API at `https://api.coingecko.com/api/v3/`."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    },
    "parameters": {
      "CoinId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "CoinGecko coin ID (e.g., `bitcoin`, `ethereum`). Get the list via `/coins/list`.",
        "schema": { "type": "string" },
        "example": "bitcoin"
      },
      "ExchangeId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "CoinGecko exchange ID (e.g., `binance`, `gdax`). Get the list via `/exchanges/list`.",
        "schema": { "type": "string" },
        "example": "binance"
      },
      "VsCurrency": {
        "name": "vs_currency",
        "in": "query",
        "required": true,
        "description": "Target currency for price (e.g., `usd`, `eur`, `btc`). See `/simple/supported_vs_currencies`.",
        "schema": { "type": "string", "default": "usd" }
      },
      "Days": {
        "name": "days",
        "in": "query",
        "required": true,
        "description": "Data up to N days ago. Accepts `1`, `7`, `14`, `30`, `90`, `180`, `365`, or `max`.",
        "schema": { "type": "string" },
        "example": "7"
      }
    }
  },
  "paths": {
    "/coingecko/coins/list": {
      "get": {
        "summary": "Coins List (ID Map)",
        "description": "List all coins with id, symbol, and name. Use to map symbols to CoinGecko IDs.",
        "operationId": "coingeckoCoinsList",
        "parameters": [
          {
            "name": "include_platform",
            "in": "query",
            "description": "Include platform + contract addresses.",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of coins.",
            "content": {
              "application/json": {
                "example": [
                  { "id": "bitcoin", "symbol": "btc", "name": "Bitcoin" },
                  { "id": "ethereum", "symbol": "eth", "name": "Ethereum" }
                ]
              }
            }
          }
        }
      }
    },
    "/coingecko/simple/supported_vs_currencies": {
      "get": {
        "summary": "Supported Currencies",
        "description": "List of all supported fiat and crypto currencies for `vs_currency` parameters.",
        "operationId": "coingeckoSupportedVsCurrencies",
        "responses": {
          "200": {
            "description": "Array of currency codes.",
            "content": {
              "application/json": {
                "example": ["btc", "eth", "usd", "eur", "jpy", "gbp"]
              }
            }
          }
        }
      }
    },
    "/coingecko/coins/markets": {
      "get": {
        "summary": "Coins Markets",
        "description": "List all coins with market data: price, market cap, volume, and other metrics.",
        "operationId": "coingeckoCoinsMarkets",
        "parameters": [
          { "$ref": "#/components/parameters/VsCurrency" },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated CoinGecko coin IDs.",
            "schema": { "type": "string" },
            "example": "bitcoin,ethereum"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (see `/coins/categories/list`).",
            "schema": { "type": "string" }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["market_cap_desc", "market_cap_asc", "volume_desc", "volume_asc", "id_asc", "id_desc"],
              "default": "market_cap_desc"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 250 }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "sparkline",
            "in": "query",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "price_change_percentage",
            "in": "query",
            "description": "Comma-separated windows: `1h,24h,7d,14d,30d,200d,1y`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "Array of coin market entries." } }
      }
    },
    "/coingecko/coins/{id}": {
      "get": {
        "summary": "Coin Data by ID",
        "description": "Current data (price, markets, links, community, developer data) for a coin.",
        "operationId": "coingeckoCoinById",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          { "name": "localization",      "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "tickers",           "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "market_data",       "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "community_data",    "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "developer_data",    "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "sparkline",         "in": "query", "schema": { "type": "boolean", "default": false } }
        ],
        "responses": { "200": { "description": "Coin object." } }
      }
    },
    "/coingecko/simple/price": {
      "get": {
        "summary": "Simple Price",
        "description": "Current price for any cryptocurrencies in any supported currencies.",
        "operationId": "coingeckoSimplePrice",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated coin IDs.",
            "schema": { "type": "string" },
            "example": "bitcoin,ethereum"
          },
          {
            "name": "vs_currencies",
            "in": "query",
            "required": true,
            "description": "Comma-separated target currencies.",
            "schema": { "type": "string" },
            "example": "usd,eur"
          },
          { "name": "include_market_cap",      "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "include_24hr_vol",        "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "include_24hr_change",     "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "include_last_updated_at", "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "precision",               "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Map keyed by coin id.",
            "content": {
              "application/json": {
                "example": {
                  "bitcoin":  { "usd": 67234.12, "eur": 62019.45 },
                  "ethereum": { "usd": 3412.00,  "eur": 3147.80 }
                }
              }
            }
          }
        }
      }
    },
    "/coingecko/coins/{id}/market_chart": {
      "get": {
        "summary": "Coin Historical Chart",
        "description": "Historical market data (price, market cap, 24h volume) for a coin.",
        "operationId": "coingeckoCoinMarketChart",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          { "$ref": "#/components/parameters/VsCurrency" },
          { "$ref": "#/components/parameters/Days" },
          { "name": "interval", "in": "query", "description": "`daily` (default when days ≥ 90), else auto-granular.", "schema": { "type": "string", "enum": ["daily"] } }
        ],
        "responses": {
          "200": {
            "description": "Three time-series arrays.",
            "content": {
              "application/json": {
                "example": {
                  "prices":        [[1713398400000, 67234.12], [1713402000000, 67301.55]],
                  "market_caps":   [[1713398400000, 1321498765432]],
                  "total_volumes": [[1713398400000, 25679876543]]
                }
              }
            }
          }
        }
      }
    },
    "/coingecko/exchanges": {
      "get": {
        "summary": "Exchanges List",
        "description": "List all exchanges with current trading volume and metadata.",
        "operationId": "coingeckoExchangesList",
        "parameters": [
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 250 } },
          { "name": "page",     "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": { "200": { "description": "Array of exchange objects." } }
      }
    },
    "/coingecko/search/trending": {
      "get": {
        "summary": "Trending Search",
        "description": "Top-7 trending coin searches on CoinGecko in the last 24 hours.",
        "operationId": "coingeckoTrendingSearch",
        "responses": {
          "200": {
            "description": "Trending coins, nfts, and categories.",
            "content": {
              "application/json": {
                "example": {
                  "coins": [
                    { "item": { "id": "bitcoin", "name": "Bitcoin", "symbol": "BTC", "market_cap_rank": 1 } }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coingecko/coins/categories/list": {
      "get": {
        "summary": "Categories List",
        "description": "List all categories used by CoinGecko.",
        "operationId": "coingeckoCategoriesList",
        "responses": {
          "200": {
            "description": "Array of categories.",
            "content": {
              "application/json": {
                "example": [
                  { "category_id": "layer-1", "name": "Layer 1 (L1)" },
                  { "category_id": "meme-token", "name": "Meme" }
                ]
              }
            }
          }
        }
      }
    },
    "/coingecko/coins/{id}/tickers": {
      "get": {
        "summary": "Coin Tickers",
        "description": "Tickers (exchange-listed pairs) for a coin.",
        "operationId": "coingeckoCoinTickers",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          { "name": "exchange_ids", "in": "query", "description": "Comma-separated exchange IDs.", "schema": { "type": "string" } },
          { "name": "page",         "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "order",        "in": "query", "schema": { "type": "string", "enum": ["trust_score_desc", "trust_score_asc", "volume_desc"] } },
          { "name": "depth",        "in": "query", "schema": { "type": "boolean", "default": false } }
        ],
        "responses": { "200": { "description": "Tickers array." } }
      }
    },
    "/coingecko/coins/{id}/history": {
      "get": {
        "summary": "Coin Historical Data",
        "description": "Historical snapshot (price, market cap, volume) for a coin on a given date.",
        "operationId": "coingeckoCoinHistory",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date in `dd-mm-yyyy` format.",
            "schema": { "type": "string" },
            "example": "30-12-2024"
          },
          { "name": "localization", "in": "query", "schema": { "type": "boolean", "default": true } }
        ],
        "responses": { "200": { "description": "Snapshot object for the given date." } }
      }
    },
    "/coingecko/coins/{id}/ohlc": {
      "get": {
        "summary": "Coin OHLC",
        "description": "OHLC candles for a coin.",
        "operationId": "coingeckoCoinOhlc",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          { "$ref": "#/components/parameters/VsCurrency" },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "`1`, `7`, `14`, `30`, `90`, `180`, `365`.",
            "schema": { "type": "string" },
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of OHLC rows: `[timestamp, open, high, low, close]`.",
            "content": {
              "application/json": {
                "example": [
                  [1713398400000, 67000, 67500, 66900, 67234.12]
                ]
              }
            }
          }
        }
      }
    },
    "/coingecko/exchanges/list": {
      "get": {
        "summary": "Exchanges List (ID Map)",
        "description": "List all exchange IDs and names — use to resolve exchange names to IDs.",
        "operationId": "coingeckoExchangesListIdMap",
        "responses": {
          "200": {
            "description": "Array of `{id, name}`.",
            "content": {
              "application/json": {
                "example": [
                  { "id": "binance", "name": "Binance" },
                  { "id": "gdax",    "name": "Coinbase Exchange" }
                ]
              }
            }
          }
        }
      }
    },
    "/coingecko/exchanges/{id}": {
      "get": {
        "summary": "Exchange Data by ID",
        "description": "Detailed data for a single exchange (volume, tickers, trust score, etc.).",
        "operationId": "coingeckoExchangeById",
        "parameters": [
          { "$ref": "#/components/parameters/ExchangeId" }
        ],
        "responses": { "200": { "description": "Exchange object." } }
      }
    },
    "/coingecko/coins/categories": {
      "get": {
        "summary": "Categories with Market Data",
        "description": "All categories with market cap, volume, and top-3 coins.",
        "operationId": "coingeckoCategoriesMarketData",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["market_cap_desc", "market_cap_asc", "name_desc", "name_asc", "market_cap_change_24h_desc", "market_cap_change_24h_asc"]
            }
          }
        ],
        "responses": { "200": { "description": "Array of categories with market data." } }
      }
    },
    "/coingecko/news": {
      "get": {
        "summary": "Crypto News",
        "description": "Latest crypto news articles aggregated by CoinGecko.",
        "operationId": "coingeckoNews",
        "responses": {
          "200": {
            "description": "Array of news articles.",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    { "title": "Bitcoin hits new high", "url": "https://example.com/article", "published_at": 1713398400 }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coingecko/exchanges/{id}/tickers": {
      "get": {
        "summary": "Exchange Tickers",
        "description": "Tickers traded on a given exchange.",
        "operationId": "coingeckoExchangeTickers",
        "parameters": [
          { "$ref": "#/components/parameters/ExchangeId" },
          { "name": "coin_ids", "in": "query", "description": "Filter by coin IDs (comma-separated).", "schema": { "type": "string" } },
          { "name": "page",     "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "depth",    "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "order",    "in": "query", "schema": { "type": "string", "enum": ["trust_score_desc", "volume_desc"] } }
        ],
        "responses": { "200": { "description": "Tickers array." } }
      }
    },
    "/coingecko/exchanges/{id}/volume_chart": {
      "get": {
        "summary": "Exchange Volume Chart",
        "description": "Exchange historical volume chart (in BTC) over N days.",
        "operationId": "coingeckoExchangeVolumeChart",
        "parameters": [
          { "$ref": "#/components/parameters/ExchangeId" },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "`1`, `7`, `14`, `30`, `90`, `180`, `365`.",
            "schema": { "type": "string" },
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `[timestamp, btc_volume]`.",
            "content": {
              "application/json": {
                "example": [[1713398400000, 34251.12]]
              }
            }
          }
        }
      }
    },
    "/coingecko/simple/token_price/{id}": {
      "get": {
        "summary": "Coin Price by Token Address",
        "description": "Current price of one or more tokens by contract address on a supported platform.",
        "operationId": "coingeckoTokenPriceByAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ID (e.g., `ethereum`, `binance-smart-chain`, `polygon-pos`).",
            "schema": { "type": "string" },
            "example": "ethereum"
          },
          {
            "name": "contract_addresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated contract addresses.",
            "schema": { "type": "string" },
            "example": "0xdAC17F958D2ee523a2206206994597C13D831ec7"
          },
          {
            "name": "vs_currencies",
            "in": "query",
            "required": true,
            "description": "Comma-separated target currencies.",
            "schema": { "type": "string" },
            "example": "usd"
          },
          { "name": "include_market_cap",      "in": "query", "schema": { "type": "boolean" } },
          { "name": "include_24hr_vol",        "in": "query", "schema": { "type": "boolean" } },
          { "name": "include_24hr_change",     "in": "query", "schema": { "type": "boolean" } },
          { "name": "include_last_updated_at", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "Map keyed by contract address." } }
      }
    },
    "/coingecko/coins/{id}/contract/{address}": {
      "get": {
        "summary": "Coin Data by Token Address",
        "description": "Coin data for a token by contract address on a supported platform.",
        "operationId": "coingeckoCoinByTokenAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ID (e.g., `ethereum`).",
            "schema": { "type": "string" },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "ERC-20 / BEP-20 contract address.",
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "Coin object." } }
      }
    },
    "/coingecko/coins/{id}/contract/{address}/market_chart": {
      "get": {
        "summary": "Coin Historical Chart by Contract",
        "description": "Historical market data for a token by contract address.",
        "operationId": "coingeckoCoinMarketChartByContract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ID.",
            "schema": { "type": "string" },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Contract address.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/VsCurrency" },
          { "$ref": "#/components/parameters/Days" }
        ],
        "responses": { "200": { "description": "Same shape as `/coins/{id}/market_chart`." } }
      }
    },
    "/coingecko/coins/{id}/market_chart/range": {
      "get": {
        "summary": "Coin Market Chart Range",
        "description": "Historical market data within an explicit UNIX timestamp range.",
        "operationId": "coingeckoCoinMarketChartRange",
        "parameters": [
          { "$ref": "#/components/parameters/CoinId" },
          { "$ref": "#/components/parameters/VsCurrency" },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start UNIX timestamp (seconds).",
            "schema": { "type": "integer" },
            "example": 1713398400
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End UNIX timestamp (seconds).",
            "schema": { "type": "integer" },
            "example": 1713484800
          }
        ],
        "responses": { "200": { "description": "Same shape as `/coins/{id}/market_chart`." } }
      }
    },
    "/coingecko/exchanges/{id}/volume_chart/range": {
      "get": {
        "summary": "Exchange Volume Chart Range",
        "description": "Exchange historical volume chart within an explicit UNIX timestamp range.",
        "operationId": "coingeckoExchangeVolumeChartRange",
        "parameters": [
          { "$ref": "#/components/parameters/ExchangeId" },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start UNIX timestamp (seconds).",
            "schema": { "type": "integer" }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End UNIX timestamp (seconds).",
            "schema": { "type": "integer" }
          }
        ],
        "responses": { "200": { "description": "Array of `[timestamp, btc_volume]`." } }
      }
    }
  }
}
