{
  "openapi": "3.0.3",
  "info": {
    "title": "Duffel Flights API",
    "version": "v2",
    "description": "Flight search, booking, changes, and cancellations through the Duffel network. Search by route and passengers, refresh offers before ordering, then book with a balance payment. Orders are real bookings with real airlines: the Create Order call settles the actual fare plus a service fee through your AIsa balance, so verify slices and passenger details before confirming."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "SliceInput": {
        "type": "object",
        "required": [
          "origin",
          "destination",
          "departure_date"
        ],
        "properties": {
          "origin": {
            "type": "string",
            "description": "IATA airport code (JFK) or city code (NYC)"
          },
          "destination": {
            "type": "string",
            "description": "IATA airport code (ATL) or city code"
          },
          "departure_date": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          }
        }
      },
      "PassengerInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "adult"
            ],
            "description": "Use for adults; passengers under 18 must provide age instead"
          },
          "age": {
            "type": "integer",
            "description": "Required for passengers under 18"
          }
        }
      },
      "CabinClass": {
        "type": "string",
        "enum": [
          "economy",
          "premium_economy",
          "business",
          "first"
        ]
      },
      "Airport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "city_name": {
            "type": "string"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "origin": {
            "$ref": "#/components/schemas/Airport"
          },
          "destination": {
            "$ref": "#/components/schemas/Airport"
          },
          "departing_at": {
            "type": "string",
            "format": "date-time"
          },
          "arriving_at": {
            "type": "string",
            "format": "date-time"
          },
          "flight_number": {
            "type": "string"
          },
          "operating_carrier": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "iata_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "off_0000BAzrX1wdbYyQFAuAoz"
          },
          "total_amount": {
            "type": "string",
            "description": "Decimal string, e.g. 70.48",
            "example": "70.48"
          },
          "total_currency": {
            "type": "string",
            "example": "USD"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "passenger_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "segments": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          }
        }
      },
      "OfferRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "orq_0000BAzrX1jsN0lVbavyvg"
          },
          "live_mode": {
            "type": "boolean"
          },
          "cabin_class": {
            "type": "string"
          },
          "slices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SliceInput"
            }
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "pas_0000BAzrX1jsN0lVbavyvi"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "offers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Offer"
            }
          }
        }
      },
      "BookingPassenger": {
        "type": "object",
        "required": [
          "id",
          "title",
          "gender",
          "given_name",
          "family_name",
          "born_on",
          "email",
          "phone_number"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Passenger id from the offer request response"
          },
          "title": {
            "type": "string",
            "enum": [
              "mr",
              "ms",
              "mrs",
              "dr"
            ]
          },
          "gender": {
            "type": "string",
            "enum": [
              "m",
              "f",
              "x"
            ]
          },
          "given_name": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          },
          "born_on": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Must be the passenger's own email"
          },
          "phone_number": {
            "type": "string"
          },
          "infant_passenger_id": {
            "type": "string",
            "description": "Infant passenger id this adult is responsible for; one infant per adult"
          }
        }
      },
      "BalancePayment": {
        "type": "object",
        "required": [
          "type",
          "amount",
          "currency"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "balance"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Must equal the refreshed offer total_amount"
          },
          "currency": {
            "type": "string",
            "description": "Must equal the refreshed offer total_currency"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ord_0000BAzrYIJiDdmFJKIhcy"
          },
          "booking_reference": {
            "type": "string",
            "example": "DJMT4D"
          },
          "total_amount": {
            "type": "string"
          },
          "total_currency": {
            "type": "string"
          },
          "live_mode": {
            "type": "boolean"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "electronic_ticket"
                  ]
                },
                "unique_id": {
                  "type": "string"
                }
              }
            }
          },
          "available_actions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OrderCancellation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ore_0000BAzrZ6yBtPriPLcjeX"
          },
          "order_id": {
            "type": "string"
          },
          "refund_amount": {
            "type": "string",
            "nullable": true,
            "description": "0.00 when non-refundable; null when the airline has not quoted"
          },
          "refund_currency": {
            "type": "string",
            "nullable": true
          },
          "refund_to": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "after": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page"
          },
          "before": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string"
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "pointer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "After": {
        "name": "after",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "OfferIdQuery": {
        "name": "offer_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "paths": {}
}
