{
  "openapi": "3.0.0",
  "info": {
    "title": "Exa API",
    "version": "1.0.0",
    "description": "Unified API documentation for Exa neural semantic search endpoints exposed through the AIsa gateway: Search, Contents, Answer, and the asynchronous research Agent Runs.\n\nSearch, Contents, and Answer are synchronous and billed at a flat $0.08 per successful request. Agent Runs is asynchronous: the caller submits a run and then polls the returned job resource for status and results, billed at a flat $0.10 per run. Upstream 4xx responses (for example 401/403/404) are not billed. The `costDollars` field that Exa returns is the upstream cost breakdown and is informational only — customer billing follows the flat AIsa prices above."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AsyncJob": {
        "type": "object",
        "description": "An asynchronous integration job. Returned by the submit call (HTTP 202) and by the poll/detail call. Poll the job by its id until status is a terminal value (completed, failed, or cancelled).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique AIsa job identifier. Use it to poll, list, or cancel the job.",
            "example": "iaj_01HZY8Q2M4K7N9V3T6W1X0B2C3"
          },
          "object": {
            "type": "string",
            "description": "Always \"integration_async_job\".",
            "example": "integration_async_job"
          },
          "endpoint": {
            "type": "string",
            "description": "The submit endpoint this job belongs to.",
            "example": "/apis/v1/exa/agent/runs"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "Customer-facing lifecycle status. queued and running are non-terminal; completed, failed, and cancelled are terminal."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the job was accepted."
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the job reached a terminal status. Null while the job is still queued or running."
          },
          "pricing": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "authorizedMicrosUSD": {
                "type": "integer",
                "description": "Amount authorized (held) when the job was admitted, in micro-USD. Agent Runs settle at the flat $0.10 per run."
              },
              "finalMicrosUSD": {
                "type": "integer",
                "nullable": true,
                "description": "Final settled cost in micro-USD once the job is terminal. Null until settlement."
              },
              "billingMode": {
                "type": "string",
                "description": "Billing mode for the job.",
                "example": "flat_per_call"
              }
            }
          },
          "output": {
            "description": "Job result payload. Present only once status is completed. For Agent Runs this is the structured research result.",
            "nullable": true
          },
          "outputExpired": {
            "type": "boolean",
            "description": "True when the result has been retained past its retention window and is no longer retrievable."
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Present when status is failed. Null otherwise.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/exa/search": {
      "post": {
        "tags": [
          "https://docs.exa.ai/reference/search"
        ],
        "summary": "Run a neural semantic web search.",
        "description": "Synchronous. Search the open web with a natural-language query and get back the most relevant results, optionally with page contents inline. Billed at a flat $0.08 per successful request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The natural-language search query.",
                    "example": "latest evaluation frameworks for AI agents"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "fast",
                      "instant",
                      "deep-lite",
                      "deep",
                      "deep-reasoning"
                    ],
                    "default": "auto",
                    "description": "Search mode. auto lets Exa choose; the deep modes trade latency for higher-quality retrieval."
                  },
                  "numResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Number of results to return."
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "company",
                      "research paper",
                      "news",
                      "personal site",
                      "financial report",
                      "people"
                    ],
                    "description": "Optional hint about the kind of pages to prioritize."
                  },
                  "includeDomains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Only return results from these domains."
                  },
                  "excludeDomains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude results from these domains."
                  },
                  "startPublishedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only return results published on or after this ISO 8601 date."
                  },
                  "endPublishedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only return results published on or before this ISO 8601 date."
                  },
                  "contents": {
                    "type": "object",
                    "description": "Content options to return alongside each result.",
                    "properties": {
                      "text": {
                        "type": "boolean",
                        "description": "Return the full page text."
                      },
                      "highlights": {
                        "type": "boolean",
                        "description": "Return highlighted relevant snippets."
                      },
                      "summary": {
                        "type": "boolean",
                        "description": "Return an AI-generated summary of the page."
                      }
                    }
                  },
                  "outputSchema": {
                    "type": "object",
                    "description": "JSON Schema used to synthesize a structured output from the results."
                  },
                  "systemPrompt": {
                    "type": "string",
                    "description": "Instruction that guides how the structured output is generated."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Exa request identifier."
                    },
                    "results": {
                      "type": "array",
                      "description": "Ranked search results.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "publishedDate": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "output": {
                      "description": "Structured output, present only when outputSchema was supplied.",
                      "nullable": true
                    },
                    "costDollars": {
                      "description": "Upstream Exa cost breakdown. Informational only; customer billing is the flat $0.08.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exa/contents": {
      "post": {
        "tags": [
          "https://docs.exa.ai/reference/get-contents"
        ],
        "summary": "Extract full page contents for a set of URLs.",
        "description": "Synchronous. Fetch full page text, summaries, and metadata for a list of URLs. Cached instant results are served first; on a cache miss Exa falls back to a live crawl. Billed at a flat $0.08 per successful request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The URLs (or Exa result ids) to fetch contents for.",
                    "example": [
                      "https://example.com/article"
                    ]
                  },
                  "text": {
                    "type": "boolean",
                    "description": "Return the full page text."
                  },
                  "highlights": {
                    "type": "boolean",
                    "description": "Return highlighted relevant snippets."
                  },
                  "summary": {
                    "type": "boolean",
                    "description": "Return an AI-generated summary of the page."
                  },
                  "subpages": {
                    "type": "integer",
                    "description": "Number of linked subpages to also fetch."
                  },
                  "livecrawl": {
                    "type": "string",
                    "enum": [
                      "always",
                      "fallback",
                      "never"
                    ],
                    "description": "Freshness policy: always live-crawl, fall back to live crawl on cache miss, or never live-crawl."
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contents fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "publishedDate": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "summary": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exa/answer": {
      "post": {
        "tags": [
          "https://docs.exa.ai/reference/answer"
        ],
        "summary": "Get a direct, cited answer to a question.",
        "description": "Synchronous. Retrieve relevant sources and generate a direct answer (or a detailed summary) with source citations. Billed at a flat $0.08 per successful request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The question to answer.",
                    "example": "Which manufacturers had the top three global EV sales in 2025?"
                  },
                  "text": {
                    "type": "boolean",
                    "description": "Include the full page text of each citation."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "fast",
                      "instant",
                      "deep-lite",
                      "deep",
                      "deep-reasoning"
                    ],
                    "description": "Retrieval mode used to gather sources before answering."
                  },
                  "outputSchema": {
                    "type": "object",
                    "description": "JSON Schema for a structured answer output."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "answer": {
                      "description": "The generated answer. A string, or a structured object when outputSchema was supplied.",
                      "nullable": true
                    },
                    "citations": {
                      "type": "array",
                      "description": "Sources supporting the answer.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "publishedDate": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "costDollars": {
                      "description": "Upstream Exa cost breakdown. Informational only; customer billing is the flat $0.08.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exa/agent/runs": {
      "post": {
        "tags": [
          "https://docs.exa.ai/reference/create-a-research-task"
        ],
        "summary": "Submit an asynchronous research Agent run.",
        "description": "Asynchronous. Submit a natural-language research task; the Agent runs it in the background and returns a structured result. Billed at a flat $0.10 per run.\n\nLifecycle:\n1. Submit — POST /exa/agent/runs with the research body and a required `Idempotency-Key` header. On success the API returns HTTP 202 Accepted, a `Location` response header pointing at the job resource (`/apis/v1/exa/agent/runs/{jobId}`), and an integration_async_job body with `status` = queued. Re-submitting with the same key and request fingerprint returns the original run; the same key with a different fingerprint returns 409 idempotency_conflict.\n2. Poll — GET /apis/v1/exa/agent/runs/{jobId} to retrieve the run. Repeat until `status` is terminal (completed, failed, or cancelled). When completed, the research result is in `output`. The provider supports polling only (no webhook or SSE callback).\n3. List — GET /apis/v1/exa/agent/runs (optional status filter, paginated) to page through your runs on this endpoint.\n4. Cancel — POST /apis/v1/exa/agent/runs/{jobId}/cancel to request cancellation. Cancelled runs are not billed.",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 191
            },
            "description": "Unique key (1 to 191 characters) that makes the submit idempotent. Re-submitting with the same key and request fingerprint returns the original run."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The natural-language research query.",
                    "example": "Summarize the main changes in RAG evaluation methods over the past year as a bullet list."
                  },
                  "outputSchema": {
                    "type": "object",
                    "description": "JSON Schema used to validate the structured output."
                  },
                  "input": {
                    "type": "object",
                    "description": "Row-processing input: rows to process and exclusions.",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {},
                        "description": "Input rows for the run."
                      },
                      "exclusion": {
                        "description": "Items to exclude from processing."
                      }
                    }
                  },
                  "effort": {
                    "type": "string",
                    "description": "Compute/depth tier for the run."
                  },
                  "previousRunId": {
                    "type": "string",
                    "description": "Continue from a previously completed run."
                  },
                  "dataSources": {
                    "type": "array",
                    "items": {},
                    "description": "Third-party data sources (Exa Connect) the Agent is granted access to."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Research run accepted. The Location header points at the job resource; poll it until terminal.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Path of the created job resource, e.g. /apis/v1/exa/agent/runs/{jobId}."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_conflict — the same Idempotency-Key was reused with a different request body."
          }
        }
      }
    },
    "/exa/agent/runs/{jobId}": {
      "get": {
        "tags": [
          "https://docs.exa.ai/reference/get-a-research-task"
        ],
        "summary": "Poll a research Agent run.",
        "description": "Retrieve a previously submitted Agent run. Repeat until `status` is terminal (completed, failed, or cancelled). When completed, the research result is in `output`.",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job id returned by the submit call."
          }
        ],
        "responses": {
          "200": {
            "description": "The current state of the research run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          }
        }
      }
    }
  }
}
