{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini-compatible Generate Content API",
    "version": "v1beta",
    "description": "AIsa Gemini-compatible API for native generateContent requests."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1beta",
      "description": "Gemini-compatible API base URL"
    }
  ],
  "paths": {
    "/models/{model}:generateContent": {
      "post": {
        "summary": "Generate content using a Gemini-compatible AIsa model",
        "operationId": "generateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gemini-3.5-flash"
            },
            "description": "The AIsa model ID to use, for example: gemini-3.5-flash."
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful content generation. When `X-AISA-Cost-Mode` is `quote`, HTTP 200 returns a `cost_estimate` instead of executing this operation. The quote is not a reservation, authorization, or price lock.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "description": "Content of the conversation, required"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "description": "Optional tools the model can use"
          },
          "toolConfig": {
            "type": "object",
            "description": "Optional tool configuration"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content"
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig"
          },
          "cachedContent": {
            "type": "string",
            "description": "Optional cached content ID"
          }
        },
        "required": [
          "contents"
        ]
      },
      "Content": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "model",
              "system",
              "assistant"
            ]
          }
        },
        "additionalProperties": true
      },
      "Tool": {
        "type": "object"
      },
      "SafetySetting": {
        "type": "object"
      },
      "GenerationConfig": {
        "type": "object"
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "modelVersion": {
            "type": "string"
          },
          "responseId": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Generated or input text content."
          },
          "inline_data": {
            "type": "object",
            "description": "Inline binary data for multimodal content."
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Provider-generated thought signature metadata."
          }
        },
        "additionalProperties": true
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/Content"
          },
          "finishReason": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          },
          "safetyRatings": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "additionalProperties": true
      },
      "UsageMetadata": {
        "type": "object",
        "properties": {
          "promptTokenCount": {
            "type": "integer"
          },
          "candidatesTokenCount": {
            "type": "integer"
          },
          "totalTokenCount": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "CostEstimate": {
        "type": "object",
        "description": "Read-only cost quote for the exact request. No Provider call, billing reservation, durable job, or price lock is created.",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "Always `cost_estimate`."
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "Quote currency. Always USD in this version."
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` is a fully determined customer price; `upper_bound` has a locally enforceable ceiling in `max_cost_micros_usd`; `estimate` depends on terminal usage and may exceed the quoted amount."
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Quoted customer cost in micro-USD (1 USD = 1,000,000 micros)."
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Optional hard customer-cost ceiling in micro-USD. Present for `exact` and `upper_bound`; omitted for `estimate`."
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "True only when `estimate_kind` is `estimate`."
          },
          "pricing_version": {
            "type": "string",
            "description": "Optional immutable or compiled pricing version."
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp when the quote was produced."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Bounded non-sensitive quote metadata, such as a canonical model or profile key."
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "Set to `quote` to estimate this exact request without executing data, creating a job, or authorizing spend. A successful quote is HTTP 200 with a `cost_estimate` body; it is not a reservation or price lock. Omit the header for normal execution. Any other value returns `400 invalid_cost_mode`. Quote mode requires an API key and cannot use MPP or x402.",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "Read-only cost quote. The intended request is validated but not executed, billed, reserved, or locked.",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "Quotes are never stored by shared caches."
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "Response body depends on the cost-mode header."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
