{
  "openapi": "3.0.0",
  "info": {
    "title": "Instagram API",
    "description": "Read public Instagram data — profiles, posts, reels, comments, transcripts, and search.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "AIsaSocialError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "errorStatus": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InstagramObject": {
        "type": "object",
        "additionalProperties": true
      },
      "InstagramProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "InstagramBasicProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "pk": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "biography": {
            "type": "string"
          },
          "follower_count": {
            "type": "integer"
          },
          "following_count": {
            "type": "integer"
          },
          "media_count": {
            "type": "integer"
          },
          "is_private": {
            "type": "boolean"
          },
          "is_verified": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "InstagramItemsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "next_max_id": {
            "type": "string",
            "nullable": true
          },
          "max_id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramHighlightsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramHighlightDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "reel_type": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramEmbedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "html": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InstagramPostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "xdt_shortcode_media": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "InstagramCommentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "comments": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramTranscriptsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "transcripts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramReelsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "reels": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramHashtagSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "hashtag": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "posts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramProfilesSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "query": {
            "type": "string"
          },
          "profiles": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/instagram/profile": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.00376,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_profile",
        "summary": "Profile",
        "description": "Returns the full public profile for an Instagram handle, forwarded from Instagram's own web API. Counts sit under data.user.edge_followed_by.count and data.user.edge_follow.count, alongside biography, bio_links, external_url, full_name, is_verified, is_private, highlight_reel_count, the numeric id, and the twelve most recent posts under data.user.edge_owner_to_timeline_media.edges. Measured at about 380 KB; trim=true saves under one percent, so do not rely on it to shrink the payload. When the numeric id is already known, get_instagram_basic_profile returns the same headline numbers in about 4 KB.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Instagram handle",
            "schema": {
              "type": "string"
            },
            "example": "jane"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true to get a trimmed response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "user": {
                      "biography": "Building example.com | The easiest way to get public social media data at scale",
                      "bio_links": [
                        {
                          "title": "AIsa",
                          "lynx_url": "https://l.instagram.com/?u=https%3A%2F%2Fx.com%2Fadrian_horning_&e=AT0KAd0qSCzNTxgxhgbcBgpBfjdbmbmY2tBez0k8r-ykg_husVDislRpwV7hphrBf5oKxgE2JMWF43ZAkx4abc9zz8HfISec",
                          "url": "https://x.com/adrian_horning_",
                          "link_type": "external"
                        }
                      ],
                      "biography_with_entities": {
                        "raw_text": "Building example.com | The easiest way to get public social media data at scale",
                        "entities": []
                      },
                      "external_url": "https://x.com/adrian_horning_",
                      "edge_followed_by": {
                        "count": 24555
                      },
                      "fbid": "17841402777077586",
                      "edge_follow": {
                        "count": 110
                      },
                      "full_name": "Adrian Horning",
                      "id": "2700692569",
                      "is_business_account": true,
                      "is_professional_account": true,
                      "business_address_json": {
                        "city_name": "Austin, Texas",
                        "city_id": 106224666074625,
                        "latitude": 30.26759,
                        "longitude": -97.74299,
                        "street_address": null,
                        "zip_code": null
                      },
                      "category_name": "Entrepreneur",
                      "is_private": false,
                      "is_verified": false,
                      "profile_pic_url": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-19/430086429_362220943449758_2621012714660517106_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=RhIwCIipKVUQ7kNvwFpvyAL&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfPuXR8boR4S5dkEzAKuAxTDy2CiDHtblOt2xdmEYwUqdw&oe=685A08E9&_nc_sid=8b3546",
                      "profile_pic_url_hd": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-19/430086429_362220943449758_2621012714660517106_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=RhIwCIipKVUQ7kNvwFpvyAL&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfONiKUtNB0AmfUKY78zqJc2wM8GVdfgKdx2t0-0HqIx_A&oe=685A08E9&_nc_sid=8b3546",
                      "username": "adrianhorning",
                      "edge_felix_video_timeline": {
                        "count": 0,
                        "page_info": {
                          "has_next_page": false,
                          "end_cursor": null
                        },
                        "edges": []
                      },
                      "edge_owner_to_timeline_media": {
                        "count": 90,
                        "page_info": {
                          "has_next_page": true,
                          "end_cursor": "QVFCY2E4Q1ZqQVBHdnBsUGMtVWlZZ2I3Qm9uOFdSSlZLS0NvdWVuQ05TQzR5T1hkSDM4cXVjTThsM1lQcXhsaWVyM2hQX0VoUzVYaHN3MmdRdmJGU0hENw=="
                        },
                        "edges": [
                          {
                            "node": {
                              "__typename": "GraphVideo",
                              "id": "3622533050035914969",
                              "shortcode": "DJF0p2ygMjZ",
                              "dimensions": {
                                "height": 1136,
                                "width": 640
                              },
                              "display_url": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=dst-jpg_e15_tt6&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfN3JWSxHXGRcVbzi4bEP0e42CF-gmZRTwPGLuprdlJGuQ&oe=685A1889&_nc_sid=8b3546",
                              "edge_media_to_tagged_user": {
                                "edges": []
                              },
                              "fact_check_overall_rating": null,
                              "fact_check_information": null,
                              "gating_info": null,
                              "sharing_friction_info": {
                                "should_have_sharing_friction": false,
                                "bloks_app_url": null
                              },
                              "media_overlay_info": null,
                              "media_preview": "ABgqg3Uu4VPbGMZz94np6emPlbr3q+EBGQB+Y/H/AJZ1I7GK8bSHlsL6Dr+JorQuDGw+U/MDjp29+B/kmigCOaBUAJGM+/rUcOxuMnK56nj8PX8K0LrEsZUDOR+XfP4VjwI8hCngZ5/wHpmk0VFlqWMrGzr1AyKK0pY8oyj0IopkkoI/SoBGkblh1HI/z61Gh+X8KWTqfwqhCtJgg/gfzoqo3Q/570UAf//Z",
                              "owner": {
                                "id": "2700692569",
                                "username": "adrianhorning"
                              },
                              "is_video": true,
                              "has_upcoming_event": false,
                              "accessibility_caption": null,
                              "dash_info": {
                                "is_dash_eligible": true,
                                "video_dash_manifest": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<MPD xmlns=\"urn:mpeg:dash:schema:mpd:2011\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"urn:mpeg:dash:schema:mpd:2011 DASH-MPD.xsd\" profiles=\"urn:mpeg:dash:profile:isoff-on-demand:2011\" minBufferTime=\"PT2S\" type=\"static\" mediaPresentationDuration=\"PT38.079273S\" FBManifestIdentifier=\"FgAYEnIyZXZldnA5LXIxZ2VuMnZwORlWuoXrvOS49QGol5CSkNy6ApKsiu6TkaMErp2h1d3e2g6y2szawPXGISIYGGRhc2hfbG5faGVhYWNfdmJyM19hdWRpbyIA\"><Period id=\"0\" duration=\"PT38.079273S\"><AdaptationSet id=\"0\" contentType=\"video\" subsegmentAlignment=\"true\" par=\"9:16\" FBUnifiedUploadResolutionMos=\"360:72.4\"><Representation id=\"9444624588969625vd\" bandwidth=\"93337\" codecs=\"vp09.00.31.08.00.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_r2evevp9-r1gen2vp9_q60\" FBContentLength=\"444144\" FBPlaybackResolutionMos=\"0:100,360:61.6,480:57.4,720:54.8\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:85.4,480:81.8,720:76.1\" FBAbrPolicyTags=\"\" width=\"720\" height=\"1280\" frameRate=\"14947/500\" FBDefaultQuality=\"1\" FBQualityClass=\"hd\" FBQualityLabel=\"480p\"><BaseURL>https://scontent-lga3-2.cdninstagram.com/o1/v/t2/f2/m367/AQMCx4WpbdanxcifQp6aX3v2DGfI_Eq6RsU_Z2c5TrAR2tTM-UKGtsQpsziJEKSndBazbOHwwFDtPp6ojDLuN-uC3CEena8AuyQTh2I.mp4?_nc_cat=100&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-lga3-2.cdninstagram.com&amp;_nc_ohc=tdWu2qgzCFkQ7kNvwGISPjP&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfcjJldmV2cDktcjFnZW4ydnA5X3E2MCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjo3MDQzMTg2MzIwNTA1NTgsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozOCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfNHBvnXH6I9I4qga7OQo8I8bbX8Xt-beirwEr5cwi225w&amp;oe=685A17C9</BaseURL><SegmentBase indexRange=\"818-945\" timescale=\"14947\" FBMinimumPrefetchRange=\"946-15429\" FBPartialPrefetchDuration=\"2500\" FBPartialPrefetchRange=\"946-30552\" FBFirstSegmentRange=\"946-40446\" FBFirstSegmentDuration=\"5017\" FBSecondSegmentRange=\"40447-109849\" FBPrefetchSegmentRange=\"946-40446\" FBPrefetchSegmentDuration=\"5017\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"539736255848797v\" bandwidth=\"225403\" codecs=\"vp09.00.31.08.00.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_r2evevp9-r1gen2vp9_q70\" FBContentLength=\"1072577\" FBPlaybackResolutionMos=\"0:100,360:78.1,480:74.5,720:71.1\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:94,480:92.1,720:88.7\" FBAbrPolicyTags=\"\" width=\"720\" height=\"1280\" frameRate=\"14947/500\" FBQualityClass=\"hd\" FBQualityLabel=\"540p\"><BaseURL>https://scontent-lga3-3.cdninstagram.com/o1/v/t2/f2/m367/AQPzbfKcje1byrDvq8YR4AvduiVvNKxRwuW5eXcXb6B60mKOOZSq2S2G1G763vWRFSgYc4j3WfK69rUDY2H3Qsw9_yB33-gvjwaaQrU.mp4?_nc_cat=104&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-lga3-3.cdninstagram.com&amp;_nc_ohc=OKOnrKt5yNcQ7kNvwEHQTMa&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfcjJldmV2cDktcjFnZW4ydnA5X3E3MCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjo3MDQzMTg2MzIwNTA1NTgsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozOCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfO6gvz9F5m4B40F4xCWw8epgaulUF3aIpKOHw3YQyDKdA&amp;oe=685A16C9</BaseURL><SegmentBase indexRange=\"818-945\" timescale=\"14947\" FBMinimumPrefetchRange=\"946-26967\" FBPartialPrefetchDuration=\"2500\" FBPartialPrefetchRange=\"946-72074\" FBFirstSegmentRange=\"946-105094\" FBFirstSegmentDuration=\"5017\" FBSecondSegmentRange=\"105095-262657\" FBPrefetchSegmentRange=\"946-105094\" FBPrefetchSegmentDuration=\"5017\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"692076016698836v\" bandwidth=\"388647\" codecs=\"vp09.00.31.08.00.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_r2evevp9-r1gen2vp9_q80\" FBContentLength=\"1849373\" FBPlaybackResolutionMos=\"0:100,360:84.9,480:80.9,720:77\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:96.3,480:95.1,720:92.6\" FBAbrPolicyTags=\"\" width=\"720\" height=\"1280\" frameRate=\"14947/500\" FBQualityClass=\"hd\" FBQualityLabel=\"640p\"><BaseURL>https://scontent-lga3-3.cdninstagram.com/o1/v/t2/f2/m367/AQNKeV8ZzKEUh6GtiHZ4h2GHrWMG8klq-rNb-om-3WsZqFVCqBUChpttUn0VdtI-kb1HTSt-mqd-IUpda-e-1Ct5WQVjgGBUFKqZW6k.mp4?_nc_cat=108&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-lga3-3.cdninstagram.com&amp;_nc_ohc=cAAJI8QKF3cQ7kNvwGPPIEp&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfcjJldmV2cDktcjFnZW4ydnA5X3E4MCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjo3MDQzMTg2MzIwNTA1NTgsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozOCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfM3ZUHT7P7kDHSnQWdmkMNAZev3DqVh-ogoric6mwTCfw&amp;oe=685A2039</BaseURL><SegmentBase indexRange=\"818-945\" timescale=\"14947\" FBMinimumPrefetchRange=\"946-35848\" FBPartialPrefetchDuration=\"2500\" FBPartialPrefetchRange=\"946-120416\" FBFirstSegmentRange=\"946-186220\" FBFirstSegmentDuration=\"5017\" FBSecondSegmentRange=\"186221-450247\" FBPrefetchSegmentRange=\"946-186220\" FBPrefetchSegmentDuration=\"5017\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"1203160444128009v\" bandwidth=\"586350\" codecs=\"vp09.00.31.08.00.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_r2evevp9-r1gen2vp9_q90\" FBContentLength=\"2790139\" FBPlaybackResolutionMos=\"0:100,360:87.9,480:84.7,720:81.1\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:97.1,480:96.4,720:94.7\" FBAbrPolicyTags=\"avoid_on_cellular,avoid_on_cellular_intentional\" width=\"720\" height=\"1280\" frameRate=\"14947/500\" FBQualityClass=\"hd\" FBQualityLabel=\"720p\"><BaseURL>https://scontent-lga3-3.cdninstagram.com/o1/v/t2/f2/m367/AQNKBhbA4fJfoUsBrS5L9rvBcEEYPsiDNkpGhHUTAsvNz9FVH3sFq-5BGCTrhXqE-9OOrf6ZXcYgc1ZyeyjkIhKhwPqXulbXwQhETiE.mp4?_nc_cat=106&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-lga3-3.cdninstagram.com&amp;_nc_ohc=hR5K7-pJIjYQ7kNvwG0KIvy&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfcjJldmV2cDktcjFnZW4ydnA5X3E5MCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjo3MDQzMTg2MzIwNTA1NTgsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozOCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfN0FumICc3gocLrtUbwpD0S_CL9_j6VWpruUTggbVZPxg&amp;oe=685A2BA3</BaseURL><SegmentBase indexRange=\"818-945\" timescale=\"14947\" FBMinimumPrefetchRange=\"946-42984\" FBPartialPrefetchDuration=\"2500\" FBPartialPrefetchRange=\"946-182401\" FBFirstSegmentRange=\"946-291238\" FBFirstSegmentDuration=\"5017\" FBSecondSegmentRange=\"291239-676222\" FBPrefetchSegmentRange=\"946-291238\" FBPrefetchSegmentDuration=\"5017\"><Initialization range=\"0-817\"/></SegmentBase></Representation></AdaptationSet><AdaptationSet id=\"1\" contentType=\"audio\" subsegmentStartsWithSAP=\"1\" subsegmentAlignment=\"true\"><Representation id=\"4140189246302039ad\" bandwidth=\"43137\" codecs=\"mp4a.40.5\" mimeType=\"audio/mp4\" FBAvgBitrate=\"43137\" audioSamplingRate=\"44100\" FBEncodingTag=\"dash_ln_heaac_vbr3_audio\" FBContentLength=\"206423\" FBPaqMos=\"87.06\" FBAbrPolicyTags=\"\" FBDefaultQuality=\"1\"><AudioChannelConfiguration schemeIdUri=\"urn:mpeg:dash:23003:3:audio_channel_configuration:2011\" value=\"2\"/><BaseURL>https://scontent-lga3-2.cdninstagram.com/o1/v/t16/f2/m69/AQPlt9RDt-DmGSWZPircoX-bty88IKciKTjgMgf8ncmxMLLWPx6KfyLS34HDZXRixrrFEW5_P-TAoR7vL97OV22_.mp4?strext=1&amp;_nc_cat=107&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-lga3-2.cdninstagram.com&amp;_nc_ohc=opLE557_YjcQ7kNvwGzrtJj&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLmNsaXBzLmMyLUMzLmRhc2hfbG5faGVhYWNfdmJyM19hdWRpbyIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjo3MDQzMTg2MzIwNTA1NTgsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjozOCwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfP99wtyKoO-gqUnlUW2zh_xfD_6sc1CVQsK6EKHlSTD1g&amp;oe=685A0A05</BaseURL><SegmentBase indexRange=\"824-1095\" timescale=\"44100\" FBMinimumPrefetchRange=\"1096-1428\" FBPartialPrefetchDuration=\"2500\" FBPartialPrefetchRange=\"1096-14369\" FBFirstSegmentRange=\"1096-12066\" FBFirstSegmentDuration=\"2021\" FBSecondSegmentRange=\"12067-24132\" FBPrefetchSegmentRange=\"1096-24132\" FBPrefetchSegmentDuration=\"4017\"><Initialization range=\"0-823\"/></SegmentBase></Representation></AdaptationSet></Period></MPD>\n",
                                "number_of_qualities": 4
                              },
                              "has_audio": true,
                              "tracking_token": "eyJ2ZXJzaW9uIjo1LCJwYXlsb2FkIjp7ImlzX2FuYWx5dGljc190cmFja2VkIjp0cnVlLCJ1dWlkIjoiNDQzYjgyZjVhNmExNDY5Mjk3NzUwYTFiNDgxNDFhYjAzNjIyNTMzMDUwMDM1OTE0OTY5In0sInNpZ25hdHVyZSI6IiJ9",
                              "video_url": "https://scontent-lga3-3.cdninstagram.com/o1/v/t16/f2/m86/AQOtWzDoaQkqcah0vnQQ9OiZsZO_7DqXWlZS98KgVeme4ytLMOPYmhG9xprV3izReal1QXGlLQJHeYZPpucgpGowYKulh3AmomTiECc.mp4?stp=dst-mp4&efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uY2xpcHMuYzIuNzIwLmJhc2VsaW5lIn0&_nc_cat=110&vs=1123914736090327_2004971061&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC8xNzRGRTM0NzIzQUVFNDBENTVGQUVEOTdCM0MzQUU4NV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HRERLYVIydGxzaGYwMWtIQUdyaE5SaWZ3ZFFIYnFfRUFBQUYVAgLIARIAKAAYABsAFQAAJtLPi%2FW6684%2FFQIoAkMzLBdAQwztkWhysBgSZGFzaF9iYXNlbGluZV8xX3YxEQB1%2Fgdl5p0BAA%3D%3D&_nc_rid=443b81e6a9&ccb=9-4&oh=00_AfMg9NUoS_RCVGxJzHIQeppcVco4FTbXjoq5xaS5i5o3AA&oe=685632F7&_nc_sid=8b3546",
                              "video_view_count": 1870,
                              "edge_media_to_caption": {
                                "edges": []
                              },
                              "edge_media_to_comment": {
                                "count": 14
                              },
                              "comments_disabled": false,
                              "taken_at_timestamp": 1746059630,
                              "edge_liked_by": {
                                "count": 131
                              },
                              "edge_media_preview_like": {
                                "count": 131
                              },
                              "location": null,
                              "nft_asset_info": null,
                              "thumbnail_src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfPtuS1pX4lCrFcqaqf28LYqOKhm388RGITip3ezIQa3xg&oe=685A1889&_nc_sid=8b3546",
                              "thumbnail_tall_src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=dst-jpg_e15_tt6&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfN3JWSxHXGRcVbzi4bEP0e42CF-gmZRTwPGLuprdlJGuQ&oe=685A1889&_nc_sid=8b3546",
                              "thumbnail_resources": [
                                {
                                  "src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfMTtR_qbPhnbuudBcbRh_hbPXzrNUyY2-bhqZ85cQrazA&oe=685A1889&_nc_sid=8b3546",
                                  "config_width": 150,
                                  "config_height": 150
                                },
                                {
                                  "src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_s240x240_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfNRkH10wSAf-1v4_p9lzWmsvBBmZSDAGZUriikU87ZjoA&oe=685A1889&_nc_sid=8b3546",
                                  "config_width": 240,
                                  "config_height": 240
                                },
                                {
                                  "src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_s320x320_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfM4_oFn-y-n-R9WgA10Ltmy3A3weV0m6JGaUfQ5Nx72dA&oe=685A1889&_nc_sid=8b3546",
                                  "config_width": 320,
                                  "config_height": 320
                                },
                                {
                                  "src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_s480x480_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfOj-8tYyymreaxMKp97bJF-iOIKkJLDBgik_bbBcF9dRg&oe=685A1889&_nc_sid=8b3546",
                                  "config_width": 480,
                                  "config_height": 480
                                },
                                {
                                  "src": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/491901123_9680674652022458_2870310738491256504_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=3VMXYLESR9UQ7kNvwHFuMDk&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfPtuS1pX4lCrFcqaqf28LYqOKhm388RGITip3ezIQa3xg&oe=685A1889&_nc_sid=8b3546",
                                  "config_width": 640,
                                  "config_height": 640
                                }
                              ],
                              "felix_profile_grid_crop": null,
                              "tall_profile_grid_crop": null,
                              "profile_grid_thumbnail_fitting_style": "UNSET",
                              "coauthor_producers": [],
                              "pinned_for_users": [],
                              "viewer_can_reshare": true,
                              "like_and_view_counts_disabled": false,
                              "product_type": "clips",
                              "clips_music_attribution_info": {
                                "artist_name": "adrianhorning",
                                "song_name": "Original audio",
                                "uses_original_audio": true,
                                "should_mute_audio": false,
                                "should_mute_audio_reason": "",
                                "audio_id": "1052522106930425"
                              }
                            }
                          }
                        ]
                      },
                      "edge_media_collections": {
                        "count": 0,
                        "page_info": {
                          "has_next_page": false,
                          "end_cursor": null
                        },
                        "edges": []
                      },
                      "edge_related_profiles": {
                        "edges": [
                          {
                            "node": {
                              "id": "66873381803",
                              "full_name": "ally krinsky",
                              "is_private": false,
                              "is_verified": false,
                              "profile_pic_url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/465249338_1115706923297633_2956285260068952346_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2QHGD17MFSxvG6A4al-hcbMWJBsese4bMwMX39i8kBtCx0S4j1OYDyxMqJNJrP1lEEI&_nc_ohc=Tsg6TtnhEjYQ7kNvwGMqyjy&_nc_gid=SOClLZ7awnLvrffwVXt_dA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfMROscsMYIyI5Fk8bU4J0EDI0TAVDiLmama26HDm3Sb5g&oe=685A28B1&_nc_sid=8b3546",
                              "username": "itsallykrinsky"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/InstagramProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instagram/basic-profile": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_basic_profile",
        "summary": "Basic Profile",
        "description": "Returns a compact public profile for a numeric Instagram user id, about 4 KB against the 380 KB of get_instagram_profile. Flat, already-normalised fields: username, full_name, biography, follower_count, following_count, is_verified, is_private, category, profile_pic_url, hd_profile_pic_url_info, bio_links, external_url and pk. Prefer this endpoint whenever the id is in hand; obtain it from data.user.id in get_instagram_profile, from id in get_instagram_search_profiles, or from the owner of any post. Use get_instagram_profile only when a handle is all that is available.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Instagram user id",
            "schema": {
              "type": "string"
            },
            "example": "314216"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "friendship_status": null,
                  "gating": null,
                  "is_memorialized": false,
                  "is_private": false,
                  "has_story_archive": null,
                  "supervision_info": null,
                  "is_regulated_c18": false,
                  "regulated_news_in_locations": [],
                  "bio_links": [],
                  "linked_fb_info": null,
                  "text_post_app_badge_label": "zuck",
                  "show_text_post_app_badge": true,
                  "username": "zuck",
                  "text_post_new_post_count": null,
                  "pk": "314216",
                  "live_broadcast_visibility": null,
                  "live_broadcast_id": null,
                  "profile_pic_url": "https://instagram.fpoz4-1.fna.fbcdn.net/v/t51.2885-19/550234512_18532404670058217_8758519395071163708_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=instagram.fpoz4-1.fna.fbcdn.net&_nc_cat=1&_nc_oc=Q6cZ2QENWmroLq0Z2oxDXF-wYN4Txpcg88E2n5GZTMYtQgXKAlUWi1gMsQQilbgL7mYspgA&_nc_ohc=vS_PAWzWFjcQ7kNvwEe9m50&_nc_gid=AOVYXTTsY5VI85UshvRoHA&edm=ALGbJPMBAAAA&ccb=7-5&oh=00_AfcUDbyLkAcHCLaaiVpvfv4AvlKuZUdsos_eZmuWHS02NQ&oe=68EB29FB&_nc_sid=7d3ac5",
                  "hd_profile_pic_url_info": {
                    "url": "https://instagram.fpoz4-1.fna.fbcdn.net/v/t51.2885-19/550234512_18532404670058217_8758519395071163708_n.jpg?efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=instagram.fpoz4-1.fna.fbcdn.net&_nc_cat=1&_nc_oc=Q6cZ2QENWmroLq0Z2oxDXF-wYN4Txpcg88E2n5GZTMYtQgXKAlUWi1gMsQQilbgL7mYspgA&_nc_ohc=vS_PAWzWFjcQ7kNvwEe9m50&_nc_gid=AOVYXTTsY5VI85UshvRoHA&edm=ALGbJPMBAAAA&ccb=7-5&oh=00_AfcBW_k3ngIbA43oUKKZ9SPx-FtlrQSSbOWg8npnXGqCcg&oe=68EB29FB&_nc_sid=7d3ac5"
                  },
                  "is_unpublished": false,
                  "latest_reel_media": 0,
                  "has_profile_pic": null,
                  "profile_pic_genai_tool_info": [],
                  "biography": "I build stuff",
                  "full_name": "Mark Zuckerberg",
                  "is_verified": true,
                  "show_account_transparency_details": true,
                  "account_type": 3,
                  "follower_count": 16101999,
                  "mutual_followers_count": null,
                  "profile_context_links_with_user_ids": null,
                  "address_street": null,
                  "city_name": null,
                  "is_business": false,
                  "zip": null,
                  "biography_with_entities": {
                    "entities": []
                  },
                  "category": null,
                  "should_show_category": false,
                  "account_badges": [],
                  "ai_agent_type": null,
                  "external_lynx_url": null,
                  "external_url": "",
                  "pronouns": [],
                  "transparency_label": null,
                  "transparency_product": null,
                  "has_chaining": null,
                  "remove_message_entrypoint": null,
                  "fbid_v2": "17841401746480004",
                  "is_embeds_disabled": false,
                  "is_professional_account": null,
                  "following_count": 617,
                  "media_count": 409,
                  "total_clips_count": 1,
                  "latest_besties_reel_media": null,
                  "reel_media_seen_timestamp": null,
                  "id": "314216"
                },
                "schema": {
                  "$ref": "#/components/schemas/InstagramBasicProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instagram/user/posts": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.00376,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_user_posts",
        "summary": "User Posts",
        "description": "Returns one page of a public account's timeline, reels and photos and carousels alike, as raw Instagram media objects under items. Page with next_max_id and stop on more_available; num_results reports the page size. Each item carries media_type, code, caption, like_count, comment_count, taken_at, image_versions2 and video_versions among roughly two hundred internal flags. Measured at 632 KB per page, the largest response in this API, and trim=true only reduces it to 523 KB. For reels alone use get_instagram_user_reels, and for one known post use get_instagram_post; both return the same raw shape, so neither is a way to get a smaller payload.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Instagram handle",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_max_id",
            "in": "query",
            "required": false,
            "description": "Cursor to get next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true to get a trimmed response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "3644028144127958689_59042353222",
                      "code": "DKSMEpKRd6h",
                      "media_type": 2,
                      "taken_at": 1748622051,
                      "caption": {
                        "bit_flags": 0,
                        "created_at": 1748622053,
                        "created_at_utc": 1748622053,
                        "did_report_as_spam": false,
                        "is_ranked_comment": false,
                        "pk": "17916912093071427",
                        "share_enabled": false,
                        "content_type": "comment",
                        "media_id": "3644028144127958689",
                        "status": "Active",
                        "type": 1,
                        "user_id": "59042353222",
                        "strong_id__": "17916912093071427",
                        "text": "5 best college baseball regional plays for day 1",
                        "user": {
                          "pk": "59042353222",
                          "pk_id": "59042353222",
                          "id": "59042353222",
                          "full_name": "Carson Szeder",
                          "is_private": false,
                          "is_unpublished": false,
                          "strong_id__": "59042353222",
                          "fbid_v2": "17841459076660294",
                          "username": "carsoncantcode",
                          "is_verified": true,
                          "profile_pic_id": "3318246086567523250_59042353222",
                          "profile_pic_url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfP_ozLRxIquMfrVuFJ1MP_CwqFycc2hoq8Xc9x89Tyx_g&oe=685A4097&_nc_sid=ee9879"
                        },
                        "is_covered": false,
                        "private_reply_status": 0
                      },
                      "play_count": 2647,
                      "ig_play_count": 2643,
                      "comment_count": 7,
                      "like_count": 29,
                      "display_uri": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-15/502710192_1957567931446141_1822523212661288021_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=101&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=ng-epM2kdRMQ7kNvwHHDPMi&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfOIfw4eK3gmQ8rB8XmU3AgCiDHwFyd4oi4o_VEuOBoWOg&oe=685A1A4E&_nc_sid=ee9879",
                      "user": {
                        "fbid_v2": "17841459076660294",
                        "feed_post_reshare_disabled": false,
                        "full_name": "Carson Szeder",
                        "id": "59042353222",
                        "is_private": false,
                        "is_unpublished": false,
                        "pk": "59042353222",
                        "pk_id": "59042353222",
                        "show_account_transparency_details": true,
                        "strong_id__": "59042353222",
                        "third_party_downloads_enabled": 1,
                        "account_type": 3,
                        "account_badges": [],
                        "fan_club_info": {
                          "autosave_to_exclusive_highlight": null,
                          "connected_member_count": null,
                          "fan_club_id": null,
                          "fan_club_name": null,
                          "has_created_ssc": null,
                          "has_enough_subscribers_for_ssc": null,
                          "is_fan_club_gifting_eligible": null,
                          "is_fan_club_referral_eligible": null,
                          "is_free_trial_eligible": null,
                          "largest_public_bc_id": null,
                          "subscriber_count": null,
                          "fan_consideration_page_revamp_eligiblity": null
                        },
                        "has_anonymous_profile_picture": false,
                        "hd_profile_pic_url_info": {
                          "height": 633,
                          "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfMSK6EX4bRxpdThMOgOdvKaORBx3RCo1QjtMxsbHx813A&oe=685A4097&_nc_sid=ee9879",
                          "width": 633
                        },
                        "hd_profile_pic_versions": [
                          {
                            "height": 320,
                            "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfNOvmXHru1CI6pJxyfmTlcl9UwzjKz6kH-b_YFGsvKQ9g&oe=685A4097&_nc_sid=ee9879",
                            "width": 320
                          }
                        ],
                        "is_verified": true,
                        "profile_pic_id": "3318246086567523250_59042353222",
                        "profile_pic_url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfP_ozLRxIquMfrVuFJ1MP_CwqFycc2hoq8Xc9x89Tyx_g&oe=685A4097&_nc_sid=ee9879",
                        "transparency_product_enabled": false,
                        "username": "carsoncantcode",
                        "is_embeds_disabled": false,
                        "eligible_for_text_app_activation_badge": false
                      },
                      "owner": {
                        "fbid_v2": "17841459076660294",
                        "feed_post_reshare_disabled": false,
                        "full_name": "Carson Szeder",
                        "id": "59042353222",
                        "is_private": false,
                        "is_unpublished": false,
                        "pk": "59042353222",
                        "pk_id": "59042353222",
                        "show_account_transparency_details": true,
                        "strong_id__": "59042353222",
                        "third_party_downloads_enabled": 1,
                        "can_see_quiet_post_attribution": true,
                        "account_type": 3,
                        "account_badges": [],
                        "fan_club_info": {
                          "autosave_to_exclusive_highlight": null,
                          "connected_member_count": null,
                          "fan_club_id": null,
                          "fan_club_name": null,
                          "has_created_ssc": null,
                          "has_enough_subscribers_for_ssc": null,
                          "is_fan_club_gifting_eligible": null,
                          "is_fan_club_referral_eligible": null,
                          "is_free_trial_eligible": null,
                          "largest_public_bc_id": null,
                          "subscriber_count": null,
                          "fan_consideration_page_revamp_eligiblity": null
                        },
                        "has_anonymous_profile_picture": false,
                        "hd_profile_pic_url_info": {
                          "height": 633,
                          "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfMSK6EX4bRxpdThMOgOdvKaORBx3RCo1QjtMxsbHx813A&oe=685A4097&_nc_sid=ee9879",
                          "width": 633
                        },
                        "hd_profile_pic_versions": [
                          {
                            "height": 320,
                            "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfNOvmXHru1CI6pJxyfmTlcl9UwzjKz6kH-b_YFGsvKQ9g&oe=685A4097&_nc_sid=ee9879",
                            "width": 320
                          }
                        ],
                        "is_verified": true,
                        "profile_pic_id": "3318246086567523250_59042353222",
                        "profile_pic_url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfP_ozLRxIquMfrVuFJ1MP_CwqFycc2hoq8Xc9x89Tyx_g&oe=685A4097&_nc_sid=ee9879",
                        "transparency_product_enabled": false,
                        "username": "carsoncantcode",
                        "is_embeds_disabled": false,
                        "eligible_for_text_app_activation_badge": false
                      },
                      "image_versions2": {
                        "additional_candidates": {
                          "first_frame": {
                            "height": 1136,
                            "url": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/502608920_587032841104047_520039248454188749_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4LmFkZGl0aW9uYWxfY292ZXJfZnJhbWUifQ&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=UmnNszq3yrMQ7kNvwFrKy8f&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfPXJLoL0tbpHfbhYLn-UBI1wjXiWeybU6nGob9Db-fQLQ&oe=685A1308&_nc_sid=ee9879",
                            "width": 640
                          },
                          "igtv_first_frame": {
                            "height": 1136,
                            "url": "https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/502608920_587032841104047_520039248454188749_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4LmFkZGl0aW9uYWxfY292ZXJfZnJhbWUifQ&_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=103&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=UmnNszq3yrMQ7kNvwFrKy8f&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfPXJLoL0tbpHfbhYLn-UBI1wjXiWeybU6nGob9Db-fQLQ&oe=685A1308&_nc_sid=ee9879",
                            "width": 640
                          },
                          "smart_frame": null
                        },
                        "candidates": [
                          {
                            "height": 1136,
                            "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-15/502710192_1957567931446141_1822523212661288021_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4Lm5mcmFtZV9jb3Zlcl9mcmFtZSJ9&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=101&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=ng-epM2kdRMQ7kNvwHHDPMi&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&ig_cache_key=MzY0NDAyODE0NDEyNzk1ODY4OQ%3D%3D.3-ccb7-5&oh=00_AfM7Qh-4MOEJSG5Ml_l1YzF9CHN6QizTM5-4Xc3UZo-bxw&oe=685A1A4E&_nc_sid=ee9879",
                            "width": 640
                          }
                        ],
                        "scrubber_spritesheet_info_candidates": {
                          "default": {
                            "file_size_kb": 388,
                            "max_thumbnails_per_sprite": 105,
                            "rendered_width": 96,
                            "sprite_height": 1246,
                            "sprite_urls": [
                              "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-15/502708871_1436358334024784_3923116580658609450_n.jpg?_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=108&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=_rnw_74a7UEQ7kNvwGAMYFD&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfMZ8xKy_7T16FYamhGQYxtJkUm_Hypo3pCrDXPWzWTYdQ&oe=685A1A2A&_nc_sid=ee9879"
                            ],
                            "sprite_width": 1500,
                            "thumbnail_duration": 0.6866666666666666,
                            "thumbnail_height": 178,
                            "thumbnail_width": 100,
                            "thumbnails_per_row": 15,
                            "total_thumbnail_num_per_sprite": 105,
                            "video_length": 72.1
                          }
                        }
                      },
                      "product_type": "clips",
                      "music_metadata": null,
                      "is_paid_partnership": false,
                      "video_sticker_locales": [
                        "en"
                      ],
                      "video_versions": [
                        {
                          "bandwidth": null,
                          "height": 852,
                          "type": 101,
                          "url": "https://scontent-lga3-1.cdninstagram.com/o1/v/t16/f2/m86/AQMBOiKBGQDTEPcTzw51q2K7ixLiwkfCual2hfLfJ11K3C6bAOlgqWAEIP4284QXb_Uk-TXekJvIUeAfv--ZX6PWX0s1LbCaDn13iD0.mp4?stp=dst-mp4&efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uY2xpcHMuYzIuNzIwLmJhc2VsaW5lIn0&_nc_cat=111&vs=1201779154524089_749549050&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC84MzQ5RTk3QjExQ0JFNzI0MjZFNDg0ODhDOEIxQkY5NF92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HRFluN0IxZWprZHc0XzRFQUFYc3RUZkRKSWxIYnFfRUFBQUYVAgLIARIAKAAYABsAFQAAJsKsv6TxptA%2FFQIoAkMzLBdAUgZmZmZmZhgSZGFzaF9iYXNlbGluZV8xX3YxEQB1%2Fgdl5p0BAA%3D%3D&ccb=9-4&oh=00_AfMavpzRW6PSEKyPgrcVALJs6kfHRNeKjBw8wO82ayG4WA&oe=68562E52&_nc_sid=ee9879",
                          "width": 480
                        }
                      ],
                      "video_duration": 72.1,
                      "has_audio": true,
                      "url": "https://www.instagram.com/p/DKSMEpKRd6h/"
                    }
                  ],
                  "next_max_id": "3639831059405682409_59042353222",
                  "num_results": 12,
                  "more_available": true,
                  "user": {
                    "pk": "59042353222",
                    "pk_id": "59042353222",
                    "full_name": "Carson Szeder",
                    "is_private": false,
                    "is_active_on_text_post_app": true,
                    "strong_id__": "59042353222",
                    "profile_grid_display_type": "default",
                    "id": "59042353222",
                    "username": "carsoncantcode",
                    "is_verified": true,
                    "profile_pic_id": "3318246086567523250_59042353222",
                    "profile_pic_url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-19/431903885_797859762202050_7017850157267325892_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QHiEom3hMdlCt1UvbqMoAi8AVMa_QCzMo8Z3JyyueN2RgZ46phuoYGRHEiGNrkRFOg&_nc_ohc=DtppWMlqRCcQ7kNvwEYrxi1&_nc_gid=Eb0J24h8KiM70eUrBpX9HQ&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfP_ozLRxIquMfrVuFJ1MP_CwqFycc2hoq8Xc9x89Tyx_g&oe=685A4097&_nc_sid=ee9879"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/InstagramItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instagram/user/reels": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.00376,
            "p50": 0.012,
            "p95": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_user_reels",
        "summary": "User Reels",
        "description": "Returns one page of a public account's reels as raw Instagram media objects under items[].media, with paging_info.max_id for the following page. Each reel carries code, caption, like_count, comment_count, video_versions, image_versions2 and clips_metadata, whose original_sound_info.audio_asset_id is exactly the id that get_instagram_song_reels expects. Pass user_id rather than handle for a faster response. Measured at 594 KB per page. Use get_instagram_user_posts for the whole timeline including photos and carousels.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Instagram user id. Use this for faster response times.",
            "schema": {
              "type": "string"
            },
            "example": "2700692569"
          },
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "Instagram handle. Use user_id for faster response times.",
            "schema": {
              "type": "string"
            },
            "example": "jane"
          },
          {
            "name": "max_id",
            "in": "query",
            "required": false,
            "description": "Max id to get more reels. Get 'max_id' from previous response.",
            "schema": {
              "type": "string"
            },
            "example": "QVFCVzNnS2lI...=="
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "3641924023820356866_21393171",
                      "code": "DKKtpqaxg0C",
                      "taken_at": 1748371310,
                      "caption": {
                        "bit_flags": 0,
                        "created_at": 1748371312,
                        "created_at_utc": 1748371312,
                        "did_report_as_spam": false,
                        "is_ranked_comment": false,
                        "pk": "18079986955772842",
                        "share_enabled": false,
                        "content_type": "comment",
                        "media_id": "3641924023820356866",
                        "status": "Active",
                        "type": 1,
                        "user_id": "21393171",
                        "strong_id__": "18079986955772842",
                        "text": "Summer brings out all the girlies, soda, and global warming!!!🤗☀️\n\n#states #utah #idaho #california #oregon #newyork #minnesota #arizona #alaska #girlies #jane #janeinsane #eastcoast #westcoast #drama",
                        "user": {
                          "pk": "21393171",
                          "pk_id": "21393171",
                          "id": "21393171",
                          "full_name": "Jane Williamson",
                          "is_private": false,
                          "is_unpublished": false,
                          "strong_id__": "21393171",
                          "fbid_v2": "17841400515130334",
                          "username": "jane",
                          "is_verified": true,
                          "profile_pic_id": "3583980709961915639_21393171",
                          "profile_pic_url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfNtjn382KDVjtIjCSaHRLBv-5axcS6DArSz3ceqiChSQw&oe=685A6928&_nc_sid=c024bc"
                        },
                        "is_covered": false,
                        "private_reply_status": 0
                      },
                      "play_count": 1685367,
                      "ig_play_count": 1685367,
                      "comment_count": 1096,
                      "like_count": 71768,
                      "display_uri": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-15/501064973_18499642795017172_3156358348692457402_n.jpg?stp=c0.469.1206.1206a_dst-jpg_e35_s1080x1080_sh0.08_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=nqrFLRdKJkgQ7kNvwFsYpnt&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfOZBf0XzICMS0v3EFHyXXbDmGCSkBBSD7yGH4KXyIlC3A&oe=685A3C9E&_nc_sid=c024bc",
                      "user": {
                        "fbid_v2": "17841400515130334",
                        "feed_post_reshare_disabled": false,
                        "full_name": "Jane Williamson",
                        "id": "21393171",
                        "is_private": false,
                        "is_unpublished": false,
                        "pk": "21393171",
                        "pk_id": "21393171",
                        "show_account_transparency_details": true,
                        "strong_id__": "21393171",
                        "third_party_downloads_enabled": 2,
                        "account_type": 3,
                        "account_badges": [],
                        "fan_club_info": {
                          "autosave_to_exclusive_highlight": null,
                          "connected_member_count": null,
                          "fan_club_id": null,
                          "fan_club_name": null,
                          "has_created_ssc": null,
                          "has_enough_subscribers_for_ssc": null,
                          "is_fan_club_gifting_eligible": null,
                          "is_fan_club_referral_eligible": null,
                          "is_free_trial_eligible": null,
                          "largest_public_bc_id": null,
                          "subscriber_count": null,
                          "fan_consideration_page_revamp_eligiblity": null
                        },
                        "has_anonymous_profile_picture": false,
                        "hd_profile_pic_url_info": {
                          "height": 1024,
                          "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfMxQOnDe9llEUmo1gBn1-P5uo-mPtoJ4lTyy_GhgpgIkg&oe=685A6928&_nc_sid=c024bc",
                          "width": 1024
                        },
                        "hd_profile_pic_versions": [
                          {
                            "height": 320,
                            "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfOxDHstKKV5WkD6-9aKBxJ0mTttI5R3bZ26ZQn9Mg84Og&oe=685A6928&_nc_sid=c024bc",
                            "width": 320
                          }
                        ],
                        "is_verified": true,
                        "profile_pic_id": "3583980709961915639_21393171",
                        "profile_pic_url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfNtjn382KDVjtIjCSaHRLBv-5axcS6DArSz3ceqiChSQw&oe=685A6928&_nc_sid=c024bc",
                        "transparency_product_enabled": false,
                        "username": "jane",
                        "is_embeds_disabled": false,
                        "eligible_for_text_app_activation_badge": false
                      },
                      "owner": {
                        "fbid_v2": "17841400515130334",
                        "feed_post_reshare_disabled": false,
                        "full_name": "Jane Williamson",
                        "id": "21393171",
                        "is_private": false,
                        "is_unpublished": false,
                        "pk": "21393171",
                        "pk_id": "21393171",
                        "show_account_transparency_details": true,
                        "strong_id__": "21393171",
                        "third_party_downloads_enabled": 2,
                        "account_type": 3,
                        "account_badges": [],
                        "fan_club_info": {
                          "autosave_to_exclusive_highlight": null,
                          "connected_member_count": null,
                          "fan_club_id": null,
                          "fan_club_name": null,
                          "has_created_ssc": null,
                          "has_enough_subscribers_for_ssc": null,
                          "is_fan_club_gifting_eligible": null,
                          "is_fan_club_referral_eligible": null,
                          "is_free_trial_eligible": null,
                          "largest_public_bc_id": null,
                          "subscriber_count": null,
                          "fan_consideration_page_revamp_eligiblity": null
                        },
                        "has_anonymous_profile_picture": false,
                        "hd_profile_pic_url_info": {
                          "height": 1024,
                          "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfMxQOnDe9llEUmo1gBn1-P5uo-mPtoJ4lTyy_GhgpgIkg&oe=685A6928&_nc_sid=c024bc",
                          "width": 1024
                        },
                        "hd_profile_pic_versions": [
                          {
                            "height": 320,
                            "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfOxDHstKKV5WkD6-9aKBxJ0mTttI5R3bZ26ZQn9Mg84Og&oe=685A6928&_nc_sid=c024bc",
                            "width": 320
                          }
                        ],
                        "is_verified": true,
                        "profile_pic_id": "3583980709961915639_21393171",
                        "profile_pic_url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=UOwY1iuLY14Q7kNvwF6T6a4&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfNtjn382KDVjtIjCSaHRLBv-5axcS6DArSz3ceqiChSQw&oe=685A6928&_nc_sid=c024bc",
                        "transparency_product_enabled": false,
                        "username": "jane",
                        "is_embeds_disabled": false,
                        "eligible_for_text_app_activation_badge": false
                      },
                      "image_versions2": {
                        "additional_candidates": {
                          "first_frame": {
                            "height": 1136,
                            "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-15/501249811_1047509020812730_1368766689877144056_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4LmFkZGl0aW9uYWxfY292ZXJfZnJhbWUifQ&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=33QsVTbubdAQ7kNvwG_XAXp&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfOPIDhcaTvUglakLpfaFwY0VG7z_Q7Ua0cIZFWseBY6Iw&oe=685A6296&_nc_sid=c024bc",
                            "width": 640
                          },
                          "igtv_first_frame": {
                            "height": 1136,
                            "url": "https://scontent-lga3-3.cdninstagram.com/v/t51.2885-15/501249811_1047509020812730_1368766689877144056_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi42NDB4MTEzNi5zZHIuZjcxODc4LmFkZGl0aW9uYWxfY292ZXJfZnJhbWUifQ&_nc_ht=scontent-lga3-3.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=33QsVTbubdAQ7kNvwG_XAXp&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfOPIDhcaTvUglakLpfaFwY0VG7z_Q7Ua0cIZFWseBY6Iw&oe=685A6296&_nc_sid=c024bc",
                            "width": 640
                          },
                          "smart_frame": {
                            "height": 1920,
                            "url": "https://scontent-lga3-2.cdninstagram.com/v/t15.5256-10/502085875_1788049852055333_7728247084856383096_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi4xMDgweDE5MjAuc2RyLmY1MjU2LnN0YXRpY19zbWFydF90aHVtYm5haWxzOjpBTUxfTUxQX0hBTkRDUkFGVF9BTkRfWFJBWV9BRFNfQ1RSX0RJVkVSU0UifQ&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=jVe4YhB4hhcQ7kNvwHLLFGj&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIAAAAA&ccb=7-5&oh=00_AfPE2w7ZHuMdj6JkHfdN0ThY-Qfyhb8JZSwgO0jy3vknFw&oe=685A5983&_nc_sid=c024bc",
                            "width": 1080
                          }
                        },
                        "candidates": [
                          {
                            "height": 2144,
                            "url": "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-15/501064973_18499642795017172_3156358348692457402_n.jpg?stp=dst-jpg_e15_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNMSVBTLmltYWdlX3VybGdlbi4xMjA2eDIxNDQuc2RyLmY3NTc2MS5kZWZhdWx0X2NvdmVyX2ZyYW1lIn0&_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=nqrFLRdKJkgQ7kNvwFsYpnt&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&ig_cache_key=MzY0MTkyNDAyMzgyMDM1Njg2NjE4NDk5NjQyNzkyMDE3MTcy.3-ccb7-5&oh=00_AfOJFvfFxIS1SYZ5aZH9EoStYPO1y4sVrL_f18BDcI4gIA&oe=685A3C9E&_nc_sid=c024bc",
                            "width": 1206
                          }
                        ],
                        "scrubber_spritesheet_info_candidates": {
                          "default": {
                            "file_size_kb": 467,
                            "max_thumbnails_per_sprite": 105,
                            "rendered_width": 96,
                            "sprite_height": 1246,
                            "sprite_urls": [
                              "https://scontent-lga3-2.cdninstagram.com/v/t51.2885-15/501930551_1739874873569815_2195383679016609522_n.jpg?_nc_ht=scontent-lga3-2.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2QHH_AuDym1_h_Gt35CeYD9UUv5wiBJykWgz0pzbdkl_7HVH1k09gFjEGZGaaanoHrw&_nc_ohc=WQsolWkGTbEQ7kNvwGnCcen&_nc_gid=26ktQKWC9pWQuqHYOHHLSQ&edm=ACHbZRIBAAAA&ccb=7-5&oh=00_AfPA-bQmtGEM1tlWBC9ycNBKmLQXZ8HhuCQqTxZcKAwTNg&oe=685A34DF&_nc_sid=c024bc"
                            ],
                            "sprite_width": 1500,
                            "thumbnail_duration": 0.8703142857142857,
                            "thumbnail_height": 178,
                            "thumbnail_width": 100,
                            "thumbnails_per_row": 15,
                            "total_thumbnail_num_per_sprite": 105,
                            "video_length": 91.383
                          }
                        }
                      },
                      "url": "https://www.instagram.com/reel/DKKtpqaxg0C/"
                    }
                  ],
                  "max_id": "QVFEWFlDdGNOamdwbVdNM2pLY1NJRndSZ2tCbWp6WDV0TWxaYl9WNVktZU1BTUxWMlg1c2JFenNDanJVZ2NudWFjR28zRG93a3ByTExXaHJMbTA0aVJBZg=="
                },
                "schema": {
                  "$ref": "#/components/schemas/InstagramItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instagram/user/highlights": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_user_highlights",
        "summary": "User Highlights",
        "description": "Lists the story highlight albums on a public profile. Returns highlights, each with the numeric id, title, cover_media.thumbnail_src, cover_media_cropped_thumbnail and owner. Small and quick at about 6 KB, which makes it a cheap way to see whether an account keeps highlights at all. This is the only source of a highlight id, and get_instagram_user_highlight_detail requires the bare numeric id exactly as returned here. Pass user_id rather than handle for a faster response.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Instagram user id. Use for faster response times.",
            "schema": {
              "type": "string"
            },
            "example": "2700692569"
          },
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "Instagram handle. Use user_id for faster response times.",
            "schema": {
              "type": "string"
            },
            "example": "jane"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "highlights": [
                    {
                      "__typename": "GraphHighlightReel",
                      "id": "18067016518767507",
                      "cover_media": {
                        "thumbnail_src": "https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/479737232_1405856350793820_7928432152706230890_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=yQlHN7CDZ7IQ7kNvwFL7xsz&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfL3lEQ_ujUci_Xg8fnjYX3nityUOfroonJnwKyr9yKWdg&oe=682184F5&_nc_sid=94fea1"
                      },
                      "cover_media_cropped_thumbnail": {
                        "url": "https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/479737232_1405856350793820_7928432152706230890_n.jpg?stp=c0.202.640.640a_dst-jpg_e15_s150x150_tt6&_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=yQlHN7CDZ7IQ7kNvwFL7xsz&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfL4zidNtWdVh-3T2E2qOiLS4ks_Z9UbmTSFbCX3SFmbBg&oe=682184F5&_nc_sid=94fea1"
                      },
                      "owner": {
                        "__typename": "GraphUser",
                        "id": "21393171",
                        "profile_pic_url": "https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=mi86alqirjwQ7kNvwHuN1wX&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfLoz8BQ5BXQz1Wm0goIWDxkdw5Z1aNbJGXk8ak6YZ8pzQ&oe=68218068&_nc_sid=94fea1",
                        "username": "jane"
                      },
                      "title": "GRWM chats"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/InstagramHighlightsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instagram/user/highlight/detail": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.012,
          "observed_usd": {
            "min": 0.012,
            "max": 0.012
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "Instagram API"
        ],
        "operationId": "get_instagram_user_highlight_detail",
        "summary": "Highlight Detail",
        "description": "Returns the stories inside one highlight album: reel_type, latest_reel_media, the owning user, and items, each a raw Instagram story media object. Pass the bare numeric id from get_instagram_user_highlights. The response echoes that id back in the prefixed form highlight:<id>, and feeding the prefixed form to this endpoint returns 404 with a message blaming deletion or a private account, which points at the wrong cause; send the bare number. Measured at 630 KB for an album of 38 stories, so size scales with the album.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Highlight ID. Use `/instagram/user/highlights` to discover current highlight IDs for a public account.",
            "schema": {
              "type": "string"
            },
            "example": "18029499352961095"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "id": "highlight:18067016518767507",
                  "latest_reel_media": 1745272279,
                  "seen": null,
                  "can_reply": false,
                  "can_gif_quick_reply": true,
                  "can_reshare": true,
                  "reel_type": "highlight_reel",
                  "ad_expiry_timestamp_in_millis": null,
                  "is_cta_sticker_available": null,
                  "app_sticker_info": null,
                  "should_treat_link_sticker_as_cta": null,
                  "pool_refresh_ttl_in_sec": null,
                  "can_react_with_avatar": false,
                  "cover_media": {
                    "cropped_image_version": {
                      "width": 150,
                      "height": 150,
                      "url": "https://scontent-dub4-1.cdninstagram.com/v/t51.2885-15/479737232_1405856350793820_7928432152706230890_n.jpg?stp=c0.202.640.640a_dst-jpg_e15_s150x150_tt6&_nc_ht=scontent-dub4-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2QGmly2VJEPPnYd3yasHydMcSwfCazUKlRXiU5HUJ-zQVPrC9Xb-ho-EFRAjvcUgWnY&_nc_ohc=yQlHN7CDZ7IQ7kNvwFIJktj&_nc_gid=-RHeydtWtdTLhayCKiI3oQ&edm=ANmP7GQBAAAA&ccb=7-5&oh=00_AfKKWP06eveppAsTaksGtYoLYb_lesIro1a34w-gEGgJ8A&oe=682184F5&_nc_sid=982cc7",
                      "scans_profile": ""
                    },
                    "crop_rect": [
                      0
                    ],
                    "media_id": "3574665805209826888_21393171",
                    "full_image_version": null,
                    "upload_id": null
                  },
                  "user": {
                    "pk": "21393171",
                    "pk_id": "21393171",
                    "full_name": "Jane Williamson",
                    "is_private": false,
                    "strong_id__": "21393171",
                    "id": "21393171",
                    "username": "jane",
                    "is_verified": true,
                    "profile_pic_id": "3583980709961915639_21393171",
                    "profile_pic_url": "https://scontent-dub4-1.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-dub4-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QGmly2VJEPPnYd3yasHydMcSwfCazUKlRXiU5HUJ-zQVPrC9Xb-ho-EFRAjvcUgWnY&_nc_ohc=mi86alqirjwQ7kNvwFr3H5A&_nc_gid=-RHeydtWtdTLhayCKiI3oQ&edm=ANmP7GQBAAAA&ccb=7-5&oh=00_AfIKcWUsUpfsBZW0eePl0Z6La3wJHY0FPIj7QRpbwooklA&oe=68218068&_nc_sid=982cc7",
                    "interop_messaging_user_fbid": 119713162748634,
                    "transparency_product_enabled": false
                  },
                  "items": [
                    {
                      "pk": "3565907942018983442",
                      "id": "3565907942018983442_21393171",
                      "is_visual_reply_commenter_notice_enabled": true,
                      "like_and_view_counts_disabled": false,
                      "is_post_live_clips_media": false,
                      "is_reshare_of_text_post_app_media_in_ig": false,
                      "is_reel_media": true,
                      "fbid": "17968033766718273",
                      "device_timestamp": 1739309362129426,
                      "caption_is_edited": false,
                      "strong_id__": "3565907942018983442_21393171",
                      "is_quicksnap_recap": false,
                      "deleted_reason": 0,
                      "mezql_token": "",
                      "imported_taken_at": 1739305646,
                      "should_request_ads": false,
                      "is_terminal_video_segment": false,
                      "integrity_review_decision": "pending",
                      "client_cache_key": "MzU2NTkwNzk0MjAxODk4MzQ0Mg==.3",
                      "comment_threading_enabled": true,
                      "is_unified_video": false,
                      "commerciality_status": "not_commercial",
                      "caption_position": 0,
                      "has_privately_liked": false,
                      "filter_type": 0,
                      "taken_at": 1739309361,
                      "hide_view_all_comment_entrypoint": false,
                      "is_comments_gif_composer_enabled": false,
                      "video_sticker_locales": [],
                      "is_dash_eligible": 1,
                      "video_dash_manifest": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<MPD xmlns=\"urn:mpeg:dash:schema:mpd:2011\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"urn:mpeg:dash:schema:mpd:2011 DASH-MPD.xsd\" profiles=\"urn:mpeg:dash:profile:isoff-on-demand:2011\" minBufferTime=\"PT2S\" type=\"static\" mediaPresentationDuration=\"PT55.866665S\" FBManifestIdentifier=\"FgAYEWlnX2Rhc2hfYmFzaWNfdnA5GVakidDNlteaArDgzvCy78QDoofA1en7zAOewtDZrN6hBPqfhZ22qqYiIhgYZGFzaF9sbl9oZWFhY192YnIzX2F1ZGlvIgA=\"><Period id=\"0\" duration=\"PT55.866665S\"><AdaptationSet id=\"0\" contentType=\"video\" subsegmentAlignment=\"true\" par=\"9:16\" FBUnifiedUploadResolutionMos=\"360:87.8\"><Representation id=\"1013678003978705vd\" bandwidth=\"442825\" codecs=\"vp09.00.21.08.01.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_vp9-basic-gen2_360p\" FBContentLength=\"3092396\" FBPlaybackResolutionMos=\"0:100,360:76.2,480:68.3,720:55.5,1080:42.6\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:90.6,480:83.1,720:70.6,1080:57.1\" width=\"360\" height=\"640\" frameRate=\"15360/512\" FBDefaultQuality=\"1\" FBQualityClass=\"sd\" FBQualityLabel=\"360p\"><BaseURL>https://scontent-dub4-1.cdninstagram.com/o1/v/t2/f2/m367/AQOfoUrcpLyCypvA0r8KJNYVZqRMK_xKgHt6BIIR-2d-pZc8HrSUxb_ADpVH2fHJ_Jga14in9wNDQMKL8YmnSyh2SyuBIi1wH-0GagOjJyNiPExeppA3tiJXWvimPCV3DixoO1Bq.mp4?_nc_cat=108&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-dub4-1.cdninstagram.com&amp;_nc_ohc=jqHP6zi0XkIQ7kNvwHHEdKy&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLnN0b3J5LmMyLUMzLmRhc2hfdnA5LWJhc2ljLWdlbjJfMzYwcCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjoxMzc3ODEwOTUzMzg3NzQ2LCJ2aV91c2VjYXNlX2lkIjoxMDEwMCwiZHVyYXRpb25fcyI6NTUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfJeY5DgeknyRN-Oj5qSXRKzB0wL9yWYB4PyUjf9wvqfgQ&amp;oe=682162E0</BaseURL><SegmentBase indexRange=\"818-993\" timescale=\"15360\" FBMinimumPrefetchRange=\"994-24037\" FBFirstSegmentRange=\"994-284754\" FBFirstSegmentDuration=\"5000\" FBSecondSegmentRange=\"284755-582397\" FBPrefetchSegmentRange=\"994-284754\" FBPrefetchSegmentDuration=\"5000\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"621622240870994v\" bandwidth=\"1213073\" codecs=\"vp09.00.30.08.01.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_vp9-basic-gen2_540p\" FBContentLength=\"8471295\" FBPlaybackResolutionMos=\"0:100,360:88.4,480:83.5,720:75.1,1080:65\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:96,480:94.4,720:89.5,1080:80.1\" width=\"540\" height=\"960\" frameRate=\"15360/512\" FBQualityClass=\"sd\" FBQualityLabel=\"540p\"><BaseURL>https://scontent-dub4-1.cdninstagram.com/o1/v/t2/f2/m367/AQNVYK_LcjKX7BfZe6teyHabLQAnRYyvQ0OaomvrOYVCPI39q3Mua18SLdXRP1rLDAWZtmaw0daxwozitRR7QuRlk-yu0u6aNkSo6bVRxWiHWJMrsuFUpZ3wEXzsglQDn__HYhrE.mp4?_nc_cat=101&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-dub4-1.cdninstagram.com&amp;_nc_ohc=YsOmqegW-HAQ7kNvwHvk5t6&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLnN0b3J5LmMyLUMzLmRhc2hfdnA5LWJhc2ljLWdlbjJfNTQwcCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjoxMzc3ODEwOTUzMzg3NzQ2LCJ2aV91c2VjYXNlX2lkIjoxMDEwMCwiZHVyYXRpb25fcyI6NTUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfJClU-cSxarTYZZelf4X843_PLNlpHXaOVA8JeQ4P6KjA&amp;oe=682163B3</BaseURL><SegmentBase indexRange=\"818-993\" timescale=\"15360\" FBMinimumPrefetchRange=\"994-47780\" FBFirstSegmentRange=\"994-766720\" FBFirstSegmentDuration=\"5000\" FBSecondSegmentRange=\"766721-1575879\" FBPrefetchSegmentRange=\"994-766720\" FBPrefetchSegmentDuration=\"5000\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"1200088581542031v\" bandwidth=\"2208026\" codecs=\"vp09.00.31.08.01.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_vp9-basic-gen2_720p\" FBContentLength=\"15419382\" FBPlaybackResolutionMos=\"0:100,360:93.3,480:90.1,720:83,1080:71.9\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:97.5,480:96.5,720:94.3,1080:86.5\" width=\"720\" height=\"1280\" frameRate=\"15360/512\" FBQualityClass=\"hd\" FBQualityLabel=\"720p\"><BaseURL>https://scontent-dub4-1.cdninstagram.com/o1/v/t2/f2/m367/AQMZ2fGGIbfKfEB8WZCN2uo1kyDrbZSRTuS9NuKQsm1kdrgBwIgx5uTkgSSwSrg-HwQGBXwyIV6JLLFGIHufr1R3biAaDoj6ef07ZsEglx5OkMyyYPdnMGzVR8ssmYaKJyFG6xTa.mp4?_nc_cat=101&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-dub4-1.cdninstagram.com&amp;_nc_ohc=ZnDVAwVn1J0Q7kNvwFP3y7A&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLnN0b3J5LmMyLUMzLmRhc2hfdnA5LWJhc2ljLWdlbjJfNzIwcCIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjoxMzc3ODEwOTUzMzg3NzQ2LCJ2aV91c2VjYXNlX2lkIjoxMDEwMCwiZHVyYXRpb25fcyI6NTUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfJI3HBj5B_USsbfjD3mig9BmKADRB-WNgDkLiSNcA9AXg&amp;oe=6821608B</BaseURL><SegmentBase indexRange=\"818-993\" timescale=\"15360\" FBMinimumPrefetchRange=\"994-70338\" FBFirstSegmentRange=\"994-1348250\" FBFirstSegmentDuration=\"5000\" FBSecondSegmentRange=\"1348251-2820412\" FBPrefetchSegmentRange=\"994-1348250\" FBPrefetchSegmentDuration=\"5000\"><Initialization range=\"0-817\"/></SegmentBase></Representation><Representation id=\"995872305960984v\" bandwidth=\"2923144\" codecs=\"vp09.00.40.08.01.01.01.01.00\" mimeType=\"video/mp4\" sar=\"1:1\" FBEncodingTag=\"dash_vp9-basic-gen2_1080p\" FBContentLength=\"20413296\" FBPlaybackResolutionMos=\"0:100,360:94.2,480:92.6,720:86.7,1080:78.6\" FBPlaybackResolutionMosConfidenceLevel=\"high\" FBPlaybackResolutionCsvqm=\"0:100,360:97.9,480:97.2,720:95.5,1080:92.4\" width=\"1080\" height=\"1920\" frameRate=\"15360/512\" FBQualityClass=\"hd\" FBQualityLabel=\"1080p\"><BaseURL>https://scontent-dub4-1.cdninstagram.com/o1/v/t2/f2/m367/AQPnP3tyR_xd5vqiR9rHqL4uKAjCLDaAYc0d8G15LFH4_WgzATFrwGXbO3j9AFBXxW_dMMt-bIcZjhcDf9KdKZVBXZfKTpq4NqOdhEyNtKMfJi0pduOiR8a2SGkol-VtVBcSU7y0ow.mp4?_nc_cat=106&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-dub4-1.cdninstagram.com&amp;_nc_ohc=Xh9mj1ql7FsQ7kNvwGfdBze&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLnN0b3J5LmMyLUMzLmRhc2hfdnA5LWJhc2ljLWdlbjJfMTA4MHAiLCJ2aWRlb19pZCI6bnVsbCwib2lsX3VybGdlbl9hcHBfaWQiOjkzNjYxOTc0MzM5MjQ1OSwiY2xpZW50X25hbWUiOiJpZyIsInhwdl9hc3NldF9pZCI6MTM3NzgxMDk1MzM4Nzc0NiwidmlfdXNlY2FzZV9pZCI6MTAxMDAsImR1cmF0aW9uX3MiOjU1LCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfIPo5nYW_cUOteJVej4-Or_9EsE1QoCPgFvyhr3gWNKbQ&amp;oe=68217548</BaseURL><SegmentBase indexRange=\"818-993\" timescale=\"15360\" FBMinimumPrefetchRange=\"994-82033\" FBFirstSegmentRange=\"994-1794971\" FBFirstSegmentDuration=\"5000\" FBSecondSegmentRange=\"1794972-3714039\" FBPrefetchSegmentRange=\"994-1794971\" FBPrefetchSegmentDuration=\"5000\"><Initialization range=\"0-817\"/></SegmentBase></Representation></AdaptationSet><AdaptationSet id=\"1\" contentType=\"audio\" subsegmentStartsWithSAP=\"1\" subsegmentAlignment=\"true\"><Representation id=\"9654440924588029ad\" bandwidth=\"84784\" codecs=\"mp4a.40.5\" mimeType=\"audio/mp4\" FBAvgBitrate=\"84784\" audioSamplingRate=\"44100\" FBEncodingTag=\"dash_ln_heaac_vbr3_audio\" FBContentLength=\"593255\" FBPaqMos=\"67.44\" FBDefaultQuality=\"1\"><AudioChannelConfiguration schemeIdUri=\"urn:mpeg:dash:23003:3:audio_channel_configuration:2011\" value=\"2\"/><BaseURL>https://scontent-dub4-1.cdninstagram.com/o1/v/t16/f2/m69/AQNyWBRlKnroBxnnX-EpqgZgFfAyiJwI-Shbf9Eq1B1Ma9Pxo26PXQBrs_bIP7SJepuJU3-Yyr9hBKTg1ksLVc5x.mp4?strext=1&amp;_nc_cat=107&amp;_nc_sid=9ca052&amp;_nc_ht=scontent-dub4-1.cdninstagram.com&amp;_nc_ohc=asFzHjDcgjkQ7kNvwGBmUxq&amp;efg=eyJ2ZW5jb2RlX3RhZyI6ImlnLXhwdmRzLnN0b3J5LmMyLUMzLmRhc2hfbG5faGVhYWNfdmJyM19hdWRpbyIsInZpZGVvX2lkIjpudWxsLCJvaWxfdXJsZ2VuX2FwcF9pZCI6OTM2NjE5NzQzMzkyNDU5LCJjbGllbnRfbmFtZSI6ImlnIiwieHB2X2Fzc2V0X2lkIjoxMzc3ODEwOTUzMzg3NzQ2LCJ2aV91c2VjYXNlX2lkIjoxMDEwMCwiZHVyYXRpb25fcyI6NTUsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&amp;ccb=17-1&amp;_nc_zt=28&amp;oh=00_AfI_TGV4rJPmSPk3Kr05twnv4TiuERYpk8DZGhIPelmVBg&amp;oe=68216059</BaseURL><SegmentBase indexRange=\"824-1191\" timescale=\"44100\" FBMinimumPrefetchRange=\"1192-1535\" FBFirstSegmentRange=\"1192-24804\" FBFirstSegmentDuration=\"2021\" FBSecondSegmentRange=\"24805-45822\" FBPrefetchSegmentRange=\"1192-45822\" FBPrefetchSegmentDuration=\"4017\"><Initialization range=\"0-823\"/></SegmentBase></Representation></AdaptationSet></Period></MPD>\n",
                      "number_of_qualities": 4,
                      "video_versions": [
                        {
                          "bandwidth": null,
                          "height": 852,
                          "type": 101,
                          "url": "https://scontent-dub4-1.cdninstagram.com/o1/v/t16/f2/m78/AQN5lthB7AgZeog8GcsUwAQtYg4PrP5y41v_bUs-ydLXFkg6cTCxlHYvYO9pyOGdbZ_h0iB8TpaRmEFn7KAjENMlWQGfsqMod9-9hpU.mp4?stp=dst-mp4&efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uc3RvcnkuYzIuNzIwLmJhc2VsaW5lIn0&_nc_cat=109&vs=622357473721923_1538615199&_nc_vs=HBksFQIYUWlnX3hwdl9wbGFjZW1lbnRfcGVybWFuZW50X3YyL0EwNEZFM0FDNjFERDBFRDJCNEM3MzVENDg5Rjg0MUIwX3ZpZGVvX2Rhc2hpbml0Lm1wNBUAAsgBABUCGDpwYXNzdGhyb3VnaF9ldmVyc3RvcmUvR0FBRlp4eFJSZ1RQaHJnRUFKMlFxRUgyOGE4dmJwa3dBQUFGFQICyAEAKAAYABsBiAd1c2Vfb2lsATEVAAAmmOLA9%2FDQi0AVAigCQzMsF0BL7tkWhysCGBJkYXNoX2Jhc2VsaW5lXzFfdjERAHXoB2XonQEA&_nc_rid=e09fae6dc1&ccb=9-4&oh=00_AfImyX203uNPxGHYxtNoPwuoBmW0eyV_W9nDNXbdQqs-jw&oe=681D7FBB&_nc_sid=982cc7",
                          "width": 480
                        }
                      ],
                      "video_duration": 55.85,
                      "has_audio": true,
                      "can_viewer_save": false,
                      "shop_routing_user_id": null,
                      "is_organic_product_tagging_eligible": false,
                      "product_suggestions": [],
                      "photo_of_you": false,
                      "can_see_insights_as_brand": false,
                      "media_type": 2,
                      "code": "DF8pmFZySYS",
                      "caption": null,
                      "sharing_friction_info": {
                        "bloks_app_url": null,
                        "should_have_sharing_friction": false,
                        "sharing_friction_payload": null
                      },
                      "timeline_pinned_user_ids": [],
                      "has_translation": false,
                      "original_media_has_visual_reply_media": false,
                      "coauthor_producers": [],
                      "coauthor_producer_can_see_organic_insights": false,
                      "invited_coauthor_producers": [],
                      "is_in_profile_grid": false,
                      "profile_grid_control_enabled": false,
                      "user": {
                        "fbid_v2": "17841400515130334",
[...]
