{
  "openapi": "3.0.0",
  "info": {
    "title": "Instagram API",
    "description": "Read public Instagram data — profiles, posts, reels, comments, transcripts, and search.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "AIsaSocialError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "errorStatus": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InstagramObject": {
        "type": "object",
        "additionalProperties": true
      },
      "InstagramProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "InstagramBasicProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "pk": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "biography": {
            "type": "string"
          },
          "follower_count": {
            "type": "integer"
          },
          "following_count": {
            "type": "integer"
          },
          "media_count": {
            "type": "integer"
          },
          "is_private": {
            "type": "boolean"
          },
          "is_verified": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "InstagramItemsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "next_max_id": {
            "type": "string",
            "nullable": true
          },
          "max_id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramHighlightsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramHighlightDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "reel_type": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramEmbedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "html": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InstagramPostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "xdt_shortcode_media": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "InstagramCommentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "comments": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramTranscriptsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "transcripts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InstagramReelsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "reels": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramHashtagSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "hashtag": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "posts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "InstagramProfilesSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "query": {
            "type": "string"
          },
          "profiles": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {}
}
