{
  "openapi": "3.0.0",
  "info": {
    "title": "Pinterest API",
    "description": "Read public Pinterest data — search pins, fetch pin and board details, and list user boards.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "AIsaSocialError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "errorStatus": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "PinterestPinsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "pins": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "PinterestPinResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "entityId": {
            "type": "string"
          },
          "pinner": {
            "type": "object",
            "additionalProperties": true
          },
          "originPinner": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "repinCount": {
            "type": "integer"
          },
          "totalReactionCount": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "PinterestBoardsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "boards": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {}
}
