{
  "openapi": "3.0.0",
  "info": {
    "title": "TXYZ Platform API",
    "version": "1.0.0",
    "description": "API documentation for platform.txyz.ai services including academic search functionality",
    "contact": {
      "email": "support@txyz.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {},
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Search ID not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ScholarSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScholarResult"
            },
            "description": "List of academic paper results"
          }
        }
      },
      "ScholarResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet",
          "authors",
          "number_of_citations"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the academic paper"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the full paper"
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or abstract of the paper"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of authors"
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of citations the paper has received"
          },
          "year": {
            "type": "integer",
            "description": "Publication year",
            "minimum": 1900,
            "maximum": 2030
          },
          "journal": {
            "type": "string",
            "description": "Journal or conference name"
          }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebResult"
            },
            "description": "List of web search results"
          }
        }
      },
      "WebResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the web page"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the web page"
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or preview of the web page content"
          },
          "display_url": {
            "type": "string",
            "description": "Display-friendly URL"
          },
          "published_date": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date of the web page"
          }
        }
      },
      "SmartSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the search request"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartResult"
            },
            "description": "List of smart search results combining web and academic content"
          },
          "search_type": {
            "type": "string",
            "enum": [
              "web",
              "academic",
              "hybrid"
            ],
            "description": "Type of search results included"
          }
        }
      },
      "SmartResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the result"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the content"
          },
          "snippet": {
            "type": "string",
            "description": "Brief summary or abstract"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of authors (for academic content)"
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of citations (for academic content)"
          },
          "type": {
            "type": "string",
            "enum": [
              "web",
              "academic"
            ],
            "description": "Type of the result"
          },
          "relevance_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance score of the result"
          }
        }
      },
      "ExplainSearchRequest": {
        "type": "object",
        "required": [
          "search_id"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "ID of the search to explain"
          },
          "response_mode": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "INCREMENTAL",
              "NON_STREAMING"
            ],
            "default": "NON_STREAMING",
            "description": "Format of the explanation response. COMPLETE and INCREMENTAL stream server-sent events; NON_STREAMING returns a JSON response."
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language code for the explanation (e.g., en, zh, ar)",
            "example": "ar"
          },
          "detail_level": {
            "type": "string",
            "enum": [
              "BRIEF",
              "MODERATE",
              "DETAILED"
            ],
            "default": "MODERATE",
            "description": "Level of detail in the explanation"
          }
        }
      },
      "ExplainSearchResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Generated explanation text."
          }
        },
        "description": "JSON explanation response returned when response_mode is NON_STREAMING."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
