{
  "openapi": "3.0.0",
  "info": {
    "title": "Reddit API",
    "description": "Read public Reddit data — search posts, browse subreddits, and fetch comments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    }
  },
  "paths": {
    "/reddit/search": {
      "get": {
        "tags": [
          "Reddit API"
        ],
        "operationId": "get_reddit-search",
        "summary": "Search Reddit",
        "description": "Searches across all of Reddit for posts matching a query. Each post includes title, author, selftext, subreddit, score, ups, upvote_ratio, num_comments, created_utc, url, permalink, and is_video. Supports sort (relevance, new, top, comment_count), timeframe filtering, pagination via the after token, and a trim parameter for lighter responses.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "new",
                "top",
                "comment_count"
              ]
            },
            "example": "relevance"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Timeframe",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "day",
                "week",
                "month",
                "year"
              ]
            },
            "example": "all"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Used to paginate to next page",
            "schema": {
              "type": "string"
            },
            "example": "t3_1i8z28z"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "posts": [
                    {
                      "id": "w63dgy",
                      "author": "Morgentau7",
                      "author_fullname": "t2_2hy2xjit",
                      "subreddit": "MadeMeSmile",
                      "title": "Player realizes that he nearly stole the dogs job",
                      "downs": 0,
                      "name": "t3_w63dgy",
                      "upvote_ratio": 0.97,
                      "ups": 220403,
                      "total_awards_received": 0,
                      "score": 220403,
                      "created": 1658580900,
                      "num_comments": 1246,
                      "url": "https://www.reddit.com/r/MadeMeSmile/comments/w63dgy/player_realizes_that_he_nearly_stole_the_dogs_job/",
                      "subreddit_subscribers": 11605207,
                      "is_video": true,
                      "created_utc": 1658580900
                    }
                  ],
                  "after": "t3_1izmcgx"
                }
              }
            }
          }
        }
      }
    },
    "/reddit/subreddit": {
      "get": {
        "tags": [
          "Reddit API"
        ],
        "operationId": "get_reddit-subreddit",
        "summary": "Subreddit Posts",
        "description": "Fetches posts from a subreddit with sorting and filtering options. Each post includes title, author, selftext, score, ups, upvote_ratio, num_comments, created_utc, url, permalink, subreddit_subscribers, and is_video. Supports sort (best, hot, new, top, rising), timeframe filtering, pagination via the after token, and a trim parameter for lighter responses.",
        "parameters": [
          {
            "name": "subreddit",
            "in": "query",
            "required": true,
            "description": "Subreddit name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Timeframe to get posts from",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "hot",
                "new",
                "top",
                "rising"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "After to get more posts. Get 'after' from previous response.",
            "schema": {
              "type": "string"
            },
            "example": "t3_1234567890"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "posts": [
                    {
                      "id": "1lfbo7u",
                      "author": "Vetro_Nodulare2",
                      "author_fullname": "t2_16syu27ar1",
                      "subreddit": "AskReddit",
                      "title": "What is a thing you love that lots of people hate?",
                      "downs": 0,
                      "name": "t3_1lfbo7u",
                      "upvote_ratio": 0.9,
                      "ups": 45,
                      "total_awards_received": 0,
                      "score": 45,
                      "created": 1750341959,
                      "num_comments": 349,
                      "url": "https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/",
                      "subreddit_subscribers": 56146328,
                      "is_video": false,
                      "created_utc": 1750341959
                    }
                  ],
                  "after": "t3_1lfogps"
                }
              }
            }
          }
        }
      }
    },
    "/reddit/subreddit/details": {
      "get": {
        "tags": [
          "Reddit API"
        ],
        "operationId": "get_reddit-subreddit-details",
        "summary": "Subreddit Details",
        "description": "Retrieves metadata about a subreddit by name or URL. The subreddit name must be case-sensitive. Returns display_name, description, subscribers, weekly_active_users, weekly_contributions, rules, icon_img, header_img, advertiser_category, submit_text, and created_at.",
        "parameters": [
          {
            "name": "subreddit",
            "in": "query",
            "required": false,
            "description": "Subreddit name. MUST be case sensitive. So 'AskReddit' not 'askreddit'.",
            "schema": {
              "type": "string"
            },
            "example": "AskReddit"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Subreddit URL",
            "schema": {
              "type": "string"
            },
            "example": "https://www.reddit.com/r/AbsoluteUnits/"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "credits_remaining": 33950256,
                  "subreddit_id": "t5_a7wuv",
                  "display_name": "AbsoluteUnits",
                  "weekly_active_users": 1428398,
                  "weekly_contributions": 8923,
                  "rules": "#ABSOLUTE UNITS\n\n---\n\n    Be in awe at the size of these lads\n\n---\n\n###[Check out our deep, well-reflected definitions of an absolute unit.](https://www.reddit.com/r/AbsoluteUnits/wiki/index)  ",
                  "description": "Absolute Unit : an Animal or Public Figure, who is larger than we should normally expect.",
                  "header_img": null,
                  "icon_img": "https://styles.redditmedia.com/t5_a7wuv/styles/communityIcon_t3cspt08bl681.png?width=128&frame=1&auto=webp&s=6f7e59ccf1724bd6c8b3e0d2840c9b21297102c3",
                  "subscribers": 1923642,
                  "advertiser_category": "",
                  "created_at": "2018-01-05T10:35:24.000Z",
                  "submit_text": ""
                }
              }
            }
          }
        }
      }
    },
    "/reddit/subreddit/search": {
      "get": {
        "tags": [
          "Reddit API"
        ],
        "operationId": "get_reddit-subreddit-search",
        "summary": "Search Within Subreddit",
        "description": "Searches within a specific subreddit for posts, comments, and media matching a query. Returns posts with title, votes, num_comments, url, and created_at; comments with author, body, votes, and parent post info; and media with title, media_type, image dimensions, and gallery_count. Supports sort, timeframe filtering, and cursor-based pagination.",
        "parameters": [
          {
            "name": "subreddit",
            "in": "query",
            "required": true,
            "description": "Subreddit name (e.g. 'Fitness', not 'r/Fitness' or a full URL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query to find matching content",
            "schema": {
              "type": "string"
            },
            "example": "push ups"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. For posts/media: relevance, hot, top, new, comments. For comments: relevance, top, new",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "hot",
                "top",
                "new",
                "comments"
              ]
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Timeframe to filter results",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "year",
                "month",
                "week",
                "day",
                "hour"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get more results. Get 'cursor' from previous response.",
            "schema": {
              "type": "string"
            },
            "example": "eyJjYW5kaWRhdGVzX3JldHVybmVkIjoi..."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "posts": [
                    {
                      "id": "t3_8gmjrb",
                      "post_id": "t3_8gmjrb",
                      "title": "Is doing 50-100 pushups a day doing anything?",
                      "url": "https://www.reddit.com/r/Fitness/comments/8gmjrb/is_doing_50100_pushups_a_day_doing_anything/",
                      "permalink": "/r/Fitness/comments/8gmjrb/is_doing_50100_pushups_a_day_doing_anything/",
                      "nsfw": false,
                      "spoiler": false,
                      "is_crosspost": false,
                      "subreddit": {
                        "id": "t5_2qhx4",
                        "name": "Fitness",
                        "nsfw": false,
                        "quarantined": false,
                        "icon": "https://b.thumbs.redditmedia.com/Ted4KOMuRbaCYlDS55cTqjpVVZ2ENHKtYFbBFjI1i2o.png",
                        "banner": null,
                        "description": "A place for the pursuit of physical fitness goals.\n\nPlease see the r/Fitness Wiki and FAQ at https://thefitness.wiki for help with common questions.",
                        "weekly_visitors": 898726,
                        "weekly_contributions": 1827
                      },
                      "votes": 1414,
                      "num_comments": 582,
                      "created_at": "2018-05-03T01:09:17.620000+0000",
                      "created_at_iso": "2018-05-03T01:09:17.620Z",
                      "thumbnail": null,
                      "thumbnail_blurred": false,
                      "position": 0,
                      "relative_position": 0
                    }
                  ],
                  "comments": [
                    {
                      "id": "t1_nxf7p27",
                      "post_id": "t3_1q2p898",
                      "parent_comment_id": null,
                      "is_reply_to_comment": false,
                      "author": "Philser23",
                      "author_avatar": null,
                      "author_nsfw": false,
                      "body": "On the 30th my girlfriend out of the blue decided her new year's resolution would be to start going to the gym. I was so excited since none of my partners ever shared the fitness hobby with me.",
                      "body_html": "<p>On the 30th my girlfriend out of the blue decided her new year's resolution would be to start going to the gym...</p>",
                      "images": [],
                      "votes": 123,
                      "url": "https://www.reddit.com/r/Fitness/comments/1q2p898/gym_story_saturday/nxf7p27/",
                      "permalink": "/r/Fitness/comments/1q2p898/gym_story_saturday/nxf7p27/",
                      "created_at": "2026-01-03T11:26:02.434000+0000",
                      "created_at_iso": "2026-01-03T11:26:02.434Z",
                      "post": {
                        "id": "t3_1q2p898",
                        "title": "Gym Story Saturday",
                        "url": "https://www.reddit.com/r/Fitness/comments/1q2p898/gym_story_saturday/",
                        "permalink": "/r/Fitness/comments/1q2p898/gym_story_saturday/",
                        "nsfw": false,
                        "spoiler": false,
                        "votes": 67,
                        "num_comments": 80,
                        "created_at": "2026-01-03T08:15:49.709000+0000",
                        "created_at_iso": "2026-01-03T08:15:49.709Z"
                      },
                      "subreddit": {
                        "id": "t5_2qhx4",
                        "name": "Fitness",
                        "nsfw": false,
                        "quarantined": false,
                        "icon": "https://b.thumbs.redditmedia.com/Ted4KOMuRbaCYlDS55cTqjpVVZ2ENHKtYFbBFjI1i2o.png"
                      },
                      "position": 0
                    }
                  ],
                  "media": [
                    {
                      "id": "t3_geo4x",
                      "title": "Bodyweight training for really strong people. See on you're own what I mean with strong. (Not me)",
                      "url": "https://www.reddit.com/r/Fitness/comments/geo4x/bodyweight_training_for_really_strong_people_see/",
                      "permalink": "/r/Fitness/comments/geo4x/bodyweight_training_for_really_strong_people_see/",
                      "media_type": "image",
                      "video": null,
                      "image": {
                        "src": "https://external-preview.redd.it/X6lz5yGIzqVA5LcI9w-FsQJJHhXoCugDhsXgWW3I404.jpg?format=pjpg&auto=webp&s=46814b0a707a532e39e6c20851ddc1fefb0a111f",
                        "width": 480,
                        "height": 360,
                        "resolutions": [
                          {
                            "url": "https://external-preview.redd.it/X6lz5yGIzqVA5LcI9w-FsQJJHhXoCugDhsXgWW3I404.jpg?width=320&crop=smart&format=pjpg&auto=webp&s=144ac4171a1862e5d91d8dd90d44271e22a8273d",
                            "width": 320
                          }
                        ]
                      },
                      "gallery_count": null,
                      "aspect_ratio": 1.3333333333333333,
                      "nsfw": false,
                      "spoiler": false,
                      "is_blurred": false,
                      "subreddit": {
                        "id": "t5_2qhx4",
                        "name": "Fitness",
                        "nsfw": false,
                        "quarantined": false
                      },
                      "position": 0,
                      "safe_search": "UNAVAILABLE"
                    }
                  ],
                  "cursor": "eyJjYW5kaWRhdGVzX3JldHVybmVkIjoie1wic2VjdGlvbl8xX3BpcGVsaW5lXzBfZ2xvYmFsX21vZGlmaWVyc1wiOlwiM1wiLFwic2VjdGlvbl8xX3BpcGVsaW5lXzFfbG9jYWxfbW9kaWZpZXJzXCI6XCIzXCIsXCJzZWN0aW9uXzJfcGlwZWxpbmVfNl9zY29wZV9zd2l0Y2hlclwiOlwiMFwiLFwic2VjdGlvbl8yX3BpcGVsaW5lXzdfcG9zdF9zZWFyY2hcIjpcIjdcIn0ifQ=="
                }
              }
            }
          }
        }
      }
    },
    "/reddit/post/comments": {
      "get": {
        "tags": [
          "Reddit API"
        ],
        "operationId": "get_reddit-post-comments",
        "summary": "Post Comments",
        "description": "Retrieves comments and post details from a Reddit post by URL. Returns the post with title, author, score, ups, upvote_ratio, num_comments, and created_utc, plus a comments array where each comment includes author, body, body_html, score, created_utc, parent_id, permalink, and nested replies. Supports cursor-based pagination for loading more comments and a trim parameter for lighter responses.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Reddit post URL",
            "schema": {
              "type": "string"
            },
            "example": "https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get more comments, or replies.",
            "schema": {
              "type": "string"
            },
            "example": "ed1lvsa,ed3fnpq,ed25l2w"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "comments": [
                    {
                      "id": "mymupxb",
                      "author": "Background-Emu-2890",
                      "author_fullname": "t2_efdlposp6",
                      "body": "Black cat i have one and i love her so much !",
                      "name": "t1_mymupxb",
                      "created_utc": 1750342221,
                      "created_at_iso": "2025-06-19T14:10:21.000Z",
                      "parent_id": "t3_1lfbo7u",
                      "url": "https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymupxb/",
                      "replies": {
                        "items": [
                          {
                            "url": "https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymxwde/",
                            "created_utc": 1750343166,
                            "created_at_iso": "2025-06-19T14:26:06.000Z",
                            "subreddit_id": "t5_2qh1i",
                            "approved_at_utc": null,
                            "author_is_blocked": false,
                            "comment_type": null,
                            "awarders": [],
                            "mod_reason_by": null,
                            "banned_by": null,
                            "author_flair_type": "text",
                            "total_awards_received": 0,
                            "subreddit": "AskReddit",
                            "author_flair_template_id": null,
                            "likes": null,
                            "replies": {
                              "items": [],
                              "more": {
                                "has_more": false,
                                "next_cursor": null
                              }
                            },
                            "user_reports": [],
                            "saved": false,
                            "id": "mymxwde",
                            "banned_at_utc": null,
                            "mod_reason_title": null,
                            "gilded": 0,
                            "archived": false,
                            "collapsed_reason_code": null,
                            "no_follow": false,
                            "author": "doublestitch",
                            "can_mod_post": false,
                            "send_replies": true,
                            "parent_id": "t1_mymupxb",
                            "score": 19,
                            "author_fullname": "t2_10py0g",
                            "removal_reason": null,
                            "approved_by": null,
                            "mod_note": null,
                            "all_awardings": [],
                            "body": "House panthers for the win",
                            "edited": false,
                            "top_awarded_type": null,
                            "author_flair_css_class": null,
                            "name": "t1_mymxwde",
                            "is_submitter": false,
                            "downs": 0,
                            "author_flair_richtext": [],
                            "author_patreon_flair": false,
                            "body_html": "&lt;div class=\"md\"&gt;&lt;p&gt;House panthers for the win&lt;/p&gt;\n&lt;/div&gt;",
                            "gildings": {},
                            "collapsed_reason": null,
                            "distinguished": null,
                            "associated_award": null,
                            "stickied": false,
                            "author_premium": false,
                            "can_gild": false,
                            "link_id": "t3_1lfbo7u",
                            "unrepliable_reason": null,
                            "author_flair_text_color": null,
                            "score_hidden": false,
                            "permalink": "/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymxwde/",
                            "subreddit_type": "public",
                            "locked": false,
                            "report_reasons": null,
                            "created": 1750343166,
                            "author_flair_text": null,
                            "treatment_tags": [],
                            "collapsed": false,
                            "subreddit_name_prefixed": "r/AskReddit",
                            "controversiality": 0,
                            "depth": 1,
                            "author_flair_background_color": null,
                            "collapsed_because_crowd_control": null,
                            "mod_reports": [],
                            "num_reports": null,
                            "ups": 19
                          }
                        ],
                        "more": {
                          "has_more": true,
                          "cursor": "myn970w"
                        }
                      },
                      "ups": 75,
                      "downs": 0,
                      "score": 75
                    }
                  ],
                  "post": {
                    "id": "1lfbo7u",
                    "author": "Vetro_Nodulare2",
                    "author_fullname": "t2_16syu27ar1",
                    "subreddit": "AskReddit",
                    "title": "What is a thing you love that lots of people hate?",
                    "downs": 0,
                    "name": "t3_1lfbo7u",
                    "upvote_ratio": 0.91,
                    "ups": 47,
                    "total_awards_received": 0,
                    "score": 47,
                    "created": 1750341959,
                    "num_comments": 353,
                    "url": "https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/",
                    "subreddit_subscribers": 56146601,
                    "is_video": false,
                    "created_utc": 1750341959
                  },
                  "more": {
                    "has_more": true,
                    "cursor": "myoaw2m,myob40l,myoeo9h"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}