{
  "openapi": "3.0.0",
  "info": {
    "title": "Reddit API",
    "description": "Read public Reddit data — search posts, browse subreddits, and fetch comments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "RedditPost": {
        "type": "object",
        "additionalProperties": true
      },
      "RedditComment": {
        "type": "object",
        "additionalProperties": true
      },
      "RedditPostsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RedditPost"
            }
          },
          "after": {
            "type": "string",
            "nullable": true
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "RedditCommentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RedditComment"
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "RedditSubredditDetailsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "subreddit_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "subscribers": {
            "type": "integer"
          },
          "weekly_active_users": {
            "type": "integer"
          },
          "weekly_contributions": {
            "type": "integer"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "AIsaSocialError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "errorStatus": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {}
}
