{
  "openapi": "3.0.3",
  "info": {
    "title": "Semrush API",
    "version": "1.0.0",
    "description": "Semrush competitive SEO intelligence routed through the AIsa gateway. Covers domain organic overview, backlinks overview, and keyword overview. Proxies the Semrush Analytics API; responses are returned as Semrush native semicolon-delimited text."
  },
  "servers": [
    { "url": "https://api.aisa.one/apis/v1" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "paths": {
    "/semrush/domain-overview": {
      "get": {
        "summary": "Domain Overview",
        "description": "Return the organic search overview for a domain in a given regional database: Rank, organic keyword count, organic traffic, organic traffic cost, and Adwords keyword count. Billed $0.09 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "semrushDomainOverview",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": { "type": "string" }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`. Examples: `us`, `uk`, `cn`.",
            "schema": { "type": "string", "default": "us" }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: Database;Domain;Rank;OrganicKeywords;OrganicTraffic;OrganicCost;AdwordsKeywords.",
            "content": {
              "text/plain": {
                "schema": { "type": "string" },
                "example": "us;ahrefs.com;1843;204139;1387538;4247450;679"
              }
            }
          }
        }
      }
    },
    "/semrush/backlinks-overview": {
      "get": {
        "summary": "Backlinks Overview",
        "description": "Return the backlink profile summary for a root domain: authority score (ascore), total backlinks, referring domains, referring URLs, and referring IPs. Billed $0.30 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "semrushBacklinksOverview",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target root domain, e.g. `ahrefs.com`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: ascore;total_backlinks;referring_domains;referring_urls;referring_ips.",
            "content": {
              "text/plain": {
                "schema": { "type": "string" },
                "example": "73;7376713;127172;5228834;87874"
              }
            }
          }
        }
      }
    },
    "/semrush/keyword-overview": {
      "get": {
        "summary": "Keyword Overview",
        "description": "Return search metrics for a keyword phrase in a given regional database: search volume, CPC, competition, and number of results. Billed $0.09 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "semrushKeywordOverview",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": { "type": "string", "example": "seo tools" }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": { "type": "string", "default": "us" }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: Keyword;SearchVolume;CPC;Competition;NumberOfResults.",
            "content": {
              "text/plain": {
                "schema": { "type": "string" },
                "example": "seo tools;550000;7.79;0.03;124"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  }
}
