{
  "openapi": "3.0.3",
  "info": {
    "title": "Semrush API",
    "version": "1.0.0",
    "description": "Semrush competitive SEO intelligence routed through the AIsa gateway. Covers domain overview, backlinks overview and keyword overview, plus keyword research (difficulty, organic/paid results, broad-match, questions), domain analytics (rank history, organic/paid keywords, competitors, domain-vs-domain), URL keywords and the backlinks suite (backlinks, referring domains, anchors, indexed pages, competitors). Proxies the Semrush Analytics API; responses are Semrush native semicolon-delimited text with a header row. Row-billed endpoints charge per returned data row (header excluded), up to 20 rows per call."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/semrush/domain-overview": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.003,
          "cost_tier": "low",
          "note": "price reflects the current pricing revision; historical charges may be higher (a prior revision billed more)"
        },
        "summary": "Domain Overview",
        "description": "Return the organic search overview for a domain in a given regional database: Rank, organic keyword count, organic traffic, organic traffic cost, and Adwords keyword count. Billed $0.09 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_domain_overview",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`. Examples: `us`, `uk`, `cn`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: Database;Domain;Rank;OrganicKeywords;OrganicTraffic;OrganicCost;AdwordsKeywords.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "us;ahrefs.com;1843;204139;1387538;4247450;679"
              }
            }
          }
        }
      }
    },
    "/semrush/backlinks-overview": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.01,
          "cost_tier": "low",
          "note": "price reflects the current pricing revision; historical charges may be higher (a prior revision billed more)"
        },
        "summary": "Backlinks Overview",
        "description": "Return the backlink profile summary for a root domain: authority score (ascore), total backlinks, referring domains, referring URLs, and referring IPs. Billed $0.30 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_backlinks_overview",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target root domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: ascore;total_backlinks;referring_domains;referring_urls;referring_ips.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "73;7376713;127172;5228834;87874"
              }
            }
          }
        }
      }
    },
    "/semrush/keyword-overview": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.003,
          "cost_tier": "low",
          "note": "price reflects the current pricing revision; historical charges may be higher (a prior revision billed more)"
        },
        "summary": "Keyword Overview",
        "description": "Return search metrics for a keyword phrase in a given regional database: search volume, CPC, competition, and number of results. Billed $0.09 per successful call; 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_keyword_overview",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": {
              "type": "string",
              "example": "seo tools"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited overview: Keyword;SearchVolume;CPC;Competition;NumberOfResults.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "seo tools;550000;7.79;0.03;124"
              }
            }
          }
        }
      }
    },
    "/semrush/keyword-difficulty": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.45,
          "observed_usd": {
            "min": 0.015,
            "p50": 0.105,
            "p95": 0.9,
            "max": 0.9
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Keyword Difficulty",
        "description": "Keyword Difficulty Index (0-100) for one or more keywords. Billed per returned data row at $0.45 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_keyword_difficulty",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "One or more keywords separated by `;` (up to 20).",
            "schema": {
              "type": "string",
              "example": "seo tools;ahrefs"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Keyword Difficulty Index`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Keyword Difficulty Index\nseo tools;94"
              }
            }
          }
        }
      }
    },
    "/semrush/keyword-organic-results": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.09,
          "observed_usd": {
            "min": 0.051,
            "p50": 0.06,
            "p95": 0.18,
            "max": 1.8
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Organic Results",
        "description": "Domains and URLs currently ranking in Google organic results for a keyword. Billed per returned data row at $0.09 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_organic_results",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": {
              "type": "string",
              "example": "seo tools"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Domain;Url;Keywords SERP Features;SERP Features`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Domain;Url;Keywords SERP Features;SERP Features\nsmallseotools.com;https://smallseotools.com/;6,7,9;6,7,9"
              }
            }
          }
        }
      }
    },
    "/semrush/keyword-paid-results": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.18,
          "observed_usd": {
            "min": 0.048,
            "max": 0.36
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Paid Results",
        "description": "Domains and URLs currently running Google Ads for a keyword. Billed per returned data row at $0.18 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_paid_results",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": {
              "type": "string",
              "example": "seo tools"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Domain;Url`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Domain;Url\nprogressive.com;https://www.progressive.com/lp/insurance-superstore"
              }
            }
          }
        }
      }
    },
    "/semrush/broad-match-keywords": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.18,
          "observed_usd": {
            "min": 0.006,
            "p50": 0.12,
            "p95": 3.6,
            "max": 3.6
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Broad Match Keywords",
        "description": "Broad-match and alternate keyword variants for a seed phrase, with volume and CPC. Billed per returned data row at $0.18 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_broad_match_keywords",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": {
              "type": "string",
              "example": "seo tools"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Search Volume;CPC`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Search Volume;CPC\nseo tools;550000;7.79"
              }
            }
          }
        }
      }
    },
    "/semrush/question-keywords": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 7.2
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Question Keywords",
        "description": "Question-form keyword variations for a seed phrase, with volume and CPC. Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_question_keywords",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "required": true,
            "description": "Keyword phrase. URL-encode spaces as `%20` or `+`.",
            "schema": {
              "type": "string",
              "example": "seo tools"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Regional database / country code. Defaults to `us`.",
            "schema": {
              "type": "string",
              "default": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Search Volume;CPC`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Search Volume;CPC\nwhat is seo;40500;2.05"
              }
            }
          }
        }
      }
    },
    "/semrush/domain-rank-history": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.09,
          "observed_usd": {
            "min": 0.06,
            "max": 1.8
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Domain Rank History",
        "description": "Historical rank, organic traffic and keyword-count trajectory for a domain. Billed per returned data row at $0.09 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_domain_rank_history",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Rank;Organic Keywords;Organic Traffic;Organic Cost`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Rank;Organic Keywords;Organic Traffic;Organic Cost\n1332;209108;1909338;6145922"
              }
            }
          }
        }
      }
    },
    "/semrush/domain-organic-keywords": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.09,
          "observed_usd": {
            "min": 0.006,
            "p50": 0.06,
            "p95": 0.06,
            "max": 0.18
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Domain Organic Keywords",
        "description": "Keywords a domain ranks for in Google organic (position, volume, CPC, URL). Billed per returned data row at $0.09 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_domain_organic_keywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Position;Search Volume;CPC;Url`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Position;Search Volume;CPC;Url\nsearch operators;1;1220000;2.02;https://ahrefs.com/blog/google-advanced-search-operators/"
              }
            }
          }
        }
      }
    },
    "/semrush/domain-paid-keywords": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.18,
          "observed_usd": {
            "min": 0.12,
            "max": 3.6
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Domain Paid Keywords",
        "description": "Keywords a domain bids on in Google Ads (position, volume, CPC, URL). Billed per returned data row at $0.18 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_domain_paid_keywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Position;Search Volume;CPC;Url`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Position;Search Volume;CPC;Url\nhotels near me;1;2240000;1.45;https://www.booking.com/"
              }
            }
          }
        }
      }
    },
    "/semrush/domain-organic-competitors": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 7.2
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Organic Competitors",
        "description": "Domains competing with a target in Google organic search. Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_organic_competitors",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. `ahrefs.com`.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Domain;Competitor Relevance;Common Keywords;Organic Keywords`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Domain;Competitor Relevance;Common Keywords;Organic Keywords\nseranking.com;0.36;13476;78356"
              }
            }
          }
        }
      }
    },
    "/semrush/domain-vs-domain": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.72,
          "observed_usd": {
            "min": 0.48,
            "max": 14.4
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Domain vs Domain",
        "description": "Cross-domain keyword position comparison across up to 5 domains. Billed per returned data row at $0.72 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_domain_vs_domain",
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "description": "Comparison spec: `sign|type|domain` groups joined by `|` (sign in + - * /, type in `or`/`ad`). Example: `+|or|ahrefs.com|+|or|semrush.com`.",
            "schema": {
              "type": "string",
              "example": "+|or|ahrefs.com|+|or|semrush.com"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;ahrefs.com`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;ahrefs.com\nai detector;79"
              }
            }
          }
        }
      }
    },
    "/semrush/url-organic-keywords": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.09,
          "observed_usd": {
            "min": 0.06,
            "max": 0.18
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "URL Organic Keywords",
        "description": "Keywords a specific URL ranks for in Google organic. Billed per returned data row at $0.09 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_url_organic_keywords",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL (landing page).",
            "schema": {
              "type": "string",
              "example": "https://ahrefs.com/blog/"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Regional database / country code, e.g. `us`.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `Keyword;Position;Search Volume;CPC`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Keyword;Position;Search Volume;CPC\nahrefs blog;1;2900;4.98"
              }
            }
          }
        }
      }
    },
    "/semrush/backlinks": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 7.2
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Backlinks",
        "description": "Individual backlink records pointing at a target (source, target, anchor). Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_backlinks",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": true,
            "description": "One of `root_domain`, `domain`, or `url`.",
            "schema": {
              "type": "string",
              "example": "root_domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `source_url;target_url;anchor`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "source_url;target_url;anchor\nhttps://example.com/post;https://ahrefs.com/blog/agentic-marketing/;Agentic Marketing"
              }
            }
          }
        }
      }
    },
    "/semrush/referring-domains": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 0.72
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Referring Domains",
        "description": "Referring domains linking to a target, aggregated by domain. Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_referring_domains",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": true,
            "description": "One of `root_domain`, `domain`, or `url`.",
            "schema": {
              "type": "string",
              "example": "root_domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `domain;backlinks_num`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "domain;backlinks_num\nmein-tagwerk.de;872721"
              }
            }
          }
        }
      }
    },
    "/semrush/backlink-anchors": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 0.72
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Backlink Anchors",
        "description": "Anchor-text distribution of backlinks to a target. Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_backlink_anchors",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": true,
            "description": "One of `root_domain`, `domain`, or `url`.",
            "schema": {
              "type": "string",
              "example": "root_domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `anchor;backlinks_num`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "anchor;backlinks_num\nahrefs;1658450"
              }
            }
          }
        }
      }
    },
    "/semrush/indexed-pages": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 0.72
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Indexed Pages",
        "description": "Pages of a target that have backlinks (page-level breakdown). Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_indexed_pages",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": true,
            "description": "One of `root_domain`, `domain`, or `url`.",
            "schema": {
              "type": "string",
              "example": "root_domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `source_url;backlinks_num`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "source_url;backlinks_num\nhttps://ahrefs.com/;1706893"
              }
            }
          }
        }
      }
    },
    "/semrush/backlink-competitors": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 3",
          "nominal_usd": 0.36,
          "observed_usd": {
            "min": 0.24,
            "max": 0.72
          },
          "cost_drivers": [
            {
              "param": "display_limit (rows)",
              "effect": "charge scales with number of rows returned (up to display_limit)"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Backlink Competitors",
        "description": "Domains with a backlink profile similar to the target. Billed per returned data row at $0.36 per row (up to 20 rows; header row excluded); 4xx/5xx are not charged. Response is semicolon-delimited text.",
        "operationId": "get_semrush_backlink_competitors",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL.",
            "schema": {
              "type": "string",
              "example": "ahrefs.com"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": true,
            "description": "One of `root_domain`, `domain`, or `url`.",
            "schema": {
              "type": "string",
              "example": "root_domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semicolon-delimited rows. Header: `neighbour;similarity`.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "neighbour;similarity\nsemrush.com;0.477280"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  }
}
