{
  "openapi": "3.0.3",
  "info": {
    "title": "SimilarWeb API",
    "version": "1.0.0",
    "description": "SimilarWeb digital-intelligence data routed through the AIsa gateway: website traffic & engagement, ranking, traffic sources, audience, website content, and keyword/search insights.\n\n**Billing model**: SimilarWeb uses a two-phase (pre-authorization -> settlement) credit-based model, not a fixed unit price. (1) Before the call, an upper bound is estimated from the request dimensions and pre-authorized (response header `X-AISA-Estimated-Credits`); (2) the upstream call is made; (3) actual consumption is settled (response headers `X-AISA-Accounted-Credits`, `X-AISA-Price-USD`).\n- Billing dimensions: metrics x countries x time buckets (time-series endpoints); number of returned rows (list endpoints, capped at 20 rows, excess auto-truncated).\n- Countries: each country multiplies the cost once; world/global is normalized to world.\n- Settlement rounds up to whole credits; charged only when HTTP 2xx and data is non-empty; 4xx/5xx or empty data is not charged."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/similarweb/website/traffic-engagement": {
      "get": {
        "summary": "Traffic & Engagement",
        "description": "Traffic & Engagement. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebTrafficEngagement",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "description": "Comma-separated metrics, e.g. visits,pages_per_visit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "mtd",
            "in": "query",
            "required": false,
            "description": "Month-to-date flag (true/false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "metrics": [
                        "visits",
                        "pages_per_visit",
                        "average_visit_duration",
                        "bounce_rate",
                        "new_users",
                        "page_views",
                        "returning_users",
                        "unique_visitors"
                      ],
                      "state": null,
                      "mtd": false,
                      "main_domain_only": true
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "visits": 182538329.78179574,
                      "bounce_rate": 0.6402229356798581,
                      "average_visit_duration": 194.8333714917004,
                      "pages_per_visit": 1.9970684926970637,
                      "page_views": 364541547.1167704,
                      "unique_visitors": 32705292.619999997,
                      "new_users": 10074246.080150243,
                      "returning_users": 22631046.540221456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "average_visit_duration": {
                            "type": "number"
                          },
                          "pages_per_visit": {
                            "type": "number"
                          },
                          "page_views": {
                            "type": "number"
                          },
                          "unique_visitors": {
                            "type": "number"
                          },
                          "new_users": {
                            "type": "number"
                          },
                          "returning_users": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ranking": {
      "get": {
        "summary": "Website Ranking",
        "description": "Website Ranking. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebRanking",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "metrics": [
                        "country_rank",
                        "category_rank",
                        "category"
                      ]
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "country_rank": 69,
                      "category": "News_and_Media",
                      "category_rank": 5
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "country_rank": {
                            "type": "integer"
                          },
                          "category": {
                            "type": "string"
                          },
                          "category_rank": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ppc-spend": {
      "get": {
        "summary": "PPC Spend",
        "description": "PPC Spend. Billing: 5 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebPpcSpend",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "currency": "usd",
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "data_version": null,
                      "main_domain_only": true
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "currency": "usd",
                      "ppc_spend": 136064.05
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "ppc_spend": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/top-sites-ranking": {
      "get": {
        "summary": "Top Sites Ranking",
        "description": "Top Sites Ranking. Billing: 1 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTopSitesRanking",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Industry category, e.g. Finance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "channel": "total",
                      "format": "json",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-05-01",
                      "end_date": "2026-07-31",
                      "category": "News_and_Media",
                      "web_source": "total"
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "domain": "yahoo.com",
                      "rank": 1
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/marketing-channel-sources-legacy": {
      "get": {
        "summary": "Marketing Channel Sources",
        "description": "Marketing Channel Sources. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebMarketingChannelSourcesLegacy",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "metrics": [
                        "visits"
                      ],
                      "mtd": false,
                      "main_domain_only": true
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "source_type": "Direct",
                      "visits": 122433065.2298491,
                      "bounce_rate": null,
                      "average_visit_duration": null,
                      "pages_per_visit": null
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "source_type": {
                            "type": "string"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "string"
                          },
                          "average_visit_duration": {
                            "type": "string"
                          },
                          "pages_per_visit": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/referrals": {
      "get": {
        "summary": "Referrals",
        "description": "Referrals. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebReferrals",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "referral_type": "incoming",
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "main_domain_only": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "domain": "citizenfreepress.com",
                      "share": 0.1664343819749612,
                      "change": 0.44941053996464486,
                      "visits": 1083633.5339702675
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          },
                          "change": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/traffic-geography": {
      "get": {
        "summary": "Traffic Geography",
        "description": "(Temporarily unavailable — endpoint disabled in production.) Traffic Geography. Billing: 7 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTrafficGeography",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com"
                    }
                  },
                  "data": [
                    {
                      "country": "us",
                      "country_code": 840,
                      "share": 0.41,
                      "visits": 5500000
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "country_code": {
                            "type": "integer"
                          },
                          "share": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/similarweb/website/ad-networks": {
      "get": {
        "summary": "Ad Networks",
        "description": "Ad Networks. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAdNetworks",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "ad_network_type": "incoming",
                      "metrics": [
                        "share",
                        "change"
                      ],
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "desktop",
                      "data_version": null,
                      "main_domain_only": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "ad_network": "Zeta Global",
                      "share": 1.0,
                      "change": 0.4053466348518069
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_network": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          },
                          "change": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/similar-sites": {
      "get": {
        "summary": "SimilarSites",
        "description": "SimilarSites. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Note: SimilarWeb (upstream) only returns data for a recent, roughly three-month window; requests outside the supported recent range may return an upstream error even though the parameters are accepted.",
        "operationId": "similarwebSimilarSites",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "start_date": "2026-05-01",
                      "end_date": "2026-07-31",
                      "metrics": [
                        "rank",
                        "affinity",
                        "has_adsense"
                      ],
                      "category": null
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "domain": "bbc.com",
                      "category": "News_and_Media",
                      "rank": 95,
                      "affinity": 1.0,
                      "has_adsense": true
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "affinity": {
                            "type": "number"
                          },
                          "has_adsense": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/demographics": {
      "get": {
        "summary": "Demographics",
        "description": "Demographics. Billing: 8 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebDemographics",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "metrics": [
                        "age_18_to_24_share",
                        "age_25_to_34_share",
                        "age_35_to_44_share",
                        "age_45_to_54_share",
                        "age_55_to_64_share",
                        "age_65_plus_share",
                        "male_share",
                        "female_share"
                      ]
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "age_18_to_24_share": 0.0684928856109901,
                      "age_25_to_34_share": 0.16978297333160164,
                      "age_35_to_44_share": 0.202684431962113,
                      "age_45_to_54_share": 0.2104190356035189,
                      "age_55_to_64_share": 0.21167119791609917,
                      "age_65_plus_share": 0.1369494755756772,
                      "male_share": 0.5816619373492008,
                      "female_share": 0.4183380626507992
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age_18_to_24_share": {
                            "type": "number"
                          },
                          "age_25_to_34_share": {
                            "type": "number"
                          },
                          "age_35_to_44_share": {
                            "type": "number"
                          },
                          "age_45_to_54_share": {
                            "type": "number"
                          },
                          "age_55_to_64_share": {
                            "type": "number"
                          },
                          "age_65_plus_share": {
                            "type": "number"
                          },
                          "male_share": {
                            "type": "number"
                          },
                          "female_share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/deduplicated-audience": {
      "get": {
        "summary": "Deduplicated Audience",
        "description": "Deduplicated Audience. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebDeduplicatedAudience",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "metrics": [
                        "total_deduplicated_audience",
                        "desktop_only_audience_share",
                        "desktop_only_audience_visitors",
                        "mobile_web_only_audience_share",
                        "mobile_web_only_audience_visitors",
                        "desktop_and_mobile_web_audience_share",
                        "desktop_and_mobile_web_audience_visitors"
                      ],
                      "main_domain_only": true
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "total_deduplicated_audience": 23727616.32935698,
                      "desktop_only_audience_share": 0.12370405221553608,
                      "desktop_only_audience_visitors": 2935202.2893569823,
                      "mobile_web_only_audience_share": 0.4979319281532382,
                      "mobile_web_only_audience_visitors": 11814737.749356981,
                      "desktop_and_mobile_web_audience_share": 0.3783640196312258,
                      "desktop_and_mobile_web_audience_visitors": 8977676.290643018
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "total_deduplicated_audience": {
                            "type": "number"
                          },
                          "desktop_only_audience_share": {
                            "type": "number"
                          },
                          "desktop_only_audience_visitors": {
                            "type": "number"
                          },
                          "mobile_web_only_audience_share": {
                            "type": "number"
                          },
                          "mobile_web_only_audience_visitors": {
                            "type": "number"
                          },
                          "desktop_and_mobile_web_audience_share": {
                            "type": "number"
                          },
                          "desktop_and_mobile_web_audience_visitors": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-interest": {
      "get": {
        "summary": "Audience Interest",
        "description": "Audience Interest. Billing: 5 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceInterest",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "metrics": [
                        "affinity",
                        "overlap",
                        "pop_change",
                        "has_adsense",
                        "domain"
                      ],
                      "main_domain_only": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "domain": "bbc.com",
                      "affinity": 100.0,
                      "overlap": 0.09255490176393671,
                      "has_adsense": true,
                      "pop_change": 0.01894630277754676
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "affinity": {
                            "type": "number"
                          },
                          "overlap": {
                            "type": "number"
                          },
                          "has_adsense": {
                            "type": "boolean"
                          },
                          "pop_change": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-overlap": {
      "get": {
        "summary": "Audience Overlap",
        "description": "Audience Overlap. Billing: 4 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceOverlap",
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "description": "Two to five target domains, comma-separated (e.g. cnn.com,bbc.com).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "metrics": [
                        "overlap",
                        "union"
                      ],
                      "format": "json",
                      "domains": "cnn.com,bbc.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total"
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "domains": "bbc.com,cnn.com",
                      "overlap_unique_visitors": 12918459.191519193,
                      "union_unique_users": 61619561.028480805
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domains": {
                            "type": "string"
                          },
                          "overlap_unique_visitors": {
                            "type": "number"
                          },
                          "union_unique_users": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/technologies": {
      "get": {
        "summary": "Website Technologies",
        "description": "Website Technologies. Billing: 10 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebTechnologies",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "status": "installed_and_removed",
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "start_date": "2026-07-01",
                      "end_date": "2026-07-31",
                      "metrics": [
                        "sub_category",
                        "pricing_model",
                        "description",
                        "first_seen_date"
                      ],
                      "main_domain_only": false,
                      "category": null
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "technology": "24 7 Media",
                      "category": "Advertising",
                      "sub_category": "Publisher Ad Server",
                      "pricing_model": "Free",
                      "description": "24/7 Media creates the tools for business advantage in the digital world.",
                      "status": "removed",
                      "first_seen_date": "2018-04-21"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "technology": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "sub_category": {
                            "type": "string"
                          },
                          "pricing_model": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "first_seen_date": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/folders": {
      "get": {
        "summary": "Website Folders",
        "description": "(Temporarily unavailable — endpoint disabled in production.) Website Folders. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 12 monthly buckets.",
        "operationId": "similarwebFolders",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Two-letter country code. Allowed: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "ww"
              ]
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "limit": 1,
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "folder": "/news/",
                      "date": "2026-06-01",
                      "visits": 1200000,
                      "share": 0.14
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "folder": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "visits": {
                            "type": "integer"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/similarweb/website/popular-pages": {
      "get": {
        "summary": "Popular Pages",
        "description": "Popular Pages. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebPopularPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "classify": "all",
                      "utm": false,
                      "page": null,
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "total",
                      "metrics": [
                        "share",
                        "change"
                      ]
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "page": "cnn.com",
                      "share": 0.5037170076541321,
                      "change": -0.6326814889385246
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          },
                          "change": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/subdomains": {
      "get": {
        "summary": "Website Subdomains",
        "description": "Website Subdomains. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSubdomains",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "desktop",
                      "main_domain_only": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "subdomain": "cnn.com",
                      "share": 0.9567702368880975
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subdomain": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/keyword-competitors": {
      "get": {
        "summary": "Keyword Competitors",
        "description": "Keyword Competitors. Billing: 0.03 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebKeywordCompetitors",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "query": {
                      "limit": 5,
                      "offset": 0,
                      "asc": null,
                      "sort": null
                    },
                    "request": {
                      "traffic_source": "organic",
                      "format": "json",
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us",
                      "start_date": "2026-06-01",
                      "end_date": "2026-06-30",
                      "web_source": "desktop",
                      "metrics": [
                        "score",
                        "shared_keywords"
                      ],
                      "main_domain_only": false
                    },
                    "status": "success",
                    "last_updated": "2026-07-31"
                  },
                  "data": [
                    {
                      "url": "robinhood.com",
                      "score": 19.105918884277344,
                      "shared_keywords": 0.42673856019973755
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "shared_keywords": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/website-keywords": {
      "get": {
        "summary": "Website Keywords",
        "description": "Website Keywords. Billing: 0.13 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 3 monthly buckets.",
        "operationId": "similarwebKeywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
[...]
