{
  "openapi": "3.0.3",
  "info": {
    "title": "SimilarWeb API",
    "version": "1.0.0",
    "description": "SimilarWeb digital-intelligence data routed through the AIsa gateway: website traffic & engagement, ranking, traffic sources, audience, website content, and keyword/search insights.\n\n**Billing model**: SimilarWeb uses a two-phase (pre-authorization -> settlement) credit-based model, not a fixed unit price. (1) Before the call, an upper bound is estimated from the request dimensions and pre-authorized (response header `X-AISA-Estimated-Credits`); (2) the upstream call is made; (3) actual consumption is settled (response headers `X-AISA-Accounted-Credits`, `X-AISA-Price-USD`).\n- Billing dimensions: metrics x countries x time buckets (time-series endpoints); number of returned rows (list endpoints, capped at 20 rows, excess auto-truncated).\n- Countries: each country multiplies the cost once; world/global is normalized to world.\n- Settlement rounds up to whole credits; charged only when HTTP 2xx and data is non-empty; 4xx/5xx or empty data is not charged."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/similarweb/website/traffic-engagement": {
      "get": {
        "summary": "Traffic & Engagement",
        "description": "Traffic & Engagement. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebTrafficEngagement",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "description": "Comma-separated metrics, e.g. visits,pages_per_visit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "mtd",
            "in": "query",
            "required": false,
            "description": "Month-to-date flag (true/false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "metrics": "visits,pages_per_visit",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "average_visit_duration": 182.4,
                      "bounce_rate": 0.53,
                      "date": "2026-06-01",
                      "new_users": 3200000,
                      "page_views": 42000000,
                      "pages_per_visit": 3.1,
                      "returning_users": 5100000,
                      "unique_visitors": 8300000,
                      "visits": 13500000
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "average_visit_duration": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "new_users": {
                            "type": "integer"
                          },
                          "page_views": {
                            "type": "integer"
                          },
                          "pages_per_visit": {
                            "type": "number"
                          },
                          "returning_users": {
                            "type": "integer"
                          },
                          "unique_visitors": {
                            "type": "integer"
                          },
                          "visits": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ranking": {
      "get": {
        "summary": "Website Ranking",
        "description": "Website Ranking. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebRanking",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "category": "News and Media > News and Media",
                      "category_rank": 12,
                      "country_rank": 45,
                      "date": "2026-06-01"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "category_rank": {
                            "type": "integer"
                          },
                          "country_rank": {
                            "type": "integer"
                          },
                          "date": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ppc-spend": {
      "get": {
        "summary": "PPC Spend",
        "description": "PPC Spend. Billing: 5 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebPpcSpend",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "currency": "USD",
                      "date": "2026-06-01",
                      "ppc_spend": 152300.0
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "ppc_spend": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/top-sites-ranking": {
      "get": {
        "summary": "Top Sites Ranking",
        "description": "Top Sites Ranking. Billing: 1 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTopSitesRanking",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Industry category, e.g. Finance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "category": "News and Media",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "domain": "cnn.com",
                      "rank": 1
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/marketing-channel-sources-legacy": {
      "get": {
        "summary": "Marketing Channel Sources",
        "description": "Marketing Channel Sources. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebMarketingChannelSourcesLegacy",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "channel": "Direct",
                      "source": "Direct",
                      "visits": 4200000,
                      "share": 0.33
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "visits": {
                            "type": "integer"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/referrals": {
      "get": {
        "summary": "Referrals",
        "description": "Referrals. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebReferrals",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "domain": "google.com",
                      "share": 0.21,
                      "change": 0.04
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          },
                          "change": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/traffic-geography": {
      "get": {
        "summary": "Traffic Geography",
        "description": "(Temporarily unavailable — endpoint disabled in production.) Traffic Geography. Billing: 7 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTrafficGeography",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com"
                    }
                  },
                  "data": [
                    {
                      "country": "us",
                      "country_code": 840,
                      "share": 0.41,
                      "visits": 5500000
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "country_code": {
                            "type": "integer"
                          },
                          "share": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/similarweb/website/ad-networks": {
      "get": {
        "summary": "Ad Networks",
        "description": "Ad Networks. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAdNetworks",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "ad_network": "Google Display Network",
                      "change": 0.05,
                      "share": 0.42
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_network": {
                            "type": "string"
                          },
                          "change": {
                            "type": "number"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/similar-sites": {
      "get": {
        "summary": "SimilarSites",
        "description": "SimilarSites. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Note: SimilarWeb (upstream) only returns data for a recent, roughly three-month window; requests outside the supported recent range may return an upstream error even though the parameters are accepted.",
        "operationId": "similarwebSimilarSites",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "affinity": 2.8,
                      "category": "News and Media",
                      "domain": "bbc.com",
                      "has_adsense": true,
                      "rank": 34
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affinity": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "has_adsense": {
                            "type": "boolean"
                          },
                          "rank": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/demographics": {
      "get": {
        "summary": "Demographics",
        "description": "Demographics. Billing: 8 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebDemographics",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "age_18_to_24_share": 0.19,
                      "age_25_to_34_share": 0.27,
                      "age_35_to_44_share": 0.2,
                      "age_45_to_54_share": 0.15,
                      "age_55_to_64_share": 0.11,
                      "age_65_plus_share": 0.08,
                      "female_share": 0.48,
                      "male_share": 0.52
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age_18_to_24_share": {
                            "type": "number"
                          },
                          "age_25_to_34_share": {
                            "type": "number"
                          },
                          "age_35_to_44_share": {
                            "type": "number"
                          },
                          "age_45_to_54_share": {
                            "type": "number"
                          },
                          "age_55_to_64_share": {
                            "type": "number"
                          },
                          "age_65_plus_share": {
                            "type": "number"
                          },
                          "female_share": {
                            "type": "number"
                          },
                          "male_share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/deduplicated-audience": {
      "get": {
        "summary": "Deduplicated Audience",
        "description": "Deduplicated Audience. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebDeduplicatedAudience",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "date": "2026-06-01",
                      "total_deduplicated_audience": 9200000,
                      "desktop_audience": 4100000,
                      "mobile_audience": 6300000,
                      "deduplicated_desktop_share": 0.34,
                      "deduplicated_mobile_share": 0.66,
                      "desktop_share": 0.45,
                      "mobile_share": 0.55
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "total_deduplicated_audience": {
                            "type": "integer"
                          },
                          "desktop_audience": {
                            "type": "integer"
                          },
                          "mobile_audience": {
                            "type": "integer"
                          },
                          "deduplicated_desktop_share": {
                            "type": "number"
                          },
                          "deduplicated_mobile_share": {
                            "type": "number"
                          },
                          "desktop_share": {
                            "type": "number"
                          },
                          "mobile_share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-interest": {
      "get": {
        "summary": "Audience Interest",
        "description": "Audience Interest. Billing: 5 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceInterest",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "affinity": 3.2,
                      "domain": "bbc.com",
                      "has_adsense": true,
                      "overlap": 0.18,
                      "pop_change": 0.02
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affinity": {
                            "type": "number"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "has_adsense": {
                            "type": "boolean"
                          },
                          "overlap": {
                            "type": "number"
                          },
                          "pop_change": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-overlap": {
      "get": {
        "summary": "Audience Overlap",
        "description": "Audience Overlap. Billing: 4 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceOverlap",
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "description": "Two to five target domains, comma-separated (e.g. cnn.com,bbc.com).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domains": "cnn.com,bbc.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "domains": "cnn.com,bbc.com",
                      "overlap_unique_visitors": 1250000,
                      "union_unique_users": 8400000
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domains": {
                            "type": "string"
                          },
                          "overlap_unique_visitors": {
                            "type": "integer"
                          },
                          "union_unique_users": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/technologies": {
      "get": {
        "summary": "Website Technologies",
        "description": "Website Technologies. Billing: 10 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebTechnologies",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "limit": 1,
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "category": "Analytics",
                      "description": "Web analytics platform.",
                      "first_seen_date": "2018-03-01",
                      "pricing_model": "freemium",
                      "status": "live",
                      "sub_category": "Audience Measurement",
                      "technology": "Google Analytics"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "first_seen_date": {
                            "type": "string"
                          },
                          "pricing_model": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "sub_category": {
                            "type": "string"
                          },
                          "technology": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/folders": {
      "get": {
        "summary": "Website Folders",
        "description": "(Temporarily unavailable — endpoint disabled in production.) Website Folders. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 12 monthly buckets.",
        "operationId": "similarwebFolders",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Two-letter country code. Allowed: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "ww"
              ]
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field types are best-effort: this endpoint could not be live-captured (disabled or insufficient credit at audit time); fields are derived from the 2026-08-27 alignment audit.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "limit": 1,
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "folder": "/news/",
                      "date": "2026-06-01",
                      "visits": 1200000,
                      "share": 0.14
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "folder": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "visits": {
                            "type": "integer"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/similarweb/website/popular-pages": {
      "get": {
        "summary": "Popular Pages",
        "description": "Popular Pages. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebPopularPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "change": 0.03,
                      "page": "https://www.cnn.com/",
                      "share": 0.12
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "change": {
                            "type": "number"
                          },
                          "page": {
                            "type": "string"
                          },
                          "share": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/subdomains": {
      "get": {
        "summary": "Website Subdomains",
        "description": "Website Subdomains. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSubdomains",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "share": 0.62,
                      "subdomain": "www.cnn.com"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "share": {
                            "type": "number"
                          },
                          "subdomain": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/keyword-competitors": {
      "get": {
        "summary": "Keyword Competitors",
        "description": "Keyword Competitors. Billing: 0.03 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebKeywordCompetitors",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "granularity": "monthly",
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "score": 0.87,
                      "shared_keywords": 1240,
                      "url": "bbc.com"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "score": {
                            "type": "number"
                          },
                          "shared_keywords": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/website-keywords": {
      "get": {
        "summary": "Website Keywords",
        "description": "Website Keywords. Billing: 0.13 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 3 monthly buckets.",
        "operationId": "similarwebKeywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data). Field list from the 2026-08-27 alignment audit (real live 200 capture); types inferred from representative values.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "status": "success",
                    "last_updated": "2026-06-30",
                    "request": {
                      "domain": "cnn.com",
                      "start_date": "2026-06",
                      "end_date": "2026-06",
                      "granularity": "monthly",
                      "limit": 1,
                      "country": "us"
                    }
                  },
                  "data": [
                    {
                      "clicks": 45210,
                      "competition": 0.72,
                      "keyword": "nike",
                      "position": 2.4,
                      "primary_intent": "navigational",
                      "secondary_intent": "commercial",
                      "serp_features": "sitelinks",
                      "top_url": "https://www.nike.com/",
                      "traffic_share": 0.031,
                      "url_count": 8
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SimilarWebMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "integer"
                          },
                          "competition": {
                            "type": "number"
                          },
                          "keyword": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "primary_intent": {
                            "type": "string"
                          },
                          "secondary_intent": {
                            "type": "string"
                          },
                          "serp_features": {
                            "type": "string"
                          },
                          "top_url": {
                            "type": "string"
                          },
                          "traffic_share": {
                            "type": "number"
                          },
                          "url_count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/serp-players-timeseries": {
      "get": {
        "summary": "SERP Players - Clicks over time",
        "description": "SERP Players - Clicks over time. Billing: 0.02 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSerpPlayersTimeseries",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Target keyword.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
[...]
