{
  "openapi": "3.0.3",
  "info": {
    "title": "SimilarWeb API",
    "version": "1.0.0",
    "description": "SimilarWeb digital-intelligence data routed through the AIsa gateway: website traffic & engagement, ranking, traffic sources, audience, website content, and keyword/search insights.\n\n**计费模型**：SimilarWeb 采用两阶段（预授权 → 结算）信用点(credit)计费，非固定单价。① 调用前按请求维度预估上限并预授权（响应头 `X-AISA-Estimated-Credits`）；② 调用上游；③ 结算实际消耗（响应头 `X-AISA-Accounted-Credits`、`X-AISA-Price-USD`）。\n- 计费维度：指标数 × 国家数 × 时间桶数（时序类）；返回结果行数（列表类，≤20 行封顶，超出自动截断）。\n- 国家：每个 country 叠乘一次；world/global 归一为 world。\n- 结算向上取整到整数 credit；仅当 HTTP 2xx 且 data 非空才计费，4xx/5xx 或空 data 不计费。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/similarweb/website/traffic-engagement": {
      "get": {
        "summary": "Traffic & Engagement",
        "description": "Traffic & Engagement. 计费：1 credit(s)/次基准（按 指标数 × 国家数 × 时间桶数 计；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebTrafficEngagement",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "时间粒度：monthly / weekly / daily。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "description": "逗号分隔的指标，如 visits,average_visit_duration。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "是否仅主域（true/false）。",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ranking": {
      "get": {
        "summary": "Website Ranking",
        "description": "Website Ranking. 计费：1 credit(s)/次基准（按 指标数 × 国家数 × 时间桶数 计；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebRanking",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "时间粒度：monthly / weekly / daily。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ppc-spend": {
      "get": {
        "summary": "PPC Spend",
        "description": "PPC Spend. 计费：5 credit(s)/次基准（按 指标数 × 国家数 × 时间桶数 计；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebPpcSpend",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "时间粒度：monthly / weekly / daily。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/top-sites-ranking": {
      "get": {
        "summary": "Top Sites Ranking",
        "description": "Top Sites Ranking. 计费：1 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebTopSitesRanking",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "行业类目，如 Finance。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/marketing-channel-sources-legacy": {
      "get": {
        "summary": "Marketing Channel Sources",
        "description": "Marketing Channel Sources. 计费：7 credit(s)/次基准（按 指标数 × 国家数 × 时间桶数 计；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebMarketingChannelSourcesLegacy",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "时间粒度：monthly / weekly / daily。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/referrals": {
      "get": {
        "summary": "Referrals",
        "description": "Referrals. 计费：3 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebReferrals",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/traffic-geography": {
      "get": {
        "summary": "Traffic Geography",
        "description": "Traffic Geography. 计费：7 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebTrafficGeography",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ad-networks": {
      "get": {
        "summary": "Ad Networks",
        "description": "Ad Networks. 计费：3 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebAdNetworks",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/similar-sites": {
      "get": {
        "summary": "SimilarSites",
        "description": "SimilarSites. 计费：2 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebSimilarSites",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/demographics": {
      "get": {
        "summary": "Demographics",
        "description": "Demographics. 计费：8 credits/次（固定，成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebDemographics",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/deduplicated-audience": {
      "get": {
        "summary": "Deduplicated Audience",
        "description": "Deduplicated Audience. 计费：7 credit(s)/次基准（按 指标数 × 国家数 × 时间桶数 计；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebDeduplicatedAudience",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "时间粒度：monthly / weekly / daily。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-interest": {
      "get": {
        "summary": "Audience Interest",
        "description": "Audience Interest. 计费：5 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebAudienceInterest",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-overlap": {
      "get": {
        "summary": "Audience Overlap",
        "description": "Audience Overlap. 计费：4 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebAudienceOverlap",
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "description": "多个目标域名，逗号分隔。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/technologies": {
      "get": {
        "summary": "Website Technologies",
        "description": "Website Technologies. 计费：10 credits/次（固定，成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebTechnologies",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/folders": {
      "get": {
        "summary": "Website Folders",
        "description": "Website Folders. 计费：3 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebFolders",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/popular-pages": {
      "get": {
        "summary": "Popular Pages",
        "description": "Popular Pages. 计费：3 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebPopularPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/subdomains": {
      "get": {
        "summary": "Website Subdomains",
        "description": "Website Subdomains. 计费：2 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebSubdomains",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/keyword-competitors": {
      "get": {
        "summary": "Keyword Competitors",
        "description": "Keyword Competitors. 计费：0.03 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebKeywordCompetitors",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/website-keywords": {
      "get": {
        "summary": "Website Keywords",
        "description": "Website Keywords. 计费：0.13 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebKeywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/serp-players-timeseries": {
      "get": {
        "summary": "SERP Players - Clicks over time",
        "description": "SERP Players - Clicks over time. 计费：0.02 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebSerpPlayersTimeseries",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "目标关键词。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/serp-players-aggregated": {
      "get": {
        "summary": "SERP Players - Aggregated",
        "description": "SERP Players - Aggregated. 计费：0.07 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebSerpPlayersAggregated",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "目标关键词。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/landing-pages": {
      "get": {
        "summary": "Landing Pages",
        "description": "Landing Pages. 计费：0.1 credit(s)/行（返回结果行，≤20 行封顶；成功才计费）。响应为 SimilarWeb v5 信封结构（meta + data）。",
        "operationId": "similarwebLandingPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "目标域名，如 example.com。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "国家代码，如 us；world/global 归一为 world（默认 world）。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "起始日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "结束日期 YYYY-MM。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回行数；上限 20，超过按 20 计费。",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  }
}