{
  "openapi": "3.0.3",
  "info": {
    "title": "SimilarWeb API",
    "version": "1.0.0",
    "description": "SimilarWeb digital-intelligence data routed through the AIsa gateway: website traffic & engagement, ranking, traffic sources, audience, website content, and keyword/search insights.\n\n**Billing model**: SimilarWeb uses a two-phase (pre-authorization -> settlement) credit-based model, not a fixed unit price. (1) Before the call, an upper bound is estimated from the request dimensions and pre-authorized (response header `X-AISA-Estimated-Credits`); (2) the upstream call is made; (3) actual consumption is settled (response headers `X-AISA-Accounted-Credits`, `X-AISA-Price-USD`).\n- Billing dimensions: metrics x countries x time buckets (time-series endpoints); number of returned rows (list endpoints, capped at 20 rows, excess auto-truncated).\n- Countries: each country multiplies the cost once; world/global is normalized to world.\n- Settlement rounds up to whole credits; charged only when HTTP 2xx and data is non-empty; 4xx/5xx or empty data is not charged."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/similarweb/website/traffic-engagement": {
      "get": {
        "summary": "Traffic & Engagement",
        "description": "Traffic & Engagement. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebTrafficEngagement",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "description": "Comma-separated metrics, e.g. visits,pages_per_visit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "mtd",
            "in": "query",
            "required": false,
            "description": "Month-to-date flag (true/false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ranking": {
      "get": {
        "summary": "Website Ranking",
        "description": "Website Ranking. Billing: 1 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebRanking",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ppc-spend": {
      "get": {
        "summary": "PPC Spend",
        "description": "PPC Spend. Billing: 5 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebPpcSpend",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/top-sites-ranking": {
      "get": {
        "summary": "Top Sites Ranking",
        "description": "Top Sites Ranking. Billing: 1 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTopSitesRanking",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Industry category, e.g. Finance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/marketing-channel-sources-legacy": {
      "get": {
        "summary": "Marketing Channel Sources",
        "description": "Marketing Channel Sources. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebMarketingChannelSourcesLegacy",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/referrals": {
      "get": {
        "summary": "Referrals",
        "description": "Referrals. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebReferrals",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/traffic-geography": {
      "get": {
        "summary": "Traffic Geography",
        "description": "Traffic Geography. Billing: 7 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebTrafficGeography",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/ad-networks": {
      "get": {
        "summary": "Ad Networks",
        "description": "Ad Networks. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAdNetworks",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/similar-sites": {
      "get": {
        "summary": "SimilarSites",
        "description": "SimilarSites. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Note: SimilarWeb (upstream) only returns data for a recent, roughly three-month window; requests outside the supported recent range may return an upstream error even though the parameters are accepted.",
        "operationId": "similarwebSimilarSites",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/demographics": {
      "get": {
        "summary": "Demographics",
        "description": "Demographics. Billing: 8 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebDemographics",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/deduplicated-audience": {
      "get": {
        "summary": "Deduplicated Audience",
        "description": "Deduplicated Audience. Billing: 7 credit(s)/call base (billed by metrics x countries x time buckets; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 120 monthly buckets.",
        "operationId": "similarwebDeduplicatedAudience",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false). Default: True.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-interest": {
      "get": {
        "summary": "Audience Interest",
        "description": "Audience Interest. Billing: 5 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceInterest",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/audience-overlap": {
      "get": {
        "summary": "Audience Overlap",
        "description": "Audience Overlap. Billing: 4 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebAudienceOverlap",
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "description": "Two to five target domains, comma-separated (e.g. cnn.com,bbc.com).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly. Default: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/technologies": {
      "get": {
        "summary": "Website Technologies",
        "description": "Website Technologies. Billing: 10 credits/call (fixed; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: start_date and end_date must fall in the SAME month (exactly one monthly bucket).",
        "operationId": "similarwebTechnologies",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/folders": {
      "get": {
        "summary": "Website Folders",
        "description": "Website Folders. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 12 monthly buckets.",
        "operationId": "similarwebFolders",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Two-letter country code. Allowed: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "ww"
              ]
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/popular-pages": {
      "get": {
        "summary": "Popular Pages",
        "description": "Popular Pages. Billing: 3 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebPopularPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/website/subdomains": {
      "get": {
        "summary": "Website Subdomains",
        "description": "Website Subdomains. Billing: 2 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSubdomains",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/keyword-competitors": {
      "get": {
        "summary": "Keyword Competitors",
        "description": "Keyword Competitors. Billing: 0.03 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebKeywordCompetitors",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/website-keywords": {
      "get": {
        "summary": "Website Keywords",
        "description": "Website Keywords. Billing: 0.13 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data). Date constraint: the start_date-end_date span must cover between 1 and 3 monthly buckets.",
        "operationId": "similarwebKeywords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: total.",
            "schema": {
              "type": "string",
              "enum": [
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Allowed: json.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/serp-players-timeseries": {
      "get": {
        "summary": "SERP Players - Clicks over time",
        "description": "SERP Players - Clicks over time. Billing: 0.02 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSerpPlayersTimeseries",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Target keyword.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/serp-players-aggregated": {
      "get": {
        "summary": "SERP Players - Aggregated",
        "description": "SERP Players - Aggregated. Billing: 0.07 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebSerpPlayersAggregated",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Target keyword.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/similarweb/search/landing-pages": {
      "get": {
        "summary": "Landing Pages",
        "description": "Landing Pages. Billing: 0.1 credit(s)/row (per returned row, capped at 20 rows; charged only on success). Response follows the SimilarWeb v5 envelope (meta + data).",
        "operationId": "similarwebLandingPages",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Target domain, e.g. example.com.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End month, format YYYY-MM.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Time granularity. Allowed: monthly.",
            "schema": {
              "type": "string",
              "enum": [
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return; max 20, billed as 20 if exceeded.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code. Allowed: us, ww. Default: ww. Coverage is limited to ww and us on the current plan.",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "ww"
              ],
              "default": "ww"
            }
          },
          {
            "name": "web_source",
            "in": "query",
            "required": false,
            "description": "Traffic source device split. Allowed: desktop, mobile_web, total.",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile_web",
                "total"
              ]
            }
          },
          {
            "name": "main_domain_only",
            "in": "query",
            "required": false,
            "description": "Restrict to the main domain only (true/false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Row offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "traffic_source",
            "in": "query",
            "required": false,
            "description": "Traffic-source filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SimilarWeb v5 envelope (meta + data).",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "request": {
                      "domain": "example.com"
                    },
                    "status": "Success"
                  },
                  "data": [
                    {
                      "date": "2026-05-01",
                      "value": 123456
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  }
}
