{
  "openapi": "3.0.0",
  "info": {
    "title": "TikHub API",
    "description": "Multi-platform social media data via TikHub — Douyin, TikTok, Bilibili, Kuaishou, Weibo, Xiaohongshu, Zhihu, and commercial (Xingtu/Huahuo/Billboard) endpoints.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "VideoRankingRequest": {
        "properties": {
          "time_range": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Time Range",
            "description": "时间范围/Time range: 1 / 2 / 3",
            "default": 2,
            "example": 2
          },
          "tag_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tag Id",
            "description": "垂类ID/Category id. 601剧情,602明星,606音乐,607二次元,608游戏,609时事,612舞蹈,614三农,615科技,616财经,617亲子,619生活,621健康,623情感,624文化,625职场,626教育,627摄影,628美食,629旅行,631时尚,633体育,634娱乐,635汽车",
            "default": 634,
            "example": 634
          },
          "dim_type": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dim Type",
            "description": "榜单维度/Ranking dimension: 1=低粉爆款, 2=高完播率, 3=高点赞率, 4=高涨粉率, 5=热度指数",
            "default": 5,
            "example": 5
          },
          "adv_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Adv Id",
            "description": "广告主ID,可留空/Advertiser id (optional)",
            "default": "",
            "example": ""
          }
        },
        "type": "object",
        "title": "VideoRankingRequest",
        "description": "DOU+ 视频排行榜请求模型\nDOU+ Video Ranking Request Model"
      },
      "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "视频(item) ID/Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post"
      },
      "XMssdkInfoModel": {
        "properties": {
          "user_agent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Agent",
            "description": "可选的用户代理字符串，目前不支持自定义，默认为固定的值 | Optional User-Agent string, currently not supported for customization, defaults to a fixed value"
          }
        },
        "type": "object",
        "title": "XMssdkInfoModel"
      },
      "NotesRateReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "博主用户ID/Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "笔记口径 0=日常笔记(默认) 1=合作笔记/Note scope: 0=organic, 1=sponsored",
            "default": 0,
            "examples": [
              0
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "笔记类型 3=图文+视频(默认) 1=图文 2=视频/Note type",
            "default": 3,
            "examples": [
              3
            ]
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "时间范围 1=近30日(默认) 2=近90日/Date range: 1=last 30d, 2=last 90d",
            "default": 1,
            "examples": [
              1
            ]
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "流量类型 1=全部(含合作) 0=仅自然流量/Traffic type",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesRateReq"
      },
      "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post": {
        "properties": {
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "数量/Number",
            "default": 10
          },
          "refresh_index": {
            "type": "integer",
            "title": "Refresh Index",
            "description": "刷新/翻页索引：0=刷新(首页/下拉)，>0=翻页(下滑加载更多)，每次+1取下一页 / Refresh-paging index: 0=refresh, >0=load-more, increment by 1 for next page",
            "default": 0
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "可选/Optional：用户网页版抖音登录Cookie，传入后返回该账号的个性化推荐；不传则使用默认Cookie/Your web Douyin login Cookie for a personalized feed; uses the default Cookie if omitted",
            "default": ""
          }
        },
        "type": "object",
        "title": "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post"
      },
      "SearchSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "需要联想的关键词/The keyword to be suggested",
            "default": "人工智能"
          }
        },
        "type": "object",
        "title": "SearchSuggestRequest"
      },
      "LiveRoomHistoryListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "开始日期(格式YYYY-MM-DD)/Start date (format YYYY-MM-DD)",
            "example": "2025-09-11"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "结束日期(格式YYYY-MM-DD)/End date (format YYYY-MM-DD)",
            "example": "2025-10-11"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "每页数量限制/Limit per page (最多400条)",
            "default": 400,
            "example": 400
          },
          "need_living": {
            "type": "integer",
            "title": "Need Living",
            "description": "是否包含正在直播的场次/Include living rooms: 0=不包含, 1=包含",
            "default": 1,
            "example": 1
          },
          "download": {
            "type": "integer",
            "title": "Download",
            "description": "是否下载/Download: 0=不下载, 1=下载",
            "default": 0,
            "example": 0
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "LiveRoomHistoryListRequest",
        "description": "直播场次历史记录请求模型\nLive Room History List Request Model"
      },
      "GetProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "开始日期，如 '2025-04-01'/ Start Date, e.g. '2025-04-01'",
            "default": "2025-04-01"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "结束日期，如 '2025-05-01'/ End Date, e.g. '2025-05-01'",
            "default": "2025-05-01"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page Number",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetProductListRequest"
      },
      "XingtuCreatorPriceType": {
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "title": "XingtuCreatorPriceType"
      },
      "VideoSearchRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "视频标题/关键词/Video title or keyword",
            "example": "major"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "翻页游标,首页传 0,后续传上一页响应里的 cursor/Pagination cursor, 0 for first page",
            "default": 0,
            "example": 0
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "每页数量/Page size",
            "default": 12,
            "example": 12
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "VideoSearchRequest",
        "description": "视频搜索请求模型（按标题/关键词）\nVideo Search Request Model (by title/keyword)"
      },
      "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post": {
        "properties": {
          "query_start_time": {
            "type": "string",
            "title": "Query Start Time",
            "description": "查询开始时间戳/Query start timestamp"
          },
          "query_end_time": {
            "type": "string",
            "title": "Query End Time",
            "description": "查询结束时间戳/Query end timestamp"
          },
          "industry_id_list": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Industry Id List",
            "description": "行业ID列表/Industry ID list"
          },
          "category_list": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category List",
            "description": "IP类型列表/IP category list"
          },
          "status_list": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status List",
            "description": "IP状态列表/IP status list"
          }
        },
        "type": "object",
        "required": [
          "query_start_time",
          "query_end_time"
        ],
        "title": "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post"
      },
      "ItemAnalysisOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "开始日期(格式YYYYMMDD)/Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "结束日期(格式YYYYMMDD)/End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "体裁类型列表/Genres list: 1=1min以内视频, 2=1-3min视频, 3=3-5min视频, 4=5min+视频, 5=图文, 8=长图文",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              1,
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "垂类标签列表/Primary verticals list (从involved_vertical接口获取)",
            "example": [
              "动物"
            ]
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisOverviewRequest",
        "description": "投稿分析概览请求模型\nItem Analysis Overview Request Model"
      },
      "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post": {
        "properties": {
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "行业ID(可选，不传返回跨行业聚合)/Industry ID (optional)"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "每页数量/Items per page",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）"
          }
        },
        "type": "object",
        "title": "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post"
      },
      "PromotedAccountsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "每页账号数量/Number of accounts per page",
            "default": 20,
            "example": 20
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "翻页游标,首页留空,后续传上一页响应里的 sortID 值/Pagination cursor, empty for first page, then pass the `sortID` value from the previous response",
            "default": "",
            "example": ""
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "PromotedAccountsRequest",
        "description": "获取投放过的账号请求模型\nPromoted Accounts Request Model"
      },
      "SimilarReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "目标博主用户ID/Target blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "page_num": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Page Num",
            "description": "页码，从 1 开始/Page",
            "default": 1,
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "maximum": 4.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "每页数量，1-4（网页固定 4）/Page size, 1-4",
            "default": 4,
            "examples": [
              4
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "SimilarReq"
      },
      "GetCreatorAccountInfoRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          }
        },
        "type": "object",
        "title": "GetCreatorAccountInfoRequest"
      },
      "GetViolationRecordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page Number",
            "default": 1
          }
        },
        "type": "object",
        "title": "GetViolationRecordRequest"
      },
      "NotesV2Req": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "博主用户ID/Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "page_number": {
            "type": "integer",
            "maximum": 1000.0,
            "minimum": 1.0,
            "title": "Page Number",
            "description": "页码，从 1 开始/Page number, from 1",
            "default": 1,
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "maximum": 8.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "每页数量，1-8（蒲公英网页固定 8）/Page size, 1-8 (fixed at 8 on PGY web)",
            "default": 8,
            "examples": [
              8
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "title": "Note Type",
            "description": "笔记类型 0=全部类型(默认) 1=图文 2=视频/Note type",
            "default": 0,
            "examples": [
              0
            ]
          },
          "order_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Order Type",
            "description": "排序 1=最新发布(默认) 2=阅读最多 3=互动最多/Sort",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesV2Req"
      },
      "FetchMultiVideoHighQualityPlayUrlRequest": {
        "properties": {
          "aweme_ids": {
            "type": "string",
            "title": "Aweme Ids",
            "description": "作品id列表，用逗号分隔，最多50个/Video id list, separated by commas, up to 50",
            "default": "7512756548356492544,7448118827402972455,7126745726494821640"
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region",
            "description": "可选，请求出口地区(ISO 国家代码，如 CN/US/HK)。抖音根据请求 IP 返回对应区域 CDN，国内用户传 'CN' 可获得国内 CDN 链接以加快下载速度 / Optional, ISO country code (e.g. CN). Pass 'CN' for users in mainland China to get China-region CDN URLs for faster download.",
            "example": "CN"
          }
        },
        "type": "object",
        "title": "FetchMultiVideoHighQualityPlayUrlRequest"
      },
      "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post": {
        "properties": {
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "时间范围(天):7/30/90 /Time range in days",
            "default": 7
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "国家/地区代码/Country code",
            "default": "US"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "每页数量/Items per page",
            "default": 20
          },
          "industry_id": {
            "type": "integer",
            "title": "Industry Id",
            "description": "一级行业ID(可选)，如10000000000=Education/First-level industry ID (optional)"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post"
      },
      "UserSearchV2Request": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词/Search keyword",
            "example": "啵"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "翻页游标,首页传 0,后续传上一页响应里的 cursor/Pagination cursor, 0 for first page",
            "default": 0,
            "example": 0
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "每页数量/Page size",
            "default": 10,
            "example": 10
          },
          "scope": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scope",
            "description": "搜索范围/Search scope",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "UserSearchV2Request",
        "description": "DOU+ 用户搜索 V2 请求模型\nDOU+ User Search V2 Request Model"
      },
      "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post": {
        "properties": {
          "author_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Author Ids",
            "description": "创作者ID列表，一次最多50个/Creator ID list, up to 50 per call"
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "平台来源/Platform source",
            "default": 1
          },
          "platform_channel": {
            "type": "integer",
            "title": "Platform Channel",
            "description": "平台渠道/Platform channel",
            "default": 1
          }
        },
        "type": "object",
        "required": [
          "author_ids"
        ],
        "title": "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post"
      },
      "GetVideoToProductStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "查询开始时间，如 '04-01-2025'/ Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "视频 ID/Video ID"
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "商品 ID/Product ID"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetVideoToProductStatsRequest"
      },
      "UserSearchRequestV2": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "关键词 / Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "偏移游标，用于翻页，从上一次请求返回的响应中获取 / Offset cursor for pagination, obtained from the last response",
            "default": 0
          }
        },
        "type": "object",
        "title": "UserSearchRequestV2"
      },
      "LiveSearchBody": {
        "properties": {
          "nickname_or_mids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nickname Or Mids",
            "description": "按UP主昵称或UID搜索"
          },
          "mids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mids",
            "description": "按UID批量精确匹配"
          },
          "is_brand_live": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Brand Live",
            "description": "直播类型：1=内容直播 0=带货直播。两种类型可用的筛选项不同"
          },
          "gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gender",
            "description": "主播性别"
          },
          "region_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region Id",
            "description": "主播常驻地域（一级）"
          },
          "second_region_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Second Region Id",
            "description": "主播常驻地域（二级）"
          },
          "min_fans_num": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Fans Num",
            "description": "粉丝数下限"
          },
          "max_fans_num": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Fans Num",
            "description": "粉丝数上限"
          },
          "fans_gender_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Gender Tag",
            "description": "粉丝性别标签"
          },
          "fans_age_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Age Tag",
            "description": "粉丝年龄标签"
          },
          "fans_region_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Region Tag",
            "description": "粉丝地域标签"
          },
          "live_subarea_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Subarea Id",
            "description": "直播分区（二级），取值见 live_area_list"
          },
          "partition_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partition Id",
            "description": "投稿分区（一级）"
          },
          "second_partition_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Second Partition Id",
            "description": "投稿分区（二级）"
          },
          "min_popularity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Popularity",
            "description": "近30天场均人气峰值下限"
          },
          "max_popularity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Popularity",
            "description": "近30天场均人气峰值上限"
          },
          "live_audience_h_avg_30d_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Audience H Avg 30D Min",
            "description": "近30天时均观众数下限"
          },
          "live_audience_h_avg_30d_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Audience H Avg 30D Max",
            "description": "近30天时均观众数上限"
          },
          "live_danmu_h_avg_30d_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Danmu H Avg 30D Min",
            "description": "近30天时均弹幕数下限"
          },
          "live_danmu_h_avg_30d_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Danmu H Avg 30D Max",
            "description": "近30天时均弹幕数上限"
          },
          "live_guild_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Guild Id",
            "description": "直播公会，取值见 live_guild_drop"
          },
          "high_potential_type": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "High Potential Type",
            "description": "入驻状态"
          },
          "live_good_category": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Good Category",
            "description": "主营类目，0=全部，取值见 live_good_category"
          },
          "live_good_gmv": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Good Gmv",
            "description": "近90天GMV档位，0=全部"
          },
          "order_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order By",
            "description": "排序字段"
          },
          "sort": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sort",
            "description": "排序方向：desc 或 asc"
          },
          "page": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Page",
            "description": "页码，从 1 开始，每页固定 20 条"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "LiveSearchBody",
        "description": "# [中文]\n直播合作广场搜索条件。支持主播属性、粉丝画像、直播分区、内容直播表现、\n带货类目和 GMV 等筛选维度。所有字段均可选，也可传入额外筛选字段。\n\n# [English]\nLive collaboration marketplace filters. Supports creator attributes,\naudience demographics, live categories, content-live performance,\ncommerce categories, and GMV filters. Every field is optional, and\nadditional filter fields may be supplied."
      },
      "VIPVideoModel": {
        "properties": {
          "bv_id": {
            "type": "string",
            "title": "Bv Id",
            "description": "作品id/Video id",
            "example": "BV1y7411Q7Eq"
          },
          "cid": {
            "type": "string",
            "title": "Cid",
            "description": "作品cid/Video cid",
            "example": "171776208"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "大会员用户Cookie/VIP User Cookie",
            "example": "your_vip_bilibili_cookie"
          }
        },
        "type": "object",
        "required": [
          "bv_id",
          "cid",
          "cookie"
        ],
        "title": "VIPVideoModel"
      },
      "ChallengeSearchV2Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "关键词 / Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "偏移游标，用于翻页，从上一次请求返回的响应中获取 / Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "排序方式：0=综合排序 1=最多点赞 2=最新发布 / Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "发布时间筛选：0=不限 1=最近一天 7=最近一周 180=最近半年 / Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "视频时长过滤：0=不限 0-1=一分钟以内 1-5=一到五分钟 5-10000=五分钟以上 / Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "内容类型：0=不限 1=视频 2=图片 3=文章 / Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "搜索ID，用于翻页，从上一次请求返回的响应中获取 / Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "翻页回溯标识，用于翻页，从上一次请求返回的响应中获取 / Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengeSearchV2Request"
      },
      "DataSummaryReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "博主用户ID/Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "笔记口径 0=日常笔记(默认) 1=合作笔记/Note scope",
            "default": 0,
            "examples": [
              0
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "DataSummaryReq"
      },
      "ItemAnalysisInvolvedVerticalRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "开始日期(格式YYYYMMDD)/Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "结束日期(格式YYYYMMDD)/End date (format YYYYMMDD)",
            "example": "20251011"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "ItemAnalysisInvolvedVerticalRequest",
        "description": "作品垂类获取请求模型\nItem Analysis Involved Vertical Request Model"
      },
      "ItemSearchKeywordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "作品ID/Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemSearchKeywordRequest",
        "description": "作品搜索关键词请求模型\nItem Search Keywords Request Model"
      },
      "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "广告素材ID/Ad material ID"
          },
          "metric_type": {
            "type": "string",
            "title": "Metric Type",
            "description": "分析类型/Analysis type (ctr, cvr, clicks, conversion, remain)",
            "default": "remain"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "时间范围(天)/Period type (days)",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post"
      },
      "CoreDataReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "博主用户ID/Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "笔记口径 0=日常笔记(默认) 1=合作笔记/Note scope",
            "default": 0,
            "examples": [
              0
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "笔记类型 3=图文+视频(默认) 1=图文 2=视频/Note type",
            "default": 3,
            "examples": [
              3
            ]
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "时间范围 1=近30日(默认) 2=近90日/Date range",
            "default": 1,
            "examples": [
              1
            ]
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "流量类型 1=全部(含合作) 0=仅自然流量/Traffic type",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "CoreDataReq"
      },
      "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post": {
        "properties": {
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "调用方需根据目标榜单日期自行生成结束时间戳(10位 Unix 秒级)，例如 1785024000；请勿传 0，否则会返回空结果/The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result",
            "examples": [
              1785024000
            ]
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "榜单周期:1/3/5 /Period dimension",
            "default": 3,
            "examples": [
              1,
              3,
              5
            ]
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "国家/地区代码/Country code",
            "default": "US"
          },
          "content_label_ids": {
            "type": "string",
            "title": "Content Label Ids",
            "description": "内容分类ID，多个用逗号分隔，空为全部/Content label IDs, comma separated",
            "default": ""
          },
          "order_by_metric": {
            "type": "integer",
            "title": "Order By Metric",
            "description": "排序指标:1 播放量 2 互动率 3 6秒完播率/Order by metric",
            "default": 1,
            "examples": [
              1,
              2,
              3
            ]
          },
          "organic_only": {
            "type": "boolean",
            "title": "Organic Only",
            "description": "是否仅看自然流量内容/Organic content only",
            "default": false
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "每页数量，最大100/Items per page, max 100",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post"
      },
      "XingtuContentSearchTimeRange": {
        "type": "integer",
        "enum": [
          30,
          90,
          180
        ],
        "title": "XingtuContentSearchTimeRange"
      },
      "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "视频(item) ID/Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post"
      },
      "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post": {
        "properties": {
          "tt_uids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tt Uids",
            "description": "创作者ID列表/Creator ID list",
            "default": [
              "103641138313531392"
            ]
          },
          "need_loader_list": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Need Loader List",
            "description": "需要返回的数据模块编号，空为全部/Data module IDs, empty for all",
            "examples": [
              [
                101,
                102,
                103,
                104,
                105,
                106,
                107,
                125
              ]
            ]
          },
          "creator_type": {
            "type": "integer",
            "title": "Creator Type",
            "description": "创作者类型/Creator type",
            "default": 2
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post"
      },
      "GiftQuery": {
        "properties": {
          "gift_id": {
            "type": "string",
            "title": "Gift Id",
            "description": "礼物ID | Gift ID",
            "example": "10001"
          }
        },
        "type": "object",
        "required": [
          "gift_id"
        ],
        "title": "GiftQuery",
        "description": "单个Gift ID查询模型\n\nArgs:\n    gift_id (str): 礼物ID，例如 \"10001\""
      },
      "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词，对榜单按关键词过滤，空为全部",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post"
      },
      "AnalyseStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "query": {
            "additionalProperties": true,
            "type": "object",
            "title": "Query",
            "description": "分析查询对象/Analysis query object. 关键字段/key fields: startTime,endTime(秒级时间戳字符串/second timestamp string); analysisType(1=账号/account, 2=视频/video, 3=直播/live); authorSecIdList(账号 sec_uid 列表); statusList(投放状态过滤); metrics(指标列表,如 stat_cost,total_play,total_like,dy_comment,dy_share,dy_follow); SecondaryTargetIds; CollectWayIds. graph 额外/extra: dimension; detail 额外/extra: page,limit,orderByMetric,orderByType; 视频/直播分析额外/extra: liveRoomIdList",
            "example": {
              "CollectWayIds": [],
              "SecondaryTargetIds": [],
              "analysisType": 1,
              "authorSecIdList": [],
              "endTime": "1781625599",
              "metrics": [
                "stat_cost",
                "total_play",
                "play_duration_5s_rate",
                "total_like",
                "dy_comment",
                "dy_share",
                "dy_home_visited",
                "dy_follow"
              ],
              "startTime": "1780934400",
              "statusList": []
            }
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "query"
        ],
        "title": "AnalyseStatsRequest",
        "description": "投放数据分析请求模型（概览/趋势/明细通用，透传 query）\nDelivery Analysis Request Model (overview / graph / detail, query passthrough)"
      },
      "GetProductRelatedVideosRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "查询开始时间，如 '04-01-2025'/ Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "视频 ID/Video ID"
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "商品 ID/Product ID"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetProductRelatedVideosRequest"
      },
      "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "广告素材ID/Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "分析指标/Analysis metric (retain_ctr, retain_cvr, click_cnt, convert_cnt, play_retain_cnt)",
            "default": "retain_ctr"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post"
      },
      "TikTok_APP_V3_Home_Feed": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户自己的cookie，可选参数，用于接口返回数据的个性化推荐。/ User's own cookie, optional parameter, used for personalized recommendations of interface return data.",
            "default": ""
          }
        },
        "type": "object",
        "title": "TikTok_APP_V3_Home_Feed"
      },
      "GetLiveOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "查询开始时间，如 '04-01-2025'/ Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          }
        },
        "type": "object",
        "title": "GetLiveOverviewRequest"
      },
      "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "场景1留空返回热门建议；场景2传入关键词/Empty for scenario 1; input a keyword for scenario 2"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "建议数量/Suggestion count",
            "default": 50
          },
          "scenario": {
            "type": "integer",
            "title": "Scenario",
            "description": "场景类型：1热门建议，2关键词联想/1 popular, 2 related suggestions",
            "default": 1
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "可选国家/地区代码/Optional country code"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post"
      },
      "XingtuCreatorSearchType": {
        "type": "integer",
        "enum": [
          2,
          3
        ],
        "title": "XingtuCreatorSearchType"
      },
      "SecTokenRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "SecTokenRequest",
        "description": "获取 sec_token 请求模型（仅需 cookie）\nSec Token Request Model (cookie only)"
      },
      "NoteDetailReq": {
        "properties": {
          "note_id": {
            "type": "string",
            "title": "Note Id",
            "description": "笔记ID/Note ID",
            "examples": [
              "6a20edfa0000000021020951"
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "note_id"
        ],
        "title": "NoteDetailReq"
      },
      "ItemListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "每页数量/Count per page (最多100条)",
            "default": 10,
            "example": 10
          },
          "order_by": {
            "type": "integer",
            "title": "Order By",
            "description": "排序方式/Order by (1-26): 1=发布时间↓(新到旧), 2=发布时间↑(旧到新), 3=播放量↓, 4=播放量↑, 5=点赞量↓, 6=点赞量↑, 7=评论量↓, 8=评论量↑, 9=分享量↓, 10=分享量↑, 11=收藏量↓, 12=收藏量↑, 13=2s跳出率↓, 14=2s跳出率↑, 15=5s完播率↓, 16=5s完播率↑, 17=完播率↓, 18=完播率↑, 19=封面点击率↓, 20=封面点击率↑, 21=平均播放时长↓, 22=平均播放时长↑, 23=主页访问量↓, 24=主页访问量↑, 25=粉丝增量↓, 26=粉丝增量↑",
            "default": 1,
            "example": 1
          },
          "fields": {
            "type": "string",
            "title": "Fields",
            "description": "需要返回的字段/Fields to return",
            "default": "metrics,review,visibility",
            "example": "metrics,review,visibility"
          },
          "need_cooperation": {
            "type": "boolean",
            "title": "Need Cooperation",
            "description": "是否需要合作信息/Need cooperation info",
            "default": true,
            "example": true
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "开始时间戳(毫秒)/Start time timestamp (milliseconds)",
            "example": 1758988800000
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "结束时间戳(毫秒)/End time timestamp (milliseconds)",
            "example": 1760198399000
          },
          "need_long_article": {
            "type": "boolean",
            "title": "Need Long Article",
            "description": "是否包含长图文/Include long articles",
            "default": true,
            "example": true
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "分页游标/Pagination cursor (可选)"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_time",
          "end_time"
        ],
        "title": "ItemListRequest",
        "description": "投稿作品列表请求模型\nItem List Request Model"
      },
      "UserPostsRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "用户 sec_uid/User sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "翻页游标(字符串),首页传 \"0\",后续传上一页响应里的 cursor/Pagination cursor (string), \"0\" for first page, then pass the cursor from the previous response",
            "default": "0",
            "example": "0"
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "每页数量/Page size",
            "default": 10,
            "example": 10
          }
        },
        "type": "object",
        "required": [
          "sec_uid"
        ],
        "title": "UserPostsRequest",
        "description": "用户主页作品请求模型\nUser Homepage Posts Request Model"
      },
      "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "广告素材ID/Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "分析指标/Analysis metric (ctr_percentile, time_attr_conversion_rate_percentile, click_cnt_percentile, time_attr_convert_cnt_percentile, show_cnt_percentile)",
            "default": "ctr_percentile"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "时间范围(天)/Time period (days)",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post"
      },
      "GetAccountHealthRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          }
        },
        "type": "object",
        "title": "GetAccountHealthRequest"
      },
      "GeneralSearchV3Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词 / Search keyword",
            "default": "猫咪"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "翻页游标，从上一次响应的 data.pagination.offset 获取，首次请求传 0 / Offset cursor for pagination, obtained from data.pagination.offset of the last response, 0 for the first request",
            "default": 0
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码，取值 1~200，首次请求传 1，之后每次加 1 / Page number, 1-200, start with 1 and increment by 1 each time",
            "default": 1
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "搜索ID，从上一次响应的 data.pagination.search_id 获取，首次请求传空字符串 / Search ID, obtained from data.pagination.search_id of the last response, empty for the first request",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "翻页回溯标识，从上一次响应的 data.pagination.backtrace 获取，首次请求传空字符串 / Backtrace, obtained from data.pagination.backtrace of the last response, empty for the first request",
            "default": ""
          }
        },
        "type": "object",
        "title": "GeneralSearchV3Request"
      },
      "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post": {
        "properties": {
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 24/72/168，代表近1天/近3天/近7天，默认24",
            "default": 24
          },
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "页码，默认1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量，默认10",
            "default": 10
          },
          "query_tag": {
            "$ref": "#/components/schemas/BillboardTag",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              {
                "children": [
                  {
                    "value": 62808
                  },
                  {
                    "value": 62804
                  }
                ],
                "value": 628
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post"
      },
      "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "广告素材ID/Ad material ID"
          },
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "行业ID/Industry ID",
            "default": "25308000000"
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "国家代码/Country code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post"
      },
      "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词，对榜单按关键词过滤，空为全部",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post"
      },
      "ChallengeSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "关键词，如 '游戏' / Keyword, e.g., 'game'",
            "default": "游戏"
          }
        },
        "type": "object",
        "title": "ChallengeSuggestRequest"
      },
      "GetShowcaseProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "每页数量/Page Size",
            "default": 20
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "偏移量/Offset",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetShowcaseProductListRequest"
      },
      "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码，默认1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量，默认10",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "sub_type": {
            "type": "integer",
            "title": "Sub Type",
            "description": "榜单分类，1001 视频总榜 1002 低粉爆款 1003 高完播率 1004 高涨粉率 1005 高点赞率",
            "default": 1001
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词，对榜单按关键词过滤，空为全部",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post"
      },
      "ExperienceSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "关键词 / Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "偏移游标，用于翻页，从上一次请求返回的响应中获取 / Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "排序方式：0=综合排序 1=最多点赞 2=最新发布 / Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "发布时间筛选：0=不限 1=最近一天 7=最近一周 180=最近半年 / Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "视频时长过滤：0=不限 0-1=一分钟以内 1-5=一到五分钟 5-10000=五分钟以上 / Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "内容类型：0=不限 1=视频 2=图片 3=文章 / Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "搜索ID，用于翻页，从上一次请求返回的响应中获取 / Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "翻页回溯标识，用于翻页，从上一次请求返回的响应中获取 / Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ExperienceSearchRequest"
      },
      "BatchGiftQuery": {
        "properties": {
          "gift_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 1,
            "title": "Gift Ids",
            "description": "礼物ID列表，建议50个/次获得最佳性价比($0.025)，超过50个时自动处理前50个 | Gift ID list, recommend 50/call for best value ($0.025), auto-process first 50 if more than 50",
            "example": [
              "10001",
              "10002",
              "10003"
            ]
          }
        },
        "type": "object",
        "required": [
          "gift_ids"
        ],
        "title": "BatchGiftQuery",
        "description": "批量Gift ID查询模型\n计费：$0.025每次调用，建议每次查询50个ID以获得最佳性价比\n\nArgs:\n    gift_ids (list[str]): 礼物ID列表，建议50个，例如 [\"10001\", \"10002\", \"10003\"]"
      },
      "CostEstimateRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "投放账号的 sec_uid/Delivery account sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "item_ids": {
            "type": "string",
            "title": "Item Ids",
            "description": "作品ID,多个用逗号分隔/Item id(s), comma separated",
            "example": "7651166972160446949"
          },
          "target_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Id",
            "description": "推广目标ID/Promotion target id. 31=点赞评论量, 32=粉丝量, 33=主页浏览量, 37=视频播放量, 45=评论链接点击, 78=高质量互动",
            "default": 31,
            "example": 31
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "sec_uid",
          "item_ids"
        ],
        "title": "CostEstimateRequest",
        "description": "DOU+ 成本计算请求模型\nDOU+ Cost Estimation Request Model"
      },
      "XingtuToutiaoPriceType": {
        "type": "integer",
        "enum": [
          11
        ],
        "title": "XingtuToutiaoPriceType"
      },
      "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post": {
        "properties": {
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键字",
            "default": "抖音"
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post"
      },
      "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post": {
        "properties": {
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "最大游标/Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "每页数量/Number per page",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户网页版抖音Cookie/Your web version of Douyin Cookie"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post"
      },
      "TalentByCategoryRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "用户 www.douyin.com 网页版 Cookie/User www.douyin.com web Cookie"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "达人分类名/搜索词(取自达人分类接口);留空为全部/Category name or keyword (from the talent category endpoint); empty for all",
            "default": "",
            "example": "音乐"
          },
          "page": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page",
            "description": "页码,从0开始/Page index from 0",
            "default": 0,
            "example": 0
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "每页数量/Page size",
            "default": 20,
            "example": 20
          }
        },
        "type": "object",
        "title": "TalentByCategoryRequest",
        "description": "按分类搜索/筛选达人请求模型\nSearch Talents By Category Request Model"
      },
      "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post": {
        "properties": {
          "city_code": {
            "type": "string",
            "title": "City Code",
            "description": "城市编码，从城市列表获取，空为全部",
            "default": ""
          },
          "category_code": {
            "type": "string",
            "title": "Category Code",
            "description": "热点榜分类编码，从热点榜分类获取，空为全部",
            "default": ""
          },
          "end_date": {
            "type": "integer",
            "title": "End Date",
            "description": "快照结束时间 格式10位时间戳",
            "default": 1735488000
          },
          "start_date": {
            "type": "integer",
            "title": "Start Date",
            "description": "快照开始时间 格式10位时间戳",
            "default": 1734902400
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post"
      },
      "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post": {
        "properties": {
          "hashtag_id": {
            "type": "string",
            "title": "Hashtag Id",
            "description": "标签ID/Hashtag ID"
          },
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "时间范围(天):7/30/90 /Time range in days",
            "default": 90
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "国家/地区代码/Country code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "hashtag_id"
        ],
        "title": "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post"
      },
      "ItemWatchTrendRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "作品ID/Item ID",
            "example": "7559536212910853422"
          },
          "analysis_type": {
            "type": "integer",
            "title": "Analysis Type",
            "description": "分析类型/Analysis type: 1=留存分析(Retention), 2=点赞分析(Like), 7=跳出分析(Bounce)",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemWatchTrendRequest",
        "description": "作品观看趋势分析请求模型\nItem Watch Trend Analysis Request Model"
      },
      "ItemPlaySourceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "作品ID/Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemPlaySourceRequest",
        "description": "作品流量来源统计请求模型\nItem Play Source Statistics Request Model"
      },
      "ItemAnalysisItemPerformanceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户Cookie/User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "开始日期(格式YYYYMMDD)/Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "结束日期(格式YYYYMMDD)/End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "体裁类型列表/Genres list: 1=1min以内视频, 2=1-3min视频, 3=3-5min视频, 4=5min+视频, 5=图文, 8=长图文",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "垂类标签列表/Primary verticals list (从involved_vertical接口获取)",
            "example": [
              "动物"
            ]
          },
          "metric_type": {
            "type": "integer",
            "title": "Metric Type",
            "description": "指标类型/Metric type: 1=播放量(Views), 2=点赞量(Likes), 3=评论量(Comments), 4=分享量(Shares)",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisItemPerformanceRequest",
        "description": "投稿表现请求模型\nItem Analysis Item Performance Request Model"
      },
      "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户网页版抖音Cookie/Your web version of Douyin Cookie"
          },
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "最大游标/Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "每页数量/Number per page",
            "default": 20
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post"
      },
      "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "视频ID/Video item ID"
          },
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "调用方需根据目标榜单日期自行生成结束时间戳(10位 Unix 秒级)，例如 1785024000；请勿传 0，否则会返回空结果/The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result",
            "examples": [
              1785024000
            ]
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "榜单周期:1/3/5 /Period dimension",
            "default": 3,
            "examples": [
              1,
              3,
              5
            ]
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "该视频所属榜单的国家/地区代码，需与榜单查询一致/Country code of the ranking",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "自定义Cookie字符串（可选）/Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post"
      },
      "MultiSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "关键词 / Keyword",
            "default": "猫咪"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "偏移游标，用于翻页，从上一次请求返回的响应中获取 / Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "排序方式：0=综合排序 1=最多点赞 2=最新发布 / Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "发布时间筛选：0=不限 1=最近一天 7=最近一周 180=最近半年 / Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "视频时长过滤：0=不限 0-1=一分钟以内 1-5=一到五分钟 5-10000=五分钟以上 / Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "内容类型：0=不限 1=视频 2=图片 3=文章 / Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "搜索ID，用于翻页，从上一次请求返回的响应中获取 / Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "翻页回溯标识，用于翻页，从上一次请求返回的响应中获取 / Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "MultiSearchRequest"
      },
      "ChallengePostRequest": {
        "properties": {
          "challenge_id": {
            "type": "string",
            "title": "Challenge Id",
            "description": "话题ID/Challenge ID",
            "default": "1608846127610893"
          },
          "sort_type": {
            "type": "integer",
            "title": "Sort Type",
            "description": "排序类型/Sort type",
            "default": 0
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "游标/Cursor",
            "default": 0
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "数量/Count",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户自行提供的Cookie/User provided Cookie",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengePostRequest"
      },
      "Body_multi_get_item_stats_api_v1_douyin_xingtu_v2_multi_get_item_stats_post": {
        "properties": {
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "视频(item) ID列表，一次最多20个/Video (item) ID list, up to 20 per call"
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "平台来源/Platform source",
            "default": 1
          },
          "need_cover_url": {
            "type": "boolean",
            "title": "Need Cover Url",
            "description": "是否返回封面URL/Whether to return cover URL",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "item_ids"
        ],
        "title": "Body_multi_get_item_stats_api_v1_douyin_xingtu_v2_multi_get_item_stats_post"
      },
      "GetVideoListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "用户 Cookie 字符串/User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "可选 HTTP 代理地址/Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "查询开始时间，如 '04-01-2025'/ Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码/Page Number",
            "default": 0
          },
          "rules": {
            "type": "string",
            "title": "Rules",
            "description": "列表排序规则，默认按发布时间排序/ List sorting rule, default is by publish time",
            "default": "VIDEO_LIST_PUBLISH_TIME"
          }
        },
        "type": "object",
        "title": "GetVideoListRequest"
      },
      "Body_fetch_hot_total_high_like_list_api_v1_douyin_billboard_fetch_hot_total_high_like_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词，对榜单按关键词过滤，空为全部",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_like_list_api_v1_douyin_billboard_fetch_hot_total_high_like_list_post"
      },
      "Body_fetch_hot_total_topic_list_api_v1_douyin_billboard_fetch_hot_total_topic_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键词，对榜单按关键词过滤，空为全部",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "垂类标签筛选，空则为全部，标签id从 fetch_content_tag 接口获取",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_topic_list_api_v1_douyin_billboard_fetch_hot_total_topic_list_post"
      },
      "Body_fetch_hot_total_high_search_list_api_v1_douyin_billboard_fetch_hot_total_high_search_list_post": {
        "properties": {
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "页码",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "每页数量",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "时间窗口(小时)，可选 1/24/72/168，代表近1小时/近1天/近3天/近7天，默认24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "搜索关键字",
            "default": "抖音"
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_search_list_api_v1_douyin_billboard_fetch_hot_total_high_search_list_post"
      },
      "XingtuAnchorPriceType": {
        "type": "integer",
        "enum": [
          9
        ],
[...]
