{
  "openapi": "3.0.0",
  "info": {
    "title": "TikHub API",
    "description": "Multi-platform social media data via TikHub — Douyin, TikTok, Bilibili, Kuaishou, Weibo, Xiaohongshu, Zhihu, and commercial (Xingtu/Huahuo/Billboard) endpoints.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AIsa API key. Get yours at https://aisa.one"
      }
    },
    "schemas": {
      "VideoRankingRequest": {
        "properties": {
          "time_range": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Time Range",
            "description": "Time range: 1 / 2 / 3",
            "default": 2,
            "example": 2
          },
          "tag_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tag Id",
            "description": "Category id. 601 Drama, 602 Celebrity, 606 Music, 607 Anime, 608 Gaming, 609 Current Affairs, 612 Dance, 614 Agriculture, 615 Technology, 616 Finance, 617 Parenting, 619 Lifestyle, 621 Health, 623 Emotions, 624 Culture, 625 Workplace, 626 Education, 627 Photography, 628 Food, 629 Travel, 631 Fashion, 633 Sports, 634 Entertainment, 635 Automotive",
            "default": 634,
            "example": 634
          },
          "dim_type": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dim Type",
            "description": "Ranking dimension: 1=Low-follower Viral, 2=High Completion Rate, 3=High Like Rate, 4=High Follower Growth Rate, 5=Popularity Index",
            "default": 5,
            "example": 5
          },
          "adv_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Adv Id",
            "description": "Advertiser id (optional)",
            "default": "",
            "example": ""
          }
        },
        "type": "object",
        "title": "VideoRankingRequest",
        "description": "DOU+ Video Ranking Request Model"
      },
      "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_detail_api_v1_douyin_xingtu_v2_get_item_report_detail_post"
      },
      "XMssdkInfoModel": {
        "properties": {
          "user_agent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Agent",
            "description": "Optional User-Agent string, currently not supported for customization, defaults to a fixed value"
          }
        },
        "type": "object",
        "title": "XMssdkInfoModel"
      },
      "NotesRateReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=organic (default), 1=sponsored",
            "default": 0,
            "examples": [
              0
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "Note type: 3=Image & text + Video (default), 1=Image & text, 2=Video",
            "default": 3,
            "examples": [
              3
            ]
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "Date range: 1=last 30 days (default), 2=last 90 days",
            "default": 1,
            "examples": [
              1
            ]
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "Traffic type: 1=All (including sponsored), 0=Organic only",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesRateReq"
      },
      "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post": {
        "properties": {
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number",
            "default": 10
          },
          "refresh_index": {
            "type": "integer",
            "title": "Refresh Index",
            "description": "Refresh-paging index: 0=refresh (first page / pull-down), >0=load-more (scroll down), increment by 1 for next page",
            "default": 0
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Optional: Your web Douyin login Cookie for a personalized feed; uses the default Cookie if omitted",
            "default": ""
          }
        },
        "type": "object",
        "title": "Body_fetch_home_feed_api_v1_douyin_web_fetch_home_feed_post"
      },
      "SearchSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "The keyword to be suggested",
            "default": "Artificial Intelligence"
          }
        },
        "type": "object",
        "title": "SearchSuggestRequest"
      },
      "LiveRoomHistoryListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYY-MM-DD)",
            "example": "2025-09-11"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYY-MM-DD)",
            "example": "2025-10-11"
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Limit per page (max 400)",
            "default": 400,
            "example": 400
          },
          "need_living": {
            "type": "integer",
            "title": "Need Living",
            "description": "Include live rooms currently streaming: 0=exclude, 1=include",
            "default": 1,
            "example": 1
          },
          "download": {
            "type": "integer",
            "title": "Download",
            "description": "Download: 0=no download, 1=download",
            "default": 0,
            "example": 0
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "LiveRoomHistoryListRequest",
        "description": "Live Room History List Request Model"
      },
      "GetProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date, e.g. '2025-04-01'",
            "default": "2025-04-01"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End Date, e.g. '2025-05-01'",
            "default": "2025-05-01"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page Number",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetProductListRequest"
      },
      "XingtuCreatorPriceType": {
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "title": "XingtuCreatorPriceType"
      },
      "VideoSearchRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Video title or keyword",
            "example": "major"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pagination cursor, 0 for first page",
            "default": 0,
            "example": 0
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "Page size",
            "default": 12,
            "example": 12
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "VideoSearchRequest",
        "description": "Video Search Request Model (by title/keyword)"
      },
      "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post": {
        "properties": {
          "query_start_time": {
            "type": "string",
            "title": "Query Start Time",
            "description": "Query start timestamp"
          },
          "query_end_time": {
            "type": "string",
            "title": "Query End Time",
            "description": "Query end timestamp"
          },
          "industry_id_list": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Industry Id List",
            "description": "Industry ID list"
          },
          "category_list": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category List",
            "description": "IP category list"
          },
          "status_list": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status List",
            "description": "IP status list"
          }
        },
        "type": "object",
        "required": [
          "query_start_time",
          "query_end_time"
        ],
        "title": "Body_get_ip_activity_list_api_v1_douyin_xingtu_v2_get_ip_activity_list_post"
      },
      "ItemAnalysisOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "Genres list: 1=video under 1 min, 2=1-3 min video, 3=3-5 min video, 4=video over 5 min, 5=image+text, 8=long-form article",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              1,
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "Primary verticals list (obtained from the involved_vertical endpoint)",
            "example": [
              "Animal"
            ]
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisOverviewRequest",
        "description": "Item Analysis Overview Request Model"
      },
      "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post": {
        "properties": {
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "Industry ID (optional)"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_top_ads_spotlight_api_v1_tiktok_ads_get_top_ads_spotlight_post"
      },
      "PromotedAccountsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "Number of accounts per page",
            "default": 20,
            "example": 20
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pagination cursor, empty for first page, then pass the `sortID` value from the previous response",
            "default": "",
            "example": ""
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "PromotedAccountsRequest",
        "description": "Promoted Accounts Request Model"
      },
      "SimilarReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Target blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "page_num": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Page Num",
            "description": "Page",
            "default": 1,
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "maximum": 4.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "Page size, 1-4 (web fixed at 4)",
            "default": 4,
            "examples": [
              4
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "SimilarReq"
      },
      "GetCreatorAccountInfoRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          }
        },
        "type": "object",
        "title": "GetCreatorAccountInfoRequest"
      },
      "GetViolationRecordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page Number",
            "default": 1
          }
        },
        "type": "object",
        "title": "GetViolationRecordRequest"
      },
      "NotesV2Req": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "page_number": {
            "type": "integer",
            "maximum": 1000.0,
            "minimum": 1.0,
            "title": "Page Number",
            "description": "Page number, from 1",
            "default": 1,
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "maximum": 8.0,
            "minimum": 1.0,
            "title": "Page Size",
            "description": "Page size, 1-8 (fixed at 8 on PGY web)",
            "default": 8,
            "examples": [
              8
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "title": "Note Type",
            "description": "Note type: 0=All types (default), 1=Image & text, 2=Video",
            "default": 0,
            "examples": [
              0
            ]
          },
          "order_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Order Type",
            "description": "Sort: 1=Latest (default), 2=Most read, 3=Most engaged",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "NotesV2Req"
      },
      "FetchMultiVideoHighQualityPlayUrlRequest": {
        "properties": {
          "aweme_ids": {
            "type": "string",
            "title": "Aweme Ids",
            "description": "Video ID list, separated by commas, up to 50",
            "default": "7512756548356492544,7448118827402972455,7126745726494821640"
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region",
            "description": "Optional, ISO country code (e.g. CN). Pass 'CN' for users in mainland China to get China-region CDN URLs for faster download.",
            "example": "CN"
          }
        },
        "type": "object",
        "title": "FetchMultiVideoHighQualityPlayUrlRequest"
      },
      "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post": {
        "properties": {
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "Time range in days: 7/30/90",
            "default": 7
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code",
            "default": "US"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page",
            "default": 20
          },
          "industry_id": {
            "type": "integer",
            "title": "Industry Id",
            "description": "First-level industry ID (optional), e.g. 10000000000=Education"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_trends_hashtag_list_api_v1_tiktok_ads_get_trends_hashtag_list_post"
      },
      "UserSearchV2Request": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie"
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "example": "Bo"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pagination cursor, 0 for first page",
            "default": 0,
            "example": 0
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "Page size",
            "default": 10,
            "example": 10
          },
          "scope": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scope",
            "description": "Search scope",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "keyword"
        ],
        "title": "UserSearchV2Request",
        "description": "DOU+ User Search V2 Request Model"
      },
      "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post": {
        "properties": {
          "author_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Author Ids",
            "description": "Creator ID list, up to 50 per call"
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "Platform source",
            "default": 1
          },
          "platform_channel": {
            "type": "integer",
            "title": "Platform Channel",
            "description": "Platform channel",
            "default": 1
          }
        },
        "type": "object",
        "required": [
          "author_ids"
        ],
        "title": "Body_multi_get_author_info_api_v1_douyin_xingtu_v2_multi_get_author_info_post"
      },
      "GetVideoToProductStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video ID"
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "Product ID"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetVideoToProductStatsRequest"
      },
      "UserSearchRequestV2": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "Cat"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response",
            "default": 0
          }
        },
        "type": "object",
        "title": "UserSearchRequestV2"
      },
      "LiveSearchBody": {
        "properties": {
          "nickname_or_mids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nickname Or Mids",
            "description": "Search by creator nickname or UID"
          },
          "mids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mids",
            "description": "Batch exact match by UID"
          },
          "is_brand_live": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Brand Live",
            "description": "Live stream type: 1=Content live stream, 0=Commerce live stream. Available filters differ between the two types."
          },
          "gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gender",
            "description": "Anchor gender"
          },
          "region_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region Id",
            "description": "Anchor primary residence region (level 1)"
          },
          "second_region_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Second Region Id",
            "description": "Anchor primary residence region (level 2)"
          },
          "min_fans_num": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Fans Num",
            "description": "Minimum follower count"
          },
          "max_fans_num": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Fans Num",
            "description": "Maximum follower count"
          },
          "fans_gender_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Gender Tag",
            "description": "Audience gender tag"
          },
          "fans_age_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Age Tag",
            "description": "Audience age tag"
          },
          "fans_region_tag": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fans Region Tag",
            "description": "Audience region tag"
          },
          "live_subarea_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Subarea Id",
            "description": "Live area (second-level); see live_area_list for values"
          },
          "partition_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partition Id",
            "description": "Submission category (level 1)"
          },
          "second_partition_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Second Partition Id",
            "description": "Submission category (level 2)"
          },
          "min_popularity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Popularity",
            "description": "Minimum average peak popularity per session in the last 30 days"
          },
          "max_popularity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Popularity",
            "description": "Maximum average peak popularity per session in the last 30 days"
          },
          "live_audience_h_avg_30d_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Audience H Avg 30D Min",
            "description": "Minimum average hourly viewer count in the last 30 days"
          },
          "live_audience_h_avg_30d_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Audience H Avg 30D Max",
            "description": "Maximum average hourly viewer count in the last 30 days"
          },
          "live_danmu_h_avg_30d_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Danmu H Avg 30D Min",
            "description": "Minimum average hourly danmaku count in the last 30 days"
          },
          "live_danmu_h_avg_30d_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Danmu H Avg 30D Max",
            "description": "Maximum average hourly danmaku count in the last 30 days"
          },
          "live_guild_id": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Guild Id",
            "description": "Live streaming guild; see live_guild_drop for values"
          },
          "high_potential_type": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "High Potential Type",
            "description": "Registration status"
          },
          "live_good_category": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Good Category",
            "description": "Primary commerce category; 0=all; valid values from live_good_category"
          },
          "live_good_gmv": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live Good Gmv",
            "description": "90-day GMV tier, 0=all"
          },
          "order_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order By",
            "description": "Sort field"
          },
          "sort": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sort",
            "description": "Sort direction: desc or asc"
          },
          "page": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Page",
            "description": "Page number starting from 1; 20 items per page"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "LiveSearchBody",
        "description": "Live collaboration marketplace filters. Supports creator attributes,\naudience demographics, live categories, content-live performance,\ncommerce categories, and GMV filters. Every field is optional, and\nadditional filter fields may be supplied."
      },
      "VIPVideoModel": {
        "properties": {
          "bv_id": {
            "type": "string",
            "title": "Bv Id",
            "description": "Video ID",
            "example": "BV1y7411Q7Eq"
          },
          "cid": {
            "type": "string",
            "title": "Cid",
            "description": "Video cid",
            "example": "171776208"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "VIP User Cookie",
            "example": "your_vip_bilibili_cookie"
          }
        },
        "type": "object",
        "required": [
          "bv_id",
          "cid",
          "cookie"
        ],
        "title": "VIPVideoModel"
      },
      "ChallengeSearchV2Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "Cat"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengeSearchV2Request"
      },
      "DataSummaryReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=Organic notes (default), 1=Sponsored notes",
            "default": 0,
            "examples": [
              0
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "DataSummaryReq"
      },
      "ItemAnalysisInvolvedVerticalRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date"
        ],
        "title": "ItemAnalysisInvolvedVerticalRequest",
        "description": "Item Analysis Involved Vertical Request Model"
      },
      "ItemSearchKeywordRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemSearchKeywordRequest",
        "description": "Item Search Keywords Request Model"
      },
      "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric_type": {
            "type": "string",
            "title": "Metric Type",
            "description": "Analysis type (ctr, cvr, clicks, conversion, remain)",
            "default": "remain"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "Period type (days)",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_interactive_analysis_api_v1_tiktok_ads_get_ad_interactive_analysis_post"
      },
      "CoreDataReq": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Blogger user ID",
            "examples": [
              "5c668b3e0000000012021605"
            ]
          },
          "business": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Business",
            "description": "Note scope: 0=Organic notes (default), 1=Sponsored notes",
            "default": 0,
            "examples": [
              0
            ]
          },
          "note_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "title": "Note Type",
            "description": "Note type: 3=Image & text + Video (default), 1=Image & text, 2=Video",
            "default": 3,
            "examples": [
              3
            ]
          },
          "date_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "title": "Date Type",
            "description": "Date range: 1=last 30 days (default), 2=last 90 days",
            "default": 1,
            "examples": [
              1
            ]
          },
          "advertise_switch": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "title": "Advertise Switch",
            "description": "Traffic type: 1=All (including sponsored), 0=Organic only",
            "default": 1,
            "examples": [
              1
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "CoreDataReq"
      },
      "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post": {
        "properties": {
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result",
            "examples": [
              1785024000
            ]
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "Period dimension: 1/3/5",
            "default": 3,
            "examples": [
              1,
              3,
              5
            ]
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code",
            "default": "US"
          },
          "content_label_ids": {
            "type": "string",
            "title": "Content Label Ids",
            "description": "Content label IDs, comma separated",
            "default": ""
          },
          "order_by_metric": {
            "type": "integer",
            "title": "Order By Metric",
            "description": "Order by metric: 1=Views, 2=Engagement rate, 3=6-second completion rate",
            "default": 1,
            "examples": [
              1,
              2,
              3
            ]
          },
          "organic_only": {
            "type": "boolean",
            "title": "Organic Only",
            "description": "Organic content only",
            "default": false
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page, max 100",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_list_api_v1_tiktok_ads_get_top_contents_list_post"
      },
      "XingtuContentSearchTimeRange": {
        "type": "integer",
        "enum": [
          30,
          90,
          180
        ],
        "title": "XingtuContentSearchTimeRange"
      },
      "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video (item) ID"
          }
        },
        "type": "object",
        "required": [
          "item_id"
        ],
        "title": "Body_get_item_report_th_analysis_api_v1_douyin_xingtu_v2_get_item_report_th_analysis_post"
      },
      "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post": {
        "properties": {
          "tt_uids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tt Uids",
            "description": "Creator ID list",
            "default": [
              "103641138313531392"
            ]
          },
          "need_loader_list": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Need Loader List",
            "description": "Data module IDs, empty for all",
            "examples": [
              [
                101,
                102,
                103,
                104,
                105,
                106,
                107,
                125
              ]
            ]
          },
          "creator_type": {
            "type": "integer",
            "title": "Creator Type",
            "description": "Creator type",
            "default": 2
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_creators_card_api_v1_tiktok_ads_get_creators_card_post"
      },
      "GiftQuery": {
        "properties": {
          "gift_id": {
            "type": "string",
            "title": "Gift Id",
            "description": "Gift ID",
            "example": "10001"
          }
        },
        "type": "object",
        "required": [
          "gift_id"
        ],
        "title": "GiftQuery",
        "description": "Single Gift ID query model\n\nArgs:\n    gift_id (str): Gift ID, e.g. \"10001\""
      },
      "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_low_fan_list_api_v1_douyin_billboard_fetch_hot_total_low_fan_list_post"
      },
      "AnalyseStatsRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "query": {
            "additionalProperties": true,
            "type": "object",
            "title": "Query",
            "description": "Analysis query object. Key fields: startTime, endTime (second timestamp string); analysisType (1=account, 2=video, 3=live); authorSecIdList (account sec_uid list); statusList (delivery status filter); metrics (metric list, e.g. stat_cost, total_play, total_like, dy_comment, dy_share, dy_follow); SecondaryTargetIds; CollectWayIds. graph extra: dimension; detail extra: page, limit, orderByMetric, orderByType; video/live extra: liveRoomIdList",
            "example": {
              "CollectWayIds": [],
              "SecondaryTargetIds": [],
              "analysisType": 1,
              "authorSecIdList": [],
              "endTime": "1781625599",
              "metrics": [
                "stat_cost",
                "total_play",
                "play_duration_5s_rate",
                "total_like",
                "dy_comment",
                "dy_share",
                "dy_home_visited",
                "dy_follow"
              ],
              "startTime": "1780934400",
              "statusList": []
            }
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "query"
        ],
        "title": "AnalyseStatsRequest",
        "description": "Delivery Analysis Request Model (overview / graph / detail, query passthrough)"
      },
      "GetProductRelatedVideosRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video ID"
          },
          "product_id": {
            "type": "string",
            "title": "Product Id",
            "description": "Product ID"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_id"
        ],
        "title": "GetProductRelatedVideosRequest"
      },
      "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "Analysis metric (retain_ctr, retain_cvr, click_cnt, convert_cnt, play_retain_cnt)",
            "default": "retain_ctr"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_keyframe_analysis_api_v1_tiktok_ads_get_ad_keyframe_analysis_post"
      },
      "TikTok_APP_V3_Home_Feed": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User's own cookie, optional parameter, used for personalized recommendations of interface return data.",
            "default": ""
          }
        },
        "type": "object",
        "title": "TikTok_APP_V3_Home_Feed"
      },
      "GetLiveOverviewRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          }
        },
        "type": "object",
        "title": "GetLiveOverviewRequest"
      },
      "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Leave empty for scenario 1 (popular suggestions); input a keyword for scenario 2"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Suggestion count",
            "default": 50
          },
          "scenario": {
            "type": "integer",
            "title": "Scenario",
            "description": "Scene type: 1=Popular suggestions, 2=Related keyword suggestions",
            "default": 1
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Optional country/region code"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "title": "Body_get_query_suggestions_api_v1_tiktok_ads_get_query_suggestions_post"
      },
      "XingtuCreatorSearchType": {
        "type": "integer",
        "enum": [
          2,
          3
        ],
        "title": "XingtuCreatorSearchType"
      },
      "SecTokenRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "SecTokenRequest",
        "description": "Sec Token Request Model (cookie only)"
      },
      "NoteDetailReq": {
        "properties": {
          "note_id": {
            "type": "string",
            "title": "Note Id",
            "description": "Note ID",
            "examples": [
              "6a20edfa0000000021020951"
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "note_id"
        ],
        "title": "NoteDetailReq"
      },
      "ItemListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Count per page (max 100)",
            "default": 10,
            "example": 10
          },
          "order_by": {
            "type": "integer",
            "title": "Order By",
            "description": "Order by (1-26): 1=Publish time (newest first), 2=Publish time (oldest first), 3=Views (desc), 4=Views (asc), 5=Likes (desc), 6=Likes (asc), 7=Comments (desc), 8=Comments (asc), 9=Shares (desc), 10=Shares (asc), 11=Favorites (desc), 12=Favorites (asc), 13=2s bounce rate (desc), 14=2s bounce rate (asc), 15=5s completion rate (desc), 16=5s completion rate (asc), 17=Completion rate (desc), 18=Completion rate (asc), 19=Cover CTR (desc), 20=Cover CTR (asc), 21=Avg watch duration (desc), 22=Avg watch duration (asc), 23=Profile visits (desc), 24=Profile visits (asc), 25=Follower growth (desc), 26=Follower growth (asc)",
            "default": 1,
            "example": 1
          },
          "fields": {
            "type": "string",
            "title": "Fields",
            "description": "Fields to return",
            "default": "metrics,review,visibility",
            "example": "metrics,review,visibility"
          },
          "need_cooperation": {
            "type": "boolean",
            "title": "Need Cooperation",
            "description": "Need cooperation info",
            "default": true,
            "example": true
          },
          "start_time": {
            "type": "integer",
            "title": "Start Time",
            "description": "Start timestamp (milliseconds)",
            "example": 1758988800000
          },
          "end_time": {
            "type": "integer",
            "title": "End Time",
            "description": "End time timestamp (milliseconds)",
            "example": 1760198399000
          },
          "need_long_article": {
            "type": "boolean",
            "title": "Need Long Article",
            "description": "Include long articles",
            "default": true,
            "example": true
          },
          "cursor": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pagination cursor (optional)"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_time",
          "end_time"
        ],
        "title": "ItemListRequest",
        "description": "Item List Request Model"
      },
      "UserPostsRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "User sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pagination cursor (string), \"0\" for first page, then pass the cursor from the previous response",
            "default": "0",
            "example": "0"
          },
          "count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Count",
            "description": "Page size",
            "default": 10,
            "example": 10
          }
        },
        "type": "object",
        "required": [
          "sec_uid"
        ],
        "title": "UserPostsRequest",
        "description": "User Homepage Posts Request Model"
      },
      "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "metric": {
            "type": "string",
            "title": "Metric",
            "description": "Analysis metric (ctr_percentile, time_attr_conversion_rate_percentile, click_cnt_percentile, time_attr_convert_cnt_percentile, show_cnt_percentile)",
            "default": "ctr_percentile"
          },
          "period_type": {
            "type": "integer",
            "title": "Period Type",
            "description": "Time period (days)",
            "default": 180
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_ad_percentile_api_v1_tiktok_ads_get_ad_percentile_post"
      },
      "GetAccountHealthRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          }
        },
        "type": "object",
        "title": "GetAccountHealthRequest"
      },
      "GeneralSearchV3Request": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "default": "Cat"
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Offset cursor for pagination, obtained from data.pagination.offset of the last response, 0 for the first request",
            "default": 0
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, 1-200, start with 1 and increment by 1 each time",
            "default": 1
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID, obtained from data.pagination.search_id of the last response, empty for the first request",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace, obtained from data.pagination.backtrace of the last response, empty for the first request",
            "default": ""
          }
        },
        "type": "object",
        "title": "GeneralSearchV3Request"
      },
      "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post": {
        "properties": {
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "Page number, default 1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page, default 10",
            "default": 10
          },
          "query_tag": {
            "$ref": "#/components/schemas/BillboardTag",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              {
                "children": [
                  {
                    "value": 62808
                  },
                  {
                    "value": 62804
                  }
                ],
                "value": 628
              }
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_account_list_api_v1_douyin_billboard_fetch_hot_account_list_post"
      },
      "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post": {
        "properties": {
          "material_id": {
            "type": "string",
            "title": "Material Id",
            "description": "Ad material ID"
          },
          "industry": {
            "type": "string",
            "title": "Industry",
            "description": "Industry ID",
            "default": "25308000000"
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "material_id"
        ],
        "title": "Body_get_recommended_ads_api_v1_tiktok_ads_get_recommended_ads_post"
      },
      "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_topic_list_api_v1_douyin_billboard_fetch_hot_total_high_topic_list_post"
      },
      "ChallengeSuggestRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword, e.g., 'game'",
            "default": "Gaming"
          }
        },
        "type": "object",
        "title": "ChallengeSuggestRequest"
      },
      "GetShowcaseProductListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Page Size",
            "default": 20
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Offset",
            "default": 0
          }
        },
        "type": "object",
        "title": "GetShowcaseProductListRequest"
      },
      "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number, default 1",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page, default 10",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "sub_type": {
            "type": "integer",
            "title": "Sub Type",
            "description": "Ranking category: 1001 Overall Video, 1002 Low-follower Viral, 1003 High Completion Rate, 1004 High Follower Growth Rate, 1005 High Like Rate",
            "default": 1001
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_video_list_api_v1_douyin_billboard_fetch_hot_total_video_list_post"
      },
      "ExperienceSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "Cat"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "ExperienceSearchRequest"
      },
      "BatchGiftQuery": {
        "properties": {
          "gift_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 1,
            "title": "Gift Ids",
            "description": "Gift ID list, recommend 50/call for best value ($0.025), auto-process first 50 if more than 50",
            "example": [
              "10001",
              "10002",
              "10003"
            ]
          }
        },
        "type": "object",
        "required": [
          "gift_ids"
        ],
        "title": "BatchGiftQuery",
        "description": "Batch Gift ID query model\nBilling: $0.025 per call; recommended 50 IDs per request for best value\n\nArgs:\n    gift_ids (list[str]): List of gift IDs, recommended 50 per request, e.g. [\"10001\", \"10002\", \"10003\"]"
      },
      "CostEstimateRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie",
            "example": "Your_Cookie_Here"
          },
          "sec_uid": {
            "type": "string",
            "title": "Sec Uid",
            "description": "Delivery account sec_uid",
            "example": "MS4wLjABAAAA9fe7vGjwyiaOjL6REhX8rvmSb32VzA_XsKca9F3_YSHRXlEqgT2cpX54WGbtgnsA"
          },
          "item_ids": {
            "type": "string",
            "title": "Item Ids",
            "description": "Item ID(s), comma separated",
            "example": "7651166972160446949"
          },
          "target_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Id",
            "description": "Promotion target ID. 31=Likes & Comments, 32=Followers, 33=Profile visits, 37=Video views, 45=Comment link clicks, 78=High-quality engagement",
            "default": 31,
            "example": 31
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "sec_uid",
          "item_ids"
        ],
        "title": "CostEstimateRequest",
        "description": "DOU+ Cost Estimation Request Model"
      },
      "XingtuToutiaoPriceType": {
        "type": "integer",
        "enum": [
          11
        ],
        "title": "XingtuToutiaoPriceType"
      },
      "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post": {
        "properties": {
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "default": "Douyin"
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_search_list_api_v1_douyin_billboard_fetch_hot_total_search_list_post"
      },
      "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post": {
        "properties": {
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "Number per page",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Your web version of Douyin Cookie"
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collects_api_v1_douyin_web_fetch_user_collects_post"
      },
      "TalentByCategoryRequest": {
        "properties": {
          "cookie": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cookie",
            "description": "User www.douyin.com web Cookie"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Category name or keyword (from the talent category endpoint); empty for all",
            "default": "",
            "example": "Music"
          },
          "page": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page",
            "description": "Page index from 0",
            "default": 0,
            "example": 0
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "Page size",
            "default": 20,
            "example": 20
          }
        },
        "type": "object",
        "title": "TalentByCategoryRequest",
        "description": "Search Talents By Category Request Model"
      },
      "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post": {
        "properties": {
          "city_code": {
            "type": "string",
            "title": "City Code",
            "description": "City code from city list; leave empty for all",
            "default": ""
          },
          "category_code": {
            "type": "string",
            "title": "Category Code",
            "description": "Hot-spot ranking category code; obtained from the hot-spot ranking categories; leave empty for all",
            "default": ""
          },
          "end_date": {
            "type": "integer",
            "title": "End Date",
            "description": "Snapshot end time, 10-digit Unix timestamp format",
            "default": 1735488000
          },
          "start_date": {
            "type": "integer",
            "title": "Start Date",
            "description": "Snapshot start time, 10-digit timestamp format",
            "default": 1734902400
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_calendar_list_api_v1_douyin_billboard_fetch_hot_calendar_list_post"
      },
      "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post": {
        "properties": {
          "hashtag_id": {
            "type": "string",
            "title": "Hashtag Id",
            "description": "Hashtag ID"
          },
          "time_range": {
            "type": "integer",
            "title": "Time Range",
            "description": "Time range in days: 7/30/90",
            "default": 90
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country/region code",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "hashtag_id"
        ],
        "title": "Body_get_trends_hashtag_detail_api_v1_tiktok_ads_get_trends_hashtag_detail_post"
      },
      "ItemWatchTrendRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          },
          "analysis_type": {
            "type": "integer",
            "title": "Analysis Type",
            "description": "Analysis type: 1=Retention, 2=Like, 7=Bounce",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemWatchTrendRequest",
        "description": "Item Watch Trend Analysis Request Model"
      },
      "ItemPlaySourceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Item ID",
            "example": "7559536212910853422"
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "item_id"
        ],
        "title": "ItemPlaySourceRequest",
        "description": "Item Play Source Statistics Request Model"
      },
      "ItemAnalysisItemPerformanceRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date (format YYYYMMDD)",
            "example": "20250713"
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date (format YYYYMMDD)",
            "example": "20251011"
          },
          "genres": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Genres",
            "description": "Genres list: 1=video under 1 min, 2=1-3 min video, 3=3-5 min video, 4=video over 5 min, 5=image+text, 8=long-form article",
            "default": [
              1,
              2,
              3,
              4,
              5,
              8
            ],
            "example": [
              2,
              3,
              4,
              5,
              8
            ]
          },
          "primary_verticals": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Primary Verticals",
            "description": "Primary verticals list (obtained from the involved_vertical endpoint)",
            "example": [
              "Animal"
            ]
          },
          "metric_type": {
            "type": "integer",
            "title": "Metric Type",
            "description": "Metric type: 1=Views, 2=Likes, 3=Comments, 4=Shares",
            "default": 1,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "cookie",
          "start_date",
          "end_date",
          "primary_verticals"
        ],
        "title": "ItemAnalysisItemPerformanceRequest",
        "description": "Item Analysis Item Performance Request Model"
      },
      "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Your web version of Douyin Cookie"
          },
          "max_cursor": {
            "type": "integer",
            "title": "Max Cursor",
            "description": "Maximum cursor",
            "default": 0
          },
          "counts": {
            "type": "integer",
            "title": "Counts",
            "description": "Number per page",
            "default": 20
          }
        },
        "type": "object",
        "required": [
          "cookie"
        ],
        "title": "Body_fetch_user_collection_videos_api_v1_douyin_web_fetch_user_collection_videos_post"
      },
      "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Video item ID"
          },
          "period_end_timestamp": {
            "type": "integer",
            "title": "Period End Timestamp",
            "description": "The caller must generate this 10-digit Unix timestamp in seconds from the target ranking date, for example 1785024000; do not pass 0 because it returns an empty result",
            "examples": [
              1785024000
            ]
          },
          "period_dimension": {
            "type": "integer",
            "title": "Period Dimension",
            "description": "Period dimension: 1/3/5",
            "default": 3,
            "examples": [
              1,
              3,
              5
            ]
          },
          "country_code": {
            "type": "string",
            "title": "Country Code",
            "description": "Country code of the ranking",
            "default": "US"
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "Custom Cookie string (optional)"
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "period_end_timestamp"
        ],
        "title": "Body_get_top_contents_item_detail_api_v1_tiktok_ads_get_top_contents_item_detail_post"
      },
      "MultiSearchRequest": {
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Keyword",
            "default": "Cat"
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Offset cursor for pagination, obtained from the last response",
            "default": 0
          },
          "sort_type": {
            "type": "string",
            "title": "Sort Type",
            "description": "Sort type: 0=Comprehensive, 1=Most Likes, 2=Latest",
            "default": "0"
          },
          "publish_time": {
            "type": "string",
            "title": "Publish Time",
            "description": "Publish time filter: 0=Unlimited, 1=Last day, 7=Last week, 180=Last half year",
            "default": "0"
          },
          "filter_duration": {
            "type": "string",
            "title": "Filter Duration",
            "description": "Video duration filter: 0=Unlimited, 0-1=Within 1 minute, 1-5=1 to 5 minutes, 5-10000=More than 5 minutes",
            "default": "0"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "Content type: 0=All, 1=Video, 2=Picture, 3=Article",
            "default": "0"
          },
          "search_id": {
            "type": "string",
            "title": "Search Id",
            "description": "Search ID for pagination, obtained from the last response",
            "default": ""
          },
          "backtrace": {
            "type": "string",
            "title": "Backtrace",
            "description": "Backtrace for pagination, obtained from the last response",
            "default": ""
          }
        },
        "type": "object",
        "title": "MultiSearchRequest"
      },
      "ChallengePostRequest": {
        "properties": {
          "challenge_id": {
            "type": "string",
            "title": "Challenge Id",
            "description": "Challenge ID",
            "default": "1608846127610893"
          },
          "sort_type": {
            "type": "integer",
            "title": "Sort Type",
            "description": "Sort type",
            "default": 0
          },
          "cursor": {
            "type": "integer",
            "title": "Cursor",
            "description": "Cursor",
            "default": 0
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Count",
            "default": 20
          },
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User provided Cookie",
            "default": ""
          }
        },
        "type": "object",
        "title": "ChallengePostRequest"
      },
      "Body_multi_get_item_stats_api_v1_douyin_xingtu_v2_multi_get_item_stats_post": {
        "properties": {
          "item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Item Ids",
            "description": "Video (item) ID list, up to 20 per call"
          },
          "platform_source": {
            "type": "integer",
            "title": "Platform Source",
            "description": "Platform source",
            "default": 1
          },
          "need_cover_url": {
            "type": "boolean",
            "title": "Need Cover Url",
            "description": "Whether to return cover URL",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "item_ids"
        ],
        "title": "Body_multi_get_item_stats_api_v1_douyin_xingtu_v2_multi_get_item_stats_post"
      },
      "GetVideoListRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie String",
            "default": "Your_Cookie_String"
          },
          "proxy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy",
            "description": "Optional HTTP Proxy Address",
            "default": ""
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Query Start Date, e.g. '04-01-2025'",
            "default": "04-01-2025"
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page Number",
            "default": 0
          },
          "rules": {
            "type": "string",
            "title": "Rules",
            "description": "List sorting rule, default is by publish time",
            "default": "VIDEO_LIST_PUBLISH_TIME"
          }
        },
        "type": "object",
        "title": "GetVideoListRequest"
      },
      "Body_fetch_hot_total_high_like_list_api_v1_douyin_billboard_fetch_hot_total_high_like_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_like_list_api_v1_douyin_billboard_fetch_hot_total_high_like_list_post"
      },
      "Body_fetch_hot_total_topic_list_api_v1_douyin_billboard_fetch_hot_total_topic_list_post": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword for filtering the leaderboard; empty=all",
            "default": ""
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/BillboardTag"
            },
            "type": "array",
            "title": "Tags",
            "description": "Vertical tag filter; leave empty for all. Tag IDs are obtained from the fetch_content_tag endpoint.",
            "examples": [
              [
                {
                  "children": [
                    {
                      "value": 62808
                    },
                    {
                      "value": 62804
                    }
                  ],
                  "value": 628
                }
              ]
            ]
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_topic_list_api_v1_douyin_billboard_fetch_hot_total_topic_list_post"
      },
      "Body_fetch_hot_total_high_search_list_api_v1_douyin_billboard_fetch_hot_total_high_search_list_post": {
        "properties": {
          "page_num": {
            "type": "integer",
            "title": "Page Num",
            "description": "Page number",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size",
            "description": "Items per page",
            "default": 10
          },
          "date_window": {
            "type": "integer",
            "title": "Date Window",
            "description": "Time window (hours): 1=last 1 hour, 24=last 1 day, 72=last 3 days, 168=last 7 days; default 24",
            "default": 24
          },
          "keyword": {
            "type": "string",
            "title": "Keyword",
            "description": "Search keyword",
            "default": "Douyin"
          }
        },
        "type": "object",
        "title": "Body_fetch_hot_total_high_search_list_api_v1_douyin_billboard_fetch_hot_total_high_search_list_post"
      },
      "XingtuAnchorPriceType": {
        "type": "integer",
        "enum": [
          9
        ],
        "title": "XingtuAnchorPriceType"
      },
      "ItemListDownloadRequest": {
        "properties": {
          "cookie": {
            "type": "string",
            "title": "Cookie",
            "description": "User Cookie",
            "example": "Your_Cookie_Here"
          },
[...]
