{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter Actions API",
    "version": "1.0.0",
    "description": "Write actions against X/Twitter, routed through the AIsa gateway. Modeled after the official X v2 API endpoints (e.g., POST /2/users/{id}/following)."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "Your AIsa API key. The authenticated source user (the account doing the follow) is determined by the OAuth session attached to your key."
      }
    }
  },
  "paths": {
    "/twitter/auth_twitter": {
      "post": {
        "summary": "Link an X/Twitter account (start OAuth)",
        "description": "Start the OAuth flow that links a user's X/Twitter account to the AIsa API key on the request. Call this once per source user. AIsa returns an authorization URL — the user opens it in a browser, approves the requested scopes, and X redirects back to AIsa's fixed callback. AIsa stores the resulting session against your API key, and every subsequent Twitter write call (e.g., `POST /twitter/follow_twitter`) uses that session automatically.\n\nThe returned `auth_url` is short-lived; generate a fresh one every time the user needs to (re-)link.",
        "operationId": "authTwitterUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Optional list of X OAuth 2.0 scopes to request. Defaults to the set required by AIsa's Twitter write endpoints: `follows.write`, `tweet.read`, `users.read`, `tweet.write`, `like.write`, `dm.read`, `dm.write`.",
                    "example": ["follows.write", "tweet.read", "users.read"]
                  }
                }
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization URL generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["auth_url", "state"],
                  "properties": {
                    "auth_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Short-lived X OAuth authorization URL. Open it in a browser so the source user can approve the requested scopes."
                    },
                    "state": {
                      "type": "string",
                      "description": "Opaque CSRF state token that AIsa will validate when X redirects back to its callback. Store it client-side if you need to correlate the flow."
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the `auth_url` expires. Request a new one if the user hasn't completed the flow before this time."
                    }
                  }
                },
                "example": {
                  "auth_url": "https://twitter.com/i/oauth2/authorize?response_type=code&client_id=AIsa&redirect_uri=https%3A%2F%2Fapi.aisa.one%2Fapis%2Fv1%2Ftwitter%2Foauth_callback&scope=follows.write%20tweet.read%20users.read&state=0c2...d1f&code_challenge=...&code_challenge_method=S256",
                  "state": "0c2ad1f...",
                  "expires_at": "2026-04-18T07:00:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `scopes` list — contains an unsupported scope."
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "429": {
            "description": "Rate limit hit."
          },
          "500": {
            "description": "Internal error generating the OAuth URL."
          }
        }
      }
    },
    "/twitter/unfollow_twitter": {
      "post": {
        "summary": "Unfollow a user on X/Twitter",
        "description": "Make the authenticated source user unfollow the given target user on X/Twitter. Mirrors the [official X v2 `DELETE /2/users/{source_user_id}/following/{target_user_id}` endpoint](https://docs.x.com/x-api/users/unfollow-user), routed through the AIsa gateway. Uses POST (not DELETE) for consistency with the other AIsa Twitter write actions.\n\n**Authentication.** Requires an OAuth session for the source user, attached to your AIsa API key. Link the account once via `POST /apis/v1/twitter/auth_twitter`.\n\n**Scopes.** The underlying X session must hold `follows.write`, `tweet.read`, and `users.read`.\n\nUnfollowing a user you don't currently follow is a no-op and still returns `200` with `following: false`.",
        "operationId": "unfollowTwitterUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_user_id"],
                "properties": {
                  "target_user_id": {
                    "type": "string",
                    "description": "Numeric ID of the X/Twitter user to unfollow. Must match the X regex `^[0-9]{1,19}$`.",
                    "pattern": "^[0-9]{1,19}$",
                    "example": "2244994945"
                  }
                }
              },
              "examples": {
                "unfollow_user": {
                  "summary": "Unfollow @TwitterDev (id 2244994945)",
                  "value": {
                    "target_user_id": "2244994945"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unfollow succeeded (or the source user wasn't following the target to begin with).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "following": {
                          "type": "boolean",
                          "description": "`false` once the source user no longer follows the target user."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "following": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing or malformed `target_user_id`."
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "403": {
            "description": "OAuth session missing, expired, or lacking the `follows.write` scope. Re-authorize via `POST /apis/v1/twitter/auth_twitter`."
          },
          "429": {
            "description": "Rate limit hit — either your AIsa key's RPM cap or the upstream X rate limit."
          },
          "500": {
            "description": "Internal error."
          },
          "502": {
            "description": "Upstream X API unreachable or returned an error. Safe to retry with exponential backoff."
          }
        }
      }
    },
    "/twitter/follow_twitter": {
      "post": {
        "summary": "Follow a user on X/Twitter",
        "description": "Make the authenticated source user follow the given target user on X/Twitter. Mirrors the [official X v2 `POST /2/users/{id}/following` endpoint](https://docs.x.com/x-api/users/follow-user), routed through the AIsa gateway.\n\n**Authentication.** This is a write action that requires an OAuth session for the source user, attached to your AIsa API key. Link your X account once by calling `POST /apis/v1/twitter/auth_twitter` — AIsa then uses that session automatically for every write request sent with your key.\n\n**Scopes.** The underlying X session must hold `follows.write`, `tweet.read`, and `users.read`.",
        "operationId": "followTwitterUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_user_id"],
                "properties": {
                  "target_user_id": {
                    "type": "string",
                    "description": "Numeric ID of the X/Twitter user to follow. Must match the X regex `^[0-9]{1,19}$`.",
                    "pattern": "^[0-9]{1,19}$",
                    "example": "6253282"
                  }
                }
              },
              "examples": {
                "follow_user": {
                  "summary": "Follow @TwitterDev (id 2244994945)",
                  "value": {
                    "target_user_id": "2244994945"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow succeeded (or was already in place).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "following": {
                          "type": "boolean",
                          "description": "`true` when the source user now follows the target user."
                        },
                        "pending_follow": {
                          "type": "boolean",
                          "description": "`true` when a follow request has been sent to a protected account and is awaiting approval."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "following": true,
                    "pending_follow": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing or malformed `target_user_id`."
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "403": {
            "description": "OAuth session missing, expired, or lacking the `follows.write` scope. Re-authorize from the dashboard."
          },
          "429": {
            "description": "Rate limit hit — either your AIsa key's RPM cap or the upstream X rate limit."
          },
          "500": {
            "description": "Internal error."
          },
          "502": {
            "description": "Upstream X API unreachable or returned an error. Safe to retry with exponential backoff."
          }
        }
      }
    }
  }
}
