{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter Actions API",
    "version": "1.0.0",
    "description": "Write actions against X/Twitter, routed through the AIsa gateway. Schemas mirror the `twitter_oauth_client` and `twitter_engagement_client` used by the [twitter-autopilot agent skill](https://github.com/AIsa-team/agent-skills/tree/main/twitter-autopilot)."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    },
    "schemas": {
      "ResponseEnvelope": {
        "type": "object",
        "required": ["ok", "code"],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "`true` on 2xx responses."
          },
          "code": {
            "type": "integer",
            "description": "Mirror of the HTTP status (e.g., `200`)."
          },
          "data": {
            "type": "object",
            "description": "Endpoint-specific payload. See each operation's response schema."
          },
          "message": {
            "type": "string",
            "description": "Present on failure. Human-readable error text."
          }
        }
      }
    }
  },
  "paths": {
    "/twitter/auth_twitter": {
      "post": {
        "summary": "Link an X/Twitter account (start OAuth)",
        "description": "Start the OAuth flow that links a user's X/Twitter account to an AIsa API key. Call this once per source user. AIsa returns an authorization URL — the user opens it in a browser, approves the requested scopes, and X redirects back to AIsa's fixed callback. AIsa stores the resulting session against your API key, and every subsequent Twitter write call uses that session automatically.",
        "operationId": "authTwitterUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "description": "Your AIsa API key.",
                    "example": "sk-aisa-..."
                  }
                }
              },
              "example": {
                "aisa_api_key": "sk-aisa-..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization URL generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "code": { "type": "integer", "example": 200 },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Short-lived X OAuth authorization URL. Open it in a browser so the source user can approve the requested scopes. When the user approves, X redirects to AIsa's fixed callback and the session is stored against the provided `aisa_api_key`."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": {
                    "auth_url": "https://twitter.com/i/oauth2/authorize?response_type=code&client_id=AIsa&redirect_uri=https%3A%2F%2Fapi.aisa.one%2Fapis%2Fv1%2Ftwitter%2Foauth_callback&scope=follows.write%20tweet.read%20users.read%20tweet.write%20like.write&state=0c2ad1f&code_challenge=...&code_challenge_method=S256"
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or malformed `aisa_api_key`." },
          "401": { "description": "Invalid AIsa API key." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error generating the OAuth URL." }
        }
      }
    },
    "/twitter/post_twitter": {
      "post": {
        "summary": "Post a tweet",
        "description": "Publish a tweet on behalf of the authenticated source user. One endpoint covers plain text, reply, and quote tweets; media is attached by uploading binary files via `multipart/form-data` (below) or by passing already-uploaded `media_ids`.\n\n**Authentication.** Requires a linked OAuth session. Call `POST /apis/v1/twitter/auth_twitter` first.\n\n**Scopes.** The underlying X session must hold `tweet.read`, `tweet.write`, and `users.read`.",
        "operationId": "postTwitter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "description": "Your AIsa API key.",
                    "example": "sk-aisa-..."
                  },
                  "content": {
                    "type": "string",
                    "description": "The text of the tweet. Required unless you're posting a pure media tweet."
                  },
                  "type": {
                    "type": "string",
                    "enum": ["reply", "quote"],
                    "description": "Set to `\"reply\"` when posting a reply (use with `in_reply_to_tweet_id`) or `\"quote\"` when quoting (use with `quote_tweet_id`). Omit for a normal top-level tweet."
                  },
                  "in_reply_to_tweet_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "description": "Tweet ID being replied to. Requires `type: \"reply\"`."
                  },
                  "quote_tweet_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "description": "Tweet ID being quoted. Requires `type: \"quote\"`."
                  },
                  "media_ids": {
                    "type": "array",
                    "items": { "type": "string" },
                    "minItems": 1,
                    "maxItems": 4,
                    "description": "Pre-uploaded media IDs to attach (1–4). Use the multipart variant instead if you want AIsa to upload the binary files for you."
                  }
                }
              },
              "examples": {
                "plain_text": {
                  "summary": "Plain text tweet",
                  "value": {
                    "aisa_api_key": "sk-aisa-...",
                    "content": "Hello from AIsa — shipping agent-friendly Twitter APIs."
                  }
                },
                "reply": {
                  "summary": "Reply to a tweet",
                  "value": {
                    "aisa_api_key": "sk-aisa-...",
                    "content": "Totally agree 👌",
                    "type": "reply",
                    "in_reply_to_tweet_id": "1234567890123456789"
                  }
                },
                "quote": {
                  "summary": "Quote tweet",
                  "value": {
                    "aisa_api_key": "sk-aisa-...",
                    "content": "Worth reading:",
                    "type": "quote",
                    "quote_tweet_id": "1234567890123456789"
                  }
                },
                "media_by_id": {
                  "summary": "Tweet with pre-uploaded media",
                  "value": {
                    "aisa_api_key": "sk-aisa-...",
                    "content": "Ship log 📸",
                    "media_ids": ["1146654567674912769"]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key"],
                "properties": {
                  "aisa_api_key": { "type": "string" },
                  "content": { "type": "string" },
                  "type": {
                    "type": "string",
                    "enum": ["reply", "quote"]
                  },
                  "in_reply_to_tweet_id": { "type": "string" },
                  "quote_tweet_id": { "type": "string" },
                  "media_files": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" },
                    "description": "Binary media files (1–4). AIsa uploads these to X for you; you do not need to pre-upload and pass `media_ids`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "code": { "type": "integer", "example": 200 },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tweet_id": {
                          "type": "string",
                          "pattern": "^[0-9]{1,19}$",
                          "description": "ID of the newly created tweet."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": {
                    "tweet_id": "1346889436626259968"
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request — missing `content` and no media, or invalid `type`/ID combination." },
          "401": { "description": "Missing or invalid `aisa_api_key`." },
          "403": { "description": "OAuth session missing, expired, or lacking `tweet.write`. Re-authorize via `POST /apis/v1/twitter/auth_twitter`." },
          "404": { "description": "Referenced tweet (`in_reply_to_tweet_id` or `quote_tweet_id`) not found or not visible to the source user." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error." },
          "502": { "description": "Upstream X API unreachable." }
        }
      }
    },
    "/twitter/like_twitter": {
      "post": {
        "summary": "Like a tweet",
        "description": "Like a tweet on behalf of the authenticated source user. Mirrors the [X v2 `POST /2/users/{id}/likes` endpoint](https://docs.x.com/x-api/users/like-post), routed through the AIsa gateway.\n\n**Authentication.** Requires a linked OAuth session — call `POST /apis/v1/twitter/auth_twitter` first.\n\n**Scopes.** `like.write`, `tweet.read`, `users.read`.\n\nLiking a tweet already liked is a no-op and still returns `200` with `liked: true`.",
        "operationId": "likeTwitter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key", "tweet_id"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "description": "Your AIsa API key.",
                    "example": "sk-aisa-..."
                  },
                  "tweet_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "description": "Numeric ID of the tweet to like.",
                    "example": "1346889436626259968"
                  }
                }
              },
              "example": {
                "aisa_api_key": "sk-aisa-...",
                "tweet_id": "1346889436626259968"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like succeeded (or was already in place).",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": { "liked": true }
                }
              }
            }
          },
          "400": { "description": "Invalid request." },
          "401": { "description": "Missing or invalid `aisa_api_key`." },
          "403": { "description": "OAuth session missing or lacking `like.write`." },
          "404": { "description": "Tweet not found or not visible." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error." },
          "502": { "description": "Upstream X API unreachable." }
        }
      }
    },
    "/twitter/unlike_twitter": {
      "post": {
        "summary": "Unlike a tweet",
        "description": "Remove the source user's like from a tweet. Mirrors the [X v2 `DELETE /2/users/{id}/likes/{tweet_id}` endpoint](https://docs.x.com/x-api/users/unlike-post), routed through the AIsa gateway as a POST for consistency with the other write endpoints.\n\n**Authentication.** Requires a linked OAuth session — call `POST /apis/v1/twitter/auth_twitter` first.\n\n**Scopes.** `like.write`, `tweet.read`, `users.read`.\n\nUnliking a tweet the source user has not liked is a no-op and still returns `200` with `liked: false`.",
        "operationId": "unlikeTwitter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key", "tweet_id"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "example": "sk-aisa-..."
                  },
                  "tweet_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "example": "1346889436626259968"
                  }
                }
              },
              "example": {
                "aisa_api_key": "sk-aisa-...",
                "tweet_id": "1346889436626259968"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unlike succeeded (or the source user hadn't liked the tweet).",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": { "liked": false }
                }
              }
            }
          },
          "400": { "description": "Invalid request." },
          "401": { "description": "Missing or invalid `aisa_api_key`." },
          "403": { "description": "OAuth session missing or lacking `like.write`." },
          "404": { "description": "Tweet not found or not visible." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error." },
          "502": { "description": "Upstream X API unreachable." }
        }
      }
    },
    "/twitter/follow_twitter": {
      "post": {
        "summary": "Follow a user on X/Twitter",
        "description": "Make the authenticated source user follow the given target user. Mirrors the [X v2 `POST /2/users/{id}/following` endpoint](https://docs.x.com/x-api/users/follow-user), routed through the AIsa gateway.\n\n**Authentication.** Requires a linked OAuth session — call `POST /apis/v1/twitter/auth_twitter` first.\n\n**Scopes.** `follows.write`, `tweet.read`, `users.read`.",
        "operationId": "followTwitterUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key", "target_user_id"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "example": "sk-aisa-..."
                  },
                  "target_user_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "description": "Numeric ID of the user to follow.",
                    "example": "2244994945"
                  }
                }
              },
              "example": {
                "aisa_api_key": "sk-aisa-...",
                "target_user_id": "2244994945"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow succeeded.",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": { "following": true, "pending_follow": false }
                }
              }
            }
          },
          "400": { "description": "Invalid request." },
          "401": { "description": "Missing or invalid `aisa_api_key`." },
          "403": { "description": "OAuth session missing or lacking `follows.write`." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error." },
          "502": { "description": "Upstream X API unreachable." }
        }
      }
    },
    "/twitter/unfollow_twitter": {
      "post": {
        "summary": "Unfollow a user on X/Twitter",
        "description": "Make the authenticated source user unfollow the given target user. Mirrors the [X v2 `DELETE /2/users/{source_user_id}/following/{target_user_id}` endpoint](https://docs.x.com/x-api/users/unfollow-user), routed through the AIsa gateway as a POST.\n\n**Authentication.** Requires a linked OAuth session — call `POST /apis/v1/twitter/auth_twitter` first.\n\n**Scopes.** `follows.write`, `tweet.read`, `users.read`.\n\nUnfollowing a user you don't follow is a no-op and still returns `200` with `following: false`.",
        "operationId": "unfollowTwitterUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aisa_api_key", "target_user_id"],
                "properties": {
                  "aisa_api_key": {
                    "type": "string",
                    "example": "sk-aisa-..."
                  },
                  "target_user_id": {
                    "type": "string",
                    "pattern": "^[0-9]{1,19}$",
                    "example": "2244994945"
                  }
                }
              },
              "example": {
                "aisa_api_key": "sk-aisa-...",
                "target_user_id": "2244994945"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unfollow succeeded (or was already not following).",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "code": 200,
                  "data": { "following": false }
                }
              }
            }
          },
          "400": { "description": "Invalid request." },
          "401": { "description": "Missing or invalid `aisa_api_key`." },
          "403": { "description": "OAuth session missing or lacking `follows.write`." },
          "429": { "description": "Rate limit hit." },
          "500": { "description": "Internal error." },
          "502": { "description": "Upstream X API unreachable." }
        }
      }
    }
  }
}
