{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter Actions API",
    "version": "1.0.0",
    "description": "Write actions against X/Twitter, routed through the AIsa gateway. Modeled after the official X v2 API endpoints (e.g., POST /2/users/{id}/following)."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "Your AIsa API key. The authenticated source user (the account doing the follow) is determined by the OAuth session attached to your key."
      }
    }
  },
  "paths": {
    "/twitter/follow_twitter": {
      "post": {
        "summary": "Follow a user on X/Twitter",
        "description": "Make the authenticated source user follow the given target user on X/Twitter. Mirrors the [official X v2 `POST /2/users/{id}/following` endpoint](https://docs.x.com/x-api/users/follow-user), routed through the AIsa gateway.\n\n**Authentication.** This is a write action that requires an OAuth session for the source user, attached to your AIsa API key. Configure OAuth once from the dashboard — AIsa then uses that session automatically for every write request sent with your key.\n\n**Scopes.** The underlying X session must hold `follows.write`, `tweet.read`, and `users.read`.",
        "operationId": "followTwitterUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_user_id"],
                "properties": {
                  "target_user_id": {
                    "type": "string",
                    "description": "Numeric ID of the X/Twitter user to follow. Must match the X regex `^[0-9]{1,19}$`.",
                    "pattern": "^[0-9]{1,19}$",
                    "example": "6253282"
                  }
                }
              },
              "examples": {
                "follow_user": {
                  "summary": "Follow @TwitterDev (id 2244994945)",
                  "value": {
                    "target_user_id": "2244994945"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow succeeded (or was already in place).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "following": {
                          "type": "boolean",
                          "description": "`true` when the source user now follows the target user."
                        },
                        "pending_follow": {
                          "type": "boolean",
                          "description": "`true` when a follow request has been sent to a protected account and is awaiting approval."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "following": true,
                    "pending_follow": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing or malformed `target_user_id`."
          },
          "401": {
            "description": "Missing or invalid AIsa API key."
          },
          "403": {
            "description": "OAuth session missing, expired, or lacking the `follows.write` scope. Re-authorize from the dashboard."
          },
          "429": {
            "description": "Rate limit hit — either your AIsa key's RPM cap or the upstream X rate limit."
          },
          "500": {
            "description": "Internal error."
          },
          "502": {
            "description": "Upstream X API unreachable or returned an error. Safe to retry with exponential backoff."
          }
        }
      }
    }
  }
}
