{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0",
    "description": "Twitter data API, providing endpoints for user and tweet information."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserProfileAboutResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "createdAt": {
                "type": "string"
              },
              "isBlueVerified": {
                "type": "boolean"
              },
              "protected": {
                "type": "boolean"
              },
              "affiliates_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "description": {
                        "type": "string"
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "about_profile": {
                "type": "object",
                "properties": {
                  "account_based_in": {
                    "type": "string"
                  },
                  "location_accurate": {
                    "type": "boolean"
                  },
                  "learn_more_url": {
                    "type": "string"
                  },
                  "affiliate_username": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "username_changes": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "identity_profile_labels_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "BatchUserInfoResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "isBlueVerified": {
                  "type": "boolean"
                },
                "verifiedType": {
                  "type": "string"
                },
                "profilePicture": {
                  "type": "string"
                },
                "coverPicture": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "followers": {
                  "type": "integer"
                },
                "following": {
                  "type": "integer"
                },
                "canDm": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string"
                },
                "favouritesCount": {
                  "type": "integer"
                },
                "hasCustomTimelines": {
                  "type": "boolean"
                },
                "isTranslator": {
                  "type": "boolean"
                },
                "mediaCount": {
                  "type": "integer"
                },
                "statusesCount": {
                  "type": "integer"
                },
                "withheldInCountries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "possiblySensitive": {
                  "type": "boolean"
                },
                "pinnedTweetIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isAutomated": {
                  "type": "boolean"
                },
                "automatedBy": {
                  "type": "string"
                },
                "unavailable": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "unavailableReason": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "UserTweetsResponse": {
        "type": "object",
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "retweetCount": {
                  "type": "integer"
                },
                "replyCount": {
                  "type": "integer"
                },
                "likeCount": {
                  "type": "integer"
                },
                "quoteCount": {
                  "type": "integer"
                },
                "viewCount": {
                  "type": "integer"
                },
                "createdAt": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "bookmarkCount": {
                  "type": "integer"
                },
                "isReply": {
                  "type": "boolean"
                },
                "inReplyToId": {
                  "type": "string"
                },
                "conversationId": {
                  "type": "string"
                },
                "displayTextRange": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "inReplyToUserId": {
                  "type": "string"
                },
                "inReplyToUsername": {
                  "type": "string"
                }
              }
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_about": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_about"
        ],
        "summary": "Get User Profile About",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The screen name of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileAboutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/batch_info_by_ids": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/batch_get_user_by_userids"
        ],
        "summary": "Batch Get User Info By UserIds",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/info": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_by_username"
        ],
        "summary": "Get User Info",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The screen name of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/tweet_timeline": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_timeline"
        ],
        "summary": "Get User Tweet Timeline",
        "description": "Retrieve tweets by user ID, sorted by created_at in reverse chronological order. Results are paginated with up to 20 tweets per page. The order matches what appears on the user's profile in the Twitter app. Time-based filtering is not supported.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "User ID of the user whose timeline to retrieve."
          },
          {
            "name": "includeReplies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include replies in the results. Defaults to false."
          },
          {
            "name": "includeParentTweet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include the parent tweet when a tweet is a reply. Defaults to false."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for paginating through results. Leave empty for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "User tweet timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/last_tweets": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_last_tweets"
        ],
        "summary": "Get User Last Tweets",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "User ID of the user"
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Screen name of the user"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include replies in the results"
          }
        ],
        "responses": {
          "200": {
            "description": "User tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/followers": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_followers"
        ],
        "summary": "Get User Followers",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Screen name of the user"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 20,
              "maximum": 200
            },
            "description": "Number of followers per page"
          }
        ],
        "responses": {
          "200": {
            "description": "User followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}