{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API - Tweet Replies V2",
    "version": "1.0.0",
    "description": "Get tweet replies with advanced sorting options."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "The ID of the tweet"
          },
          "url": {
            "type": "string",
            "description": "The URL of the tweet"
          },
          "text": {
            "type": "string",
            "description": "The text of the tweet"
          },
          "source": {
            "type": "string",
            "description": "The source client of the tweet"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time the tweet was created"
          },
          "lang": {
            "type": "string",
            "description": "The language of the tweet"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "isLimitedReply": {
            "type": "boolean",
            "description": "Whether the tweet is a limited reply"
          }
        }
      },
      "CostEstimate": {
        "type": "object",
        "description": "Read-only cost quote for the exact request. No Provider call, billing reservation, durable job, or price lock is created.",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "Always `cost_estimate`."
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "Quote currency. Always USD in this version."
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` is a fully determined customer price; `upper_bound` has a locally enforceable ceiling in `max_cost_micros_usd`; `estimate` depends on terminal usage and may exceed the quoted amount."
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Quoted customer cost in micro-USD (1 USD = 1,000,000 micros)."
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Optional hard customer-cost ceiling in micro-USD. Present for `exact` and `upper_bound`; omitted for `estimate`."
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "True only when `estimate_kind` is `estimate`."
          },
          "pricing_version": {
            "type": "string",
            "description": "Optional immutable or compiled pricing version."
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp when the quote was produced."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Bounded non-sensitive quote metadata, such as a canonical model or profile key."
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "Set to `quote` to estimate this exact request without executing data, creating a job, or authorizing spend. A successful quote is HTTP 200 with a `cost_estimate` body; it is not a reservation or price lock. Omit the header for normal execution. Any other value returns `400 invalid_cost_mode`. Quote mode requires an API key and cannot use MPP or x402.",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "Read-only cost quote. The intended request is validated but not executed, billed, reserved, or locked.",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "Quotes are never stored by shared caches."
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "Response body depends on the cost-mode header."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/tweet/replies/v2": {
      "get": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.0036,
          "observed_usd": {
            "min": 0.00015,
            "p50": 0.0036,
            "p95": 0.0108,
            "max": 0.0225
          },
          "cost_drivers": [
            {
              "param": "result count",
              "effect": "charge scales with number of tweets/users returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_replies_v2"
        ],
        "summary": "Get Tweet Replies V2",
        "operationId": "get_twitter_tweet_replies_v2",
        "description": "Get replies to a tweet with control over sort order — Relevance (default), Latest, or Likes — 20 per page, cursor-paginated. Use this instead of `get_twitter_tweet_replies` whenever ordering matters: Likes surfaces the community's top responses, Latest gives a live view of an unfolding thread. Returns full tweet objects with engagement counts.",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The tweet ID to get replies for. e.g. 1846987139428634858"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for paginating through results. Leave empty for the first page."
          },
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Relevance",
                "Latest",
                "Likes"
              ],
              "default": "Relevance"
            },
            "description": "Sort order for replies. Default is Relevance."
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "Tweet replies response. When `X-AISA-Cost-Mode` is `quote`, HTTP 200 returns a `cost_estimate` instead of executing this operation. The quote is not a reservation, authorization, or price lock.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "has_next_page": {
                      "type": "boolean",
                      "description": "Indicates if there are more results available"
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Cursor for fetching the next page of results"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success",
                      "description": "Status of the request"
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      },
                      "description": "Array of reply tweets."
                    },
                    "msg": {
                      "type": "string",
                      "description": "Error message if status is error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
