{
  "openapi": "3.0.0",
  "info": {
    "title": "WaveInflu API",
    "version": "1.0.0",
    "description": "WaveInflu influencer discovery APIs — Email Lookup and Similar Creators for TikTok, Instagram, and YouTube."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "EmailLookupQuota": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "number",
            "description": "Credits consumed by this request."
          },
          "remainingQuota": {
            "type": "number",
            "description": "Remaining email-lookup credits after this request."
          }
        }
      },
      "EmailLookupData": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "Platform parsed from the profile URL: tiktok, instagram, or youtube."
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "Creator username returned by the lookup chain."
          },
          "profileLink": {
            "type": "string",
            "description": "Normalized profile URL used for this request."
          },
          "platformUserId": {
            "type": "string",
            "nullable": true,
            "description": "Platform-side creator ID, if available."
          },
          "region": {
            "type": "string",
            "nullable": true,
            "description": "Creator region, if available."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Primary email address; null if not found."
          },
          "emails": {
            "type": "array",
            "items": { "type": "string" },
            "description": "All unique emails found in this lookup."
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": "string", "description": "External contact link, such as a personal site or WhatsApp link." },
                "type": { "type": "string", "description": "Link classification, e.g. website." }
              }
            },
            "description": "External contact links identified during the lookup."
          },
          "quota": {
            "$ref": "#/components/schemas/EmailLookupQuota"
          }
        }
      },
      "SimilarCreatorFilters": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Creator regions, e.g. [\"US\", \"GB\", \"JP\"]."
          },
          "languages": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Creator languages, e.g. [\"en\", \"ja\", \"zh-cn\"]."
          },
          "minFollowers": {
            "type": "number",
            "description": "Minimum follower / subscriber count."
          },
          "maxFollowers": {
            "type": "number",
            "description": "Maximum follower / subscriber count."
          },
          "minVideosAverageViews": {
            "type": "number",
            "description": "Minimum average view / play count."
          },
          "maxVideosAverageViews": {
            "type": "number",
            "description": "Maximum average view / play count."
          }
        }
      },
      "SimilarCreator": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "platform": { "type": "string" },
          "platformHandle": { "type": "string" },
          "channelId": { "type": "string", "description": "YouTube only. Channel ID." },
          "channelTitle": { "type": "string", "description": "YouTube only. Channel display name." },
          "userId": { "type": "string", "description": "TikTok only. Platform-side creator ID." },
          "uniqueId": { "type": "string", "description": "TikTok only. Creator handle without the leading @." },
          "nickname": { "type": "string", "description": "TikTok only. Creator display name." },
          "description": { "type": "string" },
          "email": { "type": "string", "nullable": true },
          "profileUrl": { "type": "string" },
          "avatar": { "type": "string" },
          "similarityScore": {
            "type": "number",
            "description": "Wave AI match score (0.7–1.0). Used to rank results."
          },
          "followerCount": { "type": "number" },
          "averagePlayCount": { "type": "number" },
          "averageLikeCount": { "type": "number", "description": "TikTok only. YouTube results omit this field." },
          "lastPublishedTime": { "type": "number" },
          "region": { "type": "string" },
          "language": { "type": "string" }
        }
      },
      "SimilarQuota": {
        "type": "object",
        "properties": {
          "totalQuota": { "type": "number" },
          "usedQuota": { "type": "number" },
          "consumedQuota": { "type": "number", "description": "Credits consumed to date; mirrors usedQuota." },
          "status": { "type": "string", "description": "Quota status, e.g. active." },
          "expiresAt": { "type": "string", "nullable": true, "description": "Quota expiry; null when the quota does not expire." },
          "remainingQuota": { "type": "number" },
          "reservedQuota": { "type": "number" },
          "chargedQuota": { "type": "number" },
          "refundQuota": { "type": "number" },
          "refundStatus": { "type": "string" }
        }
      },
      "SimilarData": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Request ID for support and monitoring."
          },
          "platform": {
            "type": "string",
            "description": "Platform used for Wave AI matching."
          },
          "mode": {
            "type": "string",
            "enum": ["direction", "homepage", "homepage_direction"],
            "description": "Search mode resolved by the system."
          },
          "seedProfileUrl": {
            "type": "string",
            "description": "Seed profile URL if submitted in the request."
          },
          "sourceUserId": {
            "type": "string",
            "description": "Source channel / user ID resolved from seedProfileUrl."
          },
          "contentDirection": {
            "type": "string",
            "description": "Content direction if submitted in the request."
          },
          "total": {
            "type": "number",
            "description": "Number of creators returned after Wave AI matching, filtering, and deduplication."
          },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SimilarCreator" },
            "description": "Matched creators, sorted by similarityScore descending."
          },
          "quota": {
            "$ref": "#/components/schemas/SimilarQuota"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/waveinflu/email-lookup": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 2",
          "nominal_usd": 0.005,
          "observed_usd": {
            "min": 0.005,
            "p50": 0.005,
            "p95": 0.009092,
            "max": 0.09092
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records/creators returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Email Lookup",
        "description": "Looks up contact emails for one TikTok, Instagram or YouTube creator from a profile URL. Returns `platform` parsed from the URL, `username`, `profileLink`, `platformUserId`, `region`, a primary `email`, an `emails` array of every address found, and a `contacts` array of external links each shaped `{url, type}` (personal sites, WhatsApp links), plus `quota.cost` in credits and `quota.remainingQuota`. Measured at 533 bytes and about 2 seconds for one Instagram creator. `email` is null and `emails` empty when the creator publishes no address \u2014 a normal result, not an error. Handles one creator per call. To assemble a creator list first use `post_waveinflu_similar_creators`, which already returns an `email` for most matches; call this endpoint for the ones that come back null, and for Instagram creators, which the similar-creators endpoint does not cover.",
        "operationId": "post_waveinflu_email_lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "TikTok, Instagram, or YouTube creator profile URL.",
                    "example": "https://www.instagram.com/onkimia/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email lookup completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Email lookup completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailLookupData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/similar": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1.5",
          "nominal_usd": 0.02,
          "observed_usd": {
            "min": 0.02,
            "p50": 0.02,
            "p95": 0.061367,
            "max": 4.0911
          },
          "cost_drivers": [
            {
              "param": "records returned",
              "effect": "charge scales with number of records/creators returned"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd is a static reference, NOT a guaranteed minimum; actual charge = provider_cost x multiplier and can be higher or lower"
        },
        "summary": "Similar Creators",
        "description": "Finds creators similar to a seed profile, a natural-language content direction, or both, on YouTube or TikTok. `platform` is required; supply `seedProfileUrl`, `contentDirection` (max 800 characters) or both, with `limit` (1\u2013100, default 25) and optional `filters` for regions, languages, follower and average-view ranges. The response echoes the resolved `mode` \u2014 `homepage` for a seed alone, `direction` for a direction alone, `homepage_direction` for both \u2014 and sets `sourceUserId` only when a seed resolved. Each match carries `username`, `platformHandle`, `description`, `email`, `profileUrl`, `avatar`, `similarityScore` (sorted descending), `followerCount`, `averagePlayCount`, `lastPublishedTime`, `region` and `language`. Field shape differs by platform: YouTube matches add `channelId` and `channelTitle`; TikTok matches add `userId`, `uniqueId`, `nickname` and `averageLikeCount`, none of which YouTube returns. Measured at 4.2 KB for 5 YouTube matches (about 8 seconds) and 2.5 KB for 3 TikTok matches. Most matches already include an `email`; use `post_waveinflu_email_lookup` for the ones that come back null and for Instagram creators, which this endpoint does not match.",
        "operationId": "post_waveinflu_similar_creators",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform"],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": ["youtube", "tiktok"],
                    "description": "Target platform. Currently supports youtube and tiktok.",
                    "example": "youtube"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25,
                    "description": "Maximum number of creators to return. Default 25, range 1–100.",
                    "example": 10
                  },
                  "seedProfileUrl": {
                    "type": "string",
                    "description": "YouTube or TikTok creator profile URL as the seed for matching.",
                    "example": "https://www.youtube.com/@mkbhd"
                  },
                  "contentDirection": {
                    "type": "string",
                    "maxLength": 800,
                    "description": "Natural-language description of the creator type you are looking for. Max 800 characters.",
                    "example": "consumer tech creators covering AI apps, Android phones, productivity gadgets, and honest product reviews"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/SimilarCreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similar creators completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Similar creators completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SimilarData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
