{
  "openapi": "3.0.0",
  "info": {
    "title": "WaveInflu API",
    "version": "1.0.0",
    "description": "WaveInflu influencer discovery APIs — Email Lookup and Similar Creators for TikTok, Instagram, and YouTube."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "EmailLookupQuota": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "number",
            "description": "Credits consumed by this request."
          },
          "remainingQuota": {
            "type": "number",
            "description": "Remaining email-lookup credits after this request."
          }
        }
      },
      "EmailLookupData": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "Platform parsed from the profile URL: tiktok, instagram, or youtube."
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "Creator username returned by the lookup chain."
          },
          "profileLink": {
            "type": "string",
            "description": "Normalized profile URL used for this request."
          },
          "platformUserId": {
            "type": "string",
            "nullable": true,
            "description": "Platform-side creator ID, if available."
          },
          "region": {
            "type": "string",
            "nullable": true,
            "description": "Creator region, if available."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Primary email address; null if not found."
          },
          "emails": {
            "type": "array",
            "items": { "type": "string" },
            "description": "All unique emails found in this lookup."
          },
          "contacts": {
            "type": "array",
            "items": { "type": "string" },
            "description": "External contact links identified during the lookup."
          },
          "quota": {
            "$ref": "#/components/schemas/EmailLookupQuota"
          }
        }
      },
      "SimilarCreatorFilters": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Creator regions, e.g. [\"US\", \"GB\", \"JP\"]."
          },
          "languages": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Creator languages, e.g. [\"en\", \"ja\", \"zh-cn\"]."
          },
          "minFollowers": {
            "type": "number",
            "description": "Minimum follower / subscriber count."
          },
          "maxFollowers": {
            "type": "number",
            "description": "Maximum follower / subscriber count."
          },
          "minVideosAverageViews": {
            "type": "number",
            "description": "Minimum average view / play count."
          },
          "maxVideosAverageViews": {
            "type": "number",
            "description": "Maximum average view / play count."
          }
        }
      },
      "SimilarCreator": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "platform": { "type": "string" },
          "platformHandle": { "type": "string" },
          "channelId": { "type": "string" },
          "channelTitle": { "type": "string" },
          "description": { "type": "string" },
          "email": { "type": "string", "nullable": true },
          "profileUrl": { "type": "string" },
          "avatar": { "type": "string" },
          "similarityScore": {
            "type": "number",
            "description": "Wave AI match score (0.7–1.0). Used to rank results."
          },
          "followerCount": { "type": "number" },
          "averagePlayCount": { "type": "number" },
          "averageLikeCount": { "type": "number" },
          "lastPublishedTime": { "type": "number" },
          "region": { "type": "string" },
          "language": { "type": "string" }
        }
      },
      "SimilarQuota": {
        "type": "object",
        "properties": {
          "totalQuota": { "type": "number" },
          "usedQuota": { "type": "number" },
          "remainingQuota": { "type": "number" },
          "reservedQuota": { "type": "number" },
          "chargedQuota": { "type": "number" },
          "refundQuota": { "type": "number" },
          "refundStatus": { "type": "string" }
        }
      },
      "SimilarData": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Request ID for support and monitoring."
          },
          "platform": {
            "type": "string",
            "description": "Platform used for Wave AI matching."
          },
          "mode": {
            "type": "string",
            "enum": ["direction", "homepage", "homepage_direction"],
            "description": "Search mode resolved by the system."
          },
          "seedProfileUrl": {
            "type": "string",
            "description": "Seed profile URL if submitted in the request."
          },
          "sourceUserId": {
            "type": "string",
            "description": "Source channel / user ID resolved from seedProfileUrl."
          },
          "contentDirection": {
            "type": "string",
            "description": "Content direction if submitted in the request."
          },
          "total": {
            "type": "number",
            "description": "Number of creators returned after Wave AI matching, filtering, and deduplication."
          },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SimilarCreator" },
            "description": "Matched creators, sorted by similarityScore descending."
          },
          "quota": {
            "$ref": "#/components/schemas/SimilarQuota"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/waveinflu/email-lookup": {
      "post": {
        "summary": "Email Lookup",
        "description": "Submit a TikTok, Instagram, or YouTube creator profile URL and get back normalized creator info, contact emails, and remaining quota.",
        "operationId": "waveinflu-email-lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "TikTok, Instagram, or YouTube creator profile URL.",
                    "example": "https://www.instagram.com/onkimia/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email lookup completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Email lookup completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailLookupData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/similar": {
      "post": {
        "summary": "Similar Creators",
        "description": "Submit a seed creator profile URL and/or content direction. Wave AI returns matched YouTube or TikTok creators with similarity scores.",
        "operationId": "waveinflu-similar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform"],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": ["youtube", "tiktok"],
                    "description": "Target platform. Currently supports youtube and tiktok.",
                    "example": "youtube"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25,
                    "description": "Maximum number of creators to return. Default 25, range 1–100.",
                    "example": 10
                  },
                  "seedProfileUrl": {
                    "type": "string",
                    "description": "YouTube or TikTok creator profile URL as the seed for matching.",
                    "example": "https://www.youtube.com/@mkbhd"
                  },
                  "contentDirection": {
                    "type": "string",
                    "maxLength": 800,
                    "description": "Natural-language description of the creator type you are looking for. Max 800 characters.",
                    "example": "consumer tech creators covering AI apps, Android phones, productivity gadgets, and honest product reviews"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/SimilarCreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similar creators completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Similar creators completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SimilarData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
