{
  "openapi": "3.0.3",
  "info": {
    "title": "YouTube Search API",
    "description": "SearchApi.io YouTube Search endpoint",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1",
      "description": "YouTube Search API Server"
    }
  ],
  "paths": {
    "/youtube/search": {
      "get": {
        "x-aisa-pricing": {
          "model": "per_request",
          "currency": "USD",
          "price_usd": 0.0029,
          "cost_tier": "low"
        },
        "summary": "YouTube Search",
        "operationId": "get_youtube_search",
        "description": "Search YouTube and get back matching videos, channels, and playlists. Set `engine=youtube` and pass the query in `q`; both are required. Optionally narrow by country (`gl`) and interface language (`hl`), or pass a YouTube filter token in `sp` for pagination and advanced filters such as upload date, duration, or result type. Use this to find video content on a topic, track a channel's recent uploads, or gauge how much video coverage a subject has. Note: this is served through the AIsa mapped path `/apis/v1/youtube/search`; the upstream provider's canonical path is not mounted directly.",
        "tags": [
          "YouTube Search"
        ],
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ]
            },
            "description": "SearchApi engine identifier. Use `youtube` for this YouTube endpoint."
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query. Required by runtime and upstream SearchApi."
          },
          {
            "name": "sp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "YouTube filter token (pagination or advanced filters)"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Country code (e.g. us, jp)"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Interface language"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful YouTube search response. When `X-AISA-Cost-Mode` is `quote`, HTTP 200 returns a `cost_estimate` instead of executing this operation. The quote is not a reservation, authorization, or price lock.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "YouTube search result payload returned by SearchApi through the AIsa wrapper.",
                  "additionalProperties": true,
                  "properties": {
                    "search_metadata": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "request_time_taken": {
                          "type": "number"
                        },
                        "parsing_time_taken": {
                          "type": "number"
                        },
                        "total_time_taken": {
                          "type": "number"
                        },
                        "request_url": {
                          "type": "string"
                        },
                        "html_url": {
                          "type": "string"
                        },
                        "json_url": {
                          "type": "string"
                        }
                      }
                    },
                    "search_parameters": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "search_information": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "total_results": {
                          "type": "integer"
                        }
                      }
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "published_time": {
                            "type": "string"
                          },
                          "length": {
                            "type": "string"
                          },
                          "views": {
                            "oneOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "channel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "is_live": {
                            "type": "boolean"
                          },
                          "badges": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "subscribers": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "shorts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "section_title": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      }
                    },
                    "sections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "section_title": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      }
                    },
                    "playlists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "ads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "next_page_token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized / Invalid API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "Read-only cost quote for the exact request. No Provider call, billing reservation, durable job, or price lock is created.",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "Always `cost_estimate`."
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "Quote currency. Always USD in this version."
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` is a fully determined customer price; `upper_bound` has a locally enforceable ceiling in `max_cost_micros_usd`; `estimate` depends on terminal usage and may exceed the quoted amount."
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Quoted customer cost in micro-USD (1 USD = 1,000,000 micros)."
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Optional hard customer-cost ceiling in micro-USD. Present for `exact` and `upper_bound`; omitted for `estimate`."
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "True only when `estimate_kind` is `estimate`."
          },
          "pricing_version": {
            "type": "string",
            "description": "Optional immutable or compiled pricing version."
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp when the quote was produced."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Bounded non-sensitive quote metadata, such as a canonical model or profile key."
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "Set to `quote` to estimate this exact request without executing data, creating a job, or authorizing spend. A successful quote is HTTP 200 with a `cost_estimate` body; it is not a reservation or price lock. Omit the header for normal execution. Any other value returns `400 invalid_cost_mode`. Quote mode requires an API key and cannot use MPP or x402.",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "Read-only cost quote. The intended request is validated but not executed, billed, reserved, or locked.",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "Quotes are never stored by shared caches."
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "Response body depends on the cost-mode header."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
