{
  "openapi": "3.0.0",
  "info": {
    "title": "Combined API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/querit/search": {
      "post": {
        "tags": [
          "https://www.querit.ai/en/docs/reference/post"
        ],
        "summary": "Search API",
        "description": "Search smarter and build faster with Querit.ai.",
        "operationId": "search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Your search query term."
                  },
                  "count": {
                    "type": "integer",
                    "description": "The maximum of search results returned in response."
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "sites": {
                        "type": "object",
                        "properties": {
                          "include": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of websites to include, only fetch data from these sites (empty means no restriction)."
                          },
                          "exclude": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of websites to exclude, do not fetch data from these sites."
                          }
                        }
                      },
                      "timeRange": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Request results from a specific date range or time period."
                          }
                        }
                      },
                      "geo": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "object",
                            "properties": {
                              "include": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "List of countries to include, only return results from these countries."
                              }
                            }
                          }
                        }
                      },
                      "languages": {
                        "type": "object",
                        "properties": {
                          "include": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of languages to include, only return results in these languages."
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "Error code, used to identify the specific type of error."
                    },
                    "error_msg": {
                      "type": "string",
                      "description": "Error message, provides details about the error."
                    },
                    "search_id": {
                      "type": "integer",
                      "description": "A unique request reference for customer support."
                    },
                    "query_context": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "description": "The search query that was executed."
                        }
                      }
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "The URL of the search result."
                              },
                              "page_age": {
                                "type": "string",
                                "description": "A plaintext representing the age of the web search result."
                              },
                              "title": {
                                "type": "string",
                                "description": "The title of the search result."
                              },
                              "snippet": {
                                "type": "string",
                                "description": "A brief snippet from the web page."
                              },
                              "site_name": {
                                "type": "string",
                                "description": "The website name used for the URL."
                              },
                              "site_icon": {
                                "type": "string",
                                "description": "The favicon used for the URL."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}