{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0",
    "description": "Consolidated API documentation for Twitter API endpoints."
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/get_my_x_account_detail_v3": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/v3_get_account_detail"
        ],
        "summary": "Get Account Detail V3",
        "description": "Get the details of your X account that was logged in via user_login_v3.",
        "parameters": [
          {
            "name": "user_name",
            "in": "query",
            "required": true,
            "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account detail response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request."
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message describing the result."
                    },
                    "data": {
                      "type": "object",
                      "description": "Account detail data."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/delete_my_x_account_v3": {
      "delete": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/v3_delete_account"
        ],
        "summary": "Remove Account Cookie V3",
        "description": "Remove your X account cookie from the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_name"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete account response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request."
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message describing the result."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/update_profile_v3": {
      "put": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/v3_update_profile"
        ],
        "summary": "Update Profile V3",
        "description": "Update your X profile information. Only non-empty fields will be updated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_name"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional. Display name. Empty value will not update this field."
                  },
                  "bio": {
                    "type": "string",
                    "description": "Optional. Profile bio/description. Empty value will not update this field."
                  },
                  "location": {
                    "type": "string",
                    "description": "Optional. Location. Empty value will not update this field."
                  },
                  "website": {
                    "type": "string",
                    "description": "Optional. Website URL. Empty value will not update this field."
                  },
                  "avatar": {
                    "type": "string",
                    "description": "Optional. Avatar image (base64 or URL). Empty value will not update this field."
                  },
                  "banner": {
                    "type": "string",
                    "description": "Optional. Banner image (base64 or URL). Empty value will not update this field."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update profile response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request."
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message describing the result."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/send_tweet_v3": {
      "post": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/v3_create_tweet"
        ],
        "summary": "Send Tweet V3",
        "description": "Send a tweet using your username. This is an asynchronous method that queues your tweet for posting.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_name",
                  "text"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text content of the tweet. Must be set."
                  },
                  "media_data_base64": {
                    "type": "string",
                    "description": "Optional. Base64 encoded media data for images, GIFs, or videos."
                  },
                  "media_type": {
                    "type": "string",
                    "description": "Optional. The MIME type of the media. Supported types: image/jpeg, image/png, image/gif, video/mp4"
                  },
                  "community_id": {
                    "type": "string",
                    "description": "Optional. The ID of the community to post the tweet to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet send response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. 'success' means the tweet has been queued for posting."
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message describing the result or error details."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}