{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/twitter/retweet_v3": {
      "post": {
        "tags": [
          "twitterapi-retweet"
        ],
        "summary": "Retweet a Tweet",
        "operationId": "retweetTweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_id",
                  "user_name"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3."
                  },
                  "tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to retweet. Must be set."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/twitter/delete_tweet_v2": {
      "post": {
        "tags": [
          "twitterapi-delete"
        ],
        "summary": "Delete a Tweet",
        "operationId": "deleteTweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login_cookies",
                  "tweet_id",
                  "proxy"
                ],
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user. Must be set."
                  },
                  "tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to delete. Must be set."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use. Required. Example: http://username:password@ip:port"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/twitter/follow_user_v2": {
      "post": {
        "tags": [
          "twitterapi-follow"
        ],
        "summary": "Follow a User",
        "operationId": "followUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login_cookies",
                  "user_id",
                  "proxy"
                ],
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user. Must be set."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The id of the user to follow. Must be set."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use. Required. Example: http://username:password@ip:port"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/twitter/unfollow_user_v2": {
      "post": {
        "tags": [
          "twitterapi-unfollow"
        ],
        "summary": "Unfollow a User",
        "operationId": "unfollowUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login_cookies",
                  "user_id",
                  "proxy"
                ],
                "properties": {
                  "login_cookies": {
                    "type": "string",
                    "description": "The login cookies of the user. Must be set."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The id of the user to unfollow. Must be set."
                  },
                  "proxy": {
                    "type": "string",
                    "description": "The proxy to use. Required. Example: http://username:password@ip:port"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/twitter/like_tweet_v3": {
      "post": {
        "tags": [
          "twitterapi-like"
        ],
        "summary": "Like a Tweet",
        "operationId": "likeTweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_id",
                  "user_name"
                ],
                "properties": {
                  "user_name": {
                    "type": "string",
                    "description": "Twitter username. Must be set. The user must have been logged in via user_login_v3."
                  },
                  "tweet_id": {
                    "type": "string",
                    "description": "The id of the tweet to retweet. Must be set."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request. success or error"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Message of the request. error message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}