{
  "openapi": "3.1.0",
  "info": {
    "title": "AIsa MPP Data APIs",
    "version": "1.0.0",
    "description": "Initial Polymarket data catalog. Prices are advisory; the runtime 402 challenge is authoritative. Payment is submitted through Authorization: Payment <credential>."
  },
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ],
  "x-service-info": {
    "categories": [
      "data",
      "prediction-markets"
    ],
    "docs": {
      "homepage": "https://aisa.one",
      "apiReference": "https://aisa.one/docs/api-reference"
    }
  },
  "paths": {
    "/apis/v1/polymarket/holders": {
      "get": {
        "description": "Get top holders for one or more markets.",
        "operationId": "any_polymarket_data_apis_v1_polymarket_holders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response65D835437A58_MetaHolder"
                  }
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Error response; upstream passthrough responses may use provider formats"
          },
          "402": {
            "description": "Payment required. Read WWW-Authenticate for current terms.",
            "headers": {
              "WWW-Authenticate": {
                "description": "MPP payment challenge",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get top holders for markets",
        "tags": [
          "default"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 20
            },
            "description": "Maximum number of holders to return per token. Capped at 20."
          },
          {
            "in": "query",
            "name": "market",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "0x-prefixed 64-hex string",
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "example": "0xdd22472e552920b8438158ea7238bfadfa4f736aa4cee91a6b86c39ead110917"
              }
            },
            "description": "Comma-separated list of condition IDs."
          },
          {
            "in": "query",
            "name": "minBalance",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 0,
              "maximum": 999999
            }
          }
        ],
        "x-payment-info": {
          "offers": [
            {
              "amount": "440",
              "currency": "0x20C000000000000000000000b9537d11c60E8b50",
              "description": "AISA API request",
              "method": "tempo",
              "intent": "charge"
            }
          ]
        }
      }
    },
    "/apis/v1/polymarket/oi": {
      "get": {
        "description": "Get open interest for one or more markets.",
        "operationId": "any_polymarket_data_apis_v1_polymarket_oi",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response65D835437A58_OpenInterest"
                  }
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Error response; upstream passthrough responses may use provider formats"
          },
          "402": {
            "description": "Payment required. Read WWW-Authenticate for current terms.",
            "headers": {
              "WWW-Authenticate": {
                "description": "MPP payment challenge",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get open interest",
        "tags": [
          "default"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "0x-prefixed 64-hex string",
                "pattern": "^0x[a-fA-F0-9]{64}$",
                "example": "0xdd22472e552920b8438158ea7238bfadfa4f736aa4cee91a6b86c39ead110917"
              }
            }
          }
        ],
        "x-payment-info": {
          "offers": [
            {
              "amount": "440",
              "currency": "0x20C000000000000000000000b9537d11c60E8b50",
              "description": "AISA API request",
              "method": "tempo",
              "intent": "charge"
            }
          ]
        }
      }
    },
    "/apis/v1/polymarket/live-volume": {
      "get": {
        "description": "Get live volume for an event.",
        "operationId": "any_polymarket_data_apis_v1_polymarket_live_volume",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response65D835437A58_LiveVolume"
                  }
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Error response; upstream passthrough responses may use provider formats"
          },
          "402": {
            "description": "Payment required. Read WWW-Authenticate for current terms.",
            "headers": {
              "WWW-Authenticate": {
                "description": "MPP payment challenge",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get live volume for an event",
        "tags": [
          "default"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "x-payment-info": {
          "offers": [
            {
              "amount": "440",
              "currency": "0x20C000000000000000000000b9537d11c60E8b50",
              "description": "AISA API request",
              "method": "tempo",
              "intent": "charge"
            }
          ]
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Response65D835437A58_MetaHolder": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "holders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Response65D835437A58_Holder"
            }
          }
        }
      },
      "Response65D835437A58_Holder": {
        "type": "object",
        "properties": {
          "proxyWallet": {
            "$ref": "#/components/schemas/Response65D835437A58_Address"
          },
          "bio": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "pseudonym": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "displayUsernamePublic": {
            "type": "boolean"
          },
          "outcomeIndex": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "profileImage": {
            "type": "string"
          },
          "profileImageOptimized": {
            "type": "string"
          }
        }
      },
      "Response65D835437A58_Address": {
        "type": "string",
        "description": "User Profile Address (0x-prefixed, 40 hex chars)",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "example": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
      },
      "Response65D835437A58_OpenInterest": {
        "type": "object",
        "properties": {
          "market": {
            "$ref": "#/components/schemas/Response65D835437A58_Hash64"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "Response65D835437A58_Hash64": {
        "type": "string",
        "description": "0x-prefixed 64-hex string",
        "pattern": "^0x[a-fA-F0-9]{64}$",
        "example": "0xdd22472e552920b8438158ea7238bfadfa4f736aa4cee91a6b86c39ead110917"
      },
      "Response65D835437A58_LiveVolume": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Response65D835437A58_MarketVolume"
            }
          }
        }
      },
      "Response65D835437A58_MarketVolume": {
        "type": "object",
        "properties": {
          "market": {
            "$ref": "#/components/schemas/Response65D835437A58_Hash64"
          },
          "value": {
            "type": "number"
          }
        }
      }
    }
  }
}
