{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentMail API",
    "version": "1.0.0",
    "description": "通过 AIsa 统一网关公开的 AgentMail 电子邮件 API 端点。改编自上游 docs.agentmail.to OpenAPI 规范。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "schemas": {
      "type_agent_AgentSignupRequest": {
        "type": "object",
        "properties": {
          "human_email": {
            "type": "string",
            "description": "拥有该智能体的用户的电子邮件地址。一个 6 位 OTP 将发送到此地址。"
          },
          "username": {
            "type": "string",
            "description": "自动创建的收件箱的用户名（例如，\"my-agent\" 将创建 my-agent@agentmail.to）。"
          },
          "source": {
            "type": "string",
            "description": "发起此次注册的 SDK、框架或平台（例如 `agentmail-python`、`agentmail-cli`、`agentmail-mcp`）。\n用于标识调用方，即回答“谁在注册”。\n最多 2048 个字符。"
          },
          "referrer": {
            "type": "string",
            "description": "促成此次注册的渠道——Agent 或其开发者发现 AgentMail 的位置\n（例如 `agent.email`、合作伙伴 URL、活动标签）。用于回答“此次注册来自哪里”。\n最多 2048 个字符。"
          }
        },
        "required": [
          "human_email",
          "username"
        ],
        "description": "用于注册代理的请求体。",
        "title": "AgentSignupRequest"
      },
      "type_agent_AgentSignupResponse": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "string",
            "description": "已创建组织的 ID。"
          },
          "inbox_id": {
            "type": "string",
            "description": "自动创建的收件箱 ID。"
          },
          "api_key": {
            "type": "string",
            "description": "用于验证后续请求的 API 密钥。请妥善安全存储，之后将无法再次获取。"
          }
        },
        "required": [
          "organization_id",
          "inbox_id",
          "api_key"
        ],
        "description": "代理注册成功后的响应。",
        "title": "AgentSignupResponse"
      },
      "type__ErrorName": {
        "type": "string",
        "description": "错误名称。",
        "title": "ErrorName"
      },
      "type__ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/type__ErrorName"
          },
          "errors": {
            "description": "验证错误。"
          }
        },
        "required": [
          "name",
          "errors"
        ],
        "title": "ValidationErrorResponse"
      },
      "type_agent_AgentVerifyRequest": {
        "type": "object",
        "properties": {
          "otp_code": {
            "type": "string",
            "description": "发送到用户邮箱地址的 6 位验证码。"
          }
        },
        "required": [
          "otp_code"
        ],
        "description": "使用 OTP 代码验证代理的请求体。",
        "title": "AgentVerifyRequest"
      },
      "type_agent_AgentVerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "组织是否已通过验证。"
          }
        },
        "required": [
          "verified"
        ],
        "description": "代理验证成功后的响应。",
        "title": "AgentVerifyResponse"
      },
      "type__Limit": {
        "type": "integer",
        "description": "返回项目数量的上限。",
        "title": "Limit"
      },
      "type__PageToken": {
        "type": "string",
        "description": "用于分页的页面 token。",
        "title": "PageToken"
      },
      "type__Ascending": {
        "type": "boolean",
        "description": "按时间升序排序。",
        "title": "Ascending"
      },
      "type__Count": {
        "type": "integer",
        "description": "返回的项目数量。",
        "title": "Count"
      },
      "type_pods_PodId": {
        "type": "string",
        "description": "Pod ID。",
        "title": "PodId"
      },
      "type_inboxes_InboxId": {
        "type": "string",
        "description": "收件箱的 ID。",
        "title": "InboxId"
      },
      "type_inboxes_Email": {
        "type": "string",
        "description": "收件箱的电子邮件地址。",
        "title": "Email"
      },
      "type_inboxes_DisplayName": {
        "type": "string",
        "description": "显示名称：`Display Name <username@domain.com>`。",
        "title": "DisplayName"
      },
      "type_inboxes_ClientId": {
        "type": "string",
        "description": "收件箱的客户端 ID。",
        "title": "ClientId"
      },
      "type_inboxes_MetadataValue": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number",
            "format": "double"
          },
          {
            "type": "boolean"
          }
        ],
        "description": "元数据值。可以是字符串、数字或布尔值。",
        "title": "MetadataValue"
      },
      "type_inboxes_Metadata": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/type_inboxes_MetadataValue"
        },
        "description": "附加到收件箱的自定义键值对。最多 256 个键。键和\n字符串值均限制为 256 个字符。更新 metadata 时，\n发送值为 null 的键即可删除该键。",
        "title": "Metadata"
      },
      "type_inboxes_Inbox": {
        "type": "object",
        "properties": {
          "pod_id": {
            "$ref": "#/components/schemas/type_pods_PodId"
          },
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "email": {
            "$ref": "#/components/schemas/type_inboxes_Email"
          },
          "display_name": {
            "$ref": "#/components/schemas/type_inboxes_DisplayName"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_inboxes_ClientId"
          },
          "metadata": {
            "$ref": "#/components/schemas/type_inboxes_Metadata",
            "description": "附加到收件箱的自定义元数据。"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "收件箱上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "收件箱的创建时间。"
          }
        },
        "required": [
          "pod_id",
          "inbox_id",
          "email",
          "updated_at",
          "created_at"
        ],
        "title": "Inbox"
      },
      "type_inboxes_ListInboxesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "inboxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_inboxes_Inbox"
            },
            "description": "按 `created_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "inboxes"
        ],
        "title": "ListInboxesResponse"
      },
      "type__ErrorMessage": {
        "type": "string",
        "description": "错误消息。",
        "title": "ErrorMessage"
      },
      "type__ErrorResponse": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/type__ErrorName"
          },
          "message": {
            "$ref": "#/components/schemas/type__ErrorMessage"
          }
        },
        "required": [
          "name",
          "message"
        ],
        "title": "ErrorResponse"
      },
      "type_inboxes_CreateInboxRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "地址的用户名。如未指定，则随机生成。"
          },
          "domain": {
            "type": "string",
            "description": "地址的域名。必须是已验证的域名。默认为 `agentmail.to`。"
          },
          "display_name": {
            "$ref": "#/components/schemas/type_inboxes_DisplayName"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_inboxes_ClientId"
          },
          "metadata": {
            "$ref": "#/components/schemas/type_inboxes_Metadata",
            "description": "附加到收件箱的自定义元数据。"
          }
        },
        "title": "CreateInboxRequest"
      },
      "type_inboxes_UpdateMetadata": {
        "type": "object",
        "additionalProperties": {
          "allOf": [
            {
              "$ref": "#/components/schemas/type_inboxes_MetadataValue"
            }
          ],
          "nullable": true
        },
        "description": "要合并到收件箱现有 metadata 中的自定义键值对。\n值可以是字符串、数字、布尔值或 null。将键设置为 null\n会将其删除。最多支持 256 个键；每个键和字符串值均限制为\n256 个字符。",
        "title": "UpdateMetadata"
      },
      "type_inboxes_UpdateInboxRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "$ref": "#/components/schemas/type_inboxes_DisplayName"
          },
          "metadata": {
            "description": "要合并到收件箱现有元数据中的元数据。你包含的键\n将被添加或覆盖；省略的键保持不变。要移除\n单个键，请为其发送 null 值。要清除所有元数据，请将\n`metadata` 设为 null。发送空对象将被拒绝；请使用 null\n进行清除。每次更新必须至少包含 `display_name` 或\n`metadata` 之一。",
            "allOf": [
              {
                "$ref": "#/components/schemas/type_inboxes_UpdateMetadata"
              }
            ],
            "nullable": true
          }
        },
        "title": "UpdateInboxRequest"
      },
      "type__Labels": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "用于筛选的标签。",
        "title": "Labels"
      },
      "type__Before": {
        "type": "string",
        "format": "date-time",
        "description": "用于筛选的截止时间戳。",
        "title": "Before"
      },
      "type__After": {
        "type": "string",
        "format": "date-time",
        "description": "用于筛选此时间戳之后数据的时间戳。",
        "title": "After"
      },
      "type__IncludeSpam": {
        "type": "boolean",
        "description": "在结果中包含垃圾邮件。",
        "title": "IncludeSpam"
      },
      "type__IncludeBlocked": {
        "type": "boolean",
        "description": "在结果中包含被屏蔽项。",
        "title": "IncludeBlocked"
      },
      "type__IncludeUnauthenticated": {
        "type": "boolean",
        "description": "在结果中包含未经身份验证的内容。",
        "title": "IncludeUnauthenticated"
      },
      "type__IncludeTrash": {
        "type": "boolean",
        "description": "在结果中包含垃圾内容。",
        "title": "IncludeTrash"
      },
      "type_threads_ThreadId": {
        "type": "string",
        "description": "会话 ID。",
        "title": "ThreadId"
      },
      "type_threads_ThreadLabels": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "会话标签。",
        "title": "ThreadLabels"
      },
      "type_threads_ThreadTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "最后发送或接收消息的时间戳。",
        "title": "ThreadTimestamp"
      },
      "type_threads_ThreadReceivedTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "最后收到消息的时间戳。",
        "title": "ThreadReceivedTimestamp"
      },
      "type_threads_ThreadSentTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "最后发送消息的时间戳。",
        "title": "ThreadSentTimestamp"
      },
      "type_threads_ThreadSenders": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "会话中的发件人。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "ThreadSenders"
      },
      "type_threads_ThreadRecipients": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "会话中的收件人。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "ThreadRecipients"
      },
      "type_threads_ThreadSubject": {
        "type": "string",
        "description": "会话主题。",
        "title": "ThreadSubject"
      },
      "type_threads_ThreadPreview": {
        "type": "string",
        "description": "会话中最后一条消息的文本预览。",
        "title": "ThreadPreview"
      },
      "type_attachments_AttachmentId": {
        "type": "string",
        "description": "附件 ID。",
        "title": "AttachmentId"
      },
      "type_attachments_AttachmentFilename": {
        "type": "string",
        "description": "附件文件名。",
        "title": "AttachmentFilename"
      },
      "type_attachments_AttachmentSize": {
        "type": "integer",
        "description": "附件大小（字节）。",
        "title": "AttachmentSize"
      },
      "type_attachments_AttachmentContentType": {
        "type": "string",
        "description": "附件的内容类型。",
        "title": "AttachmentContentType"
      },
      "type_attachments_AttachmentContentDisposition": {
        "type": "string",
        "enum": [
          "inline",
          "attachment"
        ],
        "description": "附件的内容处置方式。",
        "title": "AttachmentContentDisposition"
      },
      "type_attachments_AttachmentContentId": {
        "type": "string",
        "description": "附件的内容 ID。",
        "title": "AttachmentContentId"
      },
      "type_attachments_Attachment": {
        "type": "object",
        "properties": {
          "attachment_id": {
            "$ref": "#/components/schemas/type_attachments_AttachmentId"
          },
          "filename": {
            "$ref": "#/components/schemas/type_attachments_AttachmentFilename"
          },
          "size": {
            "$ref": "#/components/schemas/type_attachments_AttachmentSize"
          },
          "content_type": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentType"
          },
          "content_disposition": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentDisposition"
          },
          "content_id": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentId"
          }
        },
        "required": [
          "attachment_id",
          "size"
        ],
        "title": "Attachment"
      },
      "type_threads_ThreadAttachments": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_attachments_Attachment"
        },
        "description": "线程中的附件。",
        "title": "ThreadAttachments"
      },
      "type_threads_ThreadLastMessageId": {
        "type": "string",
        "description": "会话串中最后一条消息的 ID。",
        "title": "ThreadLastMessageId"
      },
      "type_threads_ThreadMessageCount": {
        "type": "integer",
        "description": "会话中的消息数量。",
        "title": "ThreadMessageCount"
      },
      "type_threads_ThreadSize": {
        "type": "integer",
        "description": "线程大小（以字节为单位）。",
        "title": "ThreadSize"
      },
      "type_threads_ThreadUpdatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "线程上次更新的时间。",
        "title": "ThreadUpdatedAt"
      },
      "type_threads_ThreadCreatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "会话串的创建时间。",
        "title": "ThreadCreatedAt"
      },
      "type_threads_ThreadItem": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_threads_ThreadLabels"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadTimestamp"
          },
          "received_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadReceivedTimestamp"
          },
          "sent_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadSentTimestamp"
          },
          "senders": {
            "$ref": "#/components/schemas/type_threads_ThreadSenders"
          },
          "recipients": {
            "$ref": "#/components/schemas/type_threads_ThreadRecipients"
          },
          "subject": {
            "$ref": "#/components/schemas/type_threads_ThreadSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_threads_ThreadPreview"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_threads_ThreadAttachments"
          },
          "last_message_id": {
            "$ref": "#/components/schemas/type_threads_ThreadLastMessageId"
          },
          "message_count": {
            "$ref": "#/components/schemas/type_threads_ThreadMessageCount"
          },
          "size": {
            "$ref": "#/components/schemas/type_threads_ThreadSize"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_threads_ThreadUpdatedAt"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_threads_ThreadCreatedAt"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "labels",
          "timestamp",
          "senders",
          "recipients",
          "last_message_id",
          "message_count",
          "size",
          "updated_at",
          "created_at"
        ],
        "title": "ThreadItem"
      },
      "type_threads_ListThreadsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_threads_ThreadItem"
            },
            "description": "按 `timestamp` 降序排列。"
          }
        },
        "required": [
          "count",
          "threads"
        ],
        "title": "ListThreadsResponse"
      },
      "type_messages_MessageId": {
        "type": "string",
        "description": "消息 ID。",
        "title": "MessageId"
      },
      "type_messages_MessageLabels": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "消息标签。",
        "title": "MessageLabels"
      },
      "type_messages_MessageTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "消息的发送或起草时间。",
        "title": "MessageTimestamp"
      },
      "type_messages_MessageFrom": {
        "type": "string",
        "description": "发件人地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "MessageFrom"
      },
      "type_messages_MessageTo": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "收件人地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "MessageTo"
      },
      "type_messages_MessageCc": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "抄送收件人的地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "MessageCc"
      },
      "type_messages_MessageBcc": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "BCC 收件人的地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "MessageBcc"
      },
      "type_messages_MessageSubject": {
        "type": "string",
        "description": "消息主题。",
        "title": "MessageSubject"
      },
      "type_messages_MessagePreview": {
        "type": "string",
        "description": "消息文本预览。",
        "title": "MessagePreview"
      },
      "type_messages_MessageText": {
        "type": "string",
        "description": "消息的纯文本正文。",
        "title": "MessageText"
      },
      "type_messages_MessageHtml": {
        "type": "string",
        "description": "消息的 HTML 正文。",
        "title": "MessageHtml"
      },
      "type_messages_MessageAttachments": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_attachments_Attachment"
        },
        "description": "消息中的附件。",
        "title": "MessageAttachments"
      },
      "type_messages_MessageInReplyTo": {
        "type": "string",
        "description": "被回复消息的 ID。",
        "title": "MessageInReplyTo"
      },
      "type_messages_MessageReferences": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "会话串中先前消息的 ID。",
        "title": "MessageReferences"
      },
      "type_messages_MessageHeaders": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "消息中的标头。",
        "title": "MessageHeaders"
      },
      "type_messages_MessageSize": {
        "type": "integer",
        "description": "消息大小（以字节为单位）。",
        "title": "MessageSize"
      },
      "type_messages_MessageUpdatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "消息最后更新的时间。",
        "title": "MessageUpdatedAt"
      },
      "type_messages_MessageCreatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "消息的创建时间。",
        "title": "MessageCreatedAt"
      },
      "type_messages_Message": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_messages_MessageTimestamp"
          },
          "from": {
            "$ref": "#/components/schemas/type_messages_MessageFrom"
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "回复地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。"
          },
          "to": {
            "$ref": "#/components/schemas/type_messages_MessageTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_messages_MessageCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_messages_MessageBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_messages_MessageSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_messages_MessagePreview"
          },
          "text": {
            "$ref": "#/components/schemas/type_messages_MessageText"
          },
          "html": {
            "$ref": "#/components/schemas/type_messages_MessageHtml"
          },
          "extracted_text": {
            "type": "string",
            "description": "提取的新文本内容。"
          },
          "extracted_html": {
            "type": "string",
            "description": "提取的新 HTML 内容。"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_messages_MessageAttachments"
          },
          "in_reply_to": {
            "$ref": "#/components/schemas/type_messages_MessageInReplyTo"
          },
          "references": {
            "$ref": "#/components/schemas/type_messages_MessageReferences"
          },
          "headers": {
            "$ref": "#/components/schemas/type_messages_MessageHeaders"
          },
          "size": {
            "$ref": "#/components/schemas/type_messages_MessageSize"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_messages_MessageUpdatedAt"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_messages_MessageCreatedAt"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "labels",
          "timestamp",
          "from",
          "to",
          "size",
          "updated_at",
          "created_at"
        ],
        "title": "Message"
      },
      "type_threads_Thread": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_threads_ThreadLabels"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadTimestamp"
          },
          "received_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadReceivedTimestamp"
          },
          "sent_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadSentTimestamp"
          },
          "senders": {
            "$ref": "#/components/schemas/type_threads_ThreadSenders"
          },
          "recipients": {
            "$ref": "#/components/schemas/type_threads_ThreadRecipients"
          },
          "subject": {
            "$ref": "#/components/schemas/type_threads_ThreadSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_threads_ThreadPreview"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_threads_ThreadAttachments"
          },
          "last_message_id": {
            "$ref": "#/components/schemas/type_threads_ThreadLastMessageId"
          },
          "message_count": {
            "$ref": "#/components/schemas/type_threads_ThreadMessageCount"
          },
          "size": {
            "$ref": "#/components/schemas/type_threads_ThreadSize"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_threads_ThreadUpdatedAt"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_threads_ThreadCreatedAt"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_messages_Message"
            },
            "description": "线程中的消息。按 `timestamp` 升序排列。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "labels",
          "timestamp",
          "senders",
          "recipients",
          "last_message_id",
          "message_count",
          "size",
          "updated_at",
          "created_at",
          "messages"
        ],
        "title": "Thread"
      },
      "type_attachments_AttachmentResponse": {
        "type": "object",
        "properties": {
          "attachment_id": {
            "$ref": "#/components/schemas/type_attachments_AttachmentId"
          },
          "filename": {
            "$ref": "#/components/schemas/type_attachments_AttachmentFilename"
          },
          "size": {
            "$ref": "#/components/schemas/type_attachments_AttachmentSize"
          },
          "content_type": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentType"
          },
          "content_disposition": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentDisposition"
          },
          "content_id": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentId"
          },
          "download_url": {
            "type": "string",
            "description": "用于下载附件的 URL。"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "下载 URL 的过期时间。"
          }
        },
        "required": [
          "attachment_id",
          "size",
          "download_url",
          "expires_at"
        ],
        "title": "AttachmentResponse"
      },
      "type_threads_UpdateThreadRequest": {
        "type": "object",
        "properties": {
          "add_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要添加到会话串的标签。不能是系统标签。"
          },
          "remove_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要从会话线程中移除的标签。不能是系统标签。优先级高于 `add_labels`（当传入重复标签时）。"
          }
        },
        "title": "UpdateThreadRequest"
      },
      "type_threads_UpdateThreadResponse": {
        "type": "object",
        "properties": {
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_threads_ThreadLabels"
          }
        },
        "required": [
          "thread_id",
          "labels"
        ],
        "title": "UpdateThreadResponse"
      },
      "type_messages_MessageItem": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_messages_MessageTimestamp"
          },
          "from": {
            "$ref": "#/components/schemas/type_messages_MessageFrom"
          },
          "to": {
            "$ref": "#/components/schemas/type_messages_MessageTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_messages_MessageCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_messages_MessageBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_messages_MessageSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_messages_MessagePreview"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_messages_MessageAttachments"
          },
          "in_reply_to": {
            "$ref": "#/components/schemas/type_messages_MessageInReplyTo"
          },
          "references": {
            "$ref": "#/components/schemas/type_messages_MessageReferences"
          },
          "headers": {
            "$ref": "#/components/schemas/type_messages_MessageHeaders"
          },
          "size": {
            "$ref": "#/components/schemas/type_messages_MessageSize"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_messages_MessageUpdatedAt"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_messages_MessageCreatedAt"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "labels",
          "timestamp",
          "from",
          "to",
          "size",
          "updated_at",
          "created_at"
        ],
        "title": "MessageItem"
      },
      "type_messages_ListMessagesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_messages_MessageItem"
            },
            "description": "按 `timestamp` 降序排列。"
          }
        },
        "required": [
          "count",
          "messages"
        ],
        "title": "ListMessagesResponse"
      },
      "type_messages_BatchGetMessagesMessageIds": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_messages_MessageId"
        },
        "description": "要获取的消息 ID。每个请求最多可包含 500 个 ids。重复项将\n因验证错误而被拒绝。收件箱中未找到的 ID（包括属于其他\n收件箱或受权限限制的 ID）将从响应中静默省略；调用方可通过比较\n`count` 与 `limit` 来检测遗漏项。",
        "title": "BatchGetMessagesMessageIds"
      },
      "type_messages_BatchGetMessagesRequest": {
        "type": "object",
        "properties": {
          "message_ids": {
            "$ref": "#/components/schemas/type_messages_BatchGetMessagesMessageIds"
          }
        },
        "required": [
          "message_ids"
        ],
        "title": "BatchGetMessagesRequest"
      },
      "type_messages_BatchGetMessagesResponse": {
        "type": "object",
        "properties": {
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_messages_Message"
            },
            "description": "找到的消息。顺序与请求中的 `message_ids` 一致。正文\n字段（`text`、`html`、`extracted_text`、`extracted_html`）\n始终不会填充；请使用单消息端点获取正文。"
          }
        },
        "required": [
          "limit",
          "count",
          "messages"
        ],
        "title": "BatchGetMessagesResponse"
      },
      "type_messages_RawMessageResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId",
            "description": "消息的 ID。"
          },
          "size": {
            "$ref": "#/components/schemas/type_messages_MessageSize",
            "description": "原始消息的大小（以字节为单位）。"
          },
          "download_url": {
            "type": "string",
            "description": "用于下载原始消息的 S3 预签名 URL。将在 expires_at 指定的时间过期。"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "下载 URL 的过期时间。"
          }
        },
        "required": [
          "message_id",
          "size",
          "download_url",
          "expires_at"
        ],
        "description": "用于下载原始 .eml 文件的 S3 预签名 URL。",
        "title": "RawMessageResponse"
      },
      "type_messages_UpdateMessageLabels": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "description": "标签或标签列表。",
        "title": "UpdateMessageLabels"
      },
      "type_messages_UpdateMessageRequest": {
        "type": "object",
        "properties": {
          "add_labels": {
            "$ref": "#/components/schemas/type_messages_UpdateMessageLabels",
            "description": "要添加到消息的一个或多个标签。"
          },
          "remove_labels": {
            "$ref": "#/components/schemas/type_messages_UpdateMessageLabels",
            "description": "要从消息中移除的一个或多个标签。"
          }
        },
        "title": "UpdateMessageRequest"
      },
      "type_messages_UpdateMessageResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          }
        },
        "required": [
          "message_id",
          "labels"
        ],
        "title": "UpdateMessageResponse"
      },
      "type_messages_Addresses": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "title": "Addresses"
      },
      "type_messages_SendMessageReplyTo": {
        "$ref": "#/components/schemas/type_messages_Addresses",
        "description": "回复地址（一个或多个）。",
        "title": "SendMessageReplyTo"
      },
      "type_messages_SendMessageTo": {
        "$ref": "#/components/schemas/type_messages_Addresses",
        "description": "收件人地址。",
        "title": "SendMessageTo"
      },
      "type_messages_SendMessageCc": {
        "$ref": "#/components/schemas/type_messages_Addresses",
        "description": "抄送收件人地址。",
        "title": "SendMessageCc"
      },
      "type_messages_SendMessageBcc": {
        "$ref": "#/components/schemas/type_messages_Addresses",
        "description": "密送收件人地址。",
        "title": "SendMessageBcc"
      },
      "type_attachments_SendAttachment": {
        "type": "object",
        "properties": {
          "filename": {
            "$ref": "#/components/schemas/type_attachments_AttachmentFilename"
          },
          "content_type": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentType"
          },
          "content_disposition": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentDisposition"
          },
          "content_id": {
            "$ref": "#/components/schemas/type_attachments_AttachmentContentId"
          },
          "content": {
            "type": "string",
            "description": "附件的 Base64 编码内容。"
          },
          "url": {
            "type": "string",
            "description": "附件的 URL。"
          }
        },
        "title": "SendAttachment"
      },
      "type_messages_SendMessageAttachments": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_attachments_SendAttachment"
        },
        "description": "消息中要包含的附件。",
        "title": "SendMessageAttachments"
      },
      "type_messages_SendMessageHeaders": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "消息中要包含的标头。",
        "title": "SendMessageHeaders"
      },
      "type_messages_SendMessageRequest": {
        "type": "object",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          },
          "reply_to": {
            "$ref": "#/components/schemas/type_messages_SendMessageReplyTo"
          },
          "to": {
            "$ref": "#/components/schemas/type_messages_SendMessageTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_messages_SendMessageCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_messages_SendMessageBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_messages_MessageSubject"
          },
          "text": {
            "$ref": "#/components/schemas/type_messages_MessageText"
          },
          "html": {
            "$ref": "#/components/schemas/type_messages_MessageHtml"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_messages_SendMessageAttachments"
          },
          "headers": {
            "$ref": "#/components/schemas/type_messages_SendMessageHeaders"
          }
        },
        "title": "SendMessageRequest"
      },
      "type_messages_SendMessageResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          }
        },
        "required": [
          "message_id",
          "thread_id"
        ],
        "title": "SendMessageResponse"
      },
      "type_messages_ReplyAll": {
        "type": "boolean",
        "description": "回复原始消息的所有收件人。",
        "title": "ReplyAll"
      },
      "type_messages_ReplyToMessageRequest": {
        "type": "object",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          },
          "reply_to": {
            "$ref": "#/components/schemas/type_messages_SendMessageReplyTo"
          },
          "to": {
            "$ref": "#/components/schemas/type_messages_SendMessageTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_messages_SendMessageCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_messages_SendMessageBcc"
          },
          "reply_all": {
            "$ref": "#/components/schemas/type_messages_ReplyAll"
          },
          "text": {
            "$ref": "#/components/schemas/type_messages_MessageText"
          },
          "html": {
            "$ref": "#/components/schemas/type_messages_MessageHtml"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_messages_SendMessageAttachments"
          },
          "headers": {
            "$ref": "#/components/schemas/type_messages_SendMessageHeaders"
          }
        },
        "title": "ReplyToMessageRequest"
      },
      "type_messages_ReplyAllMessageRequest": {
        "type": "object",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/type_messages_MessageLabels"
          },
          "reply_to": {
            "$ref": "#/components/schemas/type_messages_SendMessageReplyTo"
          },
          "text": {
            "$ref": "#/components/schemas/type_messages_MessageText"
          },
          "html": {
            "$ref": "#/components/schemas/type_messages_MessageHtml"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_messages_SendMessageAttachments"
          },
          "headers": {
            "$ref": "#/components/schemas/type_messages_SendMessageHeaders"
          }
        },
        "title": "ReplyAllMessageRequest"
      },
      "type_drafts_DraftId": {
        "type": "string",
        "description": "草稿 ID。",
        "title": "DraftId"
      },
      "type_drafts_DraftLabels": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "草稿标签。",
        "title": "DraftLabels"
      },
      "type_drafts_DraftTo": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "收件人地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "DraftTo"
      },
      "type_drafts_DraftCc": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "抄送收件人的地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "DraftCc"
      },
      "type_drafts_DraftBcc": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "BCC 收件人的地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "DraftBcc"
      },
      "type_drafts_DraftSubject": {
        "type": "string",
        "description": "草稿主题。",
        "title": "DraftSubject"
      },
      "type_drafts_DraftPreview": {
        "type": "string",
        "description": "草稿文本预览。",
        "title": "DraftPreview"
      },
      "type_drafts_DraftAttachments": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_attachments_Attachment"
        },
        "description": "草稿中的附件。",
        "title": "DraftAttachments"
      },
      "type_drafts_DraftInReplyTo": {
        "type": "string",
        "description": "被回复消息的 ID。",
        "title": "DraftInReplyTo"
      },
      "type_drafts_DraftSendStatus": {
        "type": "string",
        "enum": [
          "scheduled",
          "sending",
          "failed"
        ],
        "description": "草稿的定时发送状态。",
        "title": "DraftSendStatus"
      },
      "type_drafts_DraftSendAt": {
        "type": "string",
        "format": "date-time",
        "description": "计划发送草稿的时间。",
        "title": "DraftSendAt"
      },
      "type_drafts_DraftUpdatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "草稿的最后更新时间。",
        "title": "DraftUpdatedAt"
      },
      "type_drafts_DraftItem": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "draft_id": {
            "$ref": "#/components/schemas/type_drafts_DraftId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_drafts_DraftLabels"
          },
          "to": {
            "$ref": "#/components/schemas/type_drafts_DraftTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_drafts_DraftCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_drafts_DraftBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_drafts_DraftSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_drafts_DraftPreview"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_drafts_DraftAttachments"
          },
          "in_reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftInReplyTo"
          },
          "send_status": {
            "$ref": "#/components/schemas/type_drafts_DraftSendStatus"
          },
          "send_at": {
            "$ref": "#/components/schemas/type_drafts_DraftSendAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_drafts_DraftUpdatedAt"
          }
        },
        "required": [
          "inbox_id",
          "draft_id",
          "labels",
          "updated_at"
        ],
        "title": "DraftItem"
      },
      "type_drafts_ListDraftsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "drafts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_drafts_DraftItem"
            },
            "description": "按 `updated_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "drafts"
        ],
        "title": "ListDraftsResponse"
      },
      "type_drafts_DraftClientId": {
        "type": "string",
        "description": "草稿的客户端 ID。",
        "title": "DraftClientId"
      },
      "type_drafts_DraftReplyTo": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "回复地址。格式为 `username@domain.com` 或 `Display Name <username@domain.com>`。",
        "title": "DraftReplyTo"
      },
      "type_drafts_DraftText": {
        "type": "string",
        "description": "草稿的纯文本正文。",
        "title": "DraftText"
      },
      "type_drafts_DraftHtml": {
        "type": "string",
        "description": "草稿的 HTML 正文。",
        "title": "DraftHtml"
      },
      "type_drafts_Draft": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "draft_id": {
            "$ref": "#/components/schemas/type_drafts_DraftId"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_drafts_DraftClientId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_drafts_DraftLabels"
          },
          "reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftReplyTo"
          },
          "to": {
            "$ref": "#/components/schemas/type_drafts_DraftTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_drafts_DraftCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_drafts_DraftBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_drafts_DraftSubject"
          },
          "preview": {
            "$ref": "#/components/schemas/type_drafts_DraftPreview"
          },
          "text": {
            "$ref": "#/components/schemas/type_drafts_DraftText"
          },
          "html": {
            "$ref": "#/components/schemas/type_drafts_DraftHtml"
          },
          "attachments": {
            "$ref": "#/components/schemas/type_drafts_DraftAttachments"
          },
          "in_reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftInReplyTo"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "会话串中先前消息的 ID。"
          },
          "send_status": {
            "$ref": "#/components/schemas/type_drafts_DraftSendStatus"
          },
          "send_at": {
            "$ref": "#/components/schemas/type_drafts_DraftSendAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/type_drafts_DraftUpdatedAt"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "草稿创建时间。"
          }
        },
        "required": [
          "inbox_id",
          "draft_id",
          "labels",
          "updated_at",
          "created_at"
        ],
        "title": "Draft"
      },
      "type_drafts_CreateDraftRequest": {
        "type": "object",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/type_drafts_DraftLabels"
          },
          "reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftReplyTo"
          },
          "to": {
            "$ref": "#/components/schemas/type_drafts_DraftTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_drafts_DraftCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_drafts_DraftBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_drafts_DraftSubject"
          },
          "text": {
            "$ref": "#/components/schemas/type_drafts_DraftText"
          },
          "html": {
            "$ref": "#/components/schemas/type_drafts_DraftHtml"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_attachments_SendAttachment"
            },
            "description": "草稿中要包含的附件。"
          },
          "in_reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftInReplyTo"
          },
          "send_at": {
            "$ref": "#/components/schemas/type_drafts_DraftSendAt"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_drafts_DraftClientId"
          }
        },
        "title": "CreateDraftRequest"
      },
      "type_drafts_UpdateDraftRequest": {
        "type": "object",
        "properties": {
          "reply_to": {
            "$ref": "#/components/schemas/type_drafts_DraftReplyTo"
          },
          "to": {
            "$ref": "#/components/schemas/type_drafts_DraftTo"
          },
          "cc": {
            "$ref": "#/components/schemas/type_drafts_DraftCc"
          },
          "bcc": {
            "$ref": "#/components/schemas/type_drafts_DraftBcc"
          },
          "subject": {
            "$ref": "#/components/schemas/type_drafts_DraftSubject"
          },
          "text": {
            "$ref": "#/components/schemas/type_drafts_DraftText"
          },
          "html": {
            "$ref": "#/components/schemas/type_drafts_DraftHtml"
          },
          "send_at": {
            "$ref": "#/components/schemas/type_drafts_DraftSendAt"
          }
        },
        "title": "UpdateDraftRequest"
      },
      "type_lists_Direction": {
        "type": "string",
        "enum": [
          "send",
          "receive",
          "reply"
        ],
        "description": "列表条目的方向。",
        "title": "Direction"
      },
      "type_lists_ListType": {
        "type": "string",
        "enum": [
          "allow",
          "block"
        ],
        "description": "列表条目的类型。",
        "title": "ListType"
      },
      "type__OrganizationId": {
        "type": "string",
        "description": "组织 ID。",
        "title": "OrganizationId"
      },
      "type_lists_EntryType": {
        "type": "string",
        "enum": [
          "email",
          "domain"
        ],
        "description": "该条目是电子邮件地址还是域名。",
        "title": "EntryType"
      },
      "type_lists_PodListEntry": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "string",
            "description": "列表条目的电子邮件地址或域名。"
          },
          "organization_id": {
            "$ref": "#/components/schemas/type__OrganizationId"
          },
          "reason": {
            "type": "string",
            "description": "添加该条目的原因。"
          },
          "direction": {
            "$ref": "#/components/schemas/type_lists_Direction"
          },
          "list_type": {
            "$ref": "#/components/schemas/type_lists_ListType"
          },
          "entry_type": {
            "$ref": "#/components/schemas/type_lists_EntryType"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "条目创建时间。"
          },
          "read_only": {
            "type": "boolean",
            "description": "该条目是否为只读且无法通过 API 删除。"
          },
          "pod_id": {
            "type": "string",
            "description": "Pod ID。"
          },
          "inbox_id": {
            "type": "string",
            "description": "收件箱 ID（如果条目限定于收件箱）。"
          }
        },
        "required": [
          "entry",
          "organization_id",
          "direction",
          "list_type",
          "entry_type",
          "created_at",
          "pod_id"
        ],
        "title": "PodListEntry"
      },
      "type_lists_PodListListEntriesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_lists_PodListEntry"
            },
            "description": "按 entry 升序排列。"
          }
        },
        "required": [
          "count",
          "entries"
        ],
        "title": "PodListListEntriesResponse"
      },
      "type_lists_CreateListEntryRequest": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "string",
            "description": "要添加的电子邮件地址或域名。"
          },
          "reason": {
            "type": "string",
            "description": "添加该条目的原因。"
          }
        },
        "required": [
          "entry"
        ],
        "title": "CreateListEntryRequest"
      },
      "type_metrics_MetricEventType": {
        "type": "string",
        "enum": [
          "message.sent",
          "message.delivered",
          "message.bounced",
          "message.delayed",
          "message.rejected",
          "message.complained",
          "message.received"
        ],
        "description": "指标事件的类型。",
        "title": "MetricEventType"
      },
      "type_metrics_MetricEventTypes": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_metrics_MetricEventType"
        },
        "description": "要查询的指标事件类型列表。",
        "title": "MetricEventTypes"
      },
      "type_metrics_Start": {
        "type": "string",
        "format": "date-time",
        "description": "查询的开始时间戳。",
        "title": "Start"
      },
      "type_metrics_End": {
        "type": "string",
        "format": "date-time",
        "description": "查询的结束时间戳。",
        "title": "End"
      },
      "type_metrics_Period": {
        "type": "string",
        "description": "查询周期，以秒为单位。",
        "title": "Period"
      },
      "type_metrics_MetricLimit": {
        "type": "integer",
        "description": "返回的桶数量上限。",
        "title": "MetricLimit"
      },
      "type_metrics_Descending": {
        "type": "boolean",
        "description": "按降序排序。",
        "title": "Descending"
      },
      "type_metrics_MetricBucket": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "时间桶的时间戳。"
          },
          "count": {
            "type": "integer",
            "description": "存储桶中的事件数量。"
          }
        },
        "required": [
          "timestamp",
          "count"
        ],
        "title": "MetricBucket"
      },
      "type_metrics_QueryMetricsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/type_metrics_MetricBucket"
          }
        },
        "description": "按事件类型分组的指标。",
        "title": "QueryMetricsResponse"
      },
      "type_inbox-events_InboxEventId": {
        "type": "string",
        "description": "事件 ID。",
        "title": "InboxEventId"
      },
      "type_inbox-events_InboxEventType": {
        "type": "string",
        "enum": [
          "label.added",
          "label.removed"
        ],
        "description": "收件箱事件类型。传输格式采用 dot.case，以匹配\nWebhook 事件使用的约定（events.yml 中的 `message.received`、\n`domain.verified` 等）。2026-04 之前使用的是\n`label_added`/`label_removed`（snake_case）。Fern 枚举的 `name`\n字段仍采用 uppercase-snake（Fern 约定）；仅传输格式的\n`value` 发生了变化。",
        "title": "InboxEventType"
      },
      "type_inbox-events_InboxEvent": {
        "type": "object",
        "properties": {
          "organization_id": {
            "$ref": "#/components/schemas/type__OrganizationId"
          },
          "pod_id": {
            "type": "string",
            "description": "Pod ID。"
          },
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "event_id": {
            "$ref": "#/components/schemas/type_inbox-events_InboxEventId"
          },
          "event_type": {
            "$ref": "#/components/schemas/type_inbox-events_InboxEventType"
          },
          "message_id": {
            "type": "string",
            "description": "消息 ID。"
          },
          "label": {
            "type": "string",
            "description": "标签已添加或移除。"
          },
          "event_at": {
            "type": "string",
            "format": "date-time",
            "description": "事件发生的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "事件的记录时间。"
          }
        },
        "required": [
          "organization_id",
          "pod_id",
          "inbox_id",
          "event_id",
          "event_type",
          "message_id",
          "label",
          "event_at",
          "created_at"
        ],
        "title": "InboxEvent"
      },
      "type_inbox-events_ListInboxEventsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_inbox-events_InboxEvent"
            },
            "description": "按 `event_id` 降序排列。"
          }
        },
        "required": [
          "count",
          "events"
        ],
        "title": "ListInboxEventsResponse"
      },
      "type_api-keys_ApiKeyId": {
        "type": "string",
        "description": "API 密钥的 ID。",
        "title": "ApiKeyId"
      },
      "type_api-keys_Prefix": {
        "type": "string",
        "description": "API 密钥的前缀。",
        "title": "Prefix"
      },
      "type_api-keys_Name": {
        "type": "string",
        "description": "API 密钥的名称。",
        "title": "Name"
      },
      "type_api-keys_ApiKeyPermissions": {
        "type": "object",
        "properties": {
          "inbox_read": {
            "type": "boolean",
            "description": "读取收件箱详情。"
          },
          "inbox_create": {
            "type": "boolean",
            "description": "创建新收件箱。"
          },
          "inbox_update": {
            "type": "boolean",
            "description": "更新收件箱设置。"
          },
          "inbox_delete": {
            "type": "boolean",
            "description": "删除收件箱。"
          },
          "thread_read": {
            "type": "boolean",
            "description": "读取主题帖。"
          },
          "thread_delete": {
            "type": "boolean",
            "description": "删除会话线程。"
          },
          "message_read": {
            "type": "boolean",
            "description": "读取消息。"
          },
          "message_send": {
            "type": "boolean",
            "description": "发送消息。"
          },
          "message_update": {
            "type": "boolean",
            "description": "更新消息标签。"
          },
          "label_spam_read": {
            "type": "boolean",
            "description": "访问标记为垃圾邮件的消息。"
          },
          "label_blocked_read": {
            "type": "boolean",
            "description": "访问标记为 blocked 的消息。"
          },
          "label_trash_read": {
            "type": "boolean",
            "description": "访问标记为垃圾箱的邮件。"
          },
          "draft_read": {
            "type": "boolean",
            "description": "读取草稿。"
          },
          "draft_create": {
            "type": "boolean",
            "description": "创建草稿。"
          },
          "draft_update": {
            "type": "boolean",
            "description": "更新草稿。"
          },
          "draft_delete": {
            "type": "boolean",
            "description": "删除草稿。"
          },
          "draft_send": {
            "type": "boolean",
            "description": "发送草稿。"
          },
          "webhook_read": {
            "type": "boolean",
            "description": "读取 Webhook 配置。"
          },
          "webhook_create": {
            "type": "boolean",
            "description": "创建 Webhook。"
          },
          "webhook_update": {
            "type": "boolean",
            "description": "更新 Webhook。"
          },
          "webhook_delete": {
            "type": "boolean",
            "description": "删除 Webhook。"
          },
          "domain_read": {
            "type": "boolean",
            "description": "读取域名详情。"
          },
          "domain_create": {
            "type": "boolean",
            "description": "创建域名。"
          },
          "domain_update": {
            "type": "boolean",
            "description": "更新域名。"
          },
          "domain_delete": {
            "type": "boolean",
            "description": "删除域名。"
          },
          "list_entry_read": {
            "type": "boolean",
            "description": "读取列表条目。"
          },
          "list_entry_create": {
            "type": "boolean",
            "description": "创建列表条目。"
          },
          "list_entry_delete": {
            "type": "boolean",
            "description": "删除列表条目。"
          },
          "metrics_read": {
            "type": "boolean",
            "description": "读取指标。"
          },
          "api_key_read": {
            "type": "boolean",
            "description": "读取 API 密钥。"
          },
          "api_key_create": {
            "type": "boolean",
            "description": "创建 API 密钥。"
          },
          "api_key_delete": {
            "type": "boolean",
            "description": "删除 API 密钥。"
          },
          "pod_read": {
            "type": "boolean",
            "description": "读取 Pod。"
          },
          "pod_create": {
            "type": "boolean",
            "description": "创建 Pod。"
          },
          "pod_delete": {
            "type": "boolean",
            "description": "删除 Pod。"
          }
        },
        "description": "API 密钥的细粒度权限。省略时授予所有权限；否则，仅授予设置为 true 的权限。",
        "title": "ApiKeyPermissions"
      },
      "type_api-keys_CreatedAt": {
        "type": "string",
        "format": "date-time",
        "description": "API 密钥的创建时间。",
        "title": "CreatedAt"
      },
      "type_api-keys_ApiKey": {
        "type": "object",
        "properties": {
          "api_key_id": {
            "$ref": "#/components/schemas/type_api-keys_ApiKeyId"
          },
          "prefix": {
            "$ref": "#/components/schemas/type_api-keys_Prefix"
          },
          "name": {
            "$ref": "#/components/schemas/type_api-keys_Name"
          },
          "pod_id": {
            "type": "string",
            "description": "API 密钥作用域所限定的 Pod ID。设置后，该密钥只能访问此 Pod 内的资源。"
          },
          "inbox_id": {
            "type": "string",
            "description": "API 密钥限定访问的收件箱 ID。如果设置，该密钥只能访问此收件箱内的资源。"
          },
          "used_at": {
            "type": "string",
            "format": "date-time",
            "description": "API 密钥上次使用的时间。"
          },
          "permissions": {
            "$ref": "#/components/schemas/type_api-keys_ApiKeyPermissions"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_api-keys_CreatedAt"
          }
        },
        "required": [
          "api_key_id",
          "prefix",
          "name",
          "created_at"
        ],
        "title": "ApiKey"
      },
      "type_api-keys_ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "api_keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_api-keys_ApiKey"
            },
            "description": "按 `created_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "api_keys"
        ],
        "title": "ListApiKeysResponse"
      },
      "type_api-keys_CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/type_api-keys_Name"
          },
          "permissions": {
            "$ref": "#/components/schemas/type_api-keys_ApiKeyPermissions"
          }
        },
        "title": "CreateApiKeyRequest"
      },
      "type_api-keys_CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "api_key_id": {
            "$ref": "#/components/schemas/type_api-keys_ApiKeyId"
          },
          "api_key": {
            "type": "string",
            "description": "API 密钥。"
          },
          "prefix": {
            "$ref": "#/components/schemas/type_api-keys_Prefix"
          },
          "name": {
            "$ref": "#/components/schemas/type_api-keys_Name"
          },
          "pod_id": {
            "type": "string",
            "description": "API 密钥作用域对应的 Pod ID。"
          },
          "inbox_id": {
            "type": "string",
            "description": "API 密钥作用域所限定的收件箱 ID。"
          },
          "permissions": {
            "$ref": "#/components/schemas/type_api-keys_ApiKeyPermissions"
          },
          "created_at": {
            "$ref": "#/components/schemas/type_api-keys_CreatedAt"
          }
        },
        "required": [
          "api_key_id",
          "api_key",
          "prefix",
          "name",
          "created_at"
        ],
        "title": "CreateApiKeyResponse"
      },
      "type_webhooks_WebhookId": {
        "type": "string",
        "description": "Webhook 的 ID。",
        "title": "WebhookId"
      },
      "type_webhooks_Url": {
        "type": "string",
        "description": "Webhook 端点的 URL。",
        "title": "Url"
      },
      "type_events_EventType": {
        "type": "string",
        "enum": [
          "message.received",
          "message.received.spam",
          "message.received.blocked",
          "message.received.unauthenticated",
          "message.sent",
          "message.delivered",
          "message.bounced",
          "message.complained",
          "message.rejected",
          "domain.verified"
        ],
        "title": "EventType"
      },
      "type_events_EventTypes": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/type_events_EventType"
        },
        "description": "要发送事件的事件类型。",
        "title": "EventTypes"
      },
      "type_events_PodIds": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "要向其发送事件的 Pod。每个 Webhook 最多 10 个。",
        "title": "PodIds"
      },
      "type_events_InboxIds": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "要向其发送事件的收件箱。每个 Webhook 最多 10 个。",
        "title": "InboxIds"
      },
      "type_webhooks_ClientId": {
        "type": "string",
        "description": "Webhook 的客户端 ID。",
        "title": "ClientId"
      },
      "type_webhooks_Webhook": {
        "type": "object",
        "properties": {
          "webhook_id": {
            "$ref": "#/components/schemas/type_webhooks_WebhookId"
          },
          "url": {
            "$ref": "#/components/schemas/type_webhooks_Url"
          },
          "event_types": {
            "$ref": "#/components/schemas/type_events_EventTypes"
          },
          "pod_ids": {
            "$ref": "#/components/schemas/type_events_PodIds"
          },
          "inbox_ids": {
            "$ref": "#/components/schemas/type_events_InboxIds"
          },
          "secret": {
            "type": "string",
            "description": "用于验证 Webhook 签名的密钥。"
          },
          "enabled": {
            "type": "boolean",
            "description": "Webhook 已启用。"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Webhook 上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Webhook 的创建时间。"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_webhooks_ClientId"
          }
        },
        "required": [
          "webhook_id",
          "url",
          "secret",
          "enabled",
          "updated_at",
          "created_at"
        ],
        "title": "Webhook"
      },
      "type_webhooks_ListWebhooksResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_webhooks_Webhook"
            },
            "description": "按 `created_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "webhooks"
        ],
        "title": "ListWebhooksResponse"
      },
      "type_webhooks_CreateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "$ref": "#/components/schemas/type_webhooks_Url"
          },
          "event_types": {
            "$ref": "#/components/schemas/type_events_EventTypes",
            "description": "此 Webhook 应接收的完整事件类型列表。至少需要一种类型。请在此数组中发送您希望接收的所有类型（并非增量添加）。有关垃圾邮件、已阻止和未经身份验证的事件及所需权限，请参阅 [Webhook 概述](https://docs.agentmail.to/webhooks-overview)。"
          },
          "pod_ids": {
            "$ref": "#/components/schemas/type_events_PodIds"
          },
          "inbox_ids": {
            "$ref": "#/components/schemas/type_events_InboxIds"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_webhooks_ClientId"
          }
        },
        "required": [
          "url",
          "event_types"
        ],
        "title": "CreateWebhookRequest"
      },
      "type_webhooks_UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "add_inbox_ids": {
            "$ref": "#/components/schemas/type_events_InboxIds",
            "description": "要订阅 Webhook 的收件箱 ID。"
          },
          "remove_inbox_ids": {
            "$ref": "#/components/schemas/type_events_InboxIds",
            "description": "要从 Webhook 取消订阅的收件箱 ID。"
          },
          "add_pod_ids": {
            "$ref": "#/components/schemas/type_events_PodIds",
            "description": "要订阅 Webhook 的 Pod ID。"
          },
          "remove_pod_ids": {
            "$ref": "#/components/schemas/type_events_PodIds",
            "description": "要从 Webhook 取消订阅的 Pod ID。"
          },
          "event_types": {
            "$ref": "#/components/schemas/type_events_EventTypes",
            "description": "发送非空列表时，它将完整替换 Webhook 订阅的事件类型（与创建时的\n“设置列表”行为相同）。这不是合并或差异更新：请包含更新后所需的所有事件类型。\n发送仅含一个元素的数组意味着此后 Webhook 将只接收该类型。\n省略此字段或发送空数组可保持事件类型不变。不支持使用空列表清除所有类型。\n订阅 `message.received.spam`、`message.received.blocked` 或\n`message.received.unauthenticated` 需要 API 密钥具有对应的标签权限。"
          }
        },
        "title": "UpdateWebhookRequest"
      },
      "type_domains_DomainId": {
        "type": "string",
        "description": "域名的 ID。",
        "title": "DomainId"
      },
      "type_domains_DomainName": {
        "type": "string",
        "description": "域名（例如 `example.com`）。",
        "title": "DomainName"
      },
      "type_domains_FeedbackEnabled": {
        "type": "boolean",
        "description": "退信和投诉通知将发送到您的收件箱。",
        "title": "FeedbackEnabled"
      },
      "type_domains_ClientId": {
        "type": "string",
        "description": "域的客户端 ID。",
        "title": "ClientId"
      },
      "type_domains_DomainItem": {
        "type": "object",
        "properties": {
          "pod_id": {
            "$ref": "#/components/schemas/type_pods_PodId"
          },
          "domain_id": {
            "$ref": "#/components/schemas/type_domains_DomainId"
          },
          "domain": {
            "$ref": "#/components/schemas/type_domains_DomainName"
          },
          "feedback_enabled": {
            "$ref": "#/components/schemas/type_domains_FeedbackEnabled"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_domains_ClientId"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "域名上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "域名的创建时间。"
          }
        },
        "required": [
          "domain_id",
          "domain",
          "feedback_enabled",
          "updated_at",
          "created_at"
        ],
        "title": "DomainItem"
      },
      "type_domains_ListDomainsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_domains_DomainItem"
            },
            "description": "按 `created_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "domains"
        ],
        "title": "ListDomainsResponse"
      },
      "type_domains_VerificationStatus": {
        "type": "string",
        "enum": [
          "NOT_STARTED",
          "PENDING",
          "INVALID",
          "FAILED",
          "VERIFYING",
          "VERIFIED"
        ],
        "title": "VerificationStatus"
      },
      "type_domains_Status": {
        "$ref": "#/components/schemas/type_domains_VerificationStatus",
        "description": "域名的验证状态。",
        "title": "Status"
      },
      "type_domains_RecordType": {
        "type": "string",
        "enum": [
          "TXT",
          "CNAME",
          "MX"
        ],
        "title": "RecordType"
      },
      "type_domains_RecordStatus": {
        "type": "string",
        "enum": [
          "MISSING",
          "INVALID",
          "VALID"
        ],
        "title": "RecordStatus"
      },
      "type_domains_VerificationRecord": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/type_domains_RecordType",
            "description": "DNS 记录的类型。"
          },
          "name": {
            "type": "string",
            "description": "记录的名称或主机。"
          },
          "value": {
            "type": "string",
            "description": "记录的值。"
          },
          "status": {
            "$ref": "#/components/schemas/type_domains_RecordStatus",
            "description": "此特定记录的验证状态。"
          },
          "priority": {
            "type": "integer",
            "description": "MX 记录的优先级。"
          }
        },
        "required": [
          "type",
          "name",
          "value",
          "status"
        ],
        "title": "VerificationRecord"
      },
      "type_domains_Domain": {
        "type": "object",
        "properties": {
          "pod_id": {
            "$ref": "#/components/schemas/type_pods_PodId"
          },
          "domain_id": {
            "$ref": "#/components/schemas/type_domains_DomainId"
          },
          "domain": {
            "$ref": "#/components/schemas/type_domains_DomainName"
          },
          "status": {
            "$ref": "#/components/schemas/type_domains_Status"
          },
          "feedback_enabled": {
            "$ref": "#/components/schemas/type_domains_FeedbackEnabled"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_domains_VerificationRecord"
            },
            "description": "验证域名所需的 DNS 记录列表。"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_domains_ClientId"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "域名上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "域名的创建时间。"
          }
        },
        "required": [
          "domain_id",
          "domain",
          "status",
          "feedback_enabled",
          "records",
          "updated_at",
          "created_at"
        ],
        "title": "Domain"
      },
      "type_domains_CreateDomainRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/type_domains_DomainName"
          },
          "feedback_enabled": {
            "$ref": "#/components/schemas/type_domains_FeedbackEnabled"
          }
        },
        "required": [
          "domain",
          "feedback_enabled"
        ],
        "title": "CreateDomainRequest"
      },
      "type_domains_UpdateDomainRequest": {
        "type": "object",
        "properties": {
          "feedback_enabled": {
            "$ref": "#/components/schemas/type_domains_FeedbackEnabled"
          }
        },
        "title": "UpdateDomainRequest"
      },
      "type_lists_ListEntry": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "string",
            "description": "列表条目的电子邮件地址或域名。"
          },
          "organization_id": {
            "$ref": "#/components/schemas/type__OrganizationId"
          },
          "reason": {
            "type": "string",
            "description": "添加该条目的原因。"
          },
          "direction": {
            "$ref": "#/components/schemas/type_lists_Direction"
          },
          "list_type": {
            "$ref": "#/components/schemas/type_lists_ListType"
          },
          "entry_type": {
            "$ref": "#/components/schemas/type_lists_EntryType"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "条目创建时间。"
          },
          "read_only": {
            "type": "boolean",
            "description": "该条目是否为只读且无法通过 API 删除。"
          }
        },
        "required": [
          "entry",
          "organization_id",
          "direction",
          "list_type",
          "entry_type",
          "created_at"
        ],
        "title": "ListEntry"
      },
      "type_lists_ListListEntriesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_lists_ListEntry"
            },
            "description": "按 entry 升序排列。"
          }
        },
        "required": [
          "count",
          "entries"
        ],
        "title": "ListListEntriesResponse"
      },
      "type_pods_Name": {
        "type": "string",
        "description": "Pod 名称。",
        "title": "Name"
      },
      "type_pods_ClientId": {
        "type": "string",
        "description": "pod 的客户端 ID。",
        "title": "ClientId"
      },
      "type_pods_Pod": {
        "type": "object",
        "properties": {
          "pod_id": {
            "$ref": "#/components/schemas/type_pods_PodId"
          },
          "name": {
            "$ref": "#/components/schemas/type_pods_Name"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Pod 上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Pod 的创建时间。"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_pods_ClientId"
          }
        },
        "required": [
          "pod_id",
          "name",
          "updated_at",
          "created_at"
        ],
        "title": "Pod"
      },
      "type_pods_ListPodsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "pods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_pods_Pod"
            },
            "description": "按 `created_at` 降序排列。"
          }
        },
        "required": [
          "count",
          "pods"
        ],
        "title": "ListPodsResponse"
      },
      "type_pods_CreatePodRequest": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/type_pods_Name"
          },
          "client_id": {
            "$ref": "#/components/schemas/type_pods_ClientId"
          }
        },
        "title": "CreatePodRequest"
      },
      "type_organizations_Organization": {
        "type": "object",
        "properties": {
          "organization_id": {
            "$ref": "#/components/schemas/type__OrganizationId"
          },
          "inbox_count": {
            "type": "integer",
            "description": "当前收件箱数量。"
          },
          "domain_count": {
            "type": "integer",
            "description": "当前域名数量。"
          },
          "inbox_limit": {
            "type": "integer",
            "description": "允许的最大收件箱数量。"
          },
          "domain_limit": {
            "type": "integer",
            "description": "允许的最大域名数量。"
          },
          "billing_id": {
            "type": "string",
            "description": "与提供商无关的计费客户 ID。"
          },
          "billing_type": {
            "type": "string",
            "description": "计费提供商类型（例如 \"stripe\"）。"
          },
          "billing_subscription_id": {
            "type": "string",
            "description": "有效的计费订阅 ID。"
          },
          "authentication_id": {
            "type": "string",
            "description": "与提供商无关的身份验证 ID。"
          },
          "authentication_type": {
            "type": "string",
            "description": "身份验证提供商类型。"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "组织上次更新的时间。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "组织的创建时间。"
          }
        },
        "required": [
          "organization_id",
          "inbox_count",
          "domain_count",
          "updated_at",
          "created_at"
        ],
        "description": "包含使用限制和用量计数的组织详细信息。",
        "title": "Organization"
      },
      "type_webhooks_events_SvixId": {
        "type": "string",
        "description": "Webhook 消息 ID。",
        "title": "SvixId"
      },
      "type_webhooks_events_SvixSignature": {
        "type": "string",
        "description": "Webhook 消息的签名。",
        "title": "SvixSignature"
      },
      "type_webhooks_events_SvixTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "Webhook 消息的时间戳。",
        "title": "SvixTimestamp"
      },
      "type_events_MessageReceivedEventType": {
        "type": "string",
        "enum": [
          "message.received",
          "message.received.spam",
          "message.received.blocked",
          "message.received.unauthenticated"
        ],
        "title": "MessageReceivedEventType"
      },
      "type_events_EventId": {
        "type": "string",
        "description": "事件 ID。",
        "title": "EventId"
      },
      "type_events_MessageReceivedEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "$ref": "#/components/schemas/type_events_MessageReceivedEventType"
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "message": {
            "$ref": "#/components/schemas/type_messages_Message"
          },
          "thread": {
            "$ref": "#/components/schemas/type_threads_ThreadItem"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "message",
          "thread"
        ],
        "description": "已收到一条消息。垃圾消息、被阻止消息和未经身份验证的已接收消息事件使用相同的有效载荷结构，但具有不同的 `event_type` 值。",
        "title": "MessageReceivedEvent"
      },
      "type_events_Timestamp": {
        "type": "string",
        "format": "date-time",
        "description": "事件时间戳。",
        "title": "Timestamp"
      },
      "type_events_Send": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_events_Timestamp"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已发送的收件人。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "timestamp",
          "recipients"
        ],
        "title": "Send"
      },
      "type_events_MessageSentEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "message.sent"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "send": {
            "$ref": "#/components/schemas/type_events_Send"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "send"
        ],
        "title": "MessageSentEvent"
      },
      "type_events_Delivery": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_events_Timestamp"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已送达的收件人。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "timestamp",
          "recipients"
        ],
        "title": "Delivery"
      },
      "type_events_MessageDeliveredEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "message.delivered"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "delivery": {
            "$ref": "#/components/schemas/type_events_Delivery"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "delivery"
        ],
        "title": "MessageDeliveredEvent"
      },
      "type_events_Recipient": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "收件人地址。"
          },
          "status": {
            "type": "string",
            "description": "收件人状态。"
          }
        },
        "required": [
          "address",
          "status"
        ],
        "title": "Recipient"
      },
      "type_events_Bounce": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_events_Timestamp"
          },
          "type": {
            "type": "string",
            "description": "退信类型。"
          },
          "sub_type": {
            "type": "string",
            "description": "退信子类型。"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_events_Recipient"
            },
            "description": "被退回的收件人。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "timestamp",
          "type",
          "sub_type",
          "recipients"
        ],
        "title": "Bounce"
      },
      "type_events_MessageBouncedEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "message.bounced"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "bounce": {
            "$ref": "#/components/schemas/type_events_Bounce"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "bounce"
        ],
        "title": "MessageBouncedEvent"
      },
      "type_events_Complaint": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_events_Timestamp"
          },
          "type": {
            "type": "string",
            "description": "投诉类型。"
          },
          "sub_type": {
            "type": "string",
            "description": "投诉子类型。"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已投诉的收件人。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "timestamp",
          "type",
          "sub_type",
          "recipients"
        ],
        "title": "Complaint"
      },
      "type_events_MessageComplainedEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "message.complained"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "complaint": {
            "$ref": "#/components/schemas/type_events_Complaint"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "complaint"
        ],
        "title": "MessageComplainedEvent"
      },
      "type_events_Reject": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "message_id": {
            "$ref": "#/components/schemas/type_messages_MessageId"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_events_Timestamp"
          },
          "reason": {
            "type": "string",
            "description": "拒绝原因。"
          }
        },
        "required": [
          "inbox_id",
          "thread_id",
          "message_id",
          "timestamp",
          "reason"
        ],
        "title": "Reject"
      },
      "type_events_MessageRejectedEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "message.rejected"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "reject": {
            "$ref": "#/components/schemas/type_events_Reject"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "reject"
        ],
        "title": "MessageRejectedEvent"
      },
      "type_events_DomainVerifiedEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "event_type": {
            "type": "string",
            "enum": [
              "domain.verified"
            ]
          },
          "event_id": {
            "$ref": "#/components/schemas/type_events_EventId"
          },
          "domain": {
            "$ref": "#/components/schemas/type_domains_Domain"
          }
        },
        "required": [
          "type",
          "event_type",
          "event_id",
          "domain"
        ],
        "title": "DomainVerifiedEvent"
      },
      "type__Query": {
        "type": "string",
        "description": "全文搜索查询。匹配发件人、收件人、\n主题（子字符串）和消息正文（词元化全文）。",
        "title": "Query"
      },
      "type_threads_SearchThreadsResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_threads_SearchThreadItem"
            },
            "description": "按相关性排序，最佳匹配项优先。"
          }
        },
        "required": [
          "count",
          "threads"
        ],
        "title": "SearchThreadsResponse"
      },
      "type_messages_SearchMessagesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/type__Count"
          },
          "limit": {
            "$ref": "#/components/schemas/type__Limit"
          },
          "next_page_token": {
            "$ref": "#/components/schemas/type__PageToken"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/type_messages_SearchMessageItem"
            },
            "description": "按相关性排序，最佳匹配项优先。"
          }
        },
        "required": [
          "count",
          "messages"
        ],
        "title": "SearchMessagesResponse"
      },
      "type_threads_SearchThreadItem": {
        "type": "object",
        "properties": {
          "inbox_id": {
            "$ref": "#/components/schemas/type_inboxes_InboxId"
          },
          "thread_id": {
            "$ref": "#/components/schemas/type_threads_ThreadId"
          },
          "labels": {
            "$ref": "#/components/schemas/type_threads_ThreadLabels"
          },
          "timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadTimestamp"
          },
          "received_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadReceivedTimestamp"
          },
          "sent_timestamp": {
            "$ref": "#/components/schemas/type_threads_ThreadSentTimestamp"
          },
          "senders": {
            "$ref": "#/components/schemas/type_threads_ThreadSenders"
          },
          "recipients": {
            "$ref": "#/components/schemas/type_threads_ThreadRecipients"
[...]
