{
  "openapi": "3.0.3",
  "info": {
    "title": "Image Generation via Chat Completions",
    "version": "1.0.0",
    "description": "通过标准的 `POST /v1/chat/completions` 路由、使用 OpenAI 的多模态 `content` 数组生成图像；AIsa 会在 `choices[].message.content[]` 中返回一个或多个 `{type: \"image\"}` 分片。**截至 2026 年 7 月 28 日，Wan 2.7 图像模型已迁移至 `/v1/images/generations` 和 `/v1/images/edits`**——`seedream-4-5-251128` 是该路由上仍在配置的模型。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "通过 Chat Completions 生成图像",
        "description": "通过 chat 路由生成图像。请求结构与带多模态内容的 OpenAI Chat Completions 一致；响应中的 `choices[].message.content[]` 里，每个条目形如 `{type: \"image\", image: \"<url 或 base64>\"}`。\n\n**重要：** `messages[].content` 必须是**带类型分片的数组**，不能是普通字符串。传入字符串会返回 `400 invalid_parameter_error`，错误信息为 `Input should be a valid list: messages[*].content`。\n\n**路由提示：** `wan2.7-image`、`wan2.7-image-pro`、`seedream-5-0-260128` 和 `gpt-image-2` 在此会返回 `400 model_route_not_supported`——这些模型请使用 `/v1/images/generations`。",
        "operationId": "generateImageViaChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "seedream-4-5-251128"
                    ],
                    "description": "chat 路由上的图像生成模型。`seedream-4-5-251128` 按每次请求 $0.036 计费。Wan 和 gpt-image-2 模型请改用 `/v1/images/generations`。"
                  },
                  "messages": {
                    "type": "array",
                    "description": "对话消息。图像提示词应放在最后一条用户消息的 `content` 数组中，并以 `{type: \"text\"}` 部分的形式提供。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "array",
                          "description": "多模态部分。生成图像时，请至少包含一个带提示词的 `{type: \"text\"}` 部分。",
                          "items": {
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "image_url"
                                ]
                              },
                              "text": {
                                "type": "string",
                                "description": "在 `type: \"text\"` 时使用。"
                              },
                              "image_url": {
                                "type": "object",
                                "description": "用于 `type: \"image_url\"` 的情况（图生图用例）。",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "要生成的图像数量。每张图单独计费；除非需要多个候选，否则请传 `1`。"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Single-image prompt (n=1)",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A cute red panda, ultra-detailed, cinematic lighting"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "four_variants": {
                  "summary": "Default 4 candidates for selection",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A futuristic cyberpunk city, neon lights, rainy night, 8k"
                          }
                        ]
                      }
                    ]
                  }
                },
                "pro": {
                  "summary": "Higher-fidelity pro model",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Oil painting of a rolling hillside at sunset, artstation"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "image_to_image": {
                  "summary": "Image-to-image (reference + prompt)",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/reference.jpg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "Transform into an oil painting in the style of Van Gogh"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已生成的图像。以 Chat Completion 形式返回，图像位于 `message.content[]` 的图像部分中。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1776495713
                    },
                    "model": {
                      "type": "string",
                      "example": "seedream-4-5-251128"
                    },
                    "choices": {
                      "type": "array",
                      "description": "每张生成的图像对应一个条目。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "nullable": true
                          },
                          "finish_reason": {
                            "type": "string",
                            "example": "stop"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "example": "assistant"
                              },
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ],
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "image"
                                      ]
                                    },
                                    "image": {
                                      "type": "string",
                                      "description": "生成图像的短期有效 URL（或 base64 编码数据，具体取决于你的账户配置）。"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2",
                  "object": "chat.completion",
                  "created": 1776495713,
                  "model": "seedream-4-5-251128",
                  "choices": [
                    {
                      "index": 0,
                      "finish_reason": "stop",
                      "message": {
                        "role": "assistant",
                        "content": [
                          {
                            "type": "image",
                            "image": "https://cdn.aisa.one/images/seedream/20260418-abc.png"
                          }
                        ]
                      }
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 104,
                    "completion_tokens": 8,
                    "total_tokens": 112
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。最常见的情况：将 `content` 作为字符串而非数组传递 → `\"Input should be a valid list: messages[*].content\"`。"
          },
          "401": {
            "description": "AIsa API 密钥缺失或无效。"
          },
          "429": {
            "description": "已达到速率限制。"
          },
          "500": {
            "description": "内部错误。"
          },
          "502": {
            "description": "无法连接上游提供商。"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    }
  }
}
