{
  "openapi": "3.0.3",
  "info": {
    "title": "Image Generation via Chat Completions",
    "version": "1.0.0",
    "description": "通过标准的 `POST /v1/chat/completions` 路由、使用 OpenAI 的多模态 `content` 数组生成图像；AIsa 会在 `choices[].message.content[]` 中返回一个或多个 `{type: \"image\"}` 分片。**截至 2026 年 7 月 28 日，Wan 2.7 图像模型已迁移至 `/v1/images/generations` 和 `/v1/images/edits`**——`seedream-4-5-251128` 是该路由上仍在配置的模型。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "通过 Chat Completions 生成图像",
        "description": "通过 chat 路由生成图像。请求结构与带多模态内容的 OpenAI Chat Completions 一致；响应中的 `choices[].message.content[]` 里，每个条目形如 `{type: \"image\", image: \"<url 或 base64>\"}`。\n\n**重要：** `messages[].content` 必须是**带类型分片的数组**，不能是普通字符串。传入字符串会返回 `400 invalid_parameter_error`，错误信息为 `Input should be a valid list: messages[*].content`。\n\n**路由提示：** `wan2.7-image`、`wan2.7-image-pro`、`seedream-5-0-260128` 和 `gpt-image-2` 在此会返回 `400 model_route_not_supported`——这些模型请使用 `/v1/images/generations`。",
        "operationId": "generateImageViaChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "seedream-4-5-251128"
                    ],
                    "description": "chat 路由上的图像生成模型。`seedream-4-5-251128` 按每次请求 $0.036 计费。Wan 和 gpt-image-2 模型请改用 `/v1/images/generations`。"
                  },
                  "messages": {
                    "type": "array",
                    "description": "对话消息。图像提示词应放在最后一条用户消息的 `content` 数组中，并以 `{type: \"text\"}` 部分的形式提供。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "array",
                          "description": "多模态部分。生成图像时，请至少包含一个带提示词的 `{type: \"text\"}` 部分。",
                          "items": {
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "image_url"
                                ]
                              },
                              "text": {
                                "type": "string",
                                "description": "在 `type: \"text\"` 时使用。"
                              },
                              "image_url": {
                                "type": "object",
                                "description": "用于 `type: \"image_url\"` 的情况（图生图用例）。",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "要生成的图像数量。每张图单独计费；除非需要多个候选，否则请传 `1`。"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Single-image prompt (n=1)",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A cute red panda, ultra-detailed, cinematic lighting"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "four_variants": {
                  "summary": "Default 4 candidates for selection",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A futuristic cyberpunk city, neon lights, rainy night, 8k"
                          }
                        ]
                      }
                    ]
                  }
                },
                "pro": {
                  "summary": "Higher-fidelity pro model",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Oil painting of a rolling hillside at sunset, artstation"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "image_to_image": {
                  "summary": "Image-to-image (reference + prompt)",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/reference.jpg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "Transform into an oil painting in the style of Van Gogh"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已生成的图像。以 Chat Completion 形式返回，图像位于 `message.content[]` 的图像部分中。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1776495713
                    },
                    "model": {
                      "type": "string",
                      "example": "seedream-4-5-251128"
                    },
                    "choices": {
                      "type": "array",
                      "description": "每张生成的图像对应一个条目。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "nullable": true
                          },
                          "finish_reason": {
                            "type": "string",
                            "example": "stop"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "example": "assistant"
                              },
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ],
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "image"
                                      ]
                                    },
                                    "image": {
                                      "type": "string",
                                      "description": "生成图像的短期有效 URL（或 base64 编码数据，具体取决于你的账户配置）。"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2",
                  "object": "chat.completion",
                  "created": 1776495713,
                  "model": "seedream-4-5-251128",
                  "choices": [
                    {
                      "index": 0,
                      "finish_reason": "stop",
                      "message": {
                        "role": "assistant",
                        "content": [
                          {
                            "type": "image",
                            "image": "https://cdn.aisa.one/images/seedream/20260418-abc.png"
                          }
                        ]
                      }
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 104,
                    "completion_tokens": 8,
                    "total_tokens": 112
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。最常见的情况：将 `content` 作为字符串而非数组传递 → `\"Input should be a valid list: messages[*].content\"`。"
          },
          "401": {
            "description": "AIsa API 密钥缺失或无效。"
          },
          "429": {
            "description": "已达到速率限制。"
          },
          "500": {
            "description": "内部错误。"
          },
          "502": {
            "description": "无法连接上游提供商。"
          }
        }
      }
    }
  }
}
