{
  "openapi": "3.0.3",
  "info": {
    "title": "Image Generation via Chat Completions",
    "version": "1.0.0",
    "description": "Wan 2.7 图像模型（`wan2.7-image`、`wan2.7-image-pro`）通过标准 `POST /v1/chat/completions` 端点提供，而非 `/v1/images/generations`。请发送包含多模态 `content` 数组的聊天请求；AIsa 返回的 `choices[].message.content[]` 包含一个或多个 `{type: \"image\"}` 部分。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "通过 Chat Completions 生成图像（wan2.7 系列）",
        "description": "使用 Wan 2.7 图像模型生成图像。请求结构与带多模态内容的 OpenAI Chat Completions 一致；响应包含 `choices[].message.content[]`，其中每一项均为 `{type: \"image\", image: \"<url or base64>\"}`。\n\n**重要：** `messages[].content` 必须是**类型化部分的数组**，而不能是纯字符串。传入字符串将返回 `400 invalid_parameter_error`，并显示 `Input should be a valid list: messages[*].content`。\n\n默认情况下，`wan2.7-image` 返回 **4 张候选图像**（按每张图像计费）。设置 `n` 可请求不同的数量。",
        "operationId": "generateImageViaChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "wan2.7-image",
                      "wan2.7-image-pro"
                    ],
                    "description": "图像生成模型。`wan2.7-image`（$0.030/张图像）用于标准质量，`wan2.7-image-pro`（$0.075/张图像）用于更高保真度。"
                  },
                  "messages": {
                    "type": "array",
                    "description": "对话消息。图像提示词应放在最后一条用户消息的 `content` 数组中，并以 `{type: \"text\"}` 部分的形式提供。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "array",
                          "description": "多模态部分。生成图像时，请至少包含一个带提示词的 `{type: \"text\"}` 部分。",
                          "items": {
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "image_url"
                                ]
                              },
                              "text": {
                                "type": "string",
                                "description": "在 `type: \"text\"` 时使用。"
                              },
                              "image_url": {
                                "type": "object",
                                "description": "用于 `type: \"image_url\"` 的情况（图生图用例）。",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 4,
                    "description": "要生成的图像数量。`wan2.7-image` 默认返回 4 张；传入 `1` 可节省成本。"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Single-image prompt (n=1)",
                  "value": {
                    "model": "wan2.7-image",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A cute red panda, ultra-detailed, cinematic lighting"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "four_variants": {
                  "summary": "Default 4 candidates for selection",
                  "value": {
                    "model": "wan2.7-image",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "A futuristic cyberpunk city, neon lights, rainy night, 8k"
                          }
                        ]
                      }
                    ]
                  }
                },
                "pro": {
                  "summary": "Higher-fidelity pro model",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Oil painting of a rolling hillside at sunset, artstation"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                },
                "image_to_image": {
                  "summary": "Image-to-image (reference + prompt)",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/reference.jpg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "Transform into an oil painting in the style of Van Gogh"
                          }
                        ]
                      }
                    ],
                    "n": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已生成的图像。以 Chat Completion 形式返回，图像位于 `message.content[]` 的图像部分中。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1776495713
                    },
                    "model": {
                      "type": "string",
                      "example": "wan2.7-image"
                    },
                    "choices": {
                      "type": "array",
                      "description": "每张生成的图像对应一个条目。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "nullable": true
                          },
                          "finish_reason": {
                            "type": "string",
                            "example": "stop"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "example": "assistant"
                              },
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ],
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "image"
                                      ]
                                    },
                                    "image": {
                                      "type": "string",
                                      "description": "生成图像的短期有效 URL（或 base64 编码数据，具体取决于你的账户配置）。"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-fcc86dfd-9424-9523-b0bd-cdf07383bee2",
                  "object": "chat.completion",
                  "created": 1776495713,
                  "model": "wan2.7-image",
                  "choices": [
                    {
                      "index": 0,
                      "finish_reason": "stop",
                      "message": {
                        "role": "assistant",
                        "content": [
                          {
                            "type": "image",
                            "image": "https://cdn.aisa.one/images/wan2.7/20260418-abc.png"
                          }
                        ]
                      }
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 104,
                    "completion_tokens": 8,
                    "total_tokens": 112
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。最常见的情况：将 `content` 作为字符串而非数组传递 → `\"Input should be a valid list: messages[*].content\"`。"
          },
          "401": {
            "description": "AIsa API 密钥缺失或无效。"
          },
          "429": {
            "description": "已达到速率限制。"
          },
          "500": {
            "description": "内部错误。"
          },
          "502": {
            "description": "无法连接上游提供商。"
          }
        }
      }
    }
  }
}
