{
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "",
    "title": "Composio",
    "version": "1",
    "x-aisa-capabilities": {
      "idempotency": "Idempotency-Key",
      "max_price": "X-AISA-Max-Price-USD",
      "quote": {
        "header": "X-AISA-Cost-Mode",
        "value": "quote"
      }
    },
    "x-aisa-configured-paths": [
      "/apis/v1/composio/auth/session/info",
      "/apis/v1/composio/auth_configs",
      "/apis/v1/composio/auth_configs/{nanoid}",
      "/apis/v1/composio/auth_configs/{nanoid}/{status}",
      "/apis/v1/composio/connected_accounts",
      "/apis/v1/composio/connected_accounts/link",
      "/apis/v1/composio/connected_accounts/{nanoId}/status",
      "/apis/v1/composio/connected_accounts/{nanoid}",
      "/apis/v1/composio/connected_accounts/{nanoid}/refresh",
      "/apis/v1/composio/connected_accounts/{nanoid}/revoke",
      "/apis/v1/composio/consumer/connected_accounts/{nanoid}/permissions",
      "/apis/v1/composio/consumer/connected_accounts/{nanoid}/permissions/tools/{tool_slug}",
      "/apis/v1/composio/consumer/permissions/resolve",
      "/apis/v1/composio/files/list",
      "/apis/v1/composio/files/upload/request",
      "/apis/v1/composio/logs/tool_execution",
      "/apis/v1/composio/logs/tool_execution/{id}",
      "/apis/v1/composio/mcp/app/{appKey}",
      "/apis/v1/composio/mcp/servers",
      "/apis/v1/composio/mcp/servers/custom",
      "/apis/v1/composio/mcp/servers/generate",
      "/apis/v1/composio/mcp/servers/{serverId}/instances",
      "/apis/v1/composio/mcp/servers/{serverId}/instances/{instanceId}",
      "/apis/v1/composio/mcp/{id}",
      "/apis/v1/composio/migration/get-nanoid",
      "/apis/v1/composio/org/clanker/create_claim",
      "/apis/v1/composio/org/owner/project/list",
      "/apis/v1/composio/org/owner/project/new",
      "/apis/v1/composio/org/owner/project/{nano_id}",
      "/apis/v1/composio/org/owner/project/{nano_id}/regenerate_api_key",
      "/apis/v1/composio/org/project/config",
      "/apis/v1/composio/org/usage/summary",
      "/apis/v1/composio/org/usage/{entity_type}",
      "/apis/v1/composio/project/usage/summary",
      "/apis/v1/composio/project/usage/{entity_type}",
      "/apis/v1/composio/tool_router/session",
      "/apis/v1/composio/tool_router/session/{session_id}",
      "/apis/v1/composio/tool_router/session/{session_id}/attach",
      "/apis/v1/composio/tool_router/session/{session_id}/config_history",
      "/apis/v1/composio/tool_router/session/{session_id}/execute",
      "/apis/v1/composio/tool_router/session/{session_id}/execute_meta",
      "/apis/v1/composio/tool_router/session/{session_id}/link",
      "/apis/v1/composio/tool_router/session/{session_id}/mounts/{mount_id}/delete",
      "/apis/v1/composio/tool_router/session/{session_id}/mounts/{mount_id}/download_url",
      "/apis/v1/composio/tool_router/session/{session_id}/mounts/{mount_id}/items",
      "/apis/v1/composio/tool_router/session/{session_id}/mounts/{mount_id}/upload_url",
      "/apis/v1/composio/tool_router/session/{session_id}/proxy_execute",
      "/apis/v1/composio/tool_router/session/{session_id}/search",
      "/apis/v1/composio/tool_router/session/{session_id}/toolkits",
      "/apis/v1/composio/tool_router/session/{session_id}/tools",
      "/apis/v1/composio/toolkits",
      "/apis/v1/composio/toolkits/categories",
      "/apis/v1/composio/toolkits/changelog",
      "/apis/v1/composio/toolkits/multi",
      "/apis/v1/composio/toolkits/{slug}",
      "/apis/v1/composio/tools",
      "/apis/v1/composio/tools/enum",
      "/apis/v1/composio/tools/execute/proxy",
      "/apis/v1/composio/tools/execute/{tool_slug}",
      "/apis/v1/composio/tools/execute/{tool_slug}/input",
      "/apis/v1/composio/tools/scopes/required",
      "/apis/v1/composio/tools/{tool_slug}",
      "/apis/v1/composio/trigger_instances/active",
      "/apis/v1/composio/trigger_instances/manage/{triggerId}",
      "/apis/v1/composio/trigger_instances/{slug}/upsert",
      "/apis/v1/composio/triggers_types",
      "/apis/v1/composio/triggers_types/list/enum",
      "/apis/v1/composio/triggers_types/{slug}",
      "/apis/v1/composio/webhook_endpoints",
      "/apis/v1/composio/webhook_endpoints/{nano_id}",
      "/apis/v1/composio/webhook_subscriptions",
      "/apis/v1/composio/webhook_subscriptions/event_types",
      "/apis/v1/composio/webhook_subscriptions/{id}",
      "/apis/v1/composio/webhook_subscriptions/{id}/rotate_secret"
    ],
    "x-aisa-document": {
      "facts_hash": "06f4cc115b5fd6bd72450a3192a71649ad895601fa379dceed4ebce053a9758a",
      "generator_version": "2",
      "protocol_version": "1",
      "schema_version": "1",
      "composer_version": "13",
      "response_pending": [],
      "document_hash": "sha256:f98f96401a46d7bf5258417d2ded479bf59c0cc1b738fcd0f9ebc31bc2498a0c"
    },
    "x-aisa-plans": {
      "builder": 1.0,
      "display_plan": "payg",
      "payg": 1.0,
      "similarweb_payg": 1.0,
      "team": 1.0,
      "version": "e70a0959cd1b93b84ae16dffd7a538273ddb9c1d46277b82823c37ff1b6bc0fb"
    },
    "x-aisa-provider": "composio",
    "x-aisa-catalogs": {
      "composio": {
        "title": "Composio",
        "description": "",
        "x-aisa-document": {
          "facts_hash": "06f4cc115b5fd6bd72450a3192a71649ad895601fa379dceed4ebce053a9758a",
          "generator_version": "2",
          "protocol_version": "1",
          "schema_version": "1"
        },
        "x-aisa-plans": {
          "builder": 1.0,
          "display_plan": "payg",
          "payg": 1.0,
          "similarweb_payg": 1.0,
          "team": 1.0,
          "version": "e70a0959cd1b93b84ae16dffd7a538273ddb9c1d46277b82823c37ff1b6bc0fb"
        },
        "x-aisa-capabilities": {
          "idempotency": "Idempotency-Key",
          "max_price": "X-AISA-Max-Price-USD",
          "quote": {
            "header": "X-AISA-Cost-Mode",
            "value": "quote"
          }
        }
      }
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "openapi": "3.1.0",
  "paths": {},
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.aisa.one"
    }
  ]
}
