{
  "openapi": "3.1.0",
  "info": {
    "title": "EDINET API",
    "version": "draft-2026-07-28",
    "description": "用于 EDINET 文档列表和文档下载的 AIsa 网关 endpoint。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/edinet/documents.json": {
      "get": {
        "summary": "列出 EDINET 文档",
        "description": "按指定文件日期查询 EDINET 申报列表。type=1 时仅返回元数据，type=2 时返回元数据加申报结果。",
        "operationId": "getEdinetDocuments",
        "tags": [
          "EDINET"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2026-07-23"
              ]
            },
            "description": "文件日期，格式为 YYYY-MM-DD。"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            },
            "description": "响应模式：1 仅返回元数据，2 返回元数据加申报列表。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "EDINET 文档列表响应。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "type": "object",
                      "description": "元数据对象，包含标题、请求参数回显、结果数量、processDateTime、status 和 message。"
                    },
                    "results": {
                      "type": "array",
                      "description": "type=2 时返回的申报文档对象。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "seqNumber": {
                            "type": "integer"
                          },
                          "docID": {
                            "type": "string"
                          },
                          "filerName": {
                            "type": "string"
                          },
                          "docTypeCode": {
                            "type": "string"
                          },
                          "submitDateTime": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。"
          },
          "401": {
            "description": "AIsa API 密钥无效或缺失。"
          },
          "429": {
            "description": "超出速率限制。"
          },
          "500": {
            "description": "网关或上游故障。"
          }
        },
        "x-aisa-path": "/apis/v1/edinet/documents.json",
        "x-provider-cost-micros-usd": 0,
        "x-customer-pricing": {
          "normal": 1e-05
        }
      }
    },
    "/edinet/documents/{docID}": {
      "get": {
        "summary": "下载 EDINET 文档",
        "description": "按 docID 下载指定的 EDINET 文档。返回的文件类型由 type 查询参数选择，实际成功响应的内容需根据 Content-Type 解析。",
        "operationId": "getEdinetDocumentDownload",
        "tags": [
          "EDINET"
        ],
        "parameters": [
          {
            "name": "docID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "S1000000"
              ]
            },
            "description": "来自文档列表 API 的文档管理标识符。"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            },
            "description": "要下载的文件类型：1 为申报正文和审计报告 ZIP，2 为 PDF，3 为替代文档及附件 ZIP，4 为英文文档 ZIP，5 为由 XBRL 转换的 CSV ZIP。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "根据 Content-Type，返回二进制 ZIP/PDF 文件内容或 JSON 错误载荷。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。"
          },
          "401": {
            "description": "AIsa API 密钥无效或缺失。"
          },
          "404": {
            "description": "未找到文档。"
          },
          "429": {
            "description": "超出速率限制。"
          },
          "500": {
            "description": "网关或上游故障。"
          }
        },
        "x-aisa-path": "/apis/v1/edinet/documents/{docID}",
        "x-provider-cost-micros-usd": 0,
        "x-customer-pricing": {
          "normal": 1e-05
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  }
}
