{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl API",
    "version": "1.0.0",
    "description": "Firecrawl 各 endpoint 的统一 API 文档，包括 Scrape、Search、Map、Parse、Crawl 和 Batch Scrape。Scrape、Search、Map 和 Parse 是同步接口。Crawl 和 Batch Scrape 是异步接口：调用方提交任务，然后轮询返回的任务资源以获取状态和结果。\n\n计费按消耗的 Firecrawl credit 计量，而不是按请求固定收费，因此总费用随任务产生的页面、链接或结果数量增长。大致 credit 消耗：Scrape = 每页 1 credit，Map = 每页 1 credit，Search = 每 10 条结果约 2 credits，Crawl = 每页 1 credit，Batch Scrape = 每页 1 credit。每个 credit 对应的美元费率取决于你的等级（normal $0.005，vip $0.004，svip $0.0034）。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AsyncJob": {
        "type": "object",
        "description": "一个异步集成任务。由提交调用（HTTP 202）以及轮询/详情调用返回。请按 id 轮询该任务，直到 status 进入终态（completed、failed 或 cancelled）。",
        "properties": {
          "id": {
            "type": "string",
            "description": "唯一的 AIsa 任务标识符。可用它轮询、列出或取消该任务。",
            "example": "iaj_01HZY8Q2M4K7N9V3T6W1X0B2C3"
          },
          "object": {
            "type": "string",
            "description": "始终为 \"integration_async_job\"。",
            "example": "integration_async_job"
          },
          "endpoint": {
            "type": "string",
            "description": "该任务所属的提交 endpoint。",
            "example": "/apis/v1/firecrawl/crawl"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "面向用户的生命周期状态。queued 和 running 为非终态；completed、failed 和 cancelled 为终态。"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "任务被受理的时间。"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "任务进入终态的时间。任务仍处于排队或运行中时为 null。"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "authorizedMicrosUSD": {
                "type": "integer",
                "description": "任务被受理时授权（冻结）的金额，单位为微美元。计量型任务最终按实际消耗的 credits 结算。"
              },
              "finalMicrosUSD": {
                "type": "integer",
                "nullable": true,
                "description": "任务进入终态后的最终结算金额，单位为微美元。结算前为 null。"
              },
              "billingMode": {
                "type": "string",
                "description": "该任务的计费模式。",
                "example": "metered_result"
              }
            }
          },
          "output": {
            "description": "任务结果载荷。仅在 status 为 completed 后出现。对 crawl 而言是抓取到的页面数组；对 batch scrape 而言是抓取到的文档数组。",
            "nullable": true
          },
          "outputExpired": {
            "type": "boolean",
            "description": "当结果已超过留存窗口、不再可获取时为 true。"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "当 status 为 failed 时出现，否则为 null。",
            "properties": {
              "code": {
                "type": "string",
                "description": "机器可读的错误码。"
              },
              "message": {
                "type": "string",
                "description": "人类可读的错误信息。"
              }
            }
          }
        }
      },
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/firecrawl/scrape": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/scrape"
        ],
        "summary": "抓取单个页面并以 markdown 返回其正文内容。",
        "description": "抓取一个 URL，返回它的正文 markdown。`url` 和 `proxy` 都必填 —— 计量档位下 `proxy` 必须是 `basic` —— `formats` 选择输出格式。返回 `success` 和 `data`，其中 `markdown` 是正文，`metadata` 是一大坨页面元信息（og: 与 twitter: 标签、`statusCode`、`sourceURL`、`language`）。实测抓 1 个页面约 10 秒。⚠️ URL 必须是 HTTPS，且不能指向 PDF，两者都是直接拒绝而不是尽力而为。有 URL 又要正文时用它。多个 URL 一起处理用 `post_firecrawl_batch_scrape`（后台任务），少量且要立刻拿到用 `post_tavily_extract`（同步）。要先找出 URL，用 `post_firecrawl_map`。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "要抓取的 HTTPS URL。计量模式下不支持 PDF URL。",
                    "example": "https://docs.firecrawl.dev"
                  },
                  "proxy": {
                    "type": "string",
                    "enum": [
                      "basic"
                    ],
                    "description": "代理层级。在计量模式下必须显式设为 \"basic\"。",
                    "example": "basic"
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown"
                      ]
                    },
                    "description": "可选的输出格式。若提供，其值必须正好是 [\"markdown\"]。",
                    "example": [
                      "markdown"
                    ]
                  }
                },
                "required": [
                  "url",
                  "proxy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "抓取成功完成。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "抓取成功时为 true。"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "markdown": {
                          "type": "string",
                          "description": "以 markdown 表示的抓取页面内容。"
                        },
                        "metadata": {
                          "type": "object",
                          "description": "页面元数据，例如标题、描述、来源 URL 和 HTTP 状态。",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "sourceURL": {
                              "type": "string"
                            },
                            "statusCode": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "该请求消耗的 Firecrawl credits（每页 1 个）。"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_firecrawl_scrape",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    },
    "/firecrawl/search": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/search"
        ],
        "summary": "执行网页搜索并返回排序结果。",
        "description": "搜索网页，返回排序后的结果。`query` 必填，`limit` 控制条数。返回 `success`、`creditsUsed`、一个请求 `id`，以及 `data.web[]`，每条含 `url`、`title`、`description`、`position` —— **只有标题和摘要，没有页面正文**。实测取 2 条约 15 秒，是这里最慢的搜索工具。按 Firecrawl credit 计费，约 `ceil(limit / 10) * 2`。在 AIsa 计量档位下只支持 web 源，`scrapeOptions`、企业模式和非 web 源都会被拒绝。什么时候该换：想在同一次调用里拿到正文 —— `post_tavily_search` 会返回，而且快三倍；已经知道 URL —— `post_firecrawl_scrape`；希望按语义而不是关键词判断相关性 —— `post_exa_search`。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "搜索查询词。必须非空，且不超过 500 字符。",
                    "maxLength": 500,
                    "example": "firecrawl web scraping api"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "返回结果数量的上限。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索成功完成。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "搜索成功时为 true。"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "web": {
                          "type": "array",
                          "description": "排序后的网页搜索结果。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "结果标题。"
                              },
                              "url": {
                                "type": "string",
                                "description": "结果 URL。"
                              },
                              "description": {
                                "type": "string",
                                "description": "结果摘要片段。"
                              }
                            }
                          }
                        }
                      }
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "消耗的 Firecrawl credits（约每 10 条结果 2 个）。"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_firecrawl_search",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    },
    "/firecrawl/map": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/map"
        ],
        "summary": "发现网站上的 URL。",
        "description": "列出从某个起始页可达的 URL，不抓取任何内容。`url` 和 `limit` 都必填（limit 1 到 100000）。返回 `success`、请求 `id` 和 `links[]`，每条含 `url` 和 `title` —— 注意这里是**带标题的对象**，而 `post_tavily_map` 返回的是裸字符串。实测约 9 秒。**每发现一个链接计 1 个 credit**，所以 `limit` 是成本控制而不只是数量控制。用它在付费爬取前先估算站点规模，再用 `post_firecrawl_scrape` 只取需要的。想一次同时拿到结构和内容，用 `post_firecrawl_crawl`。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "要做 map 的 HTTPS URL。",
                    "example": "https://docs.firecrawl.dev"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000,
                    "description": "要发现的链接数量上限。在计量模式下为必填。",
                    "example": 100
                  }
                },
                "required": [
                  "url",
                  "limit"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "map 成功完成。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "map 成功时为 true。"
                    },
                    "links": {
                      "type": "array",
                      "description": "发现的链接。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "一个已发现的 URL。"
                          },
                          "title": {
                            "type": "string",
                            "description": "所发现页面的标题（如果有）。"
                          }
                        }
                      }
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "消耗的 Firecrawl credits（每发现一个链接 1 个）。"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_firecrawl_map",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    },
    "/firecrawl/parse": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/parse"
        ],
        "summary": "把上传的 HTML 文件解析成 markdown。",
        "description": "解析你上传的 HTML 文件，返回 markdown。使用 `multipart/form-data`，两个字段：`file`（上传的 HTML，必须带 `text/html` content type 或 `.html`/`.htm` 文件名）和 `options`（JSON 字符串，必须设 `proxy` 为 `basic`，可另外设 `formats` 为 `[\"markdown\"]`，上限 64 KB）。返回 `success` 和 `data.markdown` 及 `metadata`。计 1 个 Firecrawl credit。⚠️ **不作为 MCP 工具提供。** 工具调用传的是 JSON，文件会变成一个没有文件名的普通表单字段，上游拒绝 —— 已实测。在 MCP 下请改用 `post_firecrawl_scrape` 传 URL。这个端点是给手里真有文件的 HTTP 客户端用的。",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "要解析的 HTML/HTM 文件。必须是 text/html 内容类型，或文件名以 .html/.htm 结尾。"
                  },
                  "options": {
                    "type": "string",
                    "description": "解析选项的 JSON 字符串。必须包含 proxy=\"basic\"；可以额外包含 formats=[\"markdown\"]。不允许其他键。",
                    "example": "{\"proxy\":\"basic\",\"formats\":[\"markdown\"]}"
                  }
                },
                "required": [
                  "file",
                  "options"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "解析成功完成。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "解析成功时为 true。"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "markdown": {
                          "type": "string",
                          "description": "以 markdown 表示的解析内容。"
                        }
                      }
                    },
                    "creditsUsed": {
                      "type": "integer",
                      "description": "消耗的 Firecrawl credits（1 个）。"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_firecrawl_parse",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    },
    "/firecrawl/crawl": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/crawl"
        ],
        "summary": "提交一个异步的抓取任务。",
        "description": "从 `url` 出发爬整个站点，返回它保留的每个页面的内容。`url`、`limit` 和 `Idempotency-Key` 必填；可用 `includePaths`、`excludePaths`、`maxDiscoveryDepth`、`crawlEntireDomain`、`allowSubdomains`、`delay`、`maxConcurrency` 引导。异步。提交后返回 HTTP 202 和一个任务信封 —— `id`、`object`、`endpoint`、`status`、`createdAt`、`completedAt`、`pricing`、`output`、`error`，此时 `output` 还是 null。轮询 `get_firecrawl_crawl_job` 直到 `status` 变成 `completed`、`failed` 或 `cancelled`；届时 `output` 是一个页面数组，每项含 `markdown` 和 `metadata`。实测爬 3 个页面返回 43 KB、不到一分钟完成，而 `pricing.billingMode` 是 `metered_result`，也就是**成本随它找到多少而增长** —— 务必设 `limit`。每次不同的爬取都要换一个新的 `Idempotency-Key`；重复使用会返回之前那个任务而不是新建。只有几个已知 URL 时 `post_firecrawl_batch_scrape` 更便宜，只要结构不要内容时 `post_firecrawl_map` 便宜得多。",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 191
            },
            "description": "使提交具备幂等性的唯一 key（1 到 191 字符）。使用相同 key 重复提交会返回原任务。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "要抓取的 HTTPS 根 URL。不支持 PDF URL。",
                    "example": "https://docs.firecrawl.dev"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "description": "抓取页面数量的上限。",
                    "example": 50
                  },
                  "includePaths": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "maxItems": 20,
                    "description": "只抓取路径匹配这些模式之一的 URL。"
                  },
                  "excludePaths": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "maxItems": 20,
                    "description": "跳过路径匹配这些模式之一的 URL。"
                  },
                  "maxDiscoveryDepth": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "从根 URL 出发的链接发现最大深度。"
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "发现过程中如何使用站点的 sitemap。"
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "把仅查询字符串不同的 URL 视为同一个页面。"
                  },
                  "crawlEntireDomain": {
                    "type": "boolean",
                    "description": "抓取整个域名，而不仅限于根 URL 之下的子树。"
                  },
                  "allowExternalLinks": {
                    "type": "boolean",
                    "description": "沿链接进入外部域名。"
                  },
                  "allowSubdomains": {
                    "type": "boolean",
                    "description": "沿链接进入根域名的子域名。"
                  },
                  "delay": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 30,
                    "description": "两次请求之间的延迟秒数（0 到 30）。"
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "并发抓取页面数的上限（1 到 20）。"
                  },
                  "scrapeOptions": {
                    "type": "object",
                    "description": "抓取过程中对每个页面应用的抓取选项。在计量模式下输出始终为 markdown。",
                    "properties": {
                      "onlyMainContent": {
                        "type": "boolean",
                        "description": "只返回每个页面的正文内容。",
                        "default": true
                      },
                      "includeTags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 128
                        },
                        "maxItems": 50,
                        "description": "要保留的 HTML 标签/选择器。"
                      },
                      "excludeTags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 128
                        },
                        "maxItems": 50,
                        "description": "要丢弃的 HTML 标签/选择器。"
                      },
                      "maxAge": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 31536000000,
                        "description": "可接受的最大缓存时长，单位为毫秒。"
                      },
                      "minAge": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 31536000000,
                        "description": "重新抓取页面前所需的最小缓存时长，单位为毫秒。"
                      },
                      "timeout": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 300000,
                        "description": "单页超时时间，单位为毫秒。"
                      }
                    }
                  }
                },
                "required": [
                  "url",
                  "limit"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "抓取任务已受理。Location 响应头指向该任务资源；请轮询直到终态。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "所创建任务资源的路径，例如 /apis/v1/firecrawl/crawl/{jobId}。"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          },
          "200": {
            "$ref": "#/components/responses/CostEstimate"
          }
        },
        "operationId": "post_firecrawl_crawl"
      }
    },
    "/firecrawl/crawl/{jobId}": {
      "get": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/crawl"
        ],
        "summary": "轮询抓取任务。",
        "description": "按 `jobId` 取回 `post_firecrawl_crawl` 提交的爬取任务。返回和提交时相同的信封 —— `id`、`status`、`createdAt`、`completedAt`、`pricing`、`output`、`error`。反复轮询直到 `status` 为 `completed`、`failed` 或 `cancelled`；成功时 `output` 是页面数组，每项含 `markdown` 和 `metadata`。轮询本身又快又便宜，实测不到 1 秒。它只读取任务，不能发起任务。",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "提交调用返回的任务 id。"
          }
        ],
        "responses": {
          "200": {
            "description": "该抓取任务的当前状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          }
        },
        "operationId": "get_firecrawl_crawl_job"
      }
    },
    "/firecrawl/batch-scrape": {
      "post": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/batch-scrape"
        ],
        "summary": "提交一个异步的批量抓取任务。",
        "description": "把多个 URL 作为一个后台任务批量抓取。`urls` 和 `Idempotency-Key` 必填；`maxConcurrency`、`onlyMainContent`、`includeTags`、`excludeTags`、`maxAge`、`minAge`、`timeout` 用于调节。异步。提交后返回 HTTP 202 和一个任务信封 —— `id`、`object`、`endpoint`、`status`、`createdAt`、`completedAt`、`pricing`、`output`、`error`，此时 `output` 还是 null。轮询 `get_firecrawl_batch_scrape_job` 直到终态；届时 `output` 是文档数组，每项含 `markdown` 和 `metadata`。手上有一批 URL 且不急着要的时候用它。急着要就用 `post_tavily_extract`，它同步返回小批量，实测约 1 秒；单个页面用 `post_firecrawl_scrape`。每批换一个新的 `Idempotency-Key`。",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 191
            },
            "description": "使提交具备幂等性的唯一 key（1 到 191 字符）。使用相同 key 重复提交会返回原任务。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 1000,
                    "description": "1 到 1000 个唯一的 HTTPS URL 用于抓取。不支持 PDF URL。",
                    "example": [
                      "https://docs.firecrawl.dev",
                      "https://docs.firecrawl.dev/introduction"
                    ]
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "并发抓取数的上限（1 到 20）。"
                  },
                  "onlyMainContent": {
                    "type": "boolean",
                    "description": "只返回每个页面的正文内容。",
                    "default": true
                  },
                  "includeTags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "maxItems": 50,
                    "description": "要保留的 HTML 标签/选择器。"
                  },
                  "excludeTags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "maxItems": 50,
                    "description": "要丢弃的 HTML 标签/选择器。"
                  },
                  "maxAge": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 31536000000,
                    "description": "可接受的最大缓存时长，单位为毫秒。"
                  },
                  "minAge": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 31536000000,
                    "description": "重新抓取页面前所需的最小缓存时长，单位为毫秒。"
                  },
                  "timeout": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 300000,
                    "description": "单页超时时间，单位为毫秒。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "批量抓取任务已受理。Location 响应头指向该任务资源；请轮询直到终态。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "所创建任务资源的路径，例如 /apis/v1/firecrawl/batch-scrape/{jobId}。"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          },
          "200": {
            "$ref": "#/components/responses/CostEstimate"
          }
        },
        "operationId": "post_firecrawl_batch_scrape"
      }
    },
    "/firecrawl/batch-scrape/{jobId}": {
      "get": {
        "tags": [
          "https://docs.firecrawl.dev/api-reference/endpoint/batch-scrape"
        ],
        "summary": "轮询批量抓取任务。",
        "description": "按 `jobId` 取回 `post_firecrawl_batch_scrape` 提交的批量抓取任务。返回同一个信封 —— `id`、`status`、`createdAt`、`completedAt`、`pricing`、`output`、`error`。反复轮询直到终态；成功时 `output` 是文档数组，每项含 `markdown` 和 `metadata`。只读取任务，不能发起任务。",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "提交调用返回的任务 id。"
          }
        ],
        "responses": {
          "200": {
            "description": "该批量抓取任务的当前状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            }
          }
        },
        "operationId": "get_firecrawl_batch_scrape_job"
      }
    }
  }
}
