{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini-compatible Generate Content API",
    "version": "v1beta",
    "description": "用于原生 generateContent 请求的 AIsa Gemini 兼容 API。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1beta",
      "description": "Gemini-compatible API base URL"
    }
  ],
  "paths": {
    "/models/{model}:generateContent": {
      "post": {
        "summary": "使用兼容 Gemini 的 AIsa 模型生成内容",
        "operationId": "generateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gemini-3.5-flash"
            },
            "description": "要使用的 AIsa 模型 ID，例如：gemini-3.5-flash。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "内容生成成功. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "description": "对话内容，必填"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "description": "模型可使用的可选工具"
          },
          "toolConfig": {
            "type": "object",
            "description": "可选工具配置"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content"
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig"
          },
          "cachedContent": {
            "type": "string",
            "description": "可选的缓存内容 ID"
          }
        },
        "required": [
          "contents"
        ]
      },
      "Content": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "model",
              "system",
              "assistant"
            ]
          }
        },
        "additionalProperties": true
      },
      "Tool": {
        "type": "object"
      },
      "SafetySetting": {
        "type": "object"
      },
      "GenerationConfig": {
        "type": "object"
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "modelVersion": {
            "type": "string"
          },
          "responseId": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "生成或输入的文本内容。"
          },
          "inline_data": {
            "type": "object",
            "description": "多模态内容的内联二进制数据。"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "提供商生成的思考签名元数据。"
          }
        },
        "additionalProperties": true
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/Content"
          },
          "finishReason": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          },
          "safetyRatings": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "additionalProperties": true
      },
      "UsageMetadata": {
        "type": "object",
        "properties": {
          "promptTokenCount": {
            "type": "integer"
          },
          "candidatesTokenCount": {
            "type": "integer"
          },
          "totalTokenCount": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
