{
  "openapi": "3.0.3",
  "info": {
    "title": "Jina Embeddings & Rerank API",
    "version": "1.0.0",
    "description": "通过 AIsa 中继（OpenAI 兼容）路径提供的 Jina embedding 和重排序服务。包含文本 embedding（jina-embeddings-v3 和 jina-embeddings-v5-text-small，输出均为 1024 维）以及文档重排序（jina-reranker-v3）。两个 endpoint 均按 token 计费，每 100 万 tokens $0.050。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/embeddings": {
      "post": {
        "summary": "创建 embeddings",
        "description": "使用 jina-embeddings-v3 或 jina-embeddings-v5-text-small（输出均为 1024 维）为一个或多个输入字符串生成 embedding 向量。请求和响应均为 OpenAI 兼容。通过 AIsa 中继路径 /v1/embeddings 提供服务。按 token 计费，每 100 万 tokens $0.050。",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Embedding 模型名称。可选：jina-embeddings-v3 或 jina-embeddings-v5-text-small（输出均为 1024 维）。",
                    "enum": [
                      "jina-embeddings-v3",
                      "jina-embeddings-v5-text-small"
                    ],
                    "example": "jina-embeddings-v3"
                  },
                  "input": {
                    "description": "要做 embedding 的非空字符串，或非空字符串数组。",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1
                      }
                    ],
                    "example": "A fast, OpenAI-compatible embeddings endpoint."
                  }
                }
              },
              "example": {
                "model": "jina-embeddings-v3",
                "input": "A fast, OpenAI-compatible embeddings endpoint."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding 列表。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "example": "embedding"
                          },
                          "index": {
                            "type": "integer",
                            "example": 0
                          },
                          "embedding": {
                            "type": "array",
                            "description": "1024 维 embedding 向量。",
                            "items": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "example": "jina-embeddings-v3"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_tokens": {
                          "type": "integer",
                          "example": 9
                        }
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0123,
                        -0.0456,
                        0.0789
                      ]
                    }
                  ],
                  "model": "jina-embeddings-v3",
                  "usage": {
                    "total_tokens": 9
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    },
    "/rerank": {
      "post": {
        "summary": "重排序文档",
        "description": "使用 jina-reranker-v3 针对某个 query 对文档列表重排序，返回按相关性分数排序的文档。通过 AIsa 中继路径 /v1/rerank 提供服务。按 token 计费，每 100 万 tokens $0.050。",
        "operationId": "createRerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "query",
                  "documents"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "重排序模型名称。",
                    "example": "jina-reranker-v3"
                  },
                  "query": {
                    "type": "string",
                    "description": "用于对文档排序的非空查询字符串。",
                    "example": "What is the capital of France?"
                  },
                  "documents": {
                    "type": "array",
                    "description": "要重排序的非空文档字符串数组。",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Paris is the capital of France.",
                      "Berlin is the capital of Germany.",
                      "The Eiffel Tower is in Paris."
                    ]
                  },
                  "top_n": {
                    "type": "integer",
                    "description": "可选。只返回相关性最高的前 N 个文档。",
                    "example": 2
                  }
                }
              },
              "example": {
                "model": "jina-reranker-v3",
                "query": "What is the capital of France?",
                "documents": [
                  "Paris is the capital of France.",
                  "Berlin is the capital of Germany.",
                  "The Eiffel Tower is in Paris."
                ],
                "top_n": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "按相关性排序的重排序结果。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "example": "jina-reranker-v3"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "该文档在原始请求数组中的索引。",
                            "example": 0
                          },
                          "relevance_score": {
                            "type": "number",
                            "format": "float",
                            "example": 0.98
                          },
                          "document": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "example": "Paris is the capital of France."
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_tokens": {
                          "type": "integer",
                          "example": 27
                        }
                      }
                    }
                  }
                },
                "example": {
                  "model": "jina-reranker-v3",
                  "results": [
                    {
                      "index": 0,
                      "relevance_score": 0.98,
                      "document": {
                        "text": "Paris is the capital of France."
                      }
                    },
                    {
                      "index": 2,
                      "relevance_score": 0.71,
                      "document": {
                        "text": "The Eiffel Tower is in Paris."
                      }
                    }
                  ],
                  "usage": {
                    "total_tokens": 27
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Embeddings & Rerank"
    }
  ]
}
