{
  "openapi": "3.0.3",
  "info": {
    "title": "Jina Embeddings & Rerank API",
    "version": "1.0.0",
    "description": "通过 AIsa 中继（OpenAI 兼容）路径提供的 Jina embedding 和重排序服务。包含文本 embedding（jina-embeddings-v3 和 jina-embeddings-v5-text-small，输出均为 1024 维）以及文档重排序（jina-reranker-v3）。两个 endpoint 均按 token 计费，每 100 万 tokens $0.050。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  },
  "paths": {
    "/embeddings": {
      "post": {
        "summary": "创建 embeddings",
        "description": "使用 jina-embeddings-v3 或 jina-embeddings-v5-text-small（输出均为 1024 维）为一个或多个输入字符串生成 embedding 向量。请求和响应均为 OpenAI 兼容。通过 AIsa 中继路径 /v1/embeddings 提供服务。按 token 计费，每 100 万 tokens $0.050。",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Embedding 模型名称。可选：jina-embeddings-v3 或 jina-embeddings-v5-text-small（输出均为 1024 维）。",
                    "enum": [
                      "jina-embeddings-v3",
                      "jina-embeddings-v5-text-small"
                    ],
                    "example": "jina-embeddings-v3"
                  },
                  "input": {
                    "description": "要做 embedding 的非空字符串，或非空字符串数组。",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1
                      }
                    ],
                    "example": "A fast, OpenAI-compatible embeddings endpoint."
                  }
                }
              },
              "example": {
                "model": "jina-embeddings-v3",
                "input": "A fast, OpenAI-compatible embeddings endpoint."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding 列表。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "example": "embedding"
                          },
                          "index": {
                            "type": "integer",
                            "example": 0
                          },
                          "embedding": {
                            "type": "array",
                            "description": "1024 维 embedding 向量。",
                            "items": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "example": "jina-embeddings-v3"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_tokens": {
                          "type": "integer",
                          "example": 9
                        }
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0123,
                        -0.0456,
                        0.0789
                      ]
                    }
                  ],
                  "model": "jina-embeddings-v3",
                  "usage": {
                    "total_tokens": 9
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rerank": {
      "post": {
        "summary": "重排序文档",
        "description": "使用 jina-reranker-v3 针对某个 query 对文档列表重排序，返回按相关性分数排序的文档。通过 AIsa 中继路径 /v1/rerank 提供服务。按 token 计费，每 100 万 tokens $0.050。",
        "operationId": "createRerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "query",
                  "documents"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "重排序模型名称。",
                    "example": "jina-reranker-v3"
                  },
                  "query": {
                    "type": "string",
                    "description": "用于对文档排序的非空查询字符串。",
                    "example": "What is the capital of France?"
                  },
                  "documents": {
                    "type": "array",
                    "description": "要重排序的非空文档字符串数组。",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Paris is the capital of France.",
                      "Berlin is the capital of Germany.",
                      "The Eiffel Tower is in Paris."
                    ]
                  },
                  "top_n": {
                    "type": "integer",
                    "description": "可选。只返回相关性最高的前 N 个文档。",
                    "example": 2
                  }
                }
              },
              "example": {
                "model": "jina-reranker-v3",
                "query": "What is the capital of France?",
                "documents": [
                  "Paris is the capital of France.",
                  "Berlin is the capital of Germany.",
                  "The Eiffel Tower is in Paris."
                ],
                "top_n": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "按相关性排序的重排序结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "example": "jina-reranker-v3"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "该文档在原始请求数组中的索引。",
                            "example": 0
                          },
                          "relevance_score": {
                            "type": "number",
                            "format": "float",
                            "example": 0.98
                          },
                          "document": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "example": "Paris is the capital of France."
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_tokens": {
                          "type": "integer",
                          "example": 27
                        }
                      }
                    }
                  }
                },
                "example": {
                  "model": "jina-reranker-v3",
                  "results": [
                    {
                      "index": 0,
                      "relevance_score": 0.98,
                      "document": {
                        "text": "Paris is the capital of France."
                      }
                    },
                    {
                      "index": 2,
                      "relevance_score": 0.71,
                      "document": {
                        "text": "The Eiffel Tower is in Paris."
                      }
                    }
                  ],
                  "usage": {
                    "total_tokens": 27
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Embeddings & Rerank"
    }
  ]
}
