{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "预测市场 API。",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/kalshi/markets": {
      "get": {
        "summary": "获取 Kalshi 市场",
        "description": "列出 Kalshi（受 CFTC 监管的美国预测交易所）上的市场，并带以美元计价的实时买卖报价。当你需要来自受监管场所的赔率，或想用第二个市场交叉验证 Polymarket 价格时使用；可用 `tickers`（逗号分隔）获取指定市场，用 `event_ticker` / `series_ticker` 限定分组，或用 `status`、`search` 以及创建 / 收盘 / 结算时间区间收窄范围。\n\n返回 `markets[]`，包含 `title`、`status`、`yes_bid_dollars` / `yes_ask_dollars`、`last_price_dollars`、`volume_fp`、`open_interest_fp` 和 `rules_primary`（结算标准），并附带用于分页的 `cursor`。\n\n如需已成交记录而不是报价，请使用 `get_kalshi_trades`。如需在承载类似问题的加密原生场所查询，请使用 `get_polymarket_markets`。",
        "operationId": "get_kalshi_markets",
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "description": "要检索的 Kalshi 市场代码，以逗号分隔。",
            "schema": {
              "type": "string",
              "example": "KXMVESPORTSMULTIGAMEEXTENDED-S20268A776ACB3C6-43886DEE17A"
            }
          },
          {
            "name": "event_ticker",
            "in": "query",
            "required": false,
            "description": "按单个 Kalshi 事件代码筛选。",
            "schema": {
              "type": "string",
              "example": "KXMVESPORTSMULTIGAMEEXTENDED-S20268A776ACB3C6"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "按标题和描述中的关键词搜索市场。必须进行 URL 编码（例如，用 'bitcoin%20price' 表示 'bitcoin price'）。",
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "按状态筛选市场。",
            "schema": {
              "type": "string",
              "enum": [
                "unopened",
                "open",
                "paused",
                "closed",
                "settled"
              ],
              "example": "open"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "每页结果数。默认为 100，最大值为 1000。",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "default": 100,
              "example": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "上一个响应中的分页游标。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series_ticker",
            "in": "query",
            "required": false,
            "description": "按系列 ticker 筛选。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_created_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之后创建的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_created_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之前创建的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "min_updated_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之后更新的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_close_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之前关闭的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "min_close_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之后关闭的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "min_settled_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之后结算的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_settled_ts",
            "in": "query",
            "required": false,
            "description": "筛选在此 Unix 时间戳之前结算的市场。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "mve_filter",
            "in": "query",
            "required": false,
            "description": "按多变量事件筛选。",
            "schema": {
              "type": "string",
              "enum": [
                "only",
                "exclude"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "带分页的 Kalshi 市场响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "下一页的游标。"
                    },
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "ticker": {
                            "type": "string"
                          },
                          "event_ticker": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          },
                          "market_type": {
                            "type": "string"
                          },
                          "strike_type": {
                            "type": "string"
                          },
                          "response_price_units": {
                            "type": "string"
                          },
                          "yes_bid_dollars": {
                            "type": "string"
                          },
                          "yes_ask_dollars": {
                            "type": "string"
                          },
                          "no_bid_dollars": {
                            "type": "string"
                          },
                          "no_ask_dollars": {
                            "type": "string"
                          },
                          "last_price_dollars": {
                            "type": "string"
                          },
                          "liquidity_dollars": {
                            "type": "string"
                          },
                          "notional_value_dollars": {
                            "type": "string"
                          },
                          "volume_fp": {
                            "type": "string"
                          },
                          "volume_24h_fp": {
                            "type": "string"
                          },
                          "open_interest_fp": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "updated_time": {
                            "type": "string"
                          },
                          "open_time": {
                            "type": "string"
                          },
                          "close_time": {
                            "type": "string"
                          },
                          "expiration_time": {
                            "type": "string"
                          },
                          "latest_expiration_time": {
                            "type": "string"
                          },
                          "expected_expiration_time": {
                            "type": "string"
                          },
                          "can_close_early": {
                            "type": "boolean"
                          },
                          "fractional_trading_enabled": {
                            "type": "boolean"
                          },
                          "custom_strike": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mve_selected_legs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "rules_primary": {
                            "type": "string"
                          },
                          "rules_secondary": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "markets"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "错误请求 - 参数无效或验证错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid limit parameter"
                    },
                    "message": {
                      "type": "string",
                      "example": "limit must be a number between 1 and 100"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kalshi/trades": {
      "get": {
        "summary": "获取 Kalshi 交易",
        "description": "获取 Kalshi 市场的成交明细——是实际成交，而不是报价。当你需要某个时间窗口内的成交价格和成交量，例如观察事件推进过程中市场信心如何变化时使用；可用 `ticker` 和 `min_ts` / `max_ts`（Unix 秒）区间收窄范围，并用 `is_block_trade` 单独筛出大额协商交易。\n\n返回 `trades[]`，包含 `trade_id`、`ticker`、`count_fp`（合约张数）、`yes_price_dollars` / `no_price_dollars`、`taker_side` 和 `created_time`，并附带用于分页的 `cursor`。\n\n如需当前报价、结算规则和市场元数据而不是成交明细，请使用 `get_kalshi_markets`。",
        "operationId": "get_kalshi_trades",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "每页结果数。默认为 100，最大值为 1000。",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "default": 100,
              "example": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "上一个响应中的分页游标。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "按 Kalshi 市场代码筛选。",
            "schema": {
              "type": "string",
              "example": "KXMVESPORTSMULTIGAMEEXTENDED-S20268A776ACB3C6-43886DEE17A"
            }
          },
          {
            "name": "min_ts",
            "in": "query",
            "required": false,
            "description": "筛选此 Unix 时间戳之后的交易。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_ts",
            "in": "query",
            "required": false,
            "description": "筛选此 Unix 时间戳之前的交易。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "is_block_trade",
            "in": "query",
            "required": false,
            "description": "按交易是否为大宗交易进行筛选。省略此参数则返回所有交易。",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "带分页的 Kalshi 交易响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "下一页的游标。"
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "trade_id": {
                            "type": "string"
                          },
                          "ticker": {
                            "type": "string"
                          },
                          "count_fp": {
                            "type": "string"
                          },
                          "yes_price_dollars": {
                            "type": "string"
                          },
                          "no_price_dollars": {
                            "type": "string"
                          },
                          "taker_side": {
                            "type": "string"
                          },
                          "taker_book_side": {
                            "type": "string"
                          },
                          "taker_outcome_side": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "is_block_trade": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "trades"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求错误 - 参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid time range or parameters"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "您的 AIsa API 密钥，作为 Bearer token 提供。"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  }
}
