{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Datasets API — Macro Interest Rates",
    "version": "1.0.0",
    "description": "中央银行利率数据（历史序列和实时快照），通过 AIsa 代理。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1/financial",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "InterestRatesResponse": {
        "type": "object",
        "properties": {
          "interest_rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InterestRate"
            }
          }
        }
      },
      "InterestRate": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "中央银行的符号。"
          },
          "name": {
            "type": "string",
            "description": "中央银行的名称。"
          },
          "rate": {
            "type": "number",
            "description": "中央银行的利率。"
          },
          "date": {
            "type": "string",
            "description": "利率日期，格式为 YYYY-MM-DD。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "简短的错误消息。"
          },
          "message": {
            "type": "string",
            "description": "更详细的错误消息。"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "错误请求",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Bad Request",
              "message": "Invalid request parameters"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "未找到指定的资源",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Not Found",
              "message": "Ticker XXXX not found"
            }
          }
        }
      },
      "PaymentRequiredError": {
        "description": "该请求需要付费订阅",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Payment Required",
              "message": "This endpoint requires a paid subscription. Please upgrade your plan."
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "未授权",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Invalid API key provided"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/macro/interest-rates": {
      "get": {
        "summary": "利率（历史）",
        "description": "某家央行随时间变化的政策利率，以 `interest_rates` 数组返回，包含 `bank`、`name`、`date` 和 `rate`。`bank` 为必填，并可用 `start_date` 和 `end_date` 限定范围。有个值得注意的坑：代码区分大小写且必须大写——FED 可用，fed 会返回 HTTP 404 和 \"No data found\"，看起来像是空结果，而不是参数错误。有效代码为 FED、ECB、BOJ、BOE、BOC、RBA、PBOC、SNB、RBI 和 BOK；不带参数调用 `get_financial_macro_interest_rates_snapshot` 会列出全部代码。",
        "operationId": "get_financial_macro_interest_rates",
        "parameters": [
          {
            "name": "bank",
            "in": "query",
            "description": "要返回其利率数据的央行。可用 /macro/interest-rates/banks endpoint 获取可选央行列表。区分大小写：必须大写。小写代码会返回 HTTP 404 \"No data found\"，看起来像是空结果，而不是参数错误。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FED",
                "ECB",
                "BOJ",
                "BOE",
                "BOC",
                "RBA",
                "PBOC",
                "SNB",
                "RBI",
                "BOK"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "要返回的利率起始日期，格式为 YYYY-MM-DD。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "要返回的利率数据的结束日期，格式为 YYYY-MM-DD。",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "利率响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestRatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/macro/interest-rates/snapshot": {
      "get": {
        "summary": "利率（实时）",
        "description": "本接口所跟踪的十家央行的当前政策利率，以 `interest_rates` 数组返回，包含 `bank`、`name`、`rate` 和 `date`。`bank` 为可选——省略它可一次获取全部十家，这也是发现有效代码的方式：FED、ECB、BOJ、BOE、BOC、RBA、PBOC、SNB、RBI 和 BOK。适合用于了解当前的利率环境。如需某家央行随时间变化的利率路径，请使用 `get_financial_macro_interest_rates`。",
        "operationId": "get_financial_macro_interest_rates_snapshot",
        "parameters": [
          {
            "name": "bank",
            "in": "query",
            "description": "可选的央行代码（例如 FED、ECB、BOJ）。AIsa 也允许不带 `bank` 调用该 endpoint，此时返回所有主要央行的最新快照。区分大小写：必须大写。小写代码会返回 HTTP 404 \"No data found\"，看起来像是空结果，而不是参数错误。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FED",
                "ECB",
                "BOJ",
                "BOE",
                "BOC",
                "RBA",
                "PBOC",
                "SNB",
                "RBI",
                "BOK"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "利率快照响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestRatesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    }
  }
}
