{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Datasets API — Macro Interest Rates",
    "version": "1.0.0",
    "description": "中央银行利率数据（历史序列和实时快照），通过 AIsa 代理。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1/financial",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "InterestRatesResponse": {
        "type": "object",
        "properties": {
          "interest_rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InterestRate"
            }
          }
        }
      },
      "InterestRate": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "中央银行的符号。"
          },
          "name": {
            "type": "string",
            "description": "中央银行的名称。"
          },
          "rate": {
            "type": "number",
            "description": "中央银行的利率。"
          },
          "date": {
            "type": "string",
            "description": "利率日期，格式为 YYYY-MM-DD。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "简短的错误消息。"
          },
          "message": {
            "type": "string",
            "description": "更详细的错误消息。"
          }
        }
      },
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "错误请求",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Bad Request",
              "message": "Invalid request parameters"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "未找到指定的资源",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Not Found",
              "message": "Ticker XXXX not found"
            }
          }
        }
      },
      "PaymentRequiredError": {
        "description": "该请求需要付费订阅",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Payment Required",
              "message": "This endpoint requires a paid subscription. Please upgrade your plan."
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "未授权",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Invalid API key provided"
            }
          }
        }
      },
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    }
  },
  "paths": {
    "/macro/interest-rates": {
      "get": {
        "summary": "利率（历史）",
        "description": "某家央行随时间变化的政策利率，以 `interest_rates` 数组返回，包含 `bank`、`name`、`date` 和 `rate`。`bank` 为必填，并可用 `start_date` 和 `end_date` 限定范围。有个值得注意的坑：代码区分大小写且必须大写——FED 可用，fed 会返回 HTTP 404 和 \"No data found\"，看起来像是空结果，而不是参数错误。有效代码为 FED、ECB、BOJ、BOE、BOC、RBA、PBOC、SNB、RBI 和 BOK；不带参数调用 `get_financial_macro_interest_rates_snapshot` 会列出全部代码。",
        "operationId": "get_financial_macro_interest_rates",
        "parameters": [
          {
            "name": "bank",
            "in": "query",
            "description": "要返回其利率数据的央行。可用 /macro/interest-rates/banks endpoint 获取可选央行列表。区分大小写：必须大写。小写代码会返回 HTTP 404 \"No data found\"，看起来像是空结果，而不是参数错误。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FED",
                "ECB",
                "BOJ",
                "BOE",
                "BOC",
                "RBA",
                "PBOC",
                "SNB",
                "RBI",
                "BOK"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "要返回的利率起始日期，格式为 YYYY-MM-DD。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "要返回的利率数据的结束日期，格式为 YYYY-MM-DD。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "利率响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestRatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/macro/interest-rates/snapshot": {
      "get": {
        "summary": "利率（实时）",
        "description": "本接口所跟踪的十家央行的当前政策利率，以 `interest_rates` 数组返回，包含 `bank`、`name`、`rate` 和 `date`。`bank` 为可选——省略它可一次获取全部十家，这也是发现有效代码的方式：FED、ECB、BOJ、BOE、BOC、RBA、PBOC、SNB、RBI 和 BOK。适合用于了解当前的利率环境。如需某家央行随时间变化的利率路径，请使用 `get_financial_macro_interest_rates`。",
        "operationId": "get_financial_macro_interest_rates_snapshot",
        "parameters": [
          {
            "name": "bank",
            "in": "query",
            "description": "可选的央行代码（例如 FED、ECB、BOJ）。AIsa 也允许不带 `bank` 调用该 endpoint，此时返回所有主要央行的最新快照。区分大小写：必须大写。小写代码会返回 HTTP 404 \"No data found\"，看起来像是空结果，而不是参数错误。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FED",
                "ECB",
                "BOJ",
                "BOE",
                "BOC",
                "RBA",
                "PBOC",
                "SNB",
                "RBI",
                "BOK"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "利率快照响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestRatesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    }
  }
}
