{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI-Compatible Image Generations",
    "version": "1.0.0",
    "description": "标准的 OpenAI 兼容 `POST /v1/images/generations` endpoint。截至 2026 年 7 月 28 日，它服务 `seedream-5-0-260128`、`wan2.7-image`、`wan2.7-image-pro` 和 `gpt-image-2`。较早的 `seedream-4-5-251128` 改为通过 [`/v1/chat/completions`](/api-reference/chat/post_chat-completions-image-generation) 路由，而 Gemini 兼容的 `generateContent` 请求使用 [`/v1beta/models/{model}:generateContent`](/api-reference/chat/post_models-model-generatecontent)。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key"
      }
    },
    "schemas": {
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/images/generations": {
      "post": {
        "summary": "生成图像（OpenAI 兼容）",
        "description": "使用 OpenAI 兼容的 images-generations endpoint 生成图像。\n\n**尺寸限制（仅 Seedream 路由）。** Seedream 上游要求每张图像至少 **3,686,400 像素**。低于该值的请求会返回 `400 InvalidParameter: image size must be at least 3686400 pixels`。Wan 和 `gpt-image-2` 路由可接受更小尺寸——`wan2.7-image` 已验证 `1024x1024` 可用。",
        "operationId": "createImageGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "seedream-5-0-260128",
                      "wan2.7-image",
                      "wan2.7-image-pro",
                      "gpt-image-2"
                    ],
                    "description": "图像生成模型。`seedream-5-0-260128`（$0.035/次请求）、`wan2.7-image`（$0.030/次请求）、`wan2.7-image-pro`（$0.075/次请求）或 `gpt-image-2`（$0.03/次请求，或 1024×1024 图像 $0.05/张）。"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "要生成的图像的文本描述。"
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "description": "要生成的图像数量。每张图像均按单张图像费率单独计费。"
                  },
                  "size": {
                    "type": "string",
                    "description": "图像尺寸，格式为 `宽x高`。Seedream 路由要求 `宽 × 高 ≥ 3,686,400`（例如 `1920x1920`、`2048x2048`）；Wan 和 `gpt-image-2` 可接受更小尺寸，如 `1024x1024`。",
                    "example": "2048x2048"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Single 2K image",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "A cute red panda, ultra-detailed, cinematic lighting",
                    "n": 1,
                    "size": "2048x2048"
                  }
                },
                "minimum_size": {
                  "summary": "Exactly at minimum allowed size (1920×1920)",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "A futuristic cyberpunk city, neon lights, rainy night, 8k",
                    "n": 1,
                    "size": "1920x1920"
                  }
                },
                "batch": {
                  "summary": "Four candidates for selection",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Oil painting of a rolling hillside at sunset",
                    "n": 4,
                    "size": "2048x2048"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图像生成成功。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "example": "seedream-5-0-260128"
                    },
                    "created": {
                      "type": "integer",
                      "example": 1776495432
                    },
                    "data": {
                      "type": "array",
                      "description": "每张生成的图像对应一个条目。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "生成图像的短期有效 URL。请下载并持久化保存；该 URL 会过期。"
                          },
                          "size": {
                            "type": "string",
                            "description": "返回图像的实际尺寸。"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "generated_images": {
                          "type": "integer"
                        },
                        "output_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "model": "seedream-5-0-260128",
                  "created": 1776495432,
                  "data": [
                    {
                      "url": "https://cdn.aisa.one/images/seedream/20260418-abc.png",
                      "size": "2048x2048"
                    }
                  ],
                  "usage": {
                    "generated_images": 1,
                    "output_tokens": 16384,
                    "total_tokens": 16384
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。最常见的情况：`size` 小于 3,686,400 像素 → `\"image size must be at least 3686400 pixels\"`。"
          },
          "401": {
            "description": "AIsa API 密钥缺失或无效。"
          },
          "404": {
            "description": "该模型不走此 endpoint。网关会返回 `model_route_not_supported`，并附上该模型实际支持的路由——参见[模型目录](/guides/models)。"
          },
          "429": {
            "description": "已达到速率限制。"
          },
          "500": {
            "description": "内部错误。"
          },
          "502": {
            "description": "无法连接上游提供商。"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    }
  }
}
