{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI Chat API",
    "version": "1.0.0",
    "description": "OpenAI Chat Completion API，包括图像分析、流式传输、函数调用和 Logprobs。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "创建聊天补全",
        "description": "生成聊天响应，支持图像、流式传输、函数调用和 logprobs。",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "gpt-4.1"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "example": "user"
                        },
                        "content": {
                          "description": "可以是文本字符串或数组（用于图像输入）。",
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "image_url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "example": false
                  },
                  "logprobs": {
                    "type": "boolean"
                  },
                  "top_logprobs": {
                    "type": "integer"
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  },
                  "function_call": {
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "auto"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功完成"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Examples"
    }
  ]
}
