{
  "openapi": "3.0.1",
  "info": {
    "title": "Financial Datasets API",
    "description": "股票市场 API，提供超过 30 年、涵盖 30,000 多个股票代码的实时和历史金融数据，包括财务报表、股票价格、内部人士交易、SEC 申报文件等。",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "name": "API Support",
      "url": "https://financialdatasets.ai/support",
      "email": "support@financialdatasets.ai"
    },
    "termsOfService": "https://financialdatasets.ai/terms"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1/financial",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Financial Statements",
      "description": "Access to income statements, balance sheets, and cash flow statements"
    },
    {
      "name": "Market Data",
      "description": "Real-time and historical price data"
    },
    {
      "name": "Company Information",
      "description": "Company facts like ticker, name, and description"
    },
    {
      "name": "Earnings",
      "description": "Earnings press releases and related data"
    },
    {
      "name": "Crypto",
      "description": "Cryptocurrency price data and market information"
    },
    {
      "name": "News",
      "description": "Real-time and historical news articles"
    },
    {
      "name": "SEC Filings",
      "description": "SEC filings and regulatory documents"
    },
    {
      "name": "Insider Trades",
      "description": "Insider trading activity and transactions"
    },
    {
      "name": "Institutional Ownership",
      "description": "Equity holdings of investment managers"
    },
    {
      "name": "Financial Metrics",
      "description": "Financial ratios, metrics, and key performance indicators"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/financials/search/line-items": {
      "post": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "searchLineItems",
        "summary": "搜索特定财务指标",
        "description": "在一组股票代码的利润表、资产负债表和现金流量表中搜索特定财务指标。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchLineItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/insider-trades": {
      "get": {
        "tags": [
          "Insider Trades"
        ],
        "operationId": "getInsiderTrades",
        "summary": "获取内部人士交易",
        "description": "获取公司内部人士针对某个股票代码的买入和卖出等内部交易。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "公司的股票代码。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回的最大交易数量（默认值：10）。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "按内部人士姓名筛选（例如 'Jen Hsun Huang'）。使用 /insider-trades/names 端点获取某个股票代码的可用姓名。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_type",
            "in": "query",
            "description": "按交易类型筛选（例如 'Open market sale'、'Gift'）。使用 /insider-trades/transaction-types 端点获取可用类型。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_date",
            "in": "query",
            "description": "按 YYYY-MM-DD 格式的确切申报日期筛选。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filing_date_gte",
            "in": "query",
            "description": "筛选申报日期大于或等于此日期的记录（YYYY-MM-DD）。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filing_date_lte",
            "in": "query",
            "description": "筛选申报日期早于或等于此日期的记录 (YYYY-MM-DD)。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filing_date_gt",
            "in": "query",
            "description": "筛选申报日期晚于此日期（YYYY-MM-DD）的记录。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filing_date_lt",
            "in": "query",
            "description": "筛选申报日期早于此日期（YYYY-MM-DD）的记录。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "内部人士交易响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderTradesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/company/facts": {
      "get": {
        "tags": [
          "Company Information"
        ],
        "operationId": "getCompanyFacts",
        "summary": "获取公司事实数据",
        "description": "获取某个股票代码对应的公司基本信息。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的 CIK。",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "公司信息响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFactsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/filings": {
      "get": {
        "tags": [
          "SEC Filings"
        ],
        "operationId": "getFilings",
        "summary": "获取 SEC 申报文件",
        "description": "获取某公司的 SEC 申报文件。",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_type",
            "in": "query",
            "description": "按一种或多种申报类型筛选。重复使用查询参数可传递多个值（例如 filing_type=10-Q&filing_type=10-K）。",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "10-K",
                  "10-Q",
                  "8-K",
                  "20-F",
                  "6-K"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回的申报文件最大数量（默认值：10）。",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC 申报文件响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/filings/items": {
      "get": {
        "tags": [
          "SEC Filings"
        ],
        "operationId": "getFilingItems",
        "summary": "获取 SEC 申报项目",
        "description": "获取 SEC 申报文件中的原始文本项。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_type",
            "in": "query",
            "description": "申报文件的类型。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "10-K",
                "10-Q",
                "8-K"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "申报年份。",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "description": "若申报文件为 10-Q，则为申报季度。",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item",
            "in": "query",
            "description": "要获取的项目。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Item-1",
                "Item-1A",
                "Item-1B",
                "Item-2",
                "Item-3",
                "Item-4",
                "Item-5",
                "Item-6",
                "Item-7",
                "Item-7A",
                "Item-8",
                "Item-9",
                "Item-9A",
                "Item-9B",
                "Item-10",
                "Item-11",
                "Item-12",
                "Item-13",
                "Item-14",
                "Item-15",
                "Item-16",
                "Item-1.01",
                "Item-1.02",
                "Item-1.03",
                "Item-1.04",
                "Item-2.01",
                "Item-2.02",
                "Item-2.03",
                "Item-2.04",
                "Item-2.05",
                "Item-2.06",
                "Item-3.01",
                "Item-3.02",
                "Item-3.03",
                "Item-4.01",
                "Item-4.02",
                "Item-5.01",
                "Item-5.02",
                "Item-5.03",
                "Item-5.04",
                "Item-5.05",
                "Item-5.06",
                "Item-5.07",
                "Item-5.08",
                "Item-6.01",
                "Item-6.02",
                "Item-6.03",
                "Item-6.04",
                "Item-6.05",
                "Item-7.01",
                "Item-8.01",
                "Item-9.01"
              ]
            }
          },
          {
            "name": "accession_number",
            "in": "query",
            "description": "如果是 8-K，则为该申报文件的受理编号。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_exhibits",
            "in": "query",
            "description": "是否包含链接附件的原始文本。仅适用于 8-K 申报文件。设为 true 时，附件对象将包含 'text' 字段，其中含有完整的附件内容。",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC 申报项目响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financials/income-statements": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getIncomeStatements",
        "summary": "获取利润表",
        "description": "获取某个股票代码的利润表。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。未提供 cik 时必填。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "损益表的时间周期。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的损益表最大数量。",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "利润表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeStatementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financials/balance-sheets": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getBalanceSheets",
        "summary": "获取资产负债表",
        "description": "获取指定股票代码的资产负债表。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。未提供 cik 时必填。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "资产负债表的时间周期。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的资产负债表最大数量",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "资产负债表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financials/cash-flow-statements": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getCashFlowStatements",
        "summary": "获取现金流量表",
        "description": "获取指定股票代码的现金流量表。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。未提供 cik 时必填。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "现金流量表的时间周期。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回的现金流量表最大数量。",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "现金流量表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashFlowStatementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/prices/snapshot": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getPriceSnapshot",
        "summary": "价格快照（实时）",
        "description": "获取股票的实时报价快照，包括当前价格、当日涨跌额和当日涨跌幅。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码（例如 AAPL、MSFT）。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "价格快照响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financials": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "operationId": "getAllFinancialStatements",
        "summary": "获取所有财务报表",
        "description": "获取某个股票代码的所有财务报表。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。未提供 cik 时必填。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "财务报表的时间周期。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的财务报表的最大数量。",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "财务报表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/news": {
      "get": {
        "tags": [
          "News"
        ],
        "operationId": "getNews",
        "summary": "获取新闻文章",
        "description": "获取特定公司或整体市场的近期新闻文章。传入 ticker 可获取公司特定新闻，省略 ticker 则获取一般市场新闻。文章来源于 The Motley Fool、Investing.com、Reuters 等发布商的 RSS 订阅源。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "公司的股票代码。若查询大盘市场新闻，请省略。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的新闻文章最大数量（默认值：5，最大值：10）。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "新闻文章响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/prices": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "operationId": "getPrices",
        "summary": "获取历史股票价格数据",
        "description": "获取股票的日终（EOD）历史价格数据。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码（例如 AAPL、MSFT）。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "价格数据的时间间隔。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "价格数据的开始日期（格式：YYYY-MM-DD）。",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "价格数据的结束日期（格式：YYYY-MM-DD）。",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "价格数据响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financial-metrics": {
      "get": {
        "tags": [
          "Financial Metrics"
        ],
        "operationId": "getFinancialMetrics",
        "summary": "获取财务指标",
        "description": "获取某个股票代码的财务指标，包括估值、盈利能力、效率、流动性、杠杆、增长和每股指标。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "公司的股票代码。如果未提供 cik，则此项为必填。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。可代替 ticker 使用。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "财务数据的时间段。",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的最大结果数量。",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ReportPeriod"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLte"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodGt"
          },
          {
            "$ref": "#/components/parameters/ReportPeriodLt"
          }
        ],
        "responses": {
          "200": {
            "description": "某个 ticker 的历史财务指标和比率",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financial-metrics/snapshot": {
      "get": {
        "tags": [
          "Financial Metrics"
        ],
        "operationId": "getFinancialMetricsSnapshot",
        "summary": "财务指标快照（实时）",
        "description": "获取股票的实时财务指标快照，包括估值比率、盈利能力、运营效率、流动性、杠杆水平、增长指标和每股指标。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "公司的股票代码。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "description": "公司的中央索引键（CIK）。可代替 ticker 使用。",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "财务指标快照响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialMetricSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/financials/search/screener": {
      "post": {
        "summary": "搜索财务报表",
        "description": "通过筛选损益表、资产负债表和现金流量表中的财务指标来搜索股票。",
        "operationId": "stockScreener",
        "tags": [
          "Financials",
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFiltersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialsScreenerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/earnings": {
      "get": {
        "tags": [
          "Earnings"
        ],
        "operationId": "getEarnings",
        "summary": "获取收益快照",
        "description": "获取某个股票代码的最新收益快照。仅在数据可用时返回可选的预估值/意外值和变动字段。",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "股票代码。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "收益响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "SearchFiltersRequest": {
        "type": "object",
        "required": [
          "filters"
        ],
        "properties": {
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "财务数据的时间段。"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 100,
            "description": "要返回的最大结果数量。"
          },
          "order_by": {
            "type": "string",
            "enum": [
              "ticker",
              "-ticker",
              "report_period",
              "-report_period"
            ],
            "default": "ticker",
            "description": "用于对结果排序的字段。使用 -field 按降序排列。"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR",
              "GBP",
              "JPY",
              "CHF",
              "AUD",
              "CAD",
              "SEK"
            ],
            "description": "财务数据的货币。"
          },
          "historical": {
            "type": "boolean",
            "default": false,
            "description": "是否返回历史财务数据。"
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field",
                "operator",
                "value"
              ],
              "properties": {
                "field": {
                  "type": "string",
                  "description": "筛选条件。对于财务指标字段，请使用 'gt'、'lt'、'gte'、'lte'、'eq' 运算符。对于 'ticker' 和 'cik' 字段，请使用 'in' 运算符筛选多个值。"
                },
                "operator": {
                  "type": "string",
                  "enum": [
                    "gt",
                    "lt",
                    "gte",
                    "lte",
                    "eq",
                    "in"
                  ],
                  "description": "比较运算符。'in' 运算符只能用于字段值为 'ticker' 或 'cik' 的情况，并允许根据多个值进行筛选。"
                },
                "value": {
                  "oneOf": [
                    {
                      "type": "number",
                      "description": "单值运算符（gt、lt、gte、lte、eq）的比较值"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "使用 'in' 运算符时用于比较的 ticker 或 cik 值数组"
                    }
                  ]
                }
              }
            },
            "minItems": 1,
            "description": "应用于搜索的筛选器对象数组。"
          }
        }
      },
      "SearchLineItemsRequest": {
        "type": "object",
        "required": [
          "line_items",
          "tickers"
        ],
        "properties": {
          "line_items": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "要搜索的财务指标。"
            },
            "minItems": 1,
            "description": "要应用于搜索的行项目数组。"
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "要搜索的股票代码。"
            },
            "minItems": 1,
            "description": "要应用于搜索的股票代码数组。"
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "财务数据的时间段。"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "要返回的最大结果数量。"
          }
        }
      },
      "FinancialsSearchResponse": {
        "type": "object",
        "properties": {
          "search_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ticker": {
                  "type": "string",
                  "description": "公司的股票代码。"
                },
                "report_period": {
                  "type": "string",
                  "format": "date",
                  "description": "财务数据的报告期。"
                },
                "period": {
                  "type": "string",
                  "enum": [
                    "annual",
                    "quarterly",
                    "ttm"
                  ],
                  "description": "财务数据的时间周期。"
                },
                "currency": {
                  "type": "string",
                  "description": "财务数据的货币。"
                }
              },
              "additionalProperties": {
                "type": "string",
                "description": "基于搜索条件的其他财务指标。"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "简短的错误消息。"
          },
          "message": {
            "type": "string",
            "description": "更详细的错误消息。"
          }
        }
      },
      "InsiderTradesResponse": {
        "type": "object",
        "properties": {
          "insider_trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsiderTrade"
            }
          }
        }
      },
      "FinancialsResponse": {
        "type": "object",
        "properties": {
          "financials": {
            "type": "object",
            "properties": {
              "income_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncomeStatement"
                }
              },
              "balance_sheets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BalanceSheet"
                }
              },
              "cash_flow_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CashFlowStatement"
                }
              }
            }
          }
        }
      },
      "IncomeStatementResponse": {
        "type": "object",
        "properties": {
          "income_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomeStatement"
            }
          }
        }
      },
      "BalanceSheetResponse": {
        "type": "object",
        "properties": {
          "balance_sheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BalanceSheet"
            }
          }
        }
      },
      "CashFlowStatementResponse": {
        "type": "object",
        "properties": {
          "cash_flow_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CashFlowStatement"
            }
          }
        }
      },
      "CompanyFactsResponse": {
        "type": "object",
        "properties": {
          "company_facts": {
            "$ref": "#/components/schemas/CompanyFacts"
          }
        }
      },
      "FilingsResponse": {
        "type": "object",
        "properties": {
          "filings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filing"
            }
          }
        }
      },
      "FilingItemsResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "公司的股票代码。"
          },
          "cik": {
            "type": "string",
            "description": "公司的中央索引键（CIK）。"
          },
          "filing_type": {
            "type": "string",
            "description": "申报文件的类型。"
          },
          "accession_number": {
            "type": "string",
            "description": "申报文件的登记号。"
          },
          "year": {
            "type": "integer",
            "description": "申报年份。"
          },
          "quarter": {
            "type": "integer",
            "description": "申报文件所属季度。"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingItem"
            }
          }
        }
      },
      "PriceSnapshotResponse": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/PriceSnapshot"
          }
        }
      },
      "CryptoPriceSnapshotResponse": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/CryptoPriceSnapshot"
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "news": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/News"
            }
          }
        }
      },
      "PricesResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          },
          "next_page_url": {
            "type": "string",
            "description": "下一页结果的 URL。"
          }
        }
      },
      "CryptoPricesResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          }
        }
      },
      "InsiderTrade": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "公司的股票代码。"
          },
          "issuer": {
            "type": "string",
            "description": "发行公司的名称。"
          },
          "name": {
            "type": "string",
            "description": "内部人士的姓名。"
          },
          "title": {
            "type": "string",
            "description": "内部人士的职称。"
          },
          "is_board_director": {
            "type": "boolean",
            "description": "该内部人士是否为董事会成员。"
          },
          "transaction_date": {
            "type": "string",
            "format": "date",
            "description": "交易日期。"
          },
          "transaction_shares": {
            "type": "number",
            "description": "交易涉及的股份数量。"
          },
          "transaction_price_per_share": {
            "type": "number",
            "description": "交易中的每股价格。"
          },
          "transaction_value": {
            "type": "number",
            "description": "交易总价值。"
          },
          "shares_owned_before_transaction": {
            "type": "number",
            "description": "交易前持有的股份数量。"
          },
          "shares_owned_after_transaction": {
            "type": "number",
            "description": "交易后持有的股份数量。"
          },
          "security_title": {
            "type": "string",
            "description": "交易所涉及证券的名称。"
          },
          "filing_date": {
            "type": "string",
            "format": "date",
            "description": "交易申报日期。"
          }
        }
      },
      "InstitutionalOwnership": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "按投资者查询时的股票代码。"
          },
          "investor": {
            "type": "string",
            "description": "按 ticker 查询时的投资者名称。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "机构持股的报告期。"
          },
          "price": {
            "type": "number",
            "description": "权益头寸的估算买入价格。"
          },
          "shares": {
            "type": "number",
            "description": "投资经理持有的股份数量。"
          },
          "market_value": {
            "type": "number",
            "description": "股票头寸的市场价值。"
          }
        }
      },
      "SegmentedRevenues": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "收入的报告期。"
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "annual"
            ],
            "description": "收入的时间周期。"
          },
          "items": {
            "type": "array",
            "description": "SEC 申报文件（10-K 和 10-Q）中采用 XBRL 格式的营收分部数组",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "收入细分的名称。"
                },
                "amount": {
                  "type": "number",
                  "description": "指定财务指标所报告的数值金额，以公司的报告货币表示；默认为 USD。"
                },
                "end_period": {
                  "type": "string",
                  "format": "date",
                  "nullable": true,
                  "description": "收入分段的结束期间。仅为季度数据提供。"
                },
                "start_period": {
                  "type": "string",
                  "format": "date",
                  "nullable": true,
                  "description": "收入分部的起始期间。仅为季度数据提供。"
                },
                "segments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "收入分部的标签。"
                      },
                      "type": {
                        "type": "string",
                        "description": "收入分段的类型。"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IncomeStatement": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "利润表的报告期。"
          },
          "fiscal_period": {
            "type": "string",
            "description": "利润表的财务期间。"
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "损益表的时间周期。"
          },
          "currency": {
            "type": "string",
            "description": "财务数据的报告币种。"
          },
          "revenue": {
            "type": "number",
            "nullable": false,
            "description": "公司的总收入。"
          },
          "cost_of_revenue": {
            "type": "number",
            "nullable": false,
            "description": "公司的营业成本。"
          },
          "gross_profit": {
            "type": "number",
            "nullable": false,
            "description": "公司的毛利润。"
          },
          "operating_expense": {
            "type": "number",
            "nullable": false,
            "description": "公司的运营费用。"
          },
          "selling_general_and_administrative_expenses": {
            "type": "number",
            "nullable": false,
            "description": "公司的销售、一般及管理费用。"
          },
          "research_and_development": {
            "type": "number",
            "nullable": false,
            "description": "该公司的研发费用。"
          },
          "operating_income": {
            "type": "number",
            "nullable": false,
            "description": "公司的营业利润。"
          },
          "interest_expense": {
            "type": "number",
            "nullable": false,
            "description": "公司的利息支出。"
          },
          "ebit": {
            "type": "number",
            "nullable": false,
            "description": "公司的息税前利润。"
          },
          "income_tax_expense": {
            "type": "number",
            "nullable": false,
            "description": "公司的所得税费用。"
          },
          "net_income_discontinued_operations": {
            "type": "number",
            "nullable": false,
            "description": "公司的终止经营净利润。"
          },
          "net_income_non_controlling_interests": {
            "type": "number",
            "nullable": false,
            "description": "公司的非控股权益净利润。"
          },
          "net_income": {
            "type": "number",
            "nullable": false,
            "description": "公司的净利润。"
          },
          "net_income_common_stock": {
            "type": "number",
            "nullable": false,
            "description": "公司普通股股东可获得的净利润。"
          },
          "preferred_dividends_impact": {
            "type": "number",
            "nullable": false,
            "description": "优先股股息对公司净利润的影响。"
          },
          "consolidated_income": {
            "type": "number",
            "nullable": false,
            "description": "公司的合并收入。"
          },
          "earnings_per_share": {
            "type": "number",
            "nullable": false,
            "description": "公司的每股收益。"
          },
          "earnings_per_share_diluted": {
            "type": "number",
            "nullable": false,
            "description": "公司的稀释每股收益。"
          },
          "dividends_per_common_share": {
            "type": "number",
            "nullable": false,
            "description": "公司的每股普通股股息。"
          },
          "weighted_average_shares": {
            "type": "number",
            "nullable": false,
            "description": "公司的加权平均股数。"
          },
          "weighted_average_shares_diluted": {
            "type": "number",
            "nullable": false,
            "description": "公司的稀释加权平均股数。"
          }
        }
      },
      "BalanceSheet": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "资产负债表的报告期。"
          },
          "fiscal_period": {
            "type": "string",
            "description": "资产负债表的会计期间。"
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "资产负债表的时间周期。"
          },
          "currency": {
            "type": "string",
            "description": "财务数据的报告币种。"
          },
          "total_assets": {
            "type": "number",
            "nullable": false,
            "description": "公司的总资产。"
          },
          "current_assets": {
            "type": "number",
            "nullable": false,
            "description": "公司的流动资产。"
          },
          "cash_and_equivalents": {
            "type": "number",
            "nullable": false,
            "description": "公司的现金及现金等价物。"
          },
          "inventory": {
            "type": "number",
            "nullable": false,
            "description": "公司的库存。"
          },
          "current_investments": {
            "type": "number",
            "nullable": false,
            "description": "公司的当前投资。"
          },
          "trade_and_non_trade_receivables": {
            "type": "number",
            "nullable": false,
            "description": "公司的贸易及非贸易应收款项。"
          },
          "non_current_assets": {
            "type": "number",
            "nullable": false,
            "description": "公司的非流动资产。"
          },
          "property_plant_and_equipment": {
            "type": "number",
            "nullable": false,
            "description": "公司的不动产、厂房和设备。"
          },
          "goodwill_and_intangible_assets": {
            "type": "number",
            "nullable": false,
            "description": "公司的商誉和无形资产。"
          },
          "investments": {
            "type": "number",
            "nullable": false,
            "description": "公司的投资项目。"
          },
          "non_current_investments": {
            "type": "number",
            "nullable": false,
            "description": "公司的非流动投资。"
          },
          "outstanding_shares": {
            "type": "number",
            "nullable": false,
            "description": "公司的流通股数量。"
          },
          "tax_assets": {
            "type": "number",
            "nullable": false,
            "description": "公司的税项资产。"
          },
          "total_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "公司的负债总额。"
          },
          "current_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "公司的流动负债。"
          },
          "current_debt": {
            "type": "number",
            "nullable": false,
            "description": "公司的当前债务。"
          },
          "trade_and_non_trade_payables": {
            "type": "number",
            "nullable": false,
            "description": "公司的贸易及非贸易应付款项。"
          },
          "deferred_revenue": {
            "type": "number",
            "nullable": false,
            "description": "公司的递延收入。"
          },
          "deposit_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "公司的存款负债。"
          },
          "non_current_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "公司的非流动负债。"
          },
          "non_current_debt": {
            "type": "number",
            "nullable": false,
            "description": "公司的非流动负债。"
          },
          "tax_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "公司的纳税义务。"
          },
          "shareholders_equity": {
            "type": "number",
            "nullable": false,
            "description": "公司的股东权益。"
          },
          "retained_earnings": {
            "type": "number",
            "nullable": false,
            "description": "公司的留存收益。"
          },
          "accumulated_other_comprehensive_income": {
            "type": "number",
            "nullable": false,
            "description": "公司的累计其他综合收益。"
          },
          "total_debt": {
            "type": "number",
            "nullable": false,
            "description": "公司的债务总额。"
          }
        }
      },
      "CashFlowStatement": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "现金流量表的报告期间。"
          },
          "fiscal_period": {
            "type": "string",
            "description": "现金流量表的财政期间。"
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "现金流量表的时间周期。"
          },
          "currency": {
            "type": "string",
            "description": "财务数据的报告币种。"
          },
          "net_income": {
            "type": "number",
            "nullable": false,
            "description": "公司的净利润。"
          },
          "depreciation_and_amortization": {
            "type": "number",
            "nullable": false,
            "description": "公司的折旧与摊销。"
          },
          "share_based_compensation": {
            "type": "number",
            "nullable": false,
            "description": "公司的股份支付薪酬。"
          },
          "net_cash_flow_from_operations": {
            "type": "number",
            "nullable": false,
            "description": "公司的经营活动净现金流。"
          },
          "capital_expenditure": {
            "type": "number",
            "nullable": false,
            "description": "公司的资本支出。"
          },
          "business_acquisitions_and_disposals": {
            "type": "number",
            "nullable": false,
            "description": "公司的业务收购与处置。"
          },
          "investment_acquisitions_and_disposals": {
            "type": "number",
            "nullable": false,
            "description": "公司的投资收购与处置。"
          },
          "net_cash_flow_from_investing": {
            "type": "number",
            "nullable": false,
            "description": "公司的投资活动现金流量净额。"
          },
          "issuance_or_repayment_of_debt_securities": {
            "type": "number",
            "nullable": false,
            "description": "公司债务证券的发行或偿还。"
          },
          "issuance_or_purchase_of_equity_shares": {
            "type": "number",
            "nullable": false,
            "description": "公司股权股份的发行或购买。"
          },
          "dividends_and_other_cash_distributions": {
            "type": "number",
            "nullable": false,
            "description": "公司的股息及其他现金分配。"
          },
          "net_cash_flow_from_financing": {
            "type": "number",
            "nullable": false,
            "description": "公司的融资活动现金流量净额。"
          },
          "change_in_cash_and_equivalents": {
            "type": "number",
            "nullable": false,
            "description": "公司的现金及现金等价物变动额。"
          },
          "effect_of_exchange_rate_changes": {
            "type": "number",
            "nullable": false,
            "description": "汇率变动对公司的影响。"
          },
          "ending_cash_balance": {
            "type": "number",
            "nullable": false,
            "description": "公司的期末现金余额。"
          },
          "free_cash_flow": {
            "type": "number",
            "nullable": false,
            "description": "公司的自由现金流。"
          }
        }
      },
      "CompanyFacts": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "公司的股票代码。"
          },
          "name": {
            "type": "string",
            "description": "公司名称。"
          },
          "cik": {
            "type": "string",
            "description": "公司的中央索引键（CIK）。"
          },
          "industry": {
            "type": "string",
            "description": "公司的所属行业。"
          },
          "sector": {
            "type": "string",
            "description": "公司所属行业。"
          },
          "category": {
            "type": "string",
            "description": "公司的类别。"
          },
          "exchange": {
            "type": "string",
            "description": "公司所在的交易所。"
          },
          "is_active": {
            "type": "boolean",
            "description": "公司当前是否处于活跃状态。"
          },
          "listing_date": {
            "type": "string",
            "format": "date",
            "description": "公司在证券交易所上市的日期。"
          },
          "location": {
            "type": "string",
            "description": "公司所在地。"
          },
          "market_cap": {
            "type": "number",
            "description": "公司的市值。"
          },
          "number_of_employees": {
            "type": "number",
            "description": "公司的员工人数。"
          },
          "sec_filings_url": {
            "type": "string",
            "format": "uri",
            "description": "公司的 SEC 申报文件 URL。"
          },
          "sic_code": {
            "type": "string",
            "description": "公司的标准行业分类（SIC）代码。"
          },
          "sic_industry": {
            "type": "string",
            "description": "根据 SIC 代码确定的公司所属行业。"
          },
          "sic_sector": {
            "type": "string",
            "description": "基于 SIC 代码确定的公司行业。"
          },
          "website_url": {
            "type": "string",
            "format": "uri",
            "description": "公司网站的 URL。"
          },
          "weighted_average_shares": {
            "type": "number",
            "description": "公司的加权平均股数。"
          }
        }
      },
      "Filing": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer",
            "description": "公司的中央索引键（CIK）。"
          },
          "accession_number": {
            "type": "string",
            "description": "申报文件的登记号。"
          },
          "filing_type": {
            "type": "string",
            "description": "SEC 申报文件的类型（例如 10-Q、8-K）。"
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "报告日期。"
          },
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "SEC 申报文件的 URL。"
          }
        }
      },
      "FilingItem": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "项目编号。"
          },
          "name": {
            "type": "string",
            "description": "项目名称。"
          },
          "text": {
            "type": "string",
            "description": "项目文本。"
          }
        }
      },
      "PressRelease": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "公司的股票代码。"
          },
          "title": {
            "type": "string",
            "description": "新闻稿的标题。"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "新闻稿的 URL。"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "新闻稿的发布日期。"
          },
          "text": {
            "type": "string",
            "description": "新闻稿的完整文本。"
          }
        }
      },
      "PriceSnapshot": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "股票的当前价格。"
          },
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "day_change": {
            "type": "number",
            "description": "相较于前一交易日收盘价的价格变动。"
          },
          "day_change_percent": {
            "type": "number",
            "description": "自上一交易日收盘以来的价格变动百分比。"
          },
          "market_cap": {
            "type": "number",
            "description": "公司的市值。"
          },
          "time": {
            "type": "string",
            "description": "价格快照的 UTC 人类可读格式时间戳。"
          },
          "time_milliseconds": {
            "type": "number",
            "description": "价格快照的时间戳，以自纪元以来的毫秒数表示。"
          }
        }
      },
      "CryptoPriceSnapshot": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "加密货币的当前价格。"
          },
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "day_change": {
            "type": "number",
            "description": "过去 24 小时内的价格变化。"
          },
          "day_change_percent": {
            "type": "number",
            "description": "过去 24 小时内的价格变动百分比。"
          },
          "time": {
            "type": "string",
            "description": "价格快照的 UTC 人类可读格式时间戳。"
          }
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "title": {
            "type": "string",
            "description": "新闻文章的标题。"
          },
          "author": {
            "type": "string",
            "description": "新闻文章的作者。"
          },
          "source": {
            "type": "string",
            "description": "新闻文章的来源。"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "新闻文章的发布日期。"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "新闻文章的 URL。"
          },
          "sentiment": {
            "type": "string",
            "description": "新闻文章的情感倾向。"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "open": {
            "type": "number",
            "description": "指定时间段内该股票代码的开盘价。"
          },
          "close": {
            "type": "number",
            "description": "ticker 在给定时间段内的收盘价。"
          },
          "high": {
            "type": "number",
            "description": "指定时间段内该股票代码的最高价格。"
          },
          "low": {
            "type": "number",
            "description": "指定时间段内该股票代码的最低价格。"
          },
          "volume": {
            "type": "integer",
            "format": "number",
            "description": "指定时间段内该股票代码的成交量。"
          },
          "time": {
            "type": "string",
            "description": "以人类可读格式表示的 UTC 价格时间。"
          },
          "time_milliseconds": {
            "type": "number",
            "description": "价格的时间戳，以自纪元以来的毫秒数表示。"
          }
        }
      },
      "FinancialMetricsResponse": {
        "type": "object",
        "properties": {
          "financial_metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FinancialMetric"
            },
            "description": "所请求股票代码的历史财务指标和比率。"
          }
        }
      },
      "AnalystEstimatesResponse": {
        "type": "object",
        "properties": {
          "analyst_estimates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalystEstimate"
            }
          }
        }
      },
      "AnalystEstimate": {
        "type": "object",
        "properties": {
          "fiscal_period": {
            "type": "string",
            "format": "date",
            "description": "分析师预估的财务期间。"
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly"
            ],
            "description": "分析师预估的周期。"
          },
          "revenue": {
            "type": "integer",
            "description": "预估收入。"
          },
          "earnings_per_share": {
            "type": "number",
            "description": "预估每股收益。"
          }
        }
      },
      "EarningsTimeDimension": {
        "type": "object",
        "properties": {
          "fiscal_period": {
            "type": "string",
            "nullable": true,
            "description": "财政期间标签（例如 2025-Q4 或 2025-FY）。"
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 货币代码（例如 USD）。"
          },
          "revenue": {
            "type": "number",
            "nullable": true
          },
          "estimated_revenue": {
            "type": "number",
            "description": "预估营收。仅在有数据时返回。"
          },
          "revenue_surprise": {
            "type": "string",
            "description": "实际营收相较预估值的意外分类。仅在可用时返回。",
            "enum": [
              "BEAT",
              "MISS",
              "MEET"
            ]
          },
          "earnings_per_share": {
            "type": "number",
            "nullable": true
          },
          "estimated_earnings_per_share": {
            "type": "number",
            "description": "预估每股收益。仅在可用时返回。"
          },
          "eps_surprise": {
            "type": "string",
            "description": "每股收益相对于预估值的意外程度分类。仅在可用时返回。",
            "enum": [
              "BEAT",
              "MISS",
              "MEET"
            ]
          },
          "net_income": {
            "type": "number",
            "nullable": true
          },
          "gross_profit": {
            "type": "number",
            "nullable": true
          },
          "operating_income": {
            "type": "number",
            "nullable": true
          },
          "weighted_average_shares": {
            "type": "number",
            "nullable": true
          },
          "weighted_average_shares_diluted": {
            "type": "number",
            "nullable": true
          },
          "cash_and_equivalents": {
            "type": "number",
            "nullable": true
          },
          "total_debt": {
            "type": "number",
            "nullable": true
          },
          "total_assets": {
            "type": "number",
            "nullable": true
          },
          "total_liabilities": {
            "type": "number",
            "nullable": true
          },
          "shareholders_equity": {
            "type": "number",
            "nullable": true
          },
          "net_cash_flow_from_operations": {
            "type": "number",
            "nullable": true
          },
          "capital_expenditure": {
            "type": "number",
            "nullable": true
          },
          "net_cash_flow_from_investing": {
            "type": "number",
            "nullable": true
          },
          "net_cash_flow_from_financing": {
            "type": "number",
            "nullable": true
          },
          "change_in_cash_and_equivalents": {
            "type": "number",
            "nullable": true
          },
          "free_cash_flow": {
            "type": "number",
            "nullable": true
          },
          "revenue_chg": {
            "type": "number",
            "description": "营收变化百分比。季度数据中为环比（QoQ），年度数据中为同比（YoY）。仅在可计算时返回。"
          },
          "net_income_chg": {
            "type": "number",
            "description": "净利润变化百分比。季度负载中为环比（QoQ），年度负载中为同比（YoY）。仅在可计算时返回。"
          },
          "operating_income_chg": {
            "type": "number",
            "description": "营业利润的百分比变化。季度数据中为环比（QoQ），年度数据中为同比（YoY）。仅在可计算时返回。"
          },
          "gross_profit_chg": {
            "type": "number",
            "description": "毛利润的百分比变化。季度载荷中为 QoQ，年度载荷中为 YoY。仅在可计算时返回。"
          },
          "net_cash_flow_from_operations_chg": {
            "type": "number",
            "description": "经营活动产生的现金流量净额百分比变化。季度数据载荷中为环比，年度数据载荷中为同比。仅在可计算时返回。"
          },
          "net_cash_flow_from_investing_chg": {
            "type": "number",
            "description": "投资活动产生的现金流量净额百分比变化。季度数据载荷中为环比，年度数据载荷中为同比。仅在可计算时返回。"
          },
          "net_cash_flow_from_financing_chg": {
            "type": "number",
            "description": "融资活动产生的现金流量净额百分比变化。季度数据载荷中为环比，年度数据载荷中为同比。仅在可计算时返回。"
          },
          "free_cash_flow_chg": {
            "type": "number",
            "description": "自由现金流的百分比变化。季度数据中为环比，年度数据中为同比。仅在可计算时返回。"
          }
        }
      },
      "Earnings": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "请求的股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "为该股票代码找到的最新报告期。"
          },
          "fiscal_period": {
            "type": "string",
            "nullable": true,
            "description": "财政期间标签（例如 2025-Q4 或 2025-FY）。"
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 货币代码（例如 USD）。"
          },
          "quarterly": {
            "$ref": "#/components/schemas/EarningsTimeDimension"
          },
          "annual": {
            "$ref": "#/components/schemas/EarningsTimeDimension"
          }
        }
      },
      "EarningsResponse": {
        "type": "object",
        "properties": {
          "earnings": {
            "$ref": "#/components/schemas/Earnings"
          }
        }
      },
      "Beta": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "nullable": true,
            "description": "股票月度收益率相对于基准月度收益率的 Beta 系数。"
          },
          "ticker": {
            "type": "string",
            "description": "请求的股票代码。"
          },
          "benchmark": {
            "type": "string",
            "description": "用于计算贝塔系数的基准股票代码。"
          },
          "requested_lookback": {
            "type": "string",
            "description": "请求的回溯时间窗口。"
          },
          "interval": {
            "type": "string",
            "description": "用于收益率对齐的时间间隔。"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "使用的第一个对齐月末日期。"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "使用的最近对齐月末日期。"
          },
          "n_observations": {
            "type": "integer",
            "description": "使用的重叠月度观测值数量。"
          },
          "r_squared": {
            "type": "number",
            "nullable": true,
            "description": "OLS 拟合的决定系数。"
          },
          "method": {
            "type": "string",
            "description": "使用的计算方法。"
          },
          "price_type": {
            "type": "string",
            "description": "用于计算收益率的价格类型。"
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "description": "当输入数据不足或无效导致值为 null 时存在。"
          }
        }
      },
      "BetaResponse": {
        "type": "object",
        "properties": {
          "beta": {
            "$ref": "#/components/schemas/Beta"
          }
        }
      },
      "PriceSnapshotMarketResponse": {
        "type": "object",
        "properties": {
          "snapshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceSnapshot"
            }
          }
        }
      },
      "TickersResponse": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string",
            "description": "资源类型标识符。"
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "可用股票代码列表。"
          }
        }
      },
      "CiksResponse": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string",
            "description": "资源类型标识符。"
          },
          "ciks": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "可用 CIK 代码列表。"
          }
        }
      },
      "FinancialMetricSnapshotResponse": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/FinancialMetricSnapshot"
          }
        }
      },
      "FinancialMetricSnapshot": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "公司的股票代码。"
          },
          "market_cap": {
            "type": "number",
            "nullable": true,
            "description": "总市值（股票价格 × 流通股数）。"
          },
          "enterprise_value": {
            "type": "number",
            "nullable": true,
            "description": "公司的总价值（市值 + 债务 - 现金）。"
          },
          "price_to_earnings_ratio": {
            "type": "number",
            "nullable": true,
            "description": "市盈率。"
          },
          "price_to_book_ratio": {
            "type": "number",
            "nullable": true,
            "description": "市净率。"
          },
          "price_to_sales_ratio": {
            "type": "number",
            "nullable": true,
            "description": "市销率。"
          },
          "enterprise_value_to_ebitda_ratio": {
            "type": "number",
            "nullable": true,
            "description": "企业价值与 EBITDA 的比率。"
          },
          "enterprise_value_to_revenue_ratio": {
            "type": "number",
            "nullable": true,
            "description": "企业价值与营收之比。"
          },
          "free_cash_flow_yield": {
            "type": "number",
            "nullable": true,
            "description": "自由现金流收益率。"
          },
          "peg_ratio": {
            "type": "number",
            "nullable": true,
            "description": "市盈增长比率。"
          },
          "gross_margin": {
            "type": "number",
            "nullable": true,
            "description": "毛利润占营收的百分比。"
          },
          "operating_margin": {
            "type": "number",
            "nullable": true,
            "description": "营业收入占营收的百分比。"
          },
          "net_margin": {
            "type": "number",
            "nullable": true,
            "description": "净利润占收入的百分比。"
          },
          "return_on_equity": {
            "type": "number",
            "nullable": true,
            "description": "净利润占股东权益的百分比。"
          },
          "return_on_assets": {
            "type": "number",
            "nullable": true,
            "description": "净利润占总资产的百分比。"
          },
          "return_on_invested_capital": {
            "type": "number",
            "nullable": true,
            "description": "税后净营业利润占投入资本的百分比。"
          },
          "asset_turnover": {
            "type": "number",
            "nullable": true,
            "description": "营收除以平均总资产。"
          },
          "inventory_turnover": {
            "type": "number",
            "nullable": true,
            "description": "销售成本除以平均存货。"
          },
          "receivables_turnover": {
            "type": "number",
            "nullable": true,
            "description": "收入除以平均应收账款。"
          },
          "days_sales_outstanding": {
            "type": "number",
            "nullable": true,
            "description": "该期间的平均应收账款除以收入。"
          },
          "operating_cycle": {
            "type": "number",
            "nullable": true,
            "description": "存货周转率 + 应收账款周转率。"
          },
          "working_capital_turnover": {
            "type": "number",
            "nullable": true,
            "description": "收入除以平均营运资本。"
          },
          "current_ratio": {
            "type": "number",
            "nullable": true,
            "description": "流动资产除以流动负债。"
          },
          "quick_ratio": {
            "type": "number",
            "nullable": true,
            "description": "速动资产除以流动负债。"
          },
          "cash_ratio": {
            "type": "number",
            "nullable": true,
            "description": "现金及现金等价物除以流动负债。"
          },
          "operating_cash_flow_ratio": {
            "type": "number",
            "nullable": true,
            "description": "经营现金流除以流动负债。"
          },
          "debt_to_equity": {
            "type": "number",
            "nullable": true,
            "description": "总债务除以股东权益。"
          },
          "debt_to_assets": {
            "type": "number",
            "nullable": true,
            "description": "总债务除以总资产。"
          },
          "interest_coverage": {
            "type": "number",
            "nullable": true,
            "description": "EBIT 除以利息支出。"
          },
          "revenue_growth": {
            "type": "number",
            "nullable": true,
            "description": "营收同比增长率。"
          },
          "earnings_growth": {
            "type": "number",
            "nullable": true,
            "description": "盈利同比增长率。"
          },
          "book_value_growth": {
            "type": "number",
            "nullable": true,
            "description": "账面价值同比增长率。"
          },
          "earnings_per_share_growth": {
            "type": "number",
            "nullable": true,
            "description": "该期间内每股收益的增长。"
          },
          "free_cash_flow_growth": {
            "type": "number",
            "nullable": true,
            "description": "该期间内自由现金流的增长。"
          },
          "operating_income_growth": {
            "type": "number",
            "nullable": true,
            "description": "该期间的营业利润增长额。"
          },
          "ebitda_growth": {
            "type": "number",
            "nullable": true,
            "description": "期内 EBITDA 增长。"
          },
          "payout_ratio": {
            "type": "number",
            "nullable": true,
            "description": "已支付股息占净利润的百分比。"
          },
          "earnings_per_share": {
            "type": "number",
            "nullable": true,
            "description": "净利润除以加权平均流通股数。"
          },
          "book_value_per_share": {
            "type": "number",
            "nullable": true,
            "description": "股东权益除以流通股数。"
          },
          "free_cash_flow_per_share": {
            "type": "number",
            "nullable": true,
            "description": "自由现金流除以流通股数。"
          }
        }
      },
      "InterestRatesResponse": {
        "type": "object",
        "properties": {
          "interest_rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InterestRate"
            }
          }
        }
      },
      "SegmentBreakdown": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "分段的标签（例如，“iPhone”、“Americas”）。"
          },
          "value": {
            "type": "number",
            "description": "分段的值。"
          }
        }
      },
      "SegmentCategory": {
        "type": "object",
        "description": "按类别分组的细分明细。",
        "properties": {
          "product": {
            "type": "array",
            "description": "按产品线细分。",
            "items": {
              "$ref": "#/components/schemas/SegmentBreakdown"
            }
          },
          "segment": {
            "type": "array",
            "description": "按业务或运营分部细分。",
            "items": {
              "$ref": "#/components/schemas/SegmentBreakdown"
            }
          }
        }
      },
      "SegmentMetadata": {
        "type": "object",
        "description": "所有分部响应的通用元数据字段。",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。"
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "报告周期。"
          },
          "fiscal_period": {
            "type": "string",
            "description": "财务期间（例如 Q1、Q2、Q3、Q4、FY）。"
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "annual"
            ],
            "description": "时间段。"
          },
          "currency": {
            "type": "string",
            "description": "报告货币（例如 USD、EUR、GBP）。"
          },
          "accession_number": {
            "type": "string",
            "description": "SEC 申报文件的受理编号。"
          },
          "filing_url": {
            "type": "string",
            "description": "SEC 申报文件的 URL。"
          }
        }
      },
      "IncomeStatementSegments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SegmentMetadata"
          },
          {
            "type": "object",
            "properties": {
              "revenue": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按产品和/或业务分部细分的收入。"
              },
              "operating_income": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按业务分部细分的营业利润。"
              },
              "depreciation": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按业务分部细分的折旧。"
              }
            }
          }
        ]
      },
      "BalanceSheetSegments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SegmentMetadata"
          },
          {
            "type": "object",
            "properties": {
              "assets": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按细分划分的资产。"
              },
              "goodwill": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按业务分部细分的商誉。"
              },
              "long_lived_assets": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按业务分部细分的长期资产。"
              }
            }
          }
        ]
      },
      "CashFlowStatementSegments": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SegmentMetadata"
          },
          {
            "type": "object",
            "properties": {
              "capital_expenditure": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SegmentCategory"
                  }
                ],
                "description": "按业务分部细分的资本支出。"
              }
            }
          }
        ]
      },
      "IncomeStatementSegmentsResponse": {
        "type": "object",
        "properties": {
          "segmented_financials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomeStatementSegments"
            }
          }
        }
      },
      "BalanceSheetSegmentsResponse": {
        "type": "object",
        "properties": {
          "segmented_financials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BalanceSheetSegments"
            }
          }
        }
      },
      "CashFlowStatementSegmentsResponse": {
        "type": "object",
        "properties": {
          "segmented_financials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CashFlowStatementSegments"
            }
          }
        }
      },
      "SegmentedFinancialsResponse": {
        "type": "object",
        "properties": {
          "segmented_financials": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SegmentMetadata"
                },
                {
                  "type": "object",
                  "properties": {
                    "income_statement": {
                      "type": "object",
                      "nullable": true,
                      "description": "本期利润表的分部明细。",
                      "properties": {
                        "revenue": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        },
                        "operating_income": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        },
                        "depreciation": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        }
                      }
                    },
                    "balance_sheet": {
                      "type": "object",
                      "nullable": true,
                      "description": "本期资产负债表分部明细。",
                      "properties": {
                        "assets": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        },
                        "goodwill": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        },
                        "long_lived_assets": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        }
                      }
                    },
                    "cash_flow_statement": {
                      "type": "object",
                      "nullable": true,
                      "description": "此期间的现金流量表分部明细。",
                      "properties": {
                        "capital_expenditure": {
                          "nullable": true,
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/SegmentCategory"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "Exhibit": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "附件编号（例如 '99.1'）。"
          },
          "description": {
            "type": "string",
            "description": "展品的描述。"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "SEC 网站上附件文件的 URL。"
          },
          "text": {
            "type": "string",
            "description": "附件的原始文本内容。仅当 'include_exhibits' 参数设置为 true 时包含。"
          }
        }
      },
      "InterestRate": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "中央银行的符号。"
          },
          "name": {
            "type": "string",
            "description": "中央银行的名称。"
          },
          "rate": {
            "type": "number",
            "description": "中央银行的利率。"
          },
          "date": {
            "type": "string",
            "description": "利率日期，格式为 YYYY-MM-DD。"
          }
        }
      },
      "KPIMetricsResponse": {
        "type": "object",
        "properties": {
          "kpi_metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KPIMetric"
            }
          }
        }
      },
      "KPIMetric": {
        "type": "object",
        "required": [
          "ticker",
          "metric_name",
          "value",
          "unit",
          "period",
          "period_type"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "description": "股票代码。",
            "example": "DAL"
          },
          "metric_name": {
            "type": "string",
            "description": "规范指标名称。",
            "example": "load_factor"
          },
          "value": {
            "type": "number",
            "nullable": true,
            "description": "提取的数值。",
            "example": 82.0
          },
          "unit": {
            "type": "string",
            "description": "计量单位（例如 %、美分、美元、英里、数量）。",
            "example": "%"
          },
          "period": {
            "type": "string",
            "description": "报告期（例如 Q4 2025、FY 2025，或非标准财年的日期，如 2025-04-30）。",
            "example": "Q4 2025"
          },
          "period_type": {
            "type": "string",
            "enum": [
              "quarterly",
              "annual"
            ],
            "description": "此数据是季度数据还是年度数据。",
            "example": "quarterly"
          },
          "segment": {
            "type": "string",
            "nullable": true,
            "description": "业务部门、地理区域或子类别。仅当指标针对子单位而非合并实体报告时存在。",
            "example": "Commercial Engines & Services"
          },
          "yoy_value": {
            "type": "number",
            "nullable": true,
            "description": "与上一期间相比的同比值。",
            "example": 84.0
          },
          "yoy_change_pct": {
            "type": "number",
            "nullable": true,
            "description": "同比百分比变化。",
            "example": -2.381
          },
          "source_text": {
            "type": "string",
            "nullable": true,
            "description": "申报文件中找到此值的原始文本片段。",
            "example": "Passenger load factor"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "SEC 申报文件的直接链接。如果可用，将包含一个文本片段，用于在浏览器中突出显示来源。",
            "example": "https://www.sec.gov/Archives/edgar/data/27904/000002790426000008/deltaairlinesannouncesdece.htm"
          }
        }
      },
      "KPIGuidanceResponse": {
        "type": "object",
        "properties": {
          "kpi_guidance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KPIGuidanceItem"
            }
          }
        }
      },
      "KPIGuidanceItem": {
        "type": "object",
        "required": [
          "ticker",
          "metric_name",
          "period",
          "period_type"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "example": "DAL"
          },
          "metric_name": {
            "type": "string",
            "example": "Operating Margin"
          },
          "value": {
            "type": "number",
            "nullable": true
          },
          "unit": {
            "type": "string",
            "example": "%"
          },
          "period": {
            "type": "string",
            "example": "Q2 2026"
          },
          "period_type": {
            "type": "string",
            "enum": [
              "quarterly",
              "annual"
            ]
          },
          "segment": {
            "type": "string",
            "nullable": true
          },
          "low": {
            "type": "number",
            "nullable": true,
            "description": "引导范围的下限。",
            "example": 6.0
          },
          "high": {
            "type": "number",
            "nullable": true,
            "description": "指引区间上限。",
            "example": 8.0
          },
          "point_estimate": {
            "type": "number",
            "nullable": true,
            "description": "未提供区间时的单点指引。"
          },
          "prior_value": {
            "type": "number",
            "nullable": true,
            "description": "用于修订的先前指引值。"
          },
          "raw_text": {
            "type": "string",
            "nullable": true,
            "description": "申报文件中的原始指引文本。"
          },
          "change_direction": {
            "type": "string",
            "nullable": true,
            "description": "变动方向：上调、下调、维持、首次发布、撤回。",
            "example": "initiated"
          },
          "source_text": {
            "type": "string",
            "nullable": true
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "KPINonGAAPResponse": {
        "type": "object",
        "properties": {
          "kpi_non_gaap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KPINonGAAPMetric"
            }
          }
        }
      },
      "KPINonGAAPMetric": {
        "type": "object",
        "required": [
          "ticker",
          "metric_name",
[...]
