{
  "openapi": "3.0.0",
  "info": {
    "title": "TXYZ Platform API",
    "version": "1.0.0",
    "description": "platform.txyz.ai 服务的 API 文档，包括学术搜索功能",
    "contact": {
      "email": "support@txyz.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "paths": {
    "/scholar/search/mixed": {
      "post": {
        "summary": "结合网页和学术结果的智能搜索",
        "description": "同时搜索网页与学术来源，适合跨在两边的问题。⚠️ 参数放在 **query string** 里：`query`（必填）、`max_num_results`、`as_ylo`/`as_yhi`。返回一个检索 `id` 和 `results[]`；**条目形状随来源变化** —— 每条都有 `title`、`link`、`snippet`，学术来源的还额外带 `authors` 和 `number_of_citations`，所以把这两个字段当作可选的，不要默认它们存在。实测约 3 秒。当你事先不知道哪类来源能回答时用它。已经知道的话，`post_scholar_search_web` 或 `post_scholar_search_scholar` 的返回更可预期。记住 `id`，`post_scholar_search_explain` 要用。",
        "operationId": "post_scholar_search_mixed",
        "tags": [
          "Search",
          "Smart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "学术资料搜索查询",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "返回的搜索结果最大数量，最多 100 条",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "出版年份下限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "出版年份上限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "搜索成功响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/web": {
      "post": {
        "summary": "搜索网络",
        "description": "搜索开放网页，返回一份很精简的结果列表。⚠️ 虽然是 POST，参数却放在 **query string** 里 —— `query`（必填）、`max_num_results`（默认 10，最大 100），以及限定年份区间的 `as_ylo`/`as_yhi`。**不接受 JSON 请求体**。返回一个检索 `id` 和 `results[]`，每条只有 `title`、`link`、`snippet`。实测约 4 秒，响应体约 600 字节。它的长处正是返回得少，适合只需要知道「有什么」的 agent。它不给页面正文 —— 需要正文的话，`post_tavily_search` 在同一次调用里就能返回。记住那个 `id`：`post_scholar_search_explain` 需要它。",
        "operationId": "post_scholar_search_web",
        "tags": [
          "Search",
          "Web"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "学术资料搜索查询",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "返回的搜索结果最大数量，最多 100 条",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "出版年份下限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "出版年份上限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "搜索成功响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/scholar": {
      "post": {
        "summary": "搜索学术论文",
        "description": "搜索学术文献。⚠️ 参数放在 **query string** 里而不是请求体：`query`（必填）、`max_num_results`，以及限定发表年份的 `as_ylo`/`as_yhi`。返回一个检索 `id` 和 `results[]`，含 `title`、`link`、`snippet`、`authors` 和 `number_of_citations` —— 最后这个字段是普通网页搜索给不了的。实测不到 2 秒。当问题需要同行评审来源、或者引用数本身重要时用它。时事和产品页用通用引擎更好：`post_tavily_search`。想两边一起覆盖，用 `post_scholar_search_mixed`。记住 `id`，`post_scholar_search_explain` 要用。",
        "operationId": "post_scholar_search_scholar",
        "tags": [
          "Search",
          "Academic"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "学术资料搜索查询",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "max_num_results",
            "in": "query",
            "description": "返回的搜索结果最大数量，最多 100 条",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "出版年份下限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "出版年份上限",
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1900,
              "maximum": 2030
            }
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "搜索成功响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScholarSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scholar/search/explain": {
      "post": {
        "summary": "解释搜索结果",
        "description": "对一份已经取回的检索结果做解释。和那三个搜索端点不同，这个接收 **JSON 请求体**：`search_id`（必填 —— 由 `post_scholar_search_web`、`post_scholar_search_scholar` 或 `post_scholar_search_mixed` 返回的 `id`），以及 `detail_level`（BRIEF / MODERATE / DETAILED）、`language`、`response_mode`。⚠️ 请用 `response_mode: NON_STREAMING`，它返回 `{\"message\": \"…\"}` 这样的 JSON，实测约 2 KB。COMPLETE 与 INCREMENTAL 模式发的是 server-sent events，而**每个事件都会重复到目前为止的整段答案** —— 同一份解释那样返回实测 177 KB，大约 90 倍，何况一次工具调用本来也没法增量消费流式响应。它只能解释已有的检索，不能自己发起检索。",
        "operationId": "post_scholar_search_explain",
        "tags": [
          "Search",
          "Explanation"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplainSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的解释响应。COMPLETE/INCREMENTAL 流返回 text/event-stream；NON_STREAMING 返回 application/json。 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplainSearchResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "错误请求 - 参数无效",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "未授权 - API 密钥无效或缺失",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "未找到搜索 ID",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "超出速率限制",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "内部服务器错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    },
    "schemas": {
      "ScholarSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "搜索请求的唯一标识符"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScholarResult"
            },
            "description": "学术论文结果列表"
          }
        }
      },
      "ScholarResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet",
          "authors",
          "number_of_citations"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "学术论文标题"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "用于访问完整论文的 URL"
          },
          "snippet": {
            "type": "string",
            "description": "论文的简要摘要或概要"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "作者列表"
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "论文获得的引用次数"
          },
          "year": {
            "type": "integer",
            "description": "出版年份",
            "minimum": 1900,
            "maximum": 2030
          },
          "journal": {
            "type": "string",
            "description": "期刊或会议名称"
          }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "搜索请求的唯一标识符"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebResult"
            },
            "description": "网页搜索结果列表"
          }
        }
      },
      "WebResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "网页标题"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "用于访问网页的 URL"
          },
          "snippet": {
            "type": "string",
            "description": "网页内容的简要摘要或预览"
          },
          "display_url": {
            "type": "string",
            "description": "适合展示的 URL"
          },
          "published_date": {
            "type": "string",
            "format": "date-time",
            "description": "网页的发布日期"
          }
        }
      },
      "SmartSearchResponse": {
        "type": "object",
        "required": [
          "id",
          "results"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "搜索请求的唯一标识符"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartResult"
            },
            "description": "融合网页和学术内容的智能搜索结果列表"
          },
          "search_type": {
            "type": "string",
            "enum": [
              "web",
              "academic",
              "hybrid"
            ],
            "description": "包含的搜索结果类型"
          }
        }
      },
      "SmartResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "结果标题"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "用于访问内容的 URL"
          },
          "snippet": {
            "type": "string",
            "description": "简要摘要"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "作者列表（用于学术内容）"
          },
          "number_of_citations": {
            "type": "integer",
            "minimum": 0,
            "description": "引用数量（针对学术内容）"
          },
          "type": {
            "type": "string",
            "enum": [
              "web",
              "academic"
            ],
            "description": "结果类型"
          },
          "relevance_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "结果的相关性评分"
          }
        }
      },
      "ExplainSearchRequest": {
        "type": "object",
        "required": [
          "search_id"
        ],
        "properties": {
          "search_id": {
            "type": "string",
            "description": "要解释的搜索 ID"
          },
          "response_mode": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "INCREMENTAL",
              "NON_STREAMING"
            ],
            "default": "NON_STREAMING",
            "description": "解释响应的格式。COMPLETE 和 INCREMENTAL 通过服务器发送事件进行流式传输；NON_STREAMING 返回 JSON 响应。"
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "解释所用的语言代码（例如 en、zh、ar）",
            "example": "ar"
          },
          "detail_level": {
            "type": "string",
            "enum": [
              "BRIEF",
              "MODERATE",
              "DETAILED"
            ],
            "default": "MODERATE",
            "description": "解释的详细程度"
          }
        }
      },
      "ExplainSearchResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "生成的说明文本。"
          }
        },
        "description": "当 response_mode 为 NON_STREAMING 时返回的 JSON 解释响应。"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "描述错误原因的错误消息"
          },
          "code": {
            "type": "integer",
            "description": "HTTP 状态码"
          },
          "details": {
            "type": "string",
            "description": "其他错误详情"
          }
        }
      },
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
