{
  "openapi": "3.0.3",
  "info": {
    "title": "AIsa API proxy",
    "description": "预测市场 API。",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/polymarket/markets": {
      "get": {
        "summary": "获取 Polymarket 市场",
        "description": "列出 Polymarket 上的单个预测市场——每个对应一个二元问题——并带实时价格。当你需要某个特定结果的市场隐含概率，或按规模和时间筛选市场时使用；可用 `slug`、`condition_ids`、`clob_token_ids`、`tag_id`、`closed`，以及 `volume_num_*` / `start_date_*` / `end_date_*` 区间进行过滤。\n\n返回顶层的市场对象数组。概率信号来自 `outcomes` 与 `outcomePrices` 的配对，并以 `bestBid` / `bestAsk` 报价；`conditionId` 和 `clobTokenIds` 是与其他 Polymarket 数据关联所需的链上标识符。\n\n如需查看把多个相关问题聚合在一起的话题，请使用 `get_polymarket_events`。如需在受美国监管的 Kalshi 交易所查询同类问题，请使用 `get_kalshi_markets`。",
        "operationId": "get_polymarket_markets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "要返回的最大市场数量。",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "基于偏移量的分页中要跳过的市场数量。",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "用于排序的字段列表，以逗号分隔。",
            "schema": {
              "type": "string",
              "example": "volume"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "为 true 时按升序排序。",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "按一个或多个 Polymarket 市场 ID 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                540817
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "description": "按一个或多个市场 slug 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "new-rhianna-album-before-gta-vi-926"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "clob_token_ids",
            "in": "query",
            "required": false,
            "description": "按一个或多个 CLOB token ID 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "condition_ids",
            "in": "query",
            "required": false,
            "description": "按一个或多个市场条件 ID 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "0x1fad72fae204143ff1c3035e99e7c0f65ea8d5cd9bd1070987bd1a3316f772be"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "volume_num_min",
            "in": "query",
            "required": false,
            "description": "最低总量。",
            "schema": {
              "type": "number",
              "example": 1000
            }
          },
          {
            "name": "volume_num_max",
            "in": "query",
            "required": false,
            "description": "最大总成交量。",
            "schema": {
              "type": "number",
              "example": 1000000
            }
          },
          {
            "name": "start_date_min",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之后开始的市场。",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-01-01T00:00:00Z"
            }
          },
          {
            "name": "start_date_max",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之前开始的市场。",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-01-01T00:00:00Z"
            }
          },
          {
            "name": "end_date_min",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之后结束的市场。",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-01-01T00:00:00Z"
            }
          },
          {
            "name": "end_date_max",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之前结束的市场。",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-01-01T00:00:00Z"
            }
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": false,
            "description": "按标签 ID 筛选。",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "description": "按市场是否已关闭筛选。",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          },
          {
            "name": "include_tag",
            "in": "query",
            "required": false,
            "description": "为 true 时包含标签元数据。",
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Polymarket 市场对象的顶层数组",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "540817"
                      },
                      "question": {
                        "type": "string",
                        "example": "New Rihanna Album before GTA VI?"
                      },
                      "slug": {
                        "type": "string",
                        "example": "new-rhianna-album-before-gta-vi-926"
                      },
                      "conditionId": {
                        "type": "string",
                        "example": "0x1fad72fae204143ff1c3035e99e7c0f65ea8d5cd9bd1070987bd1a3316f772be"
                      },
                      "clobTokenIds": {
                        "description": "Polymarket CLOB token ID。上游 Gamma API 可能会将其编码为 JSON 字符串。",
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        ]
                      },
                      "outcomes": {
                        "description": "市场结果。上游 Gamma API 可能会将其编码为 JSON 字符串。",
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        ]
                      },
                      "outcomePrices": {
                        "description": "结果价格。上游 Gamma API 可能会将其编码为 JSON 字符串。",
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        ]
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "closed": {
                        "type": "boolean"
                      },
                      "liquidity": {
                        "type": "string"
                      },
                      "volume": {
                        "type": "string"
                      },
                      "volumeNum": {
                        "type": "number"
                      },
                      "bestBid": {
                        "type": "number"
                      },
                      "bestAsk": {
                        "type": "number"
                      },
                      "startDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "image": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "错误请求 - 参数无效或验证错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid search parameter"
                    },
                    "message": {
                      "type": "string",
                      "example": "search must be at least 2 characters long"
                    }
                  }
                },
                "examples": {
                  "search_too_short": {
                    "summary": "Search query too short",
                    "value": {
                      "error": "Invalid search parameter",
                      "message": "search must be at least 2 characters long"
                    }
                  },
                  "search_with_other_params": {
                    "summary": "Search with other parameters",
                    "value": {
                      "error": "Invalid query parameters",
                      "message": "search parameter cannot be used with other filter parameters"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch markets data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/events": {
      "get": {
        "summary": "获取 Polymarket 事件",
        "description": "列出 Polymarket 的 events——把相关市场打包在一起的话题级分组，例如一场选举或一个赛季的系列赛。当你想按主题浏览而不是按单个问题查询，或想找出挂在同一条主线下的所有市场时使用；可用 `tag_slug`、`active`、`featured`、`archived`、`closed` 以及流动性 / 成交量区间过滤。\n\n返回顶层的 event 对象数组，包含 `title`、`ticker`、`slug`、`volume`、`volume24hr`、`liquidity`、`startDate` / `endDate`，以及嵌套的 `markets` 数组（其中是可交易的问题）。\n\n如果你已经知道要哪个问题并需要它的价格，请改用 `get_polymarket_markets`。",
        "operationId": "get_polymarket_events",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回的最大事件数。",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "基于偏移量分页时要跳过的事件数量。",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "用于排序的字段列表，以逗号分隔。",
            "schema": {
              "type": "string",
              "example": "volume"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "为 true 时按升序排序。",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "按一个或多个事件 ID 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "description": "按一个或多个事件 slug 筛选。",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": false,
            "description": "按标签 ID 筛选。",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "description": "按标签 slug 筛选。",
            "schema": {
              "type": "string",
              "example": "sports"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "按活跃事件筛选。",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "按已归档事件筛选。",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "required": false,
            "description": "按精选事件筛选。",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "description": "按事件是否已关闭进行筛选。",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "liquidity_min",
            "in": "query",
            "required": false,
            "description": "最低流动性。",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "liquidity_max",
            "in": "query",
            "required": false,
            "description": "最大流动性。",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_min",
            "in": "query",
            "required": false,
            "description": "最小交易量。",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_max",
            "in": "query",
            "required": false,
            "description": "最大搜索量。",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "start_date_min",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之后开始的事件。",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "start_date_max",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之前开始的事件。",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date_min",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之后结束的事件。",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date_max",
            "in": "query",
            "required": false,
            "description": "筛选在此 ISO 时间戳之前结束的事件。",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Polymarket 事件对象的顶层数组",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "ticker": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "closed": {
                        "type": "boolean"
                      },
                      "archived": {
                        "type": "boolean"
                      },
                      "startDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "volume": {
                        "type": "string"
                      },
                      "volume24hr": {
                        "type": "number"
                      },
                      "liquidity": {
                        "type": "number"
                      },
                      "image": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string"
                      },
                      "markets": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求错误 - 参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid status parameter"
                    },
                    "message": {
                      "type": "string",
                      "example": "status must be 'open' or 'closed'"
                    }
                  }
                },
                "examples": {
                  "invalid_status": {
                    "summary": "Invalid status",
                    "value": {
                      "error": "Invalid status parameter",
                      "message": "status must be 'open' or 'closed'"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 100"
                    }
                  },
                  "invalid_offset": {
                    "summary": "Invalid offset",
                    "value": {
                      "error": "Invalid offset parameter",
                      "message": "offset must be a non-negative number"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch events data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/polymarket/activity": {
      "get": {
        "summary": "获取 Polymarket 钱包活动",
        "description": "获取单个钱包在 Polymarket 上的链上活动——这是按地址查询，而不是全市场成交流。`user` 参数为必填。适合用于还原某个交易者做过什么——仓位拆分、合并和赎回，包含数量、价格以及完成结算的交易；还可用 `market_slug`、`condition_id` 以及 `start_time` / `end_time`（Unix 秒）区间进一步收窄。\n\n返回 `activities[]`，包含 `side`（`MERGE` / `SPLIT` / `REDEEM`）、`market_slug`、`condition_id`、`shares`、`price`、`timestamp` 和 `tx_hash`，并附带 `pagination` 对象，其中的 key 可作为 `pagination_key` 回传。\n\n如需全市场价格而不是单个钱包的历史，请使用 `get_polymarket_markets`。",
        "operationId": "get_polymarket_activity",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "钱包地址或用户标识符。运行时路由要求提供此项。",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$",
              "example": "0x7c3db723f1d4d8cb9c550095203b686cb11e5c6b"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "筛选从此 Unix 时间戳（秒）开始的活动（含此时间点）",
            "schema": {
              "type": "integer",
              "example": 1640995200
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "筛选截至此 Unix 时间戳（秒）的活动（含该时间点）",
            "schema": {
              "type": "integer",
              "example": 1672531200
            }
          },
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "description": "按市场 slug 筛选活动",
            "schema": {
              "type": "string",
              "example": "bitcoin-up-or-down-july-25-8pm-et"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "description": "按条件 ID 筛选活动",
            "schema": {
              "type": "string",
              "example": "0x4567b275e6b667a6217f5cb4f06a797d3a1eaf1d0281fb5bc8c75e2046ae7e57"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "要返回的活动数量（1-1000）",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "example": 50
            }
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "description": "用于高效分页的 Base64 编码游标。在上一个响应的 pagination 对象中返回。",
            "schema": {
              "type": "string",
              "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJzaWRlIjoiU1BMSVQiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjE5ODkwMTc3Nn0="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "带分页的活动响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string",
                            "example": ""
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "MERGE",
                              "SPLIT",
                              "REDEEM"
                            ],
                            "example": "REDEEM"
                          },
                          "market_slug": {
                            "type": "string",
                            "example": "will-the-doj-charge-boeing"
                          },
                          "condition_id": {
                            "type": "string",
                            "example": "0x92e4b1b8e0621fab0537486e7d527322569d7a8fd394b3098ff4bb1d6e1c0bbd"
                          },
                          "shares": {
                            "type": "number",
                            "example": 187722726,
                            "description": "原始股份数量（来自区块链）"
                          },
                          "shares_normalized": {
                            "type": "number",
                            "example": 187.722726,
                            "description": "标准化后的股份数量（原始值除以 1000000）"
                          },
                          "price": {
                            "type": "number",
                            "example": 1
                          },
                          "block_number": {
                            "type": "integer",
                            "description": "活动发生时的区块编号",
                            "example": 123456789
                          },
                          "log_index": {
                            "type": "integer",
                            "description": "区块中活动事件的日志索引",
                            "example": 42
                          },
                          "tx_hash": {
                            "type": "string",
                            "example": "0x028baff23a90c10728606781d15077098ee93c991ea204aa52a0bd2869187574"
                          },
                          "title": {
                            "type": "string",
                            "example": "Will the DOJ charge Boeing?"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "活动发生时的 Unix 时间戳（秒）",
                            "example": 1721263049
                          },
                          "order_hash": {
                            "type": "string",
                            "example": ""
                          },
                          "user": {
                            "type": "string",
                            "description": "用户钱包地址",
                            "example": "0xfd9c3e7f8c56eb4186372f343c873cce154b3873"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 50
                        },
                        "count": {
                          "type": "integer",
                          "description": "符合筛选条件的活动总数",
                          "example": 1250
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "是否还有更多活动可用",
                          "example": true
                        },
                        "pagination_key": {
                          "type": "string",
                          "description": "用于下一页的 Base64 编码游标。仅当存在更多结果时才会提供。",
                          "example": "eyJibG9ja190aW1lc3RhbXAiOiIyMDI1LTAxLTE5VDEyOjAwOjAwLjAwMFoiLCJzaWRlIjoiU1BMSVQiLCJ0eF9oYXNoIjoiMHgxMjM0NTY3ODkwYWJjZGVmIiwibG9nX2luZGV4IjoxMCwidG90YWwiOjE5ODkwMTc3Nn0="
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "错误请求 - 参数无效或验证错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required parameter"
                    },
                    "message": {
                      "type": "string",
                      "example": "user parameter is required"
                    }
                  }
                },
                "examples": {
                  "invalid_start_time": {
                    "summary": "Invalid start_time parameter",
                    "value": {
                      "error": "Invalid start_time parameter",
                      "message": "start_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_end_time": {
                    "summary": "Invalid end_time parameter",
                    "value": {
                      "error": "Invalid end_time parameter",
                      "message": "end_time must be a valid Unix timestamp"
                    }
                  },
                  "invalid_time_range": {
                    "summary": "Invalid time range",
                    "value": {
                      "error": "Invalid time range",
                      "message": "start_time must be less than end_time"
                    }
                  },
                  "invalid_limit": {
                    "summary": "Invalid limit",
                    "value": {
                      "error": "Invalid limit parameter",
                      "message": "limit must be a number between 1 and 1000"
                    }
                  },
                  "invalid_pagination_key": {
                    "summary": "Invalid pagination key",
                    "value": {
                      "error": "Invalid pagination key",
                      "message": "pagination_key is invalid or corrupted"
                    }
                  },
                  "invalid_filter_combination": {
                    "summary": "Invalid filter combination",
                    "value": {
                      "error": "Invalid filter combination",
                      "message": "Only one of market_slug or condition_id can be provided"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch activity data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "AISA API Key",
        "description": "您的 AIsa API 密钥，作为 Bearer token 提供。"
      }
    }
  }
}
