{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0",
    "description": "Twitter 数据 API，提供用户和推文信息的端点。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserProfileAboutResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "createdAt": {
                "type": "string"
              },
              "isBlueVerified": {
                "type": "boolean"
              },
              "protected": {
                "type": "boolean"
              },
              "affiliates_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "description": {
                        "type": "string"
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "about_profile": {
                "type": "object",
                "properties": {
                  "account_based_in": {
                    "type": "string"
                  },
                  "location_accurate": {
                    "type": "boolean"
                  },
                  "learn_more_url": {
                    "type": "string"
                  },
                  "affiliate_username": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "username_changes": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "identity_profile_labels_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "BatchUserInfoResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "isBlueVerified": {
                  "type": "boolean"
                },
                "verifiedType": {
                  "type": "string"
                },
                "profilePicture": {
                  "type": "string"
                },
                "coverPicture": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "followers": {
                  "type": "integer"
                },
                "following": {
                  "type": "integer"
                },
                "canDm": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string"
                },
                "favouritesCount": {
                  "type": "integer"
                },
                "hasCustomTimelines": {
                  "type": "boolean"
                },
                "isTranslator": {
                  "type": "boolean"
                },
                "mediaCount": {
                  "type": "integer"
                },
                "statusesCount": {
                  "type": "integer"
                },
                "withheldInCountries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "possiblySensitive": {
                  "type": "boolean"
                },
                "pinnedTweetIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isAutomated": {
                  "type": "boolean"
                },
                "automatedBy": {
                  "type": "string"
                },
                "unavailable": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "unavailableReason": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "UserTweetsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "code": {
            "type": "integer",
            "description": "AIsa 封装层返回的提供商状态码。"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tweets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "TwitterAPI.io 返回的推文对象。"
                }
              },
              "pin_tweet": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "TwitterAPI.io 返回的用户资料对象。"
          }
        }
      },
      "UserFollowersResponse": {
        "type": "object",
        "properties": {
          "followers": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "description": "TwitterAPI.io 返回的关注者用户对象。"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_about": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_about"
        ],
        "summary": "获取用户个人资料简介",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          }
        ],
        "responses": {
          "200": {
            "description": "用户个人资料信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileAboutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/batch_info_by_ids": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/batch_get_user_by_userids"
        ],
        "summary": "按 UserIds 批量获取用户信息",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "以逗号分隔的用户 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "批量用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/info": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_by_username"
        ],
        "summary": "获取用户信息",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          }
        ],
        "responses": {
          "200": {
            "description": "用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/tweet_timeline": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_timeline"
        ],
        "summary": "获取用户推文时间线",
        "description": "按用户 ID 获取推文，并按 created_at 逆时间顺序排序。结果采用分页形式，每页最多包含 20 条推文。排序顺序与 Twitter 应用中用户个人资料页面显示的顺序一致。不支持基于时间的筛选。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "要检索其时间线的用户的用户 ID。"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "是否在结果中包含回复。默认为 false。"
          },
          {
            "name": "includeParentTweet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "当推文是回复时，是否包含父推文。默认为 false。"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页请留空。"
          }
        ],
        "responses": {
          "200": {
            "description": "用户推文时间线",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/last_tweets": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_last_tweets"
        ],
        "summary": "获取用户最新推文",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用户的用户 ID"
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "在结果中包含回复"
          }
        ],
        "responses": {
          "200": {
            "description": "用户推文",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/followers": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_followers"
        ],
        "summary": "获取用户粉丝列表",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 20,
              "maximum": 200
            },
            "description": "每页的关注者数量"
          }
        ],
        "responses": {
          "200": {
            "description": "用户粉丝",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFollowersResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
