{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API Aggregated Documentation",
    "version": "1.0.0",
    "description": "此 OpenAPI 规范将多个 Twitter API 端点聚合到单个文档中。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "TweetThreadContextResponse": {
        "type": "object",
        "properties": {
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tweet"
            }
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "displayTextRange": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "entities": {
            "$ref": "#/components/schemas/Entities"
          },
          "quoted_tweet": {
            "type": "string"
          },
          "retweeted_tweet": {
            "type": "string"
          },
          "isLimitedReply": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isBlueVerified": {
            "type": "boolean"
          },
          "verifiedType": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          },
          "coverPicture": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "followers": {
            "type": "integer"
          },
          "following": {
            "type": "integer"
          },
          "canDm": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "favouritesCount": {
            "type": "integer"
          },
          "hasCustomTimelines": {
            "type": "boolean"
          },
          "isTranslator": {
            "type": "boolean"
          },
          "mediaCount": {
            "type": "integer"
          },
          "statusesCount": {
            "type": "integer"
          },
          "withheldInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "possiblySensitive": {
            "type": "boolean"
          },
          "pinnedTweetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAutomated": {
            "type": "boolean"
          },
          "automatedBy": {
            "type": "string"
          },
          "unavailable": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "unavailableReason": {
            "type": "string"
          }
        }
      },
      "Entities": {
        "type": "object",
        "properties": {
          "hashtags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "indices": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "display_url": {
                  "type": "string"
                },
                "expanded_url": {
                  "type": "string"
                },
                "indices": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "user_mentions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id_str": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "screen_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ArticleResponse": {
        "type": "object",
        "properties": {
          "article": {
            "$ref": "#/components/schemas/Article",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "preview_text": {
            "type": "string"
          },
          "cover_media_img_url": {
            "type": "string"
          },
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AdvancedSearchResponse": {
        "type": "object",
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tweet"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/tweet/thread_context": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_thread_context"
        ],
        "summary": "获取推文线程上下文",
        "operationId": "get_twitter_tweet_thread_context",
        "description": "还原某条推文周围的对话。接受一条回复或一条原创推文，返回其所处的完整讨论串，支持 cursor 分页。当某条推文单看缺乏上下文、需要父级链条才能正确理解时使用。在 `tweets` 下返回推文，并带 `has_next_page` 和 `next_cursor`。如果只需要帖子下方的回复，请使用 `get_twitter_tweet_replies_v2`。",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取的推文 ID。可以是回复推文或原始推文。"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetThreadContextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/article": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_article"
        ],
        "summary": "获取文章",
        "operationId": "get_twitter_article",
        "description": "按推文 ID 获取某篇 X Article（长文帖子）的完整正文。当一条推文链接到或本身就是 Article、而 280 字符预览不够用时使用——它返回完整文本，而不是被截断的推文。在 `article` 下返回文章内容。普通推文请使用 `get_twitter_tweets`。",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "文章的推文 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweet/advanced_search": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/tweet_advanced_search"
        ],
        "summary": "高级搜索",
        "operationId": "get_twitter_tweet_advanced_search",
        "description": "用关键词或查询语句搜索 X 帖子，支持 X 的高级搜索运算符，可按 Latest（默认）或 Top 排序。当你还没有推文 ID 或 handle 时，这是 X 内容研究的主要入口。查询字符串中支持 `from:`、`to:`、`since:`、`until:`、`min_faves:` 和 `-filter:replies` 等运算符。支持 cursor 分页；返回推文并带 `has_next_page` 和 `next_cursor`。如需搜索账号而不是帖子，请使用 `get_twitter_user_search`。如需读取某个账号自己发布的帖子，请使用 `get_twitter_user_tweet_timeline`。",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要搜索的查询。"
          },
          {
            "name": "queryType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Latest",
                "Top"
              ],
              "default": "Latest"
            },
            "description": "要搜索的查询类型。"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedSearchResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
