{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API - Tweet Replies V2",
    "version": "1.0.0",
    "description": "获取推文回复，支持高级排序选项。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "推文 ID"
          },
          "url": {
            "type": "string",
            "description": "推文的 URL"
          },
          "text": {
            "type": "string",
            "description": "推文文本"
          },
          "source": {
            "type": "string",
            "description": "推文的来源客户端"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "description": "推文的创建日期和时间"
          },
          "lang": {
            "type": "string",
            "description": "推文的语言"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "isLimitedReply": {
            "type": "boolean",
            "description": "该推文是否为受限回复"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/tweet/replies/v2": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_replies_v2"
        ],
        "summary": "获取推文回复 V2",
        "description": "按推文 ID 获取推文回复（V2）。每页最多返回 20 条回复。支持按 Relevance、Latest 或 Likes 排序。",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取回复的推文 ID。例如 1846987139428634858"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页请留空。"
          },
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Relevance",
                "Latest",
                "Likes"
              ],
              "default": "Relevance"
            },
            "description": "回复的排序顺序。默认为相关性。"
          }
        ],
        "responses": {
          "200": {
            "description": "推文回复响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "has_next_page": {
                      "type": "boolean",
                      "description": "指示是否还有更多可用结果"
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "用于获取下一页结果的游标"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success",
                      "description": "请求的状态"
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      },
                      "description": "回复推文数组。"
                    },
                    "msg": {
                      "type": "string",
                      "description": "状态为错误时的错误消息。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
