{
  "openapi": "3.0.3",
  "info": {
    "title": "TwitterAPI Unified API",
    "version": "1.0.0",
    "description": "TwitterAPI 端点的统一 OpenAPI 3.0 规范。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Trend": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "target": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string"
              }
            }
          },
          "rank": {
            "type": "integer",
            "format": "int64"
          },
          "meta_description": {
            "type": "string"
          }
        }
      },
      "TrendsResponse": {
        "type": "object",
        "properties": {
          "trends": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trend"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "SpaceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "scheduled_start": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "media_key": {
            "type": "string"
          },
          "is_subscribed": {
            "type": "boolean"
          },
          "settings": {
            "type": "object",
            "properties": {
              "conversation_controls": {
                "type": "integer"
              },
              "disallow_join": {
                "type": "boolean"
              },
              "is_employee_only": {
                "type": "boolean"
              },
              "is_locked": {
                "type": "boolean"
              },
              "is_muted": {
                "type": "boolean"
              },
              "is_space_available_for_clipping": {
                "type": "boolean"
              },
              "is_space_available_for_replay": {
                "type": "boolean"
              },
              "no_incognito": {
                "type": "boolean"
              },
              "narrow_cast_space_type": {
                "type": "integer"
              },
              "max_guest_sessions": {
                "type": "integer"
              },
              "max_admin_capacity": {
                "type": "integer"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_replay_watched": {
                "type": "integer"
              },
              "total_live_listeners": {
                "type": "integer"
              },
              "total_participants": {
                "type": "integer"
              }
            }
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "protected": {
                "type": "boolean"
              },
              "isVerified": {
                "type": "boolean"
              },
              "isBlueVerified": {
                "type": "boolean"
              },
              "verifiedType": {
                "type": "string"
              },
              "followers": {
                "type": "integer"
              },
              "following": {
                "type": "integer"
              },
              "favouritesCount": {
                "type": "integer"
              },
              "statusesCount": {
                "type": "integer"
              },
              "mediaCount": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "coverPicture": {
                "type": "string"
              },
              "profilePicture": {
                "type": "string"
              },
              "canDm": {
                "type": "boolean"
              },
              "affiliatesHighlightedLabel": {
                "type": "object"
              },
              "isAutomated": {
                "type": "boolean"
              },
              "automatedBy": {
                "type": "string"
              }
            }
          }
        }
      },
      "SpaceDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SpaceDetail"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "MyInfoResponse": {
        "type": "object",
        "properties": {
          "recharge_credits": {
            "type": "integer"
          }
        }
      },
      "CostEstimate": {
        "type": "object",
        "description": "针对该精确请求的只读成本报价。不会发起 Provider 调用、账单预留、持久任务或锁价。",
        "required": [
          "object",
          "currency",
          "estimate_kind",
          "estimated_cost_micros_usd",
          "may_exceed_estimate",
          "estimated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "cost_estimate",
            "description": "始终为 `cost_estimate`。"
          },
          "currency": {
            "type": "string",
            "const": "USD",
            "description": "报价币种。此版本始终为 USD。"
          },
          "estimate_kind": {
            "type": "string",
            "enum": [
              "exact",
              "upper_bound",
              "estimate"
            ],
            "description": "`exact` 表示客户价格已由当前请求完全确定；`upper_bound` 具有本地可执行上限（见 `max_cost_micros_usd`）；`estimate` 取决于终态用量，最终费用可能高于报价。"
          },
          "estimated_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "报价的客户成本，单位为 micro-USD（1 USD = 1,000,000 micros）。"
          },
          "max_cost_micros_usd": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "可选的客户成本硬上限，单位为 micro-USD。`exact` 与 `upper_bound` 会返回；`estimate` 省略。"
          },
          "may_exceed_estimate": {
            "type": "boolean",
            "description": "仅当 `estimate_kind` 为 `estimate` 时为 true。"
          },
          "pricing_version": {
            "type": "string",
            "description": "可选的不可变或已编译定价版本。"
          },
          "estimated_at": {
            "type": "string",
            "format": "date-time",
            "description": "生成该报价的 UTC 时间戳。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "有界且非敏感的报价元数据，例如规范模型名或 profile key。"
          }
        },
        "example": {
          "object": "cost_estimate",
          "currency": "USD",
          "estimate_kind": "estimate",
          "estimated_cost_micros_usd": 425,
          "may_exceed_estimate": true,
          "estimated_at": "2026-09-01T08:00:00Z"
        }
      }
    },
    "parameters": {
      "XAISACostMode": {
        "name": "X-AISA-Cost-Mode",
        "in": "header",
        "required": false,
        "description": "设为 `quote` 可对该精确请求估价，而不会执行数据、创建任务或授权扣费。成功报价的 HTTP 状态为 200，响应体为 `cost_estimate`；它不是预留或锁价。省略该请求头则正常执行。其他值返回 `400 invalid_cost_mode`。报价模式需要 API key，不能使用 MPP 或 x402。",
        "schema": {
          "type": "string",
          "enum": [
            "quote"
          ]
        }
      }
    },
    "responses": {
      "CostEstimate": {
        "description": "只读成本报价。目标请求会经过校验，但不会被执行、计费、预留或锁价。",
        "headers": {
          "Cache-Control": {
            "schema": {
              "type": "string",
              "example": "private, no-store"
            },
            "description": "报价响应不可被共享缓存存储。"
          },
          "Vary": {
            "schema": {
              "type": "string",
              "example": "X-AISA-Cost-Mode"
            },
            "description": "响应体取决于成本模式请求头。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CostEstimate"
            },
            "example": {
              "object": "cost_estimate",
              "currency": "USD",
              "estimate_kind": "estimate",
              "estimated_cost_micros_usd": 425,
              "may_exceed_estimate": true,
              "estimated_at": "2026-09-01T08:00:00Z"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/trends": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_trends"
        ],
        "summary": "获取趋势",
        "operationId": "get_twitter_trends",
        "description": "按 Yahoo WOEID（Where On Earth ID）获取某个地区的热门话题，可选 `count`（默认 30）。适合用于实时了解某个市场当下在讨论什么——对内容发布时机把握和捕捉新兴话题很有用。在 `trends` 下返回话题名称和热度。选定某个话题后，可用 `get_twitter_tweet_advanced_search` 搜索其相关帖子。",
        "parameters": [
          {
            "name": "woeid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "位置的 WOEID。示例：2418046。"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 30,
              "minimum": 30
            },
            "description": "要返回的趋势数量。默认值为 30。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/spaces/detail": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_space_detail"
        ],
        "summary": "获取空间详情",
        "operationId": "get_twitter_spaces_detail",
        "description": "按 Space ID 获取某个 X Space（实时语音房间）的详情——标题、状态、主持人、参与者和排期。适合在决定引用或参加之前，先确认该 Space 是已排期、进行中还是已结束，以及由谁主持。在 `data` 下返回该对象。",
        "parameters": [
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "空间的 ID。"
          },
          {
            "$ref": "#/components/parameters/XAISACostMode"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应. 当请求带有 `X-AISA-Cost-Mode: quote` 时，HTTP 200 返回 `cost_estimate`，不会执行该操作。该报价不是预留、授权或锁价。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceDetailResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
