{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0",
    "description": "用于用户数据和交互的 Twitter API 端点。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserFollowingsResponse": {
        "type": "object",
        "properties": {
          "followings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "UserMentionsResponse": {
        "type": "object",
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tweet"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "FollowRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "following": {
                "type": "boolean"
              },
              "followed_by": {
                "type": "boolean"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SearchUserResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "VerifiedFollowersResponse": {
        "type": "object",
        "properties": {
          "followers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isBlueVerified": {
            "type": "boolean"
          },
          "verifiedType": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          },
          "coverPicture": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "followers": {
            "type": "integer"
          },
          "following": {
            "type": "integer"
          },
          "canDm": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "favouritesCount": {
            "type": "integer"
          },
          "hasCustomTimelines": {
            "type": "boolean"
          },
          "isTranslator": {
            "type": "boolean"
          },
          "mediaCount": {
            "type": "integer"
          },
          "statusesCount": {
            "type": "integer"
          },
          "withheldInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "possiblySensitive": {
            "type": "boolean"
          },
          "pinnedTweetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAutomated": {
            "type": "boolean"
          },
          "automatedBy": {
            "type": "string"
          },
          "unavailable": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "unavailableReason": {
            "type": "string"
          }
        }
      },
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "displayTextRange": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "entities": {
            "type": "object",
            "properties": {
              "hashtags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "indices": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              },
              "urls": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display_url": {
                      "type": "string"
                    },
                    "expanded_url": {
                      "type": "string"
                    },
                    "indices": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              },
              "user_mentions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id_str": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "screen_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user/followings": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_followings"
        ],
        "summary": "获取用户关注列表",
        "operationId": "get_twitter_user_followings",
        "description": "按 @handle 列出某个 X 用户关注的账号。每页返回 200 条，并带 `has_next_page` 和 `next_cursor`。适合用于推断某个用户的兴趣、信息来源或职业网络——一个人关注了谁，通常比谁关注了他更能反映其意图。如需反方向，请使用 `get_twitter_user_followers`。如果只想检验某一对特定关系，而不必翻阅成千上万条记录，请使用 `get_twitter_user_check_follow_relationship`。",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 20,
              "maximum": 200
            },
            "description": "每页返回的关注数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFollowingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/mentions": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_mention"
        ],
        "summary": "获取用户提及",
        "operationId": "get_twitter_user_mentions",
        "description": "获取提及某个 @handle 的推文，每页 20 条。这是唯一支持时间窗口的用户维度 X endpoint：传入 Unix 秒级时间戳 `sinceTime` 和/或 `untilTime` 来限定范围。适合用于监测——品牌提及、收到的回复、声誉跟踪，或「这个账号过去 24 小时发生了什么」。返回推文并带 `has_next_page` 和 `next_cursor`。如果要的是该账号自己发布的帖子而不是对它的提及，请使用 `get_twitter_user_tweet_timeline`。",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取提及信息的用户显示名称。"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "在指定的 Unix 时间戳（秒）当日或之后。"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "早于指定的 Unix 时间戳（以秒为单位）。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMentionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/check_follow_relationship": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/check_follow_relationship"
        ],
        "summary": "检查关注关系",
        "operationId": "get_twitter_user_check_follow_relationship",
        "description": "按 @handle 双向检查两个 X 用户之间是否存在关注关系。适合做单次定向查询，而不必翻阅 `get_twitter_user_followers` 或 `get_twitter_user_followings`——它在一次请求中回答「A 是否关注 B，B 是否关注 A」。在 `data` 下返回关系标志。",
        "parameters": [
          {
            "name": "source_user_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "源用户的显示名称。"
          },
          {
            "name": "target_user_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "目标用户的显示名称。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowRelationshipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/search": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/search_user"
        ],
        "summary": "按关键词搜索用户",
        "operationId": "get_twitter_user_search",
        "description": "按关键词搜索 X 用户账号并返回匹配的资料。当你大致知道要找谁——公司名、话题或部分 handle——但不知道确切 @handle 时使用。支持 cursor 分页；在 `users` 下返回完整的用户对象。该接口搜索的是账号，不是帖子；如需搜索推文内容，请使用 `get_twitter_tweet_advanced_search`。",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要搜索的关键词。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/verifiedFollowers": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_verified_followers"
        ],
        "summary": "获取用户的已认证关注者",
        "operationId": "get_twitter_user_verified_followers",
        "description": "按时间倒序，仅列出关注某个 X 用户的认证账号。适合用于衡量受众质量而非规模——认证粉丝比单纯的粉丝数更能反映可信度。支持 cursor 分页。该接口接受数字 `user_id`，而不是 @handle；请先用 `get_twitter_user_info` 解析 handle。如需完整粉丝列表，请使用 `get_twitter_user_followers`。",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的用户 ID。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页为空。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedFollowersResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
