{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API Aggregated",
    "version": "1.0.0",
    "description": "Twitter 数据端点的汇总 API 文档。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "displayTextRange": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "entities": {
            "type": "object",
            "properties": {
              "hashtags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "indices": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              },
              "urls": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "display_url": {
                      "type": "string"
                    },
                    "expanded_url": {
                      "type": "string"
                    },
                    "indices": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              },
              "user_mentions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id_str": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "screen_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "quoted_tweet": {
            "type": "string"
          },
          "retweeted_tweet": {
            "type": "string"
          },
          "isLimitedReply": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isBlueVerified": {
            "type": "boolean"
          },
          "verifiedType": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          },
          "coverPicture": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "followers": {
            "type": "integer"
          },
          "following": {
            "type": "integer"
          },
          "canDm": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "favouritesCount": {
            "type": "integer"
          },
          "hasCustomTimelines": {
            "type": "boolean"
          },
          "isTranslator": {
            "type": "boolean"
          },
          "mediaCount": {
            "type": "integer"
          },
          "statusesCount": {
            "type": "integer"
          },
          "withheldInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "possiblySensitive": {
            "type": "boolean"
          },
          "pinnedTweetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAutomated": {
            "type": "boolean"
          },
          "automatedBy": {
            "type": "string"
          },
          "unavailable": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "unavailableReason": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/twitter/tweets": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_by_ids"
        ],
        "summary": "按 ID 获取推文",
        "operationId": "get_twitter_tweets",
        "description": "当你已经知道推文的数字 ID 时，获取这些推文的完整内容（一次调用可传多个 ID）。适合用于把搜索、时间线或回复中出现的 ID 展开成完整对象。返回正文、作者、发布客户端、语言、创建时间和互动计数（点赞、转发、回复、引用、书签、浏览量）。如果还没有 ID，请先从 `get_twitter_tweet_advanced_search` 开始。",
        "parameters": [
          {
            "name": "tweet_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "以逗号分隔的推文 ID 列表。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweet/replies": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_reply"
        ],
        "summary": "获取推文回复",
        "operationId": "get_twitter_tweet_replies",
        "description": "获取某条推文的直接回复，支持 cursor 分页。适合用于阅读帖子下方的讨论——情绪、纠错或追问。返回带互动计数的完整推文对象。如果你想控制排序（Relevance、Latest 或 Likes），请优先使用 `get_twitter_tweet_replies_v2`；这个 v1 接口只返回默认排序。如果想沿对话向上追溯到根推文而不是向下展开，请使用 `get_twitter_tweet_thread_context`。",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取回复的推文 ID。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "has_next_page": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      },
                      "description": "回复推文数组。"
                    },
                    "msg": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweet/quotes": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_quote"
        ],
        "summary": "获取推文引用",
        "operationId": "get_twitter_tweet_quotes",
        "description": "获取某条推文的引用推文——即带评论转发它的帖子——支持 cursor 分页。适合用于观察一条帖子如何被重新解读或引发争论，这通常比普通回复更有信息量。返回带互动计数的完整推文对象。如需直接回复，请使用 `get_twitter_tweet_replies_v2`；如需查看不带评论直接转发的账号，请使用 `get_twitter_tweet_retweeters`。",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取引用推文的推文 ID。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "has_next_page": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "msg": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweet/retweeters": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_tweet_retweeter"
        ],
        "summary": "获取推文转发用户",
        "operationId": "get_twitter_tweet_retweeters",
        "description": "列出转发了某条推文的账号，支持 cursor 分页。适合用于梳理谁在扩散这条信息，以及他们的影响力如何。返回的是用户对象（handle、名称、简介、粉丝数、认证状态）——不是推文。如需带评论的转发，请使用 `get_twitter_tweet_quotes`。",
        "parameters": [
          {
            "name": "tweetId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取转推用户的推文 ID。"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "has_next_page": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "msg": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
