{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API",
    "version": "1.0.0",
    "description": "Twitter 数据 API，提供用户和推文信息的端点。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserProfileAboutResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "createdAt": {
                "type": "string"
              },
              "isBlueVerified": {
                "type": "boolean"
              },
              "protected": {
                "type": "boolean"
              },
              "affiliates_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "description": {
                        "type": "string"
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "about_profile": {
                "type": "object",
                "properties": {
                  "account_based_in": {
                    "type": "string"
                  },
                  "location_accurate": {
                    "type": "boolean"
                  },
                  "learn_more_url": {
                    "type": "string"
                  },
                  "affiliate_username": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "username_changes": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "identity_profile_labels_highlighted_label": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "badge": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      },
                      "url": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "urlType": {
                            "type": "string"
                          }
                        }
                      },
                      "userLabelDisplayType": {
                        "type": "string"
                      },
                      "userLabelType": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "BatchUserInfoResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "isBlueVerified": {
                  "type": "boolean"
                },
                "verifiedType": {
                  "type": "string"
                },
                "profilePicture": {
                  "type": "string"
                },
                "coverPicture": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "followers": {
                  "type": "integer"
                },
                "following": {
                  "type": "integer"
                },
                "canDm": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string"
                },
                "favouritesCount": {
                  "type": "integer"
                },
                "hasCustomTimelines": {
                  "type": "boolean"
                },
                "isTranslator": {
                  "type": "boolean"
                },
                "mediaCount": {
                  "type": "integer"
                },
                "statusesCount": {
                  "type": "integer"
                },
                "withheldInCountries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "possiblySensitive": {
                  "type": "boolean"
                },
                "pinnedTweetIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isAutomated": {
                  "type": "boolean"
                },
                "automatedBy": {
                  "type": "string"
                },
                "unavailable": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "unavailableReason": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "UserTweetsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "code": {
            "type": "integer",
            "description": "AIsa 封装层返回的提供商状态码。"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tweets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "TwitterAPI.io 返回的推文对象。"
                }
              },
              "pin_tweet": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "TwitterAPI.io 返回的用户资料对象。"
          }
        }
      },
      "UserFollowersResponse": {
        "type": "object",
        "properties": {
          "followers": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "description": "TwitterAPI.io 返回的关注者用户对象。"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/user_about": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_about"
        ],
        "summary": "获取用户个人资料简介",
        "operationId": "get_twitter_user_about",
        "description": "按 @handle 获取某个 X 用户的扩展「关于此账号」面板。适合用于溯源和可信度核查——它会展示标准资料中没有的信号，例如账号所在国家、认证细节和用户名变更历史。在 `data` 下返回单个资料对象。如需标准资料（简介、粉丝数、头像），请改用 `get_twitter_user_info`。",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          }
        ],
        "responses": {
          "200": {
            "description": "用户个人资料信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileAboutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/batch_info_by_ids": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/batch_get_user_by_userids"
        ],
        "summary": "按 UserIds 批量获取用户信息",
        "operationId": "get_twitter_user_batch_info_by_ids",
        "description": "通过逗号分隔的 `userIds` 字符串，一次性解析多个 X 用户的数字用户 ID。当之前的调用（时间线、转发者、粉丝）返回了一批 ID，而你需要在一次请求中把它们转成完整资料、而不是循环调用时使用。在 `users` 下返回用户对象数组。注意该 endpoint 接受的是数字 ID，不是 @handle——如需按 handle 查询，请使用 `get_twitter_user_info`。",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "以逗号分隔的用户 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "批量用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/info": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_by_username"
        ],
        "summary": "获取用户信息",
        "operationId": "get_twitter_user_info",
        "description": "按 @handle（用户名）查询某个 X（Twitter）用户的公开资料。当你需要在决定是否信任或分析其内容之前，先了解该账号的身份、影响力或可信度时使用。返回显示名称、简介、粉丝/关注数、认证状态、账号创建日期、位置和头像图片。如果你只有数字用户 ID，请改用 `get_twitter_user_batch_info_by_ids`。如果需要国家或用户名变更历史等扩展资料元数据，请使用 `get_twitter_user_about`。如果你要的是该用户的帖子而不是资料，请使用 `get_twitter_user_tweet_timeline`。",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          }
        ],
        "responses": {
          "200": {
            "description": "用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/tweet_timeline": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_timeline"
        ],
        "summary": "获取用户推文时间线",
        "operationId": "get_twitter_user_tweet_timeline",
        "description": "按数字 `userId` 获取用户自己发布的推文，按时间倒序排列，与 X 应用中其个人主页展示的顺序一致。每页最多 20 条；传入返回的 cursor 可获取更多。可选择包含回复以及每条回复的父推文。适合用于查看某账号随时间发布的内容。此接口**不支持**时间范围过滤——如果需要特定时间窗口内的推文，请使用 `get_twitter_user_mentions`（支持 `sinceTime`/`untilTime`），或在查询中使用日期运算符配合 `get_twitter_tweet_advanced_search`。如果你只有 @handle，`get_twitter_user_last_tweets` 同时接受 handle 或 ID。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "要检索其时间线的用户的用户 ID。"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "是否在结果中包含回复。默认为 false。"
          },
          {
            "name": "includeParentTweet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "当推文是回复时，是否包含父推文。默认为 false。"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页请留空。"
          }
        ],
        "responses": {
          "200": {
            "description": "用户推文时间线",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/last_tweets": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_last_tweets"
        ],
        "summary": "获取用户最新推文",
        "operationId": "get_twitter_user_last_tweets",
        "description": "获取某个用户最新的推文，接受 `userName`（@handle）或 `userId`——当你还没把 handle 解析成 ID 时很有用。可选择包含回复。支持 cursor 分页。在 `data` 下返回推文，并带 `has_next_page` 和 `next_cursor`。如果你已经有数字 ID，并且需要与个人主页顺序一致、且能展开父推文的完整时间线，请改用 `get_twitter_user_tweet_timeline`。",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用户的用户 ID"
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "在结果中包含回复"
          }
        ],
        "responses": {
          "200": {
            "description": "用户推文",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTweetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/followers": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_user_followers"
        ],
        "summary": "获取用户粉丝列表",
        "operationId": "get_twitter_user_followers",
        "description": "按 @handle 列出关注某个 X 用户的账号，最新关注者排在最前。默认每页最多返回 200 条，并带 `has_next_page` 和 `next_cursor`；每个条目都是完整的用户对象（handle、名称、简介、粉丝数、认证状态）。适合用于受众分析、梳理竞品的粉丝构成，或找出有影响力的关注者。如需反方向（该用户关注了谁），请使用 `get_twitter_user_followings`。如果只要认证账号子集，请使用 `get_twitter_user_verified_followers`——注意后者接受的是数字 `user_id`，而不是 handle。",
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户的显示名称"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "分页游标"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 20,
              "maximum": 200
            },
            "description": "每页的关注者数量"
          }
        ],
        "responses": {
          "200": {
            "description": "用户粉丝",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFollowersResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
