{
  "openapi": "3.0.3",
  "info": {
    "title": "Twitter API Aggregated Documentation",
    "version": "1.0.0",
    "description": "此 OpenAPI 规范聚合了多个用于获取列表关注者和列表成员的 Twitter API 端点。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ListTweetsTimelineResponse": {
        "type": "object",
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tweet"
            },
            "description": "列表中的推文数组"
          },
          "has_next_page": {
            "type": "boolean",
            "description": "指示是否还有更多可用结果"
          },
          "next_cursor": {
            "type": "string",
            "description": "用于获取下一页结果的游标"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ],
            "example": "success",
            "description": "请求的状态"
          },
          "msg": {
            "type": "string",
            "description": "请求消息；如果状态为错误，则为错误消息"
          }
        }
      },
      "Tweet": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "推文 ID"
          },
          "url": {
            "type": "string",
            "description": "推文的 URL"
          },
          "text": {
            "type": "string",
            "description": "推文文本"
          },
          "source": {
            "type": "string",
            "description": "推文的来源客户端"
          },
          "retweetCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "quoteCount": {
            "type": "integer"
          },
          "viewCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "description": "推文的创建日期和时间"
          },
          "lang": {
            "type": "string",
            "description": "推文的语言"
          },
          "bookmarkCount": {
            "type": "integer"
          },
          "isReply": {
            "type": "boolean"
          },
          "inReplyToId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "inReplyToUserId": {
            "type": "string"
          },
          "inReplyToUsername": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/TwitterUser"
          }
        }
      },
      "TwitterListFollowersResponse": {
        "type": "object",
        "properties": {
          "followers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TwitterUser"
            }
          },
          "has_next_page": {
            "type": "boolean",
            "description": "指示是否还有更多可用结果"
          },
          "next_cursor": {
            "type": "string",
            "description": "用于获取下一页结果的游标"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ],
            "description": "请求的状态"
          },
          "msg": {
            "type": "string",
            "description": "请求消息；如果状态为错误，则为错误消息"
          }
        }
      },
      "TwitterListMembersResponse": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TwitterUser"
            }
          },
          "has_next_page": {
            "type": "boolean",
            "description": "指示是否还有更多可用结果"
          },
          "next_cursor": {
            "type": "string",
            "description": "用于获取下一页结果的游标"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ],
            "description": "请求的状态"
          },
          "msg": {
            "type": "string",
            "description": "请求消息；如果状态为错误，则为错误消息"
          }
        }
      },
      "TwitterUser": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "用户类型"
          },
          "userName": {
            "type": "string",
            "description": "用户的用户名"
          },
          "url": {
            "type": "string",
            "description": "用户个人资料的 URL"
          },
          "id": {
            "type": "string",
            "description": "用户 ID"
          },
          "name": {
            "type": "string",
            "description": "用户名称"
          },
          "isBlueVerified": {
            "type": "boolean",
            "description": "指示用户是否已通过蓝标认证"
          },
          "verifiedType": {
            "type": "string",
            "description": "验证类型"
          },
          "profilePicture": {
            "type": "string",
            "description": "个人资料图片的 URL"
          },
          "coverPicture": {
            "type": "string",
            "description": "封面图片的 URL"
          },
          "description": {
            "type": "string",
            "description": "用户描述"
          },
          "location": {
            "type": "string",
            "description": "用户的位置"
          },
          "followers": {
            "type": "integer",
            "description": "关注者数量"
          },
          "following": {
            "type": "integer",
            "description": "关注数"
          },
          "canDm": {
            "type": "boolean",
            "description": "指示是否可以向该用户发送私信"
          },
          "createdAt": {
            "type": "string",
            "description": "账户创建日期"
          },
          "favouritesCount": {
            "type": "integer",
            "description": "收藏数量"
          },
          "hasCustomTimelines": {
            "type": "boolean",
            "description": "指示用户是否具有自定义时间线"
          },
          "isTranslator": {
            "type": "boolean",
            "description": "指示用户是否为翻译人员"
          },
          "mediaCount": {
            "type": "integer",
            "description": "媒体项目数量"
          },
          "statusesCount": {
            "type": "integer",
            "description": "状态数量"
          },
          "withheldInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "限制显示该用户的国家/地区列表"
          },
          "possiblySensitive": {
            "type": "boolean",
            "description": "指示用户是否包含敏感内容"
          },
          "pinnedTweetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "置顶推文 ID 列表"
          },
          "isAutomated": {
            "type": "boolean",
            "description": "指示该账户是否为自动化账户"
          },
          "automatedBy": {
            "type": "string",
            "description": "指示账户由谁自动化"
          },
          "unavailable": {
            "type": "boolean",
            "description": "指示账户是否不可用"
          },
          "message": {
            "type": "string",
            "description": "关于该账户的消息"
          },
          "unavailableReason": {
            "type": "string",
            "description": "不可用原因"
          },
          "profile_bio": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "个人简介描述"
              },
              "entities": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/TwitterUrl"
                        }
                      }
                    }
                  },
                  "url": {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/TwitterUrl"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TwitterUrl": {
        "type": "object",
        "properties": {
          "display_url": {
            "type": "string",
            "description": "显示 URL"
          },
          "expanded_url": {
            "type": "string",
            "description": "展开后的 URL"
          },
          "indices": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "URL 的索引"
          },
          "url": {
            "type": "string",
            "description": "URL"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/list/tweets_timeline": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/list_timeline"
        ],
        "summary": "获取列表推文时间线",
        "operationId": "get_twitter_list_tweets_timeline",
        "description": "按 `listId` 获取某个 X List 的推文时间线，每页最多 20 条，支持 cursor 分页。适合把人工精选的一批账号当作单条信息流来监测——要跟踪一个固定群体（竞品、分析师、某条线口），List 是最经济的方式，无需逐个账号轮询。返回推文并带 `has_next_page` 和 `next_cursor`。如需查看 List 中有哪些成员，请使用 `get_twitter_list_members`。",
        "parameters": [
          {
            "name": "listId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取推文的列表 ID。例如：1846987139428634858"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "用于对结果进行分页的游标。第一页请留空。"
          }
        ],
        "responses": {
          "200": {
            "description": "推文时间线列表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTweetsTimelineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/list/followers": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_list_followers"
        ],
        "summary": "获取列表关注者",
        "operationId": "get_twitter_list_followers",
        "description": "列出订阅某个 X List 的账号，每页 20 条，支持 cursor 分页。适合用于评估一个精选列表吸引了多少关注、以及哪些人关心该话题。在 `followers` 下返回完整的用户对象。如需 List 中包含的账号（而不是订阅者），请使用 `get_twitter_list_members`。",
        "parameters": [
          {
            "name": "list_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "列表 ID"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "页面游标"
          }
        ],
        "responses": {
          "200": {
            "description": "列出该列表的关注者",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwitterListFollowersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/list/members": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_list_members"
        ],
        "summary": "获取列表成员",
        "operationId": "get_twitter_list_members",
        "description": "列出某个 X List 中包含的账号，每页 20 条，支持 cursor 分页。适合用于提取一份现成的、由人工整理的账号集合——筛选工作别人已经替你做过了。在 `members` 下返回完整的用户对象。如果想把这些账号的发帖作为一条信息流阅读，请使用 `get_twitter_list_tweets_timeline`。如需该 List 的订阅者，请使用 `get_twitter_list_followers`。",
        "parameters": [
          {
            "name": "list_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "列表 ID"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "页面游标"
          }
        ],
        "responses": {
          "200": {
            "description": "成员列表响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwitterListMembersResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
