{
  "openapi": "3.0.3",
  "info": {
    "title": "TwitterAPI Unified API",
    "version": "1.0.0",
    "description": "TwitterAPI 端点的统一 OpenAPI 3.0 规范。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Trend": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "target": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string"
              }
            }
          },
          "rank": {
            "type": "integer",
            "format": "int64"
          },
          "meta_description": {
            "type": "string"
          }
        }
      },
      "TrendsResponse": {
        "type": "object",
        "properties": {
          "trends": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trend"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "SpaceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "scheduled_start": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "media_key": {
            "type": "string"
          },
          "is_subscribed": {
            "type": "boolean"
          },
          "settings": {
            "type": "object",
            "properties": {
              "conversation_controls": {
                "type": "integer"
              },
              "disallow_join": {
                "type": "boolean"
              },
              "is_employee_only": {
                "type": "boolean"
              },
              "is_locked": {
                "type": "boolean"
              },
              "is_muted": {
                "type": "boolean"
              },
              "is_space_available_for_clipping": {
                "type": "boolean"
              },
              "is_space_available_for_replay": {
                "type": "boolean"
              },
              "no_incognito": {
                "type": "boolean"
              },
              "narrow_cast_space_type": {
                "type": "integer"
              },
              "max_guest_sessions": {
                "type": "integer"
              },
              "max_admin_capacity": {
                "type": "integer"
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_replay_watched": {
                "type": "integer"
              },
              "total_live_listeners": {
                "type": "integer"
              },
              "total_participants": {
                "type": "integer"
              }
            }
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "protected": {
                "type": "boolean"
              },
              "isVerified": {
                "type": "boolean"
              },
              "isBlueVerified": {
                "type": "boolean"
              },
              "verifiedType": {
                "type": "string"
              },
              "followers": {
                "type": "integer"
              },
              "following": {
                "type": "integer"
              },
              "favouritesCount": {
                "type": "integer"
              },
              "statusesCount": {
                "type": "integer"
              },
              "mediaCount": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "coverPicture": {
                "type": "string"
              },
              "profilePicture": {
                "type": "string"
              },
              "canDm": {
                "type": "boolean"
              },
              "affiliatesHighlightedLabel": {
                "type": "object"
              },
              "isAutomated": {
                "type": "boolean"
              },
              "automatedBy": {
                "type": "string"
              }
            }
          }
        }
      },
      "SpaceDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SpaceDetail"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "MyInfoResponse": {
        "type": "object",
        "properties": {
          "recharge_credits": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/twitter/trends": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_trends"
        ],
        "summary": "获取趋势",
        "operationId": "get_twitter_trends",
        "description": "按 Yahoo WOEID（Where On Earth ID）获取某个地区的热门话题，可选 `count`（默认 30）。适合用于实时了解某个市场当下在讨论什么——对内容发布时机把握和捕捉新兴话题很有用。在 `trends` 下返回话题名称和热度。选定某个话题后，可用 `get_twitter_tweet_advanced_search` 搜索其相关帖子。",
        "parameters": [
          {
            "name": "woeid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "位置的 WOEID。示例：2418046。"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 30,
              "minimum": 30
            },
            "description": "要返回的趋势数量。默认值为 30。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/spaces/detail": {
      "get": {
        "tags": [
          "https://docs.twitterapi.io/api-reference/endpoint/get_space_detail"
        ],
        "summary": "获取空间详情",
        "operationId": "get_twitter_spaces_detail",
        "description": "按 Space ID 获取某个 X Space（实时语音房间）的详情——标题、状态、主持人、参与者和排期。适合在决定引用或参加之前，先确认该 Space 是已排期、进行中还是已结束，以及由谁主持。在 `data` 下返回该对象。",
        "parameters": [
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "空间的 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oapi/my/info": {}
  }
}
