{
  "openapi": "3.0.0",
  "info": {
    "title": "WaveInflu API",
    "version": "1.0.0",
    "description": "WaveInflu 网红发现 API——面向 TikTok、Instagram 和 YouTube 的邮箱查询和相似创作者功能。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "EmailLookupQuota": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "number",
            "description": "此请求消耗的额度。"
          },
          "remainingQuota": {
            "type": "number",
            "description": "此请求完成后剩余的电子邮件查找额度。"
          }
        }
      },
      "EmailLookupData": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "从个人资料 URL 解析的平台：tiktok、instagram 或 youtube。"
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "查询链返回的创作者用户名。"
          },
          "profileLink": {
            "type": "string",
            "description": "用于此请求的标准化个人资料 URL。"
          },
          "platformUserId": {
            "type": "string",
            "nullable": true,
            "description": "平台侧创作者 ID（如有）。"
          },
          "region": {
            "type": "string",
            "nullable": true,
            "description": "创作者所在地区（如有）。"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "主电子邮件地址；如未找到则为 null。"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "此次查询中找到的所有唯一电子邮件地址。"
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "外部联系链接，例如个人站点或 WhatsApp 链接。"
                },
                "type": {
                  "type": "string",
                  "description": "链接分类，例如 website。"
                }
              }
            },
            "description": "查询过程中识别出的外部联系人链接。"
          },
          "quota": {
            "$ref": "#/components/schemas/EmailLookupQuota"
          }
        }
      },
      "SimilarCreatorFilters": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "创作者所在地区，例如 [\"US\", \"GB\", \"JP\"]。"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "创作者语言，例如 [\"en\", \"ja\", \"zh-cn\"]。"
          },
          "minFollowers": {
            "type": "number",
            "description": "最小关注者/订阅者数量。"
          },
          "maxFollowers": {
            "type": "number",
            "description": "最大关注者/订阅者数量。"
          },
          "minVideosAverageViews": {
            "type": "number",
            "description": "最低平均观看次数/播放次数。"
          },
          "maxVideosAverageViews": {
            "type": "number",
            "description": "最大平均观看次数/播放次数。"
          }
        }
      },
      "SimilarCreator": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "platformHandle": {
            "type": "string"
          },
          "channelId": {
            "type": "string",
            "description": "仅 YouTube。频道 ID。"
          },
          "channelTitle": {
            "type": "string",
            "description": "仅 YouTube。频道展示名。"
          },
          "userId": {
            "type": "string",
            "description": "仅 TikTok。平台侧创作者 ID。"
          },
          "uniqueId": {
            "type": "string",
            "description": "仅 TikTok。不含前导 @ 的创作者 handle。"
          },
          "nickname": {
            "type": "string",
            "description": "仅 TikTok。创作者展示名。"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "profileUrl": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "similarityScore": {
            "type": "number",
            "description": "Wave AI 匹配分数（0.7–1.0）。用于对结果进行排名。"
          },
          "followerCount": {
            "type": "number"
          },
          "averagePlayCount": {
            "type": "number"
          },
          "averageLikeCount": {
            "type": "number",
            "description": "仅 TikTok。YouTube 结果不返回该字段。"
          },
          "lastPublishedTime": {
            "type": "number"
          },
          "region": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "SimilarQuota": {
        "type": "object",
        "properties": {
          "totalQuota": {
            "type": "number"
          },
          "usedQuota": {
            "type": "number"
          },
          "consumedQuota": {
            "type": "number",
            "description": "累计已消耗积分，与 usedQuota 相同。"
          },
          "status": {
            "type": "string",
            "description": "配额状态，例如 active。"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "description": "配额过期时间，永不过期时为 null。"
          },
          "remainingQuota": {
            "type": "number"
          },
          "reservedQuota": {
            "type": "number"
          },
          "chargedQuota": {
            "type": "number"
          },
          "refundQuota": {
            "type": "number"
          },
          "refundStatus": {
            "type": "string"
          }
        }
      },
      "SimilarData": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "用于支持和监控的请求 ID。"
          },
          "platform": {
            "type": "string",
            "description": "用于 Wave AI 匹配的平台。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "direction",
              "homepage",
              "homepage_direction"
            ],
            "description": "由系统确定的搜索模式。"
          },
          "seedProfileUrl": {
            "type": "string",
            "description": "请求中提交的种子个人资料 URL。"
          },
          "sourceUserId": {
            "type": "string",
            "description": "从 seedProfileUrl 解析得到的来源渠道/用户 ID。"
          },
          "contentDirection": {
            "type": "string",
            "description": "请求中提交的内容方向。"
          },
          "total": {
            "type": "number",
            "description": "经 Wave AI 匹配、筛选和去重后返回的创作者数量。"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimilarCreator"
            },
            "description": "匹配的创作者，按 similarityScore 降序排列。"
          },
          "quota": {
            "$ref": "#/components/schemas/SimilarQuota"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/waveinflu/email-lookup": {
      "post": {
        "summary": "电子邮件查询",
        "description": "根据 TikTok、Instagram 或 YouTube 创作者的主页 URL 查询联系邮箱。返回从 URL 解析出的 `platform`、`username`、`profileLink`、`platformUserId`、`region`，主邮箱 `email`，包含全部命中地址的 `emails` 数组，以及外部联系方式数组 `contacts`（每项形如 `{url, type}`，包括个人站点、WhatsApp 链接），另有以积分计的 `quota.cost` 和 `quota.remainingQuota`。实测单个 Instagram 创作者响应 533 字节、约 2 秒。创作者未公开邮箱时 `email` 为 null、`emails` 为空数组，这是正常结果而非错误。每次调用只处理一个创作者。若需要先获得一批创作者，请用 `post_waveinflu_similar_creators`——它对多数匹配已直接返回 `email`，本接口只需用于 `email` 为 null 的结果，以及相似创作者接口不覆盖的 Instagram 创作者。",
        "operationId": "post_waveinflu_email_lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "TikTok、Instagram 或 YouTube 创作者个人资料 URL。",
                    "example": "https://www.instagram.com/onkimia/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "电子邮件查询已完成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Email lookup completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailLookupData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/similar": {
      "post": {
        "summary": "相似创作者",
        "description": "在 YouTube 或 TikTok 上按种子主页、自然语言内容方向或两者结合查找相似创作者。`platform` 为必填；`seedProfileUrl` 与 `contentDirection`（最长 800 字符）可任选其一或同时提供，另有 `limit`（1–100，默认 25）和可选的 `filters`（地区、语言、粉丝数与平均播放量区间）。响应回显系统判定的 `mode`——仅种子为 `homepage`、仅方向为 `direction`、两者兼有为 `homepage_direction`——且仅在种子解析成功时才有 `sourceUserId`。每条匹配包含 `username`、`platformHandle`、`description`、`email`、`profileUrl`、`avatar`、`similarityScore`（按降序排列）、`followerCount`、`averagePlayCount`、`lastPublishedTime`、`region` 和 `language`。字段结构随平台不同：YouTube 结果额外带 `channelId` 和 `channelTitle`；TikTok 结果额外带 `userId`、`uniqueId`、`nickname` 和 `averageLikeCount`，这几个字段 YouTube 一个都不返回。实测 5 条 YouTube 匹配 4.2 KB（约 8 秒）、3 条 TikTok 匹配 2.5 KB。多数匹配已自带 `email`；对 `email` 为 null 的结果，以及本接口不覆盖的 Instagram 创作者，请改用 `post_waveinflu_email_lookup`。",
        "operationId": "post_waveinflu_similar_creators",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "youtube",
                      "tiktok"
                    ],
                    "description": "目标平台。目前支持 youtube 和 tiktok。",
                    "example": "youtube"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25,
                    "description": "返回的创作者数量上限。默认值为 25，范围为 1–100。",
                    "example": 10
                  },
                  "seedProfileUrl": {
                    "type": "string",
                    "description": "用作匹配种子的 YouTube 或 TikTok 创作者资料 URL。",
                    "example": "https://www.youtube.com/@mkbhd"
                  },
                  "contentDirection": {
                    "type": "string",
                    "maxLength": 800,
                    "description": "对所需创作者类型的自然语言描述。最多 800 个字符。",
                    "example": "consumer tech creators covering AI apps, Android phones, productivity gadgets, and honest product reviews"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/SimilarCreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "相似创作者处理完成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Similar creators completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SimilarData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
