{
  "openapi": "3.0.0",
  "info": {
    "title": "WaveInflu API",
    "version": "2.0.0",
    "description": "WaveInflu 创作者发现 API，覆盖 Instagram、TikTok 和 YouTube：相似创作者（按种子账号）、AI 搜索（按自然语言描述）、邮箱查询（单个创作者的联系邮箱）。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "EmailResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "查询结果：`found` 表示已解析到邮箱，否则为未找到状态。未找到属于正常结果，仍按一次有效查询计费。",
            "example": "found"
          },
          "value": {
            "type": "string",
            "nullable": true,
            "description": "主联系邮箱；未找到时为 null。",
            "example": "onkimia.mexico@gmail.com"
          }
        }
      },
      "EmailLookupData": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "从主页 URL 解析出的平台：instagram、tiktok 或 youtube。",
            "example": "instagram"
          },
          "profile_url": {
            "type": "string",
            "description": "本次查询使用的规范化创作者主页 URL。",
            "example": "https://www.instagram.com/onkimia/"
          },
          "email": {
            "$ref": "#/components/schemas/EmailResult"
          }
        }
      },
      "CreatorFilters": {
        "type": "object",
        "description": "匹配前应用的可选筛选项，全部选填。",
        "properties": {
          "regions": {
            "type": "array",
            "items": { "type": "string" },
            "description": "创作者地区（ISO 国家码），如 [\"US\", \"GB\", \"JP\"]。"
          },
          "languages": {
            "type": "array",
            "items": { "type": "string" },
            "description": "创作者语言，如 [\"en\", \"ja\", \"zh-cn\"]。"
          },
          "minFollowers": {
            "type": "number",
            "description": "最小粉丝 / 订阅数。"
          },
          "maxFollowers": {
            "type": "number",
            "description": "最大粉丝 / 订阅数。"
          },
          "minPlayCount": {
            "type": "number",
            "description": "最小播放 / 观看量，按 `playCountMetric` 口径衡量。"
          },
          "maxPlayCount": {
            "type": "number",
            "description": "最大播放 / 观看量，按 `playCountMetric` 口径衡量。"
          },
          "playCountMetric": {
            "type": "string",
            "enum": ["median", "average"],
            "description": "`minPlayCount` / `maxPlayCount` 是按中位数还是平均播放量比较。"
          },
          "genders": {
            "type": "array",
            "items": { "type": "string" },
            "description": "推断的创作者性别，如 [\"female\", \"male\"]。"
          },
          "ethnicities": {
            "type": "array",
            "items": { "type": "string" },
            "description": "推断的创作者种族。"
          },
          "creatorTypes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "创作者账号类型，如 [\"individual\", \"brand\"]。"
          },
          "faceVisibilities": {
            "type": "array",
            "items": { "type": "string" },
            "description": "露脸情况分类，如 [\"clear_face\", \"mixed\", \"no_face\"]。"
          },
          "workspaceDeduplicationEnabled": {
            "type": "boolean",
            "description": "为 true 时，结果会排除已保存在你工作区中的创作者。"
          }
        }
      },
      "Creator": {
        "type": "object",
        "description": "一条匹配到的创作者。相似创作者与 AI 搜索返回的字段一致。",
        "properties": {
          "id": { "type": "string", "description": "平台侧创作者 ID。" },
          "username": { "type": "string", "description": "创作者用户名（不含前导 @）。" },
          "fullName": { "type": "string", "description": "创作者显示名。" },
          "biography": { "type": "string", "description": "主页简介文本。" },
          "email": { "type": "string", "nullable": true, "description": "从主页提取的联系邮箱（若有）。" },
          "followerCount": { "type": "number", "description": "粉丝 / 订阅数。" },
          "region": { "type": "string", "description": "创作者地区（ISO 国家码）。" },
          "language": { "type": "string", "description": "主要内容语言。" },
          "averagePlayCount": { "type": "number", "description": "近期内容的平均播放 / 观看量。" },
          "medianPlayCount": { "type": "number", "description": "近期内容的中位播放 / 观看量。" },
          "averageEngagementRate": { "type": "number", "description": "平均互动率（0–1）。" },
          "medianEngagementRate": { "type": "number", "description": "中位互动率（0–1）。" },
          "gender": { "type": "string", "description": "推断的性别，或 `unknown`。" },
          "ageRange": { "type": "string", "description": "推断的年龄段（如 `25_34`），或 `unknown`。" },
          "ethnicity": { "type": "string", "description": "推断的种族，或 `unknown`。" },
          "faceVisibility": { "type": "string", "description": "露脸情况分类，如 `clear_face`、`mixed`、`no_face`。" },
          "accountPositioning": {
            "type": "array",
            "items": { "type": "string" },
            "description": "AI 生成的创作者定位 / 领域标签。"
          },
          "aiDescription": { "type": "string", "description": "AI 生成的创作者内容、风格与常见画面的概述。" },
          "platform": { "type": "string", "description": "该创作者所属平台：instagram、tiktok 或 youtube。" },
          "profileUrl": { "type": "string", "description": "创作者主页 URL。" },
          "score": { "type": "number", "description": "匹配相关度分（0–1），按降序排列。" }
        }
      },
      "CreatorSearchData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Creator" },
            "description": "匹配到的创作者，按 `score` 降序排列。"
          },
          "count": {
            "type": "number",
            "description": "实际交付的创作者数量。计费依据此交付数。",
            "example": 2
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/waveinflu/similar": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1.45",
          "nominal_usd": 0.00722,
          "unit": "每个交付达人",
          "cost_drivers": [
            {
              "param": "count（交付达人数）",
              "effect": "总费用 = 返回的达人数 × 单个达人费率；可用 `limit` 设上限"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd 为每个交付达人的参考费率；总费用 = data.count × 费率 × 你的账户倍率，随返回达人数变化。"
        },
        "summary": "相似创作者",
        "description": "在 Instagram、TikTok 或 YouTube 上按种子账号查找相似创作者。`platform` 与 `target_account` 为必填；另有 `limit`（1–100，默认 40）和可选 `filters`（地区、语言、粉丝数与播放量区间、性别、种族、创作者类型、露脸情况、工作区去重）。每条匹配返回完整画像：`biography`、`email`、`followerCount`、`averagePlayCount` / `medianPlayCount`、`averageEngagementRate` / `medianEngagementRate`，以及 AI 推断的 `gender`、`ageRange`、`ethnicity`、`faceVisibility`、`accountPositioning` 标签和 `aiDescription`，并带相关度 `score`。结果按 `score` 降序排列。按实际交付的达人数（`data.count`）计费。",
        "operationId": "post_waveinflu_similar_creators",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform", "target_account"],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": ["instagram", "tiktok", "youtube"],
                    "description": "目标平台。",
                    "example": "instagram"
                  },
                  "target_account": {
                    "type": "string",
                    "description": "种子账号：用于查找相似创作者的创作者用户名（可带或不带 @）或主页 URL。",
                    "example": "@onkimia"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 40,
                    "description": "返回创作者的最大数量。默认 40，范围 1–100，同时限制计费条数。",
                    "example": 10
                  },
                  "filters": {
                    "$ref": "#/components/schemas/CreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已返回相似创作者",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": { "type": "string", "description": "用于支持与监控的请求 ID。", "example": "req-b33" },
                    "billingRequestId": { "type": "string", "description": "本次调用的计费引用，关联你的用量记录。", "example": "a328145e-3cc9-45c7-89f9-a5f15b236d4f" },
                    "data": { "$ref": "#/components/schemas/CreatorSearchData" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/ai-search": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1.45",
          "nominal_usd": 0.00722,
          "unit": "每个交付达人",
          "cost_drivers": [
            {
              "param": "count（交付达人数）",
              "effect": "总费用 = 返回的达人数 × 单个达人费率；可用 `limit` 设上限"
            }
          ],
          "cost_tier": "variable",
          "note": "nominal_usd 为每个交付达人的参考费率；总费用 = data.count × 费率 × 你的账户倍率，随返回达人数变化。"
        },
        "summary": "AI 搜索",
        "description": "用自然语言描述而非种子账号来查找创作者。`platform` 与 `query` 为必填；另有 `limit`（1–100，默认 40）和与相似创作者相同的可选 `filters`。用一句话描述想要的创作者（例如“beauty creators in the US”），响应返回的创作者结构与相似创作者一致——完整画像指标，加上 AI 推断的 `gender`、`ageRange`、`ethnicity`、`faceVisibility`、`accountPositioning`、`aiDescription` 和相关度 `score`。按实际交付的达人数（`data.count`）计费。",
        "operationId": "post_waveinflu_ai_search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform", "query"],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": ["instagram", "tiktok", "youtube"],
                    "description": "目标平台。",
                    "example": "instagram"
                  },
                  "query": {
                    "type": "string",
                    "description": "对想要查找的创作者的自然语言描述。",
                    "example": "beauty creators in the US"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 40,
                    "description": "返回创作者的最大数量。默认 40，范围 1–100，同时限制计费条数。",
                    "example": 10
                  },
                  "filters": {
                    "$ref": "#/components/schemas/CreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已返回创作者",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": { "type": "string", "description": "用于支持与监控的请求 ID。", "example": "req-b6l" },
                    "billingRequestId": { "type": "string", "description": "本次调用的计费引用，关联你的用量记录。", "example": "3f522b56-2bb4-426c-9b76-5c04c91a9cb3" },
                    "data": { "$ref": "#/components/schemas/CreatorSearchData" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/email-lookup": {
      "post": {
        "x-aisa-pricing": {
          "model": "dynamic",
          "currency": "USD",
          "basis": "provider_cost x 1.45",
          "nominal_usd": 0.00289,
          "unit": "每次有效查询",
          "cost_drivers": [
            {
              "param": "每次调用一次查询",
              "effect": "每次有效查询按固定价计费，无论是否找到邮箱"
            }
          ],
          "cost_tier": "flat",
          "note": "每次有效查询计费一次（未找到也算一次有效查询）。总费用 = 费率 × 你的账户倍率。"
        },
        "summary": "电子邮件查询",
        "description": "根据主页 URL 查询单个 Instagram、TikTok 或 YouTube 创作者的联系邮箱。传入 `profile_url`，响应返回解析出的 `platform`、规范化后的 `profile_url`，以及形如 `{status, value}` 的 `email` 对象。`not_found` 状态（`value` 为 null）属于正常结果、并非错误，仍按一次有效查询计费。每次调用只处理一个创作者。若需先获得一批创作者，请用相似创作者或 AI 搜索——每条匹配对多数创作者已自带 `email`，本接口只需用于为 null 的结果。",
        "operationId": "post_waveinflu_email_lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["profile_url"],
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "description": "Instagram、TikTok 或 YouTube 创作者主页 URL。",
                    "example": "https://www.instagram.com/onkimia/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "邮箱查询完成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": { "type": "string", "description": "用于支持与监控的请求 ID。", "example": "req-b6a" },
                    "billingRequestId": { "type": "string", "description": "本次调用的计费引用，关联你的用量记录。", "example": "7c12fbeb-1f42-4ca0-88f0-353b72ee03f2" },
                    "data": { "$ref": "#/components/schemas/EmailLookupData" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。例如传旧字段 `url`（而非 `profile_url`）会返回 code 10001，且不计费。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string", "example": "10001" },
                        "message": { "type": "string", "example": "The request is invalid." },
                        "requestId": { "type": "string" },
                        "details": { "type": "array", "items": { "type": "object" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
