{
  "openapi": "3.0.0",
  "info": {
    "title": "WaveInflu API",
    "version": "1.0.0",
    "description": "WaveInflu 网红发现 API——面向 TikTok、Instagram 和 YouTube 的邮箱查询和相似创作者功能。"
  },
  "servers": [
    {
      "url": "https://api.aisa.one/apis/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "EmailLookupQuota": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "number",
            "description": "此请求消耗的额度。"
          },
          "remainingQuota": {
            "type": "number",
            "description": "此请求完成后剩余的电子邮件查找额度。"
          }
        }
      },
      "EmailLookupData": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "从个人资料 URL 解析的平台：tiktok、instagram 或 youtube。"
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "查询链返回的创作者用户名。"
          },
          "profileLink": {
            "type": "string",
            "description": "用于此请求的标准化个人资料 URL。"
          },
          "platformUserId": {
            "type": "string",
            "nullable": true,
            "description": "平台侧创作者 ID（如有）。"
          },
          "region": {
            "type": "string",
            "nullable": true,
            "description": "创作者所在地区（如有）。"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "主电子邮件地址；如未找到则为 null。"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "此次查询中找到的所有唯一电子邮件地址。"
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "查询过程中识别出的外部联系人链接。"
          },
          "quota": {
            "$ref": "#/components/schemas/EmailLookupQuota"
          }
        }
      },
      "SimilarCreatorFilters": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "创作者所在地区，例如 [\"US\", \"GB\", \"JP\"]。"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "创作者语言，例如 [\"en\", \"ja\", \"zh-cn\"]。"
          },
          "minFollowers": {
            "type": "number",
            "description": "最小关注者/订阅者数量。"
          },
          "maxFollowers": {
            "type": "number",
            "description": "最大关注者/订阅者数量。"
          },
          "minVideosAverageViews": {
            "type": "number",
            "description": "最低平均观看次数/播放次数。"
          },
          "maxVideosAverageViews": {
            "type": "number",
            "description": "最大平均观看次数/播放次数。"
          }
        }
      },
      "SimilarCreator": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "platformHandle": {
            "type": "string"
          },
          "channelId": {
            "type": "string"
          },
          "channelTitle": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "profileUrl": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "similarityScore": {
            "type": "number",
            "description": "Wave AI 匹配分数（0.7–1.0）。用于对结果进行排名。"
          },
          "followerCount": {
            "type": "number"
          },
          "averagePlayCount": {
            "type": "number"
          },
          "averageLikeCount": {
            "type": "number"
          },
          "lastPublishedTime": {
            "type": "number"
          },
          "region": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "SimilarQuota": {
        "type": "object",
        "properties": {
          "totalQuota": {
            "type": "number"
          },
          "usedQuota": {
            "type": "number"
          },
          "remainingQuota": {
            "type": "number"
          },
          "reservedQuota": {
            "type": "number"
          },
          "chargedQuota": {
            "type": "number"
          },
          "refundQuota": {
            "type": "number"
          },
          "refundStatus": {
            "type": "string"
          }
        }
      },
      "SimilarData": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "用于支持和监控的请求 ID。"
          },
          "platform": {
            "type": "string",
            "description": "用于 Wave AI 匹配的平台。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "direction",
              "homepage",
              "homepage_direction"
            ],
            "description": "由系统确定的搜索模式。"
          },
          "seedProfileUrl": {
            "type": "string",
            "description": "请求中提交的种子个人资料 URL。"
          },
          "sourceUserId": {
            "type": "string",
            "description": "从 seedProfileUrl 解析得到的来源渠道/用户 ID。"
          },
          "contentDirection": {
            "type": "string",
            "description": "请求中提交的内容方向。"
          },
          "total": {
            "type": "number",
            "description": "经 Wave AI 匹配、筛选和去重后返回的创作者数量。"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimilarCreator"
            },
            "description": "匹配的创作者，按 similarityScore 降序排列。"
          },
          "quota": {
            "$ref": "#/components/schemas/SimilarQuota"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/waveinflu/email-lookup": {
      "post": {
        "summary": "电子邮件查询",
        "description": "提交 TikTok、Instagram 或 YouTube 创作者个人资料 URL，获取标准化的创作者信息、联系邮箱和剩余配额。",
        "operationId": "waveinflu-email-lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "TikTok、Instagram 或 YouTube 创作者个人资料 URL。",
                    "example": "https://www.instagram.com/onkimia/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "电子邮件查询已完成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Email lookup completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailLookupData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waveinflu/similar": {
      "post": {
        "summary": "相似创作者",
        "description": "提交种子创作者个人资料 URL 和/或内容方向。Wave AI 将返回匹配的 YouTube 或 TikTok 创作者及相似度评分。",
        "operationId": "waveinflu-similar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "youtube",
                      "tiktok"
                    ],
                    "description": "目标平台。目前支持 youtube 和 tiktok。",
                    "example": "youtube"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25,
                    "description": "返回的创作者数量上限。默认值为 25，范围为 1–100。",
                    "example": 10
                  },
                  "seedProfileUrl": {
                    "type": "string",
                    "description": "用作匹配种子的 YouTube 或 TikTok 创作者资料 URL。",
                    "example": "https://www.youtube.com/@mkbhd"
                  },
                  "contentDirection": {
                    "type": "string",
                    "maxLength": 800,
                    "description": "对所需创作者类型的自然语言描述。最多 800 个字符。",
                    "example": "consumer tech creators covering AI apps, Android phones, productivity gadgets, and honest product reviews"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/SimilarCreatorFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "相似创作者处理完成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 1000
                    },
                    "message": {
                      "type": "string",
                      "example": "Similar creators completed"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SimilarData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
